<div ng-if="vm.page=='facebook-privacy-policy'" ng-include="'app/main/pages/facebook/privacypolicy.html'">

</div>

<div ng-if="vm.page=='google-privacy-policy'" ng-include="'app/main/pages/google/privacypolicy.html'">

</div>

<div ng-if="vm.page=='instagram-privacy-policy'" ng-include="'app/main/pages/instagram/privacypolicy.html'">

</div>
