<md-list>
  <md-subheader class="md-no-sticky"><span>Quick Settings</span></md-subheader>

  <md-list-item>
    <h3>Notifications</h3>
    <md-switch class="md-secondary" ng-model="vm.settings.notify" aria-label="Notifications" translate
               translate-attr-aria-label="QUICKPANEL.NOTIFICATIONS"></md-switch>
  </md-list-item>

  <md-list-item>
    <h3>Cloud Sync</h3>
    <md-switch class="md-secondary" ng-model="vm.settings.cloud" aria-label="Cloud Sync" translate
               translate-attr-aria-label="QUICKPANEL.CLOUD_SYNC"></md-switch>
  </md-list-item>

  <md-list-item>
    <h3>Retro Thrusters</h3>
    <md-switch class="md-secondary md-warn" ng-model="vm.settings.retro" aria-label="Retro Thrusters" translate
               translate-attr-aria-label="QUICKPANEL.RETRO_THRUSTERS"></md-switch>
  </md-list-item>
</md-list>
