<div style="padding:25px;">
  <div align="center"><img src="/images/logo.png" style="width:55px;height: 55px;"/></div><br>
     <h2 align="center">Sochara Application Privacy Policy for Facebook </h2><hr>

  Sochara is an web applicaton providing registered users of Facebook to show their Facebook accounts data from following area-
  <ul>
    <li>Wall posts (Public/Private)</li>
    <li>Liked Music Pages</li>
    <li>Liked Movies Pages</li>
    <li>Liked Books Pages</li>
  </ul>
<br>
<br>
  <strong>Authorization</strong><br>
  This Privacy Policy describes how and when Sochara for Facebook collects, uses and shares your information when you use our Services. Sochara for Facebook receives your information through Facebook Graph  APIs. We fetch your accounts data when Authorize us to do so using Athenticating your account. When you authencticate you can choose what to fetched by our system. You can de authorize the Application or any services stated above after you authorize us.

  <p><strong>Information Collection and Use</strong></p>

 We fetch data from your account using Facebook graph APIs and we don't save those data. These data are fetched on the fly and vanished when you log out the system. We do not share or use your account data. We do not have access to your password. Facebook does not share users password anyway.

  <p><strong>Cookies: </strong></p> Like many apps, we use cookies and similar technologies to collect additional application usage data and to improve our Services, but we don't store your Facebook's account data in cookie
  <p><strong>
    Information Sharing and Disclosure</strong></p>
  We do not disclose your Facebook account data to anybody and we fetch data in sucure way.

  <p><strong>
    Business Transfers and Affiliates:</strong></p> We will not share your information to any third party or in business transfer and affiliation.

  <p><strong>
    Changes to this Policy</strong></p>
  We may revise this Privacy Policy from time to time. The most current version of the policy will govern our use of your information and will always be at <a href="https://www.sochara.com/privacypolicy/facebook">https://www.sochara.com/privacypolicy/facebook</a>. If we make a change to this policy that, in our sole discretion, is material, we will update <a href="https://www.sochara.com/privacypolicy/facebook">https://www.sochara.com/privacypolicy/facebook</a>. By continuing to access or use the Services after those changes become effective, you agree to be bound by the revised Privacy Policy.
  <br>If you have any questions or comments about this Privacy Policy, please contact us at info@sochara.com
  <p>
    Effective: 1st JUN 2017</p>
</div>
