<md-dialog class="album-create dialog-medium" aria-label="Upload Files">
  <md-toolbar class="md-accent md-hue-2">
    <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
      <h3 class="title">Create A New Folder</h3>
      <md-button class="md-icon-button" ng-click="vm.closeDialog();" aria-label="Close dialog">
        <md-icon md-font-icon="icon-close"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <!-- md-raised md-primary -->

    <div layout="row">
      <md-input-container flex class="new_folder" md-no-float>
        <input required name="folderName" ng-model="vm.newFolderName" placeholder="Folder Name" ng-keyup="vm.checkNewFolderSubmission($event)">
        <div ng-messages="vm.newFolderName.$error">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>
    </div>
    <div layout="row" layout-align="end">
      <md-button class="btn-basic lh-1 no-margin" ng-click="vm.closeDialog()">Cancel
      </md-button>
      <div flex="5"></div>
      <md-button class="btn-violate lh-1 no-margin" ng-click="vm.newFoderSubmission()">Create
      </md-button>
    </div>
  </md-dialog-content>
</md-dialog>
