<md-dialog class="upload-dialog" aria-label="Upload Files">
  <form class="md-inline-form">
    <md-toolbar class="md-accent md-hue-2">
      <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
        <span class="title">Upload Files/Folder</span>
        <md-button class="back-button"  ng-click="vm.closeDialog();" aria-label="Close dialog">
          <md-icon md-font-icon="icon-keyboard-return"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <div class="upload_tabs">
      <div class="tab-wrapper layout-align-start-stretch layout-row flex" layout="row" layout-align="start" flex="">
        <ul class="tab layout-align-start-center layout-row flex" flex="" layout="row" layout-align="start center">
          <li class="tab-title chats active" ng-class="vm.tabCurrentTab=='files'?'active':''" ng-click="vm.viewChatTab('files')" role="button" style="">Files/Folders</li>
          <li class="tab-title groups" ng-class="vm.tabCurrentTab=='other'?'active':''" ng-click="vm.viewChatTab('other')" role="button" style="">From Other Source</li>
        </ul>
      </div>
    </div>
    <div flex layout="row" layout-align="center">
      <md-dialog-content ng-if="vm.tabCurrentTab=='files'" class="file_upload_area">
        <span ngf-drop="vm.uploadFiles($files, $invalidFiles, vm.currentFolderId)" ngf-select="vm.uploadFiles($files, $invalidFiles, vm.currentFolderId)" multiple accept="*"
              ngf-pattern="'*'" class="uploader fa fa-upload drop-box" ngf-drag-over-class="'drag_over'" ngf-multiple="true" ngf-allow-dir="true" ngf-max-size="850MB"> &nbsp; Upload Files
        </span>
      </md-dialog-content>
    </div>
    <div flex layout="row" layout-align="center">
      <md-dialog-content ng-if="vm.tabCurrentTab=='other'">
        <md-input-container>
          <label>File Link</label>
          <input type="text" ng-model="vm.fileUrl">
        </md-input-container>
        <br>
        <md-button class="md-raised md-primary" ng-click="vm.downloadFileFromUrl()">Upload File</md-button>
      </md-dialog-content>
    </div>
  </form>
</md-dialog>
