.ame-lightbox {
  overflow: visible;
  max-width: calc(100% - 30px);
  min-width: 100px;
  min-height: 100px;
}

.ame-lightbox md-dialog-content {
  overflow: visible;
  padding: 0 !important;
}

.ame-lightbox ._next,
.ame-lightbox ._prev {
  position: absolute;
  top: 50%;
  margin-top: -17px;
}

.ame-lightbox ._next {
  transform: rotateY(180deg);
}

[dir=rtl] .ame-lightbox ._next {
  transform: none;
}

[dir=rtl] [dir=ltr] .ame-lightbox ._next {
  transform: rotateY(180deg);
}

.ame-lightbox ._next[dir=rtl] {
  transform: none;
}

[dir=rtl] .ame-lightbox ._next[dir=ltr] {
  transform: rotateY(180deg);
}

:host-context([dir=rtl]) .ame-lightbox ._next {
  transform: none;
}

[dir=ltr] .ame-lightbox ._next:not([dir=rtl]),
[dir=rtl] [dir=ltr] .ame-lightbox ._next:not([dir=rtl]),
.ame-lightbox ._next {
  right: -70px;
}

[dir=rtl] .ame-lightbox ._next:not([dir=ltr]),
[dir=ltr] [dir=rtl] .ame-lightbox ._next:not([dir=ltr]),
.ame-lightbox ._next[dir=rtl] {
  left: -70px;
}

:host-context([dir=ltr]) .ame-lightbox ._next:not([dir=rtl]) {
  right: -70px;
}

:host-context([dir=rtl]) .ame-lightbox ._next:not([dir=ltr]) {
  left: -70px;
}

.ame-lightbox ._prev {
  transform: none;
}

[dir=rtl] .ame-lightbox ._prev {
  transform: rotateY(180deg);
}

[dir=rtl] [dir=ltr] .ame-lightbox ._prev {
  transform: none;
}

.ame-lightbox ._prev[dir=rtl] {
  transform: rotateY(180deg);
}

[dir=rtl] .ame-lightbox ._prev[dir=ltr] {
  transform: none;
}

:host-context([dir=rtl]) .ame-lightbox ._prev {
  transform: rotateY(180deg);
}

[dir=ltr] .ame-lightbox ._prev:not([dir=rtl]),
[dir=rtl] [dir=ltr] .ame-lightbox ._prev:not([dir=rtl]),
.ame-lightbox ._prev {
  left: -70px;
}


:host-context([dir=ltr]) .ame-lightbox ._prev:not([dir=rtl]) {
  left: -70px;
}


.ame-lightbox #ame_lightbox_image {
  transition: width 0.2s ease, height 0.2s ease;
  display: block;
  margin: auto;
  min-height: 90px;
}

.ame-lightbox #ame_lightbox_image img {
  width: 100%;
  height: 100%;
}

.ame-lightbox #ame_lightbox_image img.ng-hide-remove,
.ame-lightbox #ame_lightbox_image img.ng-hide-remove-active {
  transition: opacity 0.3s ease;
}

.ame-lightbox #ame_lightbox_image img.ng-hide-remove {
  opacity: 0;
}

.ame-lightbox #ame_lightbox_image img.ng-hide-remove-active {
  opacity: 1;
}

.ame-lightbox md-progress-circular {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  left: 50%;
  margin: auto;
}

.ame-lightbox ._dots {
  position: relative;
  top: 60px;
  transform: scale(0.8);
  white-space: nowrap;
  overflow-x: auto;
  padding-top: 30px;
  margin-top: -60px;
}

.ame-lightbox ._dots md-radio-group {
  display: block;
  width: 100%;
  text-align: center;
}

.ame-lightbox ._dots md-radio-button {
  display: inline-block;
}

.ame-lightbox .md-button:not(.md-raised):not(.md-accent):not(.md-primary):not(.md-warn) md-icon {
  color: #eee;
}
