<div id="mail" class="page-layout carded left-sidenav" layout="row">

    <!-- TOP BACKGROUND -->
    <div class="top-bg md-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- SIDENAV -->
    <md-sidenav class="sidenav" md-is-locked-open="$mdMedia('gt-md')" md-component-id="main-sidenav"
                ng-include="'app/main/mail/sidenavs/main/main-sidenav.html'" ms-scroll ms-sidenav-helper>
    </md-sidenav>
    <!-- / SIDENAV -->

    <!-- CENTER -->
    <div class="center" layout="column" flex>

        <!-- CONTENT HEADER -->
        <div class="header" layout="row" layout-align="start center">
            <div>
                <div class="provider-wrapper md-whiteframe-4dp" layout="row" layout-align="start center" flex>
                  <div class="mail_provider">
                      <ul class="icons">
                          <li><span class="{{vm.activeProvider == 'all'?'active':''}}" ng-click="vm.loadAllProvider()"><i class="mail_count_badge all_mail" ng-if="vm.AllThreadCount" ng-bind="vm.AllThreadCount | number"></i> <i class="s_icon icon_mail_all"></i></span></li>
                          <!--<li><span ><i class="mail_count_badge sochara_mail" ng-if="vm.ThreadCountSochara" ng-bind="vm.ThreadCountSochara">100</i><i class="s_icon icon_mail_sochara"></i></span></li>-->
                          <li><span class="{{vm.activeProvider == 'gmail'?'active':''}}" ng-click="vm.loadGmail()"><i class="mail_count_badge gmail" ng-if="vm.ThreadCountGMail" ng-bind="vm.ThreadCountGMail | number"></i><i class="s_icon icon_mail_gmail"></i></span></li>
                          <li><span class="{{vm.activeProvider == 'outlook'?'active':''}}" ng-click="vm.loadOutlook()"><i class="mail_count_badge outlook" ng-if="vm.ThreadCountOutlook" ng-bind="vm.ThreadCountOutlook | number"></i><i class="s_icon icon_mail_outlook"></i></span></li>
                      </ul>
                  </div>
                </div>
            </div>
            <div flex>
                <div class="search-wrapper md-whiteframe-4dp" layout="row" layout-align="start center" flex>
                    <md-button class="md-icon-button sidenav-toggle" ng-click="vm.toggleSidenav('main-sidenav')" hide-gt-md
                               aria-label="Toggle Sidenav">
                        <md-icon class="icon" md-font-icon="icon-menu"></md-icon>
                    </md-button>

                    <div class="search" flex layout="row" layout-align="start center">
                        <md-icon md-font-icon="icon-magnify" class="icon s24"></md-icon>
                        <input flex ng-model="vm.searchMail" ng-keyup="vm.mailSearchTimoutInterval()" type="text" placeholder="Search for an e-mail or contact">
                    </div>
                </div>
            </div>

        </div>
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card" ng-class="vm.currentView" layout="column" flex ng-include="vm.views[vm.currentView]"></div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
