<md-dialog class="compose-dialog add-user dialog-wrap" aria-label="Add/Edit user">
  <form class="md-inline-form">
    <md-dialog-heading layout="row">
      <div flex="60"><h2>Create Contact</h2></div>
      <div flex="40" right dialog-btn>
        <md-button>
          <md-icon md-font-icon="icon-keyboard-return"></md-icon>
        </md-button>
        <md-button>Discard</md-button>
        <md-button btn-purple>Save</md-button>
      </div>
    </md-dialog-heading><!--md-dialog-heading-->

    <md-dialog-content ms-scroll>
      <div layout="row" layout-align="space-between start">
        <div class="profile-icon">
          <img src="../images/avatars/blank.jpg" alt="blank" class="md-avatar">
        </div>
        <div layout="column" flex>
          <md-input-container>
            <label>First Name</label>
            <input ng-model="user.title">
          </md-input-container>
          <md-input-container>
            <label> Middle Name</label>
            <input ng-model="user.title">
          </md-input-container>
          <md-input-container>
            <label>Last Name</label>
            <input ng-model="user.title">
          </md-input-container>
        </div>
        <div class="btn-area">
          <md-button>
            <md-icon md-font-icon="icon-close"></md-icon>
          </md-button>
        </div>
      </div>

      <div layout="row" layout-align="space-between start">
        <div class="profile-icon" layout="column" laout-align="center center">
          <md-icon md-font-icon="icon-domain"></md-icon>
        </div>
        <div flex>
          <div layout="row" layout-align="space-between center">
            <md-input-container flex>
              <label>Job Title</label>
              <input ng-model="user.title">
            </md-input-container>
            <div flex="5"></div>
            <md-input-container flex>
              <label>Company</label>
              <input ng-model="user.title">
            </md-input-container>
          </div>
        </div>
        <div class="btn-area" layout="row">
          <md-button flex>
            <md-icon md-font-icon="icon-plus-circle"></md-icon>
          </md-button>
          <md-button flex>
            <md-icon md-font-icon="icon-close"></md-icon>
          </md-button>
        </div>
      </div>
      <div layout="row" layout-align="space-between start">
        <div class="profile-icon" layout="column" laout-align="center center">
          <md-icon md-font-icon="icon-email"></md-icon>
        </div>
        <div flex>
          <div layout="row" layout-align="space-between center">
            <md-input-container flex>
              <label>Email</label>
              <input ng-model="user.title">
            </md-input-container>
          </div>
        </div>
        <div class="btn-area" layout="row">
          <md-button flex>
            <md-icon md-font-icon="icon-plus-circle"></md-icon>
          </md-button>
          <md-button flex>
            <md-icon md-font-icon="icon-close"></md-icon>
          </md-button>
        </div>
      </div>
      <div layout="row" layout-align="space-between start">
        <div class="profile-icon" layout="column" laout-align="center center">
          <md-icon md-font-icon="icon-phone"></md-icon>
        </div>
        <div flex>
          <div layout="row" layout-align="space-between start">
            <md-input-container flex>
              <label>Job Title</label>
              <md-select name="type" ng-model="project.type" required>
                <md-option value="Home">Home</md-option>
                <md-option value="Office">Office</md-option>
                <md-option value="Other">Other</md-option>
              </md-select>
            </md-input-container>
            <div flex="5"></div>
            <md-input-container flex>
              <label>Company</label>
              <input ng-model="user.title">
            </md-input-container>
          </div>
        </div>
        <div class="btn-area" layout="row">
          <md-button flex>
            <md-icon md-font-icon="icon-plus-circle"></md-icon>
          </md-button>
          <md-button flex>
            <md-icon md-font-icon="icon-close"></md-icon>
          </md-button>
        </div>
      </div>
      <div layout="row" layout-align="space-between start">
        <div class="profile-icon" layout="column" laout-align="center center">
          <md-icon md-font-icon="icon-map-marker"></md-icon>
        </div>
        <div flex>
          <div layout="row" layout-align="space-between center">
            <md-input-container flex>
              <label>Job Title</label>
              <input ng-model="user.title">
            </md-input-container>
            <div flex="5"></div>
            <md-input-container flex>
              <label>Company</label>
              <input ng-model="user.title">
            </md-input-container>
          </div>
        </div>
        <div class="btn-area" layout="row">
          <md-button flex>
            <md-icon md-font-icon="icon-plus-circle"></md-icon>
          </md-button>
          <md-button flex>
            <md-icon md-font-icon="icon-close"></md-icon>
          </md-button>
        </div>
      </div>
      <div layout="row" layout-align="space-between start">
        <div class="profile-icon" layout="column" laout-align="center center">
          <md-icon md-font-icon="icon-map-marker"></md-icon>
        </div>
        <div flex>
          <div layout="row" layout-align="space-between center">
            <md-input-container flex>
              <label>Job Title</label>
              <input ng-model="user.title">
            </md-input-container>
            <div flex="5"></div>
            <md-input-container flex>
              <label>Company</label>
              <input ng-model="user.title">
            </md-input-container>
          </div>
        </div>
        <div class="btn-area" layout="row">
          <md-button flex>
            <md-icon md-font-icon="icon-plus-circle"></md-icon>
          </md-button>
          <md-button flex>
            <md-icon md-font-icon="icon-close"></md-icon>
          </md-button>
        </div>
      </div>
      <div layout="row" layout-align="space-between start">
        <div class="profile-icon" layout="column" laout-align="center center">
          <md-icon md-font-icon="icon-google-circles-communities"></md-icon>
        </div>
        <div flex>
          <div layout="row" layout-align="space-between center">
            <md-input-container flex>
              <label>Job Title</label>
              <input ng-model="user.title">
            </md-input-container>
            <div flex="5"></div>
            <md-input-container flex>
              <label>Company</label>
              <input ng-model="user.title">
            </md-input-container>
          </div>
        </div>
        <div class="btn-area" layout="row">
          <md-button flex>
            <md-icon md-font-icon="icon-plus-circle"></md-icon>
          </md-button>
          <md-button flex>
            <md-icon md-font-icon="icon-close"></md-icon>
          </md-button>
        </div>
      </div>
      <div layout="row" layout-align="space-between start">
        <div class="profile-icon" layout="column" laout-align="center center">
          <md-icon md-font-icon="icon-cake"></md-icon>
        </div>
        <div flex>
          <div layout="row" layout-align="space-between center">
            <md-input-container flex>
              <label>Job Title</label>
              <input ng-model="user.title">
            </md-input-container>
            <div flex="5"></div>
            <md-input-container flex>
              <label>Company</label>
              <input ng-model="user.title">
            </md-input-container>
          </div>
        </div>
        <div class="btn-area" layout="row">
          <md-button flex>
            <md-icon md-font-icon="icon-plus-circle"></md-icon>
          </md-button>
          <md-button flex>
            <md-icon md-font-icon="icon-close"></md-icon>
          </md-button>
        </div>
      </div>
      <div ng-if="!vm.allAddFields" layout="row" layout-align="start start">
        <md-button class="md-accent" ng-click="vm.allAddFields = true">
          Show All Fields
        </md-button>
      </div>
      <div ng-if="vm.allAddFields">
        <div layout="row" layout-align="space-between start">
          <div class="profile-icon" layout="column" laout-align="center center">
            <md-icon md-font-icon="icon-google-circles-communities"></md-icon>
          </div>
          <div flex>
            <div layout="row" layout-align="space-between center">
              <md-input-container flex>
                <label>Job Title</label>
                <input ng-model="user.title">
              </md-input-container>
              <div flex="5"></div>
              <md-input-container flex>
                <label>Company</label>
                <input ng-model="user.title">
              </md-input-container>
            </div>
          </div>
          <div class="btn-area" layout="row">
            <md-button flex>
              <md-icon md-font-icon="icon-plus-circle"></md-icon>
            </md-button>
            <md-button flex>
              <md-icon md-font-icon="icon-close"></md-icon>
            </md-button>
          </div>
        </div>
        <div layout="row" layout-align="space-between start">
          <div class="profile-icon" layout="column" laout-align="center center">
            <md-icon md-font-icon="icon-cake"></md-icon>
          </div>
          <div flex>
            <div layout="row" layout-align="space-between center">
              <md-input-container flex>
                <label>Job Title</label>
                <input ng-model="user.title">
              </md-input-container>
              <div flex="5"></div>
              <md-input-container flex>
                <label>Company</label>
                <input ng-model="user.title">
              </md-input-container>
            </div>
          </div>
          <div class="btn-area" layout="row">
            <md-button flex>
              <md-icon md-font-icon="icon-plus-circle"></md-icon>
            </md-button>
            <md-button flex>
              <md-icon md-font-icon="icon-close"></md-icon>
            </md-button>
          </div>
        </div>
      </div>

    </md-dialog-content><!--md-dialog-content-->

  </form>
</md-dialog>
