<md-dialog class="compose-dialog import-export dialog-wrap" aria-label="Add/Edit user">
  <form class="md-inline-form">
    <md-dialog-heading layout="row">
      <div flex="60"><h2>Import / Export Contact</h2></div>
      <div flex="40" right dialog-btn>
        <md-button>
          <md-icon md-font-icon="icon-keyboard-return"></md-icon>
        </md-button>
        <md-button btn-purple>Export</md-button>
      </div>
    </md-dialog-heading><!--md-dialog-heading-->

    <md-dialog-content>
      <md-tabs md-dynamic-height md-no-ink-bar>
        <md-tab>
          <md-tab-label>
            <span>Import</span>
          </md-tab-label>
          <md-tab-body>
            <p>Import contacts from other accounts</p>
            <div layout="row" layout-align="space-between center" class="inline-btn">
              <md-button flex>
                <img src="images/contacts/yahoo.png" alt="yahoo"> Yahoo
              </md-button>
              <md-button flex>
                <img src="images/contacts/outlook.png" alt="outlook"> Outlook
              </md-button>
              <md-button flex>
                <img src="images/contacts/gmail.png" alt="gmail"> Google
              </md-button>
            </div>
            <p>Import from CSV or vCard file</p>
            <div layout="row" layout-align="start center" class="inline-btn">
              <label>
                <input type="radio" name="file_type" value="csv" id="csv">
                <span class="icon-button"><md-icon md-font-icon="icon-book-open"></md-icon> Choose csv File</span>
              </label>
              <label>
                <input type="radio" name="file_type" value="vcard" id="vcard">
                <span class="icon-button"><md-icon md-font-icon="icon-book-open"></md-icon> Choose vCard File</span>
              </label>

            </div>

          </md-tab-body>
        </md-tab><!--md-tab-->
        <md-tab>
          <md-tab-label>
            <span>Export</span>
          </md-tab-label>
          <md-tab-body>
            <p>Export contacts to other accounts</p>
            <div layout="row" layout-align="start center" class="inline-btn">
              <label flex layout="row" layout-align="center center">
                <input type="radio" name="file_type" value="csv">
                <span flex class="icon-button"><img src="images/contacts/yahoo.png" alt="image"/> Yahoo</span>
              </label>
              <label flex layout="row" layout-align="center center">
                <input type="radio" name="file_type" value="vcard">
                <span flex class="icon-button"><img src="images/contacts/outlook.png" alt="image"/> Outlook</span>
              </label>
              <label flex layout="row" layout-align="center center">
                <input type="radio" name="file_type" value="vcard">
                <span flex class="icon-button"><img src="images/contacts/gmail.png" alt="image"/> Google</span>
              </label>

            </div>
            <br>

            <div layout="row" layout-align="start center" class="inline-btn">
              <label>Export to CSV or vCard file:</label>
              <label>
                <input type="radio" name="file_type" value="csv">
                <span class="icon-button"><md-icon md-font-icon="icon-book-open"></md-icon> Choose csv File</span>
              </label>
              <label>
                <input type="radio" name="file_type" value="vcard">
                <span class="icon-button"><md-icon md-font-icon="icon-book-open"></md-icon> Choose vCard File</span>
              </label>

            </div>

            <div class="radio-buttons">
              <div><label><input type="radio" name="list_contact"> All Contacts </label></div>
              <div><label><input type="radio" name="list_contact"> Group Contacts </label></div>
              <div><label><input type="radio" name="list_contact"> Favorite Contacts </label></div>
              <div>
                <label layout="row">
                  <input type="radio" name="list_contact">
                  <div flex layout="column">
                    <div flex layout="row">
                      <span>Selected Contacts</span>
                      <div class="search-contacts" flex>
                        <input class="faws" placeholder="Add contact" type="text"
                               ng-model="vm.search">
                        <md-button>
                          <md-icon md-font-icon="icon-magnify"></md-icon>
                        </md-button>
                      </div>
                    </div>
                    <div class="contact-list" ms-scroll>
                      <md-list-item class="contact-item md-white-bg" md-ink-ripple
                                    ng-repeat="contact in vm.contactsec | filter: vm.search | filter: global.search | filterByIds:vm.filterIds |  orderBy: vm.listOrder :vm.listOrderAsc | filter:query as filteredContacts track by contact.id "
                                    ng-click="vm.openContactDialog($event, contact)"

                                    ng-class="{'selected': vm.isSelected(contact)}">

                        <md-checkbox ng-checked="vm.exists(contact, vm.selectedContacts)"
                                     ng-click="vm.toggleSelectContact(contact, $event)"
                                     aria-label="{{vm.exists(contact, vm.selectedContacts) ? 'Deselect' : 'Select'}}">
                        </md-checkbox>

                        <img class="md-avatar" ng-if="contact.avatar" alt="{{contact.name}}"
                             ng-src="{{contact.avatar}}"/>

                        <p class="text-truncate font-weight-600">{{contact.name}} {{contact.lastName}}</p>


                        <p class="email text-truncate hide show-gt-sm">
                          {{contact.email}}
                        </p>


                        <p class="job-title text-truncate hide show-gt-lg">
                          {{contact.jobTitle}}
                        </p>

                        <p class="company text-truncate hide show-gt-lg">
                          {{contact.company}}
                        </p>

                        <div class="actions" layout="row" layout-align="start center">
                          <md-button class="md-icon-button  hide show-gt-xs"
                                     ng-click="$event.stopPropagation();vm.toggleInArray(contact.id, vm.user.starred)"
                                     aria-label="Toggle starred" >
                            <md-icon ng-if="vm.exists(contact.id,vm.user.starred)" md-font-icon="icon-star"
                                     class="amber-fg"></md-icon>
                            <md-icon ng-if="!vm.exists(contact.id,vm.user.starred)"
                                     md-font-icon="icon-star-outline"></md-icon>
                          </md-button>

                        </div>

                      </md-list-item>
                    </div>
                  </div>
                </label>
                <!--div flex>
                  <div class="search-contacts">
                    <input type="text" name="search" placeholder="Add contact">
                    <md-button>
                      <md-icon md-font-icon="icon-magnify"></md-icon>
                    </md-button>
                  </div>
                </div-->
              </div>
            </div>

          </md-tab-body>
        </md-tab>
      </md-tabs>

    </md-dialog-content><!--md-dialog-content-->

  </form>
</md-dialog>
