<md-dialog class="compose-dialog-2 contact-group dialog-wrap" aria-label="Add/Edit user">
  <form class="md-inline-form">
    <md-dialog-heading layout="row">
      <div flex><h2>New Group</h2></div>
      <div right dialog-btn>
        <md-button>
          <md-icon md-font-icon="icon-keyboard-return"></md-icon>
        </md-button>
      </div>
    </md-dialog-heading><!--md-dialog-heading-->

    <md-dialog-content>
      <div class="new-group">
        <label>
          <p><b>Please enter a new group name:</b></p>
          <input type="text" placeholder="Enter a name">
        </label>
        <label>
          <p>Add Contacts</p>
          <input type="text" placeholder="Search Add contact">
        </label>
        <div layout="row" class="action-buttons">
          <md-button>Cancel</md-button>
          <md-button class="btn-violate">Create</md-button>
        </div>
      </div>
    </md-dialog-content><!--md-dialog-content-->

  </form>
</md-dialog>
