<!-- LIST VIEW -->
<table class="simple list-view" tabindex="1" ng-keydown="vm.selectMultipleFiles($event);" ng-keyup="vm.resetKeyPress($event);">
  <thead>
  <tr>

    <th class="w-400">Name</th>
    <th hide show-gt-sm>Type</th>
    <th hide-xs>Owner</th>
    <th hide-xs>Size</th>
    <th hide show-gt-md>Last Modified</th>
    <th hide-gt-md></th>
  </tr>
  </thead>

  <tbody ms-scroll>
  <tr ng-repeat="folder in vm.folders | orderBy: '-folder.updatedAt' | filter:global.search"
      ng-click="vm.selectedItem(folder.id, $event, 'folder')"
      hm-doubletap="vm.goToFolder( folder )" ngf-drop="vm.uploadFiles($files, $invalidFiles, folder.id, 'child')"
      multiple accept="*" ngf-pattern="'*'" ngf-multiple="true" ngf-allow-dir="true" ngf-max-size="850MB"
      ngf-drag-over-class="'drag_over'"
      ng-class="{selected: vm.selectedFolderClass(folder.id)}">
    <td class="file-icon w-400" title="{{folder.name}}">
      <div layout="row" layout-align="start center">
        <div class="white-circled-bg">
          <md-icon md-font-icon="icon-folder s20"></md-icon>
        </div>
        <span class="name text-truncate">{{folder.name}}</span>
      </div>
    </td>
    <td class="type" hide show-gt-sm>{{folder.type ? folder.type : '-'}}</td>
    <td class="owner" hide-xs>{{folder.owner.first_name ? folder.owner.first_name : '-' }} {{folder.owner.last_name ?
      folder.owner.last_name : '-' }}
    </td>
    <td class="size" hide-xs>{{folder.size ? folder.size: '-' }}</td>
    <td class="last-modified" hide show-gt-md>{{ folder.updatedAt | date:'MMM d yyyy' }}</td>
    <td class="show-details" hide-gt-md>
      <md-button class="md-icon-button sidenav-toggle" ng-click="vm.toggleDetails(folder)"
                 aria-label="Toggle details sidenav">
        <md-icon md-font-icon="icon-information-outline"></md-icon>
      </md-button>
    </td>
  </tr>

  <tr ng-repeat="file in vm.files | orderBy: '-file.updatedAt' | filter:globalSearchValue"
      ng-click="vm.selectedItem(file.id, $event, 'file')" hm-doubletap="vm.filePreview( file )"
      ng-class="{selected: vm.selectedFolderClass(file.id)}">
    <td class="file-icon w-400" title="{{file.name}}">
      <div layout="row" layout-align="start center">
        <div class="white-circled-bg">
          <md-icon md-font-icon="{{vm.getIconImage(file.ext)}} s20 light-blue-A200-fg"></md-icon>
        </div>
        <span class="name text-truncate">{{file.name}}</span>
      </div>
    </td>
    <td class="type" hide show-gt-sm>{{file.type ? file.type : '-'}}</td>
    <td class="owner" hide-xs>{{file.owner.first_name ? file.owner.first_name : '-' }} {{file.owner.last_name ?
      file.owner.last_name : '-' }}
    </td>
    <td class="size" hide-xs ng-bind="(file.size/1024 | number : 2) + (' KB')"></td>
    <td class="last-modified" hide show-gt-md>{{file.updatedAt | date:'MMM d yyyy'}}</td>
    <td class="show-details" hide-gt-md>
      <md-button class="md-icon-button sidenav-toggle" ng-click="vm.toggleDetails(file)" aria-label="Details">
        <md-icon md-font-icon="icon-information-outline"></md-icon>
      </md-button>
    </td>
  </tr>
  </tbody>
</table>
<!-- / LIST VIEW -->
