<div class="no-threads" ng-if="vm.threads.length === 0">There are no messages in '{{vm.currentFilter.filter}}'!</div>
<div class="no-threads" ng-if="vm.newAccountInstruction && !vm.threads.length" layout="column"
     layout-align="center center" flex>
  <md-icon md-font-icon="icon-voicemail" class="s120 grey-400-fg"></md-icon>
  <span class="hint-text">Add your email addresses from sidebar to show the mailboxes.</span>
</div>
<div class="loading-threads" layout="column" layout-align="center center" ng-if="!vm.threads && vm.loadingThreads">
  <md-progress-circular class="md-accent" md-mode="indeterminate" md-diameter="64"></md-progress-circular>
  <div ng-bind="vm.loadingText || 'Loading emails..'"></div>
</div>

<div class="thread {{thread.status}}" md-ink-ripple
     ng-if="!vm.loadingThreads"
     ng-repeat="thread in vm.threads | orderBy: '-thread.date' | filter: vm.search | filter: global.search"
     ng-click="vm.openThread(thread)"
     ng-class="{'unread': !thread.read, 'current-thread': vm.currentThread.id === (thread.id || vm.threadParamId), 'selected': vm.isSelected(thread)}">

  <div layout="row" layout-align="start center">
    <md-checkbox class="no-label"
                 ng-checked="vm.isSelected(thread)"
                 ng-click="vm.toggleSelectThread(thread, $event)"
                 aria-label="{{vm.isSelected(thread) ? 'Deselect' : 'Select'}}">
    </md-checkbox>

    <div class="info" flex layout="column">
      <div class="name" layout="row" layout-align="start center">
        <i ng-if="thread.provider=='gmail'" class="s_icon icon_mail_gmail"></i>
        <i ng-if="thread.provider=='outlook'" class="s_icon icon_mail_outlook"></i>

        <span ng-if="thread.provider=='gmail'" class="text-truncate">Gmail</span>
        <span ng-if="thread.provider=='outlook'" class="text-truncate">Outlook</span>

        <span><md-icon md-font-icon="icon-paperclip" class="has-attachment s16"
                      ng-if="thread.hasAttachments"></md-icon></span>
        <small class="round-indicator">{{thread.address}}</small>
      </div>

      <div class="subject text-truncate">
        {{thread.subject}}
      </div>

      <div class="message text-truncate">
        {{thread.message | htmlToPlaintext | limitTo:90}}{{thread.message.length > 90 ? '...' : ''}}
        <div class="labels">
          <div class="label" ng-repeat="labelId in thread.labels"
               ng-class="vm.getLabelColor(labelId)">{{vm.getLabelTitle(labelId)}}
          </div>
        </div>
      </div>

    </div>
    <!--&lt;!&ndash;by hasan: this button need to make functional---->
    <div ng-if="thread.provider=='gmail'" class="actions" layout="row" layout-align="start center">
      <md-button class="md-icon-button" ng-click="vm.toggleThreadStatus('starred', thread, $event)"
                 aria-label="Toggle starred">
        <md-icon ng-if="thread.starred" md-font-icon="icon-star"
                 class="amber-fg"></md-icon>
        <md-icon ng-if="!thread.starred" md-font-icon="icon-star-outline"></md-icon>
      </md-button>

      <md-button class="md-icon-button" ng-click="vm.toggleThreadStatus('important', thread, $event)"
                 aria-label="Toggle important">
        <md-icon ng-if="thread.important" md-font-icon="icon-label"
                 class="amber-700-fg"></md-icon>
        <md-icon ng-if="!thread.important" md-font-icon="icon-label-outline"></md-icon>
      </md-button>
    </div>
    <!--by hasan: this button need to make functional-->


    <div layout="column" layout-align="space-between end">
      <div class="time">{{thread.time}}</div>
    </div>
  </div>
</div>
