<div layout="row" layout-xs="column" class="dash-row">
  <div layout="column" flex flex-order-xs="2">
    <div class="dash-content">
      <div class="title-msg">So Nicole, looks like you’ve got a pretty busy day today!
        <md-button class="btn-violate">View Calendar
          <md-icon md-font-icon="icon-calendar"></md-icon>
        </md-button>
      </div>
      <div>
        <md-grid-list
          md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="4"
          md-row-height-gt-md="6:2" md-row-height="6:2" md-row-height-xs="1:1"
          md-gutter="12px" md-gutter-gt-sm="12px">
          <md-grid-tile
            class="md-whiteframe-3dp white searchinput"
            md-rowspan="1" md-colspan="2"
            ng-mouseleave="">
            <md-card-content>
              <div flex layout="row" layout-align="space-around center">
                <img flex="8" ng-src="images/icons/user.png" class="md-avatar" alt="who"/>
                <!--<md-icon md-font-icon="icon-account"></md-icon>-->
                <md-input-container flex="70">
                <textarea ng-click="vm.isPostClicked = true;"
                          onclick="angular.element('.searchinput').addClass('sfocused');"
                          rows="1" placeholder="Type here ..."
                          ng-model="vm.socharaPost" ng-bind="vm.postData"
                          ng-bind-html="expression"
                          maxlength="240"
                          class="emoji-wysiwyg-editor">
                </textarea>
                </md-input-container>
                <md-button flex="8" class="md-fab" aria-label="Eat cake">
                  <a ng-href="{{webCamPhoto.length>0?'?':'#openWebcamPopUp'}}"
                     rel="{{webCamPhoto.length>0?'?':'modal:open'}}" ng-click="startCam()">
                    <md-tooltip>Take Photo</md-tooltip>
                    <md-icon md-font-icon="icon-camera">
                    </md-icon>
                  </a>
                </md-button>
              </div>
              <div ng-show="vm.isPostClicked">
                <div layout="row" layout-align="center center" ng-if="vm.availableSocialAPIPost">
                  <md-input-container>
                    Post to &nbsp;&nbsp;
                    <md-checkbox
                      ng-repeat="site in vm.socialList"
                      value="{{site}}"
                      ng-checked="vm.selection.indexOf(site) > -1"
                      ng-click="vm.toggleSelection(site)">
                      {{site}}
                    </md-checkbox>
                  </md-input-container>
                </div>
                <span layout="row" layout-align="center center" ng-if="!vm.availableSocialAPIPost">Add Social Account</span>
                <div layout="row" layout-align="center center">
                  <button ng-show="vm.isPost && vm.availableSocialAPIPost"
                          class="md-accent md-raised md-button md-default-theme md-ink-ripple md-button"
                          ng-click="submitSocialPost()">Post
                  </button>
                  <button ng-show="!vm.isPost"
                          class="md-accent md-raised md-button md-default-theme md-ink-ripple md-button"
                          ng-click="updateSocharaOwnPost()">Update
                  </button>
                  <button ng-show="!vm.isPost || vm.isPostClicked"
                          class="md-accent md-button md-default-theme md-ink-ripple md-button"
                          ng-click="cancelUpdateSocharaOwnPost();">Cancel
                  </button>
                </div>
              </div>
            </md-card-content>
          </md-grid-tile>
          <md-grid-tile md-rowspan="5" md-colspan="1" md-colspan-sm="2" md-colspan-xs="2">
            <div class="social-share">
              <ul>
                <li>
                  <a href="#">
                    <md-icon md-font-icon="icon-star"></md-icon>
                  </a>
                  <ul>
                    <li><a href="#">
                      <md-icon md-font-icon="icon-facebook-box"></md-icon>
                    </a></li>
                    <li><a href="#">
                      <md-icon md-font-icon="icon-twitter"></md-icon>
                    </a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <md-grid-tile-header class="card-grid-header">
              <img ng-src="images/backgrounds/april.jpg" alt="backgrounds"/>
            </md-grid-tile-header>
            <md-grid-tile-footer class="card-grid-footer">
              <div class="card-msg">
                <div layout="row" layout-align="start center" class="social facebook">
                  <md-icon md-font-icon="icon-facebook-box"></md-icon>
                  <span flex>Facebook</span>
                </div>
                <div class="post-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean <a
                  href="#">@Loremlpsum: https://t.co/y/SLKGH235</a></div>
              </div>
              <div layout="row" layout-align="start center">
                <div><img ng-src="images/avatars/Boyle.jpg" class="md-avatar" alt="who"/></div>
                <div>
                  <h3>Hasan Tareq</h3>
                  <h5>@hsntareq</h5>
                </div>
              </div>
            </md-grid-tile-footer>
          </md-grid-tile><!--md-grid-tile-->

          <md-grid-tile class="green" md-rowspan="5" md-colspan="1" md-colspan-sm="2" md-colspan-xs="2">
            <div class="social-share">
              <ul>
                <li>
                  <a href="#">
                    <md-icon md-font-icon="icon-star"></md-icon>
                  </a>
                  <ul>
                    <li><a href="#">
                      <md-icon md-font-icon="icon-facebook-box"></md-icon>
                    </a></li>
                    <li><a href="#">
                      <md-icon md-font-icon="icon-twitter"></md-icon>
                    </a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <md-grid-tile-header class="card-grid-header">
              <img ng-src="../images/backgrounds/december.jpg" alt="backgrounds"/>
            </md-grid-tile-header>
            <md-grid-tile-footer class="card-grid-footer">
              <div class="card-msg">
                <div layout="row" layout-align="start center" class="social facebook">
                  <md-icon md-font-icon="icon-facebook-box"></md-icon>
                  <span flex>Facebook</span>
                </div>
                <div class="post-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean <a
                  href="#">@Loremlpsum: https://t.co/y/SLKGH235</a></div>
              </div>
              <div layout="row" layout-align="start center">
                <div><img ng-src="images/avatars/Boyle.jpg" class="md-avatar" alt="who"/></div>
                <div>
                  <h3>Mahdi Hasan</h3>
                  <h5>@MahdiHasan</h5>
                </div>
              </div>
            </md-grid-tile-footer>
          </md-grid-tile><!--md-grid-tile-->


          <md-grid-tile class="green" md-rowspan="4" md-colspan="2" md-colspan="1" md-colspan-sm="2" md-colspan-xs="2" md-rospan-xs="4">
            <div class="social-share">
              <ul>
                <li>
                  <a href="#">
                    <md-icon md-font-icon="icon-star"></md-icon>
                  </a>
                  <ul>
                    <li><a href="#">
                      <md-icon md-font-icon="icon-facebook-box"></md-icon>
                    </a></li>
                    <li><a href="#">
                      <md-icon md-font-icon="icon-twitter"></md-icon>
                    </a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <md-grid-tile-header class="card-grid-header">
              <img ng-src="../images/backgrounds/february.jpg" alt="backgrounds"/>
            </md-grid-tile-header>
            <md-grid-tile-footer class="card-grid-footer">
              <div class="card-msg">
                <div layout="row" layout-align="start center" class="social facebook">
                  <md-icon md-font-icon="icon-twitter-box"></md-icon>
                  <span flex>Twitter</span>
                </div>
                <div class="post-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean <a
                  href="#">@Loremlpsum: https://t.co/y/SLKGH235</a></div>
              </div>
              <div layout="row" layout-align="start center">
                <div><img ng-src="images/avatars/Boyle.jpg" class="md-avatar" alt="who"/></div>
                <div>
                  <h3>Darren Dunner</h3>
                  <h5>@DarrenDunner</h5>
                </div>
              </div>
            </md-grid-tile-footer>
          </md-grid-tile><!--md-grid-tile-->


          <md-grid-tile class="green" md-rowspan="3" md-colspan="1" md-colspan-sm="2" md-colspan-xs="2">
            <div class="social-share">
              <ul>
                <li>
                  <a href="#">
                    <md-icon md-font-icon="icon-star"></md-icon>
                  </a>
                  <ul>
                    <li><a href="#">
                      <md-icon md-font-icon="icon-facebook-box"></md-icon>
                    </a></li>
                    <li><a href="#">
                      <md-icon md-font-icon="icon-twitter"></md-icon>
                    </a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <md-grid-tile-footer class="card-grid-footer">
              <div class="card-msg">
                <div layout="row" layout-align="start center" class="social facebook">
                  <md-icon md-font-icon="icon-twitter-box"></md-icon>
                  <span flex>Twitter</span>
                </div>
                <div class="post-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean <a
                  href="#">@Loremlpsum: https://t.co/y/SLKGH235</a></div>
              </div>
              <div layout="row" layout-align="start center">
                <div><img ng-src="images/avatars/Boyle.jpg" class="md-avatar" alt="who"/></div>
                <div>
                  <h3>Darren Dunner</h3>
                  <h5>@DarrenDunner</h5>
                </div>
              </div>
            </md-grid-tile-footer>
          </md-grid-tile><!--md-grid-tile-->


          <md-grid-tile class="green" md-rowspan="5" md-colspan="1" md-colspan-sm="2" md-colspan-xs="2">
            <div class="social-share">
              <ul>
                <li>
                  <a href="#">
                    <md-icon md-font-icon="icon-star"></md-icon>
                  </a>
                  <ul>
                    <li><a href="#">
                      <md-icon md-font-icon="icon-facebook-box"></md-icon>
                    </a></li>
                    <li><a href="#">
                      <md-icon md-font-icon="icon-twitter"></md-icon>
                    </a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <md-grid-tile-header class="card-grid-header">
              <img ng-src="../images/backgrounds/january.jpg" alt="backgrounds"/>
            </md-grid-tile-header>
            <md-grid-tile-footer class="card-grid-footer">
              <div class="card-msg">
                <div layout="row" layout-align="start center" class="social facebook">
                  <md-icon md-font-icon="icon-twitter-box"></md-icon>
                  <span flex>Twitter</span>
                </div>
                <div class="post-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean <a
                  href="#">@Loremlpsum: https://t.co/y/SLKGH235</a></div>
              </div>
              <div layout="row" layout-align="start center">
                <div><img ng-src="images/avatars/Boyle.jpg" class="md-avatar" alt="who"/></div>
                <div>
                  <h3>Darren Dunner</h3>
                  <h5>@DarrenDunner</h5>
                </div>
              </div>
            </md-grid-tile-footer>
          </md-grid-tile><!--md-grid-tile-->


          <md-grid-tile class="green" md-rowspan="5" md-colspan="2">
            <div class="social-share">
              <ul>
                <li>
                  <a href="#">
                    <md-icon md-font-icon="icon-star"></md-icon>
                  </a>
                  <ul>
                    <li><a href="#">
                      <md-icon md-font-icon="icon-facebook-box"></md-icon>
                    </a></li>
                    <li><a href="#">
                      <md-icon md-font-icon="icon-twitter"></md-icon>
                    </a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <md-grid-tile-header class="card-grid-header">
              <img ng-src="../images/backgrounds/june.jpg" alt="backgrounds"/>
            </md-grid-tile-header>
            <md-grid-tile-footer class="card-grid-footer">
              <div class="card-msg">
                <div layout="row" layout-align="start center" class="social facebook">
                  <md-icon md-font-icon="icon-twitter-box"></md-icon>
                  <span flex>Twitter</span>
                </div>
                <div class="post-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean <a
                  href="#">@Loremlpsum: https://t.co/y/SLKGH235</a></div>
              </div>
              <div layout="row" layout-align="start center">
                <div><img ng-src="images/avatars/Boyle.jpg" class="md-avatar" alt="who"/></div>
                <div>
                  <h3>Darren Dunner</h3>
                  <h5>@DarrenDunner</h5>
                </div>
              </div>
            </md-grid-tile-footer>
          </md-grid-tile><!--md-grid-tile-->


          <md-grid-tile class="green" md-rowspan="2" md-colspan="1" md-colspan-sm="2" md-colspan-xs="2">
            <div class="social-share">
              <ul>
                <li>
                  <a href="#">
                    <md-icon md-font-icon="icon-star"></md-icon>
                  </a>
                  <ul>
                    <li><a href="#">
                      <md-icon md-font-icon="icon-facebook-box"></md-icon>
                    </a></li>
                    <li><a href="#">
                      <md-icon md-font-icon="icon-twitter"></md-icon>
                    </a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <md-grid-tile-header class="card-grid-header">
              <img ng-src="../images/backgrounds/november.jpg" alt="backgrounds"/>
            </md-grid-tile-header>
          </md-grid-tile><!--md-grid-tile-->


          <md-grid-tile class="green" md-rowspan="2" md-colspan="1" md-colspan-sm="2" md-colspan-xs="2">
            <div class="social-share">
              <ul>
                <li>
                  <a href="#">
                    <md-icon md-font-icon="icon-star"></md-icon>
                  </a>
                  <ul>
                    <li><a href="#">
                      <md-icon md-font-icon="icon-facebook-box"></md-icon>
                    </a></li>
                    <li><a href="#">
                      <md-icon md-font-icon="icon-twitter"></md-icon>
                    </a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <md-grid-tile-header class="card-grid-header">
              <img ng-src="../images/backgrounds/march.jpg" alt="backgrounds"/>
            </md-grid-tile-header>
          </md-grid-tile><!--md-grid-tile-->


          <md-grid-tile class="green" md-rowspan="5" md-colspan="2">
            <div class="social-share">
              <ul>
                <li>
                  <a href="#">
                    <md-icon md-font-icon="icon-star"></md-icon>
                  </a>
                  <ul>
                    <li><a href="#">
                      <md-icon md-font-icon="icon-facebook-box"></md-icon>
                    </a></li>
                    <li><a href="#">
                      <md-icon md-font-icon="icon-twitter"></md-icon>
                    </a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <md-grid-tile-header class="card-grid-header">
              <img ng-src="../images/backgrounds/march.jpg" alt="backgrounds"/>
            </md-grid-tile-header>
            <md-grid-tile-footer class="card-grid-footer">
              <div class="card-msg">
                <div layout="row" layout-align="start center" class="social facebook">
                  <md-icon md-font-icon="icon-instagram"></md-icon>
                  <span flex>Instagram</span>
                </div>
                <div class="post-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean <a
                  href="#">@Loremlpsum: https://t.co/y/SLKGH235</a></div>
              </div>
              <div layout="row" layout-align="start center">
                <div><img ng-src="images/avatars/Boyle.jpg" class="md-avatar" alt="who"/></div>
                <div>
                  <h3>Darren Dunner</h3>
                  <h5>@DarrenDunner</h5>
                </div>
              </div>
            </md-grid-tile-footer>
          </md-grid-tile><!--md-grid-tile-->


          <md-grid-tile class="green" md-rowspan="5" md-colspan="1" md-colspan-sm="2" md-colspan-xs="2">
            <div class="social-share">
              <ul>
                <li>
                  <a href="#">
                    <md-icon md-font-icon="icon-star"></md-icon>
                  </a>
                  <ul>
                    <li><a href="#">
                      <md-icon md-font-icon="icon-facebook-box"></md-icon>
                    </a></li>
                    <li><a href="#">
                      <md-icon md-font-icon="icon-twitter"></md-icon>
                    </a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <md-grid-tile-header class="card-grid-header">
              <img ng-src="../images/backgrounds/october.jpg" alt="backgrounds"/>
            </md-grid-tile-header>
            <md-grid-tile-footer class="card-grid-footer">
              <div class="card-msg">
                <div layout="row" layout-align="start center" class="social facebook">
                  <md-icon md-font-icon="icon-instagram"></md-icon>
                  <span flex>Instagram</span>
                </div>
                <div class="post-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean <a
                  href="#">@Loremlpsum: https://t.co/y/SLKGH235</a></div>
              </div>
              <div layout="row" layout-align="start center">
                <div><img ng-src="images/avatars/Boyle.jpg" class="md-avatar" alt="who"/></div>
                <div>
                  <h3>Darren Dunner</h3>
                  <h5>@DarrenDunner</h5>
                </div>
              </div>
            </md-grid-tile-footer>
          </md-grid-tile><!--md-grid-tile-->


          <md-grid-tile class="green" md-rowspan="3" md-colspan="1" md-colspan-sm="2" md-colspan-xs="2">
            <div class="social-share">
              <ul>
                <li>
                  <a href="#">
                    <md-icon md-font-icon="icon-star"></md-icon>
                  </a>
                  <ul>
                    <li><a href="#">
                      <md-icon md-font-icon="icon-facebook-box"></md-icon>
                    </a></li>
                    <li><a href="#">
                      <md-icon md-font-icon="icon-twitter"></md-icon>
                    </a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <md-grid-tile-header class="card-grid-header">
              <img ng-src="../images/backgrounds/october.jpg" alt="backgrounds"/>
            </md-grid-tile-header>
            <md-grid-tile-footer class="card-grid-footer">
              <div class="card-msg">
                <div layout="row" layout-align="start center" class="social facebook">
                  <md-icon md-font-icon="icon-instagram"></md-icon>
                  <span flex>Instagram</span>
                </div>
                <div class="post-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean <a
                  href="#">@Loremlpsum: https://t.co/y/SLKGH235</a></div>
              </div>
              <div layout="row" layout-align="start center">
                <div><img ng-src="images/avatars/Boyle.jpg" class="md-avatar" alt="who"/></div>
                <div>
                  <h3>Darren Dunner</h3>
                  <h5>@DarrenDunner</h5>
                </div>
              </div>
            </md-grid-tile-footer>
          </md-grid-tile><!--md-grid-tile-->

        </md-grid-list><!--md-grid-list-->
      </div>
    </div>

  </div>

  <div flex layout="row" flex-order-sm="1" class="dash-tabs white md-whiteframe-2dp">
    <!--tab-->
    <div class="dash-right-tab" ms-scroll>

      <md-content>
        <md-tabs md-dynamic-height md-border-bottom md-no-ink-bar>
          <md-tab>
            <md-tab-label>
              <md-icon md-font-icon="icon-email">
                <span class="icon-number">{{vm.AllThreadCount}}</span>
              </md-icon>
            </md-tab-label>
            <md-tab-body>
              <md-content ms-scroll ng-include="'app/main/dashboard/tabs/mail.html'">
              </md-content>
            </md-tab-body>
          </md-tab><!--md-tab email-->
          <md-tab>
            <md-tab-label>
              <md-icon md-font-icon="icon-message">
                <span ng-if="notificationCount.chat" class="icon-number" ng-bind="notificationCount.chat"></span>
              </md-icon>
            </md-tab-label>
            <md-tab-body>
              <md-content class="chat-tab scrollable" ms-scroll
                          ng-include="'app/quick-panel/tabs/chat/chat-tab.html'"
                          ng-controller="ChatController as vmChat">
              </md-content>
            </md-tab-body>
          </md-tab><!--md-tab message-->
          <md-tab>
            <md-tab-label>
              <md-icon md-font-icon="icon-calendar">
                <span class="icon-number">5</span>
              </md-icon>
            </md-tab-label>
            <md-tab-body>
              <md-content
                class="today-tab scrollable ms-scroll ng-scope _md md-default-theme ps-container ps-theme-default ps-active-y"
                ms-scroll="" ng-include="'app/quick-panel/tabs/today/today-tab.html'"
                data-ps-id="6df7e0e4-32a6-b4d1-69fb-1c226da23162">
                <md-list class="date ng-scope md-default-theme" role="list">
                  <div class="md-no-sticky md-subheader _md md-default-theme" role="heading" aria-level="2">
                    <div class="md-subheader-inner">
                      <div class="md-subheader-content"><span class="ng-scope">Today</span></div>
                    </div>
                  </div>
                  <md-list-item class="md-display-1 md-2-line md-no-proxy _md" role="listitem">
                    <div class="secondary-text">
                      <div class="ng-binding"> Friday</div>
                      <div layout="row" layout-align="start start" class="layout-align-start-start layout-row">
                        <span class="ng-binding"> 4</span>
                        <span class="md-subhead">th</span>
                        <span class="ng-binding"> August</span>
                      </div>
                    </div>
                    <div class="md-secondary-container"></div>
                  </md-list-item>
                </md-list>

                <md-divider class="ng-scope md-default-theme"></md-divider>

                <md-list role="list" class="ng-scope md-default-theme">
                  <div class="md-no-sticky md-subheader _md md-default-theme" role="heading" aria-level="2">
                    <div class="md-subheader-inner">
                      <div class="md-subheader-content"><span class="ng-scope">Events</span></div>
                    </div>
                  </div>

                  <!-- ngRepeat: event in vm.events -->
                  <md-list-item class="md-2-line _md-button-wrap ng-scope _md md-clickable"
                                ng-repeat="event in vm.events" role="listitem" tabindex="-1">
                    <div class="md-button md-no-style">
                      <button class="md-no-style md-button md-default-theme md-ink-ripple" type="button"
                              ng-click="dummyFunction()" aria-label="Group Meeting

            In 32 Minutes, Room 1B"></button>
                      <div class="md-list-item-inner">
                        <div class="md-list-item-text">
                          <h3 class="ng-binding">Group Meeting</h3>

                          <p class="ng-binding">In 32 Minutes, Room 1B</p>
                        </div>
                      </div>
                      <div class="md-secondary-container"></div>
                    </div>
                  </md-list-item><!-- end ngRepeat: event in vm.events -->
                  <md-list-item class="md-2-line _md-button-wrap ng-scope _md md-clickable"
                                ng-repeat="event in vm.events" role="listitem" tabindex="-1">
                    <div class="md-button md-no-style">
                      <button class="md-no-style md-button md-default-theme md-ink-ripple" type="button"
                              ng-click="dummyFunction()" aria-label="Public Beta Release

            11:00 PM"></button>
                      <div class="md-list-item-inner">
                        <div class="md-list-item-text">
                          <h3 class="ng-binding">Public Beta Release</h3>

                          <p class="ng-binding">11:00 PM</p>
                        </div>
                      </div>
                      <div class="md-secondary-container"></div>
                    </div>
                  </md-list-item><!-- end ngRepeat: event in vm.events -->
                  <md-list-item class="md-2-line _md-button-wrap ng-scope _md md-clickable"
                                ng-repeat="event in vm.events" role="listitem" tabindex="-1">
                    <div class="md-button md-no-style">
                      <button class="md-no-style md-button md-default-theme md-ink-ripple" type="button"
                              ng-click="dummyFunction()" aria-label="Dinner with David

            17:30 PM"></button>
                      <div class="md-list-item-inner">
                        <div class="md-list-item-text">
                          <h3 class="ng-binding">Dinner with David</h3>

                          <p class="ng-binding">17:30 PM</p>
                        </div>
                      </div>
                      <div class="md-secondary-container"></div>
                    </div>
                  </md-list-item><!-- end ngRepeat: event in vm.events -->
                  <md-list-item class="md-2-line _md-button-wrap ng-scope _md md-clickable"
                                ng-repeat="event in vm.events" role="listitem" tabindex="-1">
                    <div class="md-button md-no-style">
                      <button class="md-no-style md-button md-default-theme md-ink-ripple" type="button"
                              ng-click="dummyFunction()" aria-label="Q&amp;A Session

            20:30 PM"></button>
                      <div class="md-list-item-inner">
                        <div class="md-list-item-text">
                          <h3 class="ng-binding">Q&amp;A Session</h3>

                          <p class="ng-binding">20:30 PM</p>
                        </div>
                      </div>
                      <div class="md-secondary-container"></div>
                    </div>
                  </md-list-item><!-- end ngRepeat: event in vm.events -->
                </md-list>

                <md-divider class="ng-scope md-default-theme"></md-divider>

                <md-list role="list" class="ng-scope md-default-theme">
                  <div class="md-no-sticky md-subheader _md md-default-theme" role="heading" aria-level="2">
                    <div class="md-subheader-inner">
                      <div class="md-subheader-content"><span class="ng-scope">Notes</span></div>
                    </div>
                  </div>
                  <!-- ngRepeat: note in vm.notes -->
                  <md-list-item class="md-2-line _md-button-wrap ng-scope _md md-clickable" ng-repeat="note in vm.notes"
                                role="listitem" tabindex="-1">
                    <div class="md-button md-no-style">
                      <button class="md-no-style md-button md-default-theme md-ink-ripple" type="button"
                              ng-click="dummyFunction()" aria-label="Best songs to listen while working

            Last edit: May 8th, 2015"></button>
                      <div class="md-list-item-inner">
                        <div class="md-list-item-text">
                          <h3 class="ng-binding">Best songs to listen while working</h3>

                          <p class="ng-binding">Last edit: May 8th, 2015</p>
                        </div>
                      </div>
                      <div class="md-secondary-container"></div>
                    </div>
                  </md-list-item><!-- end ngRepeat: note in vm.notes -->
                  <md-list-item class="md-2-line _md-button-wrap ng-scope _md md-clickable" ng-repeat="note in vm.notes"
                                role="listitem" tabindex="-1">
                    <div class="md-button md-no-style">
                      <button class="md-no-style md-button md-default-theme md-ink-ripple" type="button"
                              ng-click="dummyFunction()" aria-label="Useful subreddits

            Last edit: January 12th, 2015"></button>
                      <div class="md-list-item-inner">
                        <div class="md-list-item-text">
                          <h3 class="ng-binding">Useful subreddits</h3>

                          <p class="ng-binding">Last edit: January 12th, 2015</p>
                        </div>
                      </div>
                      <div class="md-secondary-container"></div>
                    </div>
                  </md-list-item><!-- end ngRepeat: note in vm.notes -->
                </md-list>

                <md-divider class="ng-scope md-default-theme"></md-divider>

                <md-list role="list" class="ng-scope md-default-theme">
                  <div class="md-no-sticky md-subheader _md md-default-theme" role="heading" aria-level="2">
                    <div class="md-subheader-inner">
                      <div class="md-subheader-content"><span class="ng-scope">Quick Settings</span></div>
                    </div>
                  </div>

                  <md-list-item role="listitem" class="md-proxy-focus md-with-secondary _md md-clickable" tabindex="-1">
                    <div class="md-no-style md-list-item-inner md-ink-ripple">
                      <h3>Notifications</h3>

                      <div class="md-secondary-container">
                        <md-switch
                          class="ng-pristine ng-untouched ng-valid ng-scope md-default-theme ng-not-empty md-checked"
                          ng-model="vm.settings.notify" aria-label="Notifications" tabindex="0" type="checkbox"
                          role="checkbox" aria-checked="true" aria-invalid="false">
                          <div class="md-container" style="touch-action: pan-x;">
                            <div class="md-bar"></div>
                            <div class="md-thumb-container">
                              <div class="md-thumb md-ink-ripple" md-ink-ripple="" md-ink-ripple-checkbox=""></div>
                            </div>
                          </div>
                          <div class="md-label"></div>
                        </md-switch>
                      </div>
                    </div>
                  </md-list-item>

                  <md-list-item role="listitem" class="md-proxy-focus md-with-secondary _md md-clickable" tabindex="-1">
                    <div class="md-no-style md-list-item-inner md-ink-ripple">
                      <h3>Cloud Sync</h3>

                      <div class="md-secondary-container">
                        <md-switch class="ng-pristine ng-untouched ng-valid ng-scope md-default-theme ng-empty"
                                   ng-model="vm.settings.cloud" aria-label="Cloud Sync" tabindex="0" type="checkbox"
                                   role="checkbox" aria-checked="false" aria-invalid="false">
                          <div class="md-container" style="touch-action: pan-x;">
                            <div class="md-bar"></div>
                            <div class="md-thumb-container">
                              <div class="md-thumb md-ink-ripple" md-ink-ripple="" md-ink-ripple-checkbox=""></div>
                            </div>
                          </div>
                          <div class="md-label"></div>
                        </md-switch>
                      </div>
                    </div>
                  </md-list-item>

                  <md-list-item role="listitem" class="md-proxy-focus md-with-secondary _md md-clickable" tabindex="-1">
                    <div class="md-no-style md-list-item-inner md-ink-ripple">
                      <h3>Retro Thrusters</h3>

                      <div class="md-secondary-container">
                        <md-switch
                          class="md-warn ng-pristine ng-untouched ng-valid ng-scope md-default-theme ng-not-empty md-checked"
                          ng-model="vm.settings.retro" aria-label="Retro Thrusters" tabindex="0" type="checkbox"
                          role="checkbox" aria-checked="true" aria-invalid="false">
                          <div class="md-container" style="touch-action: pan-x;">
                            <div class="md-bar"></div>
                            <div class="md-thumb-container">
                              <div class="md-thumb md-ink-ripple" md-ink-ripple="" md-ink-ripple-checkbox=""></div>
                            </div>
                          </div>
                          <div class="md-label"></div>
                        </md-switch>
                      </div>
                    </div>
                  </md-list-item>
                </md-list>
                <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;">
                  <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                </div>
                <div class="ps-scrollbar-y-rail" style="top: 0px; right: 0px; height: 555px;">
                  <div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 334px;"></div>
                </div>
              </md-content>
            </md-tab-body>
          </md-tab><!--md-tab-->
          <md-tab>
            <md-tab-label>
              <md-icon md-font-icon="icon-format-list-bulleted">
                <span class="icon-number">0</span>
              </md-icon>
            </md-tab-label>
            <md-tab-body>
              <md-content class="chat-tab scrollable" ms-scroll>
              </md-content>
            </md-tab-body>
          </md-tab><!--md-tab-->
        </md-tabs>
      </md-content>
    </div>
    <!--tab end-->
  </div>

  <div id="openWebcamPopUp" style="display: none;">
    <h2>Take Camera Photo</h2>
    <hr>
    <h3 id="webcamPermissionNote">Taking photo using your device Camera requires permission. Make sure you permit your
      browser to do that.</h3>
    <div id="my_camera" align="center"></div>
    <button class="md-accent md-raised md-button md-default-theme md-ink-ripple" ng-click="takePhoto()">Take Photo
    </button>
    &nbsp;&nbsp;
    <button class="md-accent md-raised md-button md-default-theme md-ink-ripple" ng-click="stopCam()">Cancel</button>
  </div>
</div>

