<style>md-dialog {
  border-top: none
}

.md-dialog-container {
  background: rgba(0, 0, 0, .6);
}</style>
<div layout="row" layout-xs="column" class="dash-row" layout-fill layout-align="s">
  <div layout="column" flex flex-order-xs="2" ms-scroll bufferedScroll="vm.changeDashboardDataLimit();">
    <div class="dash-content" style="width: 100%">
      <div class="title-msg">Hello {{vm.user.first_name + ' ' + vm.user.last_name}}, <span>You have {{vm.eventCount || 'no'}} event{{ vm.eventCount>1?'s':'' }} today.</span>
        <md-button class="btn-violate" ng-click="goToCalendarModule()">View Calendar
          <md-icon md-font-icon="icon-calendar"></md-icon>
        </md-button>
      </div>
      <div class="dasb-masonry-grid">
        <div ng-if="vm.loadingDashboardData && !vm.dashboardAllData && !vm.dashboardAllData.length" class="loader"
             layout="row" layout-align="center center">
          <img src="images/loader.svg" alt="loader">
        </div>
        <div class="grid" ng-if="!vm.loadingDashboardData && (!vm.dashboardAllData || !vm.dashboardAllData.length)"><h3>
          It seems, no social account integrated yet. Please integrate your Facebook/Twitter/Instagram account from
          <span ng-click="vm.goToGlobalSetting()" class="underline" style="text-decoration: underline; cursor: pointer;">global setting</span> to see your social feed.</h3></div>
        <div class="grid" ng-if="!vm.loadingDashboardData && vm.dashboardAllData && vm.dashboardAllData.length">

          <div class="grid-sizer"></div>

          <div class="grid-item grid-item-width3">
            <div class="dashboard-item dash-form">
              <div class="white-bg">
                <div class="md-whiteframe-2dp p-15"
                     ng-class="{'status_bar_open' : vm.isPostClicked}">
                  <div layout="row" layout-align="space-betwee start">
                    <div class="avatar-wrapper">
                      <img md-menu-align-target class="avatar" ng-class="vm.user.mode" ng-src="{{vm.user.photo_url || 'images/avatars/profile.jpg'}}" alt="{{vm.user.first_name}} {{vm.user.last_name}}">
                    </div>
                    <textarea ng-click="vm.isPostClicked = true;" flex placeholder="What's new with you?"
                              ng-model="vm.socharaPost" ng-bind="vm.postData"
                              ng-bind-html="expression"
                              class="mr-10 ml-10"
                              maxlength="{{vm.selection.indexOf('twitter') > -1 ? 280 : 524288}}"></textarea>
                    <md-button class="md-icon-button" aria-label="Upload Image" ngf-multiple="true"
                               ng-model="vm.files" ngf-allow-dir="true" ngf-keep="'distinct'"
                               accept="image/*,application/pdf,*"
                               ngf-pattern="'image/*'"
                               ngf-select="vm.uploadAttachment( $files, $invalidFiles )">
                      <md-icon md-font-icon="icon-folder-multiple-image"></md-icon>
                    </md-button>
                  </div>
                  <div ng-show="vm.isPostClicked" class="mt-20">
                    <div layout="row" layout-align="center center" ng-if="vm.availableSocialAPIPost">
                      <md-input-container>
                        Post to &nbsp;&nbsp;
                        <md-checkbox ng-if="vm.socialList.indexOf('twitter')>-1"
                          value="twitter"
                          ng-checked="vm.selection.indexOf('twitter') > -1"
                          ng-click="vm.toggleSelection('twitter')">
                          twitter <span class="color gray-color">(max 280 chars)</span>
                        </md-checkbox>
                        <md-checkbox ng-if="vm.socialList.indexOf('facebook')>-1"
                          value="facebook"
                          ng-checked="vm.selection.indexOf('facebook') > -1"
                          ng-click="vm.toggleSelection('facebook')">
                          facebook
                        </md-checkbox>
                      </md-input-container>

                    </div>

                    <div class="attached-items" layout="row" ms-scroll>
                      <div class="attached-item"
                           ng-repeat="attachment in vm.files">
                        <div class="thumb-attach">
                          <img class="preview" ngf-thumbnail="attachment">
                          <md-button class="md-icon-button sm-button"
                                     ng-click="vm.deleteCurrentAttachment(attachment.$$hashKey)">
                            <md-icon class="s16" md-font-icon="icon-close"></md-icon>
                          </md-button>
                        </div>
                        <div class="img-size"></div>
                      </div>
                    </div>

                    <div layout="row" layout-align="center center">
                      <md-button ng-show="vm.isPost && vm.availableSocialAPIPost"
                                 class="btn-violate lh-2" ng-disabled="vm.selection.indexOf('twitter') > -1 && vm.socharaPost.length>280"
                                 ng-click="vm.submitSocialPost()">Post
                      </md-button>
                      <md-button ng-show="!vm.isPost || vm.isPostClicked"
                                 class="btn-basic lh-2"
                                 ng-click="vm.cancelPostBox();">Cancel
                      </md-button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--dashboard-item-->
          </div>
          <!--item-->

          <div ng-repeat="socialFeed in ::vm.dashboardAllData | limitTo:vm.dashboardPostLimit track by $index"
               data-date_sort="{{socialFeed.date_sort}}" class="grid-item">
            <!--{{$index%3 == 0 ? 'grid-item-width2':''}}-->
            <!--<div ng-repeat="socialFeed in ::vm.dashboardAllData | limitTo:vm.dashboardPostLimit track by $index"-->
            <!--data-date_sort="{{socialFeed.date_sort}}" class="grid-item {{$index%3 == 0 ? 'grid-item-width2':''}}">-->
            <div class="dashboard-item">
              <div class="white-bg">

                <div class="dash-item-thumbnail" ng-if="!socialFeed.attachment_details && socialFeed.media" ng-click="vm.videoOrImagePreview(socialFeed)">
                  <img ng-src="{{socialFeed.media}}" alt="{{socialFeed.post || socialFeed.story}}">
                </div>

                <div class="dash-item-thumbnail" ng-if="socialFeed.attachment_details && (socialFeed.attachment_details.type == 'photo' || socialFeed.attachment_details.type == 'video_inline')" ng-click="vm.videoOrImagePreview(socialFeed)">
                  <img ng-src="{{socialFeed.attachment_details.media}}" alt="{{socialFeed.attachment_details.title || ''}}">
                </div>

                <div layout="row" class="dash-item-thumbnail" ng-if="socialFeed.attachment_details && (socialFeed.attachment_details.type == 'album' || socialFeed.attachment_details.type == 'new_album')">
                  <li flex ng-repeat="aImage in socialFeed.attachments | limitTo:3" ng-click="vm.videoOrImagePreview(socialFeed)">
                    <img ng-if="aImage.media" class="w-100 h-100" ng-src="{{aImage.media}}" alt="thumb">
                  </li>
                </div>
                <span ng-if="socialFeed.attachments && socialFeed.attachments.length > 3" class="total-count">more {{socialFeed.attachments.length-3}} photos...</span>


                <div class="dash-item-source" layout="row" layout-align="start center">
                  <md-icon ng-if="socialFeed.provider==='facebook'" md-font-icon="icon-facebook-box"></md-icon>
                  <md-icon ng-if="socialFeed.provider!=='facebook'"
                           md-font-icon="icon-{{socialFeed.provider}}"></md-icon>
                  <span class="text-uppercase" flex ng-bind="socialFeed.provider"></span>
                  <span ng-bind="socialFeed.created | altDate"></span>
                </div>
                <!--dash-item-source-->

                <div class="dash-item-content" align="left" ng-if="socialFeed.post || socialFeed.story" ng-bind-html="socialFeed.post || socialFeed.attachment_details.title || socialFeed.story | linky:'_blank'">
                </div>
                <!--dash-item-content-->

                <div ng-if="socialFeed.attachment_details && socialFeed.attachment_details.type == 'share'" class="dash-url-wrap ml-20 mr-20 mt-20 md-whiteframe-1dp" ng-click="vm.videoOrImagePreview(socialFeed)">
                  <div layout="row">
                    <img ng-if="socialFeed.attachment_details.media" class="w-100 h-100" ng-src="{{socialFeed.attachment_details.media}}" alt="thumb">
                    <div flex class="p-10" layout="column" layout-align="space-between">
                      <h3 class="no-margin line-2" ng-bind="socialFeed.attachment_details.title"></h3>
                      <p ng-if="socialFeed.attachment_details.description" class="no-margin md-truncate" ng-bind="socialFeed.attachment_details.description"></p>
                      <div class="text-uppercase" ng-bind="socialFeed.attachment_details.host_name">
                      </div>
                    </div>
                  </div>
                </div>

                <div class="dash-item-user" layout="row" layout-align="space-between center">
                  <img ng-if="socialFeed.provider==='twitter'" ng-src="{{socialFeed.from.profile_photo}}" alt="avatar"
                       class="avatar"/>
                  <img ng-if="socialFeed.provider==='facebook'"
                       ng-src="https://graph.facebook.com/{{socialFeed.from.id}}/picture?type=small" alt="avatar"
                       class="avatar"/>
                  <div flex layout="column">
                    <h3 ng-if="socialFeed.full_name">{{socialFeed.full_name}}</h3>
                    <h3 ng-if="socialFeed.from.name">{{socialFeed.from.name}}</h3>
                    <p ng-if="socialFeed.user_name" ng-bind="'@' + socialFeed.user_name"></p>
                  </div>
                  <div flex layout="column" layout-align="center end">
                    <md-menu ng-if="socialFeed.application && socialFeed.application === '1589011794492434'" md-offset="0 -7" md-position-mode="target-right target">
                      <md-button aria-label="Manage post" class="md-icon-button"
                                 ng-click="$mdMenu.open($event)">
                        <md-icon md-menu-origin md-font-icon="icon-dots-vertical"></md-icon>
                      </md-button>
                      <md-menu-content width="2">
                        <md-menu-item ng-if="socialFeed.post">
                          <md-button ng-click="vm.editPost(socialFeed)">
                            <md-icon md-font-icon="icon-pencil-box-outline"></md-icon>
                            Edit
                          </md-button>
                        </md-menu-item>
                        <md-menu-item>
                          <md-button ng-click="vm.removePost(socialFeed)">
                            <md-icon md-font-icon="icon-delete"></md-icon>
                            Remove
                          </md-button>
                        </md-menu-item>
                      </md-menu-content>
                    </md-menu>

                    <md-menu ng-if="socialFeed.provider==='twitter'" md-offset="0 -7" md-position-mode="target-right target">
                      <md-button aria-label="Manage post" class="md-icon-button"
                                 ng-click="$mdMenu.open($event)">
                        <md-icon md-menu-origin md-font-icon="icon-dots-vertical"></md-icon>
                      </md-button>
                      <md-menu-content width="2">
                        <md-menu-item>
                          <md-button ng-click="vm.removePost(socialFeed)">
                            <md-icon md-font-icon="icon-delete"></md-icon>
                            Remove
                          </md-button>
                        </md-menu-item>
                        <md-menu-item>
                          <md-button ng-click="vm.makeFavorite(socialFeed.id)" ng-if="socialFeed.favorite">
                            <md-icon md-font-icon="icon-star"></md-icon>
                            Remove Favorite
                          </md-button>
                          <md-button ng-click="vm.makeFavorite(socialFeed.id)" ng-if="!socialFeed.favorite">
                            <md-icon md-font-icon="icon-star-outline"></md-icon>
                            Favorite
                          </md-button>
                        </md-menu-item>
                      </md-menu-content>
                    </md-menu>

                    <md-menu ng-if="socialFeed.provider==='instagram'" md-offset="0 -7" md-position-mode="target-right target">
                      <md-button aria-label="Manage post" class="md-icon-button"
                                 ng-click="$mdMenu.open($event)">
                        <md-icon md-menu-origin md-font-icon="icon-dots-vertical"></md-icon>
                      </md-button>
                      <md-menu-content width="2">
                        <md-menu-item>
                          <md-button ng-click="vm.removePost(socialFeed)">
                            <md-icon md-font-icon="icon-delete"></md-icon>
                            Remove
                          </md-button>
                        </md-menu-item>
                      </md-menu-content>
                    </md-menu>
                  </div>
                </div><!--dash-item-user-->

              </div>
            </div>
            <!--dashboard-item-->
          </div>
          <!--item-->

        </div>
        <!--<div layout="row" class="btn-gr-left">-->
        <!--<md-button class="btn-basic" ng-click="vm.changeDashboardDataLimit();" flex style="padding: 10px;background: #dcdcdc">No more data....</md-button>-->
        <!--</div>-->
      </div>

    </div>

  </div>

  <div flex layout="row" flex-order-sm="1" class="dash-tabs white md-whiteframe-2dp">
    <!--tab-->
    <div class="dash-right-tab">

      <md-content>
        <md-tabs md-dynamic-height md-border-bottom md-no-ink-bar>
          <md-tab>
            <md-tab-label>
              <md-icon md-font-icon="icon-email">
                <span class="icon-number" ng-if="vm.AllThreadCount">{{vm.AllThreadCount}}</span>
              </md-icon>
            </md-tab-label>
            <md-tab-body>
              <md-content ms-scroll ng-include="'app/main/dashboard/tabs/mail.html'">
              </md-content>
            </md-tab-body>
          </md-tab><!--md-tab email-->
          <md-tab>
            <md-tab-label>
              <md-icon md-font-icon="icon-message">
                <span ng-if="notificationCount.chat" class="icon-number" ng-bind="notificationCount.chat"></span>
              </md-icon>
            </md-tab-label>
            <md-tab-body>
              <md-content class="chat-tab scrollable" ms-scroll
                          ng-include="'app/quick-panel/tabs/chat/chat-tab.html'"
                          ng-controller="ChatController as vmChat">
              </md-content>
            </md-tab-body>
          </md-tab><!--md-tab message-->
          <md-tab>
            <md-tab-label>
              <md-icon md-font-icon="icon-calendar">
                <span class="icon-number"></span>
              </md-icon>
            </md-tab-label>
            <md-tab-body>
              <md-content class="chat-tab scrollable" ms-scroll
                          ng-include="'app/main/dashboard/tabs/events.html'">
              </md-content>
            </md-tab-body>
          </md-tab><!--md-tab-->

        </md-tabs>
      </md-content>
    </div>
    <!--tab end-->
  </div>
</div>
