<div layout="row" layout-xs="column" class="dash-row" ng-controller="DashboardController  as appCtrl">
  <div layout="column" flex flex-order-xs="2">
    <div class="dash-content">

      <div class="title-msg">So Nicole, looks like you’ve got a pretty busy day today!
        <md-button class="btn-violate">View Calendar
          <md-icon md-font-icon="icon-calendar"></md-icon>
        </md-button>
      </div>
      <div ng-cloak>
        <md-grid-list
          md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="4"
          md-row-height-gt-md="6:2" md-row-height="6:2" md-row-height-xs="1:1"
          md-gutter="12px" md-gutter-gt-sm="12px">

          <md-grid-tile class="md-whiteframe-3dp white searchinput" md-rowspan="1" md-colspan="2">
            <md-card-content>
              <div flex layout="row" layout-align="space-around center">
                <img ng-src="images/icons/user.png" class="md-avatar" alt="who"/>
                <!--<md-icon md-font-icon="icon-account"></md-icon>-->
                <input flex ng-model="search" type="text" placeholder="What's new with you?">
                <md-button class="md-fab" aria-label="Eat cake">
                  <md-icon md-font-icon="icon-camera"></md-icon>
                </md-button>
              </div>
            </md-card-content>
          </md-grid-tile>

          <md-grid-tile md-rowspan="5" md-colspan="1" md-colspan-sm="2" md-colspan-xs="2">
            <div class="social-share">
              <ul>
                <li>
                  <a href="#"><md-icon md-font-icon="icon-star"></md-icon></a>
                  <ul>
                    <li><a href="#"><md-icon md-font-icon="icon-facebook-box"></md-icon></a></li>
                    <li><a href="#"><md-icon md-font-icon="icon-twitter"></md-icon></a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <md-grid-tile-header class="card-grid-header">
              <img ng-src="images/backgrounds/april.jpg" alt="backgrounds"/>
            </md-grid-tile-header>
            <md-grid-tile-footer class="card-grid-footer">
              <div class="card-msg">
                <div layout="row" layout-align="start center" class="social facebook">
                  <md-icon md-font-icon="icon-facebook-box"></md-icon>
                  <span flex>Facebook</span>
                </div>
                <div class="post-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean <a
                  href="#">@Loremlpsum: https://t.co/y/SLKGH235</a></div>
              </div>
              <div layout="row" layout-align="start center">
                <div><img ng-src="images/avatars/Boyle.jpg" class="md-avatar" alt="who"/></div>
                <div>
                  <h3>Hasan Tareq</h3>
                  <h5>@hsntareq</h5>
                </div>
              </div>
            </md-grid-tile-footer>
          </md-grid-tile><!--md-grid-tile-->

          <md-grid-tile class="green" md-rowspan="5" md-colspan="1" md-colspan-sm="2" md-colspan-xs="2">
            <div class="social-share">
              <ul>
                <li>
                  <a href="#"><md-icon md-font-icon="icon-star"></md-icon></a>
                  <ul>
                    <li><a href="#"><md-icon md-font-icon="icon-facebook-box"></md-icon></a></li>
                    <li><a href="#"><md-icon md-font-icon="icon-twitter"></md-icon></a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <md-grid-tile-header class="card-grid-header">
              <img ng-src="../images/backgrounds/december.jpg" alt="backgrounds"/>
            </md-grid-tile-header>
            <md-grid-tile-footer class="card-grid-footer">
              <div class="card-msg">
                <div layout="row" layout-align="start center" class="social facebook">
                  <md-icon md-font-icon="icon-facebook-box"></md-icon>
                  <span flex>Facebook</span>
                </div>
                <div class="post-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean <a
                  href="#">@Loremlpsum: https://t.co/y/SLKGH235</a></div>
              </div>
              <div layout="row" layout-align="start center">
                <div><img ng-src="images/avatars/Boyle.jpg" class="md-avatar" alt="who"/></div>
                <div>
                  <h3>Mahdi Hasan</h3>
                  <h5>@MahdiHasan</h5>
                </div>
              </div>
            </md-grid-tile-footer>
          </md-grid-tile><!--md-grid-tile-->


          <md-grid-tile class="green" md-rowspan="4" md-colspan="2" md-colspan="1" md-colspan-sm="2" md-colspan-xs="2" md-rospan-xs="4">
            <div class="social-share">
              <ul>
                <li>
                  <a href="#"><md-icon md-font-icon="icon-star"></md-icon></a>
                  <ul>
                    <li><a href="#"><md-icon md-font-icon="icon-facebook-box"></md-icon></a></li>
                    <li><a href="#"><md-icon md-font-icon="icon-twitter"></md-icon></a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <md-grid-tile-header class="card-grid-header">
              <img ng-src="../images/backgrounds/february.jpg" alt="backgrounds"/>
            </md-grid-tile-header>
            <md-grid-tile-footer class="card-grid-footer">
              <div class="card-msg">
                <div layout="row" layout-align="start center" class="social facebook">
                  <md-icon md-font-icon="icon-twitter-box"></md-icon>
                  <span flex>Twitter</span>
                </div>
                <div class="post-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean <a
                  href="#">@Loremlpsum: https://t.co/y/SLKGH235</a></div>
              </div>
              <div layout="row" layout-align="start center">
                <div><img ng-src="images/avatars/Boyle.jpg" class="md-avatar" alt="who"/></div>
                <div>
                  <h3>Darren Dunner</h3>
                  <h5>@DarrenDunner</h5>
                </div>
              </div>
            </md-grid-tile-footer>
          </md-grid-tile><!--md-grid-tile-->


          <md-grid-tile class="green" md-rowspan="3" md-colspan="1" md-colspan-sm="2" md-colspan-xs="2">
            <div class="social-share">
              <ul>
                <li>
                  <a href="#"><md-icon md-font-icon="icon-star"></md-icon></a>
                  <ul>
                    <li><a href="#"><md-icon md-font-icon="icon-facebook-box"></md-icon></a></li>
                    <li><a href="#"><md-icon md-font-icon="icon-twitter"></md-icon></a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <md-grid-tile-footer class="card-grid-footer">
              <div class="card-msg">
                <div layout="row" layout-align="start center" class="social facebook">
                  <md-icon md-font-icon="icon-twitter-box"></md-icon>
                  <span flex>Twitter</span>
                </div>
                <div class="post-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean <a
                  href="#">@Loremlpsum: https://t.co/y/SLKGH235</a></div>
              </div>
              <div layout="row" layout-align="start center">
                <div><img ng-src="images/avatars/Boyle.jpg" class="md-avatar" alt="who"/></div>
                <div>
                  <h3>Darren Dunner</h3>
                  <h5>@DarrenDunner</h5>
                </div>
              </div>
            </md-grid-tile-footer>
          </md-grid-tile><!--md-grid-tile-->


          <md-grid-tile class="green" md-rowspan="5" md-colspan="1" md-colspan-sm="2" md-colspan-xs="2">
            <div class="social-share">
              <ul>
                <li>
                  <a href="#"><md-icon md-font-icon="icon-star"></md-icon></a>
                  <ul>
                    <li><a href="#"><md-icon md-font-icon="icon-facebook-box"></md-icon></a></li>
                    <li><a href="#"><md-icon md-font-icon="icon-twitter"></md-icon></a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <md-grid-tile-header class="card-grid-header">
              <img ng-src="../images/backgrounds/january.jpg" alt="backgrounds"/>
            </md-grid-tile-header>
            <md-grid-tile-footer class="card-grid-footer">
              <div class="card-msg">
                <div layout="row" layout-align="start center" class="social facebook">
                  <md-icon md-font-icon="icon-twitter-box"></md-icon>
                  <span flex>Twitter</span>
                </div>
                <div class="post-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean <a
                  href="#">@Loremlpsum: https://t.co/y/SLKGH235</a></div>
              </div>
              <div layout="row" layout-align="start center">
                <div><img ng-src="images/avatars/Boyle.jpg" class="md-avatar" alt="who"/></div>
                <div>
                  <h3>Darren Dunner</h3>
                  <h5>@DarrenDunner</h5>
                </div>
              </div>
            </md-grid-tile-footer>
          </md-grid-tile><!--md-grid-tile-->


          <md-grid-tile class="green" md-rowspan="5" md-colspan="2">
            <div class="social-share">
              <ul>
                <li>
                  <a href="#"><md-icon md-font-icon="icon-star"></md-icon></a>
                  <ul>
                    <li><a href="#"><md-icon md-font-icon="icon-facebook-box"></md-icon></a></li>
                    <li><a href="#"><md-icon md-font-icon="icon-twitter"></md-icon></a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <md-grid-tile-header class="card-grid-header">
              <img ng-src="../images/backgrounds/june.jpg" alt="backgrounds"/>
            </md-grid-tile-header>
            <md-grid-tile-footer class="card-grid-footer">
              <div class="card-msg">
                <div layout="row" layout-align="start center" class="social facebook">
                  <md-icon md-font-icon="icon-twitter-box"></md-icon>
                  <span flex>Twitter</span>
                </div>
                <div class="post-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean <a
                  href="#">@Loremlpsum: https://t.co/y/SLKGH235</a></div>
              </div>
              <div layout="row" layout-align="start center">
                <div><img ng-src="images/avatars/Boyle.jpg" class="md-avatar" alt="who"/></div>
                <div>
                  <h3>Darren Dunner</h3>
                  <h5>@DarrenDunner</h5>
                </div>
              </div>
            </md-grid-tile-footer>
          </md-grid-tile><!--md-grid-tile-->


          <md-grid-tile class="green" md-rowspan="2" md-colspan="1" md-colspan-sm="2" md-colspan-xs="2">
            <div class="social-share">
              <ul>
                <li>
                  <a href="#"><md-icon md-font-icon="icon-star"></md-icon></a>
                  <ul>
                    <li><a href="#"><md-icon md-font-icon="icon-facebook-box"></md-icon></a></li>
                    <li><a href="#"><md-icon md-font-icon="icon-twitter"></md-icon></a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <md-grid-tile-header class="card-grid-header">
              <img ng-src="../images/backgrounds/november.jpg" alt="backgrounds"/>
            </md-grid-tile-header>
          </md-grid-tile><!--md-grid-tile-->


          <md-grid-tile class="green" md-rowspan="2" md-colspan="1" md-colspan-sm="2" md-colspan-xs="2">
            <div class="social-share">
              <ul>
                <li>
                  <a href="#"><md-icon md-font-icon="icon-star"></md-icon></a>
                  <ul>
                    <li><a href="#"><md-icon md-font-icon="icon-facebook-box"></md-icon></a></li>
                    <li><a href="#"><md-icon md-font-icon="icon-twitter"></md-icon></a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <md-grid-tile-header class="card-grid-header">
              <img ng-src="../images/backgrounds/march.jpg" alt="backgrounds"/>
            </md-grid-tile-header>
          </md-grid-tile><!--md-grid-tile-->


          <md-grid-tile class="green" md-rowspan="5" md-colspan="2">
            <div class="social-share">
              <ul>
                <li>
                  <a href="#"><md-icon md-font-icon="icon-star"></md-icon></a>
                  <ul>
                    <li><a href="#"><md-icon md-font-icon="icon-facebook-box"></md-icon></a></li>
                    <li><a href="#"><md-icon md-font-icon="icon-twitter"></md-icon></a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <md-grid-tile-header class="card-grid-header">
              <img ng-src="../images/backgrounds/march.jpg" alt="backgrounds"/>
            </md-grid-tile-header>
            <md-grid-tile-footer class="card-grid-footer">
              <div class="card-msg">
                <div layout="row" layout-align="start center" class="social facebook">
                  <md-icon md-font-icon="icon-instagram"></md-icon>
                  <span flex>Instagram</span>
                </div>
                <div class="post-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean <a
                  href="#">@Loremlpsum: https://t.co/y/SLKGH235</a></div>
              </div>
              <div layout="row" layout-align="start center">
                <div><img ng-src="images/avatars/Boyle.jpg" class="md-avatar" alt="who"/></div>
                <div>
                  <h3>Darren Dunner</h3>
                  <h5>@DarrenDunner</h5>
                </div>
              </div>
            </md-grid-tile-footer>
          </md-grid-tile><!--md-grid-tile-->


          <md-grid-tile class="green" md-rowspan="5" md-colspan="1" md-colspan-sm="2" md-colspan-xs="2">
            <div class="social-share">
              <ul>
                <li>
                  <a href="#"><md-icon md-font-icon="icon-star"></md-icon></a>
                  <ul>
                    <li><a href="#"><md-icon md-font-icon="icon-facebook-box"></md-icon></a></li>
                    <li><a href="#"><md-icon md-font-icon="icon-twitter"></md-icon></a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <md-grid-tile-header class="card-grid-header">
              <img ng-src="../images/backgrounds/october.jpg" alt="backgrounds"/>
            </md-grid-tile-header>
            <md-grid-tile-footer class="card-grid-footer">
              <div class="card-msg">
                <div layout="row" layout-align="start center" class="social facebook">
                  <md-icon md-font-icon="icon-instagram"></md-icon>
                  <span flex>Instagram</span>
                </div>
                <div class="post-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean <a
                  href="#">@Loremlpsum: https://t.co/y/SLKGH235</a></div>
              </div>
              <div layout="row" layout-align="start center">
                <div><img ng-src="images/avatars/Boyle.jpg" class="md-avatar" alt="who"/></div>
                <div>
                  <h3>Darren Dunner</h3>
                  <h5>@DarrenDunner</h5>
                </div>
              </div>
            </md-grid-tile-footer>
          </md-grid-tile><!--md-grid-tile-->


          <md-grid-tile class="green" md-rowspan="3" md-colspan="1" md-colspan-sm="2" md-colspan-xs="2">
            <div class="social-share">
              <ul>
                <li>
                  <a href="#"><md-icon md-font-icon="icon-star"></md-icon></a>
                  <ul>
                    <li><a href="#"><md-icon md-font-icon="icon-facebook-box"></md-icon></a></li>
                    <li><a href="#"><md-icon md-font-icon="icon-twitter"></md-icon></a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <md-grid-tile-header class="card-grid-header">
              <img ng-src="../images/backgrounds/october.jpg" alt="backgrounds"/>
            </md-grid-tile-header>
            <md-grid-tile-footer class="card-grid-footer">
              <div class="card-msg">
                <div layout="row" layout-align="start center" class="social facebook">
                  <md-icon md-font-icon="icon-instagram"></md-icon>
                  <span flex>Instagram</span>
                </div>
                <div class="post-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean <a
                  href="#">@Loremlpsum: https://t.co/y/SLKGH235</a></div>
              </div>
              <div layout="row" layout-align="start center">
                <div><img ng-src="images/avatars/Boyle.jpg" class="md-avatar" alt="who"/></div>
                <div>
                  <h3>Darren Dunner</h3>
                  <h5>@DarrenDunner</h5>
                </div>
              </div>
            </md-grid-tile-footer>
          </md-grid-tile><!--md-grid-tile-->

        </md-grid-list><!--md-grid-list-->
      </div>
    </div>

  </div>

  <div flex layout="row" flex-order-xs="1" class="dash-tabs white md-whiteframe-2dp">
    <!--tab-->
    <div class="dash-right-tab">

      <md-content>
        <md-tabs md-dynamic-height md-border-bottom md-no-ink-bar>
          <md-tab>
            <md-tab-label>
              <md-icon md-font-icon="icon-email">
                <span class="icon-number">56</span>
              </md-icon>
            </md-tab-label>
            <md-tab-body>
              <md-list flex class="tab-email">
                <md-list-item class="md-2-line" ng-click="true">
                  <div class="img-group">
                    <img ng-src="images/avatars/Barrera.jpg" alt="alice" class="md-avatar"/>
                    <md-icon class="status-icon" md-svg-src="images/icons/away.svg"></md-icon>
                    <md-icon md-svg-src="images/so.svg"></md-icon>
                  </div>
                  <div class="md-list-item-text">
                    <div flex layout="row" layout-align="space-between start">
                      <small>Mainul Islam</small>
                      <small>2:28 PM</small>
                    </div>
                    <h3>Darren Danis</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                  </div>
                </md-list-item><!--md-list-item-->
                <md-list-item class="md-2-line" ng-click="true">
                  <div class="img-group">
                    <img ng-src="images/avatars/andrew.jpg" alt="alice" class="md-avatar"/>
                    <md-icon class="status-icon" md-svg-src="images/icons/disturb.svg"></md-icon>
                    <img ng-src="images/icons/gplus.png"></img>
                  </div>
                  <div class="md-list-item-text">
                    <div flex layout="row" layout-align="space-between start">
                      <small>Mainul Islam</small>
                      <small>2:28 PM</small>
                    </div>
                    <h3>Darren Danis</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                  </div>
                </md-list-item>
                <md-list-item class="md-2-line" ng-click="true">
                  <div class="img-group">
                    <img ng-src="images/avatars/alice.jpg" alt="alice" class="md-avatar"/>
                    <md-icon class="status-icon" md-svg-src="images/icons/away.svg"></md-icon>
                    <img ng-src="images/icons/gplus.png"></img>
                  </div>
                  <div class="md-list-item-text">
                    <div flex layout="row" layout-align="space-between start">
                      <small>Mainul Islam</small>
                      <small>2:28 PM</small>
                    </div>
                    <h3>Darren Danis</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                  </div>
                </md-list-item>
                <md-list-item class="md-2-line" ng-click="true">
                  <div class="img-group">
                    <img ng-src="images/avatars/Abbott.jpg" alt="alice" class="md-avatar"/>
                    <md-icon class="status-icon" md-svg-src="images/icons/online.svg"></md-icon>
                    <img ng-src="images/icons/gplus.png"></img>
                  </div>
                  <div class="md-list-item-text">
                    <div flex layout="row" layout-align="space-between start">
                      <small>Mainul Islam</small>
                      <small>2:28 PM</small>
                    </div>
                    <h3>Darren Danis</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                  </div>
                </md-list-item>
                <md-list-item class="md-2-line" ng-click="true">
                  <div class="img-group">
                    <img ng-src="images/avatars/Barrera.jpg" alt="alice" class="md-avatar"/>
                    <md-icon class="status-icon" md-svg-src="images/icons/away.svg"></md-icon>
                    <img ng-src="images/icons/gplus.png"></img>
                  </div>
                  <div class="md-list-item-text">
                    <div flex layout="row" layout-align="space-between start">
                      <small>Mainul Islam</small>
                      <small>2:28 PM</small>
                    </div>
                    <h3>Darren Danis</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                  </div>
                </md-list-item>
                <md-list-item class="md-2-line" ng-click="true">
                  <div class="img-group">
                    <img ng-src="images/avatars/andrew.jpg" alt="alice" class="md-avatar"/>
                    <md-icon class="status-icon" md-svg-src="images/icons/offline.svg"></md-icon>
                    <img ng-src="images/icons/gplus.png"></img>
                  </div>
                  <div class="md-list-item-text">
                    <div flex layout="row" layout-align="space-between start">
                      <small>Mainul Islam</small>
                      <small>2:28 PM</small>
                    </div>
                    <h3>Darren Danis</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                  </div>
                </md-list-item>
                <md-list-item class="md-2-line" ng-click="true">
                  <div class="img-group">
                    <img ng-src="images/avatars/alice.jpg" alt="alice" class="md-avatar"/>
                    <md-icon class="status-icon" md-svg-src="images/icons/invisible.svg"></md-icon>
                    <img ng-src="images/icons/gplus.png"></img>
                  </div>
                  <div class="md-list-item-text">
                    <div flex layout="row" layout-align="space-between start">
                      <small>Mainul Islam</small>
                      <small>2:28 PM</small>
                    </div>
                    <h3>Darren Danis</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                  </div>
                </md-list-item>
                <md-list-item class="md-2-line" ng-click="true">
                  <div class="img-group">
                    <img ng-src="images/avatars/Abbott.jpg" alt="alice" class="md-avatar"/>
                    <md-icon class="status-icon" md-svg-src="images/icons/online.svg"></md-icon>
                    <img ng-src="images/icons/gplus.png"></img>
                  </div>
                  <div class="md-list-item-text">
                    <div flex layout="row" layout-align="space-between start">
                      <small>Mainul Islam</small>
                      <small>2:28 PM</small>
                    </div>
                    <h3>Darren Danis</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                  </div>
                </md-list-item>
                <md-list-item class="md-2-line" ng-click="true">
                  <div class="img-group">
                    <img ng-src="images/avatars/Barrera.jpg" alt="alice" class="md-avatar"/>
                    <md-icon class="status-icon" md-svg-src="images/icons/online.svg"></md-icon>
                    <img ng-src="images/icons/gplus.png"></img>
                  </div>
                  <div class="md-list-item-text">
                    <div flex layout="row" layout-align="space-between start">
                      <small>Mainul Islam</small>
                      <small>2:28 PM</small>
                    </div>
                    <h3>Darren Danis</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                  </div>
                </md-list-item>
                <md-list-item class="md-2-line" ng-click="true">
                  <div class="img-group">
                    <img ng-src="images/avatars/andrew.jpg" alt="alice" class="md-avatar"/>
                    <md-icon class="status-icon" md-svg-src="images/icons/offline.svg"></md-icon>
                    <img ng-src="images/icons/gplus.png"></img>
                  </div>
                  <div class="md-list-item-text">
                    <div flex layout="row" layout-align="space-between start">
                      <small>Mainul Islam</small>
                      <small>2:28 PM</small>
                    </div>
                    <h3>Darren Danis</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                  </div>
                </md-list-item>
                <md-list-item class="md-2-line" ng-click="true">
                  <div class="img-group">
                    <img ng-src="images/avatars/alice.jpg" alt="alice" class="md-avatar"/>
                    <md-icon class="status-icon" md-svg-src="images/icons/invisible.svg"></md-icon>
                    <img ng-src="images/icons/gplus.png"></img>
                  </div>
                  <div class="md-list-item-text">
                    <div flex layout="row" layout-align="space-between start">
                      <small>Mainul Islam</small>
                      <small>2:28 PM</small>
                    </div>
                    <h3>Darren Danis</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                  </div>
                </md-list-item>
                <md-list-item class="md-2-line" ng-click="true">
                  <div class="img-group">
                    <img ng-src="images/avatars/Abbott.jpg" alt="alice" class="md-avatar"/>
                    <md-icon class="status-icon" md-svg-src="images/icons/away.svg"></md-icon>
                    <img ng-src="images/icons/gplus.png"></img>
                  </div>
                  <div class="md-list-item-text">
                    <div flex layout="row" layout-align="space-between start">
                      <small>Mainul Islam</small>
                      <small>2:28 PM</small>
                    </div>
                    <h3>Darren Danis</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                  </div>
                </md-list-item>
              </md-list>
            </md-tab-body>
          </md-tab><!--md-tab email-->
          <md-tab>
            <md-tab-label>
              <md-icon md-font-icon="icon-message">
                <span class="icon-number" ng-bind="notificationCount.chat"></span>
              </md-icon>
            </md-tab-label>
            <md-tab-body>
              <md-content class="chat-tab scrollable" ms-scroll
                          ng-include="'app/quick-panel/tabs/chat/chat-tab.html'"
                          ng-controller="ChatController as vmChat">
              </md-content>
            </md-tab-body>
          </md-tab><!--md-tab message-->
          <md-tab>
            <md-tab-label>
              <md-icon md-font-icon="icon-calendar">
                <span class="icon-number">5</span>
              </md-icon>
            </md-tab-label>
            <md-tab-body>
              <md-content
                class="today-tab scrollable ms-scroll ng-scope _md md-default-theme ps-container ps-theme-default ps-active-y"
                ms-scroll="" ng-include="'app/quick-panel/tabs/today/today-tab.html'"
                data-ps-id="6df7e0e4-32a6-b4d1-69fb-1c226da23162">
                <md-list class="date ng-scope md-default-theme" role="list">
                  <div class="md-no-sticky md-subheader _md md-default-theme" role="heading" aria-level="2">
                    <div class="md-subheader-inner">
                      <div class="md-subheader-content"><span class="ng-scope">Today</span></div>
                    </div>
                  </div>
                  <md-list-item class="md-display-1 md-2-line md-no-proxy _md" role="listitem">
                    <div class="secondary-text">
                      <div class="ng-binding"> Friday</div>
                      <div layout="row" layout-align="start start" class="layout-align-start-start layout-row">
                        <span class="ng-binding"> 4</span>
                        <span class="md-subhead">th</span>
                        <span class="ng-binding"> August</span>
                      </div>
                    </div>
                    <div class="md-secondary-container"></div>
                  </md-list-item>
                </md-list>

                <md-divider class="ng-scope md-default-theme"></md-divider>

                <md-list role="list" class="ng-scope md-default-theme">
                  <div class="md-no-sticky md-subheader _md md-default-theme" role="heading" aria-level="2">
                    <div class="md-subheader-inner">
                      <div class="md-subheader-content"><span class="ng-scope">Events</span></div>
                    </div>
                  </div>

                  <!-- ngRepeat: event in vm.events -->
                  <md-list-item class="md-2-line _md-button-wrap ng-scope _md md-clickable"
                                ng-repeat="event in vm.events" role="listitem" tabindex="-1">
                    <div class="md-button md-no-style">
                      <button class="md-no-style md-button md-default-theme md-ink-ripple" type="button"
                              ng-click="dummyFunction()" aria-label="Group Meeting

            In 32 Minutes, Room 1B"></button>
                      <div class="md-list-item-inner">
                        <div class="md-list-item-text">
                          <h3 class="ng-binding">Group Meeting</h3>

                          <p class="ng-binding">In 32 Minutes, Room 1B</p>
                        </div>
                      </div>
                      <div class="md-secondary-container"></div>
                    </div>
                  </md-list-item><!-- end ngRepeat: event in vm.events -->
                  <md-list-item class="md-2-line _md-button-wrap ng-scope _md md-clickable"
                                ng-repeat="event in vm.events" role="listitem" tabindex="-1">
                    <div class="md-button md-no-style">
                      <button class="md-no-style md-button md-default-theme md-ink-ripple" type="button"
                              ng-click="dummyFunction()" aria-label="Public Beta Release

            11:00 PM"></button>
                      <div class="md-list-item-inner">
                        <div class="md-list-item-text">
                          <h3 class="ng-binding">Public Beta Release</h3>

                          <p class="ng-binding">11:00 PM</p>
                        </div>
                      </div>
                      <div class="md-secondary-container"></div>
                    </div>
                  </md-list-item><!-- end ngRepeat: event in vm.events -->
                  <md-list-item class="md-2-line _md-button-wrap ng-scope _md md-clickable"
                                ng-repeat="event in vm.events" role="listitem" tabindex="-1">
                    <div class="md-button md-no-style">
                      <button class="md-no-style md-button md-default-theme md-ink-ripple" type="button"
                              ng-click="dummyFunction()" aria-label="Dinner with David

            17:30 PM"></button>
                      <div class="md-list-item-inner">
                        <div class="md-list-item-text">
                          <h3 class="ng-binding">Dinner with David</h3>

                          <p class="ng-binding">17:30 PM</p>
                        </div>
                      </div>
                      <div class="md-secondary-container"></div>
                    </div>
                  </md-list-item><!-- end ngRepeat: event in vm.events -->
                  <md-list-item class="md-2-line _md-button-wrap ng-scope _md md-clickable"
                                ng-repeat="event in vm.events" role="listitem" tabindex="-1">
                    <div class="md-button md-no-style">
                      <button class="md-no-style md-button md-default-theme md-ink-ripple" type="button"
                              ng-click="dummyFunction()" aria-label="Q&amp;A Session

            20:30 PM"></button>
                      <div class="md-list-item-inner">
                        <div class="md-list-item-text">
                          <h3 class="ng-binding">Q&amp;A Session</h3>

                          <p class="ng-binding">20:30 PM</p>
                        </div>
                      </div>
                      <div class="md-secondary-container"></div>
                    </div>
                  </md-list-item><!-- end ngRepeat: event in vm.events -->
                </md-list>

                <md-divider class="ng-scope md-default-theme"></md-divider>

                <md-list role="list" class="ng-scope md-default-theme">
                  <div class="md-no-sticky md-subheader _md md-default-theme" role="heading" aria-level="2">
                    <div class="md-subheader-inner">
                      <div class="md-subheader-content"><span class="ng-scope">Notes</span></div>
                    </div>
                  </div>
                  <!-- ngRepeat: note in vm.notes -->
                  <md-list-item class="md-2-line _md-button-wrap ng-scope _md md-clickable" ng-repeat="note in vm.notes"
                                role="listitem" tabindex="-1">
                    <div class="md-button md-no-style">
                      <button class="md-no-style md-button md-default-theme md-ink-ripple" type="button"
                              ng-click="dummyFunction()" aria-label="Best songs to listen while working

            Last edit: May 8th, 2015"></button>
                      <div class="md-list-item-inner">
                        <div class="md-list-item-text">
                          <h3 class="ng-binding">Best songs to listen while working</h3>

                          <p class="ng-binding">Last edit: May 8th, 2015</p>
                        </div>
                      </div>
                      <div class="md-secondary-container"></div>
                    </div>
                  </md-list-item><!-- end ngRepeat: note in vm.notes -->
                  <md-list-item class="md-2-line _md-button-wrap ng-scope _md md-clickable" ng-repeat="note in vm.notes"
                                role="listitem" tabindex="-1">
                    <div class="md-button md-no-style">
                      <button class="md-no-style md-button md-default-theme md-ink-ripple" type="button"
                              ng-click="dummyFunction()" aria-label="Useful subreddits

            Last edit: January 12th, 2015"></button>
                      <div class="md-list-item-inner">
                        <div class="md-list-item-text">
                          <h3 class="ng-binding">Useful subreddits</h3>

                          <p class="ng-binding">Last edit: January 12th, 2015</p>
                        </div>
                      </div>
                      <div class="md-secondary-container"></div>
                    </div>
                  </md-list-item><!-- end ngRepeat: note in vm.notes -->
                </md-list>

                <md-divider class="ng-scope md-default-theme"></md-divider>

                <md-list role="list" class="ng-scope md-default-theme">
                  <div class="md-no-sticky md-subheader _md md-default-theme" role="heading" aria-level="2">
                    <div class="md-subheader-inner">
                      <div class="md-subheader-content"><span class="ng-scope">Quick Settings</span></div>
                    </div>
                  </div>

                  <md-list-item role="listitem" class="md-proxy-focus md-with-secondary _md md-clickable" tabindex="-1">
                    <div class="md-no-style md-list-item-inner md-ink-ripple">
                      <h3>Notifications</h3>

                      <div class="md-secondary-container">
                        <md-switch
                          class="ng-pristine ng-untouched ng-valid ng-scope md-default-theme ng-not-empty md-checked"
                          ng-model="vm.settings.notify" aria-label="Notifications" tabindex="0" type="checkbox"
                          role="checkbox" aria-checked="true" aria-invalid="false">
                          <div class="md-container" style="touch-action: pan-x;">
                            <div class="md-bar"></div>
                            <div class="md-thumb-container">
                              <div class="md-thumb md-ink-ripple" md-ink-ripple="" md-ink-ripple-checkbox=""></div>
                            </div>
                          </div>
                          <div class="md-label"></div>
                        </md-switch>
                      </div>
                    </div>
                  </md-list-item>

                  <md-list-item role="listitem" class="md-proxy-focus md-with-secondary _md md-clickable" tabindex="-1">
                    <div class="md-no-style md-list-item-inner md-ink-ripple">
                      <h3>Cloud Sync</h3>

                      <div class="md-secondary-container">
                        <md-switch class="ng-pristine ng-untouched ng-valid ng-scope md-default-theme ng-empty"
                                   ng-model="vm.settings.cloud" aria-label="Cloud Sync" tabindex="0" type="checkbox"
                                   role="checkbox" aria-checked="false" aria-invalid="false">
                          <div class="md-container" style="touch-action: pan-x;">
                            <div class="md-bar"></div>
                            <div class="md-thumb-container">
                              <div class="md-thumb md-ink-ripple" md-ink-ripple="" md-ink-ripple-checkbox=""></div>
                            </div>
                          </div>
                          <div class="md-label"></div>
                        </md-switch>
                      </div>
                    </div>
                  </md-list-item>

                  <md-list-item role="listitem" class="md-proxy-focus md-with-secondary _md md-clickable" tabindex="-1">
                    <div class="md-no-style md-list-item-inner md-ink-ripple">
                      <h3>Retro Thrusters</h3>

                      <div class="md-secondary-container">
                        <md-switch
                          class="md-warn ng-pristine ng-untouched ng-valid ng-scope md-default-theme ng-not-empty md-checked"
                          ng-model="vm.settings.retro" aria-label="Retro Thrusters" tabindex="0" type="checkbox"
                          role="checkbox" aria-checked="true" aria-invalid="false">
                          <div class="md-container" style="touch-action: pan-x;">
                            <div class="md-bar"></div>
                            <div class="md-thumb-container">
                              <div class="md-thumb md-ink-ripple" md-ink-ripple="" md-ink-ripple-checkbox=""></div>
                            </div>
                          </div>
                          <div class="md-label"></div>
                        </md-switch>
                      </div>
                    </div>
                  </md-list-item>
                </md-list>
                <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;">
                  <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                </div>
                <div class="ps-scrollbar-y-rail" style="top: 0px; right: 0px; height: 555px;">
                  <div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 334px;"></div>
                </div>
              </md-content>
            </md-tab-body>
          </md-tab><!--md-tab-->
          <md-tab>
            <md-tab-label>
              <md-icon md-font-icon="icon-format-list-bulleted">
                <span class="icon-number">0</span>
              </md-icon>
            </md-tab-label>
            <md-tab-body>
              <md-content class="chat-tab scrollable" ms-scroll>
              </md-content>
            </md-tab-body>
          </md-tab><!--md-tab-->
        </md-tabs>
      </md-content>
    </div>
    <!--tab end-->
  </div>
</div>
