<style>
  .socharaPostButton {
    padding: 5px;
    cursor: pointer;
  }

  .socharaPostButton:hover {
    background: gainsboro;
  }

  .emoji-picker-icon {
    right: 15px;
  }

  .emoji-wysiwyg-editor {
    height: 70px;
    overflow-y: visible;
  }

  .icon-flower:before {
    content: "" !important;
  }

  .timeline-wrapper {
    opacity: .5;
  }

  .icon-bell:before {
    content: "" !important;
  }

  .icon-grid:before {
    content: "" !important;
  }

  .icon-car:before {
    content: "" !important;
  }

  .selectGIF:hover {
    background: dodgerblue;
    cursor: pointer;
  }

  .stickerContainerButton {
    text-align: left;
    align-items: left;
    text-transform: none;
  }

  .stickerContainerButton img {
    padding-top: 5px;
  }

  .notes {
    /*max-width: 1200px;*/
    /*margin: 0 auto;*/
  }

  .note {
    padding: 8px;
  }

  .timeline-item {
    background: #fff;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 3px;
    padding: 12px;

    margin: 0 auto;
    max-width: 472px;
    min-height: 200px;
  }

  @keyframes placeHolderShimmer {
    0% {
      background-position: -468px 0
    }
    100% {
      background-position: 468px 0
    }
  }

  .animated-background {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 800px 104px;
    height: 150px;
    position: relative;
  }

  .background-masker {
    background: #fff;
    position: absolute;
  }

  /* Every thing below this is just positioning */

  .background-masker.header-top,
  .background-masker.header-bottom,
  .background-masker.subheader-bottom {
    top: 0;
    left: 40px;
    right: 0;
    height: 10px;
  }

  .background-masker.header-left,
  .background-masker.subheader-left,
  .background-masker.header-right,
  .background-masker.subheader-right {
    top: 10px;
    left: 40px;
    height: 8px;
    width: 10px;
  }

  .background-masker.header-bottom {
    top: 18px;
    height: 6px;
  }

  .background-masker.subheader-left,
  .background-masker.subheader-right {
    top: 24px;
    height: 6px;
  }

  .background-masker.header-right,
  .background-masker.subheader-right {
    width: auto;
    left: 300px;
    right: 0;
  }

  .background-masker.subheader-right {
    left: 230px;
  }

  .background-masker.subheader-bottom {
    top: 30px;
    height: 10px;
  }

  .background-masker.content-top,
  .background-masker.content-second-line,
  .background-masker.content-third-line,
  .background-masker.content-second-end,
  .background-masker.content-third-end,
  .background-masker.content-first-end {
    top: 40px;
    left: 0;
    right: 0;
    height: 6px;
  }

  .background-masker.content-top {
    height: 20px;
  }

  .background-masker.content-first-end,
  .background-masker.content-second-end,
  .background-masker.content-third-end {
    width: auto;
    left: 380px;
    right: 0;
    top: 60px;
    height: 8px;
  }

  .background-masker.content-second-line {
    top: 68px;
  }

  .background-masker.content-second-end {
    left: 420px;
    top: 74px;
  }

  .background-masker.content-third-line {
    top: 82px;
  }

  .background-masker.content-third-end {
    left: 300px;
    top: 88px;
  }
</style>
<div class="container" style="padding:50px;">

  <div class="section" style="margin:10px;">
    <h2 style="font-size:45px;color:black;font-weight:200;">So Nicole, looks like you've got<br>a pretty busy day today
      !
      <md-button style="padding:7px;font-weight:bold;background:#7c16b8;color:white;"
                 class="md-accent md-raised md-button md-default-theme md-ink-ripple">View Calendar
        <md-icon md-font-icon="icon-calendar"></md-icon>
      </md-button>
    </h2>
  </div>
  <br>
  <div ng-show="!vm.isPostClicked" class="pb-15 widget-group layout-wrap layout-row flex-100" layout="row" flex="100"
       layout-wrap="">
    <div layout="row" flex="100">
      <div id="" ng-class="h-100"
           layout="column" flex="100" flex-gt-xs="100" flex-gt-md="40"
           class="ms-widget ng-isolate-scope layout-column flex-gt-xs-100 flex-gt-md-40 flex-100" style="z-index: 1;">

        <div class="white-bg ms-widget-front ng-scope" style="border-radius:10px;overflow:visible">
          <div class="pl-16 pr-8 pv-16 h-70 ng-scope layout-align-space-between-center layout-row" layout="row"
               layout-align="space-between center">
            <div class="h3 ng-binding" style="width:100%;">
              <div style="float:left; width:10%;padding:0px; ">
                <img ng-if="vm.userPhoto" ng-src="{{vm.userPhoto}}"
                     style="width:40px;height:40px;-webkit-border-radius: 100px;-moz-border-radius: 100px;border-radius: 100px;"/>
                <md-icon ng-if="!vm.userPhoto" md-font-icon="icon-account-circle"
                         style="color:#00b591;font-size:37px;"></md-icon>
              </div>
              <div style="float:left;padding:5px;padding-left:20px;width:90%;">
                <div class="lead emoji-picker-container">
                  <input ng-click="vm.isPostClicked = true" type="text" rows="2"
                         placeholder="What is new with you ?"
                         style="font-family: Segoe UI;width:100%;font-size:25px;border:none;"
                  />
                </div>
              </div>
              <div style="clear: both;"></div>
            </div>

          </div>

        </div>

        <!-- Front -->
        <!-- / Front -->

      </div>
    </div>

  </div>
  <div ng-show="vm.isPostClicked" class="widget-group layout-wrap layout-row flex-100" layout="row" flex="100"
       layout-wrap="">
    <div layout="row" flex="100">
      <div id="postAreaScroll" ng-class="{{webCamAreaAvailable?'h-220':'h-170'}}"
           layout="column" flex="100" flex-gt-xs="100" flex-gt-md="50"
           class="ms-widget ng-isolate-scope layout-column flex-gt-xs-100 flex-gt-md-50 flex-100" style="z-index: 1;">

        <div class="white-bg ms-widget-front ng-scope" style="overflow:visible">
          <div class="pl-16 pr-8 pv-16 h-90 ng-scope layout-align-space-between-center layout-row" layout="row"
               layout-align="space-between center">
            <div class="h3 ng-binding" style="width:100%;">
              <div style="float:left; width:10%;padding:5px; ">
                <img ng-if="vm.userPhoto" ng-src="{{vm.userPhoto}}"
                     style="width:40px;height:40px;-webkit-border-radius: 100px;-moz-border-radius: 100px;border-radius: 100px;"/>
                <md-icon ng-if="!vm.userPhoto" md-font-icon="icon-account-circle"
                         style="color:#00b591;font-size:37px;"></md-icon>
              </div>
              <div style="float:left;padding:5px;padding-left:20px;width:90%;">
                <div class="lead emoji-picker-container">
                  <textarea rows="4" placeholder="Type here ..." style="width:100%;font-size:25px;border:none;"
                            ng-model="vm.socharaPost" data-emojiable="true" ng-bind="vm.postData"
                            ng-bind-html="expression" maxlength="140"></textarea>
                </div>
              </div>
              <div style="clear: both;"></div>
            </div>

          </div>
          <div ng-show="webCamAreaAvailable" class="p-16 p-20 ng-scope layout-row" layout="row">

            <div style="width:80px;height:80px;" ng-repeat="item in webCamPhoto">

              <img ng-src="{{item}}" style="width:100% !important;height:100%;border:1px solid gainsboro;"/>
              <span
                style="position:absolute;margin-left:50px;margin-top:-80px;padding-left:2px;padding-right: 2px;color:red;background: white;border:1px solid gainsboro;cursor: pointer;"
                ng-click="removeImg($index)"><md-icon md-font-icon="icon-delete"></md-icon></span>
            </div>

          </div>
          <div class="p-16 p-20 ng-scope layout-row" layout="row" ng-show="vm.OGAvailable">
            <div style="background:gainsboro;min-height: 200px;width:100%;">
              <div ng-if="vm.ogData.images"
                   style="float:left;width:30%;height: 100%;background:white;border:1px solid gainsboro;">
                <img ng-src="{{vm.ogData.images}}" style="width:100%; padding:15px;height: 100%;"/>
              </div>
              <div style="float:left;{{vm.ogData.images?'width:70%;':'width:100%;'}}padding:8px;">
                <h5 align="right" ng-click="vm.ogData={};vm.OGAvailable=false;" style="cursor: pointer;color:red;">
                  Remove</h5>
                <h3><strong>{{vm.ogData.title}}</strong></h3>
                <p>{{vm.ogData.description}}</p>
                <p><strong><a href="{{vm.ogData.url}}">{{vm.ogData.url}}</a></strong></p>
              </div>
              <div style="clear: both;"></div>
            </div>

          </div>
          <div style="background:#fafafa;" class="p-16 p-20 ng-scope layout-row" layout="row">
            <div style="width: 40%;">
              <a ng-href="{{webCamPhoto.length>0?'?':'#openWebcamPopUp'}}"
                 rel="{{webCamPhoto.length>0?'?':'modal:open'}}" ng-click="startCam()" style="float:left;"> <span
                class="h4 ml-8"><md-tooltip>Take Photo</md-tooltip><md-icon
                style="cursor: pointer;" md-font-icon="icon-camera"></md-icon></span></a>
              <a ng-href="{{webCamPhoto.length>0?'':'#openGIFPopUp'}}" rel="{{webCamPhoto.length>0?'?':'modal:open'}}"
                 ng-click="GIFPopup()"
                 style="padding-left:10px;float:left;">
                <span
                  class=""><md-tooltip>Add GIF</md-tooltip><img src="/images/logos/giflogo.png"
                                                                style="width:22px;height:21px;"/> </md-icon>
          </span>
              </a>
              <a ng-href="{{webCamPhoto.length>0?'':'#openStickerPopover'}}"
                 rel="{{webCamPhoto.length>0?'?':'modal:open'}}" ng-click="openSticker()" style="float:left;"> <span
                class="h4 ml-8"><md-tooltip>Add Sticker</md-tooltip><md-icon
                style="cursor: pointer;" md-font-icon="icon-panda"></md-icon></span></a>
              <a href="#openOGPopover" rel="modal:open" ng-click="checkURL()" style="float:left;"> <span
                class="h4 ml-8"><md-tooltip>Add Website Metadata</md-tooltip><md-icon
                style="cursor: pointer;" md-font-icon="icon-link-variant"></md-icon></span></a>
              <div style="clear:both;"></div>
            </div>
            <div style="width:60%;text-align:right;">
              <span ng-if="vm.availableSocialAPIPost">Post to <select>
                <option>Facebook</option>
                <option>Instagram</option>
                <option>Twitter</option>
              </select></span>
              <span ng-if="!vm.availableSocialAPIPost">Add Social Account</span>
              <button ng-show="vm.isPost && vm.availableSocialAPIPost"
                      class="md-accent md-raised md-button md-default-theme md-ink-ripple md-button"
                      ng-click="submitSocharaOwnPost()">Post
              </button>
              <button ng-show="!vm.isPost"
                      class="md-accent md-raised md-button md-default-theme md-ink-ripple md-button"
                      ng-click="updateSocharaOwnPost()">Update
              </button>
              &nbsp;&nbsp;
              <button ng-show="!vm.isPost || vm.isPostClicked"
                      class="md-accent md-button md-default-theme md-ink-ripple md-button"
                      ng-click="cancelUpdateSocharaOwnPost();vm.isPostClicked = false;">Cancel
              </button>
            </div>
          </div>
        </div>

        <!-- Front -->
        <!-- / Front -->

      </div>
    </div>

  </div>
  <div ng-show="vm.contentLoading">
    <ms-masonry class="notes" options='{"columnCount":4}'>
      <ms-masonry-item ng-repeat="col in [1,2,3,4,5,6,7,8]"
                       class="note ng-scope placed" ms-note-item="note"
                       style="width: 222px; transform: translate3d(0px, 0px, 0px);">
        <div class="timeline-wrapper">
          <div class="timeline-item">
            <div class="animated-background">
            </div>
          </div>
        </div>
      </ms-masonry-item>
    </ms-masonry>
  </div>
  <div ng-show="noPosts">
    <h2 align="center">No post has been found!</h2>

  </div>
  <div>
    <div ng-show="vm.isFilterAvailable" align="right" style="padding-right:60px;">
      <md-menu class="">

        <md-icon style="font-size:18px;color:dodgerblue;cursor: pointer;" md-font-icon="icon-filter"
                 ng-click="$mdOpenMenu()">Filter
        </md-icon>
        <md-menu-content style="padding:15px;">
          <md-checkbox ng-show="filterSocharaPostsVisible" ng-model="filterSocharaPosts" aria-label="Sochara Posts"
                       ng-change="changeFilter('Sochara Posts', filterSocharaPosts)">
            Sochara Posts
          </md-checkbox>
          <md-checkbox ng-show="filterPostsVisible" ng-model="filterPosts" aria-label="Facebook Posts"
                       ng-change="changeFilter('feed', filterPosts)">
            Facebook Posts
          </md-checkbox>
          <md-checkbox ng-show="filterMusicVisible" ng-model="filterMusic" aria-label="Facebook Music"
                       ng-change="changeFilter('music', filterMusic)">
            Facebook Music
          </md-checkbox>
          <md-checkbox ng-show="filterMoviesVisible" ng-model="filterMovies" aria-label="Facebook Movies"
                       ng-change="changeFilter('movies', filterMovies)">
            Facebook Movies
          </md-checkbox>
          <md-checkbox ng-show="filterBooksVisible" ng-model="filterBooks" aria-label="Facebook Books"
                       ng-change="changeFilter('books', filterBooks)">
            Facebook Books
          </md-checkbox>
          <md-checkbox ng-show="filterTwitterVisible" ng-model="filterTwitter" aria-label="Tweeter Timeline"
                       ng-change="changeFilter('twitter', filterTwitter)">
            Twitter Timeline
          </md-checkbox>
          <md-checkbox ng-show="filterInstagramVisible" ng-model="filterInstagram" aria-label="Instagram Timeline"
                       ng-change="changeFilter('instagram', filterInstagram)">
            Instagram Posts
          </md-checkbox>
        </md-menu-content>
      </md-menu>

    </div>
    <ms-masonry class="notes" options='{"columnCount":4, "respectItemOrder":true}'>
      <ms-masonry-item ng-repeat="fbFeed in currentFbData | orderBy:'created_time':true | selectedTags: vm.tags"
                       class="note ng-scope placed" ms-note-item="note"
                       style="width: 222px; transform: translate3d(0px, 0px, 0px);">
        <ms-widget flippable="true"
                   flex="100" flex-gt-xs="100" flex-gt-md="25" style="padding:0px;">

          <ms-widget-front class="white-bg ms-widget-front ng-scope">
            <!-- Front -->


            <!--music-->
            <div class="pb-15 ng-scope layout-align-start-left layout-column"
                 style="padding-top:0px; !important;flex: 1 0 auto;"
                 layout="column" ng-if="fbFeed.fbApiType==='music'">
              <img ng-if="fbFeed.full_picture" ng-src="{{fbFeed.full_picture}}" style="width:100%;height:auto;"/>
              <div style="font-size:14px;padding-left:10px;padding-right:15px;padding-top:15px;">
                <md-icon ng-if="fbFeed.fbApiType==='music'" md-font-icon="icon-facebook"
                         style="color:dodgerblue;"></md-icon>
                Facebook Music
              </div>
              <div ng-if="fbFeed.message" class="p-15 fw-200"
                   style="color:gray !important; font-size:20px;padding:15px;font-weight:200;"
                   ng-bind-html="fbFeed.message | emoticons:{linkTarget:'_blank'}">
              </div>
              <div class="p-15"
                   style="color:gainsboro !important; font-size:14px;padding-left:15px;padding-right:15px;"
                   ng-bind='fbFeed.created_time | date : "hh.mm a dd-MM-y"'>
              </div>
            </div>

            <!--books-->
            <div class="pb-15 ng-scope layout-align-start-left layout-column"
                 style="padding-top:0px; !important;flex: 1 0 auto;"
                 layout="column" ng-if="fbFeed.fbApiType==='books'">
              <img ng-if="fbFeed.full_picture" ng-src="{{fbFeed.full_picture}}" style="width:100%;height:auto;"/>
              <div style="font-size:14px;padding-left:10px;padding-right:15px;padding-top:15px;">
                <md-icon ng-if="fbFeed.fbApiType==='books'" md-font-icon="icon-facebook"
                         style="color:dodgerblue;"></md-icon>
                Facebook books
              </div>
              <div ng-if="fbFeed.message" class="p-15"
                   style="color:gray !important; font-size:20px;padding:15px;font-weight:200;"
                   ng-bind-html="fbFeed.message | emoticons:{linkTarget:'_blank'}">
              </div>
              <div class="p-15"
                   style="color:gainsboro !important; font-size:14px;padding-left:15px;padding-right:15px;"
                   ng-bind='fbFeed.created_time | date : "hh.mm a dd-MM-y"'>
              </div>
            </div>

            <!--Movies-->
            <div class="pb-15 ng-scope layout-align-start-left layout-column"
                 style="padding-top:0px; !important;flex: 1 0 auto;"
                 layout="column" ng-if="fbFeed.fbApiType==='movies'">
              <img ng-if="fbFeed.full_picture" ng-src="{{fbFeed.full_picture}}" style="width:100%;height:auto"/>
              <div style="font-size:14px;padding-left:10px;padding-right:15px;padding-top:15px;">
                <md-icon ng-if="fbFeed.fbApiType==='movies'" md-font-icon="icon-facebook"
                         style="color:dodgerblue;"></md-icon>
                Facebook Movies
              </div>
              <div ng-if="fbFeed.message" class="p-15"
                   style="color:gray !important; font-size:20px;padding:15px;font-weight:200;"
                   ng-bind-html="fbFeed.message | emoticons:{linkTarget:'_blank'}">
              </div>
              <div class="p-15"
                   style="color:gainsboro !important; font-size:14px;padding-left:15px;padding-right:15px;"
                   ng-bind='fbFeed.created_time | date : "hh.mm a dd-MM-y"'>
              </div>
            </div>
            <!--Feed-->
            <div class="pb-15 ng-scope layout-align-start-left layout-column"
                 style="padding-top:0px; !important;flex: 1 0 auto;"
                 layout="column" ng-if="fbFeed.fbApiType==='feed'">
              <img ng-if="fbFeed.full_picture" ng-src="{{fbFeed.full_picture}}" style="width:100%;height:auto;"/>
              <div style="font-size:14px;padding-left:10px;padding-right:15px;padding-top:15px;">
                <md-icon ng-if="fbFeed.fbApiType==='feed'" md-font-icon="icon-facebook"
                         style="color:dodgerblue;"></md-icon>
                Facebook Feed
              </div>
              <div ng-if="fbFeed.message" class="p-15"
                   style="color:gray !important; font-size:20px;padding:15px;font-weight:200;"
                   ng-bind-html="fbFeed.message | emoticons:{linkTarget:'_blank'}">
              </div>
              <div class="p-15"
                   style="color:gainsboro !important; font-size:14px;padding-left:15px;padding-right:15px;"
                   ng-bind='fbFeed.created_time | date : "hh.mm a dd-MM-y"'>
              </div>
            </div>


            <!--Sochara posts-->
            <div class="pb-15 ng-scope layout-align-start-left layout-column" style="flex: 1 0 auto;"
                 layout="column" ng-if="fbFeed.fbApiType==='Sochara Posts'">
              <div class="layout-wrap layout-row flex-100">
                <div flippable="true" class="" layout="column" flex="100" flex-gt-xs="100" flex-gt-md="100"
                     ng-repeat="photo in fbFeed.photos">
                  <img ng-show="!(photo.indexOf('/sticker') > -1)" ng-src="{{photo}}"
                       style="width:100%;height:auto;"/>
                </div>
              </div>

              <div class="p-20 layout-wrap flex-100">
                <img ng-repeat="photo in fbFeed.photos" ng-show="photo.indexOf('/sticker') > -1" ng-src="{{photo}}"
                     style="width:50px;height:50px; left:0;right: 0;margin:auto;"/>
                <div class="" style="color:gray !important; font-size:20px;padding-top:5px;font-weight:200;"
                     ng-bind-html="fbFeed.message | emoticons:{linkTarget:'_blank'}">
                </div>
              </div>
              <div ng-show="fbFeed.og" ng-if="fbFeed.og.url">
                <div style="border-top:1px solid gainsboro;min-height: 100px;width:100%;">
                  <div ng-if="fbFeed.og.images" style="width:100%;height:150px;">
                    <img ng-src="{{fbFeed.og.images}}" style="width:100%; padding:15px;height: 100%;"/>
                  </div>
                  <div style="padding:10px;background:gainsboro;width:100%;height: auto;">
                    <!--<h5 align="right" ng-click="vm.ogData={};vm.OGAvailable=false;" style="cursor: pointer;">Remove</h5>-->
                    <h3><strong>{{fbFeed.og.title}}</strong></h3>
                    <p>{{fbFeed.og.description}}</p>
                    <p><strong><a href="{{fbFeed.og.url}}">{{fbFeed.og.url}}</a></strong></p>
                  </div>
                </div>
              </div>
              <div class="" style="color:gainsboro !important; font-size:14px;padding:0px 20px 0px 20px;"
                   ng-bind='fbFeed.created_time | date : "hh.mm a dd-MM-y"'>
              </div>
            </div>

            <!--Twitter posts-->
            <div class="pb-15 ng-scope layout-align-start-left layout-column" style="flex: 1 0 auto;"
                 layout="column" ng-if="fbFeed.fbApiType==='twitter'">

              <div class="layout-wrap layout-row flex-100">
                <div flippable="true" class="" layout="column" flex="100" flex-gt-xs="100" flex-gt-md="100"
                     ng-repeat="photo in fbFeed.media">
                  <img ng-src="{{photo.media_url}}"
                       style="width:100%;height:auto;"/>
                </div>
              </div>
              <div style="font-size:14px;padding-left:10px;padding-right:15px;padding-top:15px;">
                <md-icon md-font-icon="icon-twitter"
                         style="color:dodgerblue;"></md-icon>
                Twitter Timeline
              </div>
              <div class="p-20 layout-wrap flex-100">
                <div class="" style="color:gray !important; font-size:20px;padding-top:5px;font-weight:200;"
                     ng-bind-html="fbFeed.text | emoticons:{linkTarget:'_blank'}">
                </div>
              </div>
              <div class="p-10 layout-wrap flex-100"
                   style="margin:5px;box-shadow:0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);"
                   ng-if="fbFeed.quoted_status">
                <div style="float:left;width:20%;">
                  <img src="https://twitter.com/{{fbFeed.quoted_status.user.screen_name}}/profile_image?size=mini"
                       style="width:100%;"/>
                </div>
                <div style="float:left;width:80%;padding-left:5px;">
                  <strong>{{fbFeed.quoted_status.user.name}} <span style="color:gainsboro;">@{{fbFeed.quoted_status.user.screen_name}}</span>
                  </strong>
                  <p>{{fbFeed.quoted_status.text}}</p>
                </div>
                <div style="clear:both"></div>
              </div>
              <div class="" style="color:gainsboro !important; font-size:14px;padding:0px 20px 0px 20px;"
                   ng-bind='fbFeed.created_time | date : "hh.mm a dd-MM-y"'>
              </div>
            </div>

            <!--Instagram posts-->
            <div class="pb-15 ng-scope layout-align-start-left layout-column" style="flex: 1 0 auto;"
                 layout="column" ng-if="fbFeed.fbApiType==='instagram'">

              <div class="layout-wrap layout-row flex-100">
                <div flippable="true" class="" layout="column" flex="100" flex-gt-xs="100" flex-gt-md="100"
                     ng-if="fbFeed.image">
                  <img ng-src="{{fbFeed.image}}"
                       style="width:100%;height:auto;"/>
                </div>
              </div>
              <div style="font-size:14px;padding-left:10px;padding-right:15px;padding-top:15px;">
                <md-icon md-font-icon="icon-instagram"
                         style="color:dodgerblue;"></md-icon>
                Instagram Posts
              </div>
              <div class="p-20 layout-wrap flex-100">
                <div class="" style="color:gray !important; font-size:20px;padding-top:5px;font-weight:200;"
                     ng-bind-html="fbFeed.caption | emoticons:{linkTarget:'_blank'}">
                </div>
              </div>

              <div class="" style="color:gainsboro !important; font-size:14px;padding:0px 20px 0px 20px;"
                   ng-bind='fbFeed.created_time | date : "hh.mm a dd-MM-y"'>
              </div>
            </div>
            <!--End-->

            <!--/ Front-->
            <!--Tailer-->
            <!--Sochara posts-->
            <div ng-if="fbFeed.fbApiType==='Sochara Posts'"
                 class="pl-16 pr-8 pv-16 h-55 ng-scope layout-align-space-between-center layout-row" layout="row"
                 layout-align="space-between center">
              <div class="h3 ng-binding">
                <img
                  style="border:1px solid dodgerblue;width:40px;height: 40px;-webkit-border-radius: 200px;-moz-border-radius: 200px;border-radius: 200px"
                  class="logo sochara" src="../images/logos/dash_logo.png"/>
                <span style="line-height:3;font-size:15px;">Sochara Posts</span>
              </div>
              <div id="rmSocharaPostConfirm" style="display: none;">
                <h2> Do you want to remove the post?</h2>
                <button class="md-accent md-raised md-button md-default-theme md-ink-ripple md-button"
                        ng-click="vm.cancelConfirm()">No
                </button>
                <button class="md-warn md-raised md-button md-default-theme md-ink-ripple md-button"
                        ng-click="vm.removeSocharaPost(vm.currentSocharPostId)">Yes
                </button>
              </div>
              <md-menu class="" ng-if="fbFeed.fbApiType==='Sochara Posts'">
                <md-icon style="cursor: pointer;" md-font-icon="icon-dots-vertical"
                         ng-click="$mdOpenMenu()"></md-icon>
                <md-menu-content>
                  <md-menu-item ng-if="fbFeed.fbApiType==='Sochara Posts'"><a href="#rmSocharaPostConfirm"
                                                                              rel="modal:open"><span
                    style="cursor:pointer;color:black;" ng-click="rmSocharaPostIndex(fbFeed.id)">
                  <md-icon md-font-icon="icon-delete"></md-icon>Remove Post</span> </a></md-menu-item>
                  <md-menu-item ng-if="fbFeed.fbApiType==='Sochara Posts'"><a href="#postAreaScroll"><span
                    style="cursor:pointer;color:black;" ng-click="editSocharaPostIndex(fbFeed.id)">
                  <md-icon md-font-icon="icon-sync"></md-icon>Edit Post</span></a></md-menu-item>
                </md-menu-content>
              </md-menu>

            </div>

            <!--Twitter-->
            <div ng-if="fbFeed.fbApiType ==='twitter'"
                 class="pl-16 pr-8 pv-16 h-55 ng-scope layout-align-space-between-center layout-row" layout="row"
                 layout-align="space-between center">
              <div class="h3 ng-binding">
                <img
                  style="float:left;width:40px;height: 40px;-webkit-border-radius: 200px;-moz-border-radius: 200px;border-radius: 200px"
                  class="logo sochara" ng-src="https://twitter.com/{{fbFeed.screen_name}}/profile_image?size=mini"
                  class="cardAvatar"/>
                <span style="float:left;padding-left:5px;font-size:15px;">{{fbFeed.user_name}}<br><span
                  style="color:#dcdcdc;">@{{fbFeed.screen_name}}</span> </span>
                <div style="clear: both;"></div>
              </div>

              <md-menu class="">
                <md-icon style="cursor: pointer;" md-font-icon="icon-dots-vertical"
                         ng-click="$mdOpenMenu()"></md-icon>
                <md-menu-content>
                  <md-menu-item><a ng-href="https://twitter.com/{{fbFeed.screen_name}}/status/{{fbFeed.post_id}}"
                                   target="_blank"><span
                    style="cursor:pointer;color:black;text-decoration: none;">Go to Post</span></a>
                  </md-menu-item>
                </md-menu-content>
              </md-menu>

            </div>

            <!--Instagrma-->
            <div ng-if="fbFeed.fbApiType ==='instagram'"
                 class="pl-16 pr-8 pv-16 h-55 ng-scope layout-align-space-between-center layout-row" layout="row"
                 layout-align="space-between center">
              <div class="h3 ng-binding">
                <img
                  style="width:40px;height: 40px;-webkit-border-radius: 200px;-moz-border-radius: 200px;border-radius: 200px"
                  class="logo sochara" ng-src="{{fbFeed.profilePicture}}" class="cardAvatar"/>
                <span style="padding-left:5px;font-size:15px; line-height: 3;">{{fbFeed.userName}}</span>
              </div>

              <md-menu class="">
                <md-icon style="cursor: pointer;" md-font-icon="icon-dots-vertical"
                         ng-click="$mdOpenMenu()"></md-icon>
                <md-menu-content>
                  <md-menu-item><a ng-href="{{fbFeed.link}}" target="_blank"><span
                    style="cursor:pointer;color:black;text-decoration: none;">Go to Post</span></a>
                  </md-menu-item>
                </md-menu-content>
              </md-menu>

            </div>
            <!--Feed-->
            <div ng-if="fbFeed.fbApiType ==='feed'"
                 class="pl-16 pr-8 pv-16 h-55 ng-scope layout-align-space-between-center layout-row" layout="row"
                 layout-align="space-between center">
              <div class="h3 ng-binding">
                <img
                  style="width:40px;height: 40px;-webkit-border-radius: 200px;-moz-border-radius: 200px;border-radius: 200px"
                  class="logo sochara" ng-src="//graph.facebook.com/{{fbFeed.from.id}}/picture" class="cardAvatar"/>
                <span style="line-height:3;font-size:15px;">{{fbFeed.from.name}}</span>
              </div>

              <md-menu class="">
                <md-icon style="cursor: pointer;" md-font-icon="icon-dots-vertical"
                         ng-click="$mdOpenMenu()"></md-icon>
                <md-menu-content>
                  <md-menu-item><a ng-href="" target="_blank"><span
                    style="cursor:pointer;color:black;text-decoration: none;">Go to Post</span></a>
                  </md-menu-item>
                </md-menu-content>
              </md-menu>

            </div>
            <!--Movies-->

            <div ng-if="fbFeed.fbApiType ==='movies'"
                 class="pl-16 pr-8 pv-16 h-55 ng-scope layout-align-space-between-center layout-row" layout="row"
                 layout-align="space-between center">
              <div class="h3 ng-binding">
                <img
                  style="width:40px;height: 40px;-webkit-border-radius: 200px;-moz-border-radius: 200px;border-radius: 200px"
                  class="logo sochara" ng-src="//graph.facebook.com/{{fbFeed.from.id}}/picture" class="cardAvatar"/>
                <span style="line-height:3;font-size:15px;">{{fbFeed.from.name}}</span>
              </div>

              <md-menu class="">
                <md-icon style="cursor: pointer;" md-font-icon="icon-dots-vertical"
                         ng-click="$mdOpenMenu()"></md-icon>
                <md-menu-content>
                  <md-menu-item><a ng-href="https://www.facebook.com/{{fbFeed.id}}" target="_blank"><span
                    style="cursor:pointer;color:black;text-decoration: none;">Go to Post</span></a>
                  </md-menu-item>
                </md-menu-content>
              </md-menu>

            </div>

            <!--music-->
            <div ng-if="fbFeed.fbApiType ==='music'"
                 class="pl-16 pr-8 pv-16 h-55 ng-scope layout-align-space-between-center layout-row" layout="row"
                 layout-align="space-between center">
              <div class="h3 ng-binding">
                <img
                  style="width:40px;height: 40px;-webkit-border-radius: 200px;-moz-border-radius: 200px;border-radius: 200px"
                  class="logo sochara" ng-src="//graph.facebook.com/{{fbFeed.from.id}}/picture" class="cardAvatar"/>
                <span style="line-height:3;font-size:15px;">{{fbFeed.from.name}}</span>
              </div>

              <md-menu class="">
                <md-icon style="cursor: pointer;" md-font-icon="icon-dots-vertical"
                         ng-click="$mdOpenMenu()"></md-icon>
                <md-menu-content>
                  <md-menu-item><a ng-href="https://www.facebook.com/{{fbFeed.id}}" target="_blank"><span
                    style="cursor:pointer;color:black;text-decoration: none;">Go to Post</span></a>
                  </md-menu-item>
                </md-menu-content>
              </md-menu>

            </div>

            <!--books-->
            <div ng-if="fbFeed.fbApiType ==='books'"
                 class="pl-16 pr-8 pv-16 h-55 ng-scope layout-align-space-between-center layout-row" layout="row"
                 layout-align="space-between center">
              <div class="h3 ng-binding">
                <img
                  style="width:40px;height: 40px;-webkit-border-radius: 200px;-moz-border-radius: 200px;border-radius: 200px"
                  class="logo sochara" ng-src="//graph.facebook.com/{{fbFeed.from.id}}/picture" class="cardAvatar"/>
                <span style="line-height:3;font-size:15px;">{{fbFeed.from.name}}</span>
              </div>

              <md-menu class="">
                <md-icon style="cursor: pointer;" md-font-icon="icon-dots-vertical"
                         ng-click="$mdOpenMenu()"></md-icon>
                <md-menu-content>
                  <md-menu-item><a ng-href="https://www.facebook.com/{{fbFeed.id}}" target="_blank"><span
                    style="cursor:pointer;color:black;text-decoration: none;">Go to Post</span></a>
                  </md-menu-item>
                </md-menu-content>
              </md-menu>

            </div>
          </ms-widget-front>

        </ms-widget>
      </ms-masonry-item>

    </ms-masonry>

  </div>
  <div id="openWebcamPopUp" style="display: none;">
    <h2>Take Camera Photo</h2>
    <hr>
    <h3 id="webcamPermissionNote">Taking photo using your device Camera requires permission. Make sure you permit your
      browser to do that.</h3>
    <div id="my_camera" align="center"></div>
    <button class="md-accent md-raised md-button md-default-theme md-ink-ripple" ng-click="takePhoto()">Take Photo
    </button>
    &nbsp;&nbsp;
    <button class="md-accent md-raised md-button md-default-theme md-ink-ripple" ng-click="stopCam()">Cancel</button>
  </div>
  <div id="openGIFPopUp" style="display: none;width:450px;">
    <md-input-container md-no-float class="md-block">
      <md-icon><strong>GIF</strong></md-icon>
      <input ng-model="vm.searchGIFTerm" type="text" placeholder="Search for GIF">
      <md-icon>
        <button ng-click="searchGIFCategory(vm.searchGIFTerm)">
          <md-icon md-font-icon="icon-magnify"></md-icon>
        </button>
      </md-icon>

    </md-input-container>
    <md-progress-linear md-mode="determinate" value="{{vm.determinateValue}}"
                        ng-show="vm.progressBarLinear"></md-progress-linear>
    <span style="font-weight: bold;padding:5px;">{{vm.gifCategory | uppercase}}</span>
    <div style="width:400px;padding:5px; height: 500px;overflow-y: scroll">
      <div class="selectGIF" style="height:215px;width:376px;padding:5px;border:2px solid gainsboro;"
           ng-repeat="gifImage in vm.gifImages" ng-click="gifImageUrlSelected(gifImage.images.fixed_width_small.url)">
        <img ng-src="{{gifImage.images.fixed_height.url}}" style="width:100%;height: 200px;"/>
      </div>
    </div>
  </div>

  <div id="openStickerPopover" style="display:none;">

    <div ng-show="!vm.singleStickerCategory">
      <h2>Stickers</h2>
      <hr>
      <div layout="row" flex="100">
        <div layout="column" flex-gt-xs="100" flex-gt-md="50">
          <md-button class="stickerContainerButton" style="background:#ffcc00;color:white;"
                     ng-click="singleStickerCategoryContent('happy')"><img
            src="/images/sticker/happy/851585_457535134356739_1793815498_n.png"
            style="width:25px;height:25px;"/>&nbsp;Happy
          </md-button>
        </div>
        <div layout="column" flex-gt-xs="100" flex-gt-md="50">
          <md-button class="stickerContainerButton" style="background:#f64e88;color:white;"
                     ng-click="singleStickerCategoryContent('love')"><img
            src="/images/sticker/love/851555_167788120085141_1443830988_n.png"
            style="width:25px;height:25px;"/>&nbsp;In Love
          </md-button>
        </div>
      </div>
      <div layout="row" flex="100">
        <div layout="column" flex-gt-xs="100" flex-gt-md="50">
          <md-button class="stickerContainerButton" style="background:#a9a192;color:white;"
                     ng-click="singleStickerCategoryContent('sad')"><img
            src="/images/sticker/sad/851561_209575249232977_2047638115_n.png"
            style="width:25px;height:25px;"/>&nbsp;Sad
          </md-button>
        </div>
        <div layout="column" flex-gt-xs="100" flex-gt-md="50">
          <md-button class="stickerContainerButton" style="background:#fc8a0f;color:white;"
                     ng-click="singleStickerCategoryContent('eating')"><img
            src="/images/sticker/eating/851562_575284782557566_1188781517_n.png"
            style="width:25px;height:25px;"/>&nbsp;Eating
          </md-button>
        </div>
      </div>
      <div layout="row" flex="100">
        <div layout="column" flex-gt-xs="100" flex-gt-md="50">
          <md-button class="stickerContainerButton" style="background:#19b596;color:white;"
                     ng-click="singleStickerCategoryContent('working')"><img
            src="/images/sticker/working/851546_1403156116629639_2010866695_n.png"
            style="width:25px;height:25px;"/>&nbsp;Working
          </md-button>
        </div>
        <div layout="column" flex-gt-xs="100" flex-gt-md="50">
          <md-button class="stickerContainerButton" style="background:#9571a9;color:white;"
                     ng-click="singleStickerCategoryContent('sleeping')"><img
            src="/images/sticker/sleeping/851585_499671190115384_1378731867_n.png"
            style="width:25px;height:25px;"/>&nbsp;Sleeping
          </md-button>
        </div>
      </div>
      <div layout="row" flex="100">
        <div layout="column" flex-gt-xs="100" flex-gt-md="50">
          <md-button class="stickerContainerButton" style="background:#ed513e;color:white;"
                     ng-click="singleStickerCategoryContent('angry')"><img
            src="/images/sticker/angry/851589_460938524027996_480764554_n.png"
            style="width:25px;height:25px;"/>&nbsp;Angry
          </md-button>
        </div>
        <div layout="column" flex-gt-xs="100" flex-gt-md="50">
          <md-button class="stickerContainerButton" style="background:#b37736;color:white;"
                     ng-click="singleStickerCategoryContent('confused')"><img
            src="/images/sticker/confused/10333099_298592843654248_1165763952_n.png"
            style="width:25px;height:25px;"/>&nbsp;Confused
          </md-button>
        </div>
      </div>
      <div layout="row" flex="100">

        <div layout="column" flex-gt-xs="100" flex-gt-md="50">
          <md-button class="stickerContainerButton" style="background:#95c63f;color:white;"
                     ng-click="singleStickerCategoryContent('celebrating')"><img
            src="/images/sticker/celebrating/851561_631487310212677_1963526595_n.png"
            style="width:25px;height:25px;"/>&nbsp;Celebrating
          </md-button>
        </div>
        <div layout="column" flex-gt-xs="100" flex-gt-md="50">
          <md-button class="stickerContainerButton" style="background:#54c6e3;color:white;"
                     ng-click="singleStickerCategoryContent('active')"><img
            src="/images/sticker/active/851551_457535247690061_611067760_n.png"
            style="width:25px;height:25px;"/>&nbsp;Active
          </md-button>
        </div>


      </div>

    </div>
    <div ng-show="vm.singleStickerCategory">
   <span style="cursor:pointer;" ng-click="vm.singleStickerCategory=false;vm.singleStickerCategoryName=[];"><md-icon
     md-font-icon="icon-arrow-left-bold-circle"></md-icon>
    Back</span>
      <hr>
      <h3 style="font-weight: bold;">{{vm.singleStickerCategoryName | uppercase}}</h3>
      <md-progress-linear md-mode="determinate" value="{{vm.determinateValue}}"
                          ng-show="vm.progressBarLinearSticker"></md-progress-linear>
      <div>
        <div class="layout-wrap layout-row flex-100">
          <div class="selectGIF" layout="column" flex-gt-xs="25" flex-gt-md="25"
               ng-repeat="sticker in vm.singleStickerCategoryArray">
            <img ng-src="{{'/images/sticker/'+vm.singleStickerCategoryName+'/'+sticker}}"
                 style="width:100%;height:auto;padding:23px;" ng-click="selectedSticker(sticker)"/>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="openOGPopover" style="display:none;">
    <h3>Show Metadata from URL</h3>
    <hr>
    <md-progress-linear md-mode="determinate" value="{{vm.determinateValue}}"
                        ng-show="vm.progressBarLinearOGData"></md-progress-linear>
    <h4>Available URL(s)</h4>

    <md-radio-group ng-model="vm.selectedURL">
      <md-radio-button ng-repeat="siteURL in vm.availableOG" value="{{siteURL}}" class="md-primary">
        <strong>{{siteURL}}</strong>
      </md-radio-button>
    </md-radio-group>
    <h5 ng-show="vm.availableOG.length<1">No URL(s) found. Make Sure you entered the URL in right format (e.g.-
      http://www.example.com)</h5>
    <button ng-show="vm.availableOG.length>0" class="md-accent md-raised md-button md-default-theme md-ink-ripple"
            ng-click="getOGdata()">Add
    </button>
  </div>

</div>
