<style>
  .even-odd.profile-list span {
    padding-left: 5px;
  }

  .md-chips md-chip {
    padding: 0 28px 0 0;
    min-width: 200px;
  }

  .md-chip-text-avatar {
    padding: 0 11px;
    display: inline-block;
    background-color: #53d8dc;
    font-weight: bold;
    color: white !important;
    border-radius: 16px;
    margin: 0px;
  }

  md-chips.md-default-theme .md-chips, md-chips .md-chips {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  md-chips.md-default-theme md-chip, md-chips md-chip {
    padding-left: 1px;
  }
</style>
<div ng-cloak class="vertical-tab">
  <md-content class="md-whiteframe-2dp">
    <md-tabs md-dynamic-height md-border-bottom>

      <md-tab label="General Information">
        <md-content class="md-padding-content bbtm">
          <div layout="row" class="tab-content-heading">
            <div flex>
              <h3 class="tab-content-title">General Information</h3>
            </div>
            <div flex class="right" vlb>
              <md-icon md-menu-origin="" text-nav ng-click="vm.profileGeneralSettings()">Edit</md-icon>
            </div>
          </div>
          <div layout="row">
            <div flex="20">
              <span>Name</span>
            </div>
            <div flex="60">
              <p>{{vm.contact.first_name}}{{vm.contact.middle_name?' '+vm.contact.middle_name:''}}{{vm.contact.last_name?' '+vm.contact.last_name:''}}</p>
            </div>

          </div>

          <div layout="row">
            <div flex="20">
              <span>Birthday</span>
            </div>
            <div flex="60">
              <p>{{vm.dateParser(vm.contact.date_birth) | date : "dd-MM-y"}}</p>
            </div>
            <div flex="20" class="right">

              <md-menu md-position-mode="target-right target">
                <md-icon md-menu-origin="" md-font-icon="{{vm.setAttributePrivacyIcon('bday')}}"
                         ng-click="$mdMenu.open($event)"></md-icon>
                <md-menu-content width="3">
                  <md-menu-item>
                    <md-button ng-click="vm.attributePrivacy('bday', 'public')">
                      <md-icon md-menu-origin="" md-font-icon="icon-earth"></md-icon>
                      Public
                    </md-button>
                  </md-menu-item>
                  <md-menu-item>
                    <md-button ng-click="vm.attributePrivacy('bday', 'friends')">
                      <md-icon md-menu-origin="" md-font-icon="icon-account-multiple-outline"></md-icon>
                      Friends
                    </md-button>
                  </md-menu-item>
                  <md-menu-item>
                    <md-button ng-click="vm.attributePrivacy('bday', 'onlyMe')">
                      <md-icon md-menu-origin="" md-font-icon="icon-eye-off"></md-icon>
                      Only me
                    </md-button>
                  </md-menu-item>
                </md-menu-content>
              </md-menu>
            </div>
          </div>
          <div layout="row">
            <div flex="20">
              <span>Anniversary</span>
            </div>
            <div flex="60">
              <p>{{vm.contact.date_anniversary | date : "dd-MM-y"}}</p>
            </div>
            <div flex="20" class="right">

              <md-menu md-position-mode="target-right target">
                <md-icon md-menu-origin="" md-font-icon="{{vm.setAttributePrivacyIcon('anniversary')}}"
                         ng-click="$mdMenu.open($event)"></md-icon>
                <md-menu-content width="3">
                  <md-menu-item>
                    <md-button ng-click="vm.attributePrivacy('anniversary', 'public')">
                      <md-icon md-menu-origin="" md-font-icon="icon-earth"></md-icon>
                      Public
                    </md-button>
                  </md-menu-item>
                  <md-menu-item>
                    <md-button ng-click="vm.attributePrivacy('anniversary', 'friends')">
                      <md-icon md-menu-origin="" md-font-icon="icon-account-multiple-outline"></md-icon>
                      Friends
                    </md-button>
                  </md-menu-item>
                  <md-menu-item>
                    <md-button ng-click="vm.attributePrivacy('anniversary', 'onlyMe')">
                      <md-icon md-menu-origin="" md-font-icon="icon-eye-off"></md-icon>
                      Only me
                    </md-button>
                  </md-menu-item>
                </md-menu-content>
              </md-menu>
            </div>
          </div>

          <div layout="row">
            <div flex="20">
              <span>Notes</span>
            </div>
            <div flex="60">
              <p>{{vm.contact.notes}}</p>
            </div>
            <div flex="20" class="right">

              <md-menu md-position-mode="target-right target">
                <md-icon md-menu-origin="" md-font-icon="{{vm.setAttributePrivacyIcon('notes')}}"
                         ng-click="$mdMenu.open($event)"></md-icon>
                <md-menu-content width="3">
                  <md-menu-item>
                    <md-button ng-click="vm.attributePrivacy('notes', 'public')">
                      <md-icon md-menu-origin="" md-font-icon="icon-earth"></md-icon>
                      Public
                    </md-button>
                  </md-menu-item>
                  <md-menu-item>
                    <md-button ng-click="vm.attributePrivacy('notes', 'friends')">
                      <md-icon md-menu-origin="" md-font-icon="icon-account-multiple-outline"></md-icon>
                      Friends
                    </md-button>
                  </md-menu-item>
                  <md-menu-item>
                    <md-button ng-click="vm.attributePrivacy('notes', 'onlyMe')">
                      <md-icon md-menu-origin="" md-font-icon="icon-eye-off"></md-icon>
                      Only me
                    </md-button>
                  </md-menu-item>
                </md-menu-content>
              </md-menu>
            </div>
          </div>
          <div layout="row" ng-repeat="item in vm.contact.profGenSetAddItemAmount" ng-if="item.value">
            <div flex="20">
              <span>{{item.label}}</span>
            </div>
            <div flex="60">
              <p>{{item.value}}</p>
            </div>
            <div flex="20" class="right">

              <md-menu md-position-mode="target-right target">
                <md-icon md-menu-origin="" md-font-icon="{{vm.setAttributePrivacyIcon(item.label)}}"
                         ng-click="$mdMenu.open($event)"></md-icon>
                <md-menu-content width="3">
                  <md-menu-item>
                    <md-button ng-click="vm.attributePrivacy(item.label, 'public')">
                      <md-icon md-menu-origin="" md-font-icon="icon-earth"></md-icon>
                      Public
                    </md-button>
                  </md-menu-item>
                  <md-menu-item>
                    <md-button ng-click="vm.attributePrivacy('item.label', 'friends')">
                      <md-icon md-menu-origin="" md-font-icon="icon-account-multiple-outline"></md-icon>
                      Friends
                    </md-button>
                  </md-menu-item>
                  <md-menu-item>
                    <md-button ng-click="vm.attributePrivacy(item.label, 'onlyMe')">
                      <md-icon md-menu-origin="" md-font-icon="icon-eye-off"></md-icon>
                      Only me
                    </md-button>
                  </md-menu-item>
                </md-menu-content>
              </md-menu>
            </div>
          </div>
        </md-content>
      </md-tab>

      <md-tab label="Contact">
        <md-content class="md-padding-content bbtm">
          <div layout="row" class="tab-content-heading">
            <div flex>
              <h3 class="tab-content-title">Contact</h3>
            </div>
            <div flex class="right" vlb>
              <span style="cursor:pointer;" class="btn" ng-click="vm.profileContactSettings()">Edit</span>
            </div>
          </div>
          <div layout="row">
            <div flex="20">
              <span>Address</span>
            </div>
            <div flex="80" npad>
              <div layout="row">
                <div flex="80">
                  <span>Home</span>
                  <p>{{vm.contact.address[0].address.street}} {{vm.contact.address[0].address.city}}<br>
                    {{vm.contact.address[0].address.state}} {{vm.contact.address[0].address.zip}}
                    {{vm.contact.address[0].address.country}}
                  </p>
                </div>
                <div flex="20" class="right">
                  <md-menu md-position-mode="target-right target">
                    <md-icon md-menu-origin="" md-font-icon="{{vm.setAttributePrivacyIcon('address_home')}}"
                             ng-click="$mdMenu.open($event)"></md-icon>
                    <md-menu-content width="3">
                      <md-menu-item>
                        <md-button ng-click="vm.attributePrivacy('address_home', 'public')">
                          Public
                        </md-button>
                      </md-menu-item>
                      <md-menu-item>
                        <md-button ng-click="vm.attributePrivacy('address_home','friends')">
                          Friends
                        </md-button>
                      </md-menu-item>
                      <md-menu-item>
                        <md-button ng-click="vm.attributePrivacy('address_home','onlyMe')">
                          Only me
                        </md-button>
                      </md-menu-item>
                    </md-menu-content>
                  </md-menu>
                </div>
              </div>
              <div layout="row">
                <div flex="80">
                  <span>Work</span>
                  <p>{{vm.contact.address[1].address.street}} {{vm.contact.address[1].address.city}}<br>
                    {{vm.contact.address[1].address.state}} {{vm.contact.address[1].address.zip}}
                    {{vm.contact.address[1].address.country}}
                  </p>
                </div>
                <div flex="20" class="right">
                  <md-menu md-position-mode="target-right target">
                    <md-icon md-menu-origin="" md-font-icon="{{vm.setAttributePrivacyIcon('address_work')}}"
                             ng-click="$mdMenu.open($event)"></md-icon>
                    <md-menu-content width="3">
                      <md-menu-item>
                        <md-button ng-click="vm.attributePrivacy('address_work','public')">
                          Public
                        </md-button>
                      </md-menu-item>
                      <md-menu-item>
                        <md-button ng-click="vm.attributePrivacy('address_work','friends')">
                          Friends
                        </md-button>
                      </md-menu-item>
                      <md-menu-item>
                        <md-button ng-click="vm.attributePrivacy('address_work','onlyMe')">
                          Only me
                        </md-button>
                      </md-menu-item>
                    </md-menu-content>
                  </md-menu>
                </div>
              </div>

            </div>
          </div>
          <div layout="row">
            <div flex="20">
              <span>Phone</span>
            </div>
            <div flex="80" npad>
              <div layout="row">
                <div flex="80">
                  <span>Home</span>
                  <p>{{vm.contact.phone[0].number}}</p>
                </div>
                <div flex="20" class="right">
                  <md-menu md-position-mode="target-right target">
                    <md-icon md-menu-origin="" md-font-icon="{{vm.setAttributePrivacyIcon('phone_main')}}"
                             ng-click="$mdMenu.open($event)"></md-icon>
                    <md-menu-content width="3">
                      <md-menu-item>
                        <md-button ng-click="vm.attributePrivacy('phone_main','public')">
                          Public
                        </md-button>
                      </md-menu-item>
                      <md-menu-item>
                        <md-button ng-click="vm.attributePrivacy('phone_main','friends')">
                          Friends
                        </md-button>
                      </md-menu-item>
                      <md-menu-item>
                        <md-button ng-click="vm.attributePrivacy('phone_main','onlyMe')">
                          Only me
                        </md-button>
                      </md-menu-item>
                    </md-menu-content>
                  </md-menu>
                </div>
              </div>
              <div layout="row">
                <div flex="80">
                  <span>Work</span>
                  <p>{{vm.contact.phone[1].number}}</p>
                </div>
                <div flex="20" class="right">
                  <md-menu md-position-mode="target-right target">
                    <md-icon md-menu-origin="" md-font-icon="{{vm.setAttributePrivacyIcon('phone_work')}}"
                             ng-click="$mdMenu.open($event)"></md-icon>
                    <md-menu-content width="3">
                      <md-menu-item>
                        <md-button ng-click="vm.attributePrivacy('phone_work','public')">
                          Public
                        </md-button>
                      </md-menu-item>
                      <md-menu-item>
                        <md-button ng-click="vm.attributePrivacy('phone_work','friends')">
                          Friends
                        </md-button>
                      </md-menu-item>
                      <md-menu-item>
                        <md-button ng-click="vm.attributePrivacy('phone_work','onlyMe')">
                          Only me
                        </md-button>
                      </md-menu-item>
                    </md-menu-content>
                  </md-menu>
                </div>
              </div>
              <div layout="row">
                <div flex="80">
                  <span>Other</span>
                  <p>{{vm.contact.phone[2].number}}</p>
                </div>
                <div flex="20" class="right">
                  <md-menu md-position-mode="target-right target">
                    <md-icon md-menu-origin="" md-font-icon="{{vm.setAttributePrivacyIcon('phone_other')}}"
                             ng-click="$mdMenu.open($event)"></md-icon>
                    <md-menu-content width="3">
                      <md-menu-item>
                        <md-button ng-click="vm.attributePrivacy('phone_other','public')">
                          Public
                        </md-button>
                      </md-menu-item>
                      <md-menu-item>
                        <md-button ng-click="vm.attributePrivacy('phone_other','friends')">
                          Friends
                        </md-button>
                      </md-menu-item>
                      <md-menu-item>
                        <md-button ng-click="vm.attributePrivacy('phone_other','onlyMe')">
                          Only me
                        </md-button>
                      </md-menu-item>
                    </md-menu-content>
                  </md-menu>
                </div>
              </div>
            </div>
          </div>
          <div layout="row">
            <div flex="20">
              <span>Website</span>
            </div>
            <div flex="60">
              <p>{{vm.contact.url_home}}</p>
            </div>
            <div flex="20" class="right">

              <md-menu md-position-mode="target-right target">
                <md-icon md-menu-origin="" md-font-icon="{{vm.setAttributePrivacyIcon('website')}}"
                         ng-click="$mdMenu.open($event)"></md-icon>
                <md-menu-content width="3">
                  <md-menu-item>
                    <md-button ng-click="vm.attributePrivacy('website','public')">
                      Public
                    </md-button>
                  </md-menu-item>
                  <md-menu-item>
                    <md-button ng-click="vm.attributePrivacy('website','friends')">
                      Friends
                    </md-button>
                  </md-menu-item>
                  <md-menu-item>
                    <md-button ng-click="vm.attributePrivacy('website','onlyMe')">
                      Only me
                    </md-button>
                  </md-menu-item>
                </md-menu-content>
              </md-menu>
            </div>
          </div>
          <div layout="row">
            <div flex="20">
              <span>Email</span>
            </div>
            <div flex="80" npad>
              <div layout="row">
                <div flex="80">
                  <span>Home</span>
                  <p>{{vm.contact.emails[0].address}}</p>
                </div>
                <div flex="20" class="right">
                  <md-menu md-position-mode="target-right target">
                    <md-icon md-menu-origin="" md-font-icon="{{vm.setAttributePrivacyIcon('email_home')}}"
                             ng-click="$mdMenu.open($event)"></md-icon>
                    <md-menu-content width="3">
                      <md-menu-item>
                        <md-button ng-click="vm.attributePrivacy('email_home','public')">
                          Public
                        </md-button>
                      </md-menu-item>
                      <md-menu-item>
                        <md-button ng-click="vm.attributePrivacy('email_home','friends')">
                          Friends
                        </md-button>
                      </md-menu-item>
                      <md-menu-item>
                        <md-button ng-click="vm.attributePrivacy('email_home','onlyMe')">
                          Only me
                        </md-button>
                      </md-menu-item>
                    </md-menu-content>
                  </md-menu>
                </div>
              </div>
              <div layout="row">
                <div flex="80">
                  <span>Work</span>
                  <p>{{vm.contact.emails[1].address}}</p>
                </div>
                <div flex="20" class="right">
                  <md-menu md-position-mode="target-right target">
                    <md-icon md-menu-origin="" md-font-icon="{{vm.setAttributePrivacyIcon('email_work')}}"
                             ng-click="$mdMenu.open($event)"></md-icon>
                    <md-menu-content width="3">
                      <md-menu-item>
                        <md-button ng-click="vm.attributePrivacy('email_work','public')">
                          Public
                        </md-button>
                      </md-menu-item>
                      <md-menu-item>
                        <md-button ng-click="vm.attributePrivacy('email_work','friends')">
                          Friends
                        </md-button>
                      </md-menu-item>
                      <md-menu-item>
                        <md-button ng-click="vm.attributePrivacy('email_work','onlyMe')">
                          Only me
                        </md-button>
                      </md-menu-item>
                    </md-menu-content>
                  </md-menu>
                </div>
              </div>
              <div layout="row">
                <div flex="80">
                  <span>Other</span>
                  <p>{{vm.contact.emails[2].address}}</p>
                </div>
                <div flex="20" class="right">
                  <md-menu md-position-mode="target-right target">
                    <md-icon md-menu-origin="" md-font-icon="{{vm.setAttributePrivacyIcon('email_other')}}"
                             ng-click="$mdMenu.open($event)"></md-icon>
                    <md-menu-content width="3">
                      <md-menu-item>
                        <md-button ng-click="vm.attributePrivacy('email_other','public')">
                          Public
                        </md-button>
                      </md-menu-item>
                      <md-menu-item>
                        <md-button ng-click="vm.attributePrivacy('email_other','friends')">
                          Friends
                        </md-button>
                      </md-menu-item>
                      <md-menu-item>
                        <md-button ng-click="vm.attributePrivacy('email_other','onlyMe')">
                          Only me
                        </md-button>
                      </md-menu-item>
                    </md-menu-content>
                  </md-menu>
                </div>
              </div>

            </div>
          </div>
          <div layout="row" ng-repeat="item in vm.contact.profcontactSetAddItemAmount" ng-if="item.value">
            <div flex="20">
              <span>{{item.label}}</span>
            </div>
            <div flex="60">
              <p>{{item.value}}</p>
            </div>
            <div flex="20" class="right">

              <md-menu md-position-mode="target-right target">
                <md-icon md-menu-origin="" md-font-icon="{{vm.setAttributePrivacyIcon(item.label)}}"
                         ng-click="$mdMenu.open($event)"></md-icon>
                <md-menu-content width="3">
                  <md-menu-item>
                    <md-button ng-click="vm.attributePrivacy(item.label, 'public')">
                      <md-icon md-menu-origin="" md-font-icon="icon-earth"></md-icon>
                      Public
                    </md-button>
                  </md-menu-item>
                  <md-menu-item>
                    <md-button ng-click="vm.attributePrivacy(item.label,'friends')">
                      Friends
                    </md-button>
                  </md-menu-item>
                  <md-menu-item>
                    <md-button ng-click="vm.attributePrivacy(item.label, 'onlyMe')">
                      <md-icon md-menu-origin="" md-font-icon="icon-eye-off"></md-icon>
                      Only me
                    </md-button>
                  </md-menu-item>
                </md-menu-content>
              </md-menu>
            </div>
          </div>
        </md-content>
      </md-tab>

      <md-tab label="Work">
        <md-content class="md-padding-content bbtm">
          <div layout="row" class="tab-content-heading">
            <div flex>
              <h3 class="tab-content-title">Work</h3>
            </div>
            <div flex class="right" vlb>
              <md-icon md-menu-origin="" text-nav ng-click="vm.profileWorkSettings()">Edit</md-icon>
            </div>
          </div>
          <div layout="row">
            <div flex="20">
              <span>Company Name</span>
            </div>
            <div flex="60">
              <p>{{vm.contact.job[0].company}}</p>
            </div>
            <div flex="20" class="right">
              <md-menu md-position-mode="target-right target">
                <md-icon md-menu-origin="" md-font-icon="{{vm.setAttributePrivacyIcon('employer')}}"
                         ng-click="$mdMenu.open($event)"></md-icon>
                <md-menu-content width="3">
                  <md-menu-item>
                    <md-button ng-click="vm.attributePrivacy('employer','public')">
                      Public
                    </md-button>
                  </md-menu-item>
                  <md-menu-item>
                    <md-button ng-click="vm.attributePrivacy('employer','friends')">
                      Friends
                    </md-button>
                  </md-menu-item>
                  <md-menu-item>
                    <md-button ng-click="vm.attributePrivacy('employer','onlyMe')">
                      Only me
                    </md-button>
                  </md-menu-item>
                </md-menu-content>
              </md-menu>
            </div>
          </div>
          <div layout="row">
            <div flex="20">
              <span>Job Title</span>
            </div>
            <div flex="60">
              <p>{{vm.contact.job[0].employee}}</p>
            </div>
            <div flex="20" class="right">
              <md-menu md-position-mode="target-right target">
                <md-icon md-menu-origin="" md-font-icon="{{vm.setAttributePrivacyIcon('designation')}}"
                         ng-click="$mdMenu.open($event)"></md-icon>
                <md-menu-content width="3">
                  <md-menu-item>
                    <md-button ng-click="vm.attributePrivacy('designation','public')">
                      Public
                    </md-button>
                  </md-menu-item>
                  <md-menu-item>
                    <md-button ng-click="vm.attributePrivacy('designation','friends')">
                      Friends
                    </md-button>
                  </md-menu-item>
                  <md-menu-item>
                    <md-button ng-click="vm.attributePrivacy('designation','onlyMe')">
                      Only me
                    </md-button>
                  </md-menu-item>
                </md-menu-content>
              </md-menu>
            </div>
          </div>
          <div layout="row" ng-repeat="item in vm.contact.profWorkSetAddItemAmount" ng-if="item.value">
            <div flex="20">
              <span>{{item.label}}</span>
            </div>
            <div flex="60">
              <p>{{item.value}}</p>
            </div>
            <div flex="20" class="right">

              <md-menu md-position-mode="target-right target">
                <md-icon md-menu-origin="" md-font-icon="{{vm.setAttributePrivacyIcon(item.label)}}"
                         ng-click="$mdMenu.open($event)"></md-icon>
                <md-menu-content width="3">
                  <md-menu-item>
                    <md-button ng-click="vm.attributePrivacy(item.label, 'public')">
                      <md-icon md-menu-origin="" md-font-icon="icon-earth"></md-icon>
                      Public
                    </md-button>
                  </md-menu-item>
                  <md-menu-item>
                    <md-button ng-click="vm.attributePrivacy(item.label,'friends')">
                      Friends
                    </md-button>
                  </md-menu-item>
                  <md-menu-item>
                    <md-button ng-click="vm.attributePrivacy(item.label, 'onlyMe')">
                      <md-icon md-menu-origin="" md-font-icon="icon-eye-off"></md-icon>
                      Only me
                    </md-button>
                  </md-menu-item>
                </md-menu-content>
              </md-menu>
            </div>
          </div>
        </md-content>
      </md-tab>

      <md-tab label="Relatives">
        <md-content class="md-padding-content bbtm">
          <div layout="row" class="tab-content-heading">
            <div flex>
              <h3 class="tab-content-title">Relatives</h3>
            </div>
            <div flex class="right" vlb>
              <md-icon md-menu-origin="" text-nav ng-click="vm.profileRelativesSettings()">Add Relative</md-icon>

            </div>
          </div>

          <div class="even-odd profile-list">
            <div layout="row" ng-repeat="relativesInfo in vm.allRelativesInfo">
              <div flex="10">
                <span>{{relativesInfo.type}}</span>
              </div>
              <div flex="40" npad>
                <!--<img src="" alt="" class="avatar">-->
                <p ng-bind="relativesInfo.relative.first_name + ' ' + relativesInfo.relative.last_name"></p>

              </div>
              <div flex="20" npad>
                <a href="#" ng-bind="relativesInfo.relative.email"></a>

              </div>

              <div flex="30" class="right">
                <md-button ng-click="vm.updateRelative(relativesInfo.id)">
                  <md-icon md-menu-origin="" md-font-icon="icon-table-edit"></md-icon>
                  <md-tooltip><span>Edit</span></md-tooltip>
                </md-button>
                <md-button ng-click="vm.deleteRelative(relativesInfo.id)">
                  <md-icon md-menu-origin="" md-font-icon="icon-delete" ></md-icon>
                  <md-tooltip><span>Delete</span></md-tooltip>
                </md-button>

              </div>
            </div>

            <div layout="row" ng-repeat="item in vm.contact.profrelativeSetAddItemAmount" ng-if="item.value">
              <div flex="20">
                <span>{{item.label}}</span>
              </div>
              <div flex="60">
                <md-chips>
                  <md-chip>
                    <div class="md-chip-text-avatar">
                      {{item.value.toString().charAt(0)}}
                    </div>
                    <span style="padding-left:5px;">{{item.value}}</span></md-chip>
                </md-chips>
              </div>
              <div flex="20" class="right">

                <md-menu md-position-mode="target-right target">
                  <md-icon md-menu-origin="" md-font-icon="{{vm.setAttributePrivacyIcon(item.label)}}"
                           ng-click="$mdMenu.open($event)"></md-icon>
                  <md-menu-content width="3">
                    <md-menu-item>
                      <md-button ng-click="vm.attributePrivacy(item.label, 'public')">
                        <md-icon md-menu-origin="" md-font-icon="icon-earth"></md-icon>
                        Public
                      </md-button>
                    </md-menu-item>
                    <md-menu-item>
                      <md-button ng-click="vm.attributePrivacy(item.label,'friends')">
                        Friends
                      </md-button>
                    </md-menu-item>
                    <md-menu-item>
                      <md-button ng-click="vm.attributePrivacy(item.label, 'onlyMe')">
                        <md-icon md-menu-origin="" md-font-icon="icon-eye-off"></md-icon>
                        Only me
                      </md-button>
                    </md-menu-item>
                  </md-menu-content>
                </md-menu>
              </div>
            </div>
          </div>

        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>


