<div layout="row" layout-wrap>

    <div class="timeline" layout="column" flex="100" flex-gt-sm="100" flex-gt-md="100" flex-order="2" flex-order-gt-sm="1">

 <div class="form-wrapper md-whiteframe-1dp flex-100" flex="100">
<div ng-if="!vm.allFields">
           <md-input-container class="md-block">
                    <md-icon md-font-icon="icon-account" class="name"></md-icon>
                    <input ng-model="vm.contact.first_name" type="text" placeholder="Name" ng-required required>
                </md-input-container>
 <md-input-container class="md-block">
                    <md-icon md-font-icon="icon-phone" class="name"></md-icon>
                    <input ng-model="vm.contact.phone_main" type="text" placeholder="Phone" ng-required ui-br-phone-number>
                </md-input-container>
     <md-input-container class="md-block">
                    <md-icon md-font-icon="icon-email" class="name"></md-icon>
                    <input ng-model="vm.contact.email" type="text" placeholder="Email" ng-required>
                </md-input-container>
    </div>

            <div ng-if="!vm.allFields" layout="row" layout-align="center center">
                <md-button class="md-accent" ng-click="vm.allFields = true" >Show
                    All Fields
                </md-button>
            </div>

            <div ng-if="vm.allFields">
                <md-input-container class="md-icon-float md-block">
                <label>First Name</label>
                <md-icon md-font-icon="icon-account" class="name"></md-icon>
                <input ng-model="vm.contact.first_name" type="text" ng-required md-autofocus>
            </md-input-container>

      <md-input-container class="md-icon-float md-block">
                <label >Middle Name</label>
                <md-icon></md-icon>
                <input ng-model="vm.contact.middle_name" type="text">
            </md-input-container>

            <md-input-container class="md-icon-float md-block">
                <label>Last name</label>
                <md-icon></md-icon>
                <input ng-model="vm.contact.last_name" type="text">
            </md-input-container>

                <h3 style="padding-top:15px;"> <md-icon md-font-icon="icon-phone"></md-icon> &nbsp;&nbsp;Phone</h3>
                <md-input-container class="md-block">
                    <md-icon></md-icon>
                    <input ng-model="vm.contact.phone_main" type="text" placeholder="Phone number (Main)" ui-br-phone-number >
                </md-input-container>

                <md-input-container class="md-block">
                    <md-icon></md-icon>
                    <input ng-model="vm.contact.phone_work" type="text" placeholder="Phone number (Work)" ui-br-phone-number>
                </md-input-container>

                <md-input-container class="md-block">
                    <md-icon></md-icon>
                    <input ng-model="vm.contact.phone_other" type="text" placeholder="Phone number (Other)" ui-br-phone-number>
                </md-input-container>

                <h3 style="padding-top:15px;"> <md-icon md-font-icon="icon-email"></md-icon> &nbsp;&nbsp;Email</h3>
                <md-input-container class="md-block">
                    <md-icon></md-icon>
                    <input ng-model="vm.contact.email" type="email" placeholder="Email (Main)" >

                </md-input-container>
                    <md-input-container class="md-block">
                    <md-icon></md-icon>
                    <input ng-model="vm.contact.email_work" type="email" placeholder="Email (Work)" >
                </md-input-container>

                <md-input-container class="md-block">
                    <md-icon></md-icon>
                    <input ng-model="vm.contact.email_other" type="email" placeholder="Email (Other)" >
                </md-input-container>

                <md-input-container class="md-block">
                    <md-icon md-font-icon="icon-domain"></md-icon>
                    <input ng-model="vm.contact.employer" type="text" placeholder="Company" >
                </md-input-container>

                <md-input-container class="md-block">
                    <md-icon md-font-icon="icon-worker"></md-icon>
                    <input ng-model="vm.contact.designation" type="text" placeholder="Job title">
                </md-input-container>

                <md-datepicker ng-init="vm.date_birth = vm.StrToDate(vm.contact.date_birth);"
                               class="birthday-input" ng-model="vm.date_birth" md-placeholder="Birthday"
                               ng-required="false">
                </md-datepicker>
                <md-datepicker ng-init="vm.date_anniv = vm.StrToDate(vm.contact.date_anniversary);"
                               class="birthday-input" ng-model="vm.date_anniv" md-placeholder="Anniversary"
                               ng-required="false">
                </md-datepicker>
<h3 style="padding-top:15px;"> <md-icon md-font-icon="icon-home"></md-icon> &nbsp;&nbsp;Address (Home)</h3>
<div layout="column" layout-gt-xs="row" class="layout-gt-xs-row layout-column" style="padding-left:30px;">
                        <md-input-container flex="" class="md-default-theme flex">
                            <label for="home_address_street">Street</label>
                            <input type="text" name="home_address_street" ng-model="vm.contact.home_address_street" class="ng-pristine ng-untouched ng-valid md-input ng-empty" id="home_address_street" aria-invalid="false"><div class="md-errors-spacer"></div>
                        </md-input-container>

                        <md-input-container flex="" class="md-default-theme flex">
                            <label for="home_address_city">City</label>
                            <input type="text" name="home_address_city" ng-model="vm.contact.home_address_city" class="ng-pristine ng-untouched ng-valid md-input ng-empty" id="home_address_city" aria-invalid="false"><div class="md-errors-spacer"></div>
                        </md-input-container>

                        <md-input-container flex="" class="md-default-theme flex">
                            <label for="home_address_state">State</label>
                            <input type="text" name="home_address_state" ng-model="vm.contact.home_address_state" class="ng-pristine ng-untouched ng-valid md-input ng-empty" id="home_address_state" aria-invalid="false"><div class="md-errors-spacer"></div>
                        </md-input-container>

                    </div>
                <div layout="column" layout-gt-xs="row" class="layout-gt-xs-row layout-column" style="padding-left:30px;">
                        <md-input-container flex="" class="md-default-theme flex">
                            <label for="home_address_postal_code">ZIP</label>
                            <input type="text" name="home_address_postal_code" ng-model="vm.contact.home_address_postal_code" class="ng-pristine ng-untouched ng-valid md-input ng-empty" id="home_address_postal_code" aria-invalid="false"><div class="md-errors-spacer"></div>
                        </md-input-container>

                        <md-input-container flex="" class="md-default-theme flex">
                            <label for="home_address_country_region">Region / Country</label>
                            <input type="text" name="home_address_country_region" ng-model="vm.contact.home_address_country_region" class="ng-pristine ng-untouched ng-valid md-input ng-empty" id="home_address_country_region" aria-invalid="false"><div class="md-errors-spacer"></div>
                        </md-input-container>


                    </div>
                <h3 style="padding-top:15px;"> <md-icon md-font-icon="icon-home"></md-icon> &nbsp;&nbsp;Address (Work)</h3>
<div layout="column" layout-gt-xs="row" class="layout-gt-xs-row layout-column" style="padding-left:30px;">
                        <md-input-container flex="" class="md-default-theme flex">
                            <label for="work_address_street">Street</label>
                            <input type="text" name="work_address_street" ng-model="vm.contact.work_address_street" class="ng-pristine ng-untouched ng-valid md-input ng-empty" id="work_address_street" aria-invalid="false"><div class="md-errors-spacer"></div>
                        </md-input-container>

                        <md-input-container flex="" class="md-default-theme flex">
                            <label for="work_address_city">City</label>
                            <input type="text" name="work_address_city" ng-model="vm.contact.work_address_city" class="ng-pristine ng-untouched ng-valid md-input ng-empty" id="work_address_city" aria-invalid="false"><div class="md-errors-spacer"></div>
                        </md-input-container>

                        <md-input-container flex="" class="md-default-theme flex">
                            <label for="work_address_state">State</label>
                            <input type="text" name="work_address_state" ng-model="vm.contact.work_address_state" class="ng-pristine ng-untouched ng-valid md-input ng-empty" id="work_address_state" aria-invalid="false"><div class="md-errors-spacer"></div>
                        </md-input-container>

                    </div>
                <div layout="column" layout-gt-xs="row" class="layout-gt-xs-row layout-column" style="padding-left:30px;">
                        <md-input-container flex="" class="md-default-theme flex">
                            <label for="work_address_postal_code">ZIP</label>
                            <input type="text" name="work_address_postal_code" ng-model="vm.contact.work_address_postal_code" class="ng-pristine ng-untouched ng-valid md-input ng-empty" id="work_address_postal_code" aria-invalid="false"><div class="md-errors-spacer"></div>
                        </md-input-container>

                        <md-input-container flex="" class="md-default-theme flex">
                            <label for="work_address_country_region">Region / Country</label>
                            <input type="text" name="work_address_country_region" ng-model="vm.contact.work_address_country_region" class="ng-pristine ng-untouched ng-valid md-input ng-empty" id="work_address_country_region" aria-invalid="false"><div class="md-errors-spacer"></div>
                        </md-input-container>


                    </div>
                <md-input-container class="md-block">
                    <md-icon md-font-icon="icon-note"></md-icon>
                    <input ng-model="vm.contact.notes" type="text" placeholder="Notes" >
                </md-input-container>


                <div layout="row" layout-align="center center">
                    <md-button class="md-accent" ng-click="vm.allFields = false" >Fewer
                        Fields
                    </md-button>
                </div>

            </div>
<div layout="row" layout-align="right">
                <md-button class="md-accent md-raised md-hue-1 md-button md-default-theme md-ink-ripple" ng-click="vm.saveProfile()" >Save
                </md-button>
            </div>

    </div>
    </div>



</div>

