<div class="main animate-slide-left" ng-hide="vmChat.chatActive">
  <md-list class="recent">
    <md-subheader class="md-no-sticky">
      <span>Recent</span>
    </md-subheader>

    <md-list-item class="contact md-3-line"
                  ng-repeat="conversation in vmChat.conversations |  orderBy: 'last_message_time' :true"
                  ng-click="vmChat.toggleChat(conversation)">
      <img ng-src="{{conversation.last_message_by.photo_url || 'images/avatars/profile.jpg'}}" class="md-avatar"
           alt="{{conversation.last_message_by.first_name}}"/>

      <!--<div class="status {{conversation.last_message_by.status || 'offline'}}"></div>-->

      <div ng-if="conversation['unread'][vmChat.user.id]" class="md-accent-bg unread-message-count">
        {{conversation['unread'][vmChat.user.id]}}
      </div>

      <div class="md-list-item-text">
        <div class="inline-child">
          <h3 class="align-vertical"
              data-ng-repeat="recp in conversation.recipients | filter:{ id: '!' + vmChat.user.id}">{{recp.first_name}}
            {{recp.last_name}}</h3>
        </div>
        <p class="last-message" ng-bind-html="conversation.last_message"></p>
      </div>

      <div layout="column" layout-align="center end">
        <div class="last-message-time">{{conversation.last_message_time | altDate}}</div>
        <div ng-if="conversation['unread'][vmChat.user.id]" class="md-accent-bg unread-message-count">
          {{conversation['unread'][vmChat.user.id]}}
        </div>
      </div>
    </md-list-item>
  </md-list>

  <md-divider></md-divider>

  <md-list class="all">
    <md-subheader class="md-no-sticky">
      <span>Start New Chat</span>
    </md-subheader>
    <md-list-item class="contact" ng-repeat="contact in vmChat.contacts" ng-click="vmChat.toggleChat(contact)">
      <img ng-src="{{contact.photo_url || 'images/avatars/profile.jpg'}}" class="md-avatar"
           alt="{{contact.first_name}}"/>

      <!--<div class="status {{contact.online ? 'online' : 'offline'}}"></div>-->

      <div class="md-list-item-text">
        <h3>{{contact.first_name+' '+ contact.last_name}}</h3>
      </div>
    </md-list-item>
  </md-list>

  <md-divider></md-divider>
</div>

<div class="chat animate-slide-right" ng-show="vmChat.chatActive" layout="column">
  <md-toolbar class="md-accent">
    <div class="md-toolbar-tools" layout="row" layout-align="space-between center">

      <div layout="row" layout-align="start center">
        <md-button class="md-icon-button" ng-click="vmChat.toggleChat()" aria-label="Back">
          <md-icon md-font-icon="icon-keyboard-backspace"></md-icon>
        </md-button>
        <h4>
          <span>{{vmChat.chat.contact.name}}</span>
        </h4>
      </div>

      <div layout="row" layout-align="end center">
        <md-button class="md-icon-button" aria-label="More">
          <md-icon md-font-icon="icon-dots-vertical"></md-icon>
        </md-button>
      </div>
    </div>

  </md-toolbar>
  <md-content flex layout-paddings ms-scroll id="chat-dialog">
    <div layout="row" ng-repeat="dialog in vmChat.chat.messages" class="md-padding message-row"
         ng-class="dialog.who">
      <img ng-if="dialog.sender.id !== vmChat.user.id"
           ng-src="{{dialog.sender.photo_url || 'images/avatars/profile.jpg'}}"
           class="avatar"
           alt="{{dialog.sender.first_name}}"/>
      <img ng-if="dialog.sender.id === vmChat.user.id" class="avatar"
           ng-src="{{vmChat.user.photo_url || 'images/avatars/profile.jpg'}}">

      <div class="bubble" flex>
        <div class="message" ng-bind-html="dialog.body"></div>
        <div class="time secondary-text">{{dialog.createdAt | altDate}}</div>
      </div>
    </div>
  </md-content>

  <form ng-submit="vmChat.reply()" layout="row" class="reply" layout-align="start center">
        <textarea ng-keyup="$event.keyCode == 13 ? vmChat.reply() : null" flex
                  ng-model="vmChat.replyMessage" placeholder="Type and hit enter to send message"></textarea>

    <md-button class="md-fab md-mini" type="submit" aria-label="Send message">
      <md-icon md-font-icon="icon-send" class="s16"></md-icon>
    </md-button>
  </form>
</div>
