<md-dialog class="compose-dialog-2 contact-group dialog-wrap custom-chips" aria-label="Add/Edit user">
  <form class="md-inline-form">
    <md-dialog-heading layout="row" layout-align="space-between center" class="border-bottom">
      <div flex><h2>New Group</h2></div>
      <md-button class="btn-basic nomargin lh-2" ng-click="vm.closeDialog();">
        <md-icon md-font-icon="icon-keyboard-return" ></md-icon>
      </md-button>
    </md-dialog-heading><!--md-dialog-heading-->

    <md-dialog-content>
      <div class="new-group" layout="column" layout-align="space-around stretch">
        <div class="mb-10">
          <b class="pb-5 area-block">Please enter a new group name:</b>
          <input type="text" class="input-border-full" placeholder="Enter a name" ng-model="vm.newGroupName">
        </div>

        <div>
          <b class="area-block pb-5">Add Contacts</b>
          <md-contact-chips
            class="input-border-full"
            ng-model="vm.asyncContacts"
            md-contacts="vm.delayedQuerySearch($query)"
            md-contact-name="name"
            md-contact-email="email"
            md-require-match="true"
            md-highlight-flags="i"
            md-min-length="0"
            filter-selected="vm.filterSelected"
            placeholder="Search for a contact">
          </md-contact-chips>
        </div>
      </div>
      <div layout="row" class="action-buttons btn-gr-left mt-10">
        <md-button class="line-h-1 btn-basic" ng-click="vm.newGroupName='';vm.asyncContacts=[]">Discard</md-button>
        <md-button class="btn-violate line-h-1 " ng-click="vm.addNewGroup();">Create</md-button>
      </div>
    </md-dialog-content><!--md-dialog-content-->

  </form>
</md-dialog>
