<md-dialog class="compose-dialog import-export dialog-wrap" aria-label="Add/Edit user" style="padding: 15px;overflow-x:hidden;">
  <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
    <h2 class="mb-0">Following contacts found from your selected account. ({{vm.importedGoogleContact.length}})</h2>
    <md-button class="md-icon-button" ng-click="vm.closeDialog();" aria-label="Close dialog">
      <md-icon md-font-icon="icon-close"></md-icon>
    </md-button>
  </div>
  <p class="mt-0 pl-15">Please select which contacts you want to import in Sochara</p>
  <div class="white-bg md-whiteframe-4dp">
    <table class="dataTable row-border hover" datatable="ng" dt-options="vm.dtOptions">
      <thead>
      <tr>
        <th class="secondary-text">
          <div class="table-header">
            <span class="column-title">Import ?</span>
          </div>
        </th>
        <th class="secondary-text">
          <div class="table-header">
            <span class="column-title">Name</span>
          </div>
        </th>
        <th class="secondary-text">
          <div class="table-header">
            <span class="column-title">Email</span>
          </div>
        </th>
        <th class="secondary-text">
          <div class="table-header">
            <span class="column-title">Phone</span>
          </div>
        </th>
      </thead>
      <tbody>
      <tr ng-repeat="item in vm.importedGoogleContact">
        <td>
          <md-checkbox ng-checked="vm.googleContactImportSelectionExists(item, vm.selectedGoogleImportContact)" ng-click="vm.googleContactImportToggle(item, vm.selectedGoogleImportContact)">

          </md-checkbox>
        </td>
        <td>{{ item.first_name}} {{ item.last_name}}</td>
        <td>{{ item.email}}</td>
        <td>{{ item.phone || '-' }}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div layout="row">
    <md-button class="btn-violate" ng-click="vm.importSelectedGoogleContact();" ng-view="vm.selectedGoogleImportContact.length">Import Now</md-button>
  </div>
</md-dialog>
