<style>
  .md-datepicker-button {
    display: none;
  }

  .newavatar{
    width: 60px;
    min-width: 60px;
    height: 60px;
    line-height: 40px;
    margin: 0 8px 0 0;
    border-radius: 50%;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    color: #FFFFFF;
  }
  .cropArea {
    background: #E4E4E4;
    overflow: hidden;
    width: auto;
    height: 300px;
  }

  .profile-image {
    min-height: 85px;
    min-width: 85px;
    border-radius: 100%;
    margin: auto 0;
    background-size: 100% 100% !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    margin-right: 24px;
  }

  .uploadImage {
    width: 100%;
    height: 100%;
    background: black;
    display: none;
    min-height: 85px;
    min-width: 85px;
    border-radius: 100%;
    /*border:1px solid green;margin: auto 0;*/
    background-size: 100% 100% !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;

  }

  .profile-image:hover .uploadImage {
    background: white !important;
    display: block;
    color: black !important;
    font-size: 12px;
    line-height: 1.2;
    padding: 20px;
  }

  .jquery-modal.blocker.current {
    z-index: 999;
  }
</style>
<md-dialog class="compose-dialog add-user dialog-wrap" aria-label="Add/Edit user">
    <md-dialog-heading layout="row" layout-align="space-between center" class="bb">
      <div><h2>Create contact</h2></div>
      <div dialog-btn>
        <md-button class="btn-basic" ng-click="vm.closeAddContactDialog();">
          <md-icon md-font-icon="icon-keyboard-return"></md-icon>
        </md-button>
        <md-button class="btn-basic" ng-click="vm.addContactEventClicked();">Discard</md-button>
        <md-button class="btn-violate" ng-click="vm.saveAddContact();">Save</md-button>
      </div>
    </md-dialog-heading><!--md-dialog-heading-->

    <md-dialog-content ms-scroll class="nobr">
      <div layout="row" layout-align="space-between start">
        <div class="profile-icon">
          <a style="padding: 0px;margin:0px;" href="#k" rel="modal:open">
            <img ng-src="{{vm.tmpAvatar!==''?vm.tmpAvatar:'../images/avatars/blank.jpg'}}" alt="blank" class="newavatar">
          </a>
        </div>
        <div id="k" style="display:none;">
          <h4><b>Select an image file: </b><br><input class="md-raised md-accent" type="file" id="fileInput"/><br>
            <md-button class="md-button md-ink-ripple md-default-theme" style="background: gainsboro;margin-left:0px;"
                       ng-click="vm.showAvatarImage()">
              Show Image
            </md-button>
          </h4>

          <br>
          <div class="cropArea">
            <img-crop image="vm.myImage" result-image="vm.myCroppedImage"></img-crop>
          </div>
          <md-button ng-disabled="!vm.uploadButton" class="md-raised md-accent" ng-click="vm.saveAvatar()"
                     aria-label="Follow">Save Cropped Image
          </md-button>
        </div>
        <div layout="column" flex>
          <md-input-container>
            <label>First Name</label>
            <input ng-model="vm.addContact.first_name">
          </md-input-container>
          <md-input-container>
            <label> Middle Name</label>
            <input ng-model="vm.addContact.middle_name">
          </md-input-container>
          <md-input-container>
            <label>Last Name</label>
            <input ng-model="vm.addContact.last_name">
          </md-input-container>
        </div>
        <div class="btn-area">
          <md-button class="md-icon-button" ng-click="vm.addContact.first_name='';vm.addContact.last_name='';vm.addContact.middle_name='';">
            <md-icon md-font-icon="icon-close"></md-icon>
          </md-button>
        </div>
      </div>

      <div layout="row" layout-align="space-between start" ng-repeat="item in vm.addContact.job">
        <div class="profile-icon" layout="column" laout-align="center center">
          <md-icon md-font-icon="icon-domain"></md-icon>
        </div>
        <div flex>
          <div layout="row" layout-align="space-between center">
            <md-input-container flex md-no-float>
              <input ng-model="vm.addContact.job[$index].employee" placeholder="Job Title">
            </md-input-container>
            <div flex="5"></div>
            <md-input-container flex md-no-float>
              <input ng-model="vm.addContact.job[$index].company" placeholder="Company">
            </md-input-container>
          </div>
        </div>
        <div class="btn-area" layout="row">
          <md-button class="md-icon-button" flex ng-click="vm.addContactItem('job')">
            <md-icon md-font-icon="icon-plus-circle" class="teal-A400-fg"></md-icon>
          </md-button>
          <md-button class="md-icon-button" flex ng-click="vm.removeJobList($index);">
            <md-icon md-font-icon="icon-close"></md-icon>
          </md-button>
        </div>
      </div>

      <div layout="row" layout-align="space-between start" ng-repeat="item in vm.addContact.phone">
        <div class="profile-icon" layout="column" laout-align="center center">
          <md-icon md-font-icon="icon-phone"></md-icon>
        </div>
        <div flex>
          <div layout="row" layout-align="space-between start">
            <md-input-container flex md-no-float>
              <md-select name="type" ng-model="vm.addContact.phone[$index].type" required placeholder="Phone">
                <md-option value="Home">Home</md-option>
                <md-option value="Office">Office</md-option>
                <md-option value="Other">Other</md-option>
              </md-select>
            </md-input-container>
            <div flex="5"></div>
            <md-input-container flex md-no-float>
              <input ng-model="vm.addContact.phone[$index].number" placeholder="Number">
            </md-input-container>
          </div>
        </div>
        <div class="btn-area" layout="row">
          <md-button class="md-icon-button" flex ng-click="vm.addContactItem('phone')">
            <md-icon md-font-icon= "icon-plus-circle" class="teal-A400-fg"></md-icon>
          </md-button>
          <md-button class="md-icon-button" flex ng-click="vm.removePhoneList($index);">
            <md-icon md-font-icon="icon-close"></md-icon>
          </md-button>
        </div>
      </div>

      <div layout="row" layout-align="space-between start">
        <div class="profile-icon" layout="column" laout-align="center center">
          <md-icon md-font-icon="icon-email"></md-icon>
        </div>
        <div flex>
          <div layout="row" layout-align="space-between center">
            <md-input-container flex md-no-float>
              <input ng-model="vm.addContact.email" placeholder="Email (Main)">
            </md-input-container>
          </div>
        </div>
        <div class="btn-area" layout="row">
          <md-button flex ng-disabled="true">
            <md-icon md-font-icon=""></md-icon>
          </md-button>
          <md-button flex ng-click="vm.addContact.email=''" class="md-icon-button">
            <md-icon md-font-icon="icon-close"></md-icon>
          </md-button>
        </div>
      </div>
      <br>
      <div layout="row" layout-align="space-between start" ng-repeat="item in vm.addContact.emails">
        <div class="profile-icon" layout="column" laout-align="center center">
          <md-icon md-font-icon="icon-email"></md-icon>
        </div>
        <div flex>
          <div layout="row" layout-align="space-between start">
            <md-input-container flex md-no-float>
              <md-select name="type" ng-model="vm.addContact.emails[$index].type" required placeholder="Email (Others)">
                <md-option value="Home">Home</md-option>
                <md-option value="Office">Office</md-option>
                <md-option value="Other">Other</md-option>
              </md-select>
            </md-input-container>
            <div flex="5"></div>
            <md-input-container flex md-no-float>
              <input ng-model="vm.addContact.emails[$index].address" placeholder="Address">
            </md-input-container>
          </div>
        </div>
        <div class="btn-area" layout="row">
          <md-button class="md-icon-button" flex ng-click="vm.addContactItem('emails')">
            <md-icon md-font-icon= "icon-plus-circle" class="teal-A400-fg"></md-icon>
          </md-button>
          <md-button class="md-icon-button" flex ng-click="vm.removeEmailList($index);">
            <md-icon md-font-icon="icon-close"></md-icon>
          </md-button>
        </div>
      </div>
      <br>

      <div layout="row" layout-align="space-between start">
        <div class="profile-icon" layout="column" laout-align="center center">
          <md-icon md-font-icon="icon-cake"></md-icon>
        </div>
        <div flex>
          <div layout="row" layout-align="space-between center">
            <md-input-container class="md-block" flex-gt-sm>
              <md-datepicker flex ng-init="vm.date_birth = vm.addContact.date_birth?vm.StrToDate(vm.addContact.date_birth):'';"
                             class="birthday-input no-mar-child" ng-model="vm.date_birth" md-placeholder="Birthday"
                             ng-required="false">
              </md-datepicker>
            </md-input-container>
          </div>
        </div>
        <div class="btn-area" layout="row">
          <md-button ng-disabled="true" class="md-icon-button">
            <md-icon md-font-icon=""></md-icon>
          </md-button>
          <md-button flex ng-click="vm.date_birth=''" class="md-icon-button">
            <md-icon md-font-icon="icon-close"></md-icon>
          </md-button>
        </div>
      </div>
      <br>
      <div layout="row" layout-align="space-between start">
        <div class="profile-icon" layout="column" laout-align="center center">
          <md-icon md-font-icon="icon-gift"></md-icon>
        </div>
        <div flex>
          <div layout="row" layout-align="space-between center">
            <md-input-container class="md-block" flex-gt-sm>
              <md-datepicker flex ng-init="vm.date_anniv =vm.addContact.date_anniversary? vm.StrToDate(vm.addContact.date_anniversary):'';"
                             class="birthday-input no-mar-child" ng-model="vm.date_anniv" md-placeholder="Anniversary"
                             ng-required="false">
              </md-datepicker>
            </md-input-container>
          </div>
        </div>
        <div class="btn-area" layout="row">
          <md-button ng-disabled="true" class="md-icon-button">
            <md-icon md-font-icon=""></md-icon>
          </md-button>
          <md-button flex ng-click="vm.date_anniv=''" class="md-icon-button">
            <md-icon md-font-icon="icon-close"></md-icon>
          </md-button>
        </div>
      </div>
      <br>
      <div ng-repeat="item in vm.addContact.address">
        <div layout="row" layout-align="space-between start">
          <div class="profile-icon" layout="column" laout-align="center center">
            <md-icon md-font-icon="icon-map-marker"></md-icon>
          </div>
          <div flex>
            <div layout="row" layout-align="space-between start">
              <md-input-container flex md-no-float>
                <md-select name="type" ng-model="vm.addContact.address[$index].type" required placeholder="Address">
                  <md-option value="Home">Home</md-option>
                  <md-option value="Office">Office</md-option>
                  <md-option value="Other">Other</md-option>
                </md-select>
              </md-input-container>
            </div>
          </div>
          <div class="btn-area" layout="row">
            <md-button class="md-icon-button" flex ng-click="vm.addContactItem('address')">
              <md-icon md-font-icon= "icon-plus-circle" class="teal-A400-fg"></md-icon>
            </md-button>
            <md-button class="md-icon-button" flex ng-click="vm.removeAddressList($index);">
              <md-icon md-font-icon="icon-close"></md-icon>
            </md-button>
          </div>
        </div>
        <br>

        <div layout="row" layout-align="space-between start">
          <div class="profile-icon" layout="column" laout-align="center center">
            <md-icon md-font-icon=""></md-icon>
          </div>
          <div flex>
            <div layout="row" layout-align="space-between center">
              <md-input-container flex md-no-float>
                <input ng-model="vm.addContact.address[$index].address.street" placeholder="Street">
              </md-input-container>
              <div flex="5"></div>
              <md-input-container flex md-no-float>
                <input ng-model="vm.addContact.address[$index].address.city" placeholder="City">
              </md-input-container>
            </div>
          </div>
          <div class="btn-area" layout="row">
            <md-button ng-disabled="true" class="md-icon-button">
              <md-icon md-font-icon=""></md-icon>
            </md-button>
            <md-button ng-disabled="true" class="md-icon-button">
              <md-icon md-font-icon=""></md-icon>
            </md-button>
          </div>
        </div>
        <div layout="row" layout-align="space-between start">
          <div class="profile-icon" layout="column" laout-align="center center">
            <md-icon md-font-icon=""></md-icon>
          </div>
          <div flex>
            <div layout="row" layout-align="space-between center">
              <md-input-container flex md-no-float>
                <input ng-model="vm.addContact.address[$index].address.state" placeholder="State">
              </md-input-container>
              <div flex="5"></div>
              <md-input-container flex md-no-float>
                <input ng-model="vm.addContact.address[$index].address.zip" placeholder="Postal Code">
              </md-input-container>
            </div>
          </div>
          <div class="btn-area" layout="row">
            <md-button ng-disabled="true" class="md-icon-button">
              <md-icon md-font-icon=""></md-icon>
            </md-button>
            <md-button ng-disabled="true" class="md-icon-button">
              <md-icon md-font-icon=""></md-icon>
            </md-button>
          </div>
        </div>

        <div layout="row" layout-align="space-between start">
          <div class="profile-icon" layout="column" laout-align="center center">
            <md-icon md-font-icon=""></md-icon>
          </div>
          <div flex>
            <div layout="row" layout-align="space-between center">
              <md-input-container flex md-no-float>
                <input ng-model="vm.addContact.address[$index].address.country" placeholder="Country/Region">
              </md-input-container>
            </div>
          </div>
          <div class="btn-area" layout="row">
            <md-button ng-disabled="true" class="md-icon-button">
              <md-icon md-font-icon=""></md-icon>
            </md-button>
            <md-button ng-disabled="true" class="md-icon-button">
              <md-icon md-font-icon=""></md-icon>
            </md-button>
          </div>
        </div>
      </div>
      <br>
      <div layout="row" layout-align="space-between start" ng-repeat="item in vm.addContact.relatives">
        <div class="profile-icon" layout="column" laout-align="center center">
          <md-icon md-font-icon="icon-account"></md-icon>
        </div>
        <div flex>
          <div layout="row" layout-align="space-between start">
            <md-input-container flex md-no-float>
              <md-select name="type" ng-model="vm.addContact.relatives[$index].type" required ms-scroll style="max-height: 100px" placeholder="Relatives">
                <md-option value="father">Father</md-option>
                <md-option value="mother">Mother</md-option>
                <md-option value="parents">Parents</md-option>
                <md-option value="brother">Brother</md-option>
                <md-option value="sister">Sister</md-option>
                <md-option value="son">Son</md-option>
                <md-option value="daughter">Daughter</md-option>
                <md-option value="husband">Husband</md-option>
                <md-option value="wife">Wife</md-option>
                <md-option value="spouse">Spouse</md-option>
                <md-option value="manager">Manager</md-option>
                <md-option value="pa">Personal Assistant</md-option>
                <md-option value="other">Other</md-option>
              </md-select>
            </md-input-container>
            <div flex="5"></div>
            <md-input-container flex md-no-float>
              <input ng-model="vm.addContact.relatives[$index].number" placeholder="Number">
            </md-input-container>
          </div>
        </div>
        <div class="btn-area" layout="row">
          <md-button class="md-icon-button" flex ng-click="vm.addContactItem('relatives')">
            <md-icon md-font-icon= "icon-plus-circle" class="teal-A400-fg"></md-icon>
          </md-button>
          <md-button class="md-icon-button" flex ng-click="vm.removeRelativesList($index);">
            <md-icon md-font-icon="icon-close"></md-icon>
          </md-button>
        </div>
      </div>
      <br>
      <div layout="row" layout-align="space-between start" ng-repeat="item in vm.addContact.social">
        <div class="profile-icon" layout="column" laout-align="center center">
          <md-icon md-font-icon="icon-web"></md-icon>
        </div>
        <div flex>
          <div layout="row" layout-align="space-between start">
            <md-input-container flex md-no-float>
              <md-select name="type" ng-model="vm.addContact.social[$index].type" required placeholder="Social Accounts">
                <md-option value="facebook">Facebook</md-option>
                <md-option value="twitter">Twitter</md-option>
                <md-option value="skype">Skype</md-option>
                <md-option value="linkedin">LinkedIn</md-option>
                <md-option value="other">Other</md-option>

              </md-select>
            </md-input-container>
            <div flex="5"></div>
            <md-input-container flex md-no-float>
              <input ng-model="vm.addContact.social[$index].address" placeholder="Address">
            </md-input-container>
          </div>
        </div>
        <div class="btn-area" layout="row">
          <md-button class="md-icon-button" flex ng-click="vm.addContactItem('social')">
            <md-icon md-font-icon= "icon-plus-circle" class="teal-A400-fg"></md-icon>
          </md-button>
          <md-button class="md-icon-button" flex ng-click="vm.removeSocialList($index);">
            <md-icon md-font-icon="icon-close"></md-icon>
          </md-button>
        </div>
      </div>

      <br>
      <div layout="row" layout-align="space-between start" ng-repeat="item in vm.addContact.im">
        <div class="profile-icon" layout="column" laout-align="center center">
          <md-icon md-font-icon="icon-message"></md-icon>
        </div>
        <div flex>
          <div layout="row" layout-align="space-between start">
            <md-input-container flex md-no-float>
              <md-select name="type" ng-model="vm.addContact.im[$index].type" required placeholder="Instant Messaging">
                <md-option value="skype">Skype</md-option>
                <md-option value="aim">AIM</md-option>
                <md-option value="facebook">Facebook</md-option>
                <md-option value="google">Google</md-option>
                <md-option value="yahoo">Yahoo</md-option>
                <md-option value="other">Other</md-option>

              </md-select>
            </md-input-container>
            <div flex="5"></div>
            <md-input-container flex md-no-float>
              <input ng-model="vm.addContact.im[$index].address" placeholder="Address">
            </md-input-container>
          </div>
        </div>
        <div class="btn-area" layout="row">
          <md-button class="md-icon-button" flex ng-click="vm.addContactItem('im')">
            <md-icon md-font-icon= "icon-plus-circle" class="teal-A400-fg"></md-icon>
          </md-button>
          <md-button class="md-icon-button" flex ng-click="vm.removeIMList($index);">
            <md-icon md-font-icon="icon-close"></md-icon>
          </md-button>
        </div>
      </div>

      <div ng-if="!vm.allAddFields" layout="row" layout-align="start start">
        <md-button class="teal-A400-fg" ng-click="vm.allAddFields = true">
          Show All Fields
        </md-button>
      </div>
      <div ng-if="vm.allAddFields">

        <div layout="row" layout-align="space-between start">
          <div class="profile-icon" layout="column" laout-align="center center">
            <md-icon md-font-icon="icon-note"></md-icon>
          </div>
          <div flex>
            <div layout="row" layout-align="space-between center">
              <md-input-container flex md-no-float>
                <input ng-model="vm.addContact.notes" placeholder="Notes">
              </md-input-container>
            </div>
          </div>
          <div class="btn-area" layout="row">
            <md-button ng-disabled="true" class="md-icon-button">
              <md-icon md-font-icon=""></md-icon>
            </md-button>
            <md-button ng-click="vm.addContact.notes=''" class="md-icon-button">
              <md-icon md-font-icon="icon-close"></md-icon>
            </md-button>
          </div>
        </div>
        <br>
      </div>

    </md-dialog-content><!--md-dialog-content-->

</md-dialog>
