<md-dialog class="compose-dialog import-export dialog-medium" aria-label="Add/Edit user">
  <form class="md-inline-form">
    <md-dialog-heading layout="row">
      <div flex="80"><h2>Import / Export Contacts</h2></div>
      <div flex="20" right dialog-btn>
        <md-button ng-click="vm.closeDialog()">
          <md-icon md-font-icon="icon-keyboard-return" ></md-icon>
        </md-button>

      </div>
    </md-dialog-heading><!--md-dialog-heading-->

    <md-dialog-content class="nopad">
      <md-tabs md-dynamic-height md-no-ink-bar class="purple-tab small-tab nopad-tab-right">
        <md-tab>
          <md-tab-label>
            <span>Import</span>
          </md-tab-label>
          <md-tab-body>
            <div ms-scroll class="mh-300 pl-40 pr-30 import-button">
              <div class="mt-30"><strong>Import contacts from other accounts</strong></div>
              <div layout="row" layout-align="start stretch" class="btn-gutter">
                <md-button class="border pt-20 pb-20" flex="33" href="{{vm.outlookContactAuthUrl}}">
                  <img src="images/contacts/outlook.png" alt="outlook"> Outlook
                </md-button>
                <md-button class="border pt-20 pb-20" flex="33" ng-click="vm.authgoogle();">
                  <img src="images/contacts/gmail.png" alt="gmail"> Google
                </md-button>
              </div>
              <br>
              <div><strong>Import from CSV or vCard file</strong></div>
              <div layout="row" layout-align="start stretch" class="btn-gutter">
                <md-button class="border pt-20 pb-20" flex="50" ngf-select="vm.upload($file)" accept=".csv">
                  <md-icon class="mr-10" style="opacity: .5" md-svg-icon="images/icons/ic_import_contacts_black_24px.svg"></md-icon>
                  Choose CSV File (.csv)
                </md-button>
                <md-button class="border pt-20 pb-20" flex="50" ngf-select="vm.uploadVcf($file)" accept=".csv">
                  <md-icon class="mr-10" style="opacity: .5" md-svg-icon="images/icons/ic_contact_phone_black_24px.svg"></md-icon>
                  Choose vCard File (.vcf)
                </md-button>

              </div>

            </div>
          </md-tab-body>
        </md-tab><!--md-tab-->
        <md-tab>
          <md-tab-label>
            <span>Export</span>
          </md-tab-label>
          <md-tab-body class="nopad">
            <div ms-scroll class="mh-300 pr-30 pl-40">
              <div class="mt-30"><strong>Export contacts to other accounts</strong></div>
              <!--<div layout="row" layout-align="space-between stretch" class="btn-gutter nopad">-->

                <md-radio-group flex layout="row" ng-model="vm.selectedExportType" class="btn-gutter">
                  <md-radio-button flex="33" class="border pt-20 pb-20" ng-repeat="et in vm.exportType | filter: { type: 'up' }"
                                   ng-value="et.value"
                                   aria-label="{{et.title}}">
                    <img ng-if="et.value !='other'" ng-src="{{et.src}}" alt="outlook"> {{et.title}}
                    <md-icon ng-if="et.value=='other'" style="color: #a4c639" md-font-icon="icon-android"></md-icon>
                    <md-icon ng-if="et.value=='other'" style="color: #5c2d91" md-font-icon="icon-windows"></md-icon>
                    <md-icon ng-if="et.value=='other'" style="color: #5fc9f8" md-font-icon="icon-apple"></md-icon>
                  </md-radio-button>
                </md-radio-group>

                <md-radio-group flex layout="row" ng-model="vm.selectedExportType" class="btn-gutter">
                  <md-radio-button flex="33" class="border pt-20 pb-20" ng-repeat="et in vm.exportType | filter: { type: 'down' }"
                                   ng-value="et.value"
                                   aria-label="{{et.title}}">
                    <md-icon class="mr-10" style="opacity: .5" md-svg-icon="{{et.src}}"></md-icon>
                    <span>{{et.title}}</span>
                  </md-radio-button>
                </md-radio-group>

                <!--<md-button flex class="border p-20">-->
                  <!--<img src="images/contacts/outlook.png" alt="outlook"> Outlook-->
                <!--</md-button>-->
                <!--<md-button flex class="border p-20">-->
                  <!--<img src="images/contacts/gmail.png" alt="gmail"> Google-->
                <!--</md-button>-->
                <!--<md-button flex class="border p-20">-->
                  <!---->
                <!--</md-button>-->
              <!--</div>-->
              <!--<div layout="row" layout-align="space-between center" class="nopad mt-20">-->
                <!--<div class="mr-20">Export to CSV or vCard file:</div>-->
                <!--<div flex layout="row" class="btn-gutter">-->

                  <!--<md-button flex class="border pt-20 pb-20">-->
                    <!--<md-icon class="mr-10" style="opacity: .5" md-svg-icon="images/icons/ic_import_contacts_black_24px.svg"></md-icon>-->
                    <!--<span>vCard File</span>-->
                  <!--</md-button>-->

                  <!--<md-button flex class="border pt-20 pb-20">-->
                    <!--<md-icon class="mr-10" style="opacity: .5" md-svg-icon="images/icons/ic_contact_phone_black_24px.svg"></md-icon>-->
                    <!--<span>CSV File</span>-->
                  <!--</md-button>-->
                <!--</div>-->
              <!--</div>-->


              <div>
                <md-radio-group ng-model="vm.exportContacts">

                  <md-radio-button value="all">All Contacts</md-radio-button>
                  <br>
                  <md-radio-button value="favorites">Favorites</md-radio-button>
                  <br>
                  <md-radio-button value="group">Contacts from groups</md-radio-button>
                  <md-select ng-show="vm.exportContacts==='group'" style="width:60%;" placeholder="Select Groups"
                             ng-model="vm.selectedGroupForExport" style="min-width: 200px;">
                    <md-option ng-value="group" ng-repeat="group in vm.userGroups">{{group.name}}</md-option>
                  </md-select>
                  <br>
                  <div layout="row">
                    <md-radio-button value="selected" class="mr-10">Selected contacts</md-radio-button>
                    <input flex class="faws" style="padding-left: 10px" placeholder="&#xf002; Search for contact"
                           type="text"
                           ng-model="vm.exportContactSearch" ng-show="vm.exportContacts==='selected'">
                  </div>
                  <div class="main mh-300 border mt-10" ms-scroll ng-show="vm.exportContacts==='selected'">

                    <!-- CONTACT LIST -->
                    <md-list class="contacts-list nopad">

                      <!-- CONTACT ITEM -->
                      <div class="scrollable small-list">
                        <md-list-item class="contact-item md-white-bg bb" md-ink-ripple
                                      ng-repeat="contact in vm.contacts | filter: vm.exportContactSearch | filterByIds:vm.filterIds |  orderBy: vm.listOrder :vm.listOrderAsc | filter:query as filteredContacts track by contact.id "
                                      ng-click=""
                                      ng-style="{'transform': 'translate3d(0px, '+$index * 0+'%, 0px)', 'z-index': filteredContacts.length - $index}"
                                      ng-class="{'selected': vm.isSelected(contact)}">

                          <md-checkbox class="mt-0 mb-0" ng-checked="vm.isSelected(contact, vm.selectedContactsForExport)"
                                       ng-click="vm.toggleExportSelectContact(contact, $event)"
                                       aria-label="{{vm.isSelected(contact, vm.selectedContactsForExport) ? 'Deselect' : 'Select'}}">
                          </md-checkbox>

                          <p class="text-truncate font-weight-600 w-150">{{contact.first_name}} {{contact.last_name}}</p>


                          <p class="email text-truncate hide show-gt-sm w-235 teal-A400-fg pl-10 pr-10">
                            <b>{{contact.email}}</b>
                          </p>

                          <div class="actions" layout="row" layout-align="start center">
                            <md-button class="md-icon-button  hide show-gt-xs" aria-label="Toggle starred">
                              <md-icon ng-if="contact.favorite" md-font-icon="icon-star"
                                       class="amber-fg"></md-icon>
                              <md-icon ng-if="!contact.favorite"
                                       md-font-icon="icon-star-outline"></md-icon>
                            </md-button>
                          </div>
                        </md-list-item>
                        <!-- CONTACT ITEM -->
                      </div>

                    </md-list>
                    <!-- / CONTACT LIST -->

                    <!-- NO RESULTS -->
                    <md-list-item class="no-results md-white-bg" ng-show="filteredContacts.length === 0">
                      <p>No results..</p>
                    </md-list-item>
                    <!-- / NO RESULTS -->

                  </div>

                  <br>

                </md-radio-group>
              </div>
              <!----
              <h3><strong>Select a format to export</strong></h3>
              <div style="padding-left:10px;">
                <md-radio-group ng-model="vm.exportContactsType">

                  <md-radio-button value="googleCsv" class="md-primary">Google CSV</md-radio-button>
                  <br>
                  <md-radio-button value="outlookCsv">Microsoft Outlook CSV</md-radio-button>
                  <br>
                  <md-radio-button value="vcf">vCard (VCF) [supports Apple, Android, Windows etc]</md-radio-button>
                  <br>

                </md-radio-group>
              </div>
              <!---->
              <div class="btn-gutter mb-20">
                <md-button class="" style="color:white;background-color:rebeccapurple;"
                           ng-click="vm.exportContactSubmit()" ng-hide="vm.downloadedFileUrl">
                  Export
                </md-button>
                <span ng-if="vm.downloadedFileUrl">File is ready! </span>
                <a href="{{vm.currentUrl+vm.downloadedFileUrl}}" target="_blank" ng-if="vm.downloadedFileUrl"
                   ng-click="vm.downloadedFileUrl=''">
                  <md-button style="color:white;background-color:rebeccapurple;">Download File</md-button>
                </a>
                <md-button style="color:black;cursor:pointer;" ng-click="vm.downloadedFileUrl=''"
                           ng-if="vm.downloadedFileUrl"> Cancel
                </md-button>
              </div>
            </div>
          </md-tab-body>
        </md-tab>
      </md-tabs>

    </md-dialog-content><!--md-dialog-content-->

  </form>
</md-dialog>
