<md-dialog class="compose-dialog import-export dialog-wrap" aria-label="Add/Edit user" style="padding: 15px;overflow-x:hidden;">
  <h2>Imported Contacts from CSV ({{vm.importedCsvContact.length}})</h2>
  <div class="white-bg md-whiteframe-4dp">
    <table class="dataTable row-border hover" datatable="ng" dt-options="vm.dtOptions">
      <thead>
      <tr>
        <th class="secondary-text">
          <div class="table-header">
            <span class="column-title">Name</span>
          </div>
        </th>
        <th class="secondary-text">
          <div class="table-header">
            <span class="column-title">Email</span>
          </div>
        </th>
        <th class="secondary-text">
          <div class="table-header">
            <span class="column-title">Phone</span>
          </div>
        </th>
        <th class="secondary-text">
          <div class="table-header">
            <span class="column-title">Status</span>
          </div>
        </th>
      </thead>
      <tbody>
      <tr ng-repeat="item in vm.importedCsvContact">
        <td>{{ item.first_name}}{{ item.middle_name?item.middle:''}} {{ item.last_name}}</td>
        <td>{{ item.email}}</td>
        <td>{{ item.phone[0].number }}</td>
        <td>{{ item.dbUpdateStatus }}</td>
      </tr>
      </tbody>
    </table>

    <md-button class="" ng-click="vm.closeDialog();">Ok</md-button>
  </div>
</md-dialog>
