<md-dialog class="compose-dialog-2 contact-group edit dialog-wrap" aria-label="Add/Edit user">
  <form class="md-inline-form">
    <md-dialog-heading layout="row" class="border-bottom">
      <div flex><h2>Edit Group</h2></div>
      <div right dialog-btn>
        <md-button ng-click="vm.closeDialog()">
          <md-icon md-font-icon="icon-keyboard-return"></md-icon>
        </md-button>
      </div>
    </md-dialog-heading><!--md-dialog-heading-->

    <md-dialog-content>
      <div class="new-group mh-300" ms-scroll>
        <div class="mb-10">
          <b class="pb-5 area-block">Update group name:</b>
          <input class="border-all area-block w-1000" type="text" placeholder="Enter a name"
                 ng-model="vm.editGroupData.name">
        </div>

        <div class="mb-10">
          <b class="pb-5 area-block">Update contacts:</b>
          <md-contact-chips
            ng-model="vm.asyncContacts"
            md-contacts="vm.delayedQuerySearch($query)"
            md-contact-name="name"
            md-contact-image="image"
            md-contact-email="email"
            md-require-match="true"
            md-highlight-flags="i"
            md-min-length="0"
            filter-selected="vm.filterSelected"
            placeholder="Search for a contact">
          </md-contact-chips>
        </div>
      </div>
      <div layout="row" class="action-buttons">
        <md-button class="btn-basic lh-2 ml-0" ng-click="vm.closeDialog()">Cancel</md-button>
        <md-button class="btn-violate lh-2" ng-click="vm.updateGroupFromList()">Update</md-button>
      </div>
    </md-dialog-content><!--md-dialog-content-->

  </form>
</md-dialog>
