<md-dialog class="compose-dialog-2 contact-group dialog-wrap" aria-label="Add/Edit user">
    <md-dialog-heading layout="row" class="border-bottom">
      <div flex><h2>Manage Groups ({{vm.userGroups.length}})</h2></div>
      <div right dialog-btn>
        <md-button ng-click="vm.closeDialog()">
          <md-icon md-font-icon="icon-keyboard-return"></md-icon>
        </md-button>
      </div>
    </md-dialog-heading><!--md-dialog-heading-->

    <md-dialog-content>
      <div class="manage-group">
        <md-button class="btn-violate nomargin pl-15 pr-15 height-30 lh-2 brad-3" ng-click="vm.closeDialog;vm.openAddGroupPopup();">Create new group</md-button>
        <br>
        <br>
        <div layout="row" class="pb-10">
          <div flex="40" class="pr-10"><b>Group</b></div>
          <div flex="40" class="pr-10">
            <span md-offset="0 -5"><strong>Show in group list</strong>
            </span>
          </div>
          <div flex="20" class="pl-5"><b>Actions</b></div>
        </div>
        <div align="center" style="color:grey;font-size:14px;" ng-if="!vm.userGroups.length">No Groups found. Create a new group.</div>
        <div layout="row" layout-align="start start" class="btn-span group-row" ng-repeat="group in vm.userGroups">
          <div flex="40" class="pr-10">{{group.name}}</div>
          <div flex="40" class="pr-10">
            <md-switch ng-model="group.isShown" aria-label="Finished?" style="margin-top:0px;" ng-change="vm.changeIsShownGroup(group.id, group.isShown)">
              {{group.isShown?'Shown':'Hidden'}}
            </md-switch>
            </span></div>
          <div flex="20" layout="row" layout-align="start center">
            <button ng-click="vm.removeGroupFromList($event, group.id, group.name)">Remove</button>
            <button ng-click="vm.editGroupFromList(group)">Edit</button>
          </div>
        </div>

      </div>
    </md-dialog-content><!--md-dialog-content-->

</md-dialog>
