<!-- CONTACTS TOOLBAR -->
<md-toolbar class="md-tall md-accent">

    <!-- TOOLBAR TOP -->
    <div class="md-toolbar-tools md-toolbar-tools-top">

        <md-button class="md-icon-button"
                   ng-click="vm.toggleLeftSidenavView(false)" aria-label="back button">
            <md-icon md-font-icon="icon-arrow-left"></md-icon>
        </md-button>

      <!--<h3>-->
        <!--<span>CONTACTS</span>-->
      <!--</h3>-->

    </div>
    <!-- / TOOLBAR TOP -->

    <!-- TOOLBAR BOTTOM -->
    <div class="md-toolbar-tools md-toolbar-tools-bottom">

        <div class="search-wrapper border" layout="row" layout-align="start center" flex>

            <div class="search" flex layout="row" layout-align="start center">

                <md-icon md-font-icon="icon-magnify" class="icon s18">
                </md-icon>

                <input flex ng-model="vm.contactSearch" type="text" placeholder="Search contact">

            </div>

        </div>
    </div>
    <!-- / TOOLBAR BOTTOM -->

</md-toolbar>
<!-- / CONTACTS TOOLBAR -->

<!-- CONTACTS CONTENT -->
<md-content flex ms-scroll>

    <!-- CONTACTS LIST-->
    <md-list class="contact-list">

        <md-list-item class="contact md-3-line"
                      ng-repeat="contact in vm.contacts  | filter: {name: vm.contactSearch} | orderBy: 'name' :false | filter:query as filteredContact"
                      ng-style="{'transform': 'translate3d(0px, '+$index * 100+'%, 0px)', 'z-index': filteredContact.length - $index}"
                      ng-click="vm.getChat(contact.id)">

            <div class="fist-letter md-accent-fg"
                 ng-if="vm.contacts[$index].first_name.charAt(0) !== vm.contacts[$index-1].first_name.charAt(0)">
                {{contact.first_name.charAt(0)}}
            </div>

            <div class="avatar-wrapper">
                <img ng-src="{{contact.photo_url || 'images/avatars/profile.jpg'}}" class="md-avatar avatar" ng-class="contact.mode || 'offline'" alt=""/>
            </div>

            <div class="md-list-item-text">
                <h3>{{contact.first_name + ' ' + contact.last_name}}</h3>
                <p class="mood" ng-bind="contact.mode"></p>
            </div>

        </md-list-item>



    </md-list>
    <!-- / CONTACTS LIST-->

    <!-- NO RESULTS MESSAGE -->
    <div ng-if="filteredContact.length <= 0" class="no-results-message">
        No results..
    </div>
    <!-- NO RESULTS MESSAGE-->

</md-content>
<!-- / CONTACTS CONTENT -->
