<md-dialog class="upload-dialog" aria-label="Upload Files">
  <form class="md-inline-form">
    <md-toolbar class="md-accent md-hue-2">
      <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
        <span class="title">Change File Name</span>
        <md-button class="back-button"  ng-click="vm.closeDialog();" aria-label="Close dialog">
          <md-icon md-font-icon="icon-close"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <div flex layout="row" layout-align="center">
      <md-dialog-content>
        <!-- md-raised md-primary -->

        <div layout="row">
          <md-input-container flex class="new_folder">
            <label>Name</label>
            <input required name="fileName" ng-model="vm.mediaNameForRename">
            <div ng-messages="vm.mediaNameForRename.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>
        </div>
        <md-button class="md-raised folder-create md-primary" type="submit" ng-click="vm.renameMediaConfirm()">Raname </md-button>
      </md-dialog-content>
    </div>
  </form>
</md-dialog>
