<md-dialog class="upload-dialog" aria-label="Upload Files">
  <form class="md-inline-form">
    <md-toolbar class="md-accent md-hue-2">
      <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
        <span class="title">Share With Contacts</span>
        <md-button class="back-button"  ng-click="vm.closeDialog();" aria-label="Close dialog">
          <md-icon md-font-icon="icon-close"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <div flex layout="row" layout-align="center">
      <md-dialog-content>
        <!-- md-raised md-primary -->

        <div layout="row">
          <md-input-container flex class="new_folder">

            <md-chips flex ng-model="vm.selectedContacts" md-autocomplete-snap
                      md-transform-chip="vm.transformChip($chip)">
              <md-autocomplete
                md-selected-item="vm.selectedContact"
                md-search-text="vm.searchText"
                md-items="item in vm.querySearch(vm.searchText)"
                md-item-text="item.name">
                <md-item-template>
                  <div class="autocomplete avatar-wrapper avail-status">
                    <img md-menu-align-target="" class="avatar" ng-src="{{item.image}}" alt="{{item.name}}" err-src="images/avatars/blank.jpg">
                    <span md-highlight-text="vm.searchText" md-highlight-flags="^i">{{item.name}}</span>
                  </div>
                </md-item-template>
              </md-autocomplete>
              <md-chip-template>
                  <span class="md-chip-text-avatar">
                    {{ $chip.name.charAt(0) }}
                  </span>
                <span>
                    <em>{{$chip.name}}</em>
                  </span>
              </md-chip-template>

            </md-chips>

          </md-input-container>
        </div>
        <md-button class="md-raised folder-create md-primary" type="submit" ng-click="vm.shareMediaSubmission()">Share </md-button>
      </md-dialog-content>
    </div>
  </form>
</md-dialog>
