<md-dialog class="video_player" aria-label="Upload Media">
  <div class="player_toolbar po-a wp-100 z-index" layout="row" layout-align="end end">
    <md-button ng-click="vm.closeVideoPopup()" class="md-icon-button no-margin">
      <md-icon md-font-icon="icon-window-close grey-A100-fg"></md-icon>
    </md-button>
  </div>
  <div id="sochara_video_player" class="sochara_video_player">
    <video id="posterUrl" poster="" controls>
      <source id="videoUrl" src="" type="video/mp4" data-plyr='{ title: "testing" }'>
    </video>
    <!--<a href="javascript:void(0)" class="cd-popup-close img-replace" ng-click="vm.closeVideoPopup()"></a>-->
  </div> <!-- cd-popup-container -->
</md-dialog>
