<!doctype html>
<html ng-app="sochara">
<head>
  <base href="/">
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta property="fb:app_id"          content="1589011794492434" />
  <meta property="og:type"            content="Application" />
  <meta property="og:url"             content="https://www.sochara.com" />
  <meta property="og:title"           content="Sochara Application" />
  <meta property="og:image"           content="https://www.sochara.com/images/logo.png" />
  <meta property="og:description"    content="Sochara Application is Social Service - API based application" />
  <title>Sochara - Application</title>

  <!--<link href='https://fonts.googleapis.com/css?family=Aclonica|Allan|Allerta|Allerta+Stencil|Amaranth|Annie+Use+Your+Telescope|Anonymous+Pro|Anton|Architects+Daughter|Arimo|Artifika|Arvo|Asset|Astloch|Bangers|Bentham|Bevan|Bigshot+One|Bowlby+One|Bowlby+One+SC|Brawler|Buda:300|Cabin|Calligraffitti|Candal|Cantarell|Cardo|Carter+One|Caudex|Cedarville+Cursive|Cherry+Cream+Soda|Chewy|Coda|Coming+Soon|Copse|Corben|Cousine|Covered+By+Your+Grace|Crafty+Girls|Crimson+Text|Crushed|Cuprum|Damion|Dancing+Script|Dawning+of+a+New+Day|Didact+Gothic|Droid+Sans|Droid+Sans+Mono|Droid+Serif|EB+Garamond|Expletus+Sans|Fontdiner+Swanky|Forum|Francois+One|Geo|Give+You+Glory|Goblin+One|Goudy+Bookletter+1911|Gravitas+One|Gruppo|Hammersmith+One|Holtwood+One+SC|Homemade+Apple|IM+Fell+DW+Pica|IM+Fell+DW+Pica+SC|IM+Fell+Double+Pica|IM+Fell+Double+Pica+SC|IM+Fell+English|IM+Fell+English+SC|IM+Fell+French+Canon|IM+Fell+French+Canon+SC|IM+Fell+Great+Primer|IM+Fell+Great+Primer+SC|Inconsolata|Indie+Flower|Irish+Grover|Istok+Web|Josefin+Sans|Josefin+Slab|Judson|Jura|Just+Another+Hand|Just+Me+Again+Down+Here|Kameron|Kenia|Kranky|Kreon|Kristi|La+Belle+Aurore|Lato|League+Script|Lekton|Limelight|Lobster|Lobster+Two|Lora|Love+Ya+Like+A+Sister|Loved+by+the+King|Luckiest+Guy|Maiden+Orange|Mako|Maven+Pro|Meddon|MedievalSharp|Megrim|Merriweather|Metrophobic|Michroma|Miltonian|Miltonian+Tattoo|Modern+Antiqua|Molengo|Monofett|Mountains+of+Christmas|Muli|Neucha|Neuton|News+Cycle|Nixie+One|Nova+Cut|Nova+Flat|Nova+Mono|Nova+Oval|Nova+Round|Nova+Script|Nova+Slim|Nova+Square|Nunito|Old+Standard+TT|Open+Sans|Open+Sans+Condensed:300|Orbitron|Oswald|Over+the+Rainbow|PT+Sans|PT+Sans+Narrow|PT+Serif|PT+Serif+Caption|Pacifico|Patrick+Hand|Patrick+Hand+SC|Paytone+One|Permanent+Marker|Philosopher|Play|Playfair+Display|Podkova|Puritan|Quattrocento|Quattrocento+Sans|Radley|Raleway:100,100i,200,200i,300,300i,400,500,600,700,800,900|Redressed|Reenie+Beanie|Rock+Salt|Rokkitt|Ruslan+Display|Schoolbell|Shadows+Into+Light|Shanti|Sigmar+One|Six+Caps|Slackey|Smythe|Sniglet|Special+Elite|Stardos+Stencil|Sue+Ellen+Francisco|Sunshiney|Swanky+and+Moo+Moo|Syncopate|Tangerine|Tenor+Sans|The+Girl+Next+Door|Tinos|Ubuntu|Ultra|UnifrakturCook:700|UnifrakturMaguntia|Unkempt|VT323|Varela+Round|Vibur|Vollkorn|Waiting+for+the+Sunrise|Yanone+Kaffeesatz|Yeseva+One|Zeyada' rel='stylesheet' type='text/css'>-->
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

  <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
  <!-- bower:css -->
  <!--STYLES-->
  <link rel="stylesheet" href="/vendors/perfect-scrollbar/css/perfect-scrollbar.css">
  <link rel="stylesheet" href="/vendors/spectrum/spectrum.css">
  <link rel="stylesheet" href="/app/core/directives/sochara-lightbox/light-box.directive.css">
  <link rel="stylesheet" href="/vendors/jquery-ui/themes/base/jquery-ui.min.css">
  <link rel="stylesheet" href="/vendors/plyr/dist/plyr.css">
  <link rel="stylesheet" href="/vendors/SocharaPhotoEditor/css/PhotoEditorReactUI.min.css">
  <link rel="stylesheet" href="/styles/index.css">
  <link rel="stylesheet" href="/vendors/skypecon/dist/css/skypecon.min.css">
  <link rel="stylesheet" href="/vendors/fullcalendar/dist/fullcalendar.css">
  <link rel="stylesheet" href="/vendors/mdPickers/dist/mdPickers.min.css">
  <link rel="stylesheet" href="/vendors/ng-img-crop-full-extended/compile/minified/ng-img-crop.css">
  <link rel="stylesheet" href="/vendors/ng-emoticons/dist/ng-emoticons.min.css">
  <link rel="stylesheet" href="/vendors/jquery-modal/jquery.modal.css">
  <link rel="stylesheet" href="/vendors/textAngular/dist/textAngular.css">
  <link rel="stylesheet" href="/vendors/emoji-picker/lib/css/emoji.css">
  <link rel="stylesheet" href="/vendors/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/app/main/labels/fontselect.css">
  <link rel="stylesheet" href="/app/main/calendar/angular-tiny-calendar/tiny-calendar.min.css">
  <link rel="stylesheet" href="/styles/importer.css">
  <!--STYLES END-->




</head>

<!--[if lt IE 10]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
  your browser</a> to improve your experience.</p>
<![endif]-->

<body md-theme="{{vm.themes.active.name}}" md-theme-watch ng-controller="IndexController as vm" class="{{state.current.bodyClass || ''}}">

<%- body %>



<!--SCRIPTS-->
<script src="/js/dependencies/sails.io.js"></script>
<script src="/vendors/jquery/dist/jquery.js"></script>
<script src="/vendors/angular/angular.js"></script>
<script src="/vendors/angular-animate/angular-animate.js"></script>
<script src="/vendors/angular-aria/angular-aria.js"></script>
<script src="/vendors/angular-material/angular-material.js"></script>
<script src="/vendors/angular-sanitize/angular-sanitize.js"></script>
<script src="/vendors/angular-ui-router/release/angular-ui-router.js"></script>
<script src="/vendors/mobile-detect/mobile-detect.js"></script>
<script src="/vendors/moment/moment.js"></script>
<script src="/vendors/moment-range/dist/moment-range.min.js"></script>
<script src="/vendors/angular-moment/angular-moment.min.js"></script>
<script src="/vendors/perfect-scrollbar/js/perfect-scrollbar.js"></script>
<script src="/vendors/fullcalendar/dist/fullcalendar.js"></script>
<script src="/vendors/angular-ui-calendar/src/calendar.js"></script>
<script src="/vendors/jquery-ui/jquery-ui.min.js"></script>
<script src="/vendors/rangy/rangy-core.js"></script>
<script src="/vendors/rangy/rangy-classapplier.js"></script>
<script src="/vendors/rangy/rangy-highlighter.js"></script>
<script src="/vendors/rangy/rangy-selectionsaverestore.js"></script>
<script src="/vendors/rangy/rangy-serializer.js"></script>
<script src="/vendors/ng-file-upload/ng-file-upload.min.js"></script>
<script src="/vendors/spectrum/spectrum.js"></script>
<script src="/app/core/directives/sochara-lightbox/light-box.directive.js"></script>
<script src="/app/core/core.module.js"></script>
<script src="/app/core/directives/ms-splash-screen/ms-splash-screen.directive.js"></script>
<script src="/app/core/directives/ms-search-bar/ms-search-bar.directive.js"></script>
<script src="/app/core/directives/ms-scroll/ms-scroll.directive.js"></script>
<script src="/app/core/directives/color-picker.directive.js"></script>
<script src="/app/core/directives/ms-info-bar/ms-info-bar.directive.js"></script>
<script src="/app/core/directives/ms-form-wizard/ms-form-wizard.directive.js"></script>
<script src="/vendors/ng-img-crop-full-extended/compile/unminified/ng-img-crop.js"></script>
<script src="/vendors/mdPickers/dist/mdPickers.min.js"></script>
<script src="/app/core/directives/ng-draggable.js"></script>
<script src="/vendors/hammerjs/hammer.min.js"></script>
<script src="/vendors/angular-hammer/angular-hammer.js"></script>
<script src="/vendors/base-64/base64.js"></script>
<script src="/vendors/quoted-printable/quoted-printable.js"></script>
<script src="/vendors/utf8/utf8.js"></script>
<script src="/app/core/theming/sochara-theming.service.js"></script>
<script src="/app/core/theming/sochara-theming.config.js"></script>
<script src="/app/core/theming/sochara-themes.constant.js"></script>
<script src="/app/core/theming/sochara-palettes.constant.js"></script>
<script src="/app/core/theming/sochara-generator.service.js"></script>
<script src="/app/core/services/ms-utils.service.js"></script>
<script src="/app/core/filters/filterByIds.filter.js"></script>
<script src="/app/core/filters/basic.filter.js"></script>
<script src="/app/core/filters/altDate.filter.js"></script>
<script src="/app/core/directives/sochara.directive.js"></script>
<script src="/app/core/config/sochara-config.provider.js"></script>
<script src="/app/toolbar/toolbar.module.js"></script>
<script src="/app/toolbar/toolbar.controller.js"></script>
<script src="/app/index.module.js"></script>
<script src="/app/main/main.service.js"></script>
<script src="/app/main/main.controller.js"></script>
<script src="/app/main/auth/login/login.module.js"></script>
<script src="/app/main/auth/login/login.controller.js"></script>
<script src="/vendors/packery/dist/packery.pkgd.js"></script>
<script src="/app/main/dashboard/dashboard.module.js"></script>
<script src="/app/main/dashboard/dashboard.service.js"></script>
<script src="/app/main/dashboard/dashboard.controller.js"></script>
<script src="/vendors/ng-file-upload/ng-file-upload-shim.min.js"></script>
<script src="/vendors/plyr/dist/plyr.js"></script>
<script src="/vendors/textAngular/dist/textAngularSetup.js"></script>
<script src="/vendors/textAngular/dist/textAngular.js"></script>
<script src="/vendors/textAngular/dist/textAngular.umd.js"></script>
<script src="/vendors/textAngular/dist/textAngular-sanitize.js"></script>
<script src="/vendors/textAngular/dist/textAngular-rangy.min.js"></script>
<script src="/app/main/auth/register/register.module.js"></script>
<script src="/app/main/auth/register/register.controller.js"></script>
<script src="/app/main/pages/page.module.js"></script>
<script src="/app/main/pages/page.controller.js"></script>
<script src="/app/main/auth/forgot-password/forgot-password.module.js"></script>
<script src="/app/main/auth/forgot-password/forgot-password.controller.js"></script>
<script src="/app/main/auth/reset-password/reset-password.module.js"></script>
<script src="/app/main/auth/reset-password/reset-password.controller.js"></script>
<script src="/app/main/setting/global.module.js"></script>
<script src="/app/main/setting/global.service.js"></script>
<script src="/app/main/setting/global.controller.js"></script>
<script src="/app/main/profile/profile.module.js"></script>
<script src="/app/main/profile/popup/settings-popup.controller.js"></script>
<script src="/app/main/profile/profile.service.js"></script>
<script src="/app/main/profile/profile.controller.js"></script>
<script src="/app/main/contacts/contacts.module.js"></script>
<script src="/app/main/contacts/contacts.service.js"></script>
<script src="/app/main/contacts/contacts.controller.js"></script>
<script src="/app/main/labels/label.module.js"></script>
<script src="/app/main/labels/label.service.js"></script>
<script src="/app/main/labels/label.controller.js"></script>
<script src="/app/main/calendar/angular-tiny-calendar/tiny-calendar.js"></script>
<script src="/app/main/calendar/calendar.module.js"></script>
<script src="/app/main/calendar/calendar.service.js"></script>
<script src="/app/main/calendar/calendar.controller.js"></script>
<script src="/app/main/calendar/dialogs/event-detail/event-detail-dialog.controller.js"></script>
<script src="/app/main/calendar/dialogs/event-form/event-form-dialog.controller.js"></script>
<script src="/app/main/cards/cards.module.js"></script>
<script src="/app/main/cards/card.service.js"></script>
<script src="/app/main/cards/cards.controller.js"></script>
<script src="/app/main/poll/poll.module.js"></script>
<script src="/app/main/poll/poll.service.js"></script>
<script src="/app/main/poll/poll.controller.js"></script>
<script src="/app/main/mail/mail.module.js"></script>
<script src="/app/main/mail/dialogs/compose/compose-dialog.controller.js"></script>
<script src="/app/main/mail/mail.service.js"></script>
<script src="/app/main/mail/mail.controller.js"></script>
<script src="/app/main/chat/chat.module.js"></script>
<script src="/app/main/chat/chat.service.js"></script>
<script src="/app/main/chat/chat.controller.js"></script>
<script src="/app/main/media/media.module.js"></script>
<script src="/app/main/media/media.service.js"></script>
<script src="/app/main/media/media.controller.js"></script>
<script src="/app/main/files/files.module.js"></script>
<script src="/app/main/files/files.service.js"></script>
<script src="/app/main/files/files.controller.js"></script>
<script src="/app/core/core.run.js"></script>
<script src="/app/core/core.config.js"></script>
<script src="/app/index.run.js"></script>
<script src="/app/index.route.js"></script>
<script src="/app/index.controller.js"></script>
<script src="/app/index.constants.js"></script>
<script src="/app/index.config.js"></script>
<script src="/app/index.api.js"></script>
<script src="/app/main/auth/services/auth.service.js"></script>
<script src="/vendors/html2canvas/build/html2canvas.min.js"></script>
<!--SCRIPTS END-->

<!-- endinject -->
<!-- inject:partials -->
<!-- angular templates will be automatically converted in js and inserted here -->
<!-- endinject -->
<!-- endbuild -->

</body>
</html>
