
<!-- SPLASH SCREEN -->
<ms-splash-screen id="splash-screen">
  <div class="center">
    <div class="logo">
    </div>
    <!-- Material Design Spinner -->
    <div class="spinner-wrapper">
      <div class="spinner">
        <div class="inner">
          <div class="gap"></div>
          <div class="left">
            <div class="half-circle"></div>
          </div>
          <div class="right">
            <div class="half-circle"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- / Material Design Spinner -->
  </div>
</ms-splash-screen>
<!-- / SPLASH SCREEN -->

<div id="main" class="animate-slide-up" ui-view="main" layout="column"></div>

<ms-theme-options></ms-theme-options>
