<!doctype html>
<html ng-app="sochara">
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta property="fb:app_id"          content="1589011794492434" />
  <meta property="og:type"            content="Application" />
  <meta property="og:url"             content="https://www.sochara.com" />
  <meta property="og:title"           content="Sochara Application" />
  <meta property="og:description"    content="Sochara Application is Social Service - API based application" />
  <title>Sochara - Application</title>

</head>


<body>

<%- body %>


</body>
</html>
