<div id="profile" class="page-layout simple tabbed">
<style>
  #profile .header{

  }
  .cropArea {
    background: #E4E4E4;
    overflow: hidden;
    width:auto;
    height:300px;}
  .profile-image {
    border:2px solid grey;
    min-height: 85px;min-width: 85px;border-radius: 100%;margin: auto 0;
    background-size: 100% 100% !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    margin-right: 24px;
  }
  .uploadImage{
    width:100%;
    height:100%;
    background:black;
    display: none;
    min-height: 85px;min-width: 85px;border-radius: 100%;
    /*border:1px solid green;margin: auto 0;*/
    background-size: 100% 100% !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;

  }
  .profile-image:hover .uploadImage{
    background:white !important;
    display: block;
    color:black !important;
    font-size:12px;
    line-height: 1.2;
    padding: 20px;
  }
  .bannerStrech{
  background-size:100% !important; background-repeat: no-repeat !important; background-position: center center !important;
}
  </style>
    <!-- HEADER style="{{vm.contact.bannerImage?'background:url('+vm.contact.bannerImage+')':''}}" -->
    <div style="{{vm.contact.bannerImage?'background:url('+vm.contact.bannerImage+')':''}}"  class="header md-accent-bg" layout="column" layout-align="center center" layout-gt-sm="row" layout-align-gt-sm="space-between end" >
        <div class="user-info" layout="column" layout-align="center center" layout-gt-sm="row" layout-align-gt-sm="start center">
          <div class="profile-image avatar huge" style='background-image:url({{vm.contact.photo_url || "images/avatars/profile.jpg"}});'>

              <!-- Trigger element is a md-button with an icon -->
              <div class="uploadImage" style="cursor:pointer;" md-menu-origin md-menu-align-target ng-click="vm.uploadProfilePhotoPopup()">
                <md-icon md-font-icon="icon-folder-multiple-image"></md-icon>
                Change Photo
              </div>

          </div>
            <div class="name">{{vm.contact.first_name}}{{vm.contact.middle_name?' '+vm.contact.middle_name:''}}{{vm.contact.last_name?' '+vm.contact.last_name:''}}</div>
        </div>

      <!--<div id="bannerImage" style="display:none;">-->
      <!--<h3>Select an image file: <input class="md-raised md-accent" type="file" id="fileInputBanner" /></h3>-->
      <!--<br><div class="cropArea">-->
        <!--<strong>Preview:</strong>-->
      <!--<img ng-src="{{bannerImgSrc}}" style="width:100%;height:auto;"/>-->
      <!--</div>-->
        <!--<md-button ng-disabled="!vm.uploadButton" class="md-raised md-accent" ng-click="saveBannerImage()" aria-label="Follow">Upload Cropped Image-->
        <!--</md-button>-->
      <!--</div>-->

      <!--<div class="actions md-button md-ink-ripple" layout="row" layout-align="end center" style="background:#9c1ae6;">
            <md-menu>
              <div class="" style="cursor:pointer;" md-menu-origin md-menu-align-target ng-click="$mdOpenMenu($event)">
                Change Banner</div>
              <md-menu-content>
                <md-menu-item><md-button ng-click="doSomething()"><md-icon md-font-icon="icon-file-image-box"></md-icon> Select from Images</md-button></md-menu-item>
                <md-menu-item><a style="padding: 0px;margin:0px;" href="#bannerImage" rel="modal:open"><md-button ng-click="doSomething()"><md-icon md-font-icon="icon-laptop"></md-icon> Upload from Computer</md-button></a> </md-menu-item>
              </md-menu-content>
            </md-menu>
      </div>-->
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content" flex>

        <md-tabs md-dynamic-height>
            <md-tab>
                <md-tab-label>
                    <span>Profile</span>
                </md-tab-label>
                <md-tab-body>
                    <md-content class="timeline-tab"
                                ng-include="'app/main/profile/tabs/timeline/timeline.html'">
                    </md-content>
                </md-tab-body>
            </md-tab>
           <!-- <md-tab>
                <md-tab-label>
                    <span>Account Setting</span>
                </md-tab-label>
                <md-tab-body>
                    <md-content class="about-tab"
                                ng-include="'app/main/profile/tabs/about/about.html'">
                    </md-content>
                </md-tab-body>
            </md-tab>-->

        </md-tabs>

    </div>
    <!-- / CONTENT -->

</div>
