<style>
  .md-datepicker-button{
    display:none !important;
  }
  .md-datepicker-input-container{
    margin-left:0px !important;
  }
    .icon-window-close{
        cursor: pointer;
    }
    .icon-plus{
        cursor: pointer;
    }
  input{
    width:90%;
  }
</style>
<md-dialog class="compose-dialog settings-dialog " aria-label="Reply Message">
    <form class="md-inline-form" id="transparentColorFix">

        <md-dialog-heading>
            <div layout="row">
                <div flex="60"><h2>General Information</h2></div>
                <div flex="40" right dialog-btn>
                    <md-button ng-click="vm.closeDialog();">Discard</md-button>
                    <md-button btn-purple ng-click="vm.saveProfile()">Save</md-button>
                </div>
            </div>
        </md-dialog-heading>

        <md-dialog-content ms-scroll>
            <md-input-container class="md-block ">
                <div layout="row">
                    <div flex="10">
                        <md-icon md-font-icon="icon-account-outline"></md-icon>
                    </div>
                    <div flex="90">
                        <div layout="row" bbtm>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>First name</label>
                                <input type="text" ng-model="vm.contact.first_name" >
                            </md-input-container>
                        </div>
                        <div layout="row" bbtm>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label> Middle Name</label>
                                <input type="text"  ng-model="vm.contact.middle_name" >
                            </md-input-container>
                        </div>
                        <div layout="row" bbtm>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Last name</label>
                                <input type="text"  ng-model="vm.contact.last_name" >
                            </md-input-container>
                        </div>
                    </div>

                </div>


              <!--Birtday area-->
              <br>
                <div layout="row">
                    <div flex="10">
                        <md-icon md-font-icon="icon-calendar"></md-icon>
                    </div>
                    <div flex="90">
                        <div layout="row" bbtm>
                            <md-input-container class="md-block" flex-gt-sm>
                              <label style="left:0px;">Birthday</label>
                              <md-datepicker ng-init="vm.date_birth = vm.StrToDate(vm.contact.date_birth);"
                               class="birthday-input" ng-model="vm.date_birth" md-placeholder="Birthday"
                               ng-required="false">
                              </md-datepicker>
                            </md-input-container>
                        </div>
                    </div>

                </div>

              <!--Anniversary area-->
              <br>

              <div layout="row">
                <div flex="10">
                  <md-icon md-font-icon="icon-calendar"></md-icon>
                </div>
                <div flex="90">
                  <div layout="row" bbtm>
                    <md-input-container class="md-block" flex-gt-sm>
                      <label style="left:0px;">Anniversary</label>

                      <md-datepicker ng-init="vm.date_anniv = vm.StrToDate(vm.contact.date_anniversary);"
                               class="birthday-input" ng-model="vm.date_anniv" md-placeholder="Anniversary"
                               ng-required="false">
                      </md-datepicker>
                    </md-input-container>
                  </div>
                </div>

              </div>

              <!--Notes area-->
              <br>

              <div layout="row">
                <div flex="10">
                  <md-icon md-font-icon="icon-note"></md-icon>
                </div>
                <div flex="90">
                  <div layout="row" bbtm>
                    <md-input-container class="md-block" flex-gt-sm>
                      <label>Notes</label>
                      <input type="text" ng-model="vm.contact.notes" >
                    </md-input-container>
                  </div>
                </div>

              </div>
              <br>
              <div layout="row" ng-repeat="item in vm.contact.profGenSetAddItemAmount" ng-if="item.value">
                <div flex="10">
                  <md-icon md-font-icon="icon-bookmark-plus"></md-icon>
                </div>
                <div flex="90">
                  <div layout="row" bbtm>
                    <md-input-container class="md-block" flex-gt-sm>
                      <label>{{item.label}}</label>
                      <input type="text" ng-model="vm.contact.profGenSetAddItemAmount[$index].value">
                    </md-input-container>
                  </div>
                </div>

              </div>
              <p ng-click="vm.addGeneralItem()" style="color:#5dded6;cursor:pointer;">
                <md-icon md-font-icon="icon-bookmark-plus"></md-icon>
                {{vm.addItemButtonValue()}}</p>
            </md-input-container>
        </md-dialog-content>
    </form>
</md-dialog>
