<style>
  .md-datepicker-button{
    display:none !important;
  }
  .md-datepicker-input-container{
    margin-left:0px !important;
  }
    .icon-window-close{
        cursor: pointer;
    }
    .icon-plus{
        cursor: pointer;
    }
    .icon-minus{
        cursor: pointer;
    }
  input{
    width:90%;
  }
</style>
<md-dialog class="compose-dialog settings-dialog " aria-label="Reply Message">
    <form class="md-inline-form" id="transparentColorFix">

        <md-dialog-heading>
            <div layout="row">
                <div flex="60"><h2>New Items</h2></div>
                <div flex="40" right dialog-btn>
                    <md-button ng-click="vm.contact.profrelativeSetAddItemAmount=vm.temprelativeAddedItem;vm.closeDialog();vm.profileRelativesSettings();">Discard</md-button>
                    <md-button btn-purple ng-click="vm.saveProfile();">Save</md-button>
                </div>
            </div>
        </md-dialog-heading>

        <md-dialog-content ms-scroll>
            <md-input-container class="md-block ">

              <div layout="row" ng-repeat="item in vm.contact.profrelativeSetAddItemAmount">
                <div flex="100">
                  <div layout="row" bbtm>
                    <div flex="30">
                    <md-input-container class="md-block" flex-gt-sm>
                      <label>Label</label>
                      <input type="text" ng-model="vm.contact.profrelativeSetAddItemAmount[$index].label" >
                    </md-input-container>
                    </div>
                    <div flex="50">
                      <md-input-container class="md-block" flex-gt-sm>
                        <label>Value</label>
                        <input type="text" ng-model="vm.contact.profrelativeSetAddItemAmount[$index].value" >
                      </md-input-container>
                    </div>
                    <div flex="10">
                      <md-input-container class="md-block" flex-gt-sm>
                        <div layout="row">
                          <div flex="50">
                            <md-icon md-font-icon="icon-plus" ng-click="vm.addrelativeSiblingItem()"></md-icon>
                          </div>
                          <div flex="50">
                            <md-icon md-font-icon="icon-minus" ng-click="vm.removerelativeSiblingItem($index)"></md-icon>
                          </div>
                        </div>
                      </md-input-container>
                    </div>
                    </div>
                </div>
              </div>

            </md-input-container>
        </md-dialog-content>
    </form>
</md-dialog>
