<style>
  .md-datepicker-button{
    display:none !important;
  }
  .md-datepicker-input-container{
    margin-left:0px !important;
  }
</style>
<md-dialog class="compose-dialog settings-dialog " aria-label="Reply Message">
    <form class="md-inline-form" id="transparentColorFix">

        <md-dialog-heading>
            <div layout="row">
                <div flex="60"><h2>Work Information</h2></div>
                <div flex="40" right dialog-btn>
                    <md-button ng-click="vm.closeDialog();">Discard</md-button>
                    <md-button btn-purple ng-click="vm.saveProfile()">Save</md-button>
                </div>
            </div>
        </md-dialog-heading>

        <md-dialog-content ms-scroll>
            <md-input-container class="md-block ">

              <!--Address Office area-->
              <div layout="row">
                <div flex="10">
                  <md-icon md-font-icon="icon-worker"></md-icon>
                </div>
                <div flex="90">
                  <div layout="row" bbtm>
                    <md-input-container class="md-block" flex-gt-sm>
                      <label>Job Title</label>
                      <input type="text" ng-model="vm.contact.job[0].employee">
                    </md-input-container>
                  </div>
                </div>

              </div>
              <!--Employer area-->
              <div layout="row">
                <div flex="10">
                  <md-icon md-font-icon="icon-domain"></md-icon>
                </div>
                <div flex="90">
                  <div layout="row" bbtm>
                    <md-input-container class="md-block" flex-gt-sm>
                      <label>Company Name</label>
                      <input type="text" ng-model="vm.contact.job[0].company">
                    </md-input-container>
                  </div>
                </div>

              </div>
              <br>
              <div layout="row" ng-repeat="item in vm.contact.profWorkSetAddItemAmount" ng-if="item.value">
                <div flex="10">
                  <md-icon md-font-icon="icon-bookmark-plus"></md-icon>
                </div>
                <div flex="90">
                  <div layout="row" bbtm>
                    <md-input-container class="md-block" flex-gt-sm>
                      <label>{{item.label}}</label>
                      <input type="text" ng-model="vm.contact.profWorkSetAddItemAmount[$index].value">
                    </md-input-container>
                  </div>
                </div>

              </div>
              <p ng-click="vm.addWorkItem()" style="color:#5dded6;cursor:pointer;">
                <md-icon md-font-icon="icon-bookmark-plus"></md-icon>
                {{vm.addWorkItemButtonValue()}}</p>

            </md-input-container>
        </md-dialog-content>
    </form>
</md-dialog>
