<style>
  .md-datepicker-button{
    display:none !important;
  }
  .md-datepicker-input-container{
    margin-left:0px !important;
  }
</style>
<md-dialog class="compose-dialog settings-dialog " aria-label="Reply Message">
    <form class="md-inline-form" id="transparentColorFix">

        <md-dialog-heading>
            <div layout="row">
                <div flex="60"><h2>Add {{vm.relativeContactType}} from Contact</h2></div>
                <div flex="40" right dialog-btn>
                    <md-button ng-click="vm.closeDialog();">Discard</md-button>
                    <md-button btn-purple ng-click="saveGI()">Save</md-button>
                </div>
            </div>
        </md-dialog-heading>

        <md-dialog-content ms-scroll>
            <md-input-container class="md-block ">
Search here ...
              <md-autocomplete
                md-selected-item="vm.selectedItem"
                md-search-text="vm.searchText"
                md-items="item in vm.querySearch(vm.searchText)"
                md-item-text="item.display"
                md-min-length="0"
                placeholder=""
                md-autofocus>
                <md-item-template>
                  <span md-highlight-text="vm.searchText" md-highlight-flags="^i">{{item.display}}</span>
                </md-item-template>
                <md-not-found>
                  No contact matching "{{vm.searchText}}" were found.
                </md-not-found>
              </md-autocomplete>
            </md-input-container>
        </md-dialog-content>
    </form>
</md-dialog>
