<style>
  .md-datepicker-button {
    display: none !important;
  }

  .md-datepicker-input-container {
    margin-left: 0px !important;
  }

  .icon-window-close {
    cursor: pointer;
  }

  .icon-plus {
    cursor: pointer;
  }
</style>
<md-dialog class="compose-dialog settings-dialog " aria-label="Reply Message">
  <form class="md-inline-form" id="transparentColorFix">

    <md-dialog-heading>
      <div layout="row">
        <div flex="60"><h2>Add Relatives Information</h2></div>
        <div flex="40" right dialog-btn>
          <md-button ng-click="vm.closeDialog();">Discard</md-button>
          <md-button btn-purple ng-click="vm.saveRelative()">Save</md-button>
        </div>
      </div>
    </md-dialog-heading>

    <md-dialog-content ms-scroll>

      <!--Relatives area-->
      <!-- SEARCH -->
      <div class="search-wrap" layout="row">
        <input flex type="text" placeholder="Search Add contact" ng-model="vm.searchedContact">
        <md-button class="md-icon-button">
          <md-icon md-font-icon="icon-magnify"></md-icon>
        </md-button>
        <ul class="contact-selection"
            ng-show="vm.searchedContact.length >= 2 && (vm.contacts | filter:vm.searchedContact).length"
            ms-scroll>
          <li ng-repeat="contact in vm.contacts | filter:vm.searchedContact" layout="row" layout-align="space-between center">
            <a ng-click="vm.selectContactForAdd(contact)"
               ng-bind="contact.first_name + ' ' + contact.last_name"></a>
            <span>{{contact.email}}</span>
            <md-icon md-font-icon="icon-account-multiple-plus"></md-icon>
          </li>
        </ul>
      </div>
      <div layout="row" layout-align="start center" ng-if="vm.relativesUserInfo">
        <md-input-container>
          <label>label</label>
          <md-select flex ng-model="vm.selectedRelativeType">
            <md-option ng-repeat="relative in vm.relativeType" ng-value="relative" >{{relative}}</md-option>
          </md-select>
        </md-input-container>
        <!--<md-checkbox style="width: 50px;text-align: center;"></md-checkbox>-->
        <div flex layout="row" layout-align="start center">
          <img src="" alt="" class="avatar">
          <p ng-bind="vm.relativesUserInfo.first_name + ' ' + vm.relativesUserInfo.last_name"></p>
          <div flex="20" class="right">
            <md-menu md-position-mode="target-right target">
              <md-icon md-menu-origin="" md-font-icon="{{vm.setRelativePrivecySettingsIcon(vm.relativesUserInfo.visibility)}}"
                       ng-click="$mdMenu.open($event)"></md-icon>
              <md-menu-content width="3">
                <md-menu-item>
                  <md-button ng-click="vm.relativePrivecySettings('public')">
                    Public
                  </md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button ng-click="vm.relativePrivecySettings('friends')">
                    Friends
                  </md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button ng-click="vm.relativePrivecySettings('onlyMe')">
                    Only me
                  </md-button>
                </md-menu-item>
              </md-menu-content>
            </md-menu>
          </div>
        </div>
      </div>
      <!-- / SEARCH -->
    </md-dialog-content>
  </form>
</md-dialog>
