<!-- CHATS TOOLBAR -->
<md-toolbar class="md-tall">

  <!-- TOOLBAR TOP -->
  <div class="md-toolbar-tools md-toolbar-tools-top">

    <div class="avatar-wrapper" ng-click="vm.toggleLeftSidenavView('user')">
      <img class="avatar" ng-class="user.mode" ng-src="{{user.photo_url || 'images/avatars/profile.jpg'}}" alt="{{user.first_name}} {{user.last_name}}">
    </div>
    <!-- / USER AVATAR -->

    <div class="chat-mode ml-10">
      <div class="mode-title" ng-bind="user.first_name + ' ' + user.last_name"></div>
      <div class="mode-details">
        {{user.status}}
      </div>
    </div>
  </div>
  <!-- / TOOLBAR TOP -->

  <!-- TOOLBAR BOTTOM -->
  <div class="md-toolbar-tools md-toolbar-tools-bottom">

    <!-- SEARCH -->
    <div class="search-wrapper border" layout="row" layout-align="start center" flex>

      <div class="search" flex layout="row" layout-align="start center">

        <md-icon md-font-icon="icon-magnify" class="icon s18">
        </md-icon>

        <input flex ng-model="vm.chatSearch" type="text" placeholder="Search or start new chat" ng-keyup="vm.contactSearchTimoutInterval()" ng-change="vm.contactSearchClearTimoutInterval()">

      </div>
    </div>
    <!-- / SEARCH -->


  </div>

  <div class="md-toolbar-tools md-toolbar-tools-bottom-2">
    <!-- Tab -->
    <div class="tab-wrapper" layout="row" layout-align="start" flex>
      <ul class="tab" flex layout="row" layout-align="start center">
        <li class="tab-title chats" ng-class="vm.tabCurrentTab=='chat'?'active':''" ng-click="vm.viewChatTab('chat')">Chats</li>
        <li class="tab-title contact" ng-class="vm.tabCurrentTab=='contact'?'active':''" ng-click="vm.viewChatTab('contact')">Contact</li>
        <li class="tab-title groups" ng-class="vm.tabCurrentTab=='group'?'active':''" ng-click="vm.viewChatTab('group')">Groups</li>
      </ul>
    </div>
    <!-- / Tab -->
  </div>
  <!-- / TOOLBAR BOTTOM -->

</md-toolbar>
<!-- / CHATS TOOLBAR -->

<!-- CHATS CONTENT -->
<md-content flex ms-scroll>

  <!-- CHATS LIST-->
  <md-list class="chat-list" ng-if="vm.tabCurrentTab=='chat'">

    <!--<div ng-show="vm.chatSearch && filteredChat.length > 0" class="md-accent-fg subheader"-->
         <!--ng-style="{'transform':'translate3d(0px, 0px, 0px)', 'z-index': filteredChat.length + filteredContact.length }">-->
    <!--</div>-->

    <div class="loading-threads gray-color" layout="column" layout-align="center center" ng-if="!vm.conversations && vm.loadingConversations">
      <md-progress-circular class="md-accent" md-mode="indeterminate" md-diameter="64"></md-progress-circular>
      <div>Loading conversations...</div>
    </div>

    <md-list-item class="contact md-3-line po-r"
                  ng-repeat="conversation in vm.conversations | filter: {last_message: vm.chatSearch} |  orderBy: 'last_message_time' :true | filter:query as filteredChat"
                  ng-click="vm.getChatByConversationID(conversation.id)" ng-class="{'active':conversation.id == vm.chatConversationId, 'unread':conversation.last_message_by.id !== vm.user.id && conversation.unread}">

      <div class="avatar-wrapper" ng-if="!conversation.group">
        <img ng-src="{{vm.chatUserPhoto(conversation.recipients)}}" class="md-avatar avatar" ng-class="vm.getChatUserStatus(conversation.recipients)" alt=""/>
      </div>


      <div class="avatar-wrapper" ng-if="conversation.group">
        <img ng-src="{{'images/avatars/profile.jpg'}}" class="md-avatar avatar" ng-class="'offline'" alt="Group"/>
      </div>


      <div class="md-list-item-text">
        <h3 class="name" ng-if="!conversation.group"><span data-ng-repeat="recp in conversation.recipients | filter:{ id: '!' + vm.user.id}">{{recp.first_name}} {{recp.last_name}}</span></h3>
        <h3 class="name" ng-if="conversation.group"><span ng-bind="conversation.name || 'Untitled conversation'"></span></h3>
        <!--<h3 class="name" ng-if="conversation.group && !conversation.name"><span data-ng-repeat="recp in conversation.recipients | filter:{ id: '!' + vm.user.id}">{{recp.first_name}} {{recp.last_name}}{{$last ? '' : ', '}}</span></h3>-->
        <p class="last-message text-truncate" ng-bind-html="conversation.last_message"></p>
      </div>

      <div layout="column" layout-align="center end">
        <div class="last-message-time">{{conversation.last_message_time | altDate}}</div>
        <div ng-if="conversation['unread'][vm.user.id]" class="md-accent-bg unread-message-count">{{conversation['unread'][vm.user.id]}}</div>
      </div>

      <md-divider></md-divider>

    </md-list-item>
    <md-list-item ng-if="vm.chatSearch" class="contact md-3-line po-r"
                  ng-style=""
                  ng-repeat="contact in vm.contacts  | filter: {first_name: vm.chatSearch} | filter:query as filteredContact"
                  ng-click="vm.getChatByConversationContact(contact)">

      <div class="avatar-wrapper">
        <img ng-src="{{contact.photo_url || 'images/avatars/profile.jpg'}}" class="md-avatar avatar" ng-class="contact.mode || 'offline'" alt="{{contact.first_name}} {{contact.last_name}}"/>
      </div>

      <div class="md-list-item-text">
        <h3 ng-bind="contact.first_name + ' ' + contact.last_name"></h3>
        <p class="mood" ng-bind="contact.status"></p>
      </div>

      <md-divider></md-divider>

    </md-list-item>
    <h3 ng-if="vm.chatSearch && vm.socharaContacts">Sochara Contacts({{vm.socharaContacts.length}})</h3>
    <md-list-item ng-if="vm.chatSearch" class="contact md-3-line po-r"
                  ng-repeat="contact in vm.socharaContacts"
                  ng-click="vm.inviteSocharaUserToJoin(contact)">

      <div class="avatar-wrapper">
        <img ng-src="{{contact.photo_url || 'images/avatars/profile.jpg'}}" class="md-avatar avatar" ng-class="contact.mode || 'offline'" alt=""/>
      </div>

      <div class="md-list-item-text">
        <h3>{{contact.first_name + ' ' + contact.last_name}}</h3>
        <p class="mood" ng-bind="contact.mode"></p>
      </div>

    </md-list-item>
  </md-list>
  <!-- / CHATS LIST-->

  <!-- CONTACTS LIST-->
  <md-list class="contact-list" ng-show=" vm.tabCurrentTab=='contact' ">


    <md-list-item class="contact md-3-line po-r"
                  ng-style=""
                  ng-repeat="contact in vm.contacts  | filter: {first_name: vm.chatSearch} | filter:query as filteredContact"
                  ng-click="vm.getChatByConversationContact(contact)">

      <div class="avatar-wrapper">
        <img ng-src="{{contact.photo_url || 'images/avatars/profile.jpg'}}" class="md-avatar avatar" ng-class="contact.mode || 'offline'" alt="{{contact.first_name}} {{contact.last_name}}"/>
      </div>

      <div class="md-list-item-text">
        <h3 ng-bind="contact.first_name + ' ' + contact.last_name"></h3>
        <p class="mood" ng-bind="contact.status"></p>
      </div>

      <md-divider></md-divider>

    </md-list-item>
    <h3 ng-if="vm.chatSearch && vm.socharaContacts">Sochara Contacts({{vm.socharaContacts.length}})</h3>
    <md-list-item ng-if="vm.chatSearch" class="contact md-3-line po-r"
                  ng-repeat="contact in vm.socharaContacts"
                  ng-click="vm.inviteSocharaUserToJoin(contact)">

      <div class="avatar-wrapper">
        <img ng-src="{{contact.photo_url || 'images/avatars/profile.jpg'}}" class="md-avatar avatar" ng-class="contact.mode || 'offline'" alt=""/>
      </div>

      <div class="md-list-item-text">
        <h3>{{contact.first_name + ' ' + contact.last_name}}</h3>
        <p class="mood" ng-bind="contact.mode"></p>
      </div>

    </md-list-item>
  </md-list>
  <!-- / CONTACTS LIST-->

  <!-- GROUP LIST-->
  <md-list class="chat-list" ng-if="vm.tabCurrentTab=='group'">

    <md-list-item class="contact md-3-line po-r"
                  ng-repeat="conversation in vm.conversations  | filter:{group: true, name: vm.chatSearch} |  orderBy: 'last_message_time' :true"
                  ng-click="vm.getChatByConversationID(conversation.id)" ng-class="{'active':conversation.id == vm.chatConversationId, 'unread':conversation.last_message_by.id !== vm.user.id && conversation.unread}">

      <div class="avatar-wrapper">
        <img ng-src="{{conversation.last_message_by.photo_url || 'images/avatars/profile.jpg'}}" class="md-avatar avatar"
             ng-class="conversation.last_message_by.status || 'offline'" alt="{{conversation.last_message_by.first_name}} {{conversation.last_message_by.last_name}}"/>
        <!--<i class="icon icon- s16 status" ng-class="conversation.status"></i>-->
      </div>

      <div class="md-list-item-text">
        <!--<h3 class="name" ng-if="conversation.recipients.length === 2"><span data-ng-repeat="recp in conversation.recipients | filter:{ id: '!' + vm.user.id}">{{recp.first_name}} {{recp.last_name}}</span></h3>-->
        <!--<h3 class="name" ng-if="conversation.recipients.length > 2"><span data-ng-repeat="recp in conversation.recipients | filter:{ id: '!' + vm.user.id}">{{recp.first_name}} {{recp.last_name}}{{$last ? '' : ', '}}</span></h3>-->
        <h3 class="name"><span ng-bind="conversation.name || 'Untitled conversation'"></span></h3>
        <p class="last-message text-truncate" ng-bind-html="conversation.last_message"></p>
      </div>

      <div layout="column" layout-align="center end">
        <div class="last-message-time">{{conversation.last_message_time | altDate}}</div>
        <div ng-if="conversation['unread'][vm.user.id]" class="md-accent-bg unread-message-count">{{conversation['unread'][vm.user.id]}}</div>
      </div>

      <md-divider></md-divider>

    </md-list-item>
  </md-list>
  <!-- / CHATS LIST-->

  <!-- NO RESULTS MESSAGE -->
  <!--<div ng-hide="(filteredChat.length + filteredContact.length) > 0" class="no-results-message">-->
    <!--No results..-->
  <!--</div>-->
  <!-- NO RESULTS MESSAGE-->

</md-content>


<!-- / CHATS CONTENT -->

<!-- CONTACTS BUTTON -->
<md-button ng-if="vm.tabCurrentTab !== 'chat'" class="md-fab contacts-button" ng-click="vm.createNewConversation()" aria-label="contacts button">
  <md-icon md-font-icon="icon-plus"></md-icon>
</md-button>
<!-- / CHATS CONTENT -->

<!-- CONTACTS BUTTON -->
<!--<md-button class="md-fab contacts-button" ng-click="vm.toggleLeftSidenavView('contacts')" aria-label="contacts button">-->
  <!--<md-icon md-font-icon="icon-plus"></md-icon>-->
<!--</md-button>-->
<!-- / CONTACTS BUTTON -->
