

<md-list>
    <md-subheader class="md-no-sticky"><span>Events</span></md-subheader>

    <md-list-item class="md-2-line" ng-repeat="event in vm.events" ng-click="dummyFunction()">
        <div class="md-list-item-text">
            <h3>{{event.title}}</h3>

            <p>{{event.detail}}</p>
        </div>
    </md-list-item>
</md-list>

<md-divider></md-divider>

<md-list>
    <md-subheader class="md-no-sticky"><span>Notes</span></md-subheader>
    <md-list-item class="md-2-line" ng-repeat="note in vm.notes" ng-click="dummyFunction()">
        <div class="md-list-item-text">
            <h3>{{note.title}}</h3>

            <p>{{note.detail}}</p>
        </div>
    </md-list-item>
</md-list>

<md-divider></md-divider>


