<style>
  .md-datepicker-button {
    display: none !important;
  }

  .md-datepicker-input-container {
    margin-left: 0px !important;
  }

  .icon-window-close {
    cursor: pointer;
  }

  .icon-plus {
    cursor: pointer;
  }
</style>
<md-dialog class="compose-dialog settings-dialog " aria-label="Reply Message">
  <form class="md-inline-form" id="transparentColorFix">

    <md-dialog-heading>
      <div layout="row">
        <div flex="60"><h2>Facebook Authorization</h2></div>
      </div>
    </md-dialog-heading>

    <md-dialog-content>
      <div ng-contoller="ProfileController as vm">
        By Authorizing we will fetch your following Facebook data to show those in Sochara Dashboard. You can also choose
        what information to be fetched during Authorization.
        <br>
        <br>
        <strong>Select which data to be fetched :</strong>
        <md-switch ng-model="vm.fbAuthPostsPermission" aria-label="Wall Post permission">
          Wall Post permission
        </md-switch>
        <md-switch ng-model="vm.fbAuthposts" aria-label="Public Posts">
          Wall Posts
        </md-switch>
        <md-switch md-no-ink ng-model="vm.fbAuthmusic" aria-label="Music">
          Music
        </md-switch>
        <md-switch md-no-ink ng-model="vm.fbAuthmovies" aria-label="Movies">
          Movies
        </md-switch>
        <md-switch md-no-ink ng-model="vm.fbAuthbook" aria-label="Books">
          Books
        </md-switch>
        <br>
        <button class="md-raised md-accent md-button md-default-theme" ng-click="fbAuthorize()">Authorize
        </button>
      </div>
    </md-dialog-content>
  </form>
</md-dialog>
