<style>
  .md-datepicker-button{
    display:none !important;
  }
  .md-datepicker-input-container{
    margin-left:0px !important;
  }
</style>
<md-dialog class="compose-dialog settings-dialog " aria-label="Reply Message">
    <form class="md-inline-form" id="transparentColorFix">

        <md-dialog-heading>
            <div layout="row">
                <div flex="60"><h2>Contact Information</h2></div>
                <div flex="40" right dialog-btn>
                    <md-button ng-click="vm.closeDialog();">Discard</md-button>
                    <md-button btn-purple ng-click="vm.saveProfile()">Save</md-button>
                </div>
            </div>
        </md-dialog-heading>

        <md-dialog-content ms-scroll>
            <md-input-container class="md-block ">
                <div layout="row">
                    <div flex="30">
                        <md-icon md-font-icon="icon-home"></md-icon> Address (Home)
                    </div>
                    <div flex="70">
                        <div layout="row" bbtm>
                          <div flex="50">
                          <md-input-container class="md-block" flex-gt-sm>
                                <label>Street</label>
                                <input type="text" ng-model="vm.contact.address[0].address.street">
                            </md-input-container>
                          </div>
                          <div flex="50">
                            <md-input-container class="md-block" flex-gt-sm>
                              <label>City</label>
                              <input type="text" ng-model="vm.contact.address[0].address.city">
                            </md-input-container>
                          </div>
                        </div>
                      <div layout="row" bbtm>
                        <div flex="50">
                          <md-input-container class="md-block" flex-gt-sm>
                            <label>State</label>
                            <input type="text" ng-model="vm.contact.address[0].address.state">
                          </md-input-container>
                        </div>
                        <div flex="50">
                          <md-input-container class="md-block" flex-gt-sm>
                            <label>Postal Code</label>
                            <input type="text" ng-model="vm.contact.address[0].address.zip">
                          </md-input-container>
                        </div>
                      </div>
                        <div layout="row" bbtm>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Country/Region</label>
                                <input type="text"  ng-model="vm.contact.address[0].address.country">
                            </md-input-container>
                        </div>
                    </div>

                </div>

              <br>
              <!--Address Office area-->
              <div layout="row">
                <div flex="30">
                  <md-icon md-font-icon="icon-home"></md-icon> Address (Work)
                </div>
                <div flex="70">
                  <div layout="row" bbtm>
                    <div flex="50">
                      <md-input-container class="md-block" flex-gt-sm>
                        <label>Street</label>
                        <input type="text" ng-model="vm.contact.address[1].address.street">
                      </md-input-container>
                    </div>
                    <div flex="50">
                      <md-input-container class="md-block" flex-gt-sm>
                        <label>City</label>
                        <input type="text" ng-model="vm.contact.address[1].address.city">
                      </md-input-container>
                    </div>
                  </div>
                  <div layout="row" bbtm>
                    <div flex="50">
                      <md-input-container class="md-block" flex-gt-sm>
                        <label>State</label>
                        <input type="text" ng-model="vm.contact.address[1].address.state">
                      </md-input-container>
                    </div>
                    <div flex="50">
                      <md-input-container class="md-block" flex-gt-sm>
                        <label>Postal Code</label>
                        <input type="text" ng-model="vm.contact.address[1].address.zip">
                      </md-input-container>
                    </div>
                  </div>
                  <div layout="row" bbtm>
                    <md-input-container class="md-block" flex-gt-sm>
                      <label>Country/Region</label>
                      <input type="text"  ng-model="vm.contact.address[1].address.country">
                    </md-input-container>
                  </div>
                </div>

              </div>


<br>
              <!--PHone area-->
              <div layout="row">
                <div flex="10">
                  <md-icon md-font-icon="icon-phone"></md-icon>
                </div>
                <div flex="90">
                  <div layout="row" bbtm>
                    <md-input-container class="md-block" flex-gt-sm>
                      <label>Phone (Home)</label>
                      <input type="text" ng-model="vm.contact.phone[0].number" ui-us-phone-number maxlength="14">
                    </md-input-container>
                  </div>
                  <div layout="row" bbtm>
                    <md-input-container class="md-block" flex-gt-sm>
                      <label>Phone (Work)</label>
                      <input type="text" ng-model="vm.contact.phone[1].number" ui-us-phone-number maxlength="14">
                    </md-input-container>
                  </div>
                  <div layout="row" bbtm>
                    <md-input-container class="md-block" flex-gt-sm>
                      <label>Phone (Other)</label>
                      <input type="text" ng-model="vm.contact.phone[2].number" ui-us-phone-number maxlength="14">
                    </md-input-container>
                  </div>
                </div>

              </div>
<br>
              <!--PHone area-->
              <div layout="row">
                <div flex="10">
                  <md-icon md-font-icon="icon-email"></md-icon>
                </div>
                <div flex="90">
                  <div layout="row" bbtm>
                    <md-input-container class="md-block" flex-gt-sm>
                      <label>Email (Home)</label>
                      <input type="text" ng-model="vm.contact.emails[0].address">
                    </md-input-container>
                  </div>
                  <div layout="row" bbtm>
                    <md-input-container class="md-block" flex-gt-sm>
                      <label>Email (Work)</label>
                      <input type="text" ng-model="vm.contact.emails[1].address">
                    </md-input-container>
                  </div>
                  <div layout="row" bbtm>
                    <md-input-container class="md-block" flex-gt-sm>
                      <label>Email (Other)</label>
                      <input type="text" ng-model="vm.contact.emails[2].address">
                    </md-input-container>
                  </div>
                </div>

              </div>
              <br>
              <!--PHone area-->
              <div layout="row">
                <div flex="10">
                  <md-icon md-font-icon="icon-earth"></md-icon>
                </div>
                <div flex="90">
                  <div layout="row" bbtm>
                    <md-input-container class="md-block" flex-gt-sm>
                      <label>Website</label>
                      <input type="text" ng-model="vm.contact.url_home">
                    </md-input-container>
                  </div>

                </div>

              </div>
              <br>
              <div layout="row" ng-repeat="item in vm.contact.profcontactSetAddItemAmount" ng-if="item.value">
                <div flex="10">
                  <md-icon md-font-icon="icon-bookmark-plus"></md-icon>
                </div>
                <div flex="90">
                  <div layout="row" bbtm>
                    <md-input-container class="md-block" flex-gt-sm>
                      <label>{{item.label}}</label>
                      <input type="text" ng-model="vm.contact.profcontactSetAddItemAmount[$index].value">
                    </md-input-container>
                  </div>
                </div>

              </div>
              <p ng-click="vm.addcontactItem()" style="color:#5dded6;cursor:pointer;">
                <md-icon md-font-icon="icon-bookmark-plus"></md-icon>
                {{vm.addcontactItemButtonValue()}}</p>

            </md-input-container>
        </md-dialog-content>
    </form>
</md-dialog>
