<style>
  .md-datepicker-button{
    display:none !important;
  }
  .md-datepicker-input-container{
    margin-left:0px !important;
  }
</style>
<md-dialog class="compose-dialog settings-dialog " aria-label="Reply Message">
    <form class="md-inline-form" id="transparentColorFix">

        <md-dialog-heading>
            <div layout="row">
                <div flex="60"><h2>Change Password</h2></div>
                <div flex="40" right dialog-btn>
                    <md-button ng-click="vm.closeDialog();">Discard</md-button>
                    <md-button btn-purple ng-click="vm.saveProfile()">Save</md-button>
                </div>
            </div>
        </md-dialog-heading>

        <md-dialog-content ms-scroll>
            <md-input-container class="md-block ">

              <!--Address Office area-->
              <div layout="row">
                <div flex="10">
                  <md-icon md-font-icon="icon-account-key"></md-icon>
                </div>
                <div flex="90">
                  <div layout="row" bbtm>
                    <md-input-container class="md-block" flex-gt-sm>
                      <label>Password</label>
                      <input type="password" ng-model="vm.contact.password">
                    </md-input-container>
                  </div>
                </div>

              </div>

            </md-input-container>
        </md-dialog-content>
    </form>
</md-dialog>
