<md-dialog class="compose-dialog settings-dialog " aria-label="Profile Photo">
  <form class="md-inline-form" id="transparentColorFix">

    <md-dialog-heading>
      <div layout="row">
        <div flex="60"><h2>Change Profile Photo</h2></div>
        <div flex="40" right dialog-btn>
          <md-button ng-click="vm.closeDialog();">Discard</md-button>
          <!--<md-button btn-purple ng-click="vm.saveProfile()">Save</md-button>-->
          <md-button btn-purple ng-click="vm.setProfilePhoto()">Save</md-button>
        </div>
      </div>
    </md-dialog-heading>

    <md-dialog-content ms-scroll>
      <md-input-container class="md-block ">

        <!--Birtday area-->
        <br>
        <div layout="row">

        </div>
        <div layout="row" ng-click="vm.changeProfilePhoto">
          <div flex="50" class="file_upload_area">
            <span ngf-drop ngf-select multiple accept="*"
                  ngf-pattern="'*'" class="uploader fa fa-upload drop-box" ngf-drag-over-class="'dragover'" ngf-max-size="850MB" ng-model="vm.changeProfilePhoto">Upload Image</span>

          </div>
          <div flex="50">
            <div class="profile_crop_area profile_photo">
              <img-crop image="vm.changeProfilePhoto" area-type="rectangle" init-max-area="true" aspect-ratio="1"
                        result-image="vm.changeProfileImageCropped" ng-init="vm.changeProfileImageCropped=''">
              </img-crop>
            </div>
          </div>
        </div>
        <div layout="row" layout-align="center">
          <div flex="50">
            <md-button class="md-raised md-primary" layout-align="center" ng-click="vm.setProfilePhoto()">Save Photo</md-button>
          </div>
        </div>


      </md-input-container>
    </md-dialog-content>
  </form>
</md-dialog>
