
<div id="labels" class="page-layout simple left-sidenav inner-sidenav sm-head bg-white">
  <!-- HEADER -->
  <div class="header noprint" layout="row" layout-align="start center">

    <!-- APP TITLE -->

    <div class="logo" layout="row" layout-align="start center" flex="25">
      <span class="logo-icon">
          <md-icon md-font-icon="icon-account-box" class="s40"></md-icon>
      </span>
      <span class="logo-text">Label Design</span>
    </div>

    <!--<div layout="row" layout-align="start center">
      <md-input-container>
        <md-checkbox name="tos" required>
          Select all
        </md-checkbox>
      </md-input-container>
      <span class="selected-contacts-count">
            <span>1</span>
            <span>selected</span>
        </span>


      <md-button class="md-icon-button"
                 aria-label="delete selected">
        <md-icon md-font-icon="icon-delete"></md-icon>
      </md-button>
    </div>
    <div layout="row" layout-align="start center">
      <div layout="row" class="head-btn">
        <md-button>Draft: 2</md-button>
        <md-button>All Labels: 12</md-button>
        <md-button>Favorites</md-button>
      </div>
    </div>-->
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content-wrap label-wrap md-whiteframe-2dp">
    <div class="content noprint">
      <div layout="row" layout-align="space-between stretch">
        <div flex="60" class="lable-tabs">
          <md-tabs md-dynamic-height md-no-ink-bar class="label-tab config-tabs">
            <md-tab>
              <md-tab-label>My Label</md-tab-label>
              <md-tab-body>
                <div class="tab-content-wrap" ms-scroll>

                  <div class="label-list" id="savedLablePreview">
                    <div layout="row">
                      <div flex="33" layout-align="space-between stretch" layout="column">
                        <div class="item-create">
                          <md-button ng-click="vm.newLabel()">
                            <md-icon md-font-icon="icon-plus"></md-icon>
                            <p>Create Label</p>
                          </md-button>
                        </div>
                      </div>

                    </div>
                    <h3 style="border-bottom: 1px solid gainsboro;">Saved Labels</h3>
                    <div layout="row" class="card-row" layout-wrap>
                      <div flex="33" ng-repeat="item in vm.savedLabels">
                        <div class="tab-item-wrap" layout="column">
                          <div class="item-thumb" layout="row" layout-align="center stretch">
                            <md-button class="nopad nomargin" ng-click="vm.useSavedLabel(item);"><img
                              ng-src="{{item.preview}}" alt="card-small"></md-button>
                          </div>
                          <div layout="row" layout-align="space-between center" class="nev-content-head card-info">
                            <div flex>
                              <h3 title="{{item.name}}">{{item.name}}</h3>
                              <p>Created: {{item.updatedAt | date : "dd-MM-y"}} &nbsp;</p>
                            </div>
                            <md-menu md-position-mode="target-right target" md-offset="0 -7">
                              <md-button aria-label="Open demo menu" class="md-icon-button"
                                         ng-click="$mdMenu.open($event)">
                                <md-icon md-menu-origin md-font-icon="icon-dots-vertical"></md-icon>
                              </md-button>
                              <md-menu-content width="2">
                                <md-menu-item>
                                  <md-button ng-click="vm.useSavedLabel(item);">
                                    <md-icon md-font-icon="icon-heart-outline"></md-icon>
                                    Load
                                  </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="vm.removeLabel(item)">
                                      <md-icon md-font-icon="icon-delete"></md-icon>
                                      Delete Card
                                    </md-button>
                                </md-menu-item>
                              </md-menu-content>
                            </md-menu>
                          </div>
                        </div>
                      </div>


                      <!--==================================-->


                    </div>
                  </div>
                </div>
              </md-tab-body>
            </md-tab><!--md-tab-->
            <md-tab>
              <md-tab-label>Layout</md-tab-label>
              <md-tab-body>
                <div class="tab-content-wrap" style="height:auto; max-height: 730px;">
                  <div class="tab-fields">
                    <div layout="row" layout-align="start center">
                      <label class="label w-160">Select Printing Layout:</label>
                      <md-select ng-model="vm.labelLayout" ng-change="vm.changedLabelLayout();">
                        <md-option ng-repeat="item in vm.labelLayoutList" ng-value="item.id">{{item.value}}</md-option>
                      </md-select>
                    </div>
                    <md-radio-group ng-model="vm.labelAddressType">
                      <div layout="row">
                        <md-radio-button value="return" class="w-160 bold">Return Address</md-radio-button>
                        <label ng-show="vm.labelAddressType==='return'">Amount of Pages :
                          <input type="number" class="input-1" ng-model="vm.amountOfReturnAddress" min="1"></label>
                      </div>
                      <div layout="row" layout-xs="column" layout-align="start start" class="nopad">
                        <md-radio-button class="w-160 bold" value="shipping">Shipping Address</md-radio-button>
                        <div flex ng-show="vm.labelAddressType==='shipping'">
                          <md-radio-group ng-model="vm.exportContacts">
                            <md-radio-button value="all">All Contacts</md-radio-button>
                            <md-radio-button value="favorites">Favorites</md-radio-button>
                            <div layout="row" layout-align="start center" class="nopad s-">
                              <md-radio-button value="group" class="w-160">Contacts from groups</md-radio-button>
                              <md-select ng-show="vm.exportContacts==='group'" class="mar-top-16"
                                         placeholder="Select Groups"
                                         ng-model="vm.selectedGroupForExport" md-on-open="vm.loadGroupsNameforExport()">
                                <md-option ng-value="group" ng-repeat="group in vm.groupsNameforExport">{{group.name}}
                                </md-option>
                              </md-select>
                            </div>
                            <label layout="row" layout-align="start center" class="nopad">
                              <md-radio-button value="selected" class="w-160">Selected contacts</md-radio-button>
                              <div class="clearfix searchinput nopad mar-top-16" flex layout="row">
                                <input class="faws" placeholder="Add Contact" type="text"
                                       ng-model="vm.search" flex>
                              </div>
                            </label>

                            <div class="main md-whiteframe-2dp"
                                 flex
                                 ng-show="vm.exportContacts==='selected'">

                              <!-- CONTACT LIST -->

                              <!-- CONTACT ITEM -->
                              <div class="scrollable mh-300" ms-scroll>
                                <md-list-item class="contact-item md-white-bg" md-ink-ripple
                                              ng-repeat="contact in vm.contacts | filter: vm.search | filter: global.search |  orderBy: vm.listOrder :vm.listOrderAsc | filter:query as filteredContacts track by contact.id "
                                              ng-click=""
                                              ng-style="{'transform': 'translate3d(0px, '+$index * 0+'%, 0px)', 'z-index': filteredContacts.length - $index}"
                                              ng-class="{'selected': vm.isSelected(contact)}">

                                  <md-checkbox class="accent-green" ng-checked="vm.exists(contact, vm.selectedContacts)"
                                               ng-click="vm.toggleSelectContact(contact, $event)"
                                               aria-label="{{vm.exists(contact, vm.selectedContacts) ? 'Deselect' : 'Select'}}">
                                  </md-checkbox>

                                  <p class="font-weight-600 w-200 eclipse">
                                    {{contact.first_name}}{{contact.middle_name?'
                                    '+contact.middle_name:''}} {{contact.last_name}}</p>


                                  <p class="email show-gt-sm accent-green">
                                    {{contact.email}}
                                  </p>


                                </md-list-item>
                                <!-- CONTACT ITEM -->
                              </div>

                              <!-- / CONTACT LIST -->

                              <!-- NO RESULTS -->
                              <md-list-item class="no-results md-white-bg" ng-show="filteredContacts.length === 0">
                                <p>No results..</p>
                              </md-list-item>
                              <!-- / NO RESULTS -->

                            </div>

                            <br>

                          </md-radio-group>
                        </div>
                      </div><!--row-->


                    </md-radio-group>
                  </div>
                </div>
              </md-tab-body>
            </md-tab><!--md-tab-->

            <md-tab>
              <md-tab-label>Design & Details</md-tab-label>
              <md-tab-body>
                <div class="tab-content-wrap" ms-scroll>
                  <div layout="row">
                    <div class="" layout="column" flex="67">
                  <div class="tab-fields">
                    <div layout="row" layout-align="start center">
                      <label class="label">Label corner radius:</label>
                      <md-slider min="0" max="50" ng-model="bRadius" aria-label="radiusSlider" class="custom-slide"
                                 id="radiusSlider" ng-change="vm.changeLabelRadius(bRadius)">
                      </md-slider>

                      <span ng-bind="bRadius" value="0"></span>px
                    </div><!--row-->
                    <div layout="row" layout-align="start center">
                      <label class="label">Label Background Color</label>
                      <div spectrum-colorpicker ng-model="labelBgColor"
                           on-change='!!color && action(color);vm.labelBGColorChange(labelBgColor)' format='"rgb"'></div>

                    </div><!--row-->
                    <div layout="row" layout-align="start center">
                      <label class="label">Gradient</label>
                      <div layout="row" class="space-child-right-10 nopad">
                        <select ng-model="vm.label.styles.gradient.type"
                                ng-change="vm.changeGradientColor()">
                          <option ng-repeat="option in vm.gradientOptions" value="{{option.values}}">
                            {{option.field}}
                          </option>
                        </select>

                        <div spectrum-colorpicker ng-change="vm.changeGradientColor()"
                             ng-model='vm.label.styles.gradient.c1'
                             on-change='!!color && action(color)' format='"hex"'></div>

                        <div spectrum-colorpicker ng-change="vm.changeGradientColor()"
                             ng-model='vm.label.styles.gradient.c2' on-change='!!color && action(color)'
                             format='"hex"'></div>
                      </div>
                    </div><!--row-->

                    <div layout="row" layout-align="start center" class="btn-gr-left">
                      <label class="label">Background Image:</label>
                      <md-button class="btn-basic nomargin lh-2" ngf-select ng-model="vm.changeBgImage"
                                 ng-click="vm.clearOtherBackground();" accept="image/*">Browse Image
                      </md-button>
                      <!--<a href="#k" rel="modal:open" class="c-black">-->
                        <!--<md-button class="btn-basic mid-button">-->
                          <!--<span>Browse</span>-->
                        <!--</md-button>-->
                      <!--</a>-->
                      <md-button ng-show="vm.changeBgImage" ng-click="vm.removeLabelBGImage();"
                                 class="sm-button md-icon-button">
                        <md-tooltip>Remove Background Image</md-tooltip>
                        <md-icon md-font-icon="icon-trash"></md-icon>
                      </md-button>

                    </div><!--row-->
                    <hr>
                    <div id="k" style="display:none;">
                      <h4><b>Select an image file: </b><br><input class="md-raised md-accent" type="file"
                                                                  id="fileInput"/><br>
                        <md-button class="btn-violate md-button md-default-theme md-ink-ripple"
                                   style="background: gainsboro;margin-left:0px;"
                                   ng-click="vm.showAvatarImage()">
                          Show Image
                        </md-button>
                      </h4>

                      <br>
                      <div class="cropArea">
                        <img-crop image="vm.myImage" result-image="vm.myCroppedImage"></img-crop>
                      </div>
                      <md-button ng-disabled="!vm.uploadButton" class="md-raised md-accent" ng-click="vm.saveAvatar()"
                                 aria-label="Follow">Save Cropped Image
                      </md-button>
                    </div>
                    <div layout="row" layout-align="start center">
                      <label class="label">Insert Text Layer:</label>

                      <div layout="row" flex class="nopad">
                        <input class="animText" flex type="text"
                               placeholder="Type here"
                               ng-model="vm.insertedText">
                        <md-button ng-click="vm.insertTextLayer();" class="sm-button md-icon-button">
                          <md-icon md-font-icon="icon-arrow-right-bold-circle"></md-icon>
                          <md-tooltip>Insert</md-tooltip>
                        </md-button>
                        <md-button ng-show="vm.isInsertextText" ng-click="vm.removeInsertedText();"
                                   class="sm-button md-icon-button">
                          <md-icon md-font-icon="icon-delete"></md-icon>
                          <md-tooltip>Remove</md-tooltip>
                        </md-button>
                      </div>
                    </div> <!--row-->
                    <div layout="row" layout-align="start center" class="btn-gr-left">
                      <label class="label">Insert Image:</label>

                      <md-button class="btn-basic mid-button" ng-click="vm.addlayerImage();">Insert</md-button>
                      <md-button ng-show="vm.isInsertImage" ng-click="vm.removeInsertedImage();"
                                 class="sm-button md-icon-button">
                        <md-tooltip>Remove Inserted Image</md-tooltip>
                        <md-icon md-font-icon="icon-trash"></md-icon>
                      </md-button>
                    </div><!--row-->


                    <div layout="row" layout-align="start center" class="btn-gr-left">
                      <label class="w-170"></label>
                      <div layout="row" layout-align="start center" class="nopad">
                        <md-button class="btn-basic mid-button">Cancel</md-button>
                        <md-button class="btn-violate mid-button" ng-click="vm.saveCurrentDesign();">Save</md-button>
                      </div>
                    </div>
                  </div>
                    </div>
                    <div class="" layout="column" flex="33">
                      <div class="tab-fields">
                        <div ng-if="vm.changeBgImage" ngf-drop ng-model="vm.changeBgImage" ngf-pattern="image/*"
                             class="cropArea" ng-init="vm.getBackgroundImageAcceptRatio()">
                          <img-crop image="vm.changeBgImage" area-type="rectangle" init-max-area="false"
                                    aspect-ratio="vm.cardBackgroundRatio"
                                    result-image-size='{w: vm.cardBackgroundImageWidth, h: vm.cardBackgroundImageHeight}'
                                    result-image="vm.label.styles.bgImage" ng-init="vm.label.styles.bgImage=''">
                          </img-crop>
                        </div>
                      </div>
                    </div>
                  </div>
                  <hr>

                  <div layout="row" class="card-row mh-250" layout-wrap ms-scroll>
                    <div flex="33" layout-align="space-between stretch" layout="column">
                      <div class="item-create">
                        <md-button ng-click="vm.newLabel()">
                          <md-icon md-font-icon="icon-format-paint"></md-icon>
                          <p>Customize Label</p>
                        </md-button>
                      </div>
                    </div>

                    <div flex="33" ng-repeat="item in vm.savedLabels">
                      <div class="tab-item-wrap" layout="column">
                        <div class="item-thumb" layout="row" layout-align="center stretch">
                          <md-button class="nopad nomargin" ng-click="vm.useSavedLabel(item);"><img
                            ng-src="{{item.preview}}" alt="card-small"></md-button>
                        </div>
                        <div layout="row" layout-align="space-between center" class="nev-content-head card-info">
                          <div flex>
                            <h3 title="{{item.name}}">{{item.name}}</h3>
                            <p>Created: {{item.updatedAt | date : "dd-MM-y"}} &nbsp;</p>
                          </div>
                          <md-menu md-position-mode="target-right target" md-offset="0 -7">
                            <md-button aria-label="Open demo menu" class="md-icon-button"
                                       ng-click="$mdMenu.open($event)">
                              <md-icon md-menu-origin md-font-icon="icon-dots-vertical"></md-icon>
                            </md-button>
                            <md-menu-content width="2">
                              <md-menu-item>
                                <md-button ng-click="vm.useSavedLabel(item);">
                                  <md-icon md-font-icon="icon-heart-outline"></md-icon>
                                  Load
                                </md-button>
                              </md-menu-item>
                              <md-menu-item>
                                <md-button ng-click="vm.removeLabel(item.id)">
                                  <md-icon md-font-icon="icon-delete"></md-icon>
                                  Delete Card
                                </md-button>
                              </md-menu-item>
                            </md-menu-content>
                          </md-menu>
                        </div>
                      </div>
                    </div>


                  </div>

                </div>
              </md-tab-body>
            </md-tab><!--md-tab-->

            <md-tab>
              <md-tab-label>Save and Print</md-tab-label>
              <md-tab-body>
                <div class="tab-content-wrap">

                  <div layout="column">
                    <label><strong>Save File as:</strong></label>
                    <input style="border:1px solid gainsboro;height:34px" type="text" placeholder="Label Name"
                           ng-model="vm.label.name">
                  </div>
                  <div layout="row">
                    <md-button style="padding-left:0px;margin-left:0px;" class="btn-violate" ng-click="vm.saveLabel()"
                               ng-show="!vm.label.id">Save
                    </md-button>
                    <md-button style="padding-left:0px;margin-left:0px;" class="btn-violate" ng-click="vm.saveLabel()"
                               ng-show="vm.label.id">Update
                    </md-button>
                  </div>
                  <hr>
                  <div layout="row">
                    <md-button ng-click="vm.print();"><label style="cursor:pointer">Print Label:
                      <md-icon md-font-icon="icon-printer"></md-icon>
                    </label>
                    </md-button>
                    <md-button ng-click="vm.toPdf();">
                      <label style="cursor:pointer">Save As PDF:
                        <md-icon md-font-icon="icon-file-pdf"></md-icon>
                      </label>
                    </md-button>
                    <md-button ng-if="vm.pdfLink" ng-click="vm.downloadPdf();">
                      <label style="cursor:pointer">Download Now
                        <md-icon md-font-icon="icon-file-pdf"></md-icon>
                      </label>
                    </md-button>
                  </div>
                </div>
              </md-tab-body>
            </md-tab><!--md-tab-->
          </md-tabs>
        </div>
        <div flex="40" class="card-preview" layout="column" layout-align="">
          <div class="sticky-element">
            <div class="cp-title">Label Preview {{vm.label.name?'of '+vm.label.name:''}}</div>
            <!--<div id="labelEditorArea" class="ta-bind" style="border:1px solid gainsboro; border-radius: {{vm.label.styles.main['border-radius']}}; background: {{vm.label.styles.main['background']}}; background-color: {{vm.label.styles.main['background-color']}};{{ vm.label.styles.bgImage ? 'background-image: url('+vm.label.styles.bgImage+');' :  '' }})" contenteditable="true" ng-model="labelEditorArea"></div>-->
            <div id="labelEditorArea" class="ta-bind" style="border:1px solid gainsboro" ng-style="vm.label.styles.main" contenteditable="true" ng-model="labelEditorArea"></div>
            <br>
            <div class="editor-wrap">
              <div layout="row" id="editingLabelText" layout-align="space-between center">
                <div layout="row" class="editToolsArea" layout-align="space-between center">
                  <!--<label>-->
                    <!--<input id="labelfontstyle" type="text"/>-->
                  <!--</label>&nbsp;&nbsp;-->
                  <label>
                    <div class="sochara-font-dropdown" tabindex="1" fd-font-dropdown>
                      <span class="label" ng-style="{{'fontslist[selectedIdx].style'}}">{{fontslist[selectedIdx].name}}</span>
                      <ul class="dropdown-list">
                        <li ng-repeat="font in fontslist" ng-click="changeFont($index);vm.changeLabelFontStyle(font);" ng-class="{'sel': $index == selectedIdx}" ng-style="{{font.style}}">
                          {{font.name}}
                        </li>
                      </ul>
                    </div>
                  </label>&nbsp;&nbsp;
                  <label>
                    <select id="labelFontSize" class="fa">
                      <option value="">&#xf031;</option>
                      <option value="small">Small</option>
                      <option value="normal">Normal</option>
                      <option value="large">Large</option>
                      <option value="extra_large">Extra Large</option>
                    </select>
                  </label>&nbsp;&nbsp;
                  <div layout="row" layout-align="space-between">

                    <md-icon md-font-icon="icon-format-bold" style="{{vm.isTextBold?'background:gainsboro;':''}}" class=""
                             ng-click="vm.isTextBold=!vm.isTextBold;vm.changeLabelTextStyle('bold');"></md-icon>
                    <md-icon md-font-icon="icon-format-italic" style="{{vm.isTextItalic?'background:gainsboro;':''}}"
                             class=""
                             ng-click="vm.isTextItalic=!vm.isTextItalic;vm.changeLabelTextStyle('italic');"></md-icon>
                    <md-icon md-font-icon="icon-format-underline"
                             style="{{vm.isTextUnderlined?'background:gainsboro;':''}}"
                             class=""
                             ng-click="vm.isTextUnderlined=!vm.isTextUnderlined;vm.changeLabelTextStyle('underline');"></md-icon>
                    <!--<ms-material-color-picker ms-model-type="obj" ng-model="vm.labelTextcolor"-->
                                              <!--ng-change="vm.labelTextcolorChange();">-->
                      <!--<button class="md-icon-button sm-button">-->
                        <!--<md-icon md-font-icon="icon-palette"></md-icon>-->
                      <!--</button>-->
                    <!--</ms-material-color-picker>-->
                    <div spectrum-colorpicker ng-change="vm.changeSelectedTextColor()"
                             ng-model="vm.label.color"
                             on-change='!!color && action(color)' format='"hex"'></div>

                    <md-icon md-font-icon="icon-format-align-left"
                             style="{{vm.labelTextAlignLeft?'background:gainsboro;':''}}"
                             class=""
                             ng-click="vm.labelTextAlign='left';vm.labelTextAlignLeft=true;vm.labelTextAlignCenter=false;vm.labelTextAlignRight=false;vm.changeLabelTextAlign('left')"></md-icon>
                    <md-icon md-font-icon="icon-format-align-center"
                             style="{{vm.labelTextAlignCenter?'background:gainsboro;':''}}"
                             class=""
                             ng-click="vm.labelTextAlign='center';vm.labelTextAlignLeft=false;vm.labelTextAlignCenter=true;vm.labelTextAlignRight=false;vm.changeLabelTextAlign('center')"></md-icon>
                    <md-icon md-font-icon="icon-format-align-right"
                             style="{{vm.labelTextAlignRight?'background:gainsboro;':''}}"
                             class=""
                             ng-click="vm.labelTextAlign='right';vm.labelTextAlignLeft=false;vm.labelTextAlignCenter=false;vm.labelTextAlignRight=true;vm.changeLabelTextAlign('right')"></md-icon>


                  </div>
                </div>
                <md-button style="margin:0px;" class="btn-violate big-button" ng-click="vm.printPreview();vm.isPreviewActive=true;;"> Print Preview </md-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="printContent" ng-if="vm.isPreviewActive" id="printPreviewArea">
      <h2 align="center" class="noprint">Print Preview &nbsp;<md-button ng-click="vm.isPreviewActive=false;">(Close)
      </md-button>
      </h2>
      <hr>
      <div class="page-print" ng-repeat="item in vm.intToArray(vm.amountOfReturnAddressforPrintPreview)"
           ng-if="vm.labelAddressType==='return'">
        <div layout="row" ng-repeat="item in vm.intToArray(vm.singlePageRow)">
          <div class="{{vm.labelLayout}}" style="{{vm.printLabelContentCSS}}" flex="50"
               ng-repeat="item in vm.intToArray(vm.singlePageColumn)"
               ng-bind-html="vm.trustAsHtml(vm.printLabelContent)"></div>
          <span ng-if="item===vm.amountOfReturnAddressforPrintPreview">{{vm.applyCSSOnPrintPreview();}}</span>
        </div>
      </div>
      <div class="page" ng-repeat="items in vm.finalPageContents" ng-if="vm.labelAddressType==='shipping'">
        <div layout="row" ng-repeat="rowItem in items">
          <div class="{{vm.labelLayout}}" style="{{vm.printLabelContentCSS}}"
               ng-repeat="columnItem in rowItem track by $index"
               ng-bind-html="vm.trustAsHtml(columnItem)"></div>
          <span ng-if="items===vm.amountOfReturnAddressforPrintPreview">{{vm.applyCSSOnPrintPreview();}}</span>
        </div>
      </div>
    </div>
  </div>
  <!-- / CONTENT -->


</div>

<!--<div class="cp-button layout-align-space-around-center layout-row" layout="row" layout-align="space-around center">-->
<!--<div class="wysiwyg">-->
<!--<div layout="row" layout-align="start center" class="layout-align-start-center layout-row">-->
<!--<div>-->
<!--<md-menu class="md-menu ng-scope _md">-->
<!--<label ng-click="$mdMenu.open($event)" layout="row" layout-align="start center" aria-haspopup="true" role="button" class="layout-align-start-center layout-row" aria-expanded="false" aria-owns="menu_container_7"><span>Sens Serif</span>-->
<!--<md-icon md-font-icon="icon-menu-down" class="md-default-theme md-font material-icons icon-menu-down" aria-hidden="true"></md-icon>-->
<!--</label>-->

<!--<div class="_md md-open-menu-container md-whiteframe-z2" id="menu_container_7" style="display: none;" aria-hidden="true"><md-menu-content width="4" role="menu">-->
<!--<md-menu-item>-->
<!--<button class="md-button md-default-theme md-ink-ripple" type="button" ng-transclude="" role="menuitem"><span class="ng-scope">Sens Serif</span></button>-->
<!--</md-menu-item>-->
<!--<md-menu-item>-->
<!--<button class="md-button md-default-theme md-ink-ripple" type="button" ng-transclude="" role="menuitem"><span class="ng-scope">Times New Roman</span></button>-->
<!--</md-menu-item>-->
<!--<md-menu-item>-->
<!--<button class="md-button md-default-theme md-ink-ripple" type="button" ng-transclude="" role="menuitem"><span class="ng-scope">Curia</span></button>-->
<!--</md-menu-item>-->
<!--</md-menu-content></div></md-menu>-->
<!--</div>-->
<!--<div layout="row" class="layout-row">-->
<!--<md-menu class="md-menu ng-scope _md">-->
<!--<label ng-click="$mdMenu.open($event)" layout="row" layout-align="start center" aria-haspopup="true" role="button" class="layout-align-start-center layout-row" aria-expanded="false" aria-owns="menu_container_8">-->
<!--<md-icon md-font-icon="icon-format-size" class="md-default-theme md-font material-icons icon-format-size" aria-hidden="true"></md-icon>-->
<!--<md-icon md-font-icon="icon-menu-down" class="md-default-theme md-font material-icons icon-menu-down" aria-hidden="true"></md-icon>-->
<!--</label>-->

<!--</md-menu>-->
<!--</div>-->
<!--<div layout="row" class="layout-row">-->
<!--<md-icon md-font-icon="icon-format-bold" class="md-default-theme md-font material-icons icon-format-bold" aria-hidden="true"></md-icon>-->
<!--<md-icon md-font-icon="icon-format-italic" class="md-default-theme md-font material-icons icon-format-italic" aria-hidden="true"></md-icon>-->
<!--<md-icon md-font-icon="icon-format-underline" class="md-default-theme md-font material-icons icon-format-underline" aria-hidden="true"></md-icon>-->
<!--<md-icon md-font-icon="icon-format-color" class="md-default-theme md-font material-icons icon-format-color" aria-hidden="true"></md-icon>-->
<!--</div>-->
<!--<md-icon md-font-icon="icon-format-align-left" class="md-default-theme md-font material-icons icon-format-align-left" aria-hidden="true"></md-icon>-->
<!--<md-icon md-font-icon="icon-format-align-center" class="md-default-theme md-font material-icons icon-format-align-center" aria-hidden="true"></md-icon>-->
<!--<md-icon md-font-icon="icon-format-align-right" class="md-default-theme md-font material-icons icon-format-align-right" aria-hidden="true"></md-icon>-->
<!--</div>-->
<!--</div>-->

<!--</div>-->
