<md-dialog class="compose-dialog" aria-label="New GMail">
  <form class="md-inline-form">
    <md-toolbar class="md-accent md-hue-2">
      <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
        <span class="title">Add A New Account</span>
        <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close dialog">
          <md-icon md-font-icon="icon-close"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <div flex layout="row" layout-align="center">
      <md-dialog-content>
        <div flex layout="row" layout-align="center">
          <md-radio-group ng-model="vm.selectedAddAccount" ng-change="vm.getMailAuthUrl()" class="layout-row add_account">
            <md-radio-button value="gmail" class="flex account gmail">GMail Account</md-radio-button>
            <md-radio-button value="outlook" class="flex account outlook">Outlook Account</md-radio-button>
          </md-radio-group>
        </div>

        <div ng-if="vm.selectedAddAccount">
          <h3>You have to Grant Auth permission to access your <span ng-bind="vm.selectedAddAccount"></span> Account!</h3>
          <p>Please press below <strong>Grant Permission</strong> button and continue as instructed later.</p>
          <div class="add-account-button">
            <md-button class="md-accent md-raised" aria-label="Mail Auth Url" ng-href="{{vm.MailAuthUrl}}">Grant Permissions</md-button>
          </div>
        </div>
      </md-dialog-content>
    </div>
  </form>
</md-dialog>
