<md-dialog class="compose-dialog" aria-label="New GMail" ng-init="vm.getGMailAuthUrl()">
  <form class="md-inline-form">
    <md-toolbar class="md-accent md-hue-2">
      <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
        <span class="title">New GMail</span>
        <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close dialog">
          <md-icon md-font-icon="icon-close"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <div flex layout="row" layout-align="center">
      <md-dialog-content>
        <h3>You have to give Auth permission to access your Gmail Account!</h3>
        <p>Please press below <strong>Get Permission</strong> button and continue as instructed later.</p>
        <div class="compose-button">
          <md-button class="md-accent md-raised" aria-label="Gmail Auth" ng-href="{{vm.GMailAuthUrl}}">Get Permissions</md-button>
        </div>
      </md-dialog-content>
    </div>
  </form>
</md-dialog>
