<!-- CHAT APP -->
<div id="chat-app" class="page-layout carded fullwidth">

  <!-- TOP BACKGROUND -->
  <div class="top-bg md-accent-bg"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

    <!-- CONTENT CARD -->
    <div class="content-card" layout="row" flex>

      <!-- LEFT SIDENAV -->
      <md-sidenav class="sidenav left-sidenav md-sidenav-left" md-is-locked-open="$mdMedia('gt-md')"
                  md-component-id="left-sidenav"
                  ms-sidenav-helper ng-include="'app/main/chat/sidenavs/left/left-sidenav.html'"
                  layout="column">
      </md-sidenav>

      <!-- START -->
      <div class="start-point" ng-if="!vm.chat" flex layout="column" flex layout-align="center center">

        <div class="big-circle md-whiteframe-4dp" ng-if="!vm.loadingChat">

          <!--<md-icon class="s128 md-accent" md-font-icon="icon-hangouts"></md-icon>-->
          <md-icon class="accent-green w-150 h-150" md-svg-src="images/chat/chat-icon.svg"></md-icon>


        </div>

        <div class="loading-threads gray-color" layout="column" layout-align="center center" ng-if="vm.loadingChat">
          <md-progress-circular class="md-accent" md-mode="indeterminate" md-diameter="64"></md-progress-circular>
          <!--<div>Loading Chat...</div>-->
          <span class="app-title">Loading Chat...</span>
        </div>


        <h2 class="font-size-36 font-weight-800 no-margin pb-10 pt-20">Chat App</h2>
        <span class="hide show-gt-md secondary-text">Select contact to start the
                    chat!..</span>
        <md-button class="md-raised hide-gt-md" ng-click="vm.toggleSidenav('left-sidenav')">
          Select contact to start the chat!..
        </md-button>

      </div>
      <!-- / START -->

      <!-- CHAT -->
      <div ng-if="vm.chat" class="chat" layout="column" flex>

        <!-- CHAT TOOLBAR -->
        <md-toolbar class="chat-toolbar">

          <div class="md-toolbar-tools">

            <!-- RESPONSIVE CHATS BUTTON-->
            <md-button class="hide-gt-md responsive-chats-button md-icon-button"
                       ng-click="vm.toggleLeftSidenavView(false);vm.toggleSidenav('left-sidenav')"
                       aria-label="chats button">
              <md-icon md-font-icon="icon-hangouts s36"></md-icon>
            </md-button>
            <!-- / RESPONSIVE CHATS BUTTON-->

            <!-- CHAT CONTACT-->
            <div class="chat-contact" layout="row" layout-align="start center">

              <div class="avatar-wrapper group" ng-if="vm.chat.group">
                <!--<img ng-src="{{ 'images/avatars/profile.jpg'}}" class="avatar" ng-class="vm.contacts.getById(vm.chatContactId).status || 'offline'" alt="{{vm.contacts.getById(vm.chatContactId).name}}" />-->
                <md-icon md-font-icon="icon-account-multiple-plus"></md-icon>
              </div>
              <div class="md-list-item-text" ng-if="vm.chat.group">
                <div class="chat-contact-name" ng-if="vm.chat.name">
                  <span ng-bind="vm.chat.name"></span>
                </div>
                <div class="chat-contact-name" ng-if="!vm.chat.name">
                  <span ng-repeat="(index, recipient) in vm.chat.recipients | filter:{ id: '!' + vm.user.id}">{{recipient.first_name}} {{recipient.last_name}}{{$last ? '' : ', '}}
                  </span>
                </div>
                <div ng-if="vm.chat.group" class="participation"><span
                  class="arrow {{vm.showGroupRecipients?'top-down':'left-right'}}"></span> <span class="member_count"
                                                                                                 ng-click="vm.showGroupRecipients?vm.showGroupRecipients=false:vm.showGroupRecipients=true"> {{vm.chat.recipients.length - 1 }} Participations</span>
                </div>
                <!--<p ng-if="!vm.chat.group" class="mood">{{'status'}}</p>-->
              </div>

              <div class="avatar-wrapper" ng-if="!vm.chat.group" ng-init="vm.getRecepientInfo()">
                <img ng-src="{{vm.chatReceipient.photo_url || 'images/avatars/profile.jpg' }}" err-src="images/avatars/blank.jpg"
                     class="avatar" ng-class="vm.chatReceipient.mode || 'offline'"
                     alt="{{vm.chatReceipient.first_name}}" ng-click="vm.getContactDetails(vm.chatReceipient.id)"/>
              </div>
              <div class="chat-contact-name" ng-if="!vm.chat.group">
                <div class="font-size-16 font-weight-700"
                     ng-bind="vm.chatRecipientName(vm.chat.recipients);"></div>
                <small class="email font-size-12" ng-bind="vm.chatReceipient.email" ng-if="!vm.chat.pending"></small>
              </div>


              <!--<div ng-if="!vm.chat.group" class="chat-contact-name" ng-bind="vm.getRecipientNames()"></div>-->

              <div ng-if="vm.showRecipientContact" class="recipient_contact md-whiteframe-5dp {{vm.chat.group?'group':''}}">
                <div class="contact_heading" layout="column" layout-align="space-between stretch">
                  <div layout="row" layout-align="space-between start">
                    <div class="photo w-120">
                      <div class="avatar-wrapper">

                        <img ng-src="{{vm.recipientDetails.photo_url || 'images/avatars/profile.jpg'}}"
                             class="avatar" ng-class="vm.recipientDetails.status || 'offline'" err-src="images/avatars/blank.jpg"
                             alt="{{vm.recipientDetails.first_name}} {{vm.recipientDetails.first_name}}"/>

                      </div>
                    </div>
                    <div class="p_detail pt-15" flex>
                      <div class="name">{{ vm.recipientDetails.first_name }} {{ vm.recipientDetails.last_name }}</div>
                      <div class="email">{{ vm.recipientDetails.email }}</div>
                    </div>
                  </div>

                  <div ng-if="vm.recipientDetails.isContact" layout="row" layout-align="end end" class="button-group">
                    <md-menu md-position-mode="target-right target" class="no-margin">
                      <md-button class="md-icon-button no-margin" aria-label="More">
                        <md-icon class="white-fg" md-font-icon="icon-account-multiple-plus"
                                 ng-click="$mdOpenMenu($event)"></md-icon>
                      </md-button>

                      <md-menu-content width="3">
                        <md-menu-item>
                          <md-button class="pl-8">
                            Name One
                          </md-button>
                        </md-menu-item>
                        <md-menu-item>
                          <md-button>
                            <p>Name Two</p>
                          </md-button>
                        </md-menu-item>

                      </md-menu-content>
                    </md-menu>


                    <md-button class="md-icon-button no-margin"
                               ng-click="vm.toggleFavoriteContact(vm.recipientDetails.id, vm.recipientDetails.favorite)"
                               aria-label="Toggle starred">

                      <md-icon ng-if="vm.recipientDetails.favorite" md-font-icon="icon-star"
                               class="amber-fg"></md-icon>
                      <md-icon ng-if="!vm.recipientDetails.favorite"
                               class="white-fg"
                               md-font-icon="icon-star-outline"></md-icon>
                    </md-button>
                  </div>

                </div>
                <div class="details_recipient" layout="column" layout-align="start stretch">

                  <div ng-if="!vm.isObject(vm.recipientDetails.phone)" layout="row" layout-align="space-between start">
                    <div class="w-100 key">Phone</div>
                    <div class="value" ng-bind="vm.recipientDetails.phone" flex=""></div>
                  </div>

                  <div ng-if="vm.isObject(vm.recipientDetails.phone)" layout="column"
                       layout-align="space-between stretch">
                    <div ng-repeat="phone in vm.recipientDetails.phone" layout="row">
                      <div ng-bind="phone.type" class="w-100  key"></div>
                      <div class="value" flex ng-bind="phone.number"></div>
                    </div>
                    <md-divider></md-divider>
                  </div>

                  <div layout="column" layout-align="space-between start">
                    <div ng-repeat="address in vm.recipientDetails.address" layout="row" layout-align="space-between start">
                      <div class="w-100  key">Address {{address.type}}</div>
                      <div flex class="value" ng-bind="address.street +' '+ address.city +' '+ address.country"></div>
                    </div>
                  </div>
                  <md-divider></md-divider>

                  <div layout="row" layout-align="space-between start">
                    <div class="w-100 key">Social</div>
                    <div class="value" flex>
                      <a class="social" href="#"><md-icon md-font-icon="icon-twitter"></md-icon>Twitter</a><br>
                      <a class="social" href="#"><md-icon md-font-icon="icon-facebook"></md-icon>Facebook</a><br>
                      <a class="social" href="#"><md-icon md-font-icon="icon-instagram"></md-icon>Instagram</a><br>
                    </div>
                  </div>
                  <div layout="row" layout-align="space-between start">
                    <div class="w-100 key">Birthday</div>
                    <div class="value" flex>January 20, 1989</div>
                  </div>

                </div>


                <!--<div class="details_part">
                  <ul class="detail">
                    <li ng-if="!vm.isObject(vm.recipientDetails.phone)">
                      <span class="key">Phone</span>
                      <span class="value" ng-bind="vm.recipientDetails.phone"></span>
                    </li>
                    <li ng-if="vm.isObject(vm.recipientDetails.phone)">
                      <span class="key">Phone</span>
                      <span class="key" ng-repeat="phone in vm.recipientDetails.phone"><span
                        ng-bind="phone.type"></span> <span class="value" ng-bind="phone.number"></span></span>
                    </li>
                    <li><span class="key" ng-repeat="address in vm.recipientDetails.address"><span>{{address.type}} Address</span> <span
                      class="value" ng-bind="address.street +' '+ address.city +' '+ address.country"></span></span>
                    </li>
                    <li>
                      <span class="key">Social</span>
                      <span class="value">
                                      <a class="social" href="#">Twitter</a><br>
                                      <a class="social" href="#">Facebook</a><br>
                                      <a class="social" href="#">Instagram</a><br>
                                    </span>
                    </li>
                    <li><span class="key">Birthday</span> <span class="value">January 20, 1989</span></li>
                  </ul>
                </div>-->
              </div>

            </div>
            <!-- / CHAT CONTACT-->

            <md-menu md-position-mode="target-right target" ng-if="!vm.chat.pending">

              <md-button class="md-icon-button" ng-click="$mdMenu.open();" aria-label="more">
                <md-icon md-font-icon="icon-dots-vertical"></md-icon>
              </md-button>

              <md-menu-content width="3">
                <md-menu-item>
                  <md-button ng-click="vm.createGroupInit()">
                    <md-icon md-font-icon="icon-account-multiple-plus"></md-icon>
                    Add User
                  </md-button>
                </md-menu-item>
                <md-menu-item ng-if="!vm.chat.group">
                  <md-button ng-click="vm.deleteConversation()">
                    <md-icon md-font-icon="icon-message-processing"></md-icon>
                    Delete Conversation
                  </md-button>
                </md-menu-item>
                <!--<md-menu-item>-->
                <!--<md-button ng-click="vm.muteConversation('on')">-->
                <!--<md-icon md-font-icon="icon-message-draw"></md-icon>Mute-->
                <!--</md-button>-->
                <!--</md-menu-item>-->
                <md-menu-item ng-if="vm.chat.group">
                  <md-button ng-click="vm.leaveGroup(vm.chat.id, vm.user.id)">
                    <md-icon md-font-icon="icon-message-draw"></md-icon>
                    Leave Group
                  </md-button>
                </md-menu-item>
              </md-menu-content>

            </md-menu>

            <div ng-if="vm.showAddGroupPopup" ng-show="vm.showAddGroupPopup" id="addGroupPopup"
                 class="add_group_popup md-whiteframe-5dp" layout="column" layout-align="space-between stretch">
              <md-content class="md-padding autocomplete" layout="column" flex>


                <md-contact-chips
                  md-autofocus="true"
                  ng-model="vm.selectedContact"
                  md-contacts="vm.querySearch($query)"
                  md-contact-name="name"
                  md-contact-email="email"
                  md-require-match="true"
                  md-highlight-flags="i"
                  filter-selected="vm.filterSelected"
                  placeholder="Search Contact to Add">
                </md-contact-chips>


                <md-list class="fixedRows contacts" ms-scroll>
                  <md-list-item class="md-2-line contact-item" ng-repeat="(index, contact) in vm.groupContactsData"
                                ng-if="vm.selectedContact.indexOf(contact) < 0"
                                ng-click="vm.addContactToGroup(contact)">
                    <img ng-src="{{contact.image}}" class="md-avatar avatar" ng-class="contact.mode"
                         alt="{{contact.name}}"/>
                    <div class="md-list-item-text compact">
                      <h3>{{contact.name}}</h3>
                      <p>{{contact.email}}</p>
                    </div>
                  </md-list-item>
                </md-list>


              </md-content>
              <md-content class="group_popup_footer" layout="row" layout-align="space-between center">
                <md-button class="btn-basic lh-2 pl-15 pr-15" aria-label="Cancel"
                           ng-click="vm.showAddGroupPopup?vm.showAddGroupPopup=false:vm.showAddGroupPopup=true">
                  Cancel
                </md-button>
                <md-button class="btn-violate lh-2 pl-15 pr-15" ng-click="vm.createGroup()" aria-label="Add">
                  Create Group
                </md-button>
              </md-content>
            </div>

          </div>

          <div ng-if="vm.chat.group && vm.showGroupRecipients" class="md-toolbar-tools chat_group_contact" layout="row"
               layout-align="start center">
            <ul class="contact_name">
              <li ng-repeat="(index, recipient) in vm.chat.recipients | filter:{ id: '!' + vm.user.id}"
                  ng-click="vm.getContactDetails(recipient.id)"><i
                class="dot {{recipient.status || 'offline'}}">&nbsp;</i> {{recipient.first_name}}
                {{recipient.last_name}}
              </li>
            </ul>
          </div>

        </md-toolbar>
        <!-- / CHAT TOOLBAR -->

        <!-- CHAT CONTENT -->
        <md-content id="chat-content" flex ms-scroll>

          <!-- CHAT MESSAGES -->
          <div class="chat-messages" ng-if="vm.chat">

            <!-- PENDING CONTACT MESSAGE -->
            <div ng-if="vm.chat.pending && !vm.chat.messages.length" class="pending_contact_request_message">
              <div layout="row" layout-align="center center">
                <span class="message-text"><span ng-bind="vm.chatRecipientName(vm.chat.recipients);"></span> is not in your contact list.</span>
              </div>
              <div layout="row" layout-align="center center">
                <md-button class="btn-violate" ng-click="vm.sendRequestDialog($event);">Add to Contacts</md-button>
              </div>
            </div>

            <div ng-if="vm.chat.pending && vm.chat.created_by.id !== user.id" class="pending_contact_request_message">
              <div layout="row" layout-align="center center">
                <md-button class="btn-violate" ng-click="vm.acceptRequest();">Accept</md-button>
                <md-button class="btn-violate" ng-click="vm.declineRequest();">Decline</md-button>
              </div>
            </div>

            <div ng-if="vm.chat.pending && vm.showContactRequestMessage" class="request_message_area">
              <p>Send <span ng-bind="vm.chatRecipientName(vm.chat.recipients);"></span> a contact request</p>
              <textarea class="message_box" ng-model="vm.chat.request_message" rows="4" cols="35"></textarea>
              <md-button class="btn-violate" ng-click="vm.sendRequestConfirm();">Send</md-button>
              <md-button class="btn-violate" ng-click="vm.sendRequestConfirmCancel();">Cancel</md-button>
            </div>

            <!-- PENDING CONTACT MESSAGE -->

            <!-- MESSAGE -->
            <div layout="row" ng-repeat="dialog in vm.chat.messages"
                 class="md-padding message-row {{ dialog.sender.id === vm.user.id?'user':'contact' }}" ng-if="dialog.body">

              <img ng-if="dialog.sender.id !== vm.user.id"
                   ng-src="{{dialog.sender.photo_url || 'images/avatars/profile.jpg'}}" err-src="images/avatars/blank.jpg"
                   class="avatar"
                   alt="{{dialog.sender.first_name}}"/>

              <img ng-if="dialog.sender.id === vm.user.id" class="avatar"
                   ng-src="{{vm.user.photo_url || 'images/avatars/profile.jpg'}}" err-src="images/avatars/blank.jpg">

              <div class="bubble">
                <div class="message" ng-bind-html="dialog.body"></div>
                <div class="time secondary-text">{{dialog.createdAt | altDate}}</div>
              </div>

            </div>
            <!-- / MESSAGE -->

          </div>
          <!-- CHAT MESSAGES -->



        </md-content>
        <!-- / CHAT CONTENT -->

        <!-- CHAT FOOTER -->
        <div class="chat-footer flex-noshrink" layout="row" layout-align="center center" ng-class="{'disabled' : vm.chat.pending}">

          <!-- REPLY FORM -->
          <form ng-submit="vm.reply()" flex class="reply-form" layout="row" layout-align="start center">

            <md-input-container flex md-no-float>
                            <textarea ng-keyup="vm.reply($event)" id="reply"
                                      md-no-autogrow ng-model="vm.replyMessage"
                                      ng-class="{'grow': vm.textareaGrow}"
                                      placeholder="{{vm.chat.pending?'Messaging disabled until request is accepted.':'Type and hit enter to send message'}}">
                            </textarea>
            </md-input-container>

            <!-- Emoticon Areas -->
            <div id="chat-emo" class="chat_emo" ng-if="vm.emoAreaVisible">
              <div class="emo-wrapper md-whiteframe-7dp" layout="column" layout-align="space-between stretch">
                <div class="emo-toolbar pl-5" layout="row">
                  <md-icon md-svg-icon="images/chat/1.svg" class="emo_section {{vm.showEmoticonList?'active':''}}"
                           ng-click="vm.showEmoticonArea()"></md-icon>

                  <md-icon md-svg-icon="images/chat/2.svg" class="emo_section {{vm.showEmojiList?'active':''}}"
                           ng-click="vm.showEmojiArea()"></md-icon>

                  <md-icon md-svg-icon="images/chat/giphy.svg" class="emo_section {{vm.showEmoStickerList?'active':''}}"
                           ng-click="vm.showEmoStickerArea()"></md-icon>

                  <md-divider vertical class="ml-5"></md-divider>

                  <input flex class="emo-search no-border" ng-model="vm.emo_search"
                         ng-keyup="vm.giphyStickerTimoutInterval()" ng-keydown="vm.giphyClearTimoutInterval()"
                         placeholder="Search here ...">

                  <!--by hasan: i for now commented this. is this necessary to keep-->
                  <!--<img ng-show="vm.showEmoStickerList" alt="Powered by Giphy" src="images/chat/powered_by_giphy_white_bg_27.png" class="preview-image absolute-center po-a">-->
                  <!--by hasan: i for now commented this. is this necessary to keep-->
                </div>
                <div class="emoticon-content" ng-if="vm.showEmoticonList" ms-scroll flex="" layout="row" layout-wrap
                     layout-align="space-between start">
                            <span class="emo" ng-repeat="icon in vm.emoticonList | filter:vm.emo_search"
                                  ng-click="vm.insertEmoticonToMessageBody(icon)">
                              <i class="sc sc-{{icon}}" title="{{icon}}"></i>
                            </span>
                </div>
                <div class="emoticon-content" ng-if="vm.showEmojiList" ms-scroll layout="row" layout-wrap
                     layout-align="space-between start">
                <span class="emo" ng-repeat="icon in vm.emojiList | filter:vm.emo_search"
                      ng-click="vm.insertEmojiToMessageBody(icon.name)">
                  <i class="emoji {{icon.class}}" title="{{icon.name}}"></i>
                </span>
                </div>

                <div class="emoticon-content" ng-if="vm.showEmoStickerList" ms-scroll layout="row" layout-wrap
                     layout-align="space-between start">
                  <div class="sticker" ng-repeat="gs in vm.emoStickerList" flex="33"
                       ng-click="vm.insertEmojiStickerToChat(gs.images.fixed_height_small.url)" layout="column"
                       layout-align="center">
                    <img ng-src="{{gs.images.fixed_height_small.url}}" alt="Giphy Sticker"/>
                  </div>
                </div>


              </div>
              <div id=":176" class="aA4"></div>
            </div>
            <!-- / Emoticon Areas -->

            <md-button class="insert_emo md-icon-button" aria-label="Insert Emo" ng-click="vm.showEmoArea()">
              <md-icon md-font-icon="icon-emoticon-happy"></md-icon>
            </md-button>
            <md-button class="md-fab" type="submit" aria-label="Send message">
              <md-icon md-font-icon="icon-send"></md-icon>
            </md-button>

          </form>
          <!-- / REPLY FORM -->

        </div>
        <!-- / CHAT FOOTER-->

      </div>
      <!-- / CHAT -->

      <!-- RIGHT SIDENAV -->
      <md-sidenav class="sidenav right-sidenav md-sidenav-right" layout="column"
                  md-component-id="right-sidenav"
                  ms-sidenav-helper ng-include="'app/main/chat/sidenavs/right/right-sidenav.html'">
      </md-sidenav>
      <!-- / RIGHT SIDENAV -->


    </div>
    <!-- / CONTENT CARD -->


  </div>
  <!-- / CENTER -->

</div>
<!-- / CHAT APP -->
