<!-- TOOLBAR -->
<div class="toolbar" layout="row" layout-align="space-between center">

    <div layout="row" layout-align="start center">

        <!-- THREAD LIST SPECIFIC ACTIONS -->
      <md-checkbox class="no-label" aria-label="{{vm.selectedThreads.length > 0 ? 'Deselect All' : 'Select All'}}"
                   ng-checked="vm.selectedThreads.length > 0" ng-click="vm.toggleSelectThreads()"></md-checkbox>
      <md-menu class="select-menu" ng-if="!vm.currentThread">
        <md-button class="md-icon-button"
                   ng-click="$mdMenu.open($event)"
                   aria-label="Filters">
          <md-icon md-font-icon="icon-menu-down"></md-icon>
        </md-button>
        <md-menu-content width="3">
          <md-menu-item>
            <md-button ng-click="vm.selectThreads()" aria-label="All">
              All
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="vm.deselectThreads()" aria-label="None">
              None
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="vm.selectThreads('read', true)" aria-label="Read">
              Read
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="vm.selectThreads('read', false)" aria-label="Unread">
              Unread
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="vm.selectThreads('important', true)" aria-label="Important">
              Important
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="vm.selectThreads('important', false)" aria-label="Not Important">
              Not Important
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="vm.selectThreads('starred', true)" aria-label="Starred">
              Starred
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="vm.selectThreads('starred', false)" aria-label="Unstarred">
              Unstarred
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
        <!-- / THREAD LIST SPECIFIC ACTIONS -->

        <!-- SINGLE THREAD SPECIFIC ACTIONS -->
        <md-button class="md-icon-button close-thread" aria-label="Back"
                   ng-click="vm.closeThread()" ng-if="vm.currentThread">
            <md-icon md-font-icon="icon-keyboard-backspace"></md-icon>
        </md-button>
        <!-- / SINGLE THREAD SPECIFIC ACTIONS -->

        <!-- ACTION BUTTONS -->
      <div class="action-buttons-mail" layout="row" layout-align="start center"
           ng-show="vm.selectedThreads.length > 0 || vm.currentThread"
           hide show-gt-xs>
        <div class="divider-vertical"></div>

        <md-button class="md-icon-button" aria-label="Archive" ng-click="vm.changeThreadLabel('inbox', 'remove')">
          <md-icon md-font-icon="icon-archive"></md-icon>
          <md-tooltip><span>Archive</span></md-tooltip>
        </md-button>

        <md-button ng-if="vm.currentFilter.filter != 'SPAM'" class="md-icon-button" aria-label="Spam" ng-click="vm.changeThreadLabel('spam', 'add')">
          <md-icon md-font-icon="icon-alert-octagon"></md-icon>
          <md-tooltip><span>Spam</span></md-tooltip>
        </md-button>

        <md-button ng-if="vm.currentFilter.filter != 'TRASH' || vm.currentFilter.filter != 'trash'" class="md-icon-button" aria-label="Delete" ng-click="vm.changeThreadLabel('trash', 'add')">
          <md-icon md-font-icon="icon-delete"></md-icon>
          <md-tooltip><span>Delete</span></md-tooltip>
        </md-button>

        <md-button ng-if="vm.currentFilter.filter == 'TRASH' || vm.currentFilter.filter == 'trash'" class="md-icon-button" aria-label="Delete Forever" ng-click="vm.deleteThreadForever()">
          <md-icon md-font-icon="icon-delete"></md-icon>
          <md-tooltip><span>Delete Forever</span></md-tooltip>
        </md-button>

        <div class="divider-vertical"></div>

        <!--<md-button class="md-icon-button" aria-label="Move to">-->
        <!--<md-icon md-font-icon="icon-folder"></md-icon>-->
        <!--<md-tooltip><span>Move to</span></md-tooltip>-->
        <!--</md-button>-->
        <md-menu>
          <md-button class="md-icon-button md-nost" aria-label="Labels"
                     ng-click="$mdMenu.open($event)">
            <md-icon md-font-icon="icon-label"></md-icon>
            <md-tooltip><span>Move to</span></md-tooltip>
          </md-button>
          <md-menu-content class="thread-labels-toggle-list" width="3">
            <md-list>
              <md-subheader class="md-no-sticky">
                <span>Move to</span>
              </md-subheader>
              <md-list-item ng-repeat="folder in vm.folders" ng-click="vm.assignAsLabel(folder.id)">
                <div layout="row" layout-align="start center">
                  <div class="w-10 h-10 mr-16 md-green-600-bg"></div>
                  <div>{{folder.name}}</div>
                </div>
                <md-icon md-font-icon="icon-checkbox-blank-outline" class="md-secondary"
                         ng-if="vm.currentThread && !vm.isLabelExist(folder)"></md-icon>
                <md-icon md-font-icon="icon-checkbox-marked" class="md-accent md-secondary"
                         ng-if="vm.currentThread && vm.isLabelExist(folder)"></md-icon>
              </md-list-item>
            </md-list>
          </md-menu-content>
        </md-menu>

        <md-menu>
          <md-button class="md-icon-button" aria-label="Labels"
                     ng-click="$mdMenu.open($event)">
            <md-icon md-font-icon="icon-label"></md-icon>
            <md-tooltip><span>Assign as Labels</span></md-tooltip>
          </md-button>
          <md-menu-content class="thread-labels-toggle-list" width="3">
            <md-list>
              <md-subheader class="md-no-sticky">
                <span>Assign as Labels</span>
              </md-subheader>
              <md-list-item ng-repeat="label in vm.labels" ng-click="vm.assignAsLabel(label.id)">
                <div layout="row" layout-align="start center">
                  <div class="w-10 h-10 mr-16 md-green-600-bg"></div>
                  <div>{{label.name}}</div>
                </div>
                <md-icon md-font-icon="icon-checkbox-blank-outline" class="md-secondary"
                         ng-if="vm.currentThread && !vm.isLabelExist(label)"></md-icon>
                <md-icon md-font-icon="icon-checkbox-marked" class="md-accent md-secondary"
                         ng-if="vm.currentThread && vm.isLabelExist(label)"></md-icon>
              </md-list-item>
            </md-list>
          </md-menu-content>
        </md-menu>

        <div class="divider-vertical"></div>

        <md-menu>
          <md-button class="more"
                     ng-click="$mdMenu.open($event)"
                     aria-label="More">
            More<md-icon md-font-icon="icon-dots-vertical"></md-icon>
          </md-button>
          <md-menu-content width="3">
            <md-menu-item ng-if="!vm.isReadMail || vm.selectedThreads.length">
              <md-button ng-click="vm.changeThreadLabel('unread', 'remove')">
                <span>Mark as read</span>
              </md-button>
            </md-menu-item>
            <md-menu-item ng-if="vm.isReadMail || vm.selectedThreads.length">
              <md-button ng-click="vm.changeThreadLabel('unread', 'add')">
                <span>Mark as unread</span>
              </md-button>
            </md-menu-item>
            <md-menu-item ng-if="vm.currentFilter.filter == 'SPAM'">
              <md-button ng-click="vm.changeThreadLabel('spam', 'remove')">
                <span>Remove From Spam</span>
              </md-button>
            </md-menu-item>
            <md-menu-item ng-if="!vm.currentThread.important || vm.selectedThreads.length">
              <md-button ng-click="vm.changeThreadLabel('important', 'add')">
                <span>Mark as important</span>
              </md-button>
            </md-menu-item>
            <md-menu-item ng-if="vm.currentThread.important || vm.selectedThreads.length">
              <md-button ng-click="vm.changeThreadLabel('important', 'remove')">
                <span>Mark as not important</span>
              </md-button>
            </md-menu-item>
            <md-menu-item ng-if="!vm.currentThread.starred || vm.selectedThreads.length">
              <md-button ng-click="vm.changeThreadLabel('starred', 'add')">
                <span>Add star</span>
              </md-button>
            </md-menu-item>
            <md-menu-item ng-if="vm.currentThread.starred || vm.selectedThreads.length">
              <md-button ng-click="vm.changeThreadLabel('starred', 'remove')">
                <span>Remove star</span>
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </div>
        <!-- / ACTION BUTTONS -->

        <!-- ACTIONS MENU -->
      <md-menu class="actions-menu"
               ng-show="vm.selectedThreads.length > 0 || vm.currentThread"
               hide-gt-xs>
        <md-button class="md-icon-button"
                   ng-click="$mdMenu.open($event)"
                   aria-label="Mail Actions">
          <md-icon md-font-icon="icon-dots-vertical"></md-icon>
        </md-button>
        <md-menu-content width="3">
          <md-menu-item>
            <md-button aria-label="Archive" ng-click="vm.changeThreadLabel('inbox', 'remove')">
              <md-icon md-font-icon="icon-archive"></md-icon>
              <span>Archive</span>
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button aria-label="Spam" ng-click="vm.changeThreadLabel('spam', 'add_remove', 'inbox')">
              <md-icon md-font-icon="icon-alert-octagon"></md-icon>
              <span>Spam</span>
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button aria-label="Delete" ng-click="vm.changeThreadLabel('trash', 'add_remove', 'inbox')">
              <md-icon md-font-icon="icon-delete"></md-icon>
              <span>Delete</span>
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button aria-label="Move To">
              <md-icon md-font-icon="icon-folder-move"></md-icon>
              <span>Move To</span>
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button aria-label="Labels">
              <md-icon md-font-icon="icon-label"></md-icon>
              <span>Labels</span>
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
        <!-- / ACTIONS MENU -->
    </div>

    <div layout="row" layout-align="start center">
      <md-button class="md-icon-button fresh" aria-label="Fresh" ng-click="vm.refreshMessages()">
        <md-icon md-font-icon="icon-refresh"></md-icon>
        <md-tooltip><span>Refresh Mail</span></md-tooltip>
      </md-button>

      <span ng-if="vm.threads && vm.threads.length && vm.folderMailCount" class="page-info" hide-sm><span ng-bind="vm.initMessagePositionCount+1"></span> - <span ng-bind="vm.initMessagePositionCount + vm.currentMailCount()"></span> of <span ng-bind="vm.folderMailCount | number"></span></span>

      <md-button ng-if="vm.threads && vm.threads.length" class="md-icon-button arrow" aria-label="Previous" ng-disabled="vm.initMessagePositionCount < 2" ng-click="vm.loadPreviousMessage()">
        <md-icon md-font-icon="icon-chevron-left"></md-icon>
        <md-tooltip><span>Previous</span></md-tooltip>
      </md-button>

      <md-button ng-if="vm.threads && vm.threads.length && vm.folderMailCount" class="md-icon-button arrow" aria-label="Next" ng-disabled="vm.folderMailCount < vm.initMessagePositionCount + vm.currentMailCount()" ng-click="vm.loadNextMessage()">
        <md-icon md-font-icon="icon-chevron-right"></md-icon>
        <md-tooltip><span>Next</span></md-tooltip>
      </md-button>

      <!-- SETTINGS MENU -->
      <div class="settings-menu">
        <md-button class="md-icon-button {{ vm.currentView == 'outlook'?'active':''}}"
                   ng-click="vm.changeView('outlook')"
                   aria-label="Settings">
          <md-icon md-font-icon="icon-view-quilt"></md-icon>
        </md-button>

        <md-button class="md-icon-button {{ vm.currentView == 'classic'?'active':''}}"
                   ng-click="vm.changeView('classic')"
                   aria-label="Settings">
          <md-icon md-font-icon="icon-crop-landscape"></md-icon>
        </md-button>
        <!--<md-menu-content width="3">-->
        <!--<md-menu-item>-->
        <!--<md-button ng-click="vm.changeView('classic')">-->
        <!--<md-icon md-font-icon="icon-checkbox-blank-outline"-->
        <!--ng-if="vm.currentView !== 'classic'"></md-icon>-->
        <!--<md-icon md-font-icon="icon-checkbox-marked" class="md-accent"-->
        <!--ng-if="vm.currentView === 'classic'"></md-icon>-->
        <!--<span>Classic View</span>-->
        <!--</md-button>-->
        <!--</md-menu-item>-->
        <!--<md-menu-item hide-xs>-->
        <!--<md-button ng-click="vm.changeView('outlook')">-->
        <!--<md-icon md-font-icon="icon-checkbox-blank-outline"-->
        <!--ng-if="vm.currentView !== 'outlook'"></md-icon>-->
        <!--<md-icon md-font-icon="icon-checkbox-marked" class="md-accent"-->
        <!--ng-if="vm.currentView === 'outlook'"></md-icon>-->
        <!--<span translate="MAIL.OUTLOOK_VIEW">Outlook View</span>-->
        <!--</md-button>-->
        <!--</md-menu-item>-->
        <!--</md-menu-content>-->
      </div>
      <!-- / SETTINGS MENU -->
    </div>
</div>
<!-- / TOOLBAR -->

<!-- CONTENT WRAPPER -->
<div class="content-wrapper" layout="column" flex>

    <!-- THREAD DETAIL -->
    <div class="content thread-detail"
         ng-if="vm.currentThread"
         ng-include="'app/main/mail/views/classic/detail/detail.html'" ms-scroll flex>
    </div>
    <!-- / THREAD DETAIL -->

    <!-- THREAD LIST -->
    <div class="content thread-list"
         ng-if="!vm.currentThread"
         ng-include="'app/main/mail/views/classic/list/list.html'" ms-scroll flex>
    </div>
    <!-- / THREAD LIST -->

</div>
<!-- / CONTENT WRAPPER -->
