<md-list flex class="tab-email">
  <!--<div class="loading-threads" layout="column" layout-align="center center" ng-if="!vm.events && vm.loadingThreads">-->
    <!--<md-progress-circular class="md-accent" md-mode="indeterminate" md-diameter="64"></md-progress-circular>-->
    <!--<div ng-bind="vm.loadingText || 'Loading emails..'"></div>-->
  <!--</div>-->
  <md-subheader class="md-no-sticky">
    <h3 class="text-center">Upcoming Events</h3>
  </md-subheader>
  <md-list-item ng-if="vm.events"
                aria-label="blabla"
                class="md-2-line" md-ink-ripple
                ng-repeat="event in vm.events | orderBy: '-event.start'"
                ng-click="vm.goToCalendarModule();">
    <div class="md-list-item-text">
      <div flex layout="row" layout-align="space-between start">
        <small ng-bind="event.title"></small>
        <small ng-bind="event.start | date:'M/d/yy'"></small>
      </div>
      <!--<h3>Darren Danis</h3>-->
      <p ng-bind="thread.description"></p>
    </div>
  </md-list-item>
  <h3 ng-if="!vm.events.length" class="text-center">You have no upcoming events.</h3>
</md-list>
