<md-list flex class="tab-email">
  <div class="loading-threads" layout="column" layout-align="center center" ng-if="!vm.threads && vm.loadingThreads">
    <md-progress-circular class="md-accent" md-mode="indeterminate" md-diameter="64"></md-progress-circular>
    <div ng-bind="vm.loadingText || 'Loading emails..'"></div>
  </div>
  <md-list-item ng-if="vm.threads"
    aria-label="blabla"
    class="md-2-line" md-ink-ripple
    ng-repeat="thread in vm.threads | orderBy: '-thread.date'" ng-class="{'unread': !thread.read}"
    ng-click="vm.openEmail(thread)">
    <div class="img-group">
      <img ng-src="images/avatars/profile.jpg" alt="from" class="md-avatar"/>
      <img ng-if="thread.provider=='gmail'" ng-src="../images/icons/gplus.png"/>
      <md-icon ng-if="thread.provider=='outlook'" md-src="../images/mail/provider/icons/outlook-s.png"></md-icon>
    </div>
    <div class="md-list-item-text">
      <div flex layout="row" layout-align="space-between start">
        <small ng-bind="thread.from.name"></small>
        <small ng-bind="thread.date | date:'M/d/yy'"></small>
      </div>
      <!--<h3>Darren Danis</h3>-->
      <p ng-bind="thread.subject"></p>
    </div>
  </md-list-item>
  <h3 ng-if="!vm.accounts.length" class="text-center">It seems you have not integrate any email account yet. Go to <span ng-click="vm.goToMailModule()" style="text-decoration: underline; cursor: pointer;">mail</span> module and add your email accounts.</h3>
</md-list>
