<md-dialog class="album-create" aria-label="Upload Files">
  <md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
      <h3 class="title">Insert Image</h3>
      <md-button class="md-icon-button" ng-click="vm.closeDialog();" aria-label="Close dialog">
        <md-icon md-font-icon="icon-close"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <!-- md-raised md-primary -->

    <div layout="row" layout-align="start center">
      <md-button class="btn-basic nomargin lh-2" ngf-select ng-model="vm.layerImage"
                 ng-click="vm.clickLayerImage();" accept="image/*">Browse
      </md-button>
    </div>
    <div class="row padding-10" layout-align="start center">
      <div ng-if="vm.layerImage" ngf-drop ng-model="vm.layerImage" ngf-pattern="image/*"
           class="cropArea">
        <img-crop image="vm.layerImage" area-type="rectangle" init-max-area="false"
                  result-image="vm.layerImageOutput" ng-init="vm.layerImageOutput=''">
        </img-crop>
      </div>
    </div>
    <div layout="row" layout-align="end">
      <md-button class="btn-basic lh-1 no-margin" ng-click="vm.closeDialog()">Cancel
      </md-button>
      <div flex="5"></div>
      <md-button class="btn-violate lh-1 no-margin" ng-click="vm.insertImageLayer()">Insert
      </md-button>
    </div>
  </md-dialog-content>
</md-dialog>
