<!-- SIDENAV HEADER -->
<div class="header md-accent-bg" layout="column" layout-align="space-between">
    <div class="toolbar" layout="row" layout-align="end center">
        <md-button class="md-icon-button" ng-click="vm.delete()" aria-label="Delete">
            <md-icon md-font-icon="icon-delete"></md-icon>
            <md-tooltip><span>Delete</span></md-tooltip>
        </md-button>

        <md-button class="md-icon-button" aria-label="Download">
            <md-icon md-font-icon="icon-download"></md-icon>
            <md-tooltip><span>Download</span></md-tooltip>
        </md-button>

        <md-button class="md-icon-button" aria-label="More">
            <md-icon md-font-icon="icon-dots-vertical"></md-icon>
            <md-tooltip><span>More</span></md-tooltip>
        </md-button>
    </div>

    <div>
        <div class="title">{{vm.selected.name}}</div>
        <div class="subtitle secondary-text"><span>Edited</span>: {{vm.selected.modified}}</div>
    </div>
</div>
<!-- / SIDENAV HEADER -->

<!-- SIDENAV CONTENT -->
<md-content class="content">

  <div class="navigation-simple" layout="column">
    <md-button class="item" aria-label="inbox">
      <div class="context" layout="row" layout-align="start center">
        <md-icon md-font-icon="icon-folder" class="s16"></md-icon>
        <div class="title">My Files</div>
      </div>
    </md-button>

    <md-button class="item" aria-label="starred">
      <div class="context" layout="row" layout-align="start center">
        <md-icon md-font-icon="icon-star" class="s16"></md-icon>
        <div class="title">Starred</div>
      </div>
    </md-button>

    <md-button class="item" aria-label="starred">
      <div class="context" layout="row" layout-align="start center">
        <md-icon md-font-icon="icon-folder-account" class="s16"></md-icon>
        <div class="title">Sharred with me</div>
      </div>
    </md-button>

    <md-button class="item" aria-label="starred">
      <div class="context" layout="row" layout-align="start center">
        <md-icon md-font-icon="icon-clock" class="s16"></md-icon>
        <div class="title">Recent</div>
      </div>
    </md-button>

    <md-button class="item" aria-label="starred">
      <div class="context" layout="row" layout-align="start center">
        <md-icon md-font-icon="icon-checkbox-marked-circle" class="s16"></md-icon>
        <div class="title">Offline</div>
      </div>
    </md-button>
  </div>

</md-content>
<!-- / SIDENAV CONTENT -->
