<md-dialog class="upload-dialog" aria-label="Upload Files">
  <form class="md-inline-form">
    <md-toolbar class="md-accent md-hue-2">
      <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
        <span class="title">Change Background Image</span>
        <md-button class="back-button" ng-click="vm.closeDialog();" aria-label="Close dialog">
          <md-icon md-font-icon="icon-keyboard-return"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <div flex layout="row" layout-align="center">
      <md-dialog-content>
        <!-- md-raised md-primary -->

        <div layout="row">
         <!-- <h4><b>Select an image file: </b><br><input class="md-raised md-accent" type="file"
                                                      id="fileInput"/>
          </h4>
          <br>
          <div class="cropArea">
            <img-crop image="vm.myImage" result-image="vm.myCroppedImage"></img-crop>
          </div>-->
          <div>Crop Image and Upload</div>
          <button ngf-select ng-model="picFile" accept="image/*">
            Select Picture</button>
          <div ngf-drop ng-model="picFile" ngf-pattern="image/*"
               class="cropArea">
            <img-crop image="picFile  | ngfDataUrl"
                      result-image="croppedDataUrl" ng-init="croppedDataUrl=''">
            </img-crop>
          </div>
        </div>
        <!--<md-button class="md-raised folder-create md-primary" type="submit" ng-click="vm.newFoderSubmission()">Upload</md-button>-->
      </md-dialog-content>
    </div>
  </form>
</md-dialog>
