<md-dialog class="album-create dialog-medium save_card" aria-label="Save Card">
  <md-toolbar class="md-accent md-hue-2">
    <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
      <h3 class="title">Save Card</h3>
      <md-button class="md-icon-button" ng-click="vm.closeDialog();" aria-label="Close dialog">
        <md-icon md-font-icon="icon-close"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <!-- md-raised md-primary -->

    <hr>
    <div layout="row">
      <p class="save_card_p">Save your design and continue working on it later! You can find it in your profile, <br></br>under 'My Cards'.</p>
    </div>
    <div layout="row">
      <div class="title give_a_name">Please give a card name to save:</div>
    </div>
    <div layout="row">
      <md-input-container flex class="card_name" md-no-float>
        <input required name="cardName" ng-model="vm.cardData.title" placeholder="Card Name">
        <div ng-messages="vm.newFolderName.$error">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>
    </div>
    <div layout="row" layout-align="end">
      <md-button class="btn-basic lh-1 no-margin" ng-click="vm.closeDialog()">Cancel
      </md-button>
      <div flex="5"></div>
      <md-button class="btn-violate lh-1 no-margin" ng-click="vm.saveCard()">Save
      </md-button>
    </div>
  </md-dialog-content>
</md-dialog>
