<md-dialog class="album-create dialog-medium save_card share_card" aria-label="Save Card">
  <md-toolbar class="md-accent md-hue-2">
    <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
      <h3 class="title">Share Your Card</h3>
      <md-button class="md-icon-button" ng-click="vm.closeDialog();" aria-label="Close dialog">
        <md-icon md-font-icon="icon-close"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <!-- md-raised md-primary -->

    <hr>
    <div layout="row">
      <div class="title give_a_name">Add Contacts to Share Card</div>
    </div>
    <div layout="row">
      <md-autocomplete
        md-input-id="searchPeople"
        md-selected-item="vm.selectedPeoples"
        md-search-text="vm.searchText"
        md-no-cache = true
        md-items="people in vm.peopleSearch(vm.searchText)"
        md-selected-item-change="vm.selectedPeopleChange(people)"
        md-item-text="people.name"
        md-min-length="0"
        placeholder="Search people" class="card_search_people">
        <md-item-template>
          <div class="avatar-wrapper avail-status">
            <img md-menu-align-target="" class="avatar" ng-src="{{people.photo_url}}" err-src="images/avatars/blank.jpg" alt="{{people.name}}">
            <span md-highlight-text="vm.searchText" md-highlight-flags="^i">{{people.name}}</span>
          </div>
        </md-item-template>
      </md-autocomplete>
    </div>
    <hr>
    <div layout="row">
      <div class="people-list list-item card_share_people" ng-repeat="item in vm.cardData.users track by $index">
        <md-button class="close-btn md-icon-button">
          <md-tooltip>Close</md-tooltip>
          <md-icon md-font-icon="icon-close s20" ng-click="vm.removePeopleFromShare(item);"></md-icon>
        </md-button>
        <div class="cal-user-content">
          <div class="round dot status-icon"></div>
          <p title="{{item.name}}">{{item.name || (item.first_name + ' ' + item.last_name)}}</p>
        </div>
      </div>
    </div>
    <br>
    <div layout="row" layout-align="end">
      <md-button class="btn-basic lh-1 no-margin" ng-click="vm.closeDialog()">Cancel
      </md-button>
      <div flex="5"></div>
      <md-button class="btn-violate lh-1 no-margin" ng-click="vm.shareCard()">Share
      </md-button>
    </div>
  </md-dialog-content>
</md-dialog>
