<style>
  /*md-list-item {
    margin: 5px;
  }

  .editable-controls {
    padding: 5px;
  }

  .editable-buttons button {
    padding: 5px;
    margin: 5px;
    background: #921ad7;
    color: white;
  }

  .editable-input {
    border: 1px solid gainsboro !important
  }*/
</style>
<!-- SIDENAV HEADER -->
<div class="header md-padding" layout="row" layout-align="center center">

  <md-button class="btn-violate" ng-click="vm.addContactEventClicked();vm.openAddContactDialog($event)" aria-label="add contact">Add Contact
  </md-button>

</div>
<!-- / SIDENAV HEADER -->

<!-- SIDENAV CONTENT -->
<div ms-scroll class="content scrollable">

  <md-list>

    <md-list-item ng-click="vm.filterChange('all');vm.searchContact='';" ng-class="{'selected-navigation':vm.listType == 'all'}">
      <p>
        All contacts
      </p>
    </md-list-item>
    <md-list-item ng-click="vm.filterChange('starred');vm.searchContact='';" ng-class="{'selected-navigation':vm.listType ==='starred'}">
      <p>
        Favorites
      </p>
    </md-list-item>
    <md-subheader class="md-no-sticky">Requests</md-subheader>

    <md-list-item ng-click="vm.getPendingRequestList();vm.searchContact='';">
      <p class="pl-8 md-accent-fg">
        Pending Requests
      </p>
      <span ng-if="vm.pendingRequestCount > 0" style="background: #3ecbe7; border-radius: 100%; float: right;color: #fff; width: 20px; height: 20px; line-height: 1; text-align: center;padding-top: 5px; font-size: 10px" ng-bind="vm.pendingRequestCount">58</span>
    </md-list-item>
    <md-list-item ng-click="vm.getMyRequestList();vm.searchContact='';">
      <p class="pl-8 md-accent-fg">
        My Requests
      </p>
    </md-list-item>

    <md-divider></md-divider>

    <md-subheader class="md-no-sticky">Groups</md-subheader>

    <md-list-item ng-if="vm.userGroups" ng-repeat="group in vm.userGroups" ng-click="vm.filterChange(group);vm.filterChangeNew('group',group)"
                  ng-class="{'selected-navigation':vm.listType.name === group.name}" ng-show="group.isShown">
      <p class="pl-8">
        {{group.name}}
      </p>
    </md-list-item>

    <md-list-item class="" ng-click="vm.openAddGroupPopup()">
      <p class="pl-8 md-accent-fg purple-500-fg">New Group</p>
    </md-list-item>
    <md-list-item class="" ng-click="vm.openManageGroupPopup()">
      <p class="pl-8 md-accent-fg">Manage Groups</p>
    </md-list-item>

    <!-- <md-list-item class="" ng-click="newListForm.$show()" ng-hide="newListForm.$visible">
       <p class="pl-8 md-accent-fg" translate="CONTACTS.NEW_GROUP">Manage Groups</p>
     </md-list-item>-->

    <md-divider></md-divider>
    <md-list-item ng-click="vm.openImportExportContactDialog($event)">
      <p>
        Import / Export
      </p>
    </md-list-item>

  </md-list>

</div>
<!-- / SIDENAV CONTENT -->
