<div class="ms-theme-options-button md-primary-bg" ng-click="toggleOptionsSidenav()">
    <md-icon md-font-icon="icon-cog" class="white-text"></md-icon>
</div>

<md-sidenav md-component-id="sochara-theme-options" class="md-sidenav-right">

    <div class="ms-theme-options-list" layout="column">
        <div class="theme-option layout-options">
            <div class="option-title">Layout Style:</div>
            <md-radio-group layout="row" layout-align="start start" layout-wrap
                            ng-model="vm.layoutStyle" ng-change="vm.updateLayoutStyle()">
                <md-radio-button ng-repeat="layoutStyle in vm.layoutStyles" ng-value="layoutStyle.value">
                    <div layout="column" layout-align="center center">
                        <img ng-src="{{layoutStyle.figure}}">
                        <span class="text-center font-size-12 mt-8">{{layoutStyle.label}}</span>
                    </div>
                </md-radio-button>
            </md-radio-group>
        </div>

        <md-divider></md-divider>

        <div class="theme-option">
            <div class="option-title">Layout Mode:</div>
            <md-radio-group layout="row" layout-align="start center" ng-model="vm.layoutMode"
                            ng-change="vm.updateLayoutMode()">
                <md-radio-button ng-repeat="layoutMode in vm.layoutModes" ng-value="layoutMode.value">
                    {{layoutMode.label}}
                </md-radio-button>
            </md-radio-group>
        </div>

        <md-divider></md-divider>

        <div class="theme-option color-palettes">
            <div class="option-title">Color Palette:</div>
            <div layout="row" layout-align="start start" layout-wrap>
                <md-button ng-repeat="(themeName, theme) in vm.themes.list" class="md-raised theme-button"
                           layout="row" layout-align="center center"
                           aria-label="{{themeName}}" ng-click="vm.setActiveTheme(themeName)"
                           ng-style="{'background-color': theme.primary.color,'border-color': theme.accent.color,'color': theme.primary.contrast1}"
                           ng-class="{active: vm.getActiveTheme().name === themeName}">
                    <md-icon ng-style="{'color': theme.primary.contrast1}" md-font-icon="icon-palette" class="icon s32"></md-icon>
                </md-button>
            </div>
        </div>
    </div>
</md-sidenav>
