<div id="register-v2" layout="row" layout-align="start">
  <div id="register-v2-intro" flex hide show-gt-sm>

    <div class="logo md-accent-bg" style="background-image:url('images/logo.png'); background-color: transparent">
      <!--<span>S</span>-->
    </div>
    <div class="title">
      Take Control <br>
      Of Your Busy Digital Life
    </div>
    <div class="description">
      SO, it's the one place for all your social and digital needs.
    </div>
    <div class="button trial" ng-click="vm.getTrial()">
      Free Trial
    </div>
    <div class="clear"></div>
    <span class="uppercase">Trusted by the world top social networks</span>
    <div class="social-icons">
      <ul>
        <li><a href="#!" alt="Facebook"><i class="icon icon-facebook"></i></a></li>
        <li><a href="#!" alt="Twitter"><i class="icon icon-twitter"></i></a></li>
        <li><a href="#!" alt="Instagrum"><i class="icon icon-instagram"></i></a></li>
        <li><a href="#!" alt="Google Plus"><i class="icon icon-google-plus"></i></a></li>
      </ul>
    </div>
  </div>

  <div id="register-v2-form-wrapper" class="flex-scrollable md-whiteframe-8dp" layout="column" flex ms-scroll>
    <div id="register-v2-form">
      <div style="background-image:url('images/logo.png'); background-color: transparent" class="logo md-accent-bg"
           hide-gt-sm>
        <!--<span>S</span>-->
      </div>

      <div class="title">Create an account</div>
      <div class="description">Sed mollis velit facilisis facilisis viverra
      </div>

      <form name="registerForm" novalidate>
        <md-input-container class="md-block" md-no-float>
          <input name="first_name" ng-model="vm.form.first_name" placeholder="First Name"
                 required>
          <div ng-messages="registerForm.first_name.$error" role="alert">
            <div ng-message="required">
              <span>First Name is required</span>
            </div>
          </div>
        </md-input-container>

        <md-input-container class="md-block" md-no-float>
          <input name="last_name" ng-model="vm.form.last_name" placeholder="Last Name"

                 required>
          <div ng-messages="registerForm.last_name.$error" role="alert">
            <div ng-message="required">
              <span>Last Name is required</span>
            </div>
          </div>
        </md-input-container>

        <md-input-container class="md-block" md-no-float>
          <input type="email" name="email" ng-model="vm.form.email" placeholder="Email"
                 ng-pattern="/^.+@.+\..+$/" required>
          <div ng-messages="registerForm.email.$error" role="alert" multiple>
            <div ng-message="required">
              <span>Email field is required</span>
            </div>
            <div ng-message="pattern">
              <span>Email must be a valid e-mail address</span>
            </div>
          </div>
        </md-input-container>

        <md-input-container class="md-block" md-no-float>
          <input type="password" name="password" ng-model="vm.form.password" placeholder="Password"
                 required>
          <div ng-messages="registerForm.password.$error" role="alert">
            <div ng-message="required">
              <span>Password field is required</span>
            </div>
          </div>
        </md-input-container>

        <md-input-container class="md-block" md-no-float>
          <input type="password" name="confirmPassword" ng-model="vm.form.confirmPassword"
                 placeholder="Password (Confirm)"
                 required>
          <div ng-messages="registerForm.confirmPassword.$error" role="alert">
            <div ng-message="required">
              <span>Password (Confirm) field is required</span>
            </div>
          </div>
        </md-input-container>

        <div class="terms" layout="row" layout-align="start center">
          <md-checkbox name="terms" ng-model="data.cb1" aria-label="I read and accept" required></md-checkbox>
          <div layout="row" layout-sm="column" layout-align="start center">
            <span>I read and accept</span>
            <a href="#" class="teal-A400-fg">terms and conditions</a>
          </div>
        </div>

        <md-button type="submit" class="md-raised md-accent submit-button" aria-label="CREATE MY ACCOUNT"
                   ng-disabled="registerForm.$invalid || registerForm.$pristine"
                   ng-click="vm.submitRegister()">
          CREATE MY ACCOUNT
        </md-button>
      </form>

      <div class="separator">
        <span class="text">OR</span>
      </div>

      <div layout="column" layout-align="start center">
        <a ng-href="{{vm.gmailLoginUri}}"><img src="images/buttons/btn_google_signin_dark_pressed_web.png"
                                               alt="Sign In with Google"/> </a>
        <a ng-click="vm.facebookLoginUrl();"><img src="images/buttons/btn_facebook.png" alt="Sign In with Facebook"/> </a>

      </div>


      <div class="login" layout="row" layout-sm="column" layout-align="center center">
        <span class="text">Already have an account?</span>
        <a class="link teal-A400-fg" style="cursor:pointer;" ui-sref="app.auth_login">Log in</a>
      </div>
    </div>
  </div>
</div>
