<div layout="row" layout-align="space-between center">
  <div layout="row" layout-align="start center">
    <div layout="row" layout-align="start center">
      <i class="logo sochara" title="Sochara" ui-sref="app.dashboard"></i>
      <div class="toolbar-separator"></div>
      <div class="toolbar-date">
        <span ng-bind=" vm.date | date:'EEEE, d MMMM' "></span>
      </div>


    </div>

    <div class="row" layout-align="start center">
      <div class="search-input po-r">
        <input class="topbar-search ng-valid ng-scope flex ng-touched ng-dirty ng-valid-parse ng-empty fa" type="text"
               placeholder="&#xf002; Search.." flex="" aria-invalid="false" ng-model="globalSearchValue"
               ng-change="vm.globalSearch(globalSearchValue);" autofocus>
        <div class="search-result-global po-a wp-100 md-whiteframe-2dp" ng-if="searchable && showSearchResult">
          <div ms-scroll style="max-height: 200px;">
            <div layout="column" layout-align="stretch">

              <div class="search-item" layout="row" layout-align="space-between center" ng-repeat="item in filteredItem = (items | filter: {name: globalSearchValue} | limitTo:5)" ng-click="goToItem(item.id, item.module, $event)">
                <div class="gs-icon-img pr-10 w-40 text-center">
                  <img ng-if="item.image" class="brad-all" ng-src="{{item.image}}" alt="profile">
                  <md-icon ng-if="item.module==='calendar'" md-font-icon="icon-calendar" class="s24 teal-500-fg"></md-icon>
                </div>
                <div class="gs-content" layout="column" layout-align="stretch" flex>
                  <span class="title text-truncate pr-20" ng-bind="item.name"></span>
                  <!--<span class="user font-weight-300">Darren Dunner</span>-->
                </div>
                <div class="gs-date font-weight-300 ">
                  <span ng-bind=" item.date | date:'EEEE, d MMMM'"></span>
                </div>
              </div>
              <div class="search-item" ng-if="!filteredItem.length">
                <div class="gs-content">Sorry no item found...</div>
              </div>
              <!--<md-divider></md-divider>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div layout="row" layout-align="start center">
    <md-progress-circular id="toolbar-progress" ng-disabled="!$root.loadingProgress" class="md-accent" md-diameter="32">
    </md-progress-circular>
    <md-menu-bar id="nav-menu">
      <md-menu md-position-mode="right bottom" md-offset="90 15">
        <md-button class="user-button" ng-click="$mdMenu.open()">
          <md-icon class="topbar_menu_icon" md-font-icon="icon-apps" aria-label="icon-apps"></md-icon>
          <span ng-if="totalNotificationCount" ng-bind="totalNotificationCount"></span>
        </md-button>
        <md-menu-content id="top-menu" class="top-menu-wrapper">

          <div ng-click="vm.mailInboxPage()" class="menu-item">
            <md-icon md-font-icon="icon-email" aria-label="icon-email" class="menu-icon"></md-icon>
            <span ng-show="notificationCount.mail" class="count" ng-bind="notificationCount.mail"></span>
            <span>Mail</span>
          </div>
          <div ng-click="vm.goToChatModule()" class="menu-item">
            <md-icon md-font-icon="icon-comment-multipe-outline" aria-label="icon-comment-multipe-outline"
                     class="menu-icon"></md-icon>
            <span ng-show="notificationCount.chat" class="count" ng-bind="notificationCount.chat"></span>
            <span>Chat</span>
          </div>
          <div class="menu-item" ng-click="vm.goToCalendarModule()">
            <md-icon md-font-icon="icon-calendar" aria-label="icon-calendar" class="menu-icon"></md-icon>
            <span ng-show="notificationCount.calendar" class="count" ng-bind="notificationCount.calendar"></span>
            <span>Calendar</span>
          </div>
          <!--<div class="menu-item">-->
          <!--<md-icon md-font-icon="icon-google-pages" aria-label="icon-google-pages" class="menu-icon"></md-icon>-->
          <!--<span>Pages</span>-->
          <!--</div>-->
          <div class="menu-item" ng-click="vm.openContactsModule()">
            <md-icon md-font-icon="icon-account-box" aria-label="icon-account-box" class="menu-icon"></md-icon>
            <span>Contacts</span>
            <span ng-show="notificationCount.contacts" class="count" ng-bind="notificationCount.contacts"></span>
          </div>
          <div ng-click="vm.goToFilesModule()" class="menu-item">
            <md-icon md-font-icon="icon-library-books" aria-label="icon-library-books" class="menu-icon"></md-icon>
            <span>Files</span>
          </div>
          <div class="menu-item" ng-click="vm.goToMediaModule()">
            <md-icon md-font-icon="icon-folder-multiple-image" aria-label="icon-folder-multiple-image"
                     class="menu-icon"></md-icon>
            <span>Media</span>
          </div>
          <div class="menu-item" ng-click="vm.goToCardModule()">
            <md-icon md-font-icon="icon-wallet-giftcard" aria-label="icon-wallet-giftcard" class="menu-icon"></md-icon>
            <span>Cards</span>
          </div>
          <div class="menu-item" ng-click="vm.goToPollModule()">
            <md-icon md-font-icon="icon-poll-box" aria-label="icon-poll-box" class="menu-icon"></md-icon>
            <span>Polls</span>
          </div>
          <div class="menu-item" ng-click="vm.openLabelModule()">
            <md-icon md-font-icon="icon-credit-card-multiple" aria-label="icon-credit-card-multiple"
                     class="menu-icon"></md-icon>
            <span>Labels</span>
          </div>

        </md-menu-content>
      </md-menu>
    </md-menu-bar>

    <md-menu-bar id="user-menu">
      <md-menu md-position-mode="left bottom">
        <md-button class="user-button" ng-click="$mdMenu.open()"
                   aria-label="User settings">
          <div layout="row" layout-align="space-between center">
            <div class="avatar-wrapper">
              <img md-menu-align-target class="avatar" ng-class="vm.userStatus.class" aria-label="Open Sochara Menu"
                   ng-src="{{vm.user.photo_url || 'images/avatars/profile.jpg'}}"
                   alt="{{vm.user.first_name}} {{vm.user.last_name}}">
            </div>
          </div>
        </md-button>

        <md-menu-content width="3">
          <md-menu-item class="md-indent" ui-sref="app.profile">
            <md-icon md-font-icon="icon-account" class="icon"></md-icon>
            <md-button ng-click="vm.profilePage()">My Profile</md-button>
          </md-menu-item>

          <!--<md-menu-item class="md-indent" ui-sref="app.mail">-->
          <!--<md-icon md-font-icon="icon-email" class="icon"></md-icon>-->
          <!--<md-button>Inbox</md-button>-->
          <!--</md-menu-item>-->

          <md-menu-item class="md-indent">
            <md-icon md-font-icon ng-class="vm.userStatus.icon"
                     ng-style="{'color': vm.userStatus.color }" class="icon"></md-icon>
            <md-menu id="user-status-menu">
              <md-button ng-click="$mdOpenMenu()" class="status" ng-class="vm.userStatus.class" aria-label="Open Sochara Menu">
                {{vm.userStatus.title}}
              </md-button>
              <md-menu-content width="2">
                <md-menu-item class="status md-indent"
                              ng-class="{'selected': status === vm.userStatus}"
                              ng-repeat="status in vm.userStatusOptions">
                  <md-icon md-font-icon="{{status.icon}}" ng-style="{'color': status.color }"
                           class="icon"></md-icon>
                  <md-button ng-click="vm.setUserStatus(status)">
                    {{status.title}}
                  </md-button>
                </md-menu-item>
              </md-menu-content>
            </md-menu>
          </md-menu-item>

          <md-menu-item class="md-indent">
            <md-icon md-font-icon="icon-cog" class="icon"></md-icon>
            <md-button ng-click="vm.goToGlobalSetting()">Global Settings</md-button>
          </md-menu-item>
          <!--<md-menu-divider></md-menu-divider>-->

          <md-menu-item class="md-indent">
            <md-icon md-font-icon="icon-power-settings" class="icon"></md-icon>
            <md-button ng-click="vm.logout()">Logout</md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </md-menu-bar>

    <!--<div class="toolbar-separator"></div>-->

    <!--<ms-search-bar on-search="vm.search(query)" on-result-click="vm.searchResultClick(item)" debounce="300"></ms-search-bar>-->


    <!--<md-button id="quick-panel-toggle" class="md-icon-button" ng-click="vm.toggleSidenav('quick-panel')"
               aria-label="T
               oggle quick panel">
        <md-icon md-font-icon="icon-menu"></md-icon>
    </md-button>-->
  </div>
</div>
