<!-- SIDENAV HEADER -->
<div class="header" layout="column" layout-align="space-between start">

    <div class="logo" layout="row" layout-align="start center">
        <span class="logo-icon">
            <md-icon md-font-icon="icon-select-all" class="icon"></md-icon>
        </span>
        <span class="logo-text">Mailbox</span>
    </div>

    <div class="account">
        <!--<div class="title"><span ng-bind="vm.user.first_name +' '+ vm.user.last_name"></span></div>-->
        <md-select ng-if="vm.accounts.length" class="account-selection simplified" md-container-class="account-selection" placeholder="Mail Selection"
                   ng-model="vm.selectedAccountID" ng-change="vm.loadMailLabels()">
          <md-option value="0"><strong ng-bind="user.first_name + ' ' + user.last_name"></strong><br>All Inboxes(Including all privider)
          </md-option>
          <md-option ng-repeat="account in vm.accounts" value="{{account.id}}"><strong>{{account.name}}</strong><br>{{account.email}}
            </md-option>
          <div class="manage_mail_account">
            <span class="button add_new" area-label="Add Account" ng-click="vm.addNewAccount()">Add Account</span>
            <span class="button remove" area-label="Remove" ng-click="vm.removeAccount()">Remove</span>
          </div>
        </md-select>
    </div>

</div>
<!-- / SIDENAV HEADER -->

<!-- SIDENAV CONTENT -->
<md-content ms-scroll class="content" flex>

    <div class="compose-button">
        <md-button ng-if="!vm.accounts.length" class="md-accent md-raised" aria-label="compose"
                   ng-click="vm.addNewAccount()">Add Account
        </md-button>
        <md-button ng-if="vm.accounts.length" class="md-accent md-raised" aria-label="compose"
                   ng-click="vm.composeDialog($event)">COMPOSE
        </md-button>
    </div>

    <div class="navigation-simple" layout="column">

      <md-button ng-if="vm.activeProvider != 'account'" class="item" aria-label="inbox" ng-repeat="folder in vm.folders"
                 ng-click="vm.loadFolder(folder.id)"
                 ng-class="{'selected':vm.isFolderActive(folder.id)}">
        <div layout="row" layout-align="start center">
          <md-icon md-font-icon="{{folder.icon}}" class="s16"></md-icon>
          <span class="title">{{folder.name}}</span>
        </div>
      </md-button>

        <md-button ng-if="vm.activeProvider == 'account'" class="item account" aria-label="inbox" ng-repeat="folder in vm.folders | orderBy:['-name']"

                   ng-class="{'selected':vm.isFolderActive(folder.name), 'no-height-child': folder.child && vm.expendSubfolder[folder.id] && vm.subFolders}">
            <div layout="row" layout-align="start center">
                <md-icon md-font-icon="{{folder.icon}}" class="s16" ng-click="vm.loadAccountFolder(folder.id)"></md-icon>
                <span class="title" ng-click="vm.loadAccountFolder(folder.id)">{{folder.name}}</span>
                &nbsp;<md-icon ng-show="folder.child" md-font-icon="icon-chevron-down" ng-click="vm.loadSubfolders(folder.id)"></md-icon>
            </div>
          <div layout="column">
            <md-button ng-if="folder.child && vm.expendSubfolder[folder.id] && vm.subFolders" class="item" aria-label="inbox" ng-repeat="subuFolder in vm.subFolders"
                       ng-click="vm.loadAccountFolder(subuFolder.id)">
              <div layout="row" layout-align="start left">
                <md-icon md-font-icon="{{subuFolder.icon}}" class="s16"></md-icon>
                <span class="title">{{subuFolder.name}}</span>
              </div>
            </md-button>
          </div>

        </md-button>


        <!--<div class="item subheader">Labels</div>-->

        <md-button class="item" ng-repeat="label in vm.labels | orderBy:['name']"
                   ng-click="vm.loadFolder(label.id, true)"
                   ng-class="{'selected':vm.isLabelActive(label.name)}">
            <div layout="row" layout-align="start center">
                <div class="h-10 w-10 mr-16 md-green-600-bg" ng-class="label.color"></div>
                <span class="title">{{label.name}}</span>
            </div>
        </md-button>

    </div>

</md-content>
<!-- / SIDENAV CONTENT -->
