/*calendar start 24*/
.fade-element-in.ng-enter {
  transition: 0.8s linear all;
  opacity: 0;
}

.fade-element-in-init .fade-element-in.ng-enter {
  opacity: 1;
}

.fade-element-in.ng-enter.ng-enter-active {
  opacity: 1;
}

.fade-element-in.ng-leave {
  transition: 0.3s linear all;
  opacity: 1;
}
.fade-element-in.ng-leave.ng-leave-active {
  opacity: 0;
}
.pt-6 {padding-top: 6px; }
#calendar .header{min-height: unset;max-height: unset;height: unset;background-size: cover;background-position: center -70px;background-image: url("../images/backgrounds/header-bg-light.png");padding: 5px 24px;}
#calendar .header .header-content .header-bottom .title{font-size: 24px; color: #000;}
#calendar .header .header-content .header-bottom .cal-view-title md-icon{color: #a1a1a1;}
#calendar .header .logo-icon md-icon { color: #292929 !important; }
#calendar .header .header-content .header-top .logo .logo-text { color: #292929; font-size: 25px; }
#calendar .header-top .checkbox { margin-left: 40px; color: #4b4b4b; }
#calendar .header-top .toolbar .md-button { border: 1px solid #bbb; color: #333; height: auto; padding: 0; margin: 0; float: left; margin-left: -1px; font-size: 12px; text-transform: none; line-height: 2.2;min-height: inherit; min-width: 56px;border-radius: 0;
  background: #f5f5f5;
  background: -moz-linear-gradient(top, #f5f5f5 0%, #f1f1f1 100%);
  background: -webkit-linear-gradient(top, #f5f5f5 0%,#f1f1f1 100%);
  background: linear-gradient(to bottom, #f5f5f5 0%,#f1f1f1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#f1f1f1',GradientType=0 );
}
#calendar .header-top .toolbar .md-button.active{
  background: #dedede;
  background: -moz-linear-gradient(top, #dedede 0%, #e0e0e0 100%);
  background: -webkit-linear-gradient(top, #dedede 0%,#e0e0e0 100%);
  background: linear-gradient(to bottom, #dedede 0%,#e0e0e0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dedede', endColorstr='#e0e0e0',GradientType=0 );
}
#calendar .header:before { background: rgba(0, 0, 0, 0.1); display: none; }
.toolbar-menu{margin-left: 10px;display: inline-block;float: left;}
.toolbar-menu .md-button{min-width: 40px;}
.toolbar-menu .md-button md-icon.icon-cog {
  position: relative;
  left: 7px;
  font-size: 18px;
  width: 20px;
  color: #6b6b6b!important;
  min-height: 20px;
  height: 20px;
  line-height: 1;
}
.toolbar-menu .md-button md-icon.icon-menu-down{position: relative;right: 0;color: #6b6b6b!important; }
.tc-container .tc-header .tc-navigation{position: static!important;}
/*#calendar .header{background-image: none!important;}*/
.h-100 { height: 100%; }
.mh-200 { max-height: 200px; }
.mh-250 { max-height: 250px; }
.mh-300 { max-height: 300px; }
.mh-400 { max-height: 400px; }
.mh-500 { max-height: 500px; }
.dialog-big { min-width: 970px; font-size: 13px; }
.fixed-side-head { min-height: 27px; border-bottom: 1px solid #ddd; }
.cal-dialog-side { min-width: 320px; width: 320px; }
.dialog-sidewrap { padding-right: 30px; padding-left: 10px; margin-right: 20px; margin-top: 20px; }
md-dialog-heading h2 { font-family: Roboto, sans-serif; font-size: 22px; color: #00d6ac; margin: 18px 0;}
.dialog-big md-dialog-content textarea, .dialog-big md-dialog-content input[type=text] { border: 1px solid #ddd; }
.dialog-big md-tab-content { }
.dialog-big md-tabs.config-tabs md-tabs-wrapper { background: none; }
.dialog-big md-tabs.config-tabs .md-tab { background: #9219d6; border-color: #9219d6; color: #fff; font-size: 13px; padding: 0 12px; }
md-dialog-heading, .dialog-big md-dialog-heading { min-height: 76px; max-height: 76px; height: 76px;border-bottom: none;}
.dialog-big md-tabs.config-tabs .md-tab.md-active { background: #fff; border-color: #ddd; color: #000;     border-bottom: 1px solid #fff;}
.dialog-big md-dialog-content { padding: 0; }
.dialog-big md-tabs.config-tabs md-tabs-content-wrapper { padding-left: 5%; padding-right: 30px; padding-top: 20px; }
.dialog-big md-tabs.config-tabs md-pagination-wrapper { padding: 0 5% 0; }
.dialog-bigmd-tabs.md-dynamic-height md-tab-content { padding-left: 10px; }
.dialog-big md-tabs-canvas { height: 26px; }
.md-datepicker-input-container.md-datepicker-focused { border-bottom-width: 1px; border-bottom-color: #ddd; }
.fc-event { background-color: #00d6ac !important; border-color: #00d6ac !important; }
.fc-unthemed .fc-today { background-color: #f1fdfb !important; border-color: #ddd !important; }
.fc-h-event .fc-content { position: relative;}
.fc-h-event .fc-content:after { content: ''; position: absolute; width: 13px; height: 13px; border-radius: 50%; background-color: transparent; right: 5px; top: 2px; box-shadow: 0 0 0 1px #fff; }
.fc-h-event.fc-not-end .fc-content:after,
.fc-h-event.fc-not-end .fc-content:after
{margin-right: 46px;}
.fc-agendaFourDay-view .fc-h-event.fc-not-end .fc-content:after,
.fc-agendaFourDay-view .fc-h-event.fc-not-end .fc-content:after
{margin-right: 0;}
.fc-popover .fc-h-event.fc-not-end .fc-content:after, .fc-popover .fc-h-event.fc-not-end .fc-content:after {margin-right: 0;}
.fc-month-view .fc-h-event.fc-not-end .fc-content:after,
.fc-month-view .fc-h-event.fc-not-end .fc-content:after,
.fc-agendaWeek-view .fc-h-event.fc-not-end .fc-content:after,
.fc-agendaWeek-view .fc-h-event.fc-not-end .fc-content:after
{margin-right: 0;}
.fc-event-container,.fc-event-container.addEndingIcon{padding-right: 0!important;padding-left: 0!important;}
.fc-day-grid-event .fc-content { text-overflow: ellipsis; padding-right: 24px; }
.tc-navigation { padding: 0 10px; }
.eventCalendar { padding: 0 20px; }
.mtp-cal input[type=text] { border: none !important; padding: 0 !important; min-width: 70px !important; width: 70px!important;margin-top: 2px!important;}
.mtp-cal input[type=number]{width: 40px;}
.incl-row-item > * {margin-right: 10px;}
.mtp-cal > div { border: 1px solid #ddd; padding: 2px; max-width: 100px!important;}
.mtp-cal.noicon md-icon { padding-left: 0 !important; float: right !important; }
#includeSignupRepeat .layout-row,#editRepeatSettings .layout-row,#updateRepeatSettings .layout-row{padding-top: 5px!important;padding-bottom: 5px!important;}
#includeSignupRepeat .layout-row.nopad,#editRepeatSettings .layout-row.nopad,#updateRepeatSettings .layout-row.nopad{padding: 0!important;}
.dialog-big .md-datepicker-input-container { border: 1px solid #ddd; padding: 5px; width: 100%;}
.dialog-big textarea { padding: 5px; width: 100%; }
.dialog-big .md-datepicker-input { padding-bottom: 0; min-width: 100%;}
.dialog-big .btn-add-more { color: #00d6ac; }
.md-default-theme .md-datepicker-input-container.md-datepicker-focused, .md-datepicker-input-container.md-datepicker-focused { border-bottom-color: #ddd; }
.pad-child > * { margin-right: 10px; }
.btn-group-2 select, .btn-group-2 input { margin-right: 4px; text-align: center; }
.btn-group-2 .md-button.md-icon-button { padding: 0; height: 28px; line-height: 1; width: 28px; }
.btn-group-3 .md-button.md-icon-button { padding: 0; height: 24px; line-height: 1; width: 24px;font-size: 24px; }
.config-tabs md-tab-content .btn-group-2 .layout-row { padding: 0 0 10px !important; }
.config-tabs md-tab-content .btn-group-2 .layout-row .layout-row { padding: 0 !important; }
.btn-group-2 md-switch { margin: 0; margin-left: 30px; }
.inline > div { margin-bottom: 5px; }
.inline .md-datepicker-input { max-width: 100%; min-width: 80px; text-align: center; }
.inline md-switch{padding-right: 12px;}
input[type=number] { max-width: 100%; min-width: 36px; width: 36px; text-align: center; line-height: 25px;border: 1px solid #ddd;}
.inline md-datepicker{margin-top: 0;margin-left: 10px;}
.cal-list-user .avatar-wrapper .md-button.md-icon-button { padding: 0; margin: 0; position: absolute; bottom: -3px; right: 5px; width: auto; height: auto; min-height: inherit; }
.cal-list-user .avatar-wrapper md-icon { width: auto; height: 16px; line-height: 1; min-width: inherit; max-height: 16px; font-size: 16px; min-height: inherit;background: #fff; }
/*.cal-list-user .avatar-wrapper md-icon.icon-help{color: #fff;}
.cal-list-user .avatar-wrapper md-icon.icon-clock{color: rgb(76, 175, 80);}*/

.cal-list-user .avatar-wrapper { width: 48px; height: 40px; position: relative; }
.cal-list-user .md-select-value{border-bottom-color: transparent!important;}
.cal-user-content { padding-left: 20px; }
.cal-user-content p {
  margin: 0;
  padding-right: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.cal-user-content md-select { margin: 0; }
.cal-list-user .list-item { border: 1px solid #ddd; position: relative; margin-bottom: 6px; padding: 10px; background: #fbfbfb;}
h3 + div.list-item{background: #fff!important;box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);border: none!important;}
.cal-list-user .list-item > .close-btn { position: absolute; right: 0; top: 0; height: 24px; line-height: 1; margin: 0; min-width: inherit; padding: 0; width: 24px;}
.color-select .md-button { padding: 0; width: auto; height: auto; min-height: inherit; margin: 0; }
.color-select .md-button md-icon { font-family: 'icomoon'; font-size: 24px; }
.color-select .md-button:not(.def) md-icon:before { content: "\e705"; }
.color-select .md-button.check md-icon:before { content: "\e709"; }

.c1 md-icon { color: #54edeb !important; }
.c2 md-icon { color: #a4fafc !important; }
.c3 md-icon { color: #46db78 !important; }
.c4 md-icon { color: #81e77a !important; }
.c5 md-icon { color: #9eb749 !important; }
.c6 md-icon { color: #fb675b !important; }
.c7 md-icon { color: #ff7896 !important; }
.c8 md-icon { color: #ff7ccb !important; }
.c9 md-icon { color: #dc21a9 !important; }
.c10 md-icon { color: #adb8ff !important; }
.c11 md-icon { color: #e1e1e1 !important; }

.evnt-c1.fc-h-event .fc-content:after, .bg1, .event-color > button.c1 { background: #54edeb !important; }
.evnt-c2.fc-h-event .fc-content:after, .bg2, .event-color > button.c2 { background: #a4fafc !important; }
.evnt-c3.fc-h-event .fc-content:after, .bg3, .event-color > button.c3 { background: #46db78 !important; }
.evnt-c4.fc-h-event .fc-content:after, .bg4, .event-color > button.c4 { background: #81e77a !important; }
.evnt-c5.fc-h-event .fc-content:after, .bg5, .event-color > button.c5 { background: #9eb749 !important; }
.evnt-c6.fc-h-event .fc-content:after, .bg6, .event-color > button.c6 { background: #fb675b !important; }
.evnt-c7.fc-h-event .fc-content:after, .bg7, .event-color > button.c7 { background: #ff7896 !important; }
.evnt-c8.fc-h-event .fc-content:after, .bg7, .event-color > button.c8 { background: #ff7ccb !important; }
.evnt-c9.fc-h-event .fc-content:after, .bg9, .event-color > button.c9 { background: #dc21a9 !important; }
.evnt-c10.fc-h-event .fc-content:after, .bg10, .event-color > button.c10 { background: #adb8ff !important; }
.evnt-c11.fc-h-event .fc-content:after, .bg11, .event-color > button.c11 { background: #e1e1e1 !important; }
.event-color > button {transform: scale(.8);transform-origin: 0 25px;}
.event-color > button md-icon{ color: #fff!important; }
.cus-switch .layout-row { padding: 0 !important; }
.cus-switch md-switch { margin: 0; }
.include-items md-icon { font-size: 24px; }
.include-items.itemrow input[type=text]{border: 1px solid #ddd;padding: 6px!important;width: 100%;min-width: 100%!important;}
.include-items .layout-row{padding: 3px 0!important;}
.play-circle { font-family: 'icomoon'; }
.play-circle:before { content: "\e9a1"; }
.timepeaker { position: relative; }
.timepop { position: absolute; box-shadow: 0 1px 3px rgba(0, 0, 0, .5); background: #fff; border-radius: 4px; padding: 0 10px; z-index: 999; top: 100%; right: 0; }
.timepop input[type=text],.timepop input[type=number] { max-width: 35px !important; min-width: 35px!important; width: 35px!important; height: 35px; text-align: center; margin: auto; box-shadow: 0 0 10px rgba(0, 0, 0, .3) inset; border:none;}
.timepop.sub-add{padding: 5px!important;}
.timepop.sub-add button{margin-left: 3px; cursor: pointer;}
.calendarSidebar, #calendar .content .eventCalendar #calendarView.fc .fc-month-view { padding: 15px; }
.calendarSidebar .fc-month-view .fc-content-skeleton tbody { display: none; }
.calendarSidebar .fc-basic-view .fc-body .fc-row { min-height: 2em; height: 2.3em !important; }
.calendarSidebar .fc-month-view .fc-scroller > * { height: 100%; }
.calendarSidebar .fc-month-view .fc-ltr .fc-basic-view .fc-day-number {
  text-align: center;
  height: 2em;
  vertical-align: middle;
}
.round { border-radius: 50%; }
.calendarSidebar .fc th { height: 2.3em; vertical-align: middle; text-align: center !important; }
.calendarSidebar .fc td { height: 2em; vertical-align: middle; text-align: center !important; }
#calendar .content .eventCalendar #calendarView.fc .fc-day-grid-event { color: #fff !important; padding-top: 0;padding-bottom: 0;margin-top: 2px;cursor: pointer;}
md-dialog.event-detail-dialog.cal-popup md-dialog-content .event-details .event-detail-row { margin-bottom: 10px; }
md-dialog.event-detail-dialog.cal-popup input, md-dialog.event-detail-dialog.cal-popup textarea { border: 1px solid #ddd; width: 100%; padding: 5px 8px; }
.cal-popup md-dialog-content hr { border-top: 1px solid #ddd; margin-left: -24px; margin-right: -24px; border-bottom: none; }
.cal-popup { font-size: 13px; }
.drop-head { position: relative; top: -20px; }
.drop-head .md-button { padding: 0; margin: 0; margin-left: -6px; }
md-dialog.event-detail-dialog.cal-popup .checkbox { padding-right: 24px; }
md-dialog.event-detail-dialog.cal-popup .checkbox input[type=checkbox] { width: auto; margin-left: 0; }
.checkbox label { padding: 6px 0; white-space: nowrap; }
.drop-head h2 { margin: 6px 0; }
.drop-head .color-popup { position: absolute; }
.color-popup { position: absolute; background: #fff; padding: 5px; box-shadow: 0 0 5px #000; top: 100%; z-index: 999; border: 1px solid #ababab; }
.color-popup .color-select .md-button { margin-left: inherit; }
.color-popup p { margin: 0; }
.nopad { padding: 0 !important; }
.nopad-top { padding-top: 0 !important; }
.nopad-child > * { padding: 0 !important; }

.m-0,.nomargin { margin: 0 !important; }
.color-popup:before { content: ''; width: 0; height: 0; border-left: 5px solid transparent; border-right: 5px solid transparent; border-bottom: 5px solid white; bottom: 100%; position: absolute; filter: drop-shadow(0 -2px 1px rgba(0, 0, 0, .5)); z-index: -1; }
.switch-wrap md-switch { margin: 0; }
.textInputs > * { padding-right: 10px; }
.tc-container .tc-header .tc-navigation button{font-size: 1.3em;}
.tc-container .tc-days, .tc-container .tc-days-name .tc-day-name { border: none !important; }
.tc-container .tc-days .tc-day { position: relative; margin-bottom: 2px;border-radius: 50%;}
.tc-container .tc-days .tc-day.today { background-color: transparent; color: #fff;}
.tc-container .tc-days .tc-day.today:after {position: absolute;height: 24px;width: 24px;left: 0;right: 0;top: 0;background-color: #00d6ac;z-index: 1;content: '';margin: auto;border-radius: 50%;}
.tc-container .tc-days .tc-day.today span{z-index: 9;position: relative;}
.tc-container .tc-days .tc-day:not(.today):hover:after { position: absolute; content: ''; width: 24px; left: 0; height: 24px; background: rgba(0,150,136,.1); right: 0; margin: auto; top: 0; border-radius: 50%; }
.tc-container .tc-days .tc-day:hover{background: none;}
.tc-container { font-size: 12px; }

.fc-day-grid .fc-row .fc-content-skeleton .fc-event-container .fc-day-grid-event.fc-event,
#calendar .content .eventCalendar #calendarView.fc .fc-agendaDay-view .fc-day-grid-event,
#calendar .content .eventCalendar #calendarView.fc .fc-agendaWeek-view .fc-day-grid-event
{position: relative;margin:2px 60px;}

#calendar .content .eventCalendar #calendarView.fc .fc-agendaWeek-view .fc-day-grid-event,
#calendar .content .eventCalendar #calendarView.fc .fc-agendaDay-view .fc-popover .fc-day-grid-event
{margin: 2px 8px;}

.fc-agendaDay-view .fc-row .fc-day-grid-event.fc-event.fc-start.fc-not-end,
.fc-agendaTenDay-view .fc-row .fc-day-grid-event.fc-event.fc-start.fc-not-end,
.fc-agendaFourDay-view .fc-row .fc-day-grid-event.fc-event.fc-start.fc-not-end,
.fc-agendaWeek-view .fc-row .fc-day-grid-event.fc-event.fc-start.fc-not-end{margin-right: 8px!important;}


.fc-agendaDay-view .fc-row .fc-day-grid-event.fc-event.fc-not-start.fc-end,
.fc-agendaTenDay-view .fc-row .fc-day-grid-event.fc-event.fc-not-start.fc-end,
.fc-agendaFourDay-view .fc-row .fc-day-grid-event.fc-event.fc-not-start.fc-end,
.fc-agendaWeek-view .fc-row .fc-day-grid-event.fc-event.fc-not-start.fc-end{margin-left: 8px!important;}

.fc-agendaDay-view .fc-row .fc-day-grid-event.fc-event.fc-not-start.fc-not-end,
.fc-agendaTenDay-view .fc-row .fc-day-grid-event.fc-event.fc-not-start.fc-not-end,
.fc-agendaFourDay-view .fc-row .fc-day-grid-event.fc-event.fc-not-start.fc-not-end,
.fc-agendaWeek-view .fc-row .fc-day-grid-event.fc-event.fc-not-start.fc-not-end
{margin-left: 8px!important;margin-right: 8px!important;}

.fc-agendaTenDay-view .fc-row .fc-day-grid-event.fc-event.fc-not-start .fc-content:after,
.fc-agendaFourDay-view .fc-row .fc-day-grid-event.fc-event.fc-not-start .fc-content:after,
.fc-agendaWeek-view .fc-row .fc-day-grid-event.fc-event.fc-not-start .fc-content:after
{margin-right: 0;}


.fc-agendaTenDay-view .fc-row .fc-day-grid-event.fc-event.fc-not-start .fc-content,
.fc-agendaFourDay-view .fc-row .fc-day-grid-event.fc-event.fc-not-start .fc-content,
.fc-agendaWeek-view .fc-row .fc-day-grid-event.fc-event.fc-not-start .fc-content
{padding-left: 10px;}

.fc-agendaDay-view .fc-row .fc-day-grid-event.fc-event.fc-not-start .fc-content
{padding-left: 46px;}

.fc-agendaDay-view .fc-day-grid .fc-row .fc-day-grid-event.fc-event:after,
.fc-agendaTenDay-view .fc-day-grid .fc-row .fc-day-grid-event.fc-event:after,
.fc-agendaFourDay-view .fc-day-grid .fc-row .fc-day-grid-event.fc-event:after,
.fc-agendaWeek-view .fc-day-grid .fc-row .fc-day-grid-event.fc-event:after
{content: '';width: 0; height: 0;border-top: 8px solid transparent; border-bottom: 8px solid transparent;position: absolute;top: 0;}

.fc-agendaDay-view .fc-day-grid .fc-row .fc-day-grid-event.fc-event:before,
.fc-agendaTenDay-view .fc-day-grid .fc-row .fc-day-grid-event.fc-event:before,
.fc-agendaFourDay-view .fc-day-grid .fc-row .fc-day-grid-event.fc-event:before,
.fc-agendaWeek-view .fc-day-grid .fc-row .fc-day-grid-event.fc-event:before
{content: '';width: 0; height: 0;border-top: 8px solid transparent; border-bottom: 8px solid transparent;position: absolute;top: 0;}

.fc-agendaDay-view .fc-day-grid .fc-row .fc-day-grid-event.fc-event.fc-start.fc-not-end:after,
.fc-agendaFourDay-view .fc-day-grid .fc-row .fc-day-grid-event.fc-event.fc-start.fc-not-end:after,
.fc-agendaTenDay-view .fc-day-grid .fc-row .fc-day-grid-event.fc-event.fc-start.fc-not-end:after,
.fc-agendaWeek-view .fc-day-grid .fc-row .fc-day-grid-event.fc-event.fc-start.fc-not-end:after
{border-left: 8px solid #00d6ac;left: 100%;}

.fc-agendaDay-view .fc-day-grid .fc-row .fc-day-grid-event.fc-event.fc-not-start.fc-not-end:after,
.fc-agendaTenDay-view .fc-day-grid .fc-row .fc-day-grid-event.fc-event.fc-not-start.fc-not-end:after,
.fc-agendaFourDay-view .fc-day-grid .fc-row .fc-day-grid-event.fc-event.fc-not-start.fc-not-end:after,
.fc-agendaWeek-view .fc-day-grid .fc-row .fc-day-grid-event.fc-event.fc-not-start.fc-not-end:after
{border-left: 8px solid #00d6ac;left: 100%;}

.fc-agendaDay-view .fc-day-grid .fc-row .fc-day-grid-event.fc-event.fc-not-start.fc-not-end:before,
.fc-agendaTenDay-view .fc-day-grid .fc-row .fc-day-grid-event.fc-event.fc-not-start.fc-not-end:before,
.fc-agendaFourDay-view .fc-day-grid .fc-row .fc-day-grid-event.fc-event.fc-not-start.fc-not-end:before,
.fc-agendaWeek-view .fc-day-grid .fc-row .fc-day-grid-event.fc-event.fc-not-start.fc-not-end:before
{border-right: 8px solid #00d6ac;right: 100%;}

.fc-agendaDay-view .fc-day-grid .fc-row .fc-day-grid-event.fc-event.fc-not-start.fc-end:before,
.fc-agendaTenDay-view .fc-day-grid .fc-row .fc-day-grid-event.fc-event.fc-not-start.fc-end:before,
.fc-agendaFourDay-view .fc-day-grid .fc-row .fc-day-grid-event.fc-event.fc-not-start.fc-end:before,
.fc-agendaWeek-view .fc-day-grid .fc-row .fc-day-grid-event.fc-event.fc-not-start.fc-end:before
{border-top-width: 8px;border-bottom-width: 8px;border-right: 8px solid #00d6ac;right: 100%;}


.fc-h-event.filter-holiday .fc-content:after{background-color: #FFE57F !important;}
.fc-h-event.filter-birthdayEvent .fc-content:after{background-color: #CE93D8 !important;}
.fc-h-event.filter-organizer.evnt-c1 .fc-content:after{background-color: #54edeb !important;}
.fc-h-event.filter-organizer.evnt-c2 .fc-content:after{background-color: #a4fafc !important;}
.fc-h-event.filter-organizer.evnt-c3 .fc-content:after{background-color: #46db78 !important;}
.fc-h-event.filter-organizer.evnt-c4 .fc-content:after{background-color: #81e77a !important;}
.fc-h-event.filter-organizer.evnt-c5 .fc-content:after{background-color: #9eb749 !important;}
.fc-h-event.filter-organizer.evnt-c6 .fc-content:after{background-color: #fb675b !important;}
.fc-h-event.filter-organizer.evnt-c7 .fc-content:after{background-color: #ff7896 !important;}
.fc-h-event.filter-organizer.evnt-c8 .fc-content:after{background-color: #ff7ccb !important;}
.fc-h-event.filter-organizer.evnt-c9 .fc-content:after{background-color: #dc21a9 !important;}
.fc-h-event.filter-organizer.evnt-c10 .fc-content:after{background-color: #adb8ff !important;}
.fc-h-event.filter-organizer.evnt-c11 .fc-content:after{background-color: #e1e1e1 !important;}
.fc-h-event.filter-volunteer.evnt-c1 .fc-content:after{background-color: #54edeb !important;}
.fc-h-event.filter-volunteer.evnt-c2 .fc-content:after{background-color: #a4fafc !important;}
.fc-h-event.filter-volunteer.evnt-c3 .fc-content:after{background-color: #46db78 !important;}
.fc-h-event.filter-volunteer.evnt-c4 .fc-content:after{background-color: #81e77a !important;}
.fc-h-event.filter-volunteer.evnt-c5 .fc-content:after{background-color: #9eb749 !important;}
.fc-h-event.filter-volunteer.evnt-c6 .fc-content:after{background-color: #fb675b !important;}
.fc-h-event.filter-volunteer.evnt-c7 .fc-content:after{background-color: #ff7896 !important;}
.fc-h-event.filter-volunteer.evnt-c8 .fc-content:after{background-color: #ff7ccb !important;}
.fc-h-event.filter-volunteer.evnt-c9 .fc-content:after{background-color: #dc21a9 !important;}
.fc-h-event.filter-volunteer.evnt-c10 .fc-content:after{background-color: #adb8ff !important;}
.fc-h-event.filter-volunteer.evnt-c11 .fc-content:after{background-color: #e1e1e1 !important;}
.fc-h-event.filter-coordinator.evnt-c1 .fc-content:after{background-color: #54edeb !important;}
.fc-h-event.filter-coordinator.evnt-c2 .fc-content:after{background-color: #a4fafc !important;}
.fc-h-event.filter-coordinator.evnt-c3 .fc-content:after{background-color: #46db78 !important;}
.fc-h-event.filter-coordinator.evnt-c4 .fc-content:after{background-color: #81e77a !important;}
.fc-h-event.filter-coordinator.evnt-c5 .fc-content:after{background-color: #9eb749 !important;}
.fc-h-event.filter-coordinator.evnt-c6 .fc-content:after{background-color: #fb675b !important;}
.fc-h-event.filter-coordinator.evnt-c7 .fc-content:after{background-color: #ff7896 !important;}
.fc-h-event.filter-coordinator.evnt-c8 .fc-content:after{background-color: #ff7ccb !important;}
.fc-h-event.filter-coordinator.evnt-c9 .fc-content:after{background-color: #dc21a9 !important;}
.fc-h-event.filter-coordinator.evnt-c10 .fc-content:after{background-color: #adb8ff !important;}
.fc-h-event.filter-coordinator.evnt-c11 .fc-content:after{background-color: #e1e1e1 !important;}

/*.fc-time-grid .fc-event, .fc-time-grid .fc-bgevent{width: calc(100% - 10px);margin: 0 15px;}
.fc-agendaWeek-view .fc-time-grid .fc-event, .fc-time-grid .fc-bgevent{width: calc(100% - 10px);margin: 0 auto;}*/
.fc-time-grid-event .fc-time, .fc-time-grid-event .fc-title{display: inline-block;padding: 3px;color: #fff;font-size: 14px;}


.signupJobColor {
  width: 170px;
  height: auto;
  text-align: center;
}

.jquery-modal.blocker.current {
  z-index: 99;
}

md-tab-content {
  min-height: 400px;
}


#calendar .content #calendarView.fc .fc-agenda-view > table > tbody > tr > td.fc-widget-content{
  border-top: 1px solid #ddd;border-right: 1px solid #ddd;
}
.basic-layout input:not([type='submit']){padding: 5px;border: 1px solid #ddd;margin-bottom: 5px;}
.custom-datepicker input:not([type='submit']){padding: 5px;border: none;margin-top: 2px;}
.btn-group-cal-head md-menu-item > * {
  vertical-align: middle;
  margin: 0;
}
#calendar a.fc-more{color: #000;font-size: 13px;}
#calendar .header-top md-checkbox {margin-bottom: 0;}
#calendar .header-top md-checkbox .md-container{top: 0;transform: scale(.7);}
#calendar .header-top md-checkbox .md-label{margin-left: 27px;color: #4b4b4b;font-weight: 300;}
#calendar .header-top md-checkbox .md-icon{border-color: #979797;}
#calendar .header-top md-checkbox.md-checked .md-icon{background-color: #979797;}

.header-bottom .toolbar  .md-button{background-color: #69e5d0!important;width: 45px;height: 34px;line-height: 1;min-width: 45px;border-radius: 3px;margin-right: 0;}
.header-bottom .toolbar  .md-button md-icon{color: #fff;}
.add-event-button md-icon{margin: 0;}
.add-event-button {border-radius: 3px!important;padding: 7px;min-height:inherit;line-height: 1;}
.add-event-button span.ng-scope:not(.separate){padding-left: 10px;padding-right: 10px;}
.add-event-button span.separate{
  margin-left: -2px;
  height: 28px;
  width: 1px;
  background: #7a15b5;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
}
#calendarView .fc-basic-view .fc-body .fc-row {height: 16.66%!important;min-height: 16.66%;}

#calendarView .fc-month-view > table,
.fc-month-view,
.fc-month-view td.fc-widget-content,
.fc-month-view td.fc-widget-content .fc-day-grid-container,
.fc-month-view td.fc-widget-content .fc-day-grid-container .fc-day-grid,
.fc-view-container {height: 100%;}
#calendarView .fc-view:not(.fc-month-view){margin-top: 20px;}

.fc-agendaFourDay-view .fc-row.fc-widget-header,
.fc-agendaDay-view .fc-row.fc-widget-header,
.fc-agendaWeek-view .fc-row.fc-widget-header
{}/*{border-top: 1px solid #ddd!important;border-right: 1px solid #ddd!important;margin-right: -1px;}*/
.fc-agendaTenDay-view .fc-row.fc-widget-header:first-child table,
.fc-agendaFourDay-view .fc-row.fc-widget-header:first-child table,
.fc-agendaDay-view .fc-row.fc-widget-header:first-child table,
.fc-agendaWeek-view .fc-row.fc-widget-header:first-child table
{border-top: 1px;border-right: 1px;}


md-autocomplete md-autocomplete-wrap.md-whiteframe-z1{box-shadow: none;height: 32px;}
md-autocomplete md-autocomplete-wrap.md-whiteframe-z1 input[type=search]{border: 1px solid #ddd;height: 32px;line-height: 32px;}
.md-autocomplete-suggestions li{height: 40px;line-height: 40px;}


.ra-tl-bl{border-top-left-radius: 3px!important;border-bottom-left-radius: 3px!important;}
.ra-tr-br{border-top-right-radius: 3px!important;border-bottom-right-radius: 3px!important;}
.ra-all{border-radius: 3px!important;}


mdp-time-picker.calendar_style .md-button.md-icon-button {
  display: none;
}
mdp-time-picker.calendar_style{
  padding-right: 0;
  font-size: 14px;
  border: none;
}
mdp-time-picker.calendar_style:hover {
  padding-right: 0;
}
mdp-time-picker.calendar_style .layout-row{
  padding: 1px!important;
  border: 1px solid #ddd;
}
mdp-time-picker md-input-container.md-icon-float, mdp-time-picker md-input-container.md-icon-float input.md-input{
  width: 100%;
  margin: 0!important;
}
.event-form-dialog input[type=radio]{vertical-align: top;}
.event_details_popover h3{font-size: 20px;}
.event_details_popover > .sm-button.md-button {margin-top: 6px;}
/*#calendar .content{position: relative;}*/
#eventDetailsPopover{position: absolute;z-index: 9999;background: #fff;box-shadow: 0 10px 30px -5px;}
.close-btn{position: absolute;top: 0;right: 0;}

#eventDetailsPopover.bottom:before{top: 100%;bottom: initial;filter: drop-shadow(0px 3px 2px #666);border-top: 16px solid #fff;border-bottom: transparent;}
#eventDetailsPopover.left:before{right: auto;left: 10px;}
#eventDetailsPopover.right:before{right: 10px;left: auto;}
.event_details_popover{width: 520px;}

.event-color .color-select{position: absolute;background: #fff;padding: 3px 5px;box-shadow: 0 0 5px #333;height: inherit;margin: 5px 0 0;min-width: 285px;z-index: 999;}
.event-color .color-select p{margin: 0;}
.event-color .color-select:before{position: absolute;z-index: 9999;content: '';width: 0;height: 0;left: 7px;bottom: 100%;border-bottom: 5px solid #fff;border-left: 5px solid transparent;border-right: 5px solid transparent;filter: drop-shadow(0px -2px 2px #666);}

.event-color.colors-right .color-select{right: 5px;}
.event-color.colors-right .color-select:before{left: unset;right: 7px;}
.official-schedule-signup .p-7 {line-height: 1;}
.pover-content .event-color{ position: relative;}
.pover-content input{vertical-align: top;}
.pover-content textarea{resize: none;}
.pover-content .inplike {border: 1px solid #ddd;padding: 2px 5px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.pover-content input,.pover-content select{border: 1px solid #ddd;}

.pover-content .pop-content span,.pover-content .pop-content select{color: rgba(0,0,0,.54);}
.pover-content h4 {margin: 0;}
.pover-content, .pover-content h4 {font-size: 13px;}
.pover-content .pop-content input[type=number]{line-height: 20px;}
.pover-content .remember-me input[type=number]{line-height: 21px;}
.pover-content .pop-content .layout-row{padding: 5px 0;}
.pover-content .pop-content select {padding: 3px;}

.cal_w_num {display: block;font-size: 65px;font-weight: 300;margin-left: -6px;}
.fc-axis.fc-widget-content{text-transform: capitalize;}
.btn-area-bottom .md-button {font-size: 13px;padding: 0 14px;}

.today span.cal_w_num { color: #00d6ac; }

.fc-h-event.filter-holiday .fc-content:after{background-color: #FFE57F !important;}
.fc-h-event .fc-content:after{background-color: #CE93D8 !important;}
a.fc-day-grid-event.fc-h-event.fc-event{border: none 0;}
.calendarSidebar { width: 255px; }
.md-toolbar-head{padding-left: 24px;}
.md-toolbar-head h2 {margin: 10px 0;}
.md-toolbar-head .md-button {margin-right: 0;}

.popover-style md-dialog-content { padding-top: 0!important;}
.popover-style md-toolbar{background-color: transparent!important;color: #333!important;}
.popover-style md-toolbar md-icon{color: #333!important;}
.video-player-head{background-color: transparent;position: absolute;right: 0;top: 0;z-index: 999;}
.video-player-head .sm-button{margin: 0;}
.video-player-head .sm-button md-icon{color: #fff;filter: drop-shadow(0 0 2px #000);font-size: 14px;}

.avail-status.online img{box-shadow: 0 0 0 2px green;}
.avail-status.nodisturb img{box-shadow: 0 0 0 2px orange;}
.avail-status.offline img{box-shadow: 0 0 0 2px red;}

.fc-popover .fc-widget-content {height: auto!important;}
/*calendar end 24*/

/** by Robin **/
.weatherInfo img {
  height: 35px;
}

.weatherInfo {
  padding-left: 25px;
}

.weatherInfo .weather_degree {
  margin-left: -3px;
  margin-top: 8px;
  display: inline-block;
  font-size: 13px;
}

#calendar .content #calendarView.fc .fc-widget-content .fc-day-grid-container .fc-day-grid .fc-day-number{
  font-size: 16px;
}
/** by Robin **/
