/*cards start*/
#cards > .header {
  height: 76px;
  min-height: 76px;
  max-height: 76px;
}
.tab-fields label.label {
  font-weight: bold;
}

.custom-datepicker {
  border: 1px solid #c0c0c0;
}
.custom-datepicker .md-datepicker-input-container input {
  padding: 3px;
  width: 75px;
  min-width: inherit;
  text-align: center;
}
.custom-datepicker .md-datepicker-input-container {
  float: left;
  margin-left: 0;
  padding-bottom: 0;
  border-bottom: 0;
}
.custom-datepicker .md-button.md-icon-button {
  height: auto;
  width: auto;
  line-height: 1;
  min-height: inherit;
  max-height: inherit;
  background: #efefef;
  border-radius: 0;
  border-left: 1px solid #c0c0c0;
}
.response img {
  margin-right: 0;
}
.response div {
  position: relative;
  margin-right: 10px;
}
.response div:after {
  position: absolute;
  z-index: 99;
  font-family: FontAwesome;
  transition: all .3s;
  filter: drop-shadow(0 0 1px #fff) drop-shadow(0 0 0 #fff) drop-shadow(0 0 0 #fff) drop-shadow(0 0 1px #fff);
}
.response p span.yes {
  color: #00c853;
}
.response div:after {
  font-size: 18px;
  bottom: -1px;
  right: -1px;
  line-height: 1;
}
.response div.yes:after {
  content: "\f00c";
  color: #00c853;
}
.response div.no:after {
  content: "\f057";
  color: #ff0030;
}
.response p span.no {
  color: #ff0030;
}
.response div.notsure:after {
  content: "\f059";
  color: #ff6d00;
}
.response p span.notsure {
  color: #ff6d00;
}

.response div.select:after{
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 30px;
  top: 0;
  right: 0;
  bottom: 0;
  line-height: 40px;
}


.config-tabs md-tab-content .layout-row {
  padding: 10px 0;
}
md-tabs.cards-tabs .card-wrap {
  position: relative;
}
md-tabs.cards-tabs .card-wrap .card-avatar {
  position: absolute;
  right: 10px;
  top: 10px;
}
md-tabs.cards-tabs .card-img {
  background: #f3f3f3;
  min-height: 250px;
}
md-tabs.cards-tabs .card-info {
  padding-top: 0;
  padding-bottom: 0;
  cursor: pointer;
}
.create-label {
  border: 2px dotted #e7e7e7;
  margin-bottom: 20px;
  margin-right: 10px;
}
.card-row .card-wrap {
  margin-right: 10px;
}
.card-row > div {margin-bottom: 20px;}
.cp-card {
  border: 1px solid #e8e8e8;
  margin: 8px;
  min-height: 483px;
}
.cropArea {
  background: #E4E4E4;
  overflow: hidden;
  width: 300px;
  height: 200px;
}
.text_editor {
  border: none;
  background: #ddd;
  color: #000;
  cursor: text;
}
.cards-tabs .tab-content-wrap .card-info h3 {
  cursor: pointer;
}
/* October 21, 2017 */
ul.contact-selection {
  max-height: 200px;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  top: 100%;
  z-index: 99;
  background: #fff;
  border: 1px solid #ddd;
  border-bottom: none;
  box-shadow: 0 1px 10px -5px #000;
}
ul.contact-selection li {
  list-style-type: none;
  border-bottom: 1px solid lightgray;
}
ul.contact-selection li a {
  display: block;
  padding: 5px 10px;
  cursor: pointer;
  color: #333 !important;
  text-decoration: none;
}
/*cards end*/
