/*chat start*/

#chat-app .top-bg {
  background-color: #ffffff;
  color: #292929;
}
#chat-app .md-toolbar-tools-top {
  background-color: #00D6AC;
  color: #ffffff;
  height: 97px;
  max-height: 97px;
}
#chat-app .mode-title,
#chat-app .mode-details {
  display: block;
}
#chat-app .mode-title {
  font-size: 19px;
}
#chat-app .mode-details {
  font-size: 15px;
}
#chat-app .md-toolbar-tools-top .avatar {
  width: 55px;
  height: 55px;
}
#chat-app .avatar-wrapper .avatar.online,
#user-menu .avatar-wrapper .avatar.online {
  border: 3px solid #4CAF50;
}
#chat-app .avatar-wrapper .avatar.away,
#user-menu .avatar-wrapper .avatar.away {
  border: 3px solid #FFC107;
}
#chat-app .avatar-wrapper .avatar.do-not-disturb,
#user-menu .avatar-wrapper .avatar.do-not-disturb {
  border: 3px solid #F44336;
}
#chat-app .avatar-wrapper .avatar.invisible,
#user-menu .avatar-wrapper .avatar.invisible {
  border: 3px solid #BDBDBD;
}
#chat-app .avatar-wrapper .avatar.offline,
#user-menu .avatar-wrapper .avatar.offline {
  border: 3px solid #616161;
}
#chat-app .icon-hangouts {
  color: #00D6AC;
}
#chat-app .unread-message-count {
  background-color: #00D6AC;
}
#chat-app .tab-wrapper ul.tab {
  height: 15px;
  font-size: 14px;
  margin-top: 25px;
  padding-left: 10px;
  padding-top: 3px;
}
#chat-app .tab-wrapper ul.tab li.tab-title {
  border: 1px solid transparent;
  padding: 3px 25px;
  border-bottom: none;
  margin-right: 10px;
  background-color: #00D6AC;
  color: #ffffff;
  cursor: pointer;
}
#chat-app .tab-wrapper ul.tab li.tab-title.active {
  border-color: lightgray;
  background-color: #ffffff;
  color: #333333;
}
#chat-app .left-sidenav .chats-view md-toolbar .md-toolbar-tools-bottom {
  height: 55px;
  background-color: #ffffff;
}
#chat-app .left-sidenav .chats-view md-toolbar .md-toolbar-tools-bottom-2 {
  height: 41px;
  background-color: #ffffff;
}
#chat-app .chats-view md-toolbar.md-tall {
  height: 191px;
  min-height: 191px;
  max-height: 191px;
}
#chat-app md-toolbar.md-default-theme:not(.md-menu-toolbar).md-accent,
#chat-app md-toolbar:not(.md-menu-toolbar).md-accent {
  background-color: #00D6AC;
}
#chat-app .md-button.md-default-theme.md-fab,
.md-button.md-fab {
  background-color: #00D6AC;
}
#chat-app .insert_emo .sochara-icon.smile {
  background-color: transparent;
  background-image: url(../images/icons/smile.png);
  display: block;
  background-repeat: no-repeat;
}
#chat-app button.insert_emo {
  width: 24px;
  min-width: 41px;
}
#chat-app button.insert_emo:hover {
  background: none;
}
#chat-app .insert_emo .sochara-icon.smile {
  background-color: transparent;
  background-image: url(../images/icons/smile.png);
  display: block;
  background-repeat: no-repeat;
}
#chat-app .chat_emo .emo-wrapper {
  width: 385px;
  height: 320px;
  background: #ffffff;
  position: fixed;
  right: 81px;
  bottom: 73px;
  border: 1px solid #cfcfcf;
  -webkit-box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.1);
  display: inline-block;
  margin: 0 6px 0 6px;
  padding: 4px 0;
  z-index: 9999;
}
#chat-app .chat_emo .aA4 {
  border: solid lightgray;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  height: 12px;
  position: fixed;
  bottom: 67px;
  width: 12px;
  right: 116px;
  z-index: 9999;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  background-color: #ffffff;
}
#chat-app .chat_emo .emo-wrapper .emo-toolbar {
  width: 100%;
  display: inline-block;
  height: 54px;
  background: #fdfdfd;
  padding: 4px 0;
  border-bottom: 1px solid #8c8686;
}
#chat-app .chat_emo .emo-wrapper .emo-toolbar .emo_section.active {
  background-color: #8c8686;
  color: #ffffff;
  position: relative;
}
#chat-app .chat_emo .emo-wrapper .emo-toolbar .emo_section.active::after {
  content: "\A";
  border: solid #8c8686;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  height: 10px;
  position: absolute;
  width: 10px;
  z-index: 9999;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  left: 14px;
  top: 41px;
  background-color: #ffffff;
}
#chat-app .chat_emo .emo-wrapper .emo-toolbar .emo_section {
  float: left;
  width: 43px !important;
  display: inline-block;
  font-size: 26px !important;
  text-align: center;
  padding: 6px;
  height: 38px;
  border: 1px solid transparent;
  margin: 2px;
  border-radius: 3px;
  cursor: pointer;
  margin-left: 6px;
}
#chat-app .chat_emo .emo-wrapper .emo-toolbar input.emo-search {
  width: 95px;
  float: left;
  padding: 5px;
  margin: 3px;
  background-image: url(../images/icons/searchicon.png);
  background-position: 71px 6px;
  background-repeat: no-repeat;
  box-shadow: none;
  border: 1px solid lightgray;
}
#chat-app .chat_emo .emo-wrapper .emoticon-content {
  overflow-x: auto;
  display: block;
  height: 255px;
  padding: 5px;
  background-color: #ffffff;
}
#chat-app .chat_emo .emo-wrapper .emoticon-content span.emo {
  padding: 3px 6px;
  border: 2px solid transparent;
  margin: 0;
  display: inline-block;
}
#chat-app .chat_emo [role="button"] {
  cursor: pointer;
}
#chat-app .emoticon-content .sticker {
  width: 95px;
  height: 95px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  float: left;
  border: 1px solid lightgray;
  margin: 5px;
  border-radius: 4px;
}
#chat-app img.imoji_2x {
  image-rendering: -webkit-optimize-contrast;
  width: 40px;
}
#chat-app p.last-message img.imoji_2x {
  width: 20px;
}
#chat-app .chat-list .contact.active .md-button {
  background-color: rgba(158, 158, 158, 0.2);
}
.md-chips md-chip {
  padding: 0 28px 0 0;
}
.md-chip-text-avatar {
  padding: 0 14px;
  display: inline-block;
  background-color: lightgray;
  border-radius: 16px;
  margin: 0px;
}
#chat-app .recipient_contact {
  position: absolute;
  width: 320px;
  font-size: 12px;
  background-color: #ffffff;
  top: 72px;
  z-index: 99999;
  cursor: default;
}
.recipient_contact .contact_heading {
  background-color: #00d6ac;
  color: #ffffff;
  height: 95px;
  width: 100%;
}
.contact_heading .photo {
  padding: 10px 3px 2px 10px;
  float: left;
}
.contact_heading .p_detail {
  padding-top: 12px;
}
.contact_heading .p_detail .name {
  font-size: 16px;
  font-weight: 500;
}
.contact_heading .p_detail .email {
  font-size: 12px;
  font-weight: 300;
}
.contact_heading .p_footer {
  clear: both;
  float: left;
  width: 100%;
}
.contact_heading .p_footer md-icon {
  float: right;
  color: #ffffff !important;
  margin-right: 11px;
}
.details_part {
  width: 100%;
  float: left;
}
.details_part ul.detail,
.details_part ul {
  padding: 6px 12px;
  margin: 0;
  width: 100%;
  float: left;
}
.details_part ul.detail li {
  list-style-type: none;
  clear: both;
  float: left;
  width: 100%;
}
.details_part ul.detail li .key {
  clear: both;
  float: left;
  width: 37%;
  font-weight: 500;
  text-transform: uppercase;
  color: lightgray;
}
#chat-app .center{
  margin: 0 5%;
  max-width: inherit;
}
#chat-app .center .content-card .chat .chat-toolbar .chat-contact {
  cursor: default;
}
#chat-app .chat-contact .avatar-wrapper,
#chat-app .chat-contact .chat-contact-name {
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}
.details_part ul.detail li .value {
  float: left;
  width: 60%;
  padding: 2px;
  line-height: 18px;
}
.details_part ul.detail li {
  list-style-type: none;
  clear: both;
  float: left;
  width: 100%;
  padding: 8px 0;
  border-bottom: 1px solid lightgray;
}
#chat-app .add_group_popup {
  width: 395px;
  height: 335px;
  position: absolute;
  top: 65px;
  right: 19px;
}
#addGroupPopup md-list.contacts {
  height: 237px;
  overflow-y: auto;
}
#addGroupPopup md-chips.md-default-theme .md-chips.md-focused,
#addGroupPopup md-chips .md-chips.md-focused {
  box-shadow: 0 1px rgba(0, 0, 0, 0.12);
}
#addGroupPopup md-content.md-default-theme,
#addGroupPopup md-content,
#addGroupPopup md-list {
  margin: 0;
  padding: 0;
}
#addGroupPopup md-content.group_popup_footer {
  width: 100%;
  padding: 6px 10px;
  background-color: lightgray;
  float: left;
}
#addGroupPopup .group_popup_footer .cancel,
#addGroupPopup .group_popup_footer .creat_group {
  border-radius: 5px;
  font-size: 14px;
  text-transform: capitalize;
  border: 1px solid transparent;
  font-weight: 400;
}
#addGroupPopup .group_popup_footer .cancel {
  background-color: lightgray;
  border-color: #ffffff;
  float: left;
}
#addGroupPopup .group_popup_footer .creat_group {
  background-color: #9c1ae6;
  float: right;
  color: #ffffff;
}
#addGroupPopup md-list {
  z-index: 99999;
}
#chat-app .center .content-card .chat .chat-toolbar {
  background-color: #ffffff;
}
.chat-contact .participation {
  display: block;
  font-size: 14px;
}
.chat-contact .participation .arrow {
  width: 24px;
  height: 20px;
  display: inline-block;
  background-repeat: no-repeat;
  float: left;
}
.chat-contact .participation .arrow.left-right {
  background-image: url("../images/icons/ic_keyboard_arrow_right.png");
}
.chat-contact .participation .member_count {
  display: inline-block;
  float: left;
  padding-top: 3px;
}
.chat .chat-toolbar .md-toolbar-tools {
  height: 85px;
  max-height: 85px;
}
.chat-contact .participation .arrow.top-down {
  background-image: url("../images/icons/ic_keyboard_arrow_down.png");
}
.chat-contact .avatar-wrapper.group md-icon {
  color: #ffffff !important;
}
.chat-contact .avatar-wrapper.group {
  margin-right: 5px;
  border: 1px solid transparent;
  background-color: #02a787;
  padding: 7px;
  border-radius: 50%;
}
.chat .chat-toolbar .md-toolbar-tools.chat_group_contact {
  font-size: 14px;
  height: 35px;
  max-height: 35px;
  border: 1px solid lightgray;
  border-left: none;
  border-right: none;
}
.chat .chat-toolbar .md-toolbar-tools.chat_group_contact ul.contact_name {
  padding: 0;
  margin: 0;
}
.md-toolbar-tools.chat_group_contact ul.contact_name li {
  list-style-type: none;
  display: block;
  background-color: #c8fdf3;
  border-radius: 11px;
  float: left;
  padding: 2px 6px;
  margin: 0 3px;
  cursor: pointer;
}
.md-toolbar-tools.chat_group_contact ul.contact_name li i.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: block;
  float: left;
  min-width: 3px;
  min-height: 3px;
  margin-top: 3px;
  margin-right: 3px;
}
.md-toolbar-tools.chat_group_contact ul.contact_name li i.dot.online {
  background-color: #4CAF50;
}
.md-toolbar-tools.chat_group_contact ul.contact_name li i.dot.away {
  background-color: #FFC107;
}
.md-toolbar-tools.chat_group_contact ul.contact_name li i.dot.do-not-disturb {
  background-color: #F44336;
}
.md-toolbar-tools.chat_group_contact ul.contact_name li i.dot.invisible {
  background-color: #BDBDBD;
}
.md-toolbar-tools.chat_group_contact ul.contact_name li i.dot.offline {
  background-color: #616161;
}
#chat-app .recipient_contact.group {
  top: 117px;
}
.recipient_contact:before {
  content: "\A";
  border-style: solid;
  border-width: 0px 8px 8px 8px;
  border-color: transparent transparent #00d6ac transparent;
  position: absolute;
  left: 19px;
  top: -8px;
}

div#chat-create {
  position: absolute;
  left: calc(100% - 22%);
  bottom: calc(100% - 91%);
  z-index: 999;
}

/*chat end*/
