/*colorPicker start*/

.sp-replacer {
  border: 1px solid #ddd;
  background-color: transparent;

}
.sp-replacer:before {
  font-size: 19px;
  display: none;
}
.sp-container {
  background-color: #ffffff;
  border-color: lightgray;
}
.sp-preview {
  width: 20px;
  height: 20px;
  border: solid 1px transparent;
  border-radius: 50%;
}
.sp-preview-inner {
  border-radius: 50%;
  border-color: transparent;
}
.sp-dd {
  padding: 1px 0;
  line-height: 14px;
  font-size: 8px;
}
.sp-palette .sp-thumb-el {
  width: 18px;
  height: 18px;
  margin: 3px 2px;
  border-radius: 50%;
}
.sp-palette .sp-thumb-inner {
  border-radius: 50%;
}
/*colorPicker end*/
