/*common start 8*/

.md-chip-input-container{
  width:100%;
}
.tt-capital{text-transform: capitalize;}
.va-bottom input{vertical-align: bottom;}
md-dialog.ame-lightbox{border-top: none!important;}
.p-5{padding: 5px;}
.p-7{padding: 7px;}
.lh-1{line-height: 1!important;}
.lh-2{line-height: 2!important;}
.fs-15{font-size: 15px;}
.fs-17{font-size: 17px;}
.small-font input, .small-font textarea, .small-font form, .small-font{font-size: 13px;}
.po-r{position: relative;}
.small-font .fs-15{font-size: 15px!important;}
.small-font .fs-17{font-size: 17px!important;}
md-toolbar.md-default-theme.md-hue-2:not(.md-menu-toolbar).md-accent, md-toolbar.md-hue-2:not(.md-menu-toolbar).md-accent{background: #00d6ac;}
.noresize{resize: none;}
md-switch.md-default-theme.md-checked .md-thumb, md-switch.md-checked .md-thumb{
  background-color: rgb(0,214,172);
}
md-switch.md-default-theme.md-checked .md-bar, md-switch.md-checked .md-bar{
  background-color: rgba(0,214,172,.5);
}
.ps-container > .ps-scrollbar-y-rail{z-index: 999;}
md-dialog md-dialog-content{padding: 24px 35px;}
input[class^='input-border']{border: 1px solid #ddd!important;padding: 5px!important;}
[class^='input-border'] md-autocomplete-wrap > input[type="search"] {border: 1px solid #ddd!important;padding: 5px!important;height: auto;line-height: 1;}
.input-border-full .md-chips .md-chip-input-container{width: 100%;}
[class^='input-border'] .md-chips {padding: 0;box-shadow: none;}

.input-border-full{width: 100%;}
.line-h-1{line-height: 1;}
.line-h-2{line-height: 2;}
.line-h-1.md-button{padding: 5px 10px;}
.line-h-2.md-button{padding: 5px 10px;}
.dialog-wrap{max-width: 100%;width: 665px;}
.md-button{text-transform: none;}
.nobr br{display: none;}
.no-mar-child * {margin: 0!important;}
md-input-container,md-list-item { margin: 0!important; }
.btn-area .md-button{margin: 0;}
.dnone{display: none!important;}
.mar-l-10{margin-left: 10px!important;}
.mar-r-10{margin-right: 10px!important;}
.dialog-medium{max-width: 665px;width: 665px;}
.dialog-medium .md-toolbar-tools span.title{font-size: 25px;font-weight: 500;}
.pad-r-10{padding-right: 16px;padding-bottom: 16px;}
.icomon {font-family: icomoon, Helvetica Neue, Helvetica, Arial, sans-serif;}
[md-theme="default"] a.c-black, .c-black{color: #000!important;}
.space-child-right-10> *{margin-right: 10px;}
.eclipse{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;padding-right: 10px;}
.w-1000{width: 100%;max-width: 100%;min-width: 100%;}
.w-170{width: 170px;max-width: 100%;min-width: 170px;}
.w-200{width: 200px;max-width: 100%;min-width: 200px;}
.w-400{width: 400px;max-width: 100%;min-width: 400px;}
.miw-100{min-width: 120px;width: 120px;}
.miw-160{min-width: 160px;width: 160px;}
.miw-180{min-width: 180px;width: 180px;}
md-radio-button.md-default-theme .md-on, md-radio-button .md-on{background-color: #00d6ac;}
md-radio-button.md-default-theme.md-checked .md-off, md-radio-button.md-checked .md-off{border-color: #00d6ac;}
.padb-10{padding-bottom: 10px;}
.mar-top-16{margin-top: -16px;}
.accent-green{color:#00d6ac;}
md-checkbox.md-default-theme.md-checked.accent-green .md-icon, md-checkbox.md-checked .md-icon{background-color:#00d6ac;}
md-select{margin: 0;}
.bold{font-weight: bold}
.input-1{min-width: 50px;width: 50px;}
.gray-color md-progress-circular.md-default-theme.md-accent path, md-progress-circular.md-accent path{
  stroke: rgb(3,155,229);
}
.editor-wrap{background: #f4f4f4; padding: 20px;}
.space-left{padding-left: 20px;}
hr{border: 1px solid #ddd;border-bottom: none;}
.row-nopad .layout-row{padding-bottom: 0!important;padding-top: 0!important;}
.xs-button{width: 16px;height: 16px;min-height: 16px;line-height: 1;padding: 0;}/*for icon btn*/
.sm-button.md-button.md-icon-button{font-size: 24px;width: 24px;height: 24px;min-height: 24px;line-height: 1;padding: 0;}/*for icon btn*/
.mid-button{width: auto;height: 24px;min-height: 24px;line-height: 1;}/*for icon btn*/
.big-button{width: auto;height: 30px;min-height: 30px;line-height: 1;}/*for icon btn*/
/*for small heading */
.sm-head > .header {
  height: 106px!important;
  min-height: 106px!important;
  max-height: 106px!important;
}
.btn-gr-left .md-button {
  margin-left: 0;
}
/*to remove space left aligned btn*/
.btn-gr-right .md-button {
  margin-right: 0;
}
/*for regular btn*/
/*search-wrap */
.search-wrap {
  border: 1px solid #ddd;
  padding: 0!important;
}
.search-wrap input[type=text] {
  border: none;
  padding: 5px 10px;
}
.search-wrap .md-button {
  margin: 0;
}
/*item-thumb*/
.item-thumb {
  position: relative;
}
.item-thumb .item-avatar {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 9;
}
.item-thumb .item-avatar .avatar {
  max-width: 34px;
  min-width: 34px;
  max-height: 34px;
  height: 34px;
  border: 3px solid transparent;
  margin: 0;
}
.item-thumb .item-avatar.online .avatar {
  border-color: #4caf50;
}
.item-thumb .item-avatar.offline .avatar {
  border-color: #616161;
}
.item-thumb .item-avatar.away .avatar {
  border-color: #ffc107;
}
.item-thumb .item-avatar.nodisturb .avatar {
  border-color: #f44336;
}
md-switch {
  margin-top: 0;
  margin-bottom: 0;
  margin: 0;
}
mdp-time-picker .md-button.md-icon-button {
  margin: 0!important;
  padding: 0;
  width: 24px;
  height: 24px;
  min-height: 24px;
  line-height: 1;
  order: 2;
  position: absolute;
  right: 3px;
}
mdp-time-picker md-input-container.md-icon-float {
  margin: 0;
  padding: 0;
}
mdp-time-picker md-input-container.md-icon-float input.md-input {
  border: none;
  max-height: 20px;
  text-align: center;
}
mdp-time-picker md-input-container .md-errors-spacer {
  display: none;
}
mdp-time-picker.nopad-row .layout-row {
  padding: 0!important;
}
mdp-time-picker .layout-row {
  align-items: center;
  margin-top: 0;
}
mdp-time-picker {
  border: 1px solid #ddd;
  padding-right: 3px;
  position: relative;
  transition: all .3s;
}
mdp-time-picker:hover {
  padding-right: 24px;
}
hr {
  border-color: #ddd;
}
/*common end*/

/** by Robin **/
.avatar-wrapper .avatar.offline {
  border: 3px solid #616161;
}

.avatar-wrapper .avatar.invisible {
  border: 3px solid #BDBDBD;
}

.avatar-wrapper .avatar.do-not-disturb {
  border: 3px solid #F44336;
}

.avatar-wrapper .avatar.away {
  border: 3px solid #FFC107;
}

.avatar-wrapper .avatar.online {
  border: 3px solid #4CAF50;
}
/** by Robin **/
