/*contacts start 9*/
.faws {
  font-family: "FontAwesome", "Roboto", "Helvetica Neue", "Arial", sans-serif;
}
#contacts > .header md-icon {color: #00d6ac;}
.contacts-wrap {
  margin: 24px 5%;
  background: #f9f9f9;
  height: 100%;
}
.contacts-wrap .content > * {
  margin-right: 0;
  padding-right: 0;
}
.contacts-wrap .content md-list {
  padding: 0;
}
.contacts-wrap .content md-sidenav {
  min-width: 260px !important;
}
.contacts-wrap .content .contact-item {
  transform: none !important;
  border-bottom: 1px solid #e0e0e0;
}
.contacts-wrap .content .contact-item .md-list-item-inner.away img.md-avatar,
.contacts-wrap .content .contact-item .md-list-item-inner img.md-avatar.away {
  box-shadow: 0 0 0 2px #FF8C00;
}
.contacts-wrap .content .contact-item .md-list-item-inner.online img.md-avatar,
.contacts-wrap .content .contact-item .md-list-item-inner img.md-avatar.online {
  box-shadow: 0 0 0 2px green;
}
.contacts-wrap .content .contact-item .md-list-item-inner img.md-avatar,
.contacts-wrap .content .contact-item .md-list-item-inner.nodisturb img.md-avatar,
.contacts-wrap .content .contact-item .md-list-item-inner img.md-avatar.nodisturb {
  box-shadow: 0 0 0 2px #F00;
}
.contacts-wrap .content .contact-item .md-list-item-inner .email {
  color: #00d6ac;
}
.contacts-wrap .searchinput input {
  display: block;
  border: 1px solid #eaeaea;
  padding: 15px;
  width: 100%;
  border-radius: 4px;
}
.contacts-wrap .md-toolbar-tools {
  height: auto;
  max-height: none;
}
.contacts-wrap .md-toolbar-tools.md-toolbar-tools-middle {
  padding: 28px 20px 0;
}
.contacts-wrap .md-toolbar-tools.md-toolbar-tools-bottom {
  padding-right: 0;
  margin-top: -16px;
}
.contacts-wrap md-toolbar.md-default-theme:not(.md-menu-toolbar).md-accent,
.contacts-wrap md-toolbar:not(.md-menu-toolbar).md-accent {
  background-color: #00d6ac;
  border: 1px solid #00d6ac;
}
.contacts-wrap .contact-info h3 {
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.contacts-wrap .contact-info small {
  font-size: 16px;
}
.contacts-wrap .avatar.big {
  width: 80px;
  height: 80px;
  margin-right: 18px;
}
#contacts {
  background: #fff;
}
.contacts-wrap .profile-detail {
  background-color: #fff;
}
.contacts-wrap .profile-detail md-dialog-actions {
  background-color: #f4f4f4;
  padding: 14px;
}
.contacts-wrap .profile-detail md-dialog-actions .md-button {
  line-height: 28px;
}
.contacts-wrap .profile-detail .profile-info {
  padding: 20px;
}
.contacts-wrap .profile-detail .profile-info md-divider {
  margin: 8px 0;
}
.contacts-wrap .profile-detail .profile-info p,
.contacts-wrap .profile-detail .profile-info strong {
  display: block;
  line-height: 1;
  margin: 0;
  line-height: 25px;
  font-family: Roboto, sans-serif;
  font-size: 13px;
}
.contacts-wrap .profile-detail .profile-info strong {
  color: #bbb;
  text-transform: uppercase;
  font-weight: 500;
}
.contacts-wrap .profile-detail .profile-info a md-icon {
  font-size: 18px;
}
.contacts-wrap .profile-detail .profile-info a,
.contacts-wrap .profile-detail .profile-info a md-icon {
  color: #00d6ac!important;
}
.contacts-wrap .sidenav .header .md-button {
  width: 90%;
}
.page-layout.simple.left-sidenav .contacts-wrap .sidenav {
  padding: 0;
}
.contacts-wrap .md-subheader {
  background: none;
}
.contact-search-list{position: relative;}
.contact-content{height: 100%;}
.contact-search-list .contacts-list{position: absolute;height: 100%; width: 100%;top: 0;padding: 0;}
.contact-item-wrap{position: absolute!important;width: 100%;height: calc(100% - 120px)}
.contacts-list {
  height: 100%;position: relative;
}
.contacts-list .md-avatar.online {
  border: 3px solid green !important;
}

.contacts-list .md-avatar.away {
  border: 3px solid #FFC107 !important;
}

.contacts-list .md-avatar.offline {
  border: 3px solid grey !important;;
}

.contacts-list .do-not-disturb {
  border: 3px solid red !important;;
}

.profile-detail .md-avatar.online {
  border: 3px solid green !important;
}

.profile-detail .md-avatar.away {
  border: 3px solid #FFC107 !important;
}

.profile-detail .md-avatar.offline {
  border: 3px solid grey !important;;
}

.profile-detail .do-not-disturb {
  border: 3px solid red !important;;
}
.new-group label{margin-bottom: 14px;}
md-list-item.selected-contact .md-button {
  background: #fdf0c4;
  z-index: -1;
}
.contacts-list md-list-item .md-list-item-inner > p{flex: 1 1 100%;}
.contacts-wrap .content .contact-item.selected-contact-preview:after{content: '';height: 100%;width: 15px; background: #7dfde4;position: absolute;left: 0;top: 0;}
#contacts .main-sidenav md-list md-list-item.selected .md-button{
  background-color: rgba(158,158,158,0.2);
}
.sidenav.main-sidenav md-list-item .md-list-item-inner p{white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.contacts-list .md-subheader .md-subheader-inner{padding-bottom: 0;border-bottom: 1px solid #ddd;}

.manage-group {font-size: 14px;}
.manage-group .group-row {color: #000;}
.manage-group .group-row button {padding: 5px;margin-right: 20px;color: #00d6ac;}
.manage-group [aria-checked="false"] span{color: #000;}
.manage-group [aria-checked="true"] span{color: #00d6ac;}

/*contacts end 9*/

/* by Robin */
.md-subheader-content .list-title.sochara_contact {
  padding: 15px 0;
}
/* by Robin */
