/* start contacts */
.faws {
  font-family: "FontAwesome", "Roboto", "Helvetica Neue", "Arial", sans-serif;
}

.faws { font-family: "FontAwesome", "Roboto", "Helvetica Neue", "Arial", sans-serif; }

.contacts-wrap { margin: 24px 5%; background: #f9f9f9; }

.contacts-wrap .content > * { margin-right: 0; padding-right: 0; }

.contacts-wrap .content md-list { padding: 0; max-height: 450px; }

.contacts-wrap .content md-sidenav { min-width: 260px !important; }

.contacts-wrap .content .contact-item { transform: none !important; border-bottom: 1px solid #e0e0e0; }

.contacts-wrap .content .contact-item .md-list-item-inner .email { color: #00d6ac; }

.contacts-wrap md-list-item .md-avatar { border: 3px solid #fff }

.contacts-wrap md-list-item .md-avatar.online { border: 3px solid #4caf50 }

.contacts-wrap .searchinput input { display: block; border: 1px solid #eaeaea; padding: 15px; width: 100%; border-radius: 4px; }

.contacts-wrap .md-toolbar-tools { height: auto; max-height: none; }

.contacts-wrap .md-toolbar-tools.md-toolbar-tools-middle { padding: 28px 20px 0; }

.contacts-wrap .md-toolbar-tools.md-toolbar-tools-bottom { padding-right: 0; margin-top: -16px; }

.contacts-wrap md-toolbar.md-default-theme:not(.md-menu-toolbar).md-accent,
.contacts-wrap md-toolbar:not(.md-menu-toolbar).md-accent { background-color: #00d6ac; }

.contacts-wrap .contact-info h3 { font-size: 20px; font-weight: bold; line-height: 1 }

.contacts-wrap .contact-info small { font-size: 16px; }

.contacts-wrap .avatar.big { width: 80px; height: 80px; margin-right: 18px; }

#contacts { background: #fff; }

.contacts-wrap .profile-detail { background-color: #fff; }

.contacts-wrap .profile-detail .md-accent { color: #00d6ac; }

.contacts-wrap .profile-detail md-dialog-actions { background-color: #f4f4f4; padding: 14px; }

.contacts-wrap .profile-detail md-dialog-actions .md-button { line-height: 28px; }

.contacts-wrap .profile-detail .profile-info { padding: 20px; }

.contacts-wrap .profile-detail .profile-info md-divider { margin: 8px 0; }

.contacts-wrap .profile-detail .profile-info p, .contacts-wrap .profile-detail .profile-info strong { display: block; line-height: 1; margin: 8px 0; font-size: 13px; }

.contacts-wrap .profile-detail .profile-info strong { color: #bbb; text-transform: uppercase; font-weight: bold; }

.contacts-wrap .profile-detail .profile-info a md-icon { font-size: 18px; }

.contacts-wrap .profile-detail .profile-info a, .contacts-wrap .profile-detail .profile-info a md-icon { color: #00d6ac !important; }

.contacts-wrap .sidenav .header .md-button { width: 90%; }

.contacts-wrap .profile-detail .profile-info { max-height: 450px; }

.page-layout.simple.left-sidenav .contacts-wrap .sidenav { padding: 0; }

.contacts-wrap .md-subheader { background: none; }

.profile-icon, .btn-area { width: 90px; }

.btn-area .md-button { margin: 0; }

.dialog-wrap md-input-container { margin: 0; }

.dialog-wrap .md-accent,
.dialog-wrap .btn-area .icon-plus-circle { color: #00d6ac; }

md-dialog.compose-dialog md-dialog-content { }

md-dialog.compose-dialog-2 { max-width: 665px; width: 665px; }

md-dialog.compose-dialog-2 [dialog-btn] { max-width: 100px; width: 100px; }

md-dialog.compose-dialog-2 md-dialog-content { padding-top: 24px; }

/*import-export*/
.import-export .inline-btn .icon-button, .import-export .inline-btn .md-button { border: 1px solid #ddd; padding: 15px; display: inline-block; text-align: center; }

.inline-btn .md-button { margin: 0; margin-right: 10px; }

.inline-btn .md-button img { margin-right: 25px; vertical-align: middle; }

.inline-btn .md-button:last-child { margin-right: 0; }

.inline-btn md-dialog md-dialog-heading { border-bottom: none; }

.inline-btn md-dialog md-dialog-content { padding-top: 0; }

.import-export md-tab-content { padding-bottom: 10px; }

.import-export .md-tab { padding: 5px 20px; border: 1px solid #ddd; border-bottom: none; line-height: 1; margin-right: 10px; }

.import-export md-tabs-canvas, .import-export md-pagination-wrapper { height: 24px; }

.import-export .inline-btn label .icon-button img { margin-right: 20px; }

.import-export .inline-btn label .icon-button { margin-right: 20px; }

.import-export .inline-btn label:last-child .icon-button { margin-right: 0; }

.contact-list { border: 1px solid #ddd; max-height: 230px; padding: 10px; }

.action-buttons .md-button { margin: 0; margin-right: 10px; line-height: 1; padding: 8px 26px; border: 1px solid #dedede; border-radius: 3px; }

.new-group { margin-top: -30px !important; }

.new-group input { width: 100%; border: 1px solid #c0c0c0 !important; padding: 5px 10px !important; }

.new-group p { margin-bottom: 8px; }

.new-group p strong { margin-bottom: 8px; display: inline-block; }

.action-buttons { margin-top: 20px; }

.manage-group .md-menu { cursor: pointer; font-weight: bold; }

.manage-group .md-button { margin: 0; margin-bottom: 16px; padding: 0 20px; }

.manage-group .btn-span { padding: 5px 0; cursor: pointer; }

.manage-group .btn-span span { margin-right: 20px; display: inline-block; }

.manage-group span.act { color: #00d6ac; }

.header .selected-contacts-count,
.header md-checkbox,
.header md-input-container { margin: 0; margin-right: 16px; }

.header .md-button md-icon { color: #6a6a6a !important; }

.header .logo-icon md-icon { color: #00d6ac !important; }

/* end contacts */
