/**********
 * COLORS
 *********/
/*custom start*/
@white: #FFFFFF;
@green: #9EC03B;
@orange: #F48744;
@blue: #189ECA;
@gray: #777574;
@lightGray: #ececec;
@black: #1C1C1C;
@darkBlue: #106E8D;
@darkGray: #4A4A4A;   // paragraphs
@red: #D16565; // error
/*custom start*/

.jumbotron {
  text-align: center;
}
.jumbotron h2 {
  font-size: 1.5em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: gray;
}
.form-signin {
  max-width: 30%;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  margin-top: 20px;
  background-color: #ececec;
  border: 1px solid #9EC03B;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
.form-signin h2 {
  text-align: center;
  margin-top: 0px;
}
.form-signin input[type="text"],
.form-signin input[type="email"],
.form-signin input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}
.alert {
  max-width: 30%;
  margin: 0 auto 20px;
}
.delete-button {
  cursor: pointer;
}

/*custom end*/
