
/*dashboard start*/
.dash-content .chat-tab .main .contact .unread-message-count {
  position: absolute;
  left: 16px;
  bottom: 16px;
  width: 18px;
  height: 18px;
  z-index: 10;
  border-radius: 50%;
  text-align: center;
  line-height: 18px;
  font-size: 11px;
}
.dash-content {
  padding: 0 40px;
}
.dash-content md-card-content.pad {
  padding: 0 10px;
}
.title-msg {
  max-width: 730px;
  font-size: 50px;
  font-weight: 300;
  margin: 50px 0 90px;
  color: #6d6d6d;
}
.title-msg .md-button{
  text-transform: none;
  font-weight: 400;
  border-radius: 4px;
  border-top-left-radius: 0;
}
.dash-right-tab {
  width: 100%;
  height: 100%;
}
.dash-right-tab md-tabs-canvas {
  height: 80px;
}
.dash-right-tab md-pagination-wrapper {
  width: 100%;
  height: 80px;
}
.dash-right-tab md-pagination-wrapper md-tab-item {
  flex: 1 1 100%;
  box-shadow: -1px -1px 0 #f5f5f5 inset;
  line-height: 60px;
}
.dash-row .dash-tabs {
  flex: 0 0 336px;
}
.btn-violate {
  text-transform: none;
  border: 1px solid #9c1ae6;
  background: #9c1ae6;
  background: -moz-linear-gradient(top, #9c1ae6 0%, #8718c7 100%);
  background: -webkit-linear-gradient(top, #9c1ae6 0%,#8718c7 100%);
  background: linear-gradient(to bottom, #9c1ae6 0%,#8718c7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9c1ae6', endColorstr='#8718c7',GradientType=0 );
  color: #fff !important;
  border-radius: 2px;
  transition: all .3s;
}
.btn-violate:hover {
  background: #8718c7;
  background: -moz-linear-gradient(top, #8718c7 0%, #9c1ae6 100%);
  background: -webkit-linear-gradient(top, #8718c7 0%,#9c1ae6 100%);
  background: linear-gradient(to bottom, #8718c7 0%,#9c1ae6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8718c7', endColorstr='#9c1ae6',GradientType=0 );
}
.btn-basic {
  text-transform: capitalize;
  border: 1px solid #ddd;
  line-height: 1;
  background: #f5f5f5;
  border-radius: 2px;
  background: -moz-linear-gradient(top, #f5f5f5 0%, #f1f1f1 100%);
  background: -webkit-linear-gradient(top, #f5f5f5 0%, #f1f1f1 100%);
  background: linear-gradient(to bottom, #f5f5f5 0%, #f1f1f1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#f1f1f1', GradientType=0);
}
.btn-violate md-icon {
  color: #fff !important;
}
.dash-tabs md-list {
  padding: 0;
}
.dash-tabs .tab-email md-list-item .md-avatar {
  width: 54px;
  height: 54px;
}
.dash-tabs md-list-item {
  padding: 10px 16px;
  border-bottom: 1px solid #f5f5f5;
}
.dash-tabs md-list-item small,
.dash-tabs md-list-item p {
  font-size: 14px;
  color: #747474;
}
.dash-tabs md-list-item small {
  line-height: 1.3;
}
.dash-tabs md-list-item p {
  line-height: 1.3 !important;
}
.dash-tabs md-list-item h3 {
  font-weight: 500;
}
.dash-tabs md-list-item {
  padding: 0;
}
.dash-tabs md-list-item.md-clickable {
  padding: 0;
}
.dash-tabs md-input-container textarea.md-input {
  overflow: hidden;
}
.sfocused {
  overflow: visible;
  background: white;
  padding: 0 20px !important;
  z-index: 99;
}
.sfocused figure {
  display: block;
  position: relative;
}
.white {
  background: #fff;
}
md-grid-list md-grid-tile {
  background-color: #fff;
  overflow: hidden;
}
/*dash-tabs*/
.img-group {
  margin: 10px 16px 10px 0;
  text-align: center;
  position: relative;
  line-height: 1.3;
  width: 54px;
  min-width: 54px;
}
.img-group md-icon.status-icon {
  min-width: 18px;
  min-height: 18px;
  width: 18px;
  height: 18px;
  position: absolute;
  right: 0;
  top: 40px;
  box-shadow: 0 0 0 2px #fff;
  border-radius: 100%;
  background: #fff;
}
.dash-right-tab md-pagination-wrapper md-tab-item md-icon {
  position: relative;
}
.dash-right-tab md-pagination-wrapper md-tab-item md-icon span.icon-number {
  position: absolute;
  font-size: 9px;
  background: #f55043;
  color: #fff;
  font-weight: bold;
  padding: 3px;
  border-radius: 100px;
  min-width: 15px;
  top: -10px;
  left: 50%;
  box-shadow: 0 0 0 2px #fff;
}
.dash-right-tab md-pagination-wrapper md-tab-item md-icon span.icon-number:empty {
  display: none;
}
.dash-right-tab md-tabs.md-default-theme md-icon {
  color: #a3a3a3;
}
.dash-right-tab md-tabs.md-default-theme .md-tab.md-active md-icon {
  background: none;
  color: #921ad7;
}
/*dash-tabs*/
.dash-tabs md-content {
  height: 700px;
}
.dash-tabs md-content md-tabs {
  height: 100%;
}
.dash-tabs md-content md-tabs md-tabs-wrapper .md-tab {
  max-width: none !important;
}
.dash-tabs md-content md-tabs md-tabs-content-wrapper md-tab-content {
  height: 100%;
  overflow: hidden;
}
.dash-tabs md-content md-tabs md-tabs-content-wrapper md-tab-content > div {
  overflow: hidden;
  height: 100%;
}
.dash-tabs .activity-tab .friends .friend {
  position: relative;
}
.dash-tabs .activity-tab .friends .friend .status {
  position: absolute;
  top: 8px;
  left: 44px;
  width: 18px;
  height: 18px;
  z-index: 10;
  border-radius: 50%;
  border: 3px solid #FFFFFF;
}
.dash-tabs .activity-tab .friends .friend .status.online {
  background-color: #00C853;
}
.dash-tabs .activity-tab .friends .friend .status.offline {
  background-color: #D50000;
}
.dash-tabs .activity-tab .friends .friend .status.away {
  background-color: #FF6D00;
}
.dash-tabs .activity-tab .friends .friend .unread-message-count {
  position: absolute;
  left: 16px;
  bottom: 16px;
  width: 18px;
  height: 18px;
  z-index: 10;
  border-radius: 50%;
  text-align: center;
  line-height: 18px;
  font-size: 11px;
}
.dash-tabs .activity-tab .servers .server .status {
  margin: 24px 20px 28px 8px;
}
.dash-tabs .activity-tab .servers .server .status.normal {
  color: #00C853;
}
.dash-tabs .activity-tab .servers .server .status.warn {
  color: #D50000;
}
.dash-tabs .activity-tab .servers .server .status.error {
  color: #FF6D00;
}
.dash-tabs .activity-tab .stat md-progress-linear.normal .md-bar {
  background-color: #00C853;
}
.dash-tabs .activity-tab .stat md-progress-linear.normal .md-container {
  background-color: rgba(0, 200, 83, 0.3);
}
.dash-tabs .activity-tab .stat md-progress-linear.warn .md-bar {
  background-color: #FF6D00;
}
.dash-tabs .activity-tab .stat md-progress-linear.warn .md-container {
  background-color: rgba(255, 109, 0, 0.3);
}
.dash-tabs .activity-tab .stat md-progress-linear.alert .md-bar {
  background-color: #D50000;
}
.dash-tabs .activity-tab .stat md-progress-linear.alert .md-container {
  background-color: rgba(213, 0, 0, 0.3);
}
.dash-tabs .chat-tab .main,
.dash-tabs .chat-tab .chat {
  /*position: absolute;*/
  width: 100%;
  top: 0;
  bottom: 0;
}
.dash-tabs .chat-tab .main .contact {
  position: relative;
}
.dash-tabs .chat-tab .main .contact .status {
  position: absolute;
  top: 8px;
  left: 44px;
  width: 18px;
  height: 18px;
  border: 3px solid #FFFFFF;
  border-radius: 50%;
  z-index: 10;
}
.dash-tabs .chat-tab .main .contact .status.online {
  background-color: #00C853;
}
.dash-tabs .chat-tab .main .contact .status.offline {
  background-color: #D50000;
}
.dash-tabs .chat-tab .main .contact .status.away {
  background-color: #FF6D00;
}
.dash-tabs .chat-tab .main .contact .unread-message-count {
  position: absolute;
  left: 16px;
  bottom: 16px;
  width: 18px;
  height: 18px;
  z-index: 10;
  border-radius: 50%;
  text-align: center;
  line-height: 18px;
  font-size: 11px;
}
.dash-tabs .chat-tab .main .recent .contact .status {
  top: 18px;
}
.dash-tabs .chat-tab .chat {
  max-height: 100%;
  overflow: hidden;
}
.dash-tabs .chat-tab .chat .message-row .bubble {
  position: relative;
  padding: 8px;
  background-color: #eceff1;
  border: 1px solid #dcdfe1;
}
.dash-tabs .chat-tab .chat .message-row .bubble:after,
.dash-tabs .chat-tab .chat .message-row .bubble:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
}
.dash-tabs .chat-tab .chat .message-row .bubble:after {
  left: -7px;
  right: auto;
  top: 0px;
  bottom: auto;
  border: 11px solid;
  border-color: #eceff1 transparent transparent transparent;
}
.dash-tabs .chat-tab .chat .message-row .bubble:before {
  left: -9px;
  right: auto;
  top: -1px;
  bottom: auto;
  border: 8px solid;
  border-color: #dcdfe1 transparent transparent transparent;
}
.dash-tabs .chat-tab .chat .message-row .bubble .time {
  font-size: 11px;
  margin-top: 8px;
}
.dash-tabs .chat-tab .chat .message-row.contact .avatar {
  margin: 0 16px 0 0;
}
.dash-tabs .chat-tab .chat .message-row.user {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.dash-tabs .chat-tab .chat .message-row.user .avatar {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  margin: 0 0 0 16px;
}
.dash-tabs .chat-tab .chat .message-row.user .bubble {
  background-color: #E8F5E9;
  border: 1px solid #DFEBE0;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}
.dash-tabs .chat-tab .chat .message-row.user .bubble:after {
  right: -7px;
  left: auto;
  top: auto;
  bottom: 0px;
  border-color: transparent transparent #E8F5E9 transparent;
}
.dash-tabs .chat-tab .chat .message-row.user .bubble:before {
  right: -9px;
  left: auto;
  top: auto;
  bottom: -1px;
  border-color: transparent transparent #DFEBE0 transparent;
}
.dash-tabs .chat-tab .chat .reply {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}
.dash-tabs .chat-tab .chat .reply textarea {
  margin: 8px;
  resize: none;
  height: 80px;
  padding: 8px 16px 8px 8px;
}
/*new post*/
.dashboard-posts .searchinput{}
.emoji-wysiwyg-editor{margin-left: 10px;border: none;resize: none;line-height: 23px;}
.searchinput md-card-content {
  padding-left: 20px!important;padding-right: 20px!important;
}
.searchinput .md-button.md-fab {
  width: 36px;
  height: 36px;
  background-color: #eeeeee;
  box-shadow: none;
}
.searchinput .md-button.md-fab:not([disabled]):hover {
  background-color: #c0c0c0;
}
.searchinput .md-button.md-fab md-icon {
  color: #757575;
  font-size: 20px;
}
.searchinput input::placeholder {
  color: #c0c0c0;
}
.searchinput input {
  font-size: 16px;
}
/*new post*/
/*grid style*/
.dash-content md-grid-tile-footer {
  height: auto;
}
.dash-content md-grid-tile-footer .md-avatar {
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 10px;
  width: 45px;
  border-radius: 50%;
  box-sizing: content-box;
}
.dash-content md-grid-list md-grid-tile md-grid-tile-header figcaption{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dash-content md-grid-list md-grid-tile md-grid-tile-header figcaption img{
  max-width: none;
  max-height: 100%;
  min-height: 100%;
}
.dash-content md-grid-list md-grid-tile md-grid-tile-header {
  height: calc(100% - 110px);
}
.dash-content md-grid-list md-grid-tile md-grid-tile-footer {
  padding: 12px 20px;
  background: #fff;
}
.dash-content md-grid-list md-grid-tile md-grid-tile-footer h3,
.dash-content md-grid-list md-grid-tile md-grid-tile-footer h5 {
  margin: 0;
  line-height: 1.2;
  color: #747474;
}
.dash-content md-grid-list md-grid-tile md-grid-tile-footer h3 {
  font-size: 16px;
}
.dash-content md-grid-list md-grid-tile md-grid-tile-footer h5 {
  font-size: 10px;
}
.dash-content md-grid-list md-grid-tile:hover {
  overflow: visible;
}
/*.dash-content md-grid-list md-grid-tile md-grid-tile-header:hover { z-index: 9; height: auto !important; }*/
.card-msg {
  color: #aeaeae;
}
.card-msg a {
  color: #00d6ac !important;
}
.card-msg .post-text {
  font-size: 14px;
  margin: 10px 0;
  word-wrap: break-word;
}
.card-msg md-icon {
  color: #00d6ac !important;
  margin-right: 10px;
}
.card-msg .social span {
  text-transform: uppercase;
}
.social-share {
  position: absolute;
  z-index: 9999;
  top: 16px;
  right: 8px;
}
.social-share ul {
  list-style: none;
  padding: 0;
  display: none;
}
.dash-content md-grid-tile * {
  transition: all .3s;
}
.dash-content md-grid-list md-grid-tile:not(.searchinput):hover {
  z-index: 9;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
}
.dash-content md-grid-list md-grid-tile:not(.searchinput):hover md-grid-tile-header {
  height: calc(100% - 109px)!important;
  position: relative;
  z-index: -1;
}
.dash-content md-grid-list md-grid-tile:not(.searchinput):hover md-grid-tile-footer {
  position: relative;
}
.dash-content md-grid-list md-grid-tile:not(.searchinput):hover figure {
  display: block;
}
.social-share ul li a {
  padding: 9px;
  display: block;
  background-color: #fff;
}
.social-share ul ul {
  margin-top: 4px;
  display: none;
}
.social-share ul li:hover ul {
  display: block;
}
.social-share ul ul li a {
  background-color: #41e4a9;
}
.social-share ul ul li a:hover {
  background-color: #7cf1c6;
}
/*grid style*/
/*media query for dashboard*/
@media all and (max-width: 767px) {
  .dash-tabs md-content md-tabs md-tabs-content-wrapper md-tab-content {
    display: none;
  }
  .dash-row .dash-tabs {
    flex: none;
  }
}
/* fluid 3 columns */

.grid-sizer,
.grid-item { width: 25%;}
/* 2 columns wide */
.grid-item-width2 { width: 50%; }

.dashboard-item {overflow: hidden;padding-right: 15px;padding-bottom: 20px;}
.dash-item-user {padding: 20px;}
.dash-item-content {padding: 20px 20px 0;}
.dash-item-user h3,.dash-item-user p{margin: 0;}

.dash-item-source {padding: 20px 20px 0;}
.dash-item-source md-icon {margin-right: 10px;}
.dash-item-source md-icon, .dash-item-content a{color: #00b692!important;}


/*.grid-item{max-width: 200px;width: 200px;}*/
/*.dasb-masonry-grid, .dasb-masonry-grid .grid{position: relative;}*
.dasb-masonry-grid .grid { margin-right: -15px;}
.grid{counter-reset: grid-item;background: red;}
.grid-item {float: left;padding-right: 15px; padding-bottom: 15px;}
.grid-b {
  width: 600px;
}
.grid-s {
  width: 300px;
}
/**/
/*dashboard end*/
