/*files start*/
.small-tab .layout-row{padding: 10px 0;}
.small-tab md-tabs-content-wrapper{border-top: none;}
.small-tab .md-button{line-height: 1.8;}
.small-tab input{border: 1px solid #ddd!important;}
.pad-lr-40{padding-left: 40px;padding-right: 40px;}
.purple-tab.small-tab md-tabs-wrapper{padding-left: 40px;padding-right: 40px;border-bottom: 1px solid #ddd;}
.purple-tab.small-tab md-tabs-wrapper .md-tab{border-bottom: 1px solid #ddd;text-transform: none;border: 1px solid #9219d6;background: #9219d6;color: #fff;margin-right: 7px;padding: 5px 32px;line-height: 1;}
.purple-tab.small-tab md-tabs-wrapper .md-tab.md-active{border: 1px solid #ddd;border-bottom: 1px solid #fff;color: #000!important;background: #fff;}
.purple-tab.small-tab md-tabs-wrapper md-tabs-canvas {margin-bottom: -1px;height: 24px;}
.purple-tab.small-tab md-tabs-wrapper md-tabs-canvas md-pagination-wrapper{border-bottom: none;height: 24px;}
.purple-tab.small-tab md-tab-content {padding-left: 40px;padding-right: 40px;}
md-dialog.upload-dialog.dialog-medium md-toolbar .md-toolbar-tools{padding-bottom: 0;border-bottom: none;padding-left: 40px;padding-right: 40px;min-height:inherit;}
md-dialog.upload-dialog.dialog-medium md-toolbar .md-toolbar-tools .md-button{line-height: 1;}
md-dialog.upload-dialog.dialog-medium md-toolbar .md-toolbar-tools .md-button md-icon{color: #000;}
md-dialog.upload-dialog.dialog-medium  .tab-wrapper ul.tab {margin-top: 0;height: auto;margin-bottom: 0;padding-left: 40px;}
.clr-right .layout-wrap {margin-right: -16px;}
.border-top{border-top: 1px solid #ddd;}
.file-title md-icon{margin: 0 16px;}
.file-item {margin-right: 16px;margin-bottom: 16px;}
.file-item .file-type{min-height: 12rem;}
.file-item .file-type.photo{height: 12rem; overflow: hidden;}
.file-item .file-type.photo img{min-width: 100%;}
#file-manager .grid-view .item{width: 100%;margin: 0;}
.grid-type-title{margin-bottom: 8px;font-size: 13px;color: rgba(0,0,0,.6);}
.grid-view-wrap{margin-bottom: 20px;}
#file-manager .grid-view{padding-top: 0;}
.navigation-simple .item:hover, .navigation-simple .item:hover md-icon {
  color: #00d6ac;
}
.navigation-simple .item:hover {

}
div#file-uploader {
  position: absolute;
  right: 20px;
  top: calc(100% - 36px);
}

#file-manager .center .header .add-file-button {
  left: inherit;
  right: 25px !important;
  background-color: #8717c7;
  color: #ffffff !important;
}

.file-manager .toolbar md-menu-content{
  padding: 0px !important;
}

#file-manager.page-layout.simple.right-sidenav > .center .header {
  height: 95px;
  min-height: 95px;
}

#file-manager .center .header .header-content .breadcrumb, #file-manager .center .header .header-content .breadcrumb .separator {
  color: #333;
}
#file-manager .center .header .header-content .breadcrumb{
  padding-left: 25px;
  font-size: 17px;
}
#file-manager .center .header .header-content .breadcrumb .icon-folder-outline{
  color: #69e5d0;
}

#file-manager button.md-raised.folder-create.md-button.md-default-theme{
  background-color: #8717c7;
  color: #ffffff;
  width: 145px;
  font-size: 13px;
  text-transform: capitalize;
}

#file-manager .list-view > thead tr th:first-child{
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

#file-manager .grid-view .item.folder{
  height: 60px;
}

#file-manager .grid-view .item.folder i.icon-folder{
  color: #FFB300;
  margin-right: 7px;
}

md-dialog.upload-dialog md-toolbar.md-accent{
  background-color: #FFFFFF !important;
}
md-dialog.upload-dialog md-toolbar .md-toolbar-tools{
  height: 55px;
  padding-bottom: 12px;
  color: #00d6ac;
}

md-dialog.upload-dialog .md-button.md-icon-button{
  border: 1px solid transparent;
  border-radius: 3px;
}
md-dialog.upload-dialog .md-button.md-icon-button:hover {
  border-color: lightgray;
}
md-dialog.upload-dialog .md-button.md-icon-button.active {
  background-color: #eee;
  border-color: lightgray;
}

.upload-dialog .tab-wrapper ul.tab {
  height: 15px;
  font-size: 14px;
  margin-top: 25px;
  padding-left: 10px;
  padding-top: 3px;
}

.upload-dialog .tab-wrapper ul.tab li.tab-title {
  border: 1px solid transparent;
  padding: 3px 25px;
  border-bottom: none;
  margin-right: 10px;
  background-color: #00D6AC;
  color: #ffffff;
  cursor: pointer;
  list-style: none;
}

.upload-dialog .tab-wrapper ul.tab li.tab-title.active {
  border-color: lightgray;
  background-color: #ffffff;
  color: #333333;
}

.file-manager .file_upload_area .drop-box {
  border: 2px dashed lightgray;
  padding: 20px 65px;
  margin: 7px 0;
}

.file-manager .file_upload_area .dragover {
  background: lightgray;
}

#file-manager .grid-view .item.folder.selected, #file-manager .grid-view .item.files.selected {
  background: #8717c7;
  color: #ffffff !important;
}


#file-manager .autocomplete-custom-template li {
  border-bottom: 1px solid #ccc;
  height: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  white-space: normal;
}
#file-manager .autocomplete-custom-template li:last-child {
  border-bottom-width: 0;
}
#file-manager .autocomplete-custom-template .item-title,
#file-manager .autocomplete-custom-template .item-metadata {
  display: block;
  line-height: 2;
}
#file-manager .autocomplete-custom-template .item-title md-icon {
  height: 18px;
  width: 18px;
}
/*files end*/
