/*frontend start 17*/
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.vertical-tab {
  background: #fff;
  padding-top: 25px;
}
.vertical-tab md-tabs-wrapper {
  border: none;
}
md-tabs.md-default-theme md-tabs-wrapper,
md-tabs md-tabs-wrapper {
  border: none;
}
.vertical-tab md-ink-bar {
  display: none;
}
.vertical-tab md-pagination-wrapper {
  flex-direction: column;
  width: 100%;
  display: block;
  padding-top: 20px;
}
.vertical-tab md-tabs.md-dynamic-height md-tabs-content-wrapper {
  overflow: hidden;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
}
.vertical-tab md-tabs-canvas {
  width: 200px;
  overflow: hidden;
  height: 300px;
}
.vertical-tab .md-tab {
  width: 100%;
  display: block;
  text-align: left;
  font-size: 13px;
  justify-content: center;
}
.vertical-tab md-tabs.md-default-theme .md-tab.md-active,
.vertical-tab md-tabs .md-tab.md-active,
md-tabs.md-default-theme .md-tab.md-active md-icon {
  background: #f4f4f4;
}
.vertical-tab [role="tabpanel"] {
  transition: none;
}
.vertical-tab md-tabs {
  display: flex;
}
.vertical-tab md-tabs.md-dynamic-height md-tabs-content-wrapper {
  flex: 1 1 100%;
}
.vertical-tab md-menu md-icon {
  cursor: pointer;
}
.vertical-tab md-menu md-icon[md-font-icon] {
  font-size: 20px;
  line-height: 20px;
  min-height: 20px;
  height: 20px;
  color: #00d6ac;
}
.vertical-tab md-menu md-icon[md-font-icon].disabled {
  color: #757575;
}
.vertical-tab md-menu md-icon[text-nav] {
  font-size: 14px;
  line-height: 2;
  color: #00d6ac;
  font-weight: normal;
}
[vlc] [flex] {
  display: flex;
  align-items: center;
}
[vlb] {
  display: flex;
  align-items: flex-end;
  flex-direction: column-reverse;
}
.vertical-tab [vlc] [flex] {
  padding: 16px 0;
}
.md-padding-content {
  padding: 10px 45px 100px;
}
.content.flex {
  background: #fff;
}
.vertical-tab [flex] {
  padding: 16px 0 12px;
}
.vertical-tab [flex][npd] {
  padding: 0;
}
.vertical-tab [flex] span {
  color: #292929;
}
.vertical-tab [flex] p {
  margin: 0;
  color: #858585;
}
.vertical-tab [flex] span.btn {
  color: #00d6ac;
}
[vlc] [flex][nflex] {
  display: block;
}
.vertical-tab .even-odd > div:nth-child(odd) {
  background: rgba(206, 206, 206, 0.1);
}
.vertical-tab .even-odd img {
  border: 3px solid #c0c0c0;
}
.tab-content-title {
  font-size: 20px;
  margin: 0;
}
.bbtm .layout-row {
  border-bottom: 1px solid #ddd;
}
.bbtm [nbr].layout-row {
  border-bottom: none;
}
.right {
  text-align: right;
}
md-tabs.md-default-theme .md-tab,
md-tabs .md-tab {
  color: #000;
}
/*Transparent color fix for modal input*/
#transparentColorFix input {
  color: black !important;
}
.vertical-tab {
  background: #fff;
  padding-top: 25px;
}
.vertical-tab md-tabs-wrapper {
  border: none;
}
md-content.md-default-theme,
md-content {
  overflow: visible;
}
md-tabs.md-default-theme md-tabs-wrapper,
md-tabs md-tabs-wrapper {
  border-width: 0!important;
}
.vertical-tab md-ink-bar {
  display: none;
}
.vertical-tab md-pagination-wrapper {
  flex-direction: column;
  width: 100%;
  display: block;
  padding-top: 20px;
}
.vertical-tab md-tabs.md-dynamic-height md-tabs-content-wrapper {
  overflow: hidden;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
}
.vertical-tab md-tabs-canvas {
  width: 200px;
  overflow: hidden;
  height: 300px;
}
.vertical-tab .md-tab {
  width: 100%;
  text-transform: none;
  display: block;
  text-align: left;
  font-size: 13px;
  justify-content: center;
}
.vertical-tab md-tabs.md-default-theme .md-tab.md-active,
.vertical-tab md-tabs .md-tab.md-active,
md-tabs.md-default-theme .md-tab.md-active md-icon {
  background: #f4f4f4;
}
.vertical-tab [role="tabpanel"] {
  transition: none;
}
.vertical-tab md-tabs {
  display: flex;
}
.vertical-tab md-tabs.md-dynamic-height md-tabs-content-wrapper {
  flex: 1 1 100%;
}
.vertical-tab md-menu md-icon {
  cursor: pointer;
}
.vertical-tab md-menu md-icon[md-font-icon] {
  font-size: 20px;
  line-height: 20px;
  min-height: 20px;
  height: 20px;
  color: #00d6ac;
}
.vertical-tab md-menu md-icon[md-font-icon].disabled {
  color: #757575;
}
.vertical-tab md-icon[text-nav] {
  width: auto;
  margin: inherit;
  color: #00d6ac;
  cursor: pointer;
}
.vertical-tab md-menu md-icon[text-nav] {
  font-size: 14px;
  line-height: 2;
  color: #00d6ac;
  font-weight: normal;
}
[vlc] [flex] {
  display: flex;
  align-items: center;
}
[vlb] {
  display: flex;
  align-items: flex-end;
  flex-direction: column-reverse;
}
.vertical-tab [vlc] [flex] {
  padding: 16px 0;
}
.md-padding-content {
  padding: 10px 45px 100px;
}
.content.flex {
  background: #fff;
}
.vertical-tab [flex] {
  padding: 16px 0 12px;
}
.vertical-tab [flex][npd] {
  padding: 0;
}
.vertical-tab [flex] span {
  color: #292929;
}
.vertical-tab [flex] span[lvl-email] {
  margin-left: 20px;
}
.vertical-tab [flex] span[lvl-icon] {
  margin-left: 5px;
}
.vertical-tab [flex] p {
  margin: 0;
  color: #858585;
}
.vertical-tab [flex] span.btn {
  color: #00d6ac;
}
[vlc] [flex][nflex] {
  display: block;
}
.vertical-tab .even-odd > div:nth-child(odd) {
  background: rgba(206, 206, 206, 0.1);
}
.vertical-tab .even-odd img {
  border: 3px solid #c0c0c0;
}
.bbtm .layout-row {
  border-bottom: 1px solid #ddd;
}
.bbtm [nbr].layout-row {
  border-bottom: none;
}
[right],
.right {
  text-align: right;
}
[dialog-btn] {
  display: flex;
  align-items: center;
}
[dialog-btn] .md-button {
  border: 1px solid #dcdcdc;
  border-radius: 3px;
  min-height: 22px;
  line-height: 22px;
  margin: 0 3px;
  flex: 1 1 100%;
}
[dialog-btn] {
  display: flex;
  align-items: center;
}
[dialog-btn] .md-button {
  border: 1px solid #dcdcdc;
  border-radius: 3px;
  min-height: 22px;
  line-height: 22px;
  margin: 0 3px;
  background: #f5f5f5;
  background: -moz-linear-gradient(top, #f5f5f5 0%, #f1f1f1 100%);
  background: -webkit-linear-gradient(top, #f5f5f5 0%, #f1f1f1 100%);
  background: linear-gradient(to bottom, #f5f5f5 0%, #f1f1f1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#f1f1f1', GradientType=0);
}
[dialog-btn] .md-button[btn-purple] {
  border-color: #9c1ae6;
  color: #fff;
  background: #9c1ae6;
  background: -moz-linear-gradient(top, #9c1ae6 0%, #8818c8 100%);
  background: -webkit-linear-gradient(top, #9c1ae6 0%, #8818c8 100%);
  background: linear-gradient(to bottom, #9c1ae6 0%, #8818c8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9c1ae6', endColorstr='#8818c8', GradientType=0);
}
.settings-dialog md-input-container {
  margin: 0;
}
md-dialog-heading {
  border-bottom: 1px solid #ddd;
  padding: 0 35px;
}
.dialog-medium md-dialog-heading {
  border-bottom: none;
}
.vertical-tab md-icon[md-font-icon] {
  line-height: 21px;
}
.vertical-tab [bopad] {
  padding: 16px 0 12px;
}
/*md-dialog-heading .layout-row > .flex{padding:16px 0 12px;}*/
md-dialog.md-default-theme,
md-dialog {
  border-radius: 0px;
  border-top: 3px solid #00BFA5;
}
.vertical-tab md-icon[md-font-icon] {
  line-height: 21px;
}
.vertical-tab [bopad] {
  padding: 16px 0 12px;
}
.vertical-tab [vlc] [flex],
.vertical-tab [npad] {
  padding: 0;
}
.vertical-tab [flex] div.layout-row:last-child {
  border-bottom: none;
}
.profile-boxed > * {
  display: inline-block;
  vertical-align: top;
}
.profile-avatar {
  margin-right: 10px;
}
.profile-content strong {
  display: block;
}
md-dialog.compose-dialog md-toolbar.md-accent {
  background-color: #fff;
}
.profile-list [flex] span,
.profile-list [flex] a {
  line-height: 2;
}
#profile .header .name {
  color: #000;
}
/*frontend end 12*/
