/*labels start*/
.profile-icon{width: 60px;margin-right: 30px;}
.tab-fields md-radio-group.md-default-theme .scrollable .md-checked .md-ink-ripple,
.tab-fields md-radio-group .md-checked .scrollable .md-ink-ripple{color: #292929;}
.tab-fields .scrollable md-list-item > md-checkbox, .scrollable md-list-item .md-list-item-inner > md-checkbox{padding-right: 16px;}
.tab-fields .scrollable md-list-item{border-bottom: 1px solid #ddd;}
.tab-fields .scrollable md-checkbox{margin-bottom: 16px;}
.card-preview .draggable {
  border: 1px dotted transparent;
}
.card-preview .draggable:hover {
  border: 1px dotted black;
}
.card-preview .ui-icon {
  background-image: none;
}
.card-preview .draggable:hover .ui-icon {
  background-image: url(/vendors/jquery-ui/themes/base/images/ui-icons_444444_256x240.png);
}
.page-print .ui-icon {
  background: none !important;
}
.editToolsArea {
  padding: 5px;
  height: 40px;
  margin-right: 5px;
  border: 1px solid #ddd;
}
.editToolsArea label{height: 25px;}
.page-print .draggable input {
  margin-top: 7px;
}
.page-print #resizableImage {
  margin-top: 12px;
}
.imageWrapper {
  position: relative;
}
.imageWrapper .cornerLink {
  opacity: 0;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 2px 0px;
  color: #ffffff;
  background: #000000;
  text-decoration: none;
  text-align: center;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}
.imageWrapper:hover .cornerLink {
  opacity: 0.6;
}
.editToolsArea md-icon{font-size: 18px;font-weight: bold;text-align: center;cursor: pointer;margin: 0 2px;}
ms-material-color-picker{margin-right: 8px;}
#labelFontSize,
#labelInsertedTextFontSize {
  width: 40px;
  height: 25px;
  background: none;
  border: none;
}
#labelFontSize {border-left: 1px solid #ddd;border-right: 1px solid #ddd;}
.font-select > a div,.font-select > a{
  background-color: transparent;
  border-radius: 0;
  background-image: none;
  background-clip: border-box;
  border: none;
  font-size: 13px;
  color: #222!important;
}
.animText {
  padding: 5px;
  border-bottom: 2px solid #4CAF50;
}
.font-select {
  width: 70px;
  height: 25px;
}
.animText :active {
  border-bottom: 2px solid #4CAF50;
}
@page {
  size: A4;
  margin: 0;
}
#printPreviewArea .draggable {
  cursor: auto;
  border: none;
}
#printPreviewArea .draggable input {
  cursor: auto;
  border: none;
}
#printPreviewArea #resizableImage {
  cursor: auto;
  border: none;
}
#printPreviewArea .ui-resizable-handle {
  cursor: auto;
  border: none;
}
#savedLablePreview .draggable {
  cursor: pointer;
  border: none;
}
#savedLablePreview .draggable input {
  cursor: pointer;
  border: none;
}
#savedLablePreview #resizableImage {
  cursor: pointer;
  border: none;
}
#savedLablePreview .ui-resizable-handle {
  cursor: pointer;
  border: none;
}
.md-datepicker-button {
  display: none;
}
md-pagination-wrapper {
  border-bottom: 1px solid gainsboro;
}
md-pagination-wrapper .md-active {
  text-transform: capitalize;
}
.page-print {
  width: 210mm;
  min-height: 297mm;
  padding: 0;
  margin: 10mm auto;
  border: 1px #D3D3D3 solid;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.page-print .tpl-1 {
  margin: 0.03in;
  margin-top: .2in;
  border: 1px solid gainsboro;
  background-size: 100% 100% !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
}
.page-print .tpl-2 {
  margin: 5.3px 5px 5px;
  border: 1px solid gainsboro;
  background-size: 100% 100% !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
}
.page-print .tpl-3 {
  margin: 5px;
  margin-top: 10px;
  border: 1px solid gainsboro;
  background-size: 100% 100% !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
}
.page-print .tpl-4 {
  margin: 5px;
  margin-top: 30px;
  border: 1px solid gainsboro;
  background-size: 100% 100% !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
}
.page-print .tpl-5 {
  margin: 30px;
  border: 1px solid gainsboro;
  background-size: 100% 100% !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
}
#insertedText input {
  background: transparent;
  width: 100%;
}
#resizableImage {
  cursor: move;
}
.card-preview .ta-bind {
  font-size: 20px;
}
#resizableImage {
  height: 80px;
  width: 80px;
  background-size: 100% 100% !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
}
.draggable {
  width: 100px;
  height: auto;
  border: dotted 1px black;
  padding: 0% 1% 1% 0%;
  cursor: move;
}
.tool {
  width: 80%;
  height: 80%;
}
.card-img .ta-bind {
  padding: 10px;
}
.card-img {
  height: 145px;
  border: 1px solid #f2f2f2;
  background-color: #f2f2f2;
  border-top-width: 2px;
  overflow: hidden;
}
.newavatar {
  width: 60px;
  min-width: 60px;
  height: 60px;
  line-height: 40px;
  margin: 0 8px 0 0;
  border-radius: 50%;
  font-size: 17px;
  font-weight: 500;
  text-align: center;
  color: #FFFFFF;
}
.cropArea {
  background: #E4E4E4;
  overflow: hidden;
  width: auto;
  height: 300px;
}
.profile-image {
  min-height: 85px;
  min-width: 85px;
  border-radius: 100%;
  margin: auto 0;
  background-size: 100% 100% !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  margin-right: 24px;
}
.uploadImage {
  width: 100%;
  height: 100%;
  background: black;
  display: none;
  min-height: 85px;
  min-width: 85px;
  border-radius: 100%;
  /*border:1px solid green;margin: auto 0;*/
  background-size: 100% 100% !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
}
.labelPreviewHTML .ui-icon {
  background: none;
}
.labelPreviewHTML {
  background-size: 100% 100% !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
}
.profile-image:hover .uploadImage {
  background: white !important;
  display: block;
  color: black !important;
  font-size: 12px;
  line-height: 1.2;
  padding: 20px;
}
.jquery-modal.blocker.current {
  z-index: 999;
}
.ta-scroll-window.form-control {
  border: none;
}
.tpl-1 {
  width: 4in !important;
  min-width: 4in !important;
  height: 2in !important;
  min-height: 2in !important;
}
.tpl-2 {
  width: 1.75in !important;
  min-width: 1.75in !important;
  height: 0.667in !important;
  min-height: 0.667in !important;
}
.ta-bind {
  min-height: 300px;
  padding: 5px;
  margin: 5px;
  background-size: 100% 100% !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
}
.ta-scroll-window {
  overflow: hidden !important;
}
.tpl-3 {
  width: 2.625in !important;
  min-width: 2.625in !important;
  height: 1in !important;
  min-height: 1in !important;
}
.tpl-4 {
  width: 4in !important;
  min-width: 4in !important;
  height: 3.333in !important;
  min-height: 3.333in !important;
}
.tpl-5 {
  width: 6in !important;
  min-width: 6in !important;
  height: 4in !important;
  min-height: 4in !important;
}
.page-layout > .header {
  position: relative;
}
.page-layout > .header .logo .logo-text {
  font-size: 24px;
}
.head-btn {
  margin-left: 24px;
}
.head-btn .md-button {
  background: #f4f4f4;
  border: 1px solid #d9d9d9;
  margin: 0 -1px;
  line-height: 24px;
}
.content-wrap {
  margin: 24px 5%;
  background: #f9f9f9;
}
.tab-content-wrap {
  padding: 35px;
  padding-right: 20px;
  background: #fff;
  max-height: 100%;
  min-height: 560px;
}
.create-label {
  border: 2px dotted #e7e7e7;
  margin-bottom: 20px;
}

.card-preview {
  background: #fff;
  border-left: 1px solid #dadada;
  box-shadow: 2px 0 2px #ddd;
}
.card-info {
  padding: 10px;
  border: 1px dotted #e7e7e7;
  border-top: none;
}
.card-info h5,
.card-info p {
  margin: 0;
}
.card-info h5 {
  font-size: 13px;
  color: #00d6ac;
}
.card-info p {
  font-size: 12px;
  color: #c2c2c2;
}
.cp-title {
  text-align: center;
  padding: 10px;
  background: #00d6ac;
  color: #fff;
  font-size: 20px;
}
.cp-button {
  background: #f4f4f4;
  padding: 14px 18px;
}
.cp-button .md-button {
  min-width: 120px;
}
.tab-fields label.label {
  width: 170px;
  min-width: 170px;
  display: inline-block;
  font-weight: bold;
  padding-right: 15px;
}
.lable-tabs {
  background: #fff;
}
md-tabs.config-tabs md-tabs-wrapper {
  background: #f9f9f9;
  z-index: 99;
}
md-tabs.config-tabs md-tabs-canvas {
  position: relative;
  top: 1px;
}
md-tabs.config-tabs md-tabs-content-wrapper {
  border-top: 1px solid #e2e2e2;
}
md-tabs.config-tabs md-pagination-wrapper {
  height: auto;
  padding-top: 14px;
}
md-tabs.config-tabs .md-tab {
  background: #e2e2e2;
  margin-left: 10px;
  border: 1px solid;
  border-color: #c7c7c7;
  padding: 4px 24px;
  border-bottom: none;
}
md-tabs.config-tabs .md-tab.md-active {
  background: #fff;
  border-color: #e0e0e0;
  border-bottom: 1px solid #fff;
}
md-slider.custom-slide {width: 280px;}
md-slider.custom-slide .md-thumb{transform: scale(1);}
.custom-slide .md-track {
  background-color: transparent !important;
  border: 1px solid #00d6ac;
  height: 10px;
  border-radius: 6.5px;
  top: -4px;
}
.custom-slide .md-track.md-track-fill {
  background-color: #00d6ac !important;
}
md-slider.custom-slide .md-thumb:after {
  background-color: #00d6ac !important;
  border-color: #00d6ac !important;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
.color-select {
  min-width: 80px;
  height: 25px;
  position: relative;
}
.color-select .sp-replacer,
.color-select .sp-replacer .sp-preview,
.color-select .sp-replacer .sp-preview .sp-preview-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  top: 0;
  left: 0;
  border-radius: 0;
  border-color: #c0c0c0;
}
.color-select .sp-replacer .sp-dd {
  position: absolute;
  right: 10px;
  z-index: 999;
}
.color-select .sp-replacer .sp-dd:after {
  position: absolute;
  content: '\f0d7';
  z-index: 999;
  color: #00466c;
  right: 0;
  display: block;
  font-family: fontawesome;
  font-size: 16px;
  top: 0;
}
.br-1 {
  border: 1px solid #ddd;
}
.ms-scroll {
  position: relative;
}
.page-layout > .header .logo .logo-text {
  font-size: 24px;
}
.head-btn {
  margin-left: 24px;
}
.head-btn .md-button {
  background: #f4f4f4;
  border: 1px solid #d9d9d9;
  margin: 0 -1px;
  line-height: 24px;
}
.content-wrap {
  margin: 24px 5%;
  background: #f9f9f9;
}
.create-label {
  border: 2px dotted #e7e7e7;
  margin-bottom: 20px;
}
.card-preview {
  background: #fff;
  border-left: 1px solid #dadada;
  box-shadow: 2px 0 2px #ddd;
}
.cp-title {
  text-align: center;
  padding: 10px;
  background: #00d6ac;
  color: #fff;
  font-size: 20px;
}
/*.cp-card {
  border: 1px solid #e8e8e8;
  margin: 8px;
  min-height: 330px;
}*/
.cp-button {
  background: #f4f4f4;
  padding: 14px 18px;
}
.cp-button .md-button {
  min-width: 120px;
}
.create-label label.label {
  width: 180px;
  display: inline-block;
}
.wysiwyg {
  border: 1px solid #d7d7d7;
  padding: 5px 0;
  width: 350px;
  margin: 0;
}
.wysiwyg md-menu {
  white-space: nowrap;
  cursor: pointer;
}
.wysiwyg .layout-row > div {
  border-right: 1px solid #d7d7d7;
  padding: 0 5px;
}
.wysiwyg .layout-row .layout-row {
  padding-right: 0;
  margin-right: 5px;
}
.wysiwyg select {
  max-width: 80px;
  border: none;
  background-color: transparent;
}
.wysiwyg md-icon {
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
/*labels end*/
