/*login start*/
.reg-wrap {padding-top: 20px;}
#login-v2 #login-v2-form-wrapper #login-v2-form md-input-container{
  margin: 0;
}
#login-v2 #login-v2-intro{
  background: url("../images/backgrounds/login.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 50px 50px 50px 120px;
  .logo{
    margin-bottom: 20px;
    width: 115px;
    height: 115px;
    line-height: 115px;
    background-size: cover;
    background-position: center center;
  }
  .title {
    font-size: 60px;
    line-height: 80px;
    font-weight: 200;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
  }
  .description {
    padding: 8px 0;
    font-size: 25px;
    font-weight: 200;
    color: #ffffff;
    max-width: 100%;
  }
  .button.trial {
    display: inline-block;
    padding: 6px 28px;
    border: 1px solid lightgray;
    color: #ffffff;
    font-weight: 300;
    font-size: 17px;
    border-radius: 18px;
    margin: 20px 0;
    cursor: pointer;
    background: transparent;
  }
  span.uppercase {
    color: #ffffff;
    font-weight: 200;
    text-transform: uppercase;
    font-size: 12px;
    clear: both;
    display: inline-block;
    padding-top: 10px;
  }
  .social-icons{
    display: block;
    clear: both;
    padding-top: 10px;
    ul{
      margin: 0;
      padding: 0;
      li{
        list-style-type: none;
        a{
          float: left;
          padding: 6px;
          border-radius: 50%;
          text-decoration: none;
          border: 1px solid #e2dfdd;
          width: 30px;
          height: 30px;
          margin-right: 4px;
          i.icon{
            color: #ffffff;
            font-size: 15px;
          }
        }
      }
    }

  }
}

#login-v2{
  background: none;
  font-family: 'Raleway', sans-serif;
  #login-v2-form-wrapper {
    #login-v2-form {
      padding-top: 50px;
      .title{
        font-size: 25px;
        font-family: 'Raleway', sans-serif;
        color: #2d0047;
      }
      .description{
        font-size: 14px;
        color: #292929;
      }
      form{
        .submit-button {
          border-radius: 17px;
        }
      }
    }
  }
}

#forgot-password{
  background: url(../images/backgrounds/login.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
 #forgot-password-form-wrapper{
   #forgot-password-form{
     max-width: 435px;
     min-width: 50px;
     border-radius: 50%;
     width: 435px;
     height: 435px;
     padding: 3px 54px;
     background: rgba(255, 255, 255, 0.7);
     .logo{
       width: 115px;
       height: 115px;
       line-height: 115px;
       background-size: cover;
       background-position: center center;
     }
     .title {
       font-size: 20px;
     }
     button.submit-button{
       border-radius: 17px;
     }
   }
 }
}
//ng-dirty ng-valid-required ng-invalid ng-invalid-email ng-invalid-pattern
//ng-dirty ng-valid-required ng-valid-email ng-valid ng-valid-pattern
//ng-invalid ng-dirty ng-valid-email ng-invalid-required ng-valid-pattern

.ng-valid-required.ng-valid-email.ng-valid-pattern .md-button.md-default-theme.md-accent.md-raised{
  background: @color-sochara2;
}
.md-button.md-default-theme.md-accent.md-fab, .md-button.md-accent.md-fab {
  color: #ffffff;
  background-color: @color-sochara2;
}

[md-theme="default"] a {
  color: @color-sochara2 !important;
}

/*login end*/
