/*mail start*/
md-progress-circular.md-default-theme.md-accent path, md-progress-circular.md-accent path{
  stroke: #ffffff;
}
md-icon[md-font-icon], i{
  min-height: 21px;
}
#mail{
  .action-buttons{
    .more{
      text-transform: capitalize;
      background-color: #fafafa;
      color: @color-sochara-black;
      border-radius: 3px;
      box-shadow: none;
      border: 1px solid lightgray;
    }
    .material-icons{
      color: @color-sochara-black;
    }
  }
  .md-button.md-default-theme.md-accent.md-raised, .md-button.md-accent.md-raised{
    background-color: @color-sochara2;
  }
  .sidenav .content{
    background-color: #ffffff;
  }
  .top-bg{
    background-color: #ffffff;
    background-image: url("../images/mail/header_bg.png");
    color: @color-sochara-black;
  }
  .sidenav.md-locked-open .header{
    color: @color-sochara-black;
    .logo-icon{
      border-radius: 50%;
      padding: 5px;
      background-color: #919191;
      md-icon{
        color: @color-sochara-black;
      }
    }
    .logo-text{
      font-size: 20px;
      color: @color-sochara-black;
    }
  }
  .provider-wrapper{
    margin-right: 15px;
    background: #ffffff;
    .mail_provider{
      height: 56px;
      line-height: 56px;
      background: #ffffff;
      ul.icons{
          margin: 0;
          padding: 0;
        li{
          list-style-type: none;
          display: inline-block;
          position: relative;
          span{
            padding: 11px 15px;
            float: left;
            height: 56px;
            border-right: 1px solid #eeeeee;
            cursor: pointer;
          }
          span.active{
            -webkit-box-shadow: inset 0px 0px 47px -5px rgba(0,0,0,0.18);
            -moz-box-shadow: inset 0px 0px 47px -5px rgba(0,0,0,0.18);
            box-shadow: inset 0px 0px 47px -5px rgba(0,0,0,0.18);
          }
        }
      }
      i.s_icon{
        width: 34px;
        height: 34px;
        display: inline-block;
      }
      i.icon_mail_all{
        background-image: url("../images/mail/provider/icons/all.png");
      }
      i.icon_mail_sochara{
        background-image: url("../images/mail/provider/icons/sochara.png");
      }
      i.icon_mail_gmail{
        background-image: url("../images/mail/provider/icons/gmail.png");
      }
      i.icon_mail_outlook{
        background-image: url("../images/mail/provider/icons/outlook.png");
      }
    }
  }
  .settings-menu {
    border-radius: 3px;
    border: 1px solid #d5d5d5;
    .md-button.md-icon-button {
      height: 35px;
      width: 35px;
      border-radius: 0;
      margin: 0;
      padding: 0;
    }
    .md-button.md-icon-button.active{
      background-color: #f0f0f0;
    }
  }
}

md-autocomplete.md-block.mail_search .md-whiteframe-z1{
  box-shadow: none;
  input[type="search"]{
    border-bottom: 1px dashed lightgray;
    padding: 2px 3px !important;
  }
}

span.button {
  padding: 7px;
  border-radius: 3px;
  background: #f8f8f8;
  border: 1px solid #c6c6c6;
  color: #666;
  cursor: pointer;
  text-decoration: none;
  margin: 4px 5px;
}

md-dialog.compose-dialog{
  md-toolbar.md-accent{
    background-color: #00d6ac !important;
  }
  button.send-button{
    background-color: @color-sochara2 !important;
  }
  .attachment_wrapper{
    .drop-box {
      background: #F8F8F8;
      border: 5px dashed #DDD;
      width: 100%;
      height: 85px;
      text-align: center;
      padding-top: 25px;
      margin-top: 5px;
      cursor: pointer;
    }
  }

  .ta-root {
    display: block;
  }

  .mail_toolbar.ta-toolbar {
    background: #F5F5F5;
    position: fixed;
    left: 75px;
    bottom: 73px;
    border: 1px solid #cfcfcf;
    -webkit-box-shadow: 0 2px 2px -1px rgba(0,0,0,.1);
    box-shadow: 0 2px 2px -1px rgba(0,0,0,.1);
    display: inline-block;
    margin: 0 6px 0 6px;
    padding: 4px 2px;
  }

  .mail_toolbar.ta-toolbar .ta-group {
    float: left;
  }
  .mail_toolbar.ta-toolbar{
    .ta-group{
      .md-button {
        width: 20px;
        min-width: 20px;
        line-height: 14px;
        min-height: 19px;
        padding: 1px;
        margin: 1px 3px;
        i{
          font-size: 21px;
          width: 21px;
          height: 19px;
          min-width: 19px;
          min-height: 19px
        }
      }
    }
  }
  .aA4 {
    background-image: url(../images/icons/down_pointer.png);
    height: 12px;
    position: fixed;
    bottom: 64px;
    width: 17px;
    left: 141px;
  }

  .sochara-icon.editor {
    background-color: transparent;
    background-image: url('../images/icons/fonts.png');
    display: block;
    background-repeat: no-repeat;
  }

  .sochara-icon.storage {
    background-color: transparent;
    background-image: url('../images/icons/hdd.png');
    display: block;
    background-repeat: no-repeat;
  }

  .sochara-icon.smile {
    background-color: transparent;
    background-image: url('../images/icons/smile.png');
    display: block;
    background-repeat: no-repeat;
  }
  .sochara-icon.font_size {
    background-color: transparent;
    background-image: url('../images/icons/font-size.png');
    background-repeat: no-repeat;
    display: inline-block;
    width: 24px;
    min-width: 16px;
    line-height: 13px;
    min-height: 16px;
  }
  .md-button.md-icon-button{
    border: 1px solid transparent;
    border-radius: 3px;
  }
  .md-button.md-icon-button:hover {
    border-color: lightgray;
  }
  .md-button.md-icon-button.active {
    background-color: #eee;
    border-color: lightgray;
  }

  .mail_emo{
    .emo-wrapper{
      width: 320px;
      height: 320px;
      background: #F5F5F5;
      position: fixed;
      left: 300px;
      bottom: 73px;
      border: 1px solid #cfcfcf;
      -webkit-box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.1);
      box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.1);
      display: inline-block;
      margin: 0 6px 0 6px;
      padding: 4px 2px;
      z-index: 9999;
      .emo-toolbar {
        width: 100%;
        display: inline-block;
        height: 50px;
        span.icon{
          width: 35px;
          height: 35px;
          float: left;
        }
        input.emo-search{
          width: 95px;
          float: left;
          padding: 5px;
          margin: 3px;
          background-image: url(../images/icons/searchicon.png);
          background-position: 71px 6px;
          background-repeat: no-repeat;
          box-shadow: none;
          border: 1px solid lightgray;
        }
        .emo_section {
          float: left;
          width: 43px !important;
          display: inline-block;
          font-size: 26px !important;
          text-align: center;
          padding: 6px;
          height: 38px;
          border: 1px solid transparent;
          margin: 2px;
          border-radius: 3px;
          cursor: pointer;
        }
        .emo_search_button {
          padding: 6px;
        }
        .emo_section:hover{
          border-color: lightgray;
        }
        .emo_section.active{
          border-color: lightgray;
        }
      }
      .emoticon-content{
        overflow-x: auto;
        display: block;
        height: 255px;
        padding: 5px;
        background-color: #ffffff;
        span.emo {
          padding: 3px 6px;
          border: 2px solid transparent;
          margin: 0;
          display: inline-block;
        }
        span.emo:hover {
          border: 2px solid #00d6ac;
          border-radius: 6px;
        }
      }
    }


    .sochara-icon.smile_2 {
      background-color: transparent;
      background-image: url('../images/icons/smile_2.png');
      display: block;
      background-repeat: no-repeat;
      background-position: center center;
    }

    .aA4 {
      background-image: url(../images/icons/down_pointer.png);
      height: 12px;
      position: fixed;
      bottom: 63px;
      width: 17px;
      left: 345px;
      z-index: 9999;
    }
    [role="button"] {
      cursor: pointer;
    }
  }
}

.compose-button {
  text-align: center;
  a {
    color: #ffffff !important;
    span {
      padding: 0 29px;
    }
  }
}

span.button {
  padding: 7px;
  border-radius: 3px;
  background: #f8f8f8;
  border: 1px solid #c6c6c6;
  color: #666;
  cursor: pointer;
  text-decoration: none;
  margin: 4px 5px;
}

.manage_mail_account {
  width: 100%;
  clear: both;
  padding: 8px;
  margin-top: 7px;
  margin-bottom: 7px;
}

.account-selection md-option {
  border-bottom: 1px solid lightgray;
  padding-left: 16px;
}

small.round-indicator {
  background: lightgray;
  padding: 1px 5px;
  margin-left: 15px;
  font-size: 11px;
  color: #333;
  font-weight: 400;
}


.thread .info .name i.s_icon.icon_mail_gmail {
  min-width: 20px;
  background-image: url(../images/mail/provider/icons/gmail-s.png);
}
.thread .info .name i.s_icon.icon_mail_outlook {
  min-width: 20px;
  background-image: url(../images/mail/provider/icons/outlook-s.png);
}
.thread .info .name i.s_icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 10px;
}

i.mail_count_badge {
  font-size: 10px;
  border: 1px solid #ffffff;
  border-radius: 8px;
  position: absolute;
  text-align: center;
  right: -1px;
  top: 2px;
  padding: 2px;
  margin: 0px;
  color: #ffffff;
  height: 20px;
  display: block;
  line-height: 15px;
  width: auto;
}

i.mail_count_badge.all_mail{ background-color: #919191; }
i.mail_count_badge.sochara_mail{ background-color: #03D6AD; }
i.mail_count_badge.gmail{ background-color: #E53935; }
i.mail_count_badge.outlook{ background-color: #0072C5; }


.add_account md-radio-button .md-label{
  white-space: nowrap;
}
.add-account-button{
  text-align: center;
}
.add-account-button span{
  text-transform: capitalize;
  padding: 0 29px;
  color: #ffffff;
}
.add_account .account span {
  border: 1px solid lightgray;
  padding: 12px 8px;
  border-radius: 3px;
}

.add_account .account.gmail span {
  background-image: url(../images/mail/provider/icons/gmail.png);
  background-position: 6px;
  background-repeat: no-repeat;
  padding-left: 43px;
}

.add_account .account.outlook span {
  background-image: url(../images/mail/provider/icons/outlook.png);
  background-position: 6px;
  background-repeat: no-repeat;
  padding-left: 43px;
}

#mail .loading-threads md-progress-circular.md-default-theme.md-accent path, md-progress-circular.md-accent path{
  stroke: #00d6ac;
}

.confirm-delete-account .md-inline-form md-radio-group md-radio-button {  height: 55px;  padding: 17px 0px;  }
md-dialog.confirm-delete-account {  max-width: 480px;  width: 480px;  }

.compose-dialog md-autocomplete-wrap > input[type="search"]{
  padding: 0 !important;
}

.compose-dialog md-chip-template span {
  font-size: 14px;
}

.compose-dialog .md-title{
  font-size: 14px;
  color: #7F7F7F;
}


#mail .center .content-card.outlook .content-wrapper .thread-detail .thread-attachments .attachment .preview{
  width: auto;
  margin: 0;
}
.attachment-list .attachment{
  position: relative;
  width: 180px;
  height: 180px;
  overflow: hidden;
  margin: 5px;
}
.attachment-list .attachment img.preview{
  position: absolute;
  left: 50%;
  top: 30%;
  height: 70%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.attachment-list .attachment .image_details{
  position: absolute;
  top: 70%;
  font-size: 11px;
}

.mail md-menu-content{
  padding: 0;
}

.mail md-menu-content:before {
  content: "\A";
  position: absolute;
  left: 19px;
  top: -8px;
  background: url(../images/icons/sochara_mail_more_up_arrow.png);
  width: 21px;
  height: 12px;
  background-repeat: no-repeat;
}

.action-buttons md-icon:hover{
  color: #00d6ac !important;
}
/*mail end*/

#mail .content-wrapper .thread-list .thread.unread.current-thread .info .name, #mail .content-wrapper .thread-list .thread.unread.current-thread .info .subject, #mail .content-wrapper .thread-list .thread.unread.current-thread .info .message, #mail .content-wrapper .thread-list .thread.unread.current-thread .time{
  font-weight: 500 !important;
}

// #mail .center .content-card.outlook .content-wrapper .thread-list .thread .info .name
