/*media start*/

.bg-white {background-color: #fff;}
.inner-wrap .innter_content{padding: 50px 24px;}
.inner-wrap {box-shadow: none!important;}
.inner-wrap .navigation-simple{background-color: #f2f2f2;padding: 16px 0;}
.inner-wrap .inner-content-wrap{padding-top: 0!important;padding-bottom: 0!important;}
.inner-wrap .item-create{margin-right: 0;margin-bottom: 0;}
#file-manager .center .content{padding: 0 24px;}


.photos .photo-thumb md-icon.md-default-theme{
  color: #fff;
}
.photos .photo-thumb md-checkbox.md-default-theme:not(.md-checked) .md-icon, .photos .photo-thumb md-checkbox:not(.md-checked) .md-icon{
  border-color: #ffffff !important;
}

.photos .photo-thumb .top_bar_section{

}

.photos md-grid-list md-grid-tile figure{
  display: block;
  height: auto;
  align-items: inherit !important;
}

.photos .photo-thumb md-checkbox.md-default-theme:not(.md-checked) .md-icon{
  opacity: 0;
  visibility: hidden;
}

.photos .photo-thumb:hover md-checkbox.md-default-theme:not(.md-checked) .md-icon{
  opacity: 1;
  visibility: visible;
}

.photos .photo-thumb.upload, .photos .photo-thumb.upload md-icon.icon-cloud-upload{
  color: #333 !important;
  text-align: center;
  vertical-align: middle;
  font-size: 50px;
}

.photos md-grid-list md-grid-tile.photo-thumb figure{

}

.photos .photo-thumb:hover.upload{

}

.photos .photo-thumb .top_bar_section .share-delete{
  opacity: 0;
  visibility: hidden;
}

.photos .photo-thumb:hover .top_bar_section .share-delete{
  opacity: 1;
  visibility: visible;
}

.photos .photo-thumb .middle_bar_section, .photos .photo-thumb .bottom_bar_section{
  display: block;
  width: 100%;
  float: left;
  height: 50px;
  opacity: 0;
  visibility: hidden;
}

.photos .photo-thumb:hover .top_bar_section, .photos .photo-thumb:hover .middle_bar_section, .photos .photo-thumb:hover .bottom_bar_section{
  opacity: 1;
  visibility: visible;
}

.photos .photo-thumb .middle_bar_section{
  margin: 39px 0;
  padding: 0;
  width: 100%;
  height: 61px;
}

.photos .photo-thumb .middle_bar_section md-icon.material-icons.icon-plus-circle{
  font-size: 36px;
  font-size: 60px !important;
  width: 60px;
  height: 60px;
}

.photos .photo-thumb .middle_bar_section md-icon[md-font-icon]{
  font-size: 32px !important;
}
.photos .photo-thumb .bottom_bar_section{
  padding-top: 15px;
  width: 100%;
}

.photos .photo-thumb:hover .bottom_bar_section{
  border-top: 1px solid lightgray;
}
.photos .photo-thumb .photo-name {
  color: #ffffff !important;
  text-align: center;
  height: 60px;
  word-wrap: break-word;
}
.photos md-grid-tile.photo-thumb{
  -webkit-background-size: cover !important;
  background-size: cover !important;
  background-position: center !important;
  color: #ffffff !important;
}

.photos .photo-thumb .select_photo_checkbox{
  width: 55px;
  float: left;
  margin: 12px 0;
}

.photos .photo-thumb .edit_button, .photos .photo-thumb .share, .photos .photo-thumb .delete {
  width: 37px;
  float: left;
  padding: 10px 0;
}

.photos .photo-thumb .share-delete{
  width: 121px;
  float: right;
}

.photos .photo-thumb .photo-zoom {
  color: #ffffff !important;
  text-align: center;
  height: 60px;
  word-wrap: break-word;
  cursor: pointer;
}

.photos .photo-thumb .share-delete .share {
  float: left;
  position: relative;
  cursor: pointer;
}

.photos .photo-thumb .share-delete .delete{
  cursor: pointer;
}

.photos .photo-thumb .share-delete .share .shared-media {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  right: -45px;
  top: 39px;
  text-align: center;
  background: #337ab7;
  width: 223px;
  padding: 4px 0;
  transition: all .3s ease;
  z-index: 9;
}

.photos .photo-thumb .share-delete .share:hover .shared-media {
  opacity: 1;
  visibility: visible;
}

.photos md-grid-tile.photo-thumb:hover figure {
  background: rgba(0, 214, 172, 0.5);
}

#media .header-content .toolbar .selected_text{
  color: #333;
}


.photos md-grid-tile.photo-thumb.upload:hover figure{
  background:inherit;
}
.photos .photo-thumb .edit_button, #media .innter_content .photos .create_title{
  cursor: pointer;
}

button.back-button {
  background-color: #ffffff !important;
  border: 1px solid lightgray;
}

button.back-button:hover{
  background-color: lightgray !important;
}

button.back-button .material-icons {
  color: #333 !important;
}

/************* 20th Sep 2017 ****************/


/*************** 28th Sep 2017 ***************/
/** For Simple Popup Replacing with md dialogue **/
.cd-popup {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(94, 110, 141, 0.9);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
}
.cd-popup.is-visible {
  z-index: 19999;
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}
.cd-popup-container {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: 4em auto;
  background: #FFF;
  border-radius: .25em .25em .4em .4em;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-40px);
  -moz-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  -o-transform: translateY(-40px);
  transform: translateY(-40px);
  /* Force Hardware Acceleration in WebKit */
  -webkit-backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.cd-popup-container ul {
  padding: 0;
}
.cd-popup-container li {
  list-style-type: none;
}
.cd-popup-container a {
  text-decoration: none;
}
.cd-popup-container .album_name {
  padding: 40px 50px 25px 50px;
}
.cd-popup-container .folder_name {
  padding: 40px 50px 25px 50px;
}
.cd-popup-container p {
  padding: 3em 1em;
  font-size: 17px;
  font-weight: 600;
}
.cd-popup-container .cd-buttons:after {
  content: "";
  display: table;
  clear: both;
}
.cd-popup-container .cd-buttons li {
  float: left;
  width: 50%;
}
.cd-popup-container .cd-buttons a {
  display: block;
  height: 60px;
  line-height: 60px;
  text-transform: uppercase;
  color: #FFF;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.cd-popup-container .cd-buttons li:first-child a {
  background: #337ab7;
  border-radius: 0 0 0 .25em;
}
.no-touch .cd-popup-container .cd-buttons li:first-child a:hover {
  background-color: #337ab7;
}
.cd-popup-container .cd-buttons li:last-child a {
  background: #b6bece;
  border-radius: 0 0 .25em 0;
}
.no-touch .cd-popup-container .cd-buttons li:last-child a:hover {
  background-color: #c5ccd8;
}
.cd-popup-container .cd-popup-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  z-index: 9999;
}
.cd-popup-container .cd-popup-close::before,
.cd-popup-container .cd-popup-close::after {
  content: '';
  position: absolute;
  top: 12px;
  width: 14px;
  height: 3px;
  background-color: #8f9cb5;
}
.cd-popup-container .cd-popup-close::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 8px;
}
.cd-popup-container .cd-popup-close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  right: 8px;
}
.is-visible .cd-popup-container {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
@media only screen and (min-width: 1170px) {
  .cd-popup-container {
    margin: 8em auto;
  }
}
.cd-popup-container.sochara_video_player {
  max-width: 720px;
}
.page-media .thumbnail .player i {
  padding: 9px 11px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.photos .photo-thumb.upload md-icon.icon-plus{
  font-size: 36px;
  color: #333;
}

.photos .photo-thumb.upload .create_title{
  font-size: 18px;
  color: #333;
}

.photos .photo-album .bottom_bar_section {
  position: absolute;
  bottom: 0px;
  height: 65px;
  width: 100%;
  background-color: #ffffff;
}

.photos .photo-album .bottom_bar_section .left_album_info .album_name {
  font-size: 16px;
}

.photos .photo-album .bottom_bar_section .left_album_info .item_count {
  font-size: 14px;
}

.photos .photo-album .bottom_bar_section .left_album_info {
  width: 70%;
  float: left;
  text-align: left;
  padding: 7px 0 0 7px;
}

.photos md-grid-tile.photo-album {
  border: 1px solid lightgray;
}

.photos .photo-album .bottom_bar_section .bottom_menu{
  padding-top: 5px;
  float: right;
}
.photos .photo-album .bottom_bar_section .bottom_menu md-icon[md-font-icon]{
  font-size: 33px;
  width: 33px;
  height: 33px;
  min-width: 33px;
  min-height: 33px;
  line-height: 33px;
}

.photos .photo-album .album_cover {
  background-color: #f4f4f4;
  width: 100%;
  height: 85%;
  background-position: center center;
  background-repeat: no-repeat;
}

/** October 5 2017 **/
.page-media.photo-editor-page {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
}
.page-media.photo-editor-page .pesdk-react-editor .pesdk-react-controls__button__label {
  bottom: 1px;
  font-size: 16px;
}
.page-media.photo-editor-page .pesdk-react-editor .pesdk-react-editorScreen__zoom__label {
  font-size: 15px;
}
.page-media.photo-editor-page .pesdk-react-editor .pesdk-react-header__label {
  font-size: 14px;
  color: #ffffff;
}
.page-media.photo-editor-page .pesdk-react-editor .pesdk-react-topBar__button {
  background: #43adeb;
}
.page-media.photo-editor-page .pesdk-react-editor .pesdk-react-topBar__button__label {
  font-size: 15px;
}
.page-media.photo-editor-page .pesdk-react-editor .pesdk-react-controls__list__item {
  padding: 0 15px;
}

#media .location.city-name {
  font-size: 21px;
  text-decoration: underline;
  text-decoration-color: lightgray;
  padding: 10px 0;
  color: #333;
}

#media .header {
  height: 76px;
  min-height: 76px;
  max-height: 76px;
}

/*media end*/


/* Media last edited by Robin */
md-dialog.video_player {
  max-height: inherit !important;
}
/* Media last edited by Robin */
