/*poll start*/
.tab-fields label.label {
  font-weight: bold;
}
.config-tabs input[type=text] {
  border: 1px solid #eaeaea;
  display: block;
  min-width: 300px;
  width: 100%;
  padding: 5px;
}
.config-tabs select {
  padding: 5px;
  border: 1px solid #ddd;
}

md-tabs.poll-tabs .poll-wrap > div {
  border-top: none;
}
md-tabs.poll-tabs .poll-wrap {
  position: relative;
}
md-tabs.poll-tabs .poll-wrap .card-avatar {
  position: absolute;
  right: 10px;
  top: 10px;
}
md-tabs.poll-tabs .card-img {
  background: #f3f3f3;
  min-height: 280px;
}
md-tabs.poll-tabs .card-info {
  padding-top: 0;
  padding-bottom: 0;
}
.cp-poll {
  min-height: 500px;
  max-height: 500px;
}
.wysiwyg {
  border: 1px solid #d7d7d7;
  padding: 5px 0;
}
.wysiwyg md-menu {
  cursor: pointer;
}
.cropArea {
  background: #E4E4E4;
  overflow: hidden;
  width: 300px;
  height: 200px;
}
.text_editor {
  border: none;
  background: #ddd;
  color: #000;
  cursor: text;
}
/************************************** Poll Box Design UI ******************************/
.poll-box {
  width: 260px;
  min-height: 250px;
  margin: 90px 45px;
  float: left;
}
.poll_content_area {
  padding: 10px;
  position: relative;
}
.poll-box #answers .checkbox-custom-alt:hover {
  opacity: 0.8;
}
.poll-box .question {
  font-weight: 600;
}
.poll-box.shadow {
  box-shadow: rgba(0, 0, 0, 0.278431) 0px 0px 7px 2px;
}
.poll-box.noShadow {
  box-shadow: none !important;
}
.poll-box.border {
  border-radius: 8px !important;
  -webkit-border-radius: 8px !important;
  -moz-border-radius: 8px !important;
}
.poll-box.noBorder {
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
}
/*.poll-box.gradient {
  background: -webkit-linear-gradient(top, #2684C5 0%, #5DBBFC 100%);
  background: -moz-linear-gradient(top, #2684C5 0%, #5DBBFC 100%);
  background: linear-gradient(top, #2684C5 0%, #5DBBFC 100%);
}*/
.md-padding.question .col-md-3 {
  padding-left: 0px !important;
}
/************** Default *****************/
.poll-box.default {
  box-shadow: rgba(0, 0, 0, 0.278431) 0px 0px 7px 2px;
}
.poll-box.default .question {
  font-weight: 600;
}
/** October 9 2017 **/
#media .location.city-name {
  font-size: 21px;
  text-decoration: underline;
  text-decoration-color: lightgray;
  padding: 10px 0;
  color: #333;
}
.poll-btn-vote .btn {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  background: #edece7;
  border: 1px solid lightgray !important;
  color: #000;
}
.poll-btn-vote .btn:hover,
.poll-btn-vote .btn-primary:hover {
  background-color: #edece7 !important;
  border: 1px solid #333 !important;
}
#answers .checkbox-custom-alt:hover {
  opacity: 0.8;
}
/************** End Default *****************/
#poll > .header {
  height: 76px;
  min-height: 76px;
  max-height: 76px;
}
.config-tabs .input_question input[type=text] {
  height: 36px;
  padding-left: 10px;
}
.config-tabs .ans_text input[type=text] {
  margin-left: 15px;
  border: none;
  border-bottom: 1px solid lightgray;
}
.config-tabs .expire_on_time .layout-row {
  padding: 0;
}
.expire_on_date .md-datepicker-input-container input {
  width: 85px;
}
ul#shareContact {
  padding: 0;
  margin: 0;
}
ul#shareContact li {
  display: inline-block;
  background-color: #c8fdf3;
  border-radius: 20px;
  line-height: 1;
  float: left;
  margin-right: 7px;
  margin-bottom: 10px;
}
.btn-gr-left .md-button {
  margin-left: 0;
}

.btn-small.md-button {
  line-height: 24px;
  min-height: 24px;
}
ul#shareContact li .md-button.md-icon-button {
  width: 24px;
  height: 24px;
  line-height: 1;
  padding: 0;
  margin: 0;
  min-height: 24px;
  visibility: hidden;
  opacity: 0;
  transition: all .3s;
}
ul#shareContact li:hover .md-button.md-icon-button {
  visibility: visible;
  opacity: 1;
}
ul#shareContact li span {
  display: inline-block;
  vertical-align: middle;
}
ul#shareContact li md-icon {
  font-size: 18px;
  text-align: center;
}
ul#shareContact li md-icon.nodisturb {
  color: #f23122;
}
ul#shareContact li md-icon.online {
  color: #03a747;
}
ul#shareContact li md-icon.away {
  color: #ff9800;
}
ul#shareContact li md-icon.offline {
  color: #c7c7c7;
}
.share-contact-wrap {
  border: 1px solid #ddd;
  padding: 10px;
  margin-top: 1px;
}
/*search-wrap */
.search-wrap {
  border: 1px solid #ddd;
  padding: 0!important;
  position: relative;
}
.search-wrap input[type=text] {
  border: none;
  padding: 5px 10px;
}
.search-wrap .md-button {
  margin: 0;
}
#choiceAnswer .ans_text.inputAns {
  padding: 17px 0;
}
.poll-tabs .tab-content-wrap {
  max-height: 580px;
}
.cards-tabs .tab-content-wrap .card-info h5 {
  cursor: pointer;
}
.poll-design-wrap {
  cursor: pointer;
  width: 220px;
  max-height: 200px;
}
.poll-wrap {
  border: 1px solid #e7e7e7;
  margin-bottom: 20px;
}
.poll-wrap > div {
  border-top: 8px solid #f2f2f2;
}
.poll-info {
  padding: 10px;
}
.poll-info h5,
.poll-info p {
  margin: 0;
}
.poll-info h5 {
  font-size: 13px;
  color: #00d6ac;
}
.poll-info p {
  font-size: 12px;
  color: #c2c2c2;
}
md-tabs.config-tabs .md-tab {
  text-transform: none;
}
.tab-items h3.items-head {
  color: #00d6ac;
  font-size: 18px;
}
.tab-item-wrap {
  margin-right: 10px;
  margin-bottom: 20px;
}
.nev-content-head {
  padding-left: 12px!important;
  border: 1px solid #ddd;
  border-top: none;
}
.nev-content-head h3,
.nev-content-head p,
.nev-content-head .md-button {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.nev-content-head h3 {
  color: #00d6ac;
  font-size: 13px;
}
.nev-content-head p {
  color: #000;
  opacity: .35;
  font-size: 12px;
}
.config-tabs md-tab-content .layout-row.item-thumb{padding: 0;}

.item-thumb {
  position: relative;
  border: 1px solid #ddd;
  overflow: hidden;
  min-height: 150px;
}
.tab-item-wrap .item-thumb {
  height: 150px;
}
.item-thumb .md-button,.item-thumb .md-button img{width: 100%;border-radius: 0;}
.item-thumb .item-avatar {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 9;
}
.item-thumb .item-avatar .avatar {
  max-width: 34px;
  min-width: 34px;
  max-height: 34px;
  height: 34px;
  border: 3px solid transparent;
}
.item-thumb .item-avatar.online .avatar {
  border-color: #4caf50;
}
.item-thumb .item-avatar.offline .avatar {
  border-color: #616161;
}
.item-thumb .item-avatar.away .avatar {
  border-color: #ffc107;
}
.item-thumb .item-avatar.nodisturb .avatar {
  border-color: #f44336;
}
md-tabs.poll-tabs {
  background: #fff;
}
.item-create {
  height: 100%;
  min-height: 150px;
  margin-right: 10px;
  margin-bottom: 20px;
}
.item-create .md-button {
  border: 2px dotted #bcbcbc;
  width: 100%;
  height: 100%;
  margin: 0;
  text-transform: none;
}
.item-create .md-button md-icon {
  width: 50px;font-size: 36px;
}
.item-create .md-button p {
  margin: 0;
}
.tab-item-wrap.inactive .item-thumb > img {
  filter: grayscale(90%);
}
.tab-item-wrap .item-thumb > img {
  width: 100%;
}

.nev-content-head h3.draft_title {
  cursor: pointer;
}
/*poll end*/
