* {
  -webkit-print-color-adjust: exact !important;   /* Chrome, Safari */
  color-adjust: exact !important;                 /*Firefox*/
}
* { target-new: tab ! important }
.no-print{
  display: none !important;
}
body
{
  margin: 5mm 25mm 0 25mm;
}

/*body.A4.landscape .sheet { width: 297mm; height: 209mm }*/

@media print
{
  @page
  {
    /*margin: 10px;*/
    size: landscape; //auto, portrait, landscape or length (2 parameters width and height. sets both equal if only one is provided. % values not allowed.)
  }
}

.card-preview .draggable, input.tool.txt_input{
  border: none;
}

.card___content_wrap {
  background-color: green;
  position: relative;
}

div.card___content_wrap div.card___content_layer.image {
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}
.card___content_layer, .card___content_filled {
  position: absolute;
}



