/*print start*/

.btn-cus{
  border: 1px solid #dcdcdc;
  border-radius: 3px;
  min-height: 22px;
  line-height: 22px;
  margin: 0 3px;
  flex: 1 1 100%;
  min-width: 90px;
  background: #f5f5f5;
  background: -moz-linear-gradient(top, #f5f5f5 0%, #f1f1f1 100%);
  background: -webkit-linear-gradient(top, #f5f5f5 0%, #f1f1f1 100%);
  background: linear-gradient(to bottom, #f5f5f5 0%, #f1f1f1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#f1f1f1', GradientType=0);
}
.print_wrap { padding: 24px 5%; background: #bdbdbd; }
.printContent { border-top: 2px solid #02a787; box-shadow: 0 1px 0 #57c4af inset; background: #fff; padding-bottom: 20px; }
.printContent .heading { padding: 20px; border-bottom: 1px solid #ddd; }
.printContent .heading h2 { margin: 0; }
@media print {
  * { -webkit-print-color-adjust: exact; }
  html, body {
    width: auto;
    height: auto;
    overflow: visible !important;
  }
  #layout-vertical-navigation #content-container,
  .ms-scroll,
  .page-layout { overflow: visible !important; background-color: #fff;}
  .noprint {
    visibility: hidden;
    display: none;
  }
  .page-print {
    margin: 0;
    border: initial;
    border-radius: initial;
    width: initial;
    min-height: initial;
    box-shadow: initial;
    background: initial;
    page-break-after: always;
  }
  .print_wrap { background: none; padding: 0; }
  .printContent { border-top: none; box-shadow: none; }
  .printContent .page-print { border: none; box-shadow: none; border-radius: 0; margin: 0; }
  .content-wrap { margin: 0 auto; box-shadow: none; border-radius: 0; border: none; }
  hr { display: none }
  br { display: none }
}
/*print end*/
