/*profile start*/
#profile {
  .header {
    background: url('/images/backgrounds/inner-header-bg.jpg') no-repeat;
    height: auto;
    padding: 60px 24px 30px;
    min-height: inherit;
    max-height: inherit;
    background-size: cover;
  }

  .file_upload_area .drop-box {
    border: 2px dashed lightgray;
    padding: 100px 65px;
    margin: 7px 0;
  }

}
.profile_crop_area.profile_photo{
  width: auto;
  height: 220px;
  background: #E4E4E4;
}


.file_upload_area .drop-box {
  border: 2px dashed lightgray;
  padding: 100px 65px;
  margin: 7px 0;
}
.profile_crop_area.profile_photo{
  width: auto;
  height: 220px;
  background: #E4E4E4;
}

/*profile end*/


