/*register start*/
#register-v2 #register-v2-intro{
  background: url("../images/backgrounds/login.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 50px 50px 50px 120px;
  .logo{
    margin-bottom: 20px;
    width: 115px;
    height: 115px;
    line-height: 115px;
    background-size: cover;
    background-position: center center;
  }
  .title {
    font-size: 52px;
    font-weight: 200;
    color: #ffffff;
  }
  .description {
    padding: 8px 0;
    font-size: 18px;
    font-weight: 200;
    color: #ffffff;
  }
  .button.trial {
    display: inline-block;
    padding: 6px 28px;
    border: 1px solid lightgray;
    color: #ffffff;
    font-weight: 300;
    font-size: 17px;
    border-radius: 18px;
    margin: 20px 0;
    cursor: pointer;
    background: transparent;
  }
  span.uppercase {
    color: #ffffff;
    font-weight: 200;
    text-transform: uppercase;
    font-size: 14px;
    clear: both;
    display: inline-block;
    padding-top: 10px;
  }
  .social-icons{
    display: block;
    clear: both;
    padding-top: 10px;
    ul{
      margin: 0;
      padding: 0;
      li{
        list-style-type: none;
        a{
          float: left;
          padding: 6px;
          border-radius: 50%;
          text-decoration: none;
          border: 1px solid #e2dfdd;
          width: 30px;
          height: 30px;
          margin-right: 4px;
          i.icon{
            color: #ffffff;
            font-size: 15px;
          }
        }
      }
    }

  }
}
#register-v2{
  background: none;
  #register-v2-form-wrapper {
    #register-v2-form {
      padding-top: 50px;
      .title{
        font-size: 18px;
      }
      form{
        .submit-button {
          border-radius: 17px;
        }
      }
    }
  }
}
/*register end*/
