/*toolbar start*/
#toolbar {
  height: 85px;
  min-height: 85px;
  max-height: 85px;
}
#toolbar .avatar-wrapper img{width: 50px;height: 50px;}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
}

md-toolbar.md-default-theme.md-menu-toolbar, md-toolbar.md-menu-toolbar {
  background: #3ecbe7;
  background: -moz-linear-gradient(left, #3ecbe7 1%, #69e5d0 100%);
  background: -webkit-linear-gradient(left, #3ecbe7 1%, #69e5d0 100%);
  background: linear-gradient(to right, #3ecbe7 1%, #69e5d0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3ecbe7', endColorstr='#69e5d0', GradientType=1);
}

i.logo.sochara {
  width: 64px;
  height: 64px;
  background-image: url(../images/logos/dash_logo.png);
  background-repeat: no-repeat;
  background-position: center center;
  margin: 10px 17px;
  cursor: pointer;
}

#toolbar {
  #user-menu{
    padding-right: 15px;
  }
  .toolbar-separator {
    background: #70d9ec;
    margin-left: 5px;
  }
  .toolbar-date {
    margin-left: 15px;
    padding: 15px 0;
    span {
      font-size: 23px;
      text-align: center;
      color: #ffffff;
      font-family: "Roboto", "Helvetica Neue", "Arial", sans-serif;
      font-weight: 300;
    }
  }
  label.search-input{
    position: relative;
  }
  input:-ms-input-placeholder{
    color: white;
  }

   input::-webkit-input-placeholder{
    color: white;
  }

  .search-input span.search-icon:before{
    content: "\e8eb";
    font-family: 'icomoon';
    speak: none;
    font-size: 24px;
    width: 24px;
    height: 24px;
    color: #ffffff;
  }
  .search-input span.search-icon{
    position:absolute; display:block; width:27px; left:5px; padding-top: 8px;
  }

  input.topbar-search {
    background-color: #7ae0e6;
    padding: 12px 15px;
    border-radius: 3px;
    color: #ffffff;
    width: 100%;
    font-family: Roboto, "Helvetica Neue", FontAwesome, Arial, sans-serif;
    font-weight: 300;
  }
  .user-button.md-button{
    min-width: 1px;
    width: auto;
    .topbar_menu_icon{
      width: 32px;
      font-size: 32px;
      color: #ffffff;
    }
  }

}
#top-menu.top-menu-wrapper {
  width: 320px;
  padding: 25px;
  display: block;
  color: #ffffff;
  .menu-item {
    .menu-icon{
      width: 32px;
      height: 32px;
      font-size: 32px;
      display: block;
      color: @color-sochara3;
    }
    span{
      display: block;
      text-align: center;
      color: @color-sochara-black;
    }
    width: 90px;
    max-width: 90px;
    padding: 15px 0;
    float: left;
    border: 1px solid transparent;
    border-radius: 3px;
    cursor: pointer;
  }
  .menu-item:hover{
    border-color: lightgrey;
  }
}

#top-menu.top-menu-wrapper > *{
  transition: all 50ms ease-in-out;;
}

#user-menu .md-open>button{
  background: transparent;
}
#nav-menu .md-open>button{
  background: transparent;
}

#top-menu.top-menu-wrapper:after, #top-menu.top-menu-wrapper:before {
  bottom: 100%;
  right: 99px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

#top-menu.top-menu-wrapper:before {
  border-bottom-color: #ffffff;
  border-width: 8px;
}

md-menu-bar#nav-menu{
  padding: 0 3px;
}


.page-layout.simple.right-sidenav > .center .header{
  background-image: url("../images/header_bg.png");
}
/*toolbar end*/
