<div class="template-9">
    <div class="header p-16" layout="row" layout-align="start center">
        <div ng-if="card.avatar">
            <img class="avatar mr-16" ng-src="{{card.avatar.src}}" alt="{{card.avatar.alt}}">
        </div>

        <div class="info">
            <div class="title" ng-if="card.title">
                {{card.title}}
            </div>

            <div class="subtitle secondary-text" ng-if="card.subtitle">
                {{card.subtitle}}
            </div>

        </div>
    </div>

    <div class="text ph-16 pb-16" ng-if="card.text">
        {{card.text}}
    </div>

    <div class="media">
        <img class="image" ng-src="{{card.media.image.src}}" alt="{{card.media.image.alt}}" ng-show="card.media.image">
    </div>

    <div class="buttons m-8">
        <md-button class="md-icon-button mr-16" aria-label="Favorite">
            <md-icon md-font-icon="icon-heart-outline" class="s40"></md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="Share">
            <md-icon md-font-icon="icon-share" class="s40"></md-icon>
        </md-button>
    </div>

</div>
