<div class="event_details_popover">

  <md-button class="md-icon-button sm-button close-btn" ng-click="vm.closePopoverHtml()">
    <md-icon md-font-icon="icon-close"></md-icon>
  </md-button>
  <div layout="row" layout-align="space-between start" class="mt-5 pl-20 pr-20 pt-10 pb-10">
    <div class="event-color btn-gr-left">
      <md-button ng-click="vm.showDivPopoverPicker = !vm.showDivPopoverPicker" class="md-icon-button {{vm.eventDetails.color.eventColor}} bg7 sm-button">
        <md-icon class="icon-menu-down white-fg"></md-icon>
      </md-button>
      <div class="color-select" ng-show="vm.showDivPopoverPicker">
        <p>Choose an event color:</p>
        <md-button class="md-icon-button def" ng-click="vm.eventDetails.color.textColor='';vm.showDivPopoverPicker=false">
          <md-icon class="icon-close-circle-outline" aria-hidden="true"></md-icon>
        </md-button>
        <span>|</span>
        <md-button ng-repeat="clr in vm.colorItemArr"
                   class="md-icon-button {{clr}} {{vm.eventDetails.color.eventColor===clr?'check':''}}"
                   ng-click="vm.eventDetails.color.eventColor=clr;vm.showDivPopoverPicker=false;vm.changeColorOfEvent();">
          <md-icon></md-icon>
        </md-button>

      </div>
    </div>
    <h3 class="flex m-0" ng-bind="vm.eventDetails.title"></h3>
  </div>
  <div class="pover-content">
    <div class="event-details">
      <div ms-scroll class="mh-300 p-20 pop-content">
        <div layout="row" layout-align="start start">
          <div flex="10"><md-icon md-font-icon="icon-clock"></md-icon></div>
          <div flex>
            <h4 class="h4" ng-bind="vm.eventDetails.date"></h4>
            <span ng-if="vm.eventDetails.time" ng-bind="vm.eventDetails.time"></span><br>
            <span>{{vm.eventDetails.isRepeated?'Repeated '+vm.eventDetails.repeat.repeatType:'Does not repeat'}} </span>
          </div>
        </div>

        <div layout="row" layout-align="start start" ng-if="vm.eventDetails.place">
          <div flex="10"><md-icon md-font-icon="icon-map-marker"></md-icon></div>
          <div layout="column" flex>
            <h4 class="h4" ng-bind="vm.eventDetails.place"></h4>
          </div>
        </div>


        <div layout="row" layout-align="start start">
          <div flex="10" class="pt-15"><md-icon md-font-icon="icon-account"></md-icon></div>
          <div layout="column" flex>
            <div layout="row">
              <div layout="row" class="response">
                <div class="yes" ng-class="{responseBorder: vm.eventDetails.showMeAs==='available', select: vm.eventDetails.showMeAs==='available'}"
                     ng-click="vm.eventDetails.showMeAs='available';vm.responseOrganizerChange();">
                  <img class="avatar" ng-src="{{vm.eventDetails.attendee.photo_url}}" alt="profile">
                </div>
                <div class="no" ng-class="{responseBorder: vm.eventDetails.showMeAs==='busy', select: vm.eventDetails.showMeAs==='busy'}"
                     ng-click="vm.eventDetails.showMeAs='busy';vm.responseOrganizerChange();">
                  <img class="avatar" ng-src="{{vm.eventDetails.attendee.photo_url}}" alt="profile">
                </div>
                <div class="notsure" ng-class="{responseBorder: vm.eventDetails.showMeAs==='tentative' , select: vm.eventDetails.showMeAs==='tentative'}"
                     ng-click="vm.eventDetails.showMeAs='tentative';vm.responseOrganizerChange();">
                  <img class="avatar" ng-src="{{vm.eventDetails.attendee.photo_url}}" alt="profile">
                </div>
              </div>
              <textarea ng-if="!vm.eventDetails.attendee.role==='organizer'" class="border p-10 ml-20" flex placeholder="write your comment" ng-model="vm.eventDetails.attendee.comment" class="border p-10"></textarea>
            </div>
            <p ng-if="vm.eventDetails.showMeAs">You select your response “ <span class="yes">{{vm.eventDetails.showMeAs}}</span> ”</p>
            <p ng-if="!vm.eventDetails.showMeAs">Please select your response from above options!</p>
          </div>
        </div>
        <div layout="row" layout-align="start center">
          <div flex="10"><md-icon md-font-icon="icon-bell-ring"></md-icon></div>
          <div layout="column" flex>
            <h4 class="h4">30 Minutes before</h4>
          </div>
        </div>


        <md-divider class="mt-15 mb-15" ng-if="!vm.eventDetails.attendee.role==='organizer'"></md-divider>

        <div class="official-schedule-signup" ng-if="!vm.eventDetails.attendee.role==='organizer' && vm.eventDetails.signup && vm.eventDetails.signup.length">
          <div layout="row" layout-align="space-between center" class="nopad">
            <strong flex="20" class="mr-10">Sign Up</strong>
            <strong flex="30" class="mr-10">Times</strong>
            <strong flex="20" class="mr-10">Have / <span>Need</span></strong>
            <strong flex class="mr-10">Bringing</strong>
          </div>
          <div layout="row" layout-align="space-between center" ng-repeat="signup in vm.eventDetails.signup" class="nopad">
            <div flex="20" class="mr-10 inplike text-truncate" title="{{signup.job}}" ng-bind="signup.job || 'input job here'"></div>
            <div flex="30" class="mr-10 inplike text-truncate">{{signup.start|date:"h:mma"}} to {{signup.end|date:"h:mma"}}</div>
            <div flex="20" class="mr-10 inplike text-truncate">{{signup.have?signup.needed - signup.have : signup.needed}}</div>
            <div flex layout="row">
              <input type="number" class="mr-10 border w-70" ng-model="signup.have">
              <div flex align="right" class="event-color colors-right">
                <md-button ng-click="vm.showSignupJobColorSelector[$index]=!vm.showSignupJobColorSelector[$index]" class="md-icon-button bg7 sm-button">
                  <md-icon class="icon-menu-down white-fg"></md-icon>
                </md-button>
                <!--<div class="color-select" ng-show="showDiv1">-->
                  <!--<p>Choose an event color:</p>-->
                  <!--<md-button class="md-icon-button sm-button" style="background-color:{{vm.jobColorSelector(item)}}"-->
                             <!--ng-click="vm.showSignupJobColorSelector[$index]=!vm.showSignupJobColorSelector[$index]">-->
                    <!--<md-icon md-font-icon="icon-menu-down"></md-icon>-->
                  <!--</md-button>-->
                  <div ng-show="vm.showSignupJobColorSelector[$index]" class="timepop" layout="row"
                       layout-align="space-around stretch">
                    <div class="color-select signupJobColor">

                      <md-button ng-repeat="clr in vm.colorItemArr"
                                 class="md-icon-button {{clr}} {{item.color===clr?'check':''}}"
                                 ng-click="item.color=clr;vm.showSignupJobColorSelector=false">
                        <md-icon></md-icon>
                      </md-button>

                    </div>
                  </div>
                  <span>|</span>
                  <md-button class="md-icon-button def">
                    <md-icon class="icon-close-circle-outline" aria-hidden="true"></md-icon>
                  </md-button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <md-divider ng-if="!vm.eventDetails.attendee.role==='organizer'" class="mt-15 mb-15"></md-divider>

        <div class="remember-me" ng-if="!vm.eventDetails.attendee.role==='organizer'">
          <div layout="row">
            <label class="w-120 pt-10"><input type="checkbox"> Remind me</label>
            <div flex>
              <div layout="row" layout-align="space-between center" ng-repeat="reminder in vm.eventDetails.signupReminder">
                <label class="w-120">{{reminder.name}} Reminder:</label>
                <input class="w-80" type="number" ng-model="reminder.value">
                <select class="w-80" ng-model="reminder.type">
                  <option ng-repeat="type in vm.signupReminderTypes" value="{{type}}">{{type}}</option>
                </select>
                <md-switch class="m-0" ng-model="reminder.yes"></md-switch>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="p-10 bt btn-area-bottom" layout="row" layout-align="space-between center">
        <md-button class="btn-basic lh-2" ng-if="vm.eventDetails.attendee.role==='organizer'" ng-click="vm.deleteEvent();">Delete Event</md-button>
        <md-button class="btn-violate lh-2" ng-if="vm.eventDetails.attendee.role==='organizer'" ng-click="vm.editEvent();">Edit Event</md-button>
        <md-button class="btn-violate lh-2" ng-if="!vm.eventDetails.attendee.role==='organizer'" ng-click="vm.updateCurrentEvent()">Update</md-button>
        <!--<md-button class="btn-violate lh-2">Update</md-button>-->
      </div>
    </div>
  </div>
</div>
