<md-dialog class="album-create" aria-label="Upload Files">
  <md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
      <h3 class="title">Edit recurring event</h3>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <div layout="row">
      <md-radio-group ng-model="vm.saveEventFor">
        <md-radio-button value="this">This event</md-radio-button>
        <md-radio-button value="all">All events</md-radio-button>
      </md-radio-group>
    </div>
    <div layout="row" layout-align="end">
      <md-button class="btn-basic lh-1 no-margin" ng-click="vm.closeDialog()">CANCEL
      </md-button>
      <div flex="5"></div>
      <md-button class="btn-violate lh-1 no-margin" ng-click="vm.recurringEventUpdateConfirm();">OK
      </md-button>
    </div>
  </md-dialog-content>
</md-dialog>
