<md-dialog class="event-form-dialog group-creation-new" aria-label="New Message" style="width:428px;" ng-init="vm.initializeNewGroup()">
  <form name="contactForm" class="md-inline-form" novalidate>
    <md-toolbar class="md-accent md-hue-2">
      <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
        <span class="title"><md-icon md-font-icon="icon-account"></md-icon> Create A New Group</span>
        <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close dialog">
          <md-icon md-font-icon="icon-close"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content ms-scroll>
      <md-input-container class="md-block" md-no-float>
        <input ng-model="vm.newGroup.name" placeholder="Group Name">
      </md-input-container>

      <span class="title" ng-if="vm.selectedGroupContacts && vm.selectedGroupContacts.length">Group Members</span>
      <md-content class="autocomplete" layout="column" flex>
        <md-contact-chips
          md-autofocus="true"
          ng-model="vm.selectedGroupContacts"
          md-contacts="vm.newGroupContactSearch($query)"
          md-contact-name="name"
          md-contact-email="email"
          md-contact-image="image"
          md-highlight-flags="i"
          filter-selected="vm.filterSelected"
          placeholder="Search Contact to Add">
        </md-contact-chips>


        <md-list class="fixedRows contacts" ms-scroll>
          <md-list-item class="md-2-line contact-item" ng-repeat="(index, contact) in vm.newGroupContacts"
                        ng-if="vm.selectedGroupContacts.indexOf(contact) < 0"
                        ng-click="vm.addContactToNewGroup(contact)">
            <img ng-src="{{contact.image}}" class="md-avatar avatar" ng-class="contact.mode"
                 alt="{{contact.name}}"/>
            <div class="md-list-item-text compact">
              <h3>{{contact.name}}</h3>
              <p ng-bind="contact.status"></p>
            </div>
          </md-list-item>
        </md-list>


      </md-content>

    </md-dialog-content>

    <md-dialog-actions layout="row" layout-align="space-between center">
      <md-button ng-click="vm.createNewGroup()" class="btn-violate btn-small" aria-label="Send Request"
                 ng-disabled="contactForm.input.$error.required">
        CREATE
      </md-button>

      <md-button class="btn-basic btn-small" ng-click="vm.closeDialog()" aria-label="Delete">
        <md-tooltip><span>Discard</span></md-tooltip>
        Discard
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
