<md-dialog class="compose-dialog add-user dialog-wrap" aria-label="Add/Edit user">
  <form class="md-inline-form">
    <md-dialog-heading layout="row">
      <div flex="60"><h2>Save Label</h2></div>
      <div flex="40" right dialog-btn>
        <md-button ng-click="vm.closeDialog();">Cancel</md-button>
        <md-button btn-purple ng-click="vm.saveLabel();vm.closeDialog();">Update</md-button>
      </div>
    </md-dialog-heading><!--md-dialog-heading-->

    <md-dialog-content ms-scroll>
      <strong>Save Label as</strong>
      <input ng-model="vm.labelSavingName" placeholder="Label Name"/>
    </md-dialog-content><!--md-dialog-content-->

  </form>
</md-dialog>
