
<md-dialog class="compose-dialog add-user dialog-wrap" aria-label="Add/Edit user">
  <form class="md-inline-form">
    <md-dialog-heading layout="row">
      <div flex="80"><h2>Save as PDF</h2></div>
      <div flex="20" right dialog-btn>
        <md-button ng-click="vm.closeDialog();">Cancel</md-button>
      </div>
    </md-dialog-heading><!--md-dialog-heading-->
<div style="padding:20px;">
  <span style="font-size:18px;">Your file is read!</span>&nbsp;
  <a ng-href="{{'/'+vm.pdfDownlodLink}}" target="_blank"><md-button><md-icon md-font-icon="icon-file-pdf"></md-icon> Download</md-button></a>

</div>

  </form>
</md-dialog>
