<md-dialog class="confirm-delete-account" aria-label="New GMail" ng-init="vm.getGMailAuthUrl()">
  <form class="md-inline-form">
    <md-toolbar class="md-accent md-hue-2">
      <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
        <span class="title">Remove Account <small ng-if="!vm.selectedRemoveAccount">(Please select an account)</small></span>
        <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close dialog">
          <md-icon md-font-icon="icon-close"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <div flex layout="row" layout-align="center">
      <md-dialog-content>
        <div flex layout="row" layout-align="center">
          <md-radio-group ng-model="vm.selectedRemoveAccount" class="layout-row add_account">
            <div layout="column">
              <md-radio-button ng-repeat="account in vm.accounts" value="{{account.email}}" class="flex account {{account.provider}}">{{account.email}}</md-radio-button>
            </div>
          </md-radio-group>
        </div>

        <div ng-if="vm.selectedRemoveAccount">
          <h3>You are about to remove account: <strong ng-bind="vm.selectedRemoveAccount"></strong>. Are you sure ?</h3>
          <div class="compose-button">
            <md-button class="md-accent md-raised" aria-label="Gmail Auth" ng-click="vm.removeAccountConfirm()">Yes</md-button>
            <md-button class="md-accent md-raised" aria-label="Gmail Auth" ng-click="vm.closeDialog()">No</md-button>
          </div>
        </div>
      </md-dialog-content>
    </div>
  </form>
</md-dialog>
