<div id="calendar" class="page-layout simple fullwidth hp-100" layout="column" layout-align="start stretch">

  <!-- HEADER -->
  <!--<div class="header"  ng-class="vm.currentMonthShort">-->
  <div class="header">


    <div class="header-content" layout="column" layout-align="space-between">

      <div class="header-top" layout="row" layout-align="space-between center" layout-xs="column">
        <div class="logo" layout="row" layout-align="start center">
                    <span class="logo-icon">
                        <md-icon md-font-icon="icon-calendar-today"></md-icon>
                    </span>
          <span class="logo-text">Calendar</span>
          <div class="checkbox">
            <md-checkbox ng-click="vm.changeViewEvent('event')" ng-model="vm.showEventsOnly" class="md-primary">
              Events
            </md-checkbox>
            <md-checkbox ng-click="vm.changeViewEvent('holiday')" ng-model="vm.showHolidayEvent" class="md-primary">
              Holidays
            </md-checkbox>
            <md-checkbox ng-click="vm.changeViewEvent('birthday')" ng-model="vm.showBirthdayEvent" class="md-primary">
              Birthday/Anniversary
            </md-checkbox>
          </div>
        </div>

        <!-- TOOLBAR -->
        <div class="toolbar" layout="row" layout-align="start center">
          <div class="btn-group-cal-head">

            <md-button class="ra-tl-bl" ng-click="vm.goToToday()" aria-label="Today">
              <span>Today</span>
              <md-tooltip>Today</md-tooltip>
            </md-button>

            <md-button class="ra-tl-bl" ng-class="{'active': vm.agendaViewClass==='day'}"
                       ng-click="vm.calendarChangeView('agendaDay')" aria-label="Day">
              <span>Day</span>
              <md-tooltip>Day view</md-tooltip>
            </md-button>

            <md-button ng-class="{'active': vm.agendaViewClass==='agendaWeek'}"
                       ng-click="vm.calendarChangeView('agendaWeek')"
                       aria-label="Week">
              <span>Week</span>
              <md-tooltip>Week view</md-tooltip>
            </md-button>

            <md-button ng-class="{'active': vm.agendaViewClass==='month'}"
                       ng-click="vm.calendarChangeView('month')"
                       aria-label="Month">

              <span>Month</span>
              <md-tooltip>Month view</md-tooltip>
            </md-button>



            <md-menu class="toolbar-menu" md-offset="0 43">
              <md-button ng-click="$mdMenu.open($event)" aria-label="Add event" class="ra-all">
                <md-icon md-font-icon="icon-cog"></md-icon>
                <md-icon md-font-icon="icon-menu-down"></md-icon>
              </md-button>
              <md-menu-content width="3">
                <md-menu-item>
                  <md-button ng-click="vm.showAccountSettingDialogue()">
                    <!--<md-icon md-font-icon="icon-calendar"></md-icon>-->
                    Integrated Account
                  </md-button>
                </md-menu-item>

              </md-menu-content>
              <!--ng-click="vm.addEvent($event)"-->
            </md-menu>

          </div>
        </div>
      </div>
      <!-- / TOOLBAR -->

      <!-- HEADER BOTTOM -->
      <div class="header-bottom" layout="row" layout-align="space-between center">
        <div flex="40" flex-offset="30" layout="row" layout-align="center center" class="cal-view-title">
          <md-button class="md-icon-button arrow" ng-click="vm.prev()"
                     aria-label="Previous">
            <md-icon md-font-icon="icon-arrow-left"></md-icon>
          </md-button>

          <div class="title">
            {{vm.calendarView.title}}
          </div>

          <md-button class="md-icon-button arrow" ng-click="vm.next();" aria-label="Next">
            <md-icon md-font-icon="icon-arrow-right"></md-icon>
          </md-button>

        </div>
        <div flex="30">
          <div class="toolbar" layout="row" layout-align="end center">
            <!--md-button style="{{vm.swapRequests.length?'background:#dc891b;color:black;':'background:gainsboro;'}}" ng-click="vm.swapRequests.length?vm.showSwapRequests():''"><md-icon md-font-icon="icon-sync"></md-icon> Swap Requests ({{vm.swapRequests.length}})&nbsp;</md-button-->
            <md-button ng-click="vm.filterAllEvents();vm.isAllEventsFiltered=!vm.isAllEventsFiltered">
              <md-icon ng-if="vm.isAllEventsFiltered" md-font-icon="icon-calendar-check"></md-icon>
              <md-icon ng-if="!vm.isAllEventsFiltered" md-font-icon="icon-calendar-blank"></md-icon>
            </md-button>

          </div>
        </div>
      </div>
      <!-- / HEADER BOTTOM -->
    </div>

  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content" flex>
    <div id="eventDetailsPopover" class="<!--bottom right-->"><div ng-if="vm.showEventDetailsPopover" class="popover_inner fade-element-in" ng-include="'app/main/calendar/popover/event_details.html'"></div></div>
    <div class="loading-threads gray-color" layout="column" layout-align="center center" ng-if="vm.loadingCalendar">
      <md-progress-circular class="md-accent" md-mode="indeterminate" md-diameter="64"></md-progress-circular>
      <!--<div>Loading Chat...</div>-->
      <span class="app-title">Loading Calendar...</span>
    </div>
    <div class="eventCalendar" layout="row" layout-align="space-between stretch">
      <div id="calendarView" ms-scroll ui-calendar="vm.calendarUiConfig.calendar" ng-model="vm.events" calendar="main" flex></div>
      <div class="calendarSidebar" >
        <div align="center">
          <md-button class="add-event-button btn-violate" ng-click="vm.addEvent($event)" aria-label="Add event">Create</md-button>
        </div>

        <div ng-if="vm.loadAndShowTinyCalendar" tiny-calendar events="vm.sidebarCalendarMain"
             day-click="vm.gotoDay(date);" id="mainCal">
        </div>

        <div ng-if="vm.loadAndShowTinyCalendar" tiny-calendar events="vm.sidebarCalendarMain" n_month="1"
             day-click="vm.gotoDay(date);" id="nMonthCal">
        </div>

        <div ng-if="vm.loadAndShowTinyCalendar" tiny-calendar events="vm.sidebarCalendarMain" nn_month="1"
             day-click="vm.gotoDay(date);" id="nnMonthCal">
        </div>
        <br>
        <!--div ng-if="vm.loadAndShowTinyCalendar" tiny-calendar events="vm.sidebarCalendarMain"
             day-click="vm.gotoDay(date)" id="bdayCal" next-month="true"></div-->

      </div>
    </div>
  </div>
  <!-- / CONTENT -->

</div>
