<div style="padding:25px;">
  <div align="center"><h2><img src="/images/logo.png" style="width:55px;height: 55px;"/><span style="line-height: 3;"> Privacy Policy for Sochara Application</span> </h2></div><hr>
  <p><strong>Google’s Privacy Policy for Sochara Application</strong></p>

  Sochara is an web applicaton providing registered users of Google to show their Google accounts data from following area-
  <ul>
    <li>Google Mail - on their email section</li>
    <li>Google contacts - on their contact section</li>
    <li>Google Calendar - on their calendar event view</li>
  </ul>
  <br>
  <br>
  <strong>Authorization</strong><br>
  This Privacy Policy describes how and when Sochara for Google collects, uses and shares your information when you use our Services. Sochara for Google receives your information through Google APIs. We fetch your accounts data when Authorize us to do so using Athenticating your account. When you authencticate you can choose what to fetched by our system. You can de authorize the Application or any services stated above after you authorize us.

  <p><strong>Information Collection and Use</strong></p>
  We fetch data from your account using Google APIs and we don't save those data. These data are fetched on the fly and vanished when you log out the system. We do not share or use your account data. We do not have access to your password. Google does not share users password anyway.


  <p><strong>Cookies: </strong></p> Like many apps, we use cookies and similar technologies to collect additional application usage data and to improve our Services, but we don't store your Google's account data in cookie.
  <p><strong>
    Information Sharing and Disclosure</strong></p>
  We do not disclose your Google account data to anybody and we fetch data in sucure way.

  <p><strong>
    Business Transfers and Affiliates:</strong></p> We will not share your information to any third party or in business transfer and affiliation.

  <p><strong>
    Changes to this Policy</strong></p>
  We may revise this Privacy Policy from time to time. The most current version of the policy will govern our use of your information and will always be at <a href="https://www.sochara.com/page/google-privacy-policy">https://www.sochara.com/page/google-privacy-policy</a>. If we make a change to this policy that, in our sole discretion, is material, we will update <a href="https://www.sochara.com/page/google-privacy-policy">https://www.sochara.com/page/google-privacy-policy</a>. By continuing to access or use the Services after those changes become effective, you agree to be bound by the revised Privacy Policy.
  <br>If you have any questions or comments about this Privacy Policy, please contact us at info@sochara.com
  <p>
    Effective: 1st JUN 2017</p>
</div>
