<!-- USER TOOLBAR -->
<md-toolbar class="md-tall md-accent">

    <!-- TOOLBAR TOP -->
    <div class="md-toolbar-tools md-toolbar-tools-top">

        <md-button class="md-icon-button" ng-click="vm.toggleLeftSidenavView(false)" aria-label="back">
            <md-icon md-font-icon="icon-arrow-left"></md-icon>
        </md-button>

    </div>
    <!-- / TOOLBAR TOP -->

    <!-- TOOLBAR BOTTOM -->
    <div class="md-toolbar-tools md-toolbar-tools-bottom" flex layout="column" layout-align="center center">

        <div layout="column" layout-align="center center">

            <img ng-src="{{vm.user.photo_url}}" class="md-avatar avatar user-avatar huge" alt="{{vm.user.first_name}} {{vm.user.last_name}}"/>

            <div class="user-name">{{vm.user.first_name}} {{vm.user.last_name}}</div>

        </div>

    </div>
    <!-- / TOOLBAR BOTTOM -->

</md-toolbar>
<!-- / USER TOOLBAR -->

<!-- USER CONTENT -->
<md-content class="md-hue-2" flex ms-scroll ms-padding>

    <!-- USER MOOD -->
    <md-card>

        <md-card-title>Mood</md-card-title>

        <md-card-content>

            <span class="mood" editable-textarea="user.status" e-rows="7" e-cols="40" onaftersave="vm.changeUserStatus()">
                {{user.status || 'No mode set yet, click to set now'}}
            </span>

        </md-card-content>

    </md-card>
    <!-- / USER MOOD -->

</md-content>
<!-- / USER CONTENT -->
