<div id="poll" class="page-layout simple left-sidenav inner-sidenav">
  <!-- HEADER -->
  <div class="header" layout="row" layout-align="start center">

    <!-- APP TITLE -->

    <div class="logo" layout="row" layout-align="start center">
      <span class="logo-icon">
          <md-icon md-svg-icon="images/poll/ic_queue_play_next_black_48px.svg" class="h-40 w-40"></md-icon>
        <!--<md-icon md-font-icon="icon-monitor-multiple" class="s40"></md-icon>-->
      </span>
      <span class="logo-text">Polls / Create Question</span>
    </div>
    <div layout="row" layout-align="start center">
      <div layout="row" class="head-btn">
        <md-button ng-click="vm.allDraftPoll('draft')">Draft: <span ng-bind="vm.pollCount.drafts"></span></md-button>
        <md-button ng-click="vm.allDraftPoll()">All Polls:
          <span ng-bind="vm.pollCount.all - vm.pollCount.drafts"></span></md-button>
      </div>
    </div>
  </div>
  <!-- / HEADER -->
  <!-- CONTENT -->
  <div class="content-wrap label-wrap md-whiteframe-2dp">
    <div class="content">
      <div layout="row" layout-align="space-between stretch">
        <div flex class="poll-tabs">
          <md-tabs md-dynamic-height md-no-ink-bar class="poll-tabs config-tabs" md-selected="vm.currentTabIndex">

            <md-tab>
              <md-tab-label>Polls</md-tab-label>
              <md-tab-body>
                <div ng-if="vm.loadingPoll" class="tab-content-wrap loading-threads gray-color" layout="column"
                     layout-align="center center">
                  <md-progress-circular class="md-accent" md-mode="indeterminate"
                                        md-diameter="64"></md-progress-circular>
                  <div>Loading poll items...</div>
                </div>
                <div ng-if="!vm.loadingPoll" class="tab-content-wrap" ms-scroll>
                  <div class="tab-items">
                    <h3 class="items-head">Drafts: <span ng-bind="vm.pollCount.drafts"></span></h3>

                    <div layout="row" class="tabs-row" layout-wrap>

                      <div flex="25" flex-xl="20" flex-md="33" flex-sm="50">
                        <div layout-align="space-between stretch" layout="column">
                          <div class="item-create square-box mr-10 mb-20">
                            <md-button ng-click="vm.initPollObjects(1)">
                              <md-icon md-font-icon="icon-plus"></md-icon>
                              <p>Add poll</p>
                            </md-button>
                          </div>
                        </div>
                      </div>

                      <div flex="25" flex-xl="20" flex-md="33" flex-sm="50"
                           ng-repeat="drftPollData in vm.allPolls | filter:{draft:true}">
                        <div class="mr-10 mb-20 square-box less-height">
                          <div layout="column" layout-align="space-between stretch" class="hp-100">
                            <div class="item-thumb" flex>
                              <md-button ng-click="vm.loadDraftPoll(drftPollData)" class="nomargin nopad">
                                <div class="item-avatar online">
                                  <img class="avatar" ng-src="{{drftPollData.user.photo_url}}"
                                       alt="{{drftPollData.user.first_name}}">
                                </div>
                                <img ng-src="{{vm.getThumbImage(drftPollData.file)}}" alt="poll-small">
                              </md-button>
                            </div>
                            <div layout="row" layout-align="space-between center"
                                 class="nev-content-head pt-no pb-no">
                              <div flex>
                                <h3 class="draft_title">
                                  {{drftPollData.question}}</h3>
                                <p ng-if="drftPollData.users.length"><span ng-bind="drftPollData.users.length"></span>
                                  people shared</p>
                              </div>
                              <md-button class="md-icon-button" ng-click="vm.deletePoll(drftPollData.id)">
                                <md-icon md-font-icon="icon-delete"></md-icon>
                              </md-button>
                            </div>
                          </div>
                        </div>
                      </div>


                    </div>
                  </div>
                  <div class="tab-items">
                    <h3 class="items-head">All Polls: <span ng-bind="vm.pollCount.all - vm.pollCount.drafts"></span>
                    </h3>
                    <div layout="row" class="tabs-row" layout-wrap>

                      <div ng-repeat="drftPollData in vm.allPolls | filter:{draft:!true}" flex="25" flex-xl="20"
                           flex-md="33" flex-sm="50">
                        <div class="mr-10 mb-20 square-box less-height">
                          <div layout="column" layout-align="space-between stretch" class="hp-100">
                            <div class="item-thumb" flex>
                              <div class="item-avatar online">
                                <img class="avatar" ng-src="{{drftPollData.user.photo_url}}"
                                     alt="drftPollData.user.first_name">
                              </div>
                              <img ng-src="{{vm.getThumbImage(drftPollData.file)}}" alt="poll-small">
                            </div>

                            <div layout="row" layout-align="space-between center" class="nev-content-head pt-no pb-no">
                              <div flex>
                                <h3>{{drftPollData.question}}</h3>
                                <p ng-if="drftPollData.users.length"><span ng-bind="drftPollData.users.length"></span>
                                  people shared</p>
                              </div>
                              <md-menu md-offset="0 -7">
                                <md-button aria-label="Open demo menu" class="md-icon-button"
                                           ng-click="$mdMenu.open($event)">
                                  <md-icon md-menu-origin md-font-icon="icon-dots-vertical"></md-icon>
                                </md-button>
                                <md-menu-content width="2">
                                  <md-menu-item ng-if="drftPollData.user.id == user.id">
                                    <md-button ng-click="vm.deletePoll(drftPollData.id)">
                                      <md-icon md-font-icon="icon-delete"></md-icon>
                                      Delete
                                    </md-button>
                                  </md-menu-item>
                                  <md-menu-item>
                                    <md-button ng-href="{{vm.site_url + '/poll/'+ drftPollData.id}}">
                                      <md-icon md-font-icon="icon-monitor"></md-icon>
                                      Poll Display
                                    </md-button>
                                  </md-menu-item>
                                </md-menu-content>
                              </md-menu>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </md-tab-body>
            </md-tab><!--md-tab-->
            <md-tab>
              <md-tab-label>Question</md-tab-label>
              <md-tab-body>
                <div class="tab-content-wrap" ms-scroll>
                  <div class="tab-fields">
                    <div layout="row" layout-align="start center">
                      <label class="label">Question Text:</label>
                    </div><!--row-->
                    <div layout="row" class="input_question" layout-align="start left">
                      <input type="text" class="mr-40" placeholder="Type here" ng-model="vm.poll.question" flex>
                    </div><!--row-->
                    <div layout="row" class="" layout-align="start left">
                      <label class="label w-100 pt-20">Choices:</label>

                      <div id="choiceAnswer" layout-align="start center" flex>
                        <div layout="row" layout-align="space-between stretch" class=" inputAns"
                             ng-repeat="input in vm.inputAnswers track by $index">
                          <input type="text" class="ansTxt halfAns nb-bb" ng-focus="vm.gotoNextQuestion(e);"
                                 ng-change="vm.increaseAnswerInput();" placeholder="Type your choice here"
                                 ng-model="vm.poll.answers[$index].txt" flex="45">
                          <span class="w-30"></span>
                          <!-- icon-plus -->
                          <md-icon md-font-icon="icon-plus" class="poll_image_link_insert" ngf-select="vm.uploadFile($files, $index)" multiple accept="*"
                                   ngf-pattern="'*'" ngf-multiple="true" ngf-max-size="100MB"></md-icon>
                          <input type="text" class="ansImg halfAns nb-bb" ng-focus="vm.gotoNextQuestion(e);"
                                 ng-keyup="vm.getAndInputFiles($index);" ng-change="vm.increaseAnswerInput();"
                                 ng-blur="vm.getAndInputFiles($index);" ng-model="vm.poll.answers[$index].img"
                                 ngf-drop="vm.uploadFile($files, $index)" multiple accept="*"
                                 ngf-pattern="'*'" ngf-multiple="true" ngf-max-size="100MB"
                                 ngf-drag-over-class="'drag_over'"
                                 placeholder="Insert your image/youtube video/files link" flex="43">
                          <input type="hidden" class="imgVidType" value="" ng-model="vm.poll.answers[$index].type">
                          <div>
                            <md-button class="md-icon-button nomargin" aria-label="answer_{{$index}}"
                                       ng-click="vm.deleteAnswer($index);">
                              <md-icon md-font-icon="icon-close"></md-icon>
                            </md-button>
                          </div>
                        </div>
                      </div><!--row-->
                    </div>

                    <div layout="row" layout-align="start center" class="expire_toggle_style">
                      <label class="label">Expires On:</label>
                      <div layout="row" layout-align="start center" flex>
                        <md-datepicker class="custom-datepicker expire_on_date" ng-model="vm.poll.expireDate"
                                       md-placeholder="Enter date"
                                       md-hide-icons="triangle" md-open-on-focus></md-datepicker>&nbsp;&nbsp;
                        <mdp-time-picker class="expire_on_time" mdp-auto-switch="true"
                                         ng-model="vm.poll.expireTime"></mdp-time-picker>
                        <span flex="5"></span>
                        <div layout="row" layout-align="start center">
                          <label class="label mw-auto">Toggle Style:</label>
                          <!-- <md-radio-group ng-model="data.group1">
                             <md-radio-button value="Apple" class="md-primary"></md-radio-button>
                           </md-radio-group>
                           <md-checkbox></md-checkbox>-->
                          <div class=" qc-controll-btn">
                            <i class="fa fa-dot-circle-o fa-2x toggle-active"
                               ng-click="vm.conCheckboxActiveClass();" aria-hidden="true"
                               title="Radio For Single Select"></i>
                            <i class="fa fa-check-square-o fa-2x" ng-click="vm.conRadioActiveClass();"
                               title="Checkbox for Multiple Select"
                               aria-hidden="true"></i>
                            <!--<input style="display: none" ng-model="vm.poll.polltype" name="polltype" value="{{vm.setRadioCheckboxCurr}}" id="polltype">-->
                          </div>
                        </div>
                      </div>
                    </div><!--row-->
                    <div layout="row" layout-align="start center">
                      <label class="label">Show Vote Result:</label>
                      <md-switch ng-model="vm.poll.show_vote_result" aria-label="Switch 1">
                      </md-switch>
                    </div><!--row-->

                    <div layout="row" layout-align="start center">
                      <label class="label">IP Restriction:</label>
                      <md-switch ng-model="vm.poll.ip_restriction" aria-label="Switch 1">
                        This option will make it so a user can only vote once per IP address.
                      </md-switch>
                    </div><!--row-->


                  </div>
                </div>
              </md-tab-body>
            </md-tab><!--md-tab-->
            <md-tab>
              <md-tab-label>Look & Feel</md-tab-label>
              <md-tab-body>
                <div class="tab-content-wrap" ms-scroll>
                  <div layout="row" ng-if="vm.customizeDesign">
                    <div class="" layout="column" flex="65">
                      <div class="tab-fields">

                        <div layout="row" layout-align="start center">
                          <label class="label">Text color:</label>
                          <div spectrum-colorpicker style='width: 63px' ng-model='vm.poll.styles.color'
                               ng-change='vm.changeTextColor()' format='"hex"'></div>
                        </div><!--row-->
                        <hr>

                        <div layout="row" layout-align="start center">
                          <md-checkbox ng-model="vm.bgOptionColor" ng-change="vm.changeBackgroundOption('color', vm.bgOptionColor);" aria-label="Background Image"></md-checkbox>
                          <label class="label">Background color:</label>
                          <div spectrum-colorpicker style='width: 63px' ng-model='vm.poll.styles.bgColor'
                               ng-change='vm.changeBaakgroundColor()' format='"hex"'></div>
                        </div><!--row-->

                        <div layout="row" layout-align="start center">
                          <md-checkbox ng-model="vm.bgOptionGradient" ng-change="vm.changeBackgroundOption('gradient', vm.bgOptionGradient);" aria-label="Background Image"></md-checkbox>
                          <label class="label">Gradient:</label>
                          <div layout="row" layout-align="start center" class="nopad">
                            <select ng-model="vm.poll.styles.gradient.gradientType"
                                    ng-change="vm.changeGradientColor()">
                              <option ng-repeat="option in vm.gradientOptions" value="{{option.values}}">
                                {{option.field}}
                              </option>
                            </select>&nbsp;&nbsp;

                            <div spectrum-colorpicker ng-change="vm.changeGradientColor()"
                                 ng-model='vm.poll.styles.gradient.colorOne'
                                 on-change='!!color && action(color)' format='"hex"'></div>&nbsp;&nbsp;

                            <div spectrum-colorpicker style='width: 63px' ng-change="vm.changeGradientColor()"
                                 ng-model='vm.poll.styles.gradient.colorTwo' on-change='!!color && action(color)'
                                 format='"hex"'></div>
                          </div><!--row-->
                        </div><!--row-->
                        <div layout="row" layout-align="start center">
                          <md-checkbox ng-model="vm.bgOptionImage" ng-change="vm.changeBackgroundOption('image', vm.bgOptionImage);" aria-label="Background Image"></md-checkbox>
                          <label class="label">Background Image:</label>
                          <md-button class="btn-basic nomargin lh-2" ngf-select ng-model="vm.changeBgImage"
                                     ng-click="vm.clearOtherBackground()" accept="image/*">Browse Image
                          </md-button>
                        </div><!--row-->
                        <hr>
                        <div layout="row" layout-align="start center">
                          <label class="label">Poll corner radius:</label>
                          <md-switch ng-model="vm.poll.styles.borderRadius"
                                     ng-change="vm.poll.styles.borderRadius!== true"
                                     aria-label="Switch 1">
                          </md-switch>
                        </div><!--row-->

                        <div layout="row" layout-align="start center">
                          <label class="label">&nbsp;</label>
                          <div class="btn-gr-left">
                            <md-button class="btn-basic h-auto lh-2" ng-click="vm.cancelCustomDesign()">Cancel
                            </md-button>
                            <md-button class="btn-violate h-auto lh-2" ng-click="vm.saveCustomDesign()">Save as
                              Template
                            </md-button>
                          </div>
                        </div><!--row-->

                      </div>
                    </div>
                    <div class="" layout="column" flex="35">
                      <div class="tab-fields">
                        <div ng-if="vm.changeBgImage" ngf-drop ng-model="vm.changeBgImage" ngf-pattern="image/*"
                             class="cropArea" ng-init="vm.getBackgroundImageAcceptRatio()">
                          <img-crop image="vm.changeBgImage" area-type="rectangle" init-max-area="true"
                                    aspect-ratio="vm.cardBackgroundRatio"
                                    result-image-size='{w: vm.cardBackgroundImageWidth, h: vm.cardBackgroundImageHeight}'
                                    result-image="vm.changeBgImageCropped" ng-init="vm.changeBgImageCropped=''">
                          </img-crop>
                        </div>
                        <span ng-if="vm.poll.bgOption=='image' && !vm.changeBgImage">Please select an image to set background.</span>
                      </div>
                    </div>
                  </div>

                  <div class="tab-fields">
                    <div class="label-list">
                      <div layout="row" layout-align="start stretch" class="card-row" layout-wrap>

                        <div flex="25" flex-xl="20" flex-md="33" flex-sm="50">
                          <div layout-align="space-between stretch" layout="column">
                            <div class="tab-item-wrap">
                              <div class="item-create square-box mr-10 mb-20">
                                <md-button ng-click="vm.changePollStyle('default')">
                                  <md-icon md-font-icon="icon-format-paint"></md-icon>
                                  <p>Customize Poll Design</p>
                                </md-button>
                              </div>
                            </div>
                          </div>
                        </div>



                        <div flex="25" flex-xl="20" flex-md="33" flex-sm="50">
                          <div class="mr-10 mb-20">
                            <div class="tab-item-wrap square-box">
                              <md-button class="nopad nomargin" ng-click="vm.changePollStyle('style2')"
                                         style="background: -webkit-linear-gradient(top, #fc8ca8, #E4A8D8);  ">
                                <img src="images/poll/poll.png" alt="poll_design_2">
                              </md-button>
                            </div>
                          </div>
                        </div>

                        <div flex="25" flex-xl="20" flex-md="33" flex-sm="50">
                          <div class="mr-10 mb-20">
                            <div class="tab-item-wrap square-box">
                              <md-button class="nopad nomargin" ng-click="vm.changePollStyle('style3')"
                                         style="background: -webkit-linear-gradient(top, #E276AB, #E4BD8F); ">
                                <img src="images/poll/poll.png" alt="poll_design_3">
                              </md-button>
                            </div>
                          </div>
                        </div>

                        <div flex="25" flex-xl="20" flex-md="33" flex-sm="50">
                          <div class="mr-10 mb-20">
                            <div class="tab-item-wrap square-box">
                              <md-button class="nopad nomargin" ng-click="vm.changePollStyle('style4')">
                                <img src="images/poll/poll_design_4.png" alt="poll_design_4">
                              </md-button>
                            </div>
                          </div>
                        </div>

                        <div flex="25" flex-xl="20" flex-md="33" flex-sm="50">
                          <div class="mr-10 mb-20">
                            <div class="tab-item-wrap square-box">
                              <md-button class="nopad nomargin" ng-click="vm.changePollStyle('style5')">
                                <img src="images/poll/poll_design_5.png" alt="poll_design_5">
                              </md-button>
                            </div>
                          </div>
                        </div>

                        <div flex="25" flex-xl="20" flex-md="33" flex-sm="50">
                          <div class="mr-10 mb-20">
                            <div class="tab-item-wrap square-box">
                              <md-button class="nopad nomargin" ng-click="vm.changePollStyle('style6')">
                                <img src="images/poll/poll_design_6.png" alt="poll_design_6">
                              </md-button>
                            </div>
                          </div>
                        </div>
                        <div flex="25" flex-xl="20" flex-md="33" flex-sm="50">
                          <div class="mr-10 mb-20">
                            <div class="tab-item-wrap square-box">
                              <md-button class="nopad nomargin" ng-click="vm.changePollStyle('style7')">
                                <img src="images/poll/poll_design_7.png" alt="poll_design_7">
                              </md-button>
                            </div>
                          </div>
                        </div>

                        <div flex="25" flex-xl="20" flex-md="33" flex-sm="50"
                             ng-repeat=" customDesign in vm.allCustomDesigns">
                          <div class="mr-10 mb-20">
                            <div class="tab-item-wrap square-box">
                              <md-button class="md-icon-button no-square no-margin btn-sm-icon color-white">
                                <md-icon class="color-white" md-font-icon="icon-delete" ng-click="vm.deleteCustomDesign(customDesign.id)"></md-icon>
                              </md-button>
                              <md-button class="nopad nomargin" ng-click="vm.changePollStyle(customDesign.id)">
                                <img ng-src="{{vm.getThumbImage(customDesign.file)}}" alt="poll_design_7">
                              </md-button>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>

                  </div>
                </div>
              </md-tab-body>
            </md-tab><!--md-tab-->
            <md-tab>
              <md-tab-label>Options</md-tab-label>
              <md-tab-body>
                <div class="tab-content-wrap" ms-scroll style="max-height: 500px;">

                  <div layout="column">
                    <h2>Add Contacts to Share Poll</h2>
                    <!-- new functionalities -->
                    <md-autocomplete
                      md-input-id="searchPeople"
                      md-selected-item="vm.selectedPeoples"
                      md-search-text="vm.searchText"
                      md-no-cache = true
                      md-items="people in vm.peopleSearch(vm.searchText)"
                      md-selected-item-change="vm.selectedPeopleChange(people)"
                      md-item-text="people.name"
                      md-min-length="0"
                      placeholder="Search people" class="poll-search-people">
                      <md-item-template>
                        <div class="avatar-wrapper avail-status">
                          <img md-menu-align-target="" class="avatar" ng-src="{{people.photo_url}}" err-src="images/avatars/blank.jpg" alt="{{people.name}}">
                          <span md-highlight-text="vm.searchText" md-highlight-flags="^i">{{people.name}}</span>
                        </div>
                      </md-item-template>
                    </md-autocomplete>

                    <br>
                    <hr>
                    <div layout="row">
                      <div class="people-list list-item" ng-repeat="item in vm.pollSharedUser track by $index">
                      <md-button class="close-btn md-icon-button">
                        <md-tooltip>Close</md-tooltip>
                        <md-icon md-font-icon="icon-close s20" ng-click="vm.removePeopleFromShare(item.id);vm.pollSharedUser.splice($index,1)"></md-icon>
                      </md-button>
                      <div class="avatar-wrapper avail-status online">
                        <img md-menu-align-target="" class="avatar" ng-src="{{ item.photo_url }}" err-src="images/avatars/blank.jpg">
                      </div>
                      <div class="cal-user-content" flex>
                        <p title="{{item.name}}">{{item.name}}</p>
                      </div>
                      </div>
                    </div>
                    <!-- new functionalities -->

                  </div>
                  <div layout="row" class="btn-gr-left">
                    <md-button class="btn-basic lh-2 plr-20" ng-click="vm.savePoll()">Save</md-button>
                    <md-button class="btn-basic lh-2 plr-20" ng-click="vm.savePoll('draft')">Save as Draft</md-button>
                    <!--<md-button class="btn-violate lh-2 plr-20" ng-click="vm.savePoll('draft')">Share</md-button>-->
                  </div>
                  <hr>
                  <div class="tab-fields">
                    <div layout="row" layout-align="start center">
                      <label class="label">Send at another time:</label>
                      <md-switch aria-label="." ng-model="vm.poll.sendNextTime"></md-switch>

                      <md-datepicker ng-if="vm.poll.sendNextTime" class="custom-datepicker" ng-model="vm.poll.eventDate"
                                     md-placeholder="Enter date"
                                     md-hide-icons="triangle" md-open-on-focus></md-datepicker>
                      &nbsp;&nbsp;
                      <mdp-time-picker ng-if="vm.poll.sendNextTime" class="expire_on_time" mdp-auto-switch="true"
                                       ng-model="vm.poll.eventTime"></mdp-time-picker>

                    </div><!--row-->
                    <div layout="row" layout-align="start center poll_close">
                      <label class="label">Poll is closed label:</label>
                      <input type="text" class="w-250" placeholder="Poll is closed" ng-model="vm.poll.poll_lebel">
                    </div><!--row-->
                    <div layout="row" layout-align="start center">
                      <label class="label">Show results when closed:</label>
                      <md-checkbox ng-model="vm.poll.show_vote_result_when_closed"
                                   aria-label="Checkbox 1"></md-checkbox>
                    </div><!--row-->
                    <div layout="row" layout-align="start center">
                      <label class="label">Allow voting again:</label>
                      <select ng-model="vm.poll.allow_vote_again">
                        <option value="never">Never</option>
                        <option value="yes">Yes</option>
                      </select>
                    </div><!--row-->
                  </div>
                </div>
              </md-tab-body>
            </md-tab><!--md-tab-->
          </md-tabs>
        </div>
        <div class="card-preview w-370" layout="column" layout-align="space-between stretch">
          <div class="cp-title">Poll Editor</div>
          <div class="cp-button" layout="row" layout-align="space-around center">
            <div class="wysiwyg">
              <div layout="row" layout-align="start center">
                <div layout="row">
                  <label>
                    <div class="sochara-font-dropdown" tabindex="1" fd-font-dropdown>
                      <span class="label" ng-style="{{'fontslist[selectedIdx].style'}}">{{fontslist[selectedIdx].name}}</span>
                      <ul class="dropdown-list">
                        <li ng-repeat="font in fontslist" ng-click="changeFont($index);vm.changePollFontStyle(font);" ng-class="{'sel': $index == selectedIdx}" ng-style="{{font.style}}">
                          {{font.name}}
                        </li>
                      </ul>
                    </div>
                  </label>&nbsp;&nbsp;
                </div>
                <div layout="row">
                  <md-menu>
                    <label ng-click="$mdMenu.open($event)" layout="row"
                           layout-align="start center"><span ng-bind="vm.poll.styles.fontSize"></span>
                      <md-icon md-font-icon="icon-menu-down"></md-icon>
                    </label>
                    <md-menu-content width="1">
                      <md-menu-item ng-repeat="fontSize in vm.fontSizeSelect">
                        <md-button ng-click="vm.setCurrentFontSize(fontSize)">{{fontSize}}</md-button>
                      </md-menu-item>
                    </md-menu-content>
                  </md-menu>
                </div>
                <div layout="row">
                  <md-icon md-font-icon="icon-format-bold" class="preview-toolbar-bold"
                           ng-click="vm.changeFontStyleBold()"></md-icon>
                  <md-icon md-font-icon="icon-format-italic" class="preview-toolbar-italic"
                           ng-click="vm.changeFontStyleItalic()"></md-icon>
                  <md-icon md-font-icon="icon-format-underline" class="preview-toolbar-underline"
                           ng-click="vm.changeFontStyleUnderline()"></md-icon>
                </div>
                <md-icon md-font-icon="icon-format-align-left" class="preview-toolbar-left"
                         ng-click="vm.changeTextAlign(1)"></md-icon>
                <md-icon md-font-icon="icon-format-align-center" class="preview-toolbar-center"
                         ng-click="vm.changeTextAlign(2)"></md-icon>
                <md-icon md-font-icon="icon-format-align-right" class="preview-toolbar-right"
                         ng-click="vm.changeTextAlign(3)"></md-icon>
                <!--<md-icon md-font-icon="icon-format-align-justify" class="preview-toolbar-justify"
                         ng-click="vm.changeTextAlign(4)"></md-icon>-->
              </div>
            </div>

          </div>
          <div class="cp-poll" ms-scroll flex>
            <div id="poll-preview-content" class="poll-box default"
                 style="text-align: {{ vm.poll.styles.align }};{{ vm.poll.styles.underline ? 'text-decoration: underline;' : '' }} color: {{ vm.poll.styles.color }}; font-family: '{{ vm.poll.styles.font }}'; font-size: {{vm.poll.styles.fontSize}}; background: {{(vm.poll.bgOption === 'color' || vm.poll.bgOption === 'gradient') ? vm.poll.styles.bgColor: ''}} {{vm.poll.bgOption==='image' && vm.changeBgImageCropped?'url('+vm.changeBgImageCropped+')':''}}; border-radius: {{vm.poll.styles.borderRadius ? 10 : 0}}px;background-size: cover;
                   background-repeat: no-repeat;">
              <div class="poll_content_area">
                <h4 class="text-center" ng-show="!vm.poll.question">Didn't set
                  any question
                  yet.</h4>
                <div class="question">
                  {{vm.poll.question}}
                </div>

                <div id="answers" class="answers">
                  <div class="form-group answer" ng-repeat="answer in vm.poll.answers"
                       style="text-align: {{ vm.poll.styles.align }}; {{ vm.poll.styles.italic ? 'font-style: italic;' : '' }} {{ vm.poll.styles.underline ? 'text-decoration: underline;' : '' }}">
                    <label class="checkbox checkbox-custom-alt"
                           style="font-style: {{vm.poll.styles.fontStyle}};text-decoration: {{vm.poll.styles.underline}};text-align: {{vm.poll.styles.align}}; {{ vm.poll.styles.bold ? 'font-weight: 800 !important;' : '' }};--poll-color: {{vm.poll.styles.color}};">
                      <input name="answer" type="{{vm.setRadioCheckboxCurr}}" value="{{answer.txt}}">
                      <i ng-class="vm.setRadioCheckboxCurr" style="border-color: {{vm.poll.styles.color}}; color: {{vm.poll.styles.color}};"></i>
                      <!--<div class="ansTxt">{{answer.txt}}</div>-->
                      {{answer.txt}}
                      <div class="tmpImgvid" style="display: none;">{{answer.img}}</div>
                      <div class="imgVid"></div>
                    </label>
                  </div>
                </div>
                <div class="poll-btn-vote" ng-hide="!vm.poll.question">
                  <md-button class="md-raised md-button md-ink-ripple" aria-label="Vote">Vote</md-button>
                  <label class="label">&nbsp;See Results</label>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- / CONTENT -->


</div>
