<br>
<div style="clear: both;overflow: hidden" ng-if="vm.pollDisplayVoting">
  <div id="poll-preview-content" class="poll-box default"
       style="color: {{ vm.pollStyle.color }}; font-family: '{{ vm.pollStyle.font }}'; font-size: {{vm.pollStyle.fontSize}}; background: {{vm.pollStyle.bgColor}}; {{vm.pollStyle.borderRadius ? 'border-radius: 10px':'' }} ;{{ vm.changeBgImageCropped ? 'background-image: url('+vm.changeBgImageCropped+');' :  '' }})">
    <h4 class="text-center" ng-show="!vm.poll.question">Didn't set
      any question
      yet.</h4>
    <div class="question">
      {{vm.poll.question}}
    </div>

    <div id="answers" class="answers">
      <div class="form-group answer" ng-repeat="answer in vm.poll.answers track by $index"
           style="text-align: {{ vm.poll.styles.align }}; {{ vm.poll.styles.italic ? 'font-style: italic;' : '' }} {{ vm.poll.styles.underline ? 'text-decoration: underline;' : '' }}">
        <label class="checkbox checkbox-custom-alt"
               style="font-style: {{vm.poll.styles.fontStyle}};text-decoration: {{vm.poll.styles.underline}};text-align: {{vm.poll.styles.align}}; {{ vm.poll.styles.bold ? 'font-weight: 800 !important;' : '' }};--poll-color: {{vm.poll.styles.color}};">
          <input name="answer" class="vote-answer"  type="{{vm.setRadioCheckboxCurr}}" value="{{answer.id}}">
          <i ng-class="vm.setRadioCheckboxCurr" style="border-color: {{vm.pollStyle.color}}; color: {{vm.pollStyle.color}};"></i>
          {{answer.txt}}
          <div class="imgVid" ng-init="vm.putFilesByExt(answer.img, $index);"></div>
        </label>
      </div>
    </div>
    <div class="poll-btn-vote" ng-hide="!vm.poll.question">
      <md-button class="md-raised md-button md-ink-ripple" aria-label="Vote" ng-click="vm.savePollVote()">Vote</md-button>
      <label class="label">&nbsp;See Results</label>
    </div>
  </div>
</div>
<div class="poll-preview-back-button" ng-click="vm.backToPreviousLink();"><md-icon md-font-icon="icon-chevron-left"></md-icon> Back</div>
<div class="tile-body" style="margin: 0 0 0 400px;clear: both;color: #9319D9;overflow: hidden">
  <h2 ng-if="vm.voteGreetingShow" class="vote-result-greeting alert-success">Thank you for your vote, we are tallying all of the submissions!</h2>
</div>
<div ng-show="vm.pollDisplayVotingChart" style="font-size: 20px;">
  <div layout="row" class="question-desc" layout-align="center">
    <div class="q_p_a">The question was.</div>
  </div>
  <div layout="row center" layout-align="center">
    <div class="q_a_title" ng-bind="vm.poll.question"></div>
  </div>
  <div layout="row" layout-align="center center" class="grap_chart_init_text"><span>The Result of the Poll with graph PIE chart:</span></div>
  <div layout="row" layout-align="center" id="piechart_3d"></div>
</div>

<!--<div id="myPieChart"/>-->
