<div id="profile" class="page-layout simple tabbed">
  <style>
    #profile .header{

    }
    .cropArea {
      background: #E4E4E4;
      overflow: hidden;
      width:auto;
      height:300px;}
    .profile-image {
      border:2px solid grey;
      min-height: 85px;min-width: 85px;border-radius: 100%;margin: auto 0;
      background-size: 100% 100% !important;
      background-repeat: no-repeat !important;
      background-position: center center !important;
      margin-right: 24px;
    }
    .uploadImage{
      width:100%;
      height:100%;
      background:black;
      display: none;
      min-height: 85px;min-width: 85px;border-radius: 100%;
      /*border:1px solid green;margin: auto 0;*/
      background-size: 100% 100% !important;
      background-repeat: no-repeat !important;
      background-position: center center !important;

    }
    .profile-image:hover .uploadImage{
      background:white !important;
      display: block;
      color:black !important;
      font-size:12px;
      line-height: 1.2;
      padding: 20px;
    }
    .bannerStrech{
      background-size:100% !important; background-repeat: no-repeat !important; background-position: center center !important;
    }
  </style>
  <!-- HEADER style="{{vm.contact.bannerImage?'background:url('+vm.contact.bannerImage+')':''}}" -->
  <div style="{{vm.contact.bannerImage?'background:url('+vm.contact.bannerImage+')':''}}"  class="header md-accent-bg" layout="column" layout-align="center center" layout-gt-sm="row" layout-align-gt-sm="space-between end" >

  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content" flex>

    <md-tabs md-dynamic-height>
      <md-tab>
        <md-tab-label>
          <span>Account Setting</span>
        </md-tab-label>
        <md-tab-body>
          <md-content class="about-tab"
                      ng-include="'app/main/setting/tabs/about/about.html'">
          </md-content>
        </md-tab-body>
      </md-tab>

    </md-tabs>

  </div>
  <!-- / CONTENT -->

</div>
