<md-dialog class="album-create upload-dialog w-400" aria-label="Upload Files">
    <md-toolbar class="md-accent md-hue-2">
      <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
        <span class="title">Are you sure ?</span>
        <md-button class="md-icon-button"  ng-click="vm.closeDialog();" aria-label="Close dialog">
          <md-icon md-font-icon="icon-close"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <div flex layout="row" layout-align="center">
      <md-dialog-content>
        <!-- md-raised md-primary -->
        <h3>You are about to remove this item !</h3>
        <p>With deleting here the post will delete also from live.</p>
        <div layout="row" layout-align="start center">
          <md-button class="btn-violate ml-0" aria-label="Gmail Auth" ng-click="vm.removePostConfirm()">Yes</md-button>
          <md-button class="btn-basic ml-0" aria-label="Gmail Auth" ng-click="vm.closeDialog();">No</md-button>
        </div>
      </md-dialog-content>
    </div>
</md-dialog>
