<div class="video-player-head" ng-show="vm.showVideoPlayer" layout="row" layout-align="end center">
  <md-button class="md-icon-button sm-button" ng-click="vm.closeVideoPopup()">
    <md-icon md-font-icon="icon-window-close"></md-icon>
  </md-button>
</div>
<div id="sochara_video_player" class="sochara_video_player" ng-show="vm.showVideoPlayer" style="min-width: 500px; height: 90%; max-height: 90%">
  <video id="posterUrl" poster="" controls>
    <source id="videoUrl" src="" type="video/mp4" data-plyr='{ title: "testing" }'>
  </video>
  <!--<a href="javascript:void(0)" class="cd-popup-close img-replace" ng-click="vm.closeVideoPopup()"></a>-->
</div> <!-- cd-popup-container -->
