<md-dialog class="compose-dialog mail-dialog" aria-label="Reply Message">
    <form class="md-inline-form">
        <md-toolbar class="md-accent md-hue-2">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                <span class="title">Reply Message</span>
                <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close dialog">
                    <md-icon md-font-icon="icon-close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content ms-scroll>
            <md-input-container class="md-block">
                <label>From</label>
                <input ng-model="vm.form.from.email" type="email" disabled>
            </md-input-container>


            <md-input-container class="md-block to" ng-class="{'hidden-cc': vm.hiddenCC, 'hidden-bcc': vm.hiddenBCC}">
                <label>To</label>
                <input ng-model="vm.form.to" type="email" md-autofocus>

                <div class="cc-bcc" layout="row" layout-align="start center">
                    <div class="show-cc" ng-show="vm.hiddenCC" ng-click="vm.hiddenCC = false">CC</div>
                    <div class="show-bcc" ng-show="vm.hiddenBCC" ng-click="vm.hiddenBCC = false">BCC</div>
                </div>
            </md-input-container>

            <md-input-container class="md-block" ng-hide="vm.hiddenCC">
                <label>Cc</label>
                <input ng-model="vm.form.cc" type="email">
            </md-input-container>

            <md-input-container class="md-block" ng-hide="vm.hiddenBCC">
                <label >Bcc</label>
                <input ng-model="vm.form.bcc" type="t">
            </md-input-container>

            <md-input-container class="md-block">
                <label>Subject</label>
                <input ng-model="vm.form.subject" type="text">
            </md-input-container>

          <text-angular ta-target-toolbars="mailToolbar" ta-unsafe-sanitizer ng-model="vm.form.message" id="messageDetails"></text-angular>
          <!--<text-angular ng-model="vm.form.message"></text-angular>-->

          <div class="attachment_wrapper">
            <div ngf-drop="vm.uploadAttachment( $files, $invalidFiles )" ngf-select="vm.uploadAttachment( $files, $invalidFiles )" ng-model="vm.files" class="drop-box"
                 ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true" ngf-keep="'distinct'"
                 accept="image/*,application/pdf,*"
                 ngf-pattern="'image/*,application/pdf,*'">Drop files here to upload as attachments.</div>
            <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
          </div>


            <!--<div class="attachment-list">-->
                <!--<div ng-repeat="file in vm.files" class="attachment" layout="row" layout-align="space-between center">-->
                    <!--<div>-->
                        <!--<span class="filename" ng-bind="file.name"></span>-->
                        <!--<span class="size">(<span ng-bind="vm.attachmentSize(file.size)"></span>)</span>-->
                    <!--</div>-->

                    <!--<md-button class="md-icon-button" aria-label="Delete attachment" translate-->
                               <!--translate-attr-aria-label="MAIL.DELETE_ATTACHMENT">-->
                        <!--<md-icon md-font-icon="icon-close" class="s16"></md-icon>-->
                    <!--</md-button>-->
                <!--</div>-->
            <!--</div>-->

          <div class="attachment-list" layout-wrap layout="row">

            <div class="attachment po-r" ng-repeat="attachment in vm.files" flex="20">
              <md-button class="md-icon-button float-icon-button  no-padding no-size"
                         ng-click="vm.deleteCurrentAttachment(attachment.$$hashKey)">
                <md-icon md-font-icon="icon-close s18"></md-icon>
              </md-button>
              <div class="square-img">
                <img class="preview" ngf-thumbnail="attachment">
              </div>
              <div class="image_details p-5 font-size-10">
                <div class="md-accent-color text-truncate" title="{{attachment.name}}" ng-bind="attachment.name"></div>
                <div class="size"> {{attachment.size/1024 | number:2 }} KB</div>
              </div>
            </div>

          </div>

          <!--div class="attachment-list" layout-wrap layout="row">
            <div class="attachment" layout="column"
                 ng-repeat="attachment in vm.files">
              <img class="preview" ngf-thumbnail="attachment">

              <div layout="column">
                <a href="javascript:void(0)" class="md-accent-color link">Delete</a>
                <div class="md-accent-color" ng-bind="attachment.name"></div>
                <div class="size"> ({{attachment.size}})</div>
              </div>
            </div>
          </div-->

          <div id="mail-toolbar" ng-if="vm.activeButtonToolbar == 'editor'">
            <div text-angular-toolbar class="mail_toolbar" name="mailToolbar"></div>
            <div id=":176" class="aA4"></div>
          </div>

          <div id="mail-emo" class="mail_emo" ng-if="vm.emoAreaVisible">
            <div class="emo-wrapper">
              <div class="emo-toolbar">
                <md-icon md-font-icon="icon-emoticon-happy" class="emo_section {{vm.showEmoticonList?'active':''}}" ng-click="vm.showEmoticonArea()"></md-icon>
                <md-icon md-font-icon="icon-emoticon-cool" class="emo_section {{vm.showEmojiList?'active':''}}" ng-click="vm.showEmojiArea()"></md-icon>
                <md-icon md-font-icon="icon-dumbbell" class="emo_section {{vm.showEmojiList_2?'active':''}}" ng-click="vm.showEmojiArea_2()"></md-icon>
                <md-icon md-font-icon="icon-fan" class="emo_section {{vm.showEmojiList_3?'active':''}}" ng-click="vm.showEmojiArea_3()"></md-icon>
                <input class="emo-search" ng-model="emo_search">
              </div>
              <div class="emoticon-content" ng-if="vm.showEmoticonList">
                <span class="emo" ng-repeat="icon in vm.emoticonList | filter:emo_search" ng-click="vm.insertEmoticonToMessageBody(icon)">
                  <i class="sc sc-{{icon}}" title="{{icon}}"></i>
                </span>
              </div>
              <div class="emoticon-content" ng-if="vm.showEmojiList">
                <span class="emo" ng-repeat="icon in vm.emojiList | filter:emo_search" ng-click="vm.insertEmojiToMessageBody(icon.name)">
                  <i class="emoji {{icon.class}}" title="{{icon.name}}"></i>
                </span>
              </div>
              <div class="emoticon-content" ng-if="vm.showEmojiList_2">
                <span class="emo" ng-repeat="icon in vm.emojiList_2 | filter:emo_search" ng-click="vm.insertEmojiToMessageBody(icon.name)">
                  <i class="emoji {{icon.class}}" title="{{icon.name}}"></i>
                </span>
              </div>
              <div class="emoticon-content" ng-if="vm.showEmojiList_3">
                <span class="emo" ng-repeat="icon in vm.emojiList_3 | filter:emo_search" ng-click="vm.insertEmojiToMessageBody(icon.name)">
                  <i class="emoji {{icon.class}}" title="{{icon.name}}"></i>
                </span>
              </div>
            </div>
            <div id=":176" class="aA4"></div>
          </div>

        </md-dialog-content>

        <md-dialog-actions layout="row" layout-align="space-between center">
            <div layout="row" layout-align="start center">
                <md-button ng-click="vm.sendMail()" class="send-button md-accent md-raised" aria-label="Send">
                    SEND
                </md-button>

              <md-button class="md-icon-button {{ vm.isActiveButton('editor') }}" aria-label="Attach file" ng-click="vm.showEditorBar()">
                <i class="icon sochara-icon editor"></i>
                <md-tooltip>Show Editor Controll</md-tooltip>
              </md-button>

                <md-button class="md-icon-button" aria-label="Attach file"
                           ngf-select="vm.uploadAttachment( $files, $invalidFiles )"
                           ngf-multiple="true" ngf-allow-dir="true" ngf-keep="'distinct'"
                           accept="image/*,application/pdf,*"
                           ngf-pattern="'image/*,application/pdf,*'"
                           ng-model="vm.files">
                    <md-icon md-font-icon="icon-paperclip"></md-icon>
                    <md-tooltip>Insert File</md-tooltip>
                </md-button>

              <md-button class="md-icon-button {{vm.isActiveButton('storage')}}" aria-label="Attach file">
                <i class="icon sochara-icon storage"></i>
                <md-tooltip>Insert File From Storage</md-tooltip>
              </md-button>

              <md-button class="md-icon-button {{vm.isActiveButton('images')}}" aria-label="Attach file"
                           ngf-select="vm.uploadAttachment( $files, $invalidFiles )"
                           ngf-multiple="true" ngf-allow-dir="true" ngf-keep="'distinct'"
                           accept="image/*"
                           ngf-pattern="'image/*'"
                           ng-model="vm.files">
                    <md-icon md-font-icon="icon-folder-multiple-image"></md-icon>
                    <md-tooltip>Insert Image</md-tooltip>
                </md-button>

              <md-button class="md-icon-button {{vm.isActiveButton('smile')}}" aria-label="Attach file" ng-click="vm.showEmoArea()">
                    <i class="icon sochara-icon smile"></i>
                    <md-tooltip>Insert Giphy</md-tooltip>
                </md-button>

            </div>

            <div layout="row">
                <md-button class="md-icon-button" aria-label="Delete">
                    <md-icon md-font-icon="icon-delete"></md-icon>
                    <md-tooltip><span ></span></md-tooltip>
                </md-button>
            </div>
        </md-dialog-actions>
    </form>
</md-dialog>
