<md-dialog class="compose-dialog" aria-label="New GMail" ng-init="vm.initCalendarSocialSetting()" style="width: auto;">
  <form class="md-inline-form">
    <md-toolbar class="md-accent md-hue-2">
      <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
        <span class="title">Integrated API Accounts</span>
        <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close dialog">
          <md-icon md-font-icon="icon-close"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <div flex layout="row" layout-align="left">
      <md-dialog-content>
        <md-content>
          <div class="loading-threads gray-color" layout="column" layout-align="center center" ng-if="vm.loadingMailAccount">
            <md-progress-circular class="md-accent" md-mode="indeterminate" md-diameter="64"></md-progress-circular>
            <!--<div>Loading Chat...</div>-->
            <!--<span class="app-title">Loading Chat...</span>-->
          </div>
          <md-checkbox ng-if="!vm.loadingMailAccount && vm.mailAccounts" class="noright" ng-repeat="account in vm.mailAccounts" ng-model="vm.checkedAccounts[account.id]" ng-click="vm.showEventsForAccounts(account)">
            <img ng-if="account.provider==='gmail'" src="images/contacts/gmail.png" alt="GMail Account">
            <img ng-if="account.provider==='outlook'" src="images/contacts/outlook.png" alt="OutLook Account">
            &nbsp;
            <div class="md-list-item-text" layout="column">
              <h3>{{ account.email }}</h3>
            </div>
            <!--<md-button class="md-icon-button" ng-click="vm.removeMailAccount(account);" aria-label="Delete Account">-->
              <!--<md-icon md-font-icon="icon-delete"></md-icon>-->
            <!--</md-button>-->
          </md-checkbox>

          <!--<md-list ng-cloak>-->

            <!--<div class="loading-threads gray-color" layout="column" layout-align="center center" ng-if="vm.loadingMailAccount">-->
              <!--<md-progress-circular class="md-accent" md-mode="indeterminate" md-diameter="64"></md-progress-circular>-->
              <!--&lt;!&ndash;<div>Loading Chat...</div>&ndash;&gt;-->
              <!--&lt;!&ndash;<span class="app-title">Loading Chat...</span>&ndash;&gt;-->
            <!--</div>-->



            <!--<md-list-item ng-if="!vm.loadingMailAccount && vm.mailAccounts" class="noright" ng-repeat="account in vm.mailAccounts">-->
              <!--<img ng-if="account.provider==='gmail'" src="images/contacts/gmail.png" alt="GMail Account">-->
              <!--<img ng-if="account.provider==='outlook'" src="images/contacts/outlook.png" alt="OutLook Account">-->
              <!--&nbsp;-->
              <!--<div class="md-list-item-text" layout="column">-->
                <!--<h3>{{ account.email }}</h3>-->
              <!--</div>-->
              <!--<md-button class="md-icon-button" ng-click="vm.removeMailAccount(account);" aria-label="Delete Account">-->
                <!--<md-icon md-font-icon="icon-delete"></md-icon>-->
              <!--</md-button>-->
            <!--</md-list-item>-->
          <!--</md-list>-->
          <md-subheader ng-if="!vm.mailAccounts || !vm.mailAccounts.length" class="md-no-sticky">No email account integrated yet.</md-subheader>

        </md-content>
        <md-button class="md-accent md-raised" aria-label="Mail Auth Url" ng-click="vm.addNewAccount();">Add New</md-button>
        <!--<div flex layout="row" layout-align="center">-->
          <!--<md-switch ng-repeat="email in vm.mailAccounts" aria-label="{{email.email}}" ng-model="email.selected" ng-change="vm.changeAccountSetting();">-->
             <!--<strong>{{ email.email }}</strong>-->
          <!--</md-switch>-->
        <!--</div>-->

        <!--<div ng-if="vm.selectedAddAccount">-->
          <!--<h3>You have to Grant Auth permission to access your <span ng-bind="vm.selectedAddAccount"></span> Account!</h3>-->
          <!--<p>Please press below <strong>Grant Permission</strong> button and continue as instructed later.</p>-->
          <!--<div class="add-account-button">-->
            <!--<md-button class="md-accent md-raised" aria-label="Mail Auth Url" ng-href="{{vm.MailAuthUrl}}">Grant Permissions</md-button>-->
          <!--</div>-->
        <!--</div>-->
      </md-dialog-content>
    </div>
  </form>
</md-dialog>
