<div id="file-manager" class="page-layout simple left-sidenav inner-sidenav sm-head bg-white">


  <!-- HEADER -->
  <div class="header" layout="row" layout-align="space-between center">

    <div flex layout="row" layout-align="start center">
      <!-- APP TITLE -->

      <div class="logo" layout="row" layout-align="start center" flex="25">
        <span class="logo-icon">
          <md-icon md-font-icon="icon-folder-outline" class="s40"></md-icon>
            <span ng-if="vm.path" data-ng-repeat="pth in vm.path">
                <a ng-if="pth.uri" class="link" ui-sref="{{pth.uri}}">

                  <md-icon md-font-icon="icon-chevron-right"></md-icon>
                  {{pth.name}}
 </a>
            </span>
        </span>
        <!--<span class="logo-text"> Files</span>-->
      </div>

      <div class="toolbar" layout="row" layout-align="start center">
        <md-checkbox ng-disabled="vm.ifHaveAnyFilesFolders();" ng-checked="vm.ifCheckedAll();"
                     md-indeterminate="vm.isSelIndeterminate()" ng-click="vm.toggleAllFilesFolders()" aria-label="Select All">
          Select all
        </md-checkbox>

        <div class="pl-20 lh-1"><span class="selected_text" ng-if="vm.selectedMultipleItem.length"
                                      ng-bind="vm.selectedMultipleItem.length + ' Selected'"></span></div>
        <md-button class="md-icon-button" ng-click="vm.deleteItems($event)" aria-label="Delete">
          <md-icon md-font-icon="icon-delete"></md-icon>
          <md-tooltip><span>Delete</span></md-tooltip>
        </md-button>

        <md-button class="md-icon-button" aria-label="Download" hm-tap="vm.downloadItems()">
          <md-icon md-font-icon="icon-download"></md-icon>
          <md-tooltip><span>Download</span></md-tooltip>
        </md-button>

        <!--<md-button class="md-icon-button" aria-label="More" translate translate-attr-aria-label="FM.MORE">-->
        <!--<md-icon md-font-icon="icon-dots-vertical"></md-icon>-->
        <!--<md-tooltip><span>More</span></md-tooltip>-->
        <!--</md-button>-->
        <md-menu md-offset="12" ng-if="vm.selectedMultipleItem.length">
          <md-button aria-label="Open demo menu" class="md-icon-button" aria-label="More" ng-click="$mdMenu.open($event)">
            <md-icon md-font-icon="icon-dots-vertical"></md-icon>
            <md-tooltip><span>More</span></md-tooltip>
          </md-button>
          <md-menu-content width="3" class="nopad">
            <md-menu-item ng-if="vm.selectedMultipleItem.length">
              <md-button ng-click="vm.copySelectedItems()"><span md-menu-align-target>Copy</span></md-button>
            </md-menu-item>
            <md-menu-item ng-if="vm.selectedMultipleItem.length>0">
              <md-button ng-click="vm.cutSelectedItems()"><span md-menu-align-target>Cut</span></md-button>
            </md-menu-item>
            <md-menu-item ng-if="vm.selectedFilesForCopy.length>0 || vm.selectedFilesForMove.length>0">
              <md-button ng-click="vm.pasteSelectedItems()"><span md-menu-align-target>Paste</span></md-button>
            </md-menu-item>
            <md-menu-item ng-if="vm.selectedMultipleItem.length===1">
              <md-button ng-click="vm.renameItem($event)"><span md-menu-align-target>Rename</span></md-button>
            </md-menu-item>
            <md-menu-item ng-if="vm.selectedMultipleItem.length===1">
              <md-button ng-click="vm.addToStar()"><span md-menu-align-target>Add Star/Make Favorite</span></md-button>
            </md-menu-item>
            <md-menu-item ng-if="vm.selectedMultipleItem.length===1">
              <md-button ng-click="vm.sharePopup($event)"><span md-menu-align-target>Share</span></md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>

        <md-button ng-if="vm.currentView === 'grid'" class="md-icon-button" aria-label="view type"
                   ng-click="vm.toggleView()">
          <md-icon md-font-icon="icon-view-headline"></md-icon>
          <md-tooltip><span>List View</span></md-tooltip>
        </md-button>

        <md-button ng-if="vm.currentView === 'list'" class="md-icon-button"
                   ng-click="vm.toggleView()"
                   aria-label="view type">
          <md-icon md-font-icon="icon-view-module"></md-icon>
          <md-tooltip><span>Grid View</span></md-tooltip>
        </md-button>


      </div>
    </div>
    <div class="pr-100"><md-button class="btn-violate" ng-click="vm.back();">Back</md-button></div>


    <!-- ADD FILE BUTTON -->
    <div id="file-uploader">
      <md-menu md-offset="0 0" md-position-mode="target-right target">
        <md-button flow-btn class="add-file-button md-fab md-purple-700-bg"
                   aria-label="Add file" ng-click="$mdMenu.open($event)">
          <md-icon md-font-icon="icon-plus"></md-icon>
        </md-button>
        <md-menu-content width="3">
          <md-menu-item>
            <md-button ng-click="vm.createNewFolder($event);">
              <md-icon md-font-icon="icon-folder-plus"></md-icon>
              New folder
            </md-button>
          </md-menu-item>
          <md-divider></md-divider>
          <md-menu-item>
            <md-button ngf-select="vm.uploadFiles($files, $invalidFiles, vm.currentFolderId)" multiple accept="*"
              ngf-pattern="'*'" ngf-multiple="true" ngf-max-size="850MB">
              <md-icon md-svg-icon="images/icons/file-upload.svg"></md-icon>
              Add Files
            </md-button>
          </md-menu-item>
          <!--<md-menu-item>-->
            <!--<md-button ngf-select="vm.uploadFiles($files, $invalidFiles, vm.currentFolderId)" -->
                       <!--ngf-pattern="'*'" ngf-multiple="true" ngf-allow-dir="true" ngf-include-dir="true" input-file-webkitdirectory>-->
              <!--<md-icon md-font-icon="icon-folder-upload"></md-icon>-->
              <!--Folder Upload-->
            <!--</md-button>-->
          <!--</md-menu-item>-->
        </md-menu-content>

      </md-menu>
    </div>
    <!-- / ADD FILE BUTTON -->
  </div>
  <!-- / HEADER -->

  <!-- CENTER -->
  <div class="center inner-wrap" layout="column" flex>

    <div class="innter_content" layout="row" layout-align="space-between start" layout-fill>


      <!-- SIDENAV CONTENT -->

      <div class="navigation-simple left md-whiteframe-3dp po-r z-index" layout="column" flex="20">
        <div class="item" layout="row" layout-align="center center">
          <md-button class="btn-violate btn-sm" ng-click="vm.createNewFolder($event)">Create New Folder
          </md-button>
        </div>
        <md-button class="item" aria-label="My Files" ng-click="vm.myFileFolderList()" ng-class="{'selected': vm.navMenu === 'files'}">
          <div class="context" layout="row" layout-align="start center">
            <md-icon md-font-icon="icon-folder" class="s16"></md-icon>
            <div class="title">My Files</div>
          </div>
        </md-button>

        <md-button class="item" aria-label="Starred" ng-click="vm.starredFileFolderList()" ng-class="{'selected': vm.navMenu === 'starred'}">
          <div class="context" layout="row" layout-align="start center">
            <md-icon md-font-icon="icon-star" class="s16"></md-icon>
            <div class="title">Starred</div>
          </div>
        </md-button>

        <md-button class="item" aria-label="Shared With Me" ng-click="vm.sharedFileFolderList()" ng-class="{'selected': vm.navMenu === 'shared'}">
          <div class="context" layout="row" layout-align="start center">
            <md-icon md-font-icon="icon-folder-account" class="s16"></md-icon>
            <div class="title">Shared With Me</div>
          </div>
        </md-button>

        <md-button class="item" aria-label="Recent" ng-click="vm.myRecentFileFolderList()" ng-class="{'selected': vm.navMenu === 'recent'}">
          <div class="context" layout="row" layout-align="start center">
            <md-icon md-font-icon="icon-clock" class="s16"></md-icon>
            <div class="title">Recent</div>
          </div>
        </md-button>

      </div>
      <!-- / SIDENAV CONTENT -->


      <!-- CONTENT -->
      <md-content class="content inner-content-wrap" flex="80"
                  ngf-drop="vm.uploadFiles($files, $invalidFiles, vm.currentFolderId, 'parent')" multiple accept="*"
                  ngf-pattern="'*'" ngf-multiple="true" ngf-allow-dir="true" ngf-max-size="850MB"
                  ngf-drag-over-class="'drag_over'">
        <div ng-if="vm.currentView === 'grid'"
             ng-include="'app/main/files/views/grid/grid-view.html'" class="grid-view-paren" ms-scroll>
        </div>
        <div ng-if="vm.currentView === 'list'"
             ng-include="'app/main/files/views/list/list-view.html'" class="hp-100">
        </div>
      </md-content>
      <!-- / CONTENT -->

    </div>
    <!-- / CENTER -->

  </div>
</div>
