<!-- SIDENAV HEADER -->
<div class="header md-padding" layout="row" layout-align="center center">

  <md-button class="btn-violate" ng-click="vm.openAddContactDialog($event)" aria-label="add contact">Add Contact
  </md-button>

</div>
<!-- / SIDENAV HEADER -->

<!-- SIDENAV CONTENT -->
<div ms-scroll class="content scrollable">

  <md-list>

    <md-list-item ng-click="vm.filterChange('all')" ng-class="{'selected':vm.listType ==='all'}">
      <p>
        All contacts
      </p>
    </md-list-item>

    <md-list-item ng-click="vm.filterChange('frequent')" ng-class="{'selected':vm.listType ==='frequent'}">
      <p>
        Favorites
      </p>
    </md-list-item>


    <md-divider></md-divider>

    <md-subheader class="md-no-sticky">Groups</md-subheader>

    <md-list-item ng-if="vm.user.groups" ng-repeat="group in vm.user.groups" ng-click="vm.filterChange(group)"
                  ng-class="{'selected':vm.listType.name === group.name}">
      <p class="pl-8">
        {{group.name}}
      </p>
    </md-list-item>

    <md-list-item class="new-group-form" ng-show="newListForm.$visible">
      <p class="pl-8" editable-text="vm.newGroupName" e-form="newListForm" onaftersave="vm.addNewGroup()"></p>
    </md-list-item>

    <md-list-item class="new-group-form" ng-click="vm.openNewGroupContactDialog($event)">
      <p class="pl-8 md-purple-fg">New Group</p>
    </md-list-item>

    <md-list-item class="new-group-form" ng-click="vm.openManageGroupContactDialog($event)">
      <p class="pl-8 md-purple-fg">Manage group</p>
    </md-list-item>

    <md-divider></md-divider>
    <md-list-item ng-click="vm.openImportExportContactDialog($event)">
      <p>
        Import / Export
      </p>
    </md-list-item>

  </md-list>

</div>
<!-- / SIDENAV CONTENT -->
