<div class="bg__options__container">
  <div layout="row" layout-align="space-between center">
    <div class="solid__color sc__wrapper">
      <div class="sc__title">Solid Color</div>
      <hr class="sc__separator">
      <div class="sc__container">
        <ul class="sc__color_list">
          <li ng-repeat="cc in vm.cardColors" class="sc__color" style="background-color:{{cc}}"
              ng-click="vm.setCardBackgroundPalette(cc);">&nbsp;
          </li>
          <li class="sc__color plus" spectrum-colorpicker ng-model="vm.selectedBgColor"
              on-change='!!color && action(color);vm.changeBgColor(color)' format='"hex"'>&nbsp;
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div layout="row" layout-align="space-between center">
    <div class="gradient__color gc__wrapper">
      <div class="gc__title">Gradient Color</div>
      <hr class="gc__separator">
      <div class="gc__container">
        <ul class="gc__color_list">
          <li ng-repeat="cg in vm.cardGradients track by $index" class="gc__color" style="background: {{cg}};"
              ng-click="vm.setCardBackgroundPalette(cg);">&nbsp;
          </li>
          <li class="gc__color plus" ng-click="vm.showGradientPicker();">&nbsp;</li>
          <div class="gc__color_picker_container" ng-if="vm.showGradientColorPicker">
            <div class="gc__picker__preview"><span class="gc__picker_p_l">Gradient Preview</span><span
              class="gc__picker_p_v" ng-style="vm.gradientOutput"> &nbsp; </span></div>
            <div class="gc__picker__c">
              <ul class="c__picker_g">
                <li ng-repeat="gc__l in vm.gradientLayers track by $index"><span
                  class="gc__c_label">{{'Color ' + ($index + 1)}}</span><span spectrum-colorpicker
                                                                              ng-model="gc__l.color"
                                                                              on-change='!!color && action(color);vm.getGradientOutput();'
                                                                              format='"hex"'></span><span
                  class="gc__c_loc"><input type="range" ng-model="gc__l.loc" name="location" min="0" max="100"
                                           ng-change="vm.getGradientOutput();"></span>
                  <md-icon md-font-icon="icon-delete" ng-show="vm.gradientLayers.length>2"
                           ng-click="vm.deleteCurrentGCL(gc__l);"></md-icon>
                </li>
                <li ng-click="vm.addLayerToGradient();" class="gc__picker__n_l">Add New Layer
                  <md-icon md-font-icon="icon-plus"></md-icon>
                </li>
              </ul>
            </div>
            <md-button class="btn-violate" ng-click="vm.addToGradientColors();">Done</md-button>
          </div>
        </ul>
      </div>
    </div>
  </div>
  <div layout="row" layout-align="space-between center">
    <md-button class="btn-violate large__area__button" ngf-select="vm.uploadFile($files)" ngf-multiple="false"
               ngf-pattern="'image/*'" ngf-max-size="15MB">Use your own image
    </md-button>
  </div>
  <div layout="row" layout-align="space-between center">
    Background images
    <hr>
  </div>

  <div class="background_palettes" ms-scroll class="scrollable">
    <md-grid-list md-cols-gt-md="3" md-cols="3" md-cols-md="3" md-row-height="1:1" md-gutter="3px"
                  md-gutter-gt-sm="3px">
      <md-grid-tile ng-repeat="cbg in vm.cardBackgrounds | limitTo:31" ng-click="vm.setBackgroundGrid(cbg)">
        <img ng-src="{{cbg.file.thumb_dir}}" alt="{{cbg.file.title}}"/>
      </md-grid-tile>
      <md-grid-tile ng-repeat="img in vm.cardArrays | limitTo:31" ng-click="vm.setBackgroundGrid(img)">
        <img ng-src="/images/cards/bg-grid/{{img}}.jpg" alt="Card Background Grid {{img}}"/>
      </md-grid-tile>
    </md-grid-list>
  </div>
</div>
