<div class="bg__options__container">
<div layout="row" layout-align="space-between center">
  <md-button class="btn-violate large__area__button" ng-click="vm.resetCardDataToDefault();">Create Your Own Card</md-button>
</div>

  <!--<div class="t__top__dir__txt">Click to add Shape</div>-->

  <div class="t__shape__option__sel" ng-class="vm.selectedTxtTab">
    <span class="t__e__os__my_cards" ng-click="vm.selectedTxtTab='my_cards'">My Cards: <span ng-bind="vm.allCards.length || 0"></span></span>
    <span class="t__e__os__share_cards" ng-click="vm.selectedTxtTab='share_cards'">Shared With Me: <span ng-bind="vm.shareCards.length || 0"></span></span>
  </div>


<div class="row card_thumbnail">
  <div layout="row" class="tabs-row card_thumb" layout-wrap ng-if="vm.selectedTxtTab == 'my_cards' && vm.allCards.length">
    <div ng-repeat="card in vm.allCards track by $index" flex="50" flex-xl="50" flex-md="50" flex-sm="100">
      <div class="mr-10 mb-20 square-box less-height">
        <div layout="column" layout-align="space-between stretch" class="hp-100">
          <div class="item-thumb" flex>
            <div class="item-avatar online">
              <img class="avatar" ng-src="{{card.user.photo_url}}" err-src="images/avatars/blank.jpg" alt="card.user.first_name">
            </div>
            <img ng-src="{{vm.getThumbImage(card.file)}}" alt="poll-small">
          </div>

          <div layout="row" layout-align="space-between center" class="nev-content-head pt-no pb-no">
            <div flex>
              <h3 ng-click="vm.viewCard(card);" ng-bind="card.title"></h3>
              <p ng-if="card.userArr.length"><span ng-bind="card.userArr.length-1"></span>
                people shared</p>
            </div>
            <md-menu md-offset="0 -7">
              <md-button aria-label="Open demo menu" class="md-icon-button"
                         ng-click="$mdMenu.open($event)">
                <md-icon md-menu-origin md-font-icon="icon-dots-vertical"></md-icon>
              </md-button>
              <md-menu-content width="2">
                <md-menu-item ng-if="card.user.id == user.id">
                  <md-button ng-click="vm.deleteCard(card.id)">
                    <md-icon md-font-icon="icon-delete"></md-icon>
                    Delete
                  </md-button>
                </md-menu-item>
              </md-menu-content>
            </md-menu>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div layout="row" class="tabs-row card_thumb" layout-wrap ng-if="vm.selectedTxtTab == 'share_cards' && vm.shareCards.length">
    <div ng-repeat="card in vm.shareCards track by $index" flex="50" flex-xl="50" flex-md="50" flex-sm="100">
      <div class="mr-10 mb-20 square-box less-height">
        <div layout="column" layout-align="space-between stretch" class="hp-100">
          <div class="item-thumb" flex>
            <div class="item-avatar online">
              <img class="avatar" ng-src="{{card.user.photo_url}}" err-src="images/avatars/blank.jpg" alt="card.user.first_name">
            </div>
            <img ng-src="{{vm.getThumbImage(card.file)}}" alt="poll-small">
          </div>

          <div layout="row" layout-align="space-between center" class="nev-content-head pt-no pb-no">
            <div flex>
              <h3 ng-click="vm.viewCard(card);" ng-bind="card.title"></h3>
              <p ng-if="card.users.length"><span ng-bind="card.users.length"></span>
                people shared</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
