<div layout="row" layout-align="space-between center" ms-scroll class="text__format__container scrollable">

  <div class="t__top__dir__txt">Click to add Shape</div>

  <div class="t__shape__option__sel" ng-class="vm.selectedTxtTab">
    <span class="t__e__os__image" ng-click="vm.selectedTxtTab='photo'">Photos</span>
    <span class="t__e__os__image" ng-click="vm.selectedTxtTab='image'">Image Shapes</span>
    <span class="t__e__os__shape" ng-click="vm.selectedTxtTab='basic'">Basic Shapes</span>
    <span class="t__e__os__line" ng-click="vm.selectedTxtTab='line'">Lines</span>
  </div>
  <div class="row" ng-if="vm.selectedTxtTab==='photo'">
    <div layout="row" layout-align="space-between center">
      <md-button class="btn-violate large__area__button" ngf-select="vm.uploadFile($files, 'image')" ngf-multiple="false" ngf-pattern="'image/*'" ngf-max-size="15MB">Use your own image</md-button>
    </div>
    <div class="background_palettes" ms-scroll class="scrollable">
      <md-grid-list md-cols-gt-md="3" md-cols="3" md-cols-md="3" md-row-height="1:1" md-gutter="3px" md-gutter-gt-sm="3px" >
        <md-grid-tile ng-repeat="cbg in vm.cardImages | limitTo:31" ng-click="vm.insertImageToCard(cbg)">
          <img ng-src="{{cbg.file.thumb_dir}}" alt="{{cbg.file.title}}"/>
        </md-grid-tile>
      </md-grid-list>
    </div>
  </div>
  <div class="row" ng-if="vm.selectedTxtTab==='image'">
    <div layout="row" layout-align="space-between center">
      <ul class="shape__img__l__c">
        <li ng-repeat="shp in vm.shapeElements track by $index" class="shape__img__l" ng-style="shp" ng-click="vm.applyImageShape(shp)"></li>
      </ul>
    </div>
  </div>
  <div class="row" ng-if="vm.selectedTxtTab==='basic'">
    <md-list>
      <md-list-item ng-repeat="cbg in vm.cardShapeBasic" class="svg_shape_list">
        <div class="shape svg content_svg" ng-click="vm.addSvgLayer(cbg);">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 500 499.943" enable-background="new 0 0 500 499.943" xml:space="preserve" style="position:absolute" ng-bind-html="cbg.element"></svg>
        </div>
      </md-list-item>
    </md-list>
  </div>
  <div class="row" ng-if="vm.selectedTxtTab==='line'">
    <md-list>
      <md-list-item ng-repeat="cbg in vm.cardShapeLine" class="svg_shape_list line">
        <div class="shape svg content_svg" ng-click="vm.addSvgLayer(cbg);">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 500 499.943" enable-background="new 0 0 500 499.943" xml:space="preserve" style="position:absolute" ng-bind-html="cbg.element"></svg>
        </div>
      </md-list-item>
    </md-list>
  </div>
</div>
