<div class="template__options__container">
<div layout="row" layout-align="space-between center">
  <md-button class="btn-violate large__area__button">Create Your Own Card</md-button>
</div>
<div layout="row" layout-align="space-between center">
  <md-select ng-init="vm.selectedTemplateCategory='invite'" ng-model="vm.selectedTemplateCategory" placeholder="Select Your template" class="md-no-underline">
    <md-option value="invite">Invite Template</md-option>
    <md-option value="birtyday">Birthday</md-option>
    <md-option value="party">Party Day</md-option>
    <md-option value="special">Special Events</md-option>
  </md-select>
</div>

<div class="template-list" ms-scroll class="scrollable">
  <md-grid-list md-cols-gt-md="2" md-cols="2" md-cols-md="2" md-row-height="6:4" md-gutter="3px" md-gutter-gt-sm="3px">
    <md-grid-tile ng-repeat="card in vm.cardTemplates track by $index" ng-click="vm.changeCardTemplate(card);">
      <img ng-src="{{card.thumb}}" alt="card Image"/>
      <!--<span style="background: {{card.styles.background}};-webkit-background-size: cover;background-size: cover;width: 100%;height: 100%;">&nbsp</span>-->
    </md-grid-tile>
  </md-grid-list>
</div>
</div>
<!--<hr>-->
<!--<div style="border-top: 2px solid black">&nbsp</div>-->

<!--<div class="template-list" ms-scroll class="scrollable">-->
  <!--<md-grid-list md-cols-gt-md="2" md-cols="2" md-cols-md="2" md-row-height="6:4" md-gutter="3px" md-gutter-gt-sm="3px">-->
    <!--<md-grid-tile ng-repeat="cn in vm.cardArrays track by $index" ng-click="vm.changeCardBackgroundImage(cn);">-->
      <!--<img ng-src="images/cards/thumb/{{cn}}.jpg" alt="card Image"/>-->
    <!--</md-grid-tile>-->
  <!--</md-grid-list>-->
<!--</div>-->

