<div layout="row" layout-align="space-between center" ms-scroll class="text__format__container scrollable">

  <div class="t__top__dir__txt">Click to add text</div>

  <div class="t__event__option__sel" ng-class="vm.selectedTxtTab">
    <span class="t__e__os__et" ng-click="vm.selectedTxtTab='event'">Event Title</span>
    <span class="t__e__os__venue" ng-click="vm.selectedTxtTab='venue'">Venue</span>
  </div>
  <div class="row" ng-if="vm.selectedTxtTab==='event'">
    <div layout="row" layout-align="space-between center">
      <h1 class="text head__layer"
          ng-click="vm.addTextLayer({'font-family': 'Times New Roman', 'font-size': '45px'}, 'Add Heading')">Add
        Heading</h1>
    </div>

    <div layout="row" layout-align="space-between center">
      <h2 class="text sub__head__layer"
          ng-click="vm.addTextLayer({'font-family': 'Times New Roman', 'font-size': '30px'}, 'Add Subheading')">Add
        Subheading</h2>
    </div>
    <div layout="row" layout-align="space-between center">
      <p class="text body__text__layer"
         ng-click="vm.addTextLayer({'font-family': 'Times New Roman', 'font-size': '17px'}, 'Add a little of body text')">
        Add a little of body text</p>
    </div>

    <hr class="t__style__line__seperator">

    <div class="t__styles__container">
      <md-grid-list class="t__s__c" md-cols-gt-md="2" md-cols="2" md-cols-md="2" md-row-height="6:2" md-gutter="1px"
                    md-gutter-gt-sm="1px">
        <md-grid-tile class="t__s" ng-repeat="t_style in vm.textStyles track by $index" ng-style="t_style"
                      ng-click="vm.addTextLayer(t_style);">
          Sample
        </md-grid-tile>
      </md-grid-list>
    </div>
  </div>
  <div class="row" ng-if="vm.selectedTxtTab==='venue'">
    <div layout="row" layout-align="space-between center">
      <div class="row t__e__f__container">
        <div class="t__e__f_l">Event Date:</div>
        <div class="t__e__f_f_f">
          <input type="text" class="" ng-model="vm.currentEventDate" ng-change="vm.changeEventVenue(vm.currentEventDate, 'date');">
        </div>
        <div class="t__e__f_l">Event Time:</div>
        <div class="t__e__f_f_h">
          <input type="text" class="" ng-model="vm.currentEventTimeFrom" ng-change="vm.changeEventVenue(vm.currentEventTimeFrom, 'time_from');">
        </div>
        <span class="t__f_level_m__t">to</span>
        <div class="t__e__f_f_h">
          <input type="text" class="" ng-model="vm.currentEventTimeTo" ng-change="vm.changeEventVenue(vm.currentEventTimeTo, 'time_to');">
        </div>
        <hr class="t__e_f__line">
        <div class="t__e__f_l">Location Name:</div>
        <div class="t__e__f_f_f">
          <input type="text" class="" ng-model="vm.currentEventAddress" ng-change="vm.changeEventVenue(vm.currentEventAddress, 'address');">
        </div>
        <div class="t__e__f_l">City:</div>
        <div class="t__e__f_f_f">
          <input type="text" class="" ng-model="vm.currentEventCity" ng-change="vm.changeEventVenue(vm.currentEventCity, 'city');">
        </div>
        <div class="t__e__f_l">State:</div>
        <div class="t__e__f_f_f">
          <input type="text" class="" ng-model="vm.currentEventState" ng-change="vm.changeEventVenue(vm.currentEventState, 'state');">
        </div>
        <div class="t__e__f_l">ZIP:</div>
        <div class="t__e__f_f_f">
          <input type="text" class="" ng-model="vm.currentEventZip" ng-change="vm.changeEventVenue(vm.currentEventZip, 'zip');">
        </div>
        <div class="t__e__f_l">RSVP:</div>
        <div class="t__e__f_f_f">
          <input type="text" class="" ng-model="vm.currentEventRsvp" ng-change="vm.changeEventVenue(vm.currentEventRsvp, 'rsvp');">
        </div>
      </div>
    </div>
  </div>
</div>
