<div id="contacts" class="page-layout simple left-sidenav inner-sidenav sm-head" layout="column"
     layout-align="space-between stretch">

  <!-- HEADER -->
  <div class="header" layout="row" layout-align="start center">

    <!-- APP TITLE -->
    <div flex="20" layout="row" layout-align="start center">
      <md-button class="md-icon-button sidenav-toggle" hide-gt-md ng-click="vm.toggleSidenav('sidenav')"
                 aria-label="Toggle sidenav">
        <md-icon md-font-icon="icon-menu" class="icon"></md-icon>
      </md-button>

      <div class="logo" layout="row" layout-align="start center">
                <span class="logo-icon">
                    <md-icon md-font-icon="icon-account-box" class="s40"></md-icon>
                </span>
        <span class="logo-text">Contacts</span>
      </div>
    </div>
    <!-- / APP TITLE -->
    <!-- SELECTED BAR -->
    <div ng-show="vm.selectedContacts.length > 0" class="selected-bar header animate-slide-down md-accent-bg"
         layout="row" layout-align="start center">

      <div flex layout="row">

        <div layout="row" layout-align="start center">
          <md-checkbox class="nomargin" ng-click="vm.toggleSelectContacts()"><b>Select all</b></md-checkbox>
          <span class="selected-contacts-count ml-30 mr-20">
              <b>{{vm.selectedContacts.length}} selected</b>
          </span>

          <!--<md-menu class="select-menu" ng-if="!vm.currentThread">
            <md-button class="md-icon-button"
                       ng-click="$mdOpenMenu($event)"
                       aria-label="multi select toggle">
              <md-icon md-font-icon="icon-menu-down"></md-icon>
            </md-button>
            <md-menu-content width="3">
              <md-menu-item>

                <md-button ng-click="vm.selectAllContacts()">
                  Select all
                </md-button>
              </md-menu-item>
              <md-menu-item>

                <md-button ng-click="vm.deselectContacts()">
                  Select none
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>-->
        </div>

        <div class="multi-select-actions">
          <md-button class="md-icon-button" ng-click="vm.deleteSelectedContacts($event)"
                     aria-label="delete selected">
            <md-icon md-font-icon="icon-delete"></md-icon>
          </md-button>
        </div>

      </div>

    </div>
    <!-- / SELECTED BAR -->

  </div>
  <!-- / HEADER -->


  <!-- CONTENT -->
  <div class="contacts-wrap md-whiteframe-2dp" flex>
    <div class="content contact-content" md-background-bg layout="row" layout-align="start stretch">

      <!-- SIDENAV -->
      <md-sidenav class="sidenav main-sidenav" ms-scroll md-is-locked-open="$mdMedia('gt-md')"
                  layout="column" flex="20" md-component-id="sidenav"
                  ms-sidenav-helper ng-include="'app/main/contacts/sidenavs/main/main-sidenav.html'">
      </md-sidenav>
      <!-- / SIDENAV -->

      <!-- MAIN -->
      <div class="contact-search-list md-whiteframe-2dp po-r" flex layout="column" layout-align="start stretch">

        <div class="loading-threads gray-color" layout="column" layout-align="center center"
             ng-if="!vm.contacts && vm.loadingContacts">
          <md-progress-circular class="md-accent" md-mode="indeterminate" md-diameter="64"></md-progress-circular>
          <div>Loading contacts...</div>
        </div>

        <div class="clearfix searchinput">
          <input class="faws" placeholder="Search for contact" type="text" ng-model="vm.searchContact"
                 ng-keyup="vm.contactSearchTimoutInterval()" ng-change="vm.contactSearchClearTimoutInterval()">
          <!--<input class="emo-search" ng-model="vm.emo_search" ng-keyup="vm.contactSearchTimoutInterval()" ng-keydown="vm.contactSearchClearTimoutInterval()">-->
        </div>

        <div class="contacts-list-wrap" layout="column" layout-align="start stretch" ms-scroll>
          <!-- CONTACT LIST -->
          <md-list class="contacts-list" ng-if="vm.contacts">

            <!-- CONTACT LIST HEADER -->
            <md-subheader class="md-no-sticky md-white-bg">
              <div layout="row" layout-align="space-between center">
                <div class="list-title" layout="row" layout-align="start center"
                     ng-hide="editGroupForm.$visible">
                  <span ng-if="vm.listType === 'all'">All contacts</span>
                  <span ng-if="vm.listType === 'frequent'">Frequnetly
                                contacted</span>
                  <span ng-if="vm.listType === 'starred'">Favorite
                                contacts</span>
                  <span ng-if="vm.listType === 'pending'">Pending Requests</span>
                  <span ng-if="vm.listType === 'request'">My Requests</span>
                  <span ng-if="vm.listType.name">{{vm.listType.name}}</span>

                  <span ng-if="filteredContacts.length" class="secondary-text contacts-count">
                                ({{filteredContacts.length}})
                            </span>
                </div>

                <div class="edit-group-form" ng-show="vm.listType.name" layout="row"
                     layout-align="start center">
                            <span ng-show="editGroupForm.$visible"
                                  editable-text="vm.listType.name"
                                  e-form="editGroupForm"
                                  onaftersave="vm.editGroupName(vm.listType)">
                            </span>

                  <md-button class="md-icon-button edit-group-button" ng-click="editGroupForm.$show()"
                             ng-hide="editGroupForm.$visible" aria-label="edit group name">
                    <md-icon md-font-icon="icon-pencil s18"></md-icon>
                  </md-button>

                  <md-button class="md-icon-button edit-group-button" ng-click="vm.deleteGroup($event)"
                             ng-hide="editGroupForm.$visible" aria-label="delete group">
                    <md-icon md-font-icon="icon-delete s18"></md-icon>
                  </md-button>
                </div>

                <div flex></div>

                <md-menu>

                  <md-button class="md-icon-button" aria-label="Sort">
                    <md-icon md-font-icon="icon-sort-alphabetical"
                             ng-click="$mdOpenMenu($event)"></md-icon>
                  </md-button>

                  <md-menu-content width="3">

                    <md-menu-item>
                      <md-button ng-click="vm.listOrder = 'name';vm.listOrderAsc = false"
                                 ng-style="vm.listOrder === 'name' && vm.listOrderAsc=== false && {'font-weight':'500'}">

                        <span>First Name</span>
                        <small>(A to Z)</small>
                      </md-button>
                    </md-menu-item>

                    <md-menu-item>
                      <md-button ng-click="vm.listOrder = 'name'; vm.listOrderAsc = true"
                                 ng-style="vm.listOrder === 'name' && vm.listOrderAsc=== true && {'font-weight':'500'}">

                        <span>First Name</span>
                        <small>(Z to A)</small>
                      </md-button>
                    </md-menu-item>

                    <md-menu-item>
                      <md-button ng-click="vm.listOrder = 'lastName';vm.listOrderAsc = false"
                                 ng-style="vm.listOrder === 'lastName' && vm.listOrderAsc=== false && {'font-weight':'500'}">

                        <span>Last Name</span>
                        <small>(A to Z)</small>
                      </md-button>
                    </md-menu-item>

                    <md-menu-item>
                      <md-button ng-click="vm.listOrder = 'lastName'; vm.listOrderAsc = true"
                                 ng-style="vm.listOrder === 'lastName' && vm.listOrderAsc=== true && {'font-weight':'500'}">

                        <span>Last Name</span>
                        <small>(Z to A)</small>
                      </md-button>
                    </md-menu-item>

                  </md-menu-content>

                </md-menu>

              </div>

            </md-subheader>
            <!-- / CONTACT LIST HEADER -->

            <!-- CONTACT ITEM -->
            <div class="contact-item-wrap ">
              <md-list-item md-ink-ripple
                            ng-repeat="contact in vm.contacts | filter: vm.searchContact | filter: global.search | filterByIds:vm.filterIds |  orderBy: vm.listOrder :vm.listOrderAsc | filter:query as filteredContacts track by contact.id "
                            class="contact-item md-white-bg"
                            ng-style="{'transform': 'translate3d(0px, '+$index * 100+'%, 0px)', 'z-index': filteredContacts.length - $index}"
                            ng-class="{'selected-contact': vm.isSelected(contact,vm.selectedContacts), 'selected-contact-preview': vm.contactShow.id === contact.id}"
                            layout-align="space-between center"
                            ng-click="vm.openContactDialog($event, contact)">

                <md-checkbox ng-checked="vm.isSelected(contact, vm.selectedContacts)"
                             ng-click="vm.toggleSelectContact(contact, $event)"
                             aria-label="{{vm.isSelected(contact, vm.selectedContacts) ? 'Deselect' : 'Select'}}">
                </md-checkbox>

                <img class="md-avatar {{contact.mode}}" ng-if="contact.photo_url" alt="{{contact.name}}"
                     ng-src="{{contact.photo_url.replace('assets','')}}"/>

                <img class="md-avatar {{contact.mode}}" ng-if="!contact.photo_url" alt="{{contact.name}}"
                     ng-src="../images/avatars/blank.jpg"/>

                <p class="text-truncate font-weight-600" flex="30">{{contact.first_name}} {{contact.last_name}}</p>
                <p style="text-align: left;" flex="20" ng-if="contact.status == 'approve'">
                  <span style="text-align: left;margin: 6px 8px;padding: 0 6px;">My Contact</span>
                </p>
                <p style="text-align: left;" flex="20"
                   ng-if="contact.status == 'pending' && contact.sochara_user_id != user.id">
                  <span style="text-align: left;margin: 6px 8px;padding: 0 6px;">Pending</span>
                </p>
                <div style="text-align: left;" flex="20" class="actions" ng-if="!contact.status">
                  <md-button
                    class="btn-basic lh-2"
                    ng-click="$event.stopPropagation();vm.addContactRequest(contact)">
                    Add Contact
                  </md-button>
                </div>
                <div class="actions" layout="row" layout-align="start center"
                     ng-if="contact.status == 'pending' && contact.sochara_user_id == user.id">
                  <md-button
                    class="btn-basic lh-2"
                    ng-click="$event.stopPropagation();vm.acceptContactRequest(contact.id)">
                    Accept
                  </md-button>
                  <md-button
                    class="btn-basic lh-2"
                    ng-click="$event.stopPropagation();vm.declineContactRequest(contact.id)">
                    Decline
                  </md-button>
                </div>

                <div class="actions" layout="row" layout-align="start center">
                  <md-button class="md-icon-button  hide show-gt-xs"
                             ng-click="$event.stopPropagation();vm.toggleFavoriteContact(contact.id, contact.favorite)"
                             aria-label="Toggle starred">
                    <md-icon ng-if="contact.favorite" md-font-icon="icon-star"
                             class="amber-fg"></md-icon>
                    <md-icon ng-if="!contact.favorite"
                             md-font-icon="icon-star-outline"></md-icon>
                  </md-button>

                </div>

              </md-list-item>

            </div>
            <!-- CONTACT ITEM -->

            <!-- / CONTACT LIST -->

            <!-- NO RESULTS -->
            <md-list-item class="no-results md-white-bg" ng-show="filteredContacts.length === 0">

              <p>No results..</p>
            </md-list-item>
            <!-- / NO RESULTS -->
            <!--<md-button ng-if="vm.search" class="btn-violate" ng-click="vm.getAllSocharaUsers()"-->
            <!--aria-label="Search Sochara">Search sochara-->
            <!--</md-button>-->
          </md-list>

          <md-list class="contacts-list" ng-if="vm.socharaContacts && vm.socharaContacts.length">

            <!-- CONTACT LIST HEADER -->
            <md-subheader class="md-no-sticky md-white-bg">
              <div layout="row" layout-align="space-between center">
                <div class="list-title sochara_contact" layout="row" layout-align="start center"
                     ng-hide="editGroupForm.$visible">
                  <span>From Sochara Directory</span>

                  <span ng-if="vm.socharaContacts.length" class="secondary-text contacts-count">
                                ({{vm.socharaContacts.length}})
                            </span>
                </div>


                <div flex></div>


              </div>

            </md-subheader>
            <!-- / CONTACT LIST HEADER -->

            <!-- CONTACT ITEM -->
            <div ms-scroll class="contact-item-wrap">
              <md-list-item md-ink-ripple
                            ng-repeat="contact in vm.socharaContacts track by contact.id "
                            class="contact-item md-white-bg"
                            ng-class="{'selected-contact': vm.isSelected(contact,vm.selectedContacts), 'selected-contact-preview': vm.contactShow.id === contact.id}"
                            layout-align="space-between center"
                            ng-click="vm.openContactDialog($event, contact)">


                <img class="md-avatar {{contact.mode}}" ng-if="contact.photo_url" alt="{{contact.name}}"
                     ng-src="{{contact.photo_url.replace('assets','')}}"/>

                <img class="md-avatar {{contact.mode}}" ng-if="!contact.photo_url" alt="{{contact.name}}"
                     ng-src="../images/avatars/blank.jpg"/>

                <p class="text-truncate font-weight-600" flex="30">{{contact.first_name}} {{contact.last_name}}</p>
                <p style="text-align: left;" flex="20" ng-if="contact.status == 'approve'">
                  <span style="text-align: left;margin: 6px 8px;padding: 0 6px;">My Contact</span>
                </p>
                <p style="text-align: left;" flex="20"
                   ng-if="contact.status == 'pending' && contact.sochara_user_id != user.id">
                  <span style="text-align: left;margin: 6px 8px;padding: 0 6px;">Pending</span>
                </p>
                <p style="text-align: left;" flex="20" ng-if="contact.address && contact.address.length">
                  <span style="text-align: left;margin: 6px 8px;padding: 0 6px;" ng-bind="contact.address[0].address.city"></span>
                </p>
                <div style="text-align: left;" flex="20" class="actions" ng-if="!contact.status">
                  <md-button
                    class="btn-basic lh-2"
                    ng-click="$event.stopPropagation();vm.addContactRequest(contact.id)">
                    Add Contact
                  </md-button>
                </div>
                <div class="actions" layout="row" layout-align="start center"
                     ng-if="contact.status == 'pending' && contact.sochara_user_id == user.id">
                  <md-button
                    class="btn-basic lh-2"
                    ng-click="$event.stopPropagation();vm.acceptContactRequest(contact.id)">
                    Accept
                  </md-button>
                  <md-button
                    class="btn-basic lh-2"
                    ng-click="$event.stopPropagation();vm.declineContactRequest(contact.id)">
                    Decline
                  </md-button>
                </div>


              </md-list-item>
            </div>

            <!-- / CONTACT LIST -->

            <!-- NO RESULTS -->
            <md-list-item class="no-results md-white-bg" ng-show="filteredContacts.length === 0">

              <p>No results..</p>
            </md-list-item>
            <!-- / NO RESULTS -->
            <!--<md-button ng-if="vm.search" class="btn-violate" ng-click="vm.getAllSocharaUsers()"-->
            <!--aria-label="Search Sochara">Search sochara-->
            <!--</md-button>-->
          </md-list>
          <!-- CONTACT LIST -->
        </div>
      </div>
      <!-- / MAIN -->

      <div class="profile-detail " flex="30" hide-sm hide-xs
           ng-if="vm.contactShow && vm.contactShow.status !='pending'" layout="column"
           layout-align="space-between stretch">

        <!-- DIALOG TOOLBAR -->
        <md-toolbar class="md-accent" layout="column">

          <!-- TOOLBAR MIDDLE -->
          <div class="md-toolbar-tools md-toolbar-tools-middle">
            <div layout="row" layout-align="start center">
              <img ng-if="vm.contactShow.photo_url" ng-src="{{vm.contactShow.photo_url.replace('assets','')}}"
                   class="md-avatar avatar contact-avatar big {{vm.contactShow.mode}}"
                   alt="{{vm.contact.name}}"/>

              <img ng-if="!vm.contactShow.photo_url" ng-src="../images/avatars/blank.jpg"
                   class="md-avatar avatar contact-avatar big {{vm.contactShow.mode}}"
                   alt="{{vm.contact.name}}"/>
              <div class="contact-info" flex>
                <h3 class="md-headline">{{vm.contactShow.first_name}} {{vm.contactShow.middle_name?'
                  '+vm.contactShow.middle_name:''}} {{vm.contactShow.last_name}}</h3>
                <small class="md-sub">{{vm.contactShow.email}}</small>
              </div>
            </div>
          </div>
          <!-- / TOOLBAR MIDDLE -->

          <!--  TOOLBAR BOTTOM -->
          <div class="md-toolbar-tools md-toolbar-tools-bottom" layout="row" layout-align="end end">

            <div flex layout="row" layout-align="end end">
              <md-button class="md-icon-button"
                         ng-click="vm.redirectToChat(vm.contactShow.tableSrc ==='user'?vm.contactShow.id:vm.contactShow.contacts_table_id)"
                         ng-show="vm.contactShow.tableSrc ==='user' || vm.contactShow.chatAndEmail">
                <md-icon md-font-icon="icon-comment"></md-icon>
              </md-button>
              <md-button class="md-icon-button" ng-click="vm.redirectToEmail(vm.contactShow)"
                         ng-show="vm.contactShow.tableSrc ==='user' || vm.contactShow.chatAndEmail">
                <md-icon md-font-icon="icon-email"></md-icon>
              </md-button>
              <md-menu md-position-mode="target-right target" style="margin: inherit"
                       ng-if="vm.userGroups && vm.userGroups.length">
                <md-button class="md-icon-button" aria-label="More">
                  <md-icon md-font-icon="icon-account-multiple-plus" ng-click="$mdOpenMenu($event)"></md-icon>
                </md-button>

                <md-menu-content width="3">
                  <md-list-item ng-repeat="group in vm.userGroups"
                                ng-click="vm.toggleInArrayNew(vm.contactShow.id,group.id)">
                    <p class="pl-8">
                      {{group.name}}
                    </p>
                  </md-list-item>

                </md-menu-content>
              </md-menu>


              <md-button class="md-icon-button"
                         ng-click="vm.toggleFavoriteContact(vm.contactShow.id, vm.contactShow.favorite)"
                         aria-label="Toggle starred">

                <md-icon ng-if="vm.contactShow.favorite" md-font-icon="icon-star"
                         class="amber-fg"></md-icon>
                <md-icon ng-if="!vm.contactShow.favorite"
                         md-font-icon="icon-star-outline"></md-icon>
              </md-button>
            </div>
          </div>
          <!-- / TOOLBAR BOTTOM -->

        </md-toolbar>
        <!-- / DIALOG TOOLBAR -->

        <!-- DIALOG CONTENT -->
        <div class="profile-info" flex ms-scroll>

          <div ng-if="vm.contactShow.job.length" ng-repeat="item in vm.contactShow.job">
            <div layout="row" layout-align="space-between start">
              <div flex="33"><strong>Job Title</strong></div>
              <div flex><p>{{item.employee}}</p></div>
            </div>
            <div layout="row" layout-align="space-between start">
              <div flex="33"><strong>Company</strong></div>
              <div flex><p>{{item.company}}</p></div>
            </div>
          </div>
          <md-divider></md-divider>

          <div layout="row" layout-align="space-between start"
               ng-repeat="item in vm.contactShow.phone track by $index"
               ng-if="item.number">
            <div flex="33"><strong>{{item.type}}</strong></div>
            <div flex><p>{{item.number}}</p></div>
          </div>

          <md-divider></md-divider>
          <div layout="row" layout-align="center center" ng-if="vm.contactShow.email">
            <div flex="33"><strong>Email</strong></div>
            <div flex><p>{{vm.contactShow.email}}</p></div>
          </div>
          <md-divider></md-divider>

          <div layout="row" layout-align="center center">
            <div flex="33"><strong style="color:gray;">Email (Others)</strong></div>
            <div flex></div>
          </div>
          <div layout="row" layout-align="center center" ng-repeat="item in vm.contactShow.emails"
               ng-if="item.address">
            <div flex="33"><strong>{{item.type}}</strong></div>
            <div flex><p>{{item.address}}</p></div>
          </div>


          <md-divider></md-divider>

          <div layout="row" layout-align="center center" ng-if="vm.contactShow.address.length">
            <div flex="33"><strong style="color:gray;">Address</strong></div>
            <div flex></div>
          </div>
          <div layout="row" layout-align="space-between start" ng-repeat="item in vm.contactShow.address">
            <div flex="33"><strong>{{item.type}}</strong></div>
            <div flex><p>{{item.address.street}} {{item.address.city}}<br>
              {{item.address.state}}{{item.address.zip}}<br>
              {{item.address.country}}</p></div>
          </div>


          <md-divider ng-if="vm.contactShow.date_birth"></md-divider>


          <div layout="row" layout-align="space-between start" ng-if="vm.contactShow.date_birth">
            <div flex="33"><strong>Birthday</strong></div>
            <div flex><p>{{vm.contactShow.date_birth | date : "dd-MM-y"}}</p></div>
          </div>
          <md-divider ng-if="vm.contactShow.date_anniversary"></md-divider>

          <div layout="row" layout-align="space-between start" ng-if="vm.contactShow.date_anniversary">
            <div flex="33"><strong>Anniversary</strong></div>
            <div flex><p>{{vm.contactShow.date_anniversary | date : "dd-MM-y"}}</p></div>
          </div>
          <md-divider></md-divider>

          <div layout="row" layout-align="space-between start" ng-if="vm.contactShow.social.length">
            <div flex="33"><strong>Social</strong></div>
            <div flex>
              <p ng-repeat="item in vm.contactShow.social"><a
                ng-href="{{vm.socialContactURL(item.type)+item.address}}">
                <md-icon md-font-icon="icon-{{item.type==='other'?'web':item.type}}"></md-icon>
                {{item.address}}</a></p>
            </div>
          </div>

          <md-divider></md-divider>


          <div ng-if="!vm.allFields" layout="row" layout-align="center center">
            <md-button class="md-accent" ng-click="vm.allFields = true">
              Show All Fields
            </md-button>
          </div>

          <div ng-if="vm.allFields">

            <div layout="row" layout-align="space-between start">
              <div flex="33"><strong>IM</strong></div>
              <div flex>
                <p ng-repeat="item in vm.contactShow.im"><a ng-href="{{vm.imURL(item.type, item.address)}}">
                  <md-icon md-font-icon="icon-{{item.type==='other'?'message':item.type}}"></md-icon>
                  {{item.address}}</a></p>
              </div>
            </div>

            <md-divider></md-divider>


            <div layout="row" layout-align="space-between start">
              <div flex="33"><strong style="color:gray;">Relatives</strong></div>
              <div flex></div>
            </div>
            <div layout="row" layout-align="center center" ng-repeat="item in vm.contactShow.relatives">
              <div flex="33"><strong>{{item.type}}</strong></div>
              <div flex><p>{{item.number}}</p></div>
            </div>
            <md-divider></md-divider>

            <div layout="row" layout-align="center center">
              <div flex="33"><strong>Notes</strong></div>
              <div flex><p>{{vm.contactShow.notes}}</p></div>
            </div>
          </div>
        </div>
        <!-- / DIALOG CONTENT -->

        <!-- DIALOG ACTIONS -->
        <div layout="row" layout-align="space-between center" class="p-10 border-top">
          <md-button class="btn-basic lh-2" ng-click="vm.deleteContactConfirm(vm.contactShow, $event);">Delete
          </md-button>

          <md-button class="btn-violate lh-2" ng-click="vm.updateContact();">Edit</md-button>

        </div>
        <!-- / DIALOG ACTIONS -->


      </div>

    </div>
  </div>
  <!-- / CONTENT -->


</div>
