<div id="cards" class="page-layout simple left-sidenav inner-sidenav">
  <!-- HEADER -->
  <div class="header" layout="row" layout-align="start center">

    <!-- APP TITLE -->

    <div class="logo" layout="row" layout-align="start center" flex="25">
      <span class="logo-icon">
          <md-icon md-font-icon="icon-wallet-giftcard" class="s40"></md-icon>
      </span>
      <span class="logo-text">Cards</span>
    </div>

    <div layout="row" layout-align="start center">
      <div layout="row">
        <md-button md-no-ink class="btn-violate card_background_toolbar_button" ngf-select="vm.changeCardBackground($file);" accept="image/*"><md-icon md-font-icon="icon-image-filter-hdr"></md-icon> Background Image</md-button>
        <md-menu md-offset="0 0" md-position-mode="target-left target">
          <md-button flow-btn class="add-file-button md-fab md-purple-700-bg"
                     aria-label="Add file" ng-click="$mdMenu.open($event)">
            <md-icon md-font-icon="icon-plus"></md-icon>
          </md-button>
          <md-menu-content width="3">
            <md-menu-item>
              <md-button ng-click="vm.insertText();">
                <md-icon md-font-icon="icon-format-text"></md-icon>
                Text Layer
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ngf-select="vm.insertImage($file, $event);" accept="image/*">
                <md-icon md-font-icon="icon-file-image-box"></md-icon>
                Image
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="vm.insertText('date');">
                <md-icon md-font-icon="icon-calendar"></md-icon>
                Date
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="vm.insertText('time');">
                <md-icon md-font-icon="icon-timetable"></md-icon>
                Time
              </md-button>
            </md-menu-item>
            <!--<md-menu-item>-->
            <!--<md-button ngf-select="vm.uploadFiles($files, $invalidFiles, vm.currentFolderId)" -->
            <!--ngf-pattern="'*'" ngf-multiple="true" ngf-allow-dir="true" ngf-include-dir="true" input-file-webkitdirectory>-->
            <!--<md-icon md-font-icon="icon-folder-upload"></md-icon>-->
            <!--Folder Upload-->
            <!--</md-button>-->
            <!--</md-menu-item>-->
          </md-menu-content>

        </md-menu>
        <div class="cards editor-wrap">
          <div layout="row" id="editingLabelText" layout-align="space-between center">
            <div layout="row" class="editToolsArea" layout-align="space-between center">
              <label>
                <input id="cardFontFamilies" type="text"/>
              </label>&nbsp;&nbsp;
              <label>
                <select id="labelFontSize" class="fa" ng-model="vm.cardData.styles.fontSize" ng-change="vm.changeCardFontSize(vm.cardData.styles.fontSize);">
                  <option value="">&#xf031;</option>
                  <option value="14px">14</option>
                  <option value="15px">15</option>
                  <option value="16px">16</option>
                  <option value="18px">18</option>
                  <option value="20px">20</option>
                  <option value="22px">22</option>
                  <option value="24px">24</option>
                  <option value="28px">28</option>
                  <option value="32px">32</option>
                  <option value="34px">34</option>
                  <option value="36px">36</option>
                  <option value="40px">40</option>
                </select>
              </label>&nbsp;&nbsp;
              <div layout="row" layout-align="space-between">

                <md-icon md-font-icon="icon-format-bold" style="{{vm.isTextBold?'background:gainsboro;':''}}" class=""
                         ng-click="vm.isTextBold=!vm.isTextBold;vm.changeCardTextStyleBold(vm.isTextBold);"></md-icon>
                <md-icon md-font-icon="icon-format-italic" style="{{vm.isTextItalic?'background:gainsboro;':''}}"
                         class=""
                         ng-click="vm.isTextItalic=!vm.isTextItalic;vm.changeCardTextStyleItalic(vm.isTextItalic);"></md-icon>
                <md-icon md-font-icon="icon-format-underline"
                         style="{{vm.isTextUnderlined?'background:gainsboro;':''}}"
                         class=""
                         ng-click="vm.isTextUnderlined=!vm.isTextUnderlined;vm.changeCardTextStyleUnderline('underline');"></md-icon>
                <!--<ms-material-color-picker ms-model-type="obj" ng-model="vm.labelTextcolor"-->
                <!--ng-change="vm.labelTextcolorChange();">-->
                <!--<button class="md-icon-button sm-button">-->
                <!--<md-icon md-font-icon="icon-palette"></md-icon>-->
                <!--</button>-->
                <!--</ms-material-color-picker>-->
                <div spectrum-colorpicker ng-model="vm.cardData.styles.color" ng-change="vm.changeSelectedTextColor(vm.cardData.styles.color)"
                     on-change='!!color && action(color)' format='"hex"'></div>

                <md-icon md-font-icon="icon-format-align-left"
                         style="{{vm.labelTextAlignLeft?'background:gainsboro;':''}}"
                         class=""
                         ng-click="vm.labelTextAlign='left';vm.labelTextAlignLeft=true;vm.labelTextAlignCenter=false;vm.labelTextAlignRight=false;vm.changeCardTextAlign('left')"></md-icon>
                <md-icon md-font-icon="icon-format-align-center"
                         style="{{vm.labelTextAlignCenter?'background:gainsboro;':''}}"
                         class=""
                         ng-click="vm.labelTextAlign='center';vm.labelTextAlignLeft=false;vm.labelTextAlignCenter=true;vm.labelTextAlignRight=false;vm.changeCardTextAlign('center')"></md-icon>
                <md-icon md-font-icon="icon-format-align-right"
                         style="{{vm.labelTextAlignRight?'background:gainsboro;':''}}"
                         class=""
                         ng-click="vm.labelTextAlign='right';vm.labelTextAlignLeft=false;vm.labelTextAlignCenter=false;vm.labelTextAlignRight=true;vm.changeCardTextAlign('right')">

                </md-icon>
                <md-icon md-font-icon="icon-delete" ng-click="vm.removeLayer();"></md-icon>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- / HEADER -->
  <!-- CONTENT -->
  <div class="content-wrap label-wrap md-whiteframe-2dp">
    <div class="content">
      <div layout="row" layout-align="space-between stretch">

        <div flex class="card-preview" layout="column" layout-align="space-between stretch">
          <div class="cp-title">Card Preview</div>
          <div class="cp-card" id="cardContent" style="font-family: {{vm.cardData.styles.font|| ''}}; color: {{vm.cardData.styles.color}}; font-size: {{vm.cardData.styles.fontSize||''}} ;font-weight: {{vm.cardData.styles.fontWeight||'' }};font-style: {{vm.cardData.styles.fontStyle || '' }};background-image: url({{ vm.cardBgImage | ngfDataUrl }}); background-color: {{vm.cardData.styles.backgroundColor || 'inherit'}};">

          </div>
          <div id="printCard" style="display: none;"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- / CONTENT -->


</div>
