<div id="cards" class="page-layout simple left-sidenav inner-sidenav">
  <!-- HEADER -->
  <div class="header" layout="row" layout-align="start center">

    <!-- APP TITLE -->

    <div class="logo" layout="row" layout-align="start center" flex="25">
      <span class="logo-icon">
          <md-icon md-font-icon="icon-wallet-giftcard" class="s40"></md-icon>
      </span>
      <span class="logo-text">Cards</span>
    </div>

    <!--<div layout="row" layout-align="start center">-->
    <!--<md-input-container>-->
    <!--<md-checkbox name="tos" required>-->
    <!--Select all-->
    <!--</md-checkbox>-->
    <!--</md-input-container>-->
    <!--<span class="selected-contacts-count">-->
    <!--<span>1</span>-->
    <!--<span>selected</span>-->
    <!--</span>-->


    <!--<md-button class="md-icon-button"-->
    <!--aria-label="delete selected">-->
    <!--<md-icon md-font-icon="icon-delete"></md-icon>-->
    <!--</md-button>-->
    <!--</div>-->
    <div layout="row" layout-align="start center">
      <div layout="row" class="head-btn">
        <md-button ng-if="vm.allCards.length">My Cards: <span ng-bind="vm.allCards.length"></span></md-button>
        <md-button ng-if="vm.shareCards.length">Shared Cards: <span ng-bind="vm.shareCards.length"></span></md-button>
      </div>
    </div>
  </div>
  <!-- / HEADER -->
  <!-- CONTENT -->
  <div class="content-wrap label-wrap md-whiteframe-2dp">
    <div class="content">
      <div layout="row" layout-align="space-between stretch">
        <div flex class="cards-tabs">
          <md-tabs md-dynamic-height md-no-ink-bar class="cards-tabs config-tabs" md-selected="vm.currentTabIndex">
            <md-tab>
              <md-tab-label>My Cards</md-tab-label>
              <md-tab-body>
                <div ng-if="vm.loadingCards" class="tab-content-wrap loading-threads gray-color" layout="column"
                     layout-align="center center">
                  <md-progress-circular class="md-accent" md-mode="indeterminate"
                                        md-diameter="64"></md-progress-circular>
                  <div>Loading card items...</div>
                </div>
                <div ng-if="!vm.loadingCards" class="tab-content-wrap tab-items" ms-scroll>
                  <div class="label-list">
                    <h3 class="items-head">My Cards: <span ng-bind="vm.allCards.length"></span></h3>
                    <div layout="row" class="tabs-row" layout-wrap>

                      <div flex="20" flex-xl="16.66" flex-md="33" flex-sm="50">
                        <div layout-align="space-between stretch" layout="column">
                          <div class="item-create square-box mr-10 mb-20">
                            <md-button ng-click="vm.initCardObjects(1)">
                              <md-icon md-font-icon="icon-plus"></md-icon>
                              <p>Add Card</p>
                            </md-button>
                          </div>
                        </div>
                      </div>
                      <div ng-repeat="card in vm.allCards" flex="20" flex-xl="16.66" flex-md="33" flex-sm="50">
                        <div class="mr-10 mb-20 square-box less-height">
                          <div layout="column" layout-align="space-between stretch" class="hp-100">
                            <div class="item-thumb cursor-pointer" flex ng-click="vm.loadExistingCard(card);">
                              <div class="item-avatar online">
                                <img class="avatar" ng-src="{{card.user.photo_url}}"
                                     alt="card.user.first_name">
                              </div>
                              <img ng-src="{{vm.getThumbImage(card.file)}}" alt="poll-small">
                            </div>

                            <div layout="row" layout-align="space-between center" class="nev-content-head pt-no pb-no">
                              <div flex class="cursor-pointer">
                                <h3 ng-click="vm.loadExistingCard(card);">{{card.eventTitle}}</h3>
                              </div>
                              <md-menu md-offset="0 -7">
                                <md-button aria-label="Open demo menu" class="md-icon-button"
                                           ng-click="$mdMenu.open($event)">
                                  <md-icon md-menu-origin md-font-icon="icon-dots-vertical"></md-icon>
                                </md-button>
                                <md-menu-content width="2">
                                  <md-menu-item ng-if="card.user.id == user.id">
                                    <md-button ng-click="vm.deleteCard(card.id)">
                                      <md-icon md-font-icon="icon-delete"></md-icon>
                                      Delete
                                    </md-button>
                                  </md-menu-item>
                                  <md-menu-item>
                                    <md-button ng-click="vm.favoriteCard(card, 'all')">
                                      <md-icon md-font-icon="{{vm.findFavoriteCardItem(card)}}"></md-icon> Favorite
                                    </md-button>
                                  </md-menu-item>
                                </md-menu-content>
                              </md-menu>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!--<div layout="row" layout-align="start" class="card-row" layout-wrap>-->

                      <!--<div flex="33" layout-align="space-between stretch" layout="column">-->
                        <!--<div class="item-create">-->
                          <!--<md-button ng-click="vm.initCardObjects(1)">-->
                            <!--<md-icon md-font-icon="icon-plus"></md-icon>-->
                            <!--<p>Create Card</p>-->
                          <!--</md-button>-->
                        <!--</div>-->
                      <!--</div>-->

                      <!--<div flex="33" ng-repeat="cardData in vm.allCards">-->
                        <!--<div class="tab-item-wrap" layout="column">-->
                          <!--<div class="item-thumb">-->
                            <!--<div class="item-avatar online">-->
                              <!--<img class="avatar" ng-src="{{cardData.user.photo_url}}"-->
                                   <!--alt="{{cardData.user.first_name}}">-->
                            <!--</div>-->
                            <!--<md-button class="nopad nomargin" ng-click="vm.loadExistingCard(cardData);"><img-->
                              <!--ng-src="{{vm.getThumbImage(cardData.file)}}" alt="card-small"></md-button>-->
                          <!--</div>-->
                          <!--<div layout="row" layout-align="space-between center" class="nev-content-head card-info">-->
                            <!--<div flex>-->
                              <!--<h3 title="{{cardData.eventTitle}}" ng-click="vm.loadExistingCard(cardData);">-->
                                <!--{{cardData.eventTitle}}</h3>-->
                            <!--</div>-->
                            <!--<md-menu md-position-mode="target-right target" md-offset="0 -7">-->
                              <!--<md-button aria-label="Open demo menu" class="md-icon-button"-->
                                         <!--ng-click="$mdMenu.open($event)">-->
                                <!--<md-icon md-menu-origin md-font-icon="icon-dots-vertical"></md-icon>-->
                              <!--</md-button>-->
                              <!--<md-menu-content width="2">-->
                                <!--<md-menu-item ng-if="!cardData.favorite">-->
                                  <!--<md-button ng-click="vm.favoriteCard(cardData.id)">-->
                                    <!--<md-icon md-font-icon="icon-heart-outline"></md-icon>-->
                                    <!--Add to Favorite-->
                                  <!--</md-button>-->
                                <!--</md-menu-item>-->
                                <!--<md-menu-item ng-if="cardData.favorite">-->
                                  <!--<md-button ng-click="vm.favoriteCard(cardData.id, 'remove')">-->
                                    <!--<md-icon md-font-icon="icon-heart"></md-icon>-->
                                    <!--Remove Favorite-->
                                  <!--</md-button>-->
                                <!--</md-menu-item>-->
                                <!--<md-menu-item>-->
                                  <!--<md-button ng-click="vm.deleteCard(cardData.id)">-->
                                    <!--<md-icon md-font-icon="icon-delete"></md-icon>-->
                                    <!--Delete Card-->
                                  <!--</md-button>-->
                                <!--</md-menu-item>-->
                              <!--</md-menu-content>-->
                            <!--</md-menu>-->
                          <!--</div>-->
                        <!--</div>-->
                      <!--</div>-->

                    <!--</div>-->
                  </div>
                  <div class="label-list">
                    <h3 class="items-head">Shared With Me: <span ng-bind="vm.shareCards.length"></span></h3>
                    <div layout="row" layout-align="start" class="card-row" layout-wrap>
                      <div flex="20" flex-xl="16.66" flex-md="33" flex-sm="50" ng-repeat="card in vm.shareCards">
                        <div class="mr-10 mb-20 square-box less-height">
                          <div layout="column" layout-align="space-between stretch" class="hp-100">
                            <div class="item-thumb cursor-pointer" flex ng-click="vm.loadExistingCard(card);">
                              <div class="item-avatar online">
                                <img class="avatar" ng-src="{{card.user.photo_url}}"
                                     alt="card.user.first_name">
                              </div>
                              <img ng-src="{{vm.getThumbImage(card.file)}}" alt="poll-small">
                            </div>

                            <div layout="row" layout-align="space-between center" class="nev-content-head">
                              <div flex class="cursor-pointer">
                                <h3 ng-click="vm.loadExistingCard(card);">{{card.eventTitle}}</h3>
                              </div>
                              <span class="cursor-pointer pr-10"><md-icon md-font-icon="{{vm.findFavoriteCardItem(card)}}"
                                             ng-click="vm.favoriteCard(card, 'shared')"></md-icon></span>
                            </div>

                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </md-tab-body>
            </md-tab><!--md-tab-->
            <md-tab>
              <md-tab-label>Create</md-tab-label>
              <md-tab-body>
                <div class="tab-content-wrap" ms-scroll>
                  <div class="tab-fields">
                    <div layout="row" layout-align="start center">
                      <label class="label">Event Title:</label>
                      <input type="text" placeholder="Type here" ng-model="vm.cardData.eventTitle" flex>
                    </div><!--row-->
                    <!--<div layout="row" layout-align="start center">-->
                    <!--<label class="label">Additional Text:</label>-->
                    <!--<input type="text" placeholder="Type here" ng-model="vm.cardData.additionalTextForEvent">-->
                    <!--</div>&lt;!&ndash;row&ndash;&gt;-->
                    <div layout="row" layout-align="start center">
                      <label class="label">Event Date:</label>
                      <md-datepicker class="custom-datepicker" ng-model="vm.cardData.eventDate"
                                     md-placeholder="Enter date"
                                     md-hide-icons="triangle" md-open-on-focus></md-datepicker>
                    </div><!--row-->
                    <div layout="row" layout-align="start center">
                      <label class="label">Event Time:</label>
                      <mdp-time-picker class="nopad-row" mdp-auto-switch="true"
                                       ng-model="vm.cardData.eventStartTime"></mdp-time-picker>
                      <span style="padding: 7px 15px">To</span>
                      <mdp-time-picker class="nopad-row" mdp-auto-switch="true"
                                       ng-model="vm.cardData.eventEndTime"></mdp-time-picker>
                    </div><!--row-->
                    <div layout="row" layout-align="start center">
                      <label class="label">Location Name:</label>
                      <input type="text" placeholder="e.g., At Our House" ng-model="vm.cardData.locationName">
                    </div><!--row-->
                    <div layout="row" layout-align="start center">
                      <label class="label">City:</label>
                      <input type="text" placeholder="Type city" ng-model="vm.cardData.city">
                    </div><!--row-->
                    <div layout="row" layout-align="start center">
                      <label class="label">State:</label>
                      <input type="text" placeholder="Type state" ng-model="vm.cardData.state">
                    </div><!--row-->
                    <div layout="row" layout-align="start center">
                      <label class="label">ZIP:</label>
                      <input type="text" placeholder="Type ZIP" ng-model="vm.cardData.zip">
                    </div><!--row-->
                    <!--<div layout="row" layout-align="start start">-->
                    <!--<label class="label">Invitation Details:</label>-->
                    <!--<div layout="row">-->
                    <!--<div class="response">-->
                    <!--<div layout="row">-->
                    <!--<div class="yes">-->
                    <!--<img class="avatar" src="images/avatars/profile.jpg" alt="profile">-->
                    <!--</div>-->
                    <!--<div class="no sm">-->
                    <!--<img class="avatar" src="images/avatars/profile.jpg" alt="profile">-->
                    <!--</div>-->
                    <!--<div class="notsure sm">-->
                    <!--<img class="avatar" src="images/avatars/profile.jpg" alt="profile">-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--<p>You select your response “ <span class="yes">YES</span> ”</p>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>&lt;!&ndash;row&ndash;&gt;-->
                  </div>
                </div>
              </md-tab-body>
            </md-tab><!--md-tab-->
            <md-tab>
              <md-tab-label>Design & Details</md-tab-label>
              <md-tab-body>
                <div class="tab-content-wrap" ms-scroll>
                  <div layout="row">
                    <div class="" layout="column" flex="65">
                      <div class="tab-fields">
                        <div layout="row" layout-align="start center">
                          <label class="label">Card corner radius:</label>
                          <md-slider min="0" max="255" ng-model="vm.cardData.cornerRadius" aria-label="red"
                                     class="custom-slide"
                                     id="red-slider" ng-change="vm.changeRadius();"></md-slider>
                          <span ng-bind="vm.cardData.cornerRadius + 'px'"></span>
                        </div><!--row-->
                        <div layout="row" layout-align="start center">
                          <label class="label">Background color:</label>
                          <div spectrum-colorpicker style='width: 63px' ng-model='vm.cardData.styles.backgroundColor'
                               format='"hex"' ng-change='vm.changeBackgroundColor()'></div>
                        </div><!--row-->
                        <div layout="row" layout-align="start center">
                          <label class="label">Text color:</label>
                          <div spectrum-colorpicker style='width: 63px' ng-model='vm.cardData.styles.color'
                               format='"hex"'></div>
                        </div><!--row-->
                        <div layout="row" layout-align="start center">
                          <label class="label">Gradient:</label>
                          <md-switch ng-model="vm.cardData.gradient" ng-change="vm.changeGradientColor()"
                                     aria-label="Switch 1">
                          </md-switch>
                          <div layout="row" class="space-child-right-10 nopad" ng-if="vm.cardData.gradient">
                            <select ng-model="vm.cardData.gradientStyle.gradientType"
                                    ng-change="vm.changeGradientColor()">
                              <option ng-repeat="option in vm.gradientOptions" value="{{option.values}}">
                                {{option.field}}
                              </option>
                            </select>
                            <div class="" spectrum-colorpicker ng-change="vm.changeGradientColor()"
                                 ng-model='vm.cardData.gradientStyle.colorOne'
                                 on-change='!!color && action(color)' format='"hex"'></div>

                            <div class="" spectrum-colorpicker ng-change="vm.changeGradientColor()"
                                 ng-model='vm.cardData.gradientStyle.colorTwo'
                                 on-change='!!color && action(color)' format='"hex"'></div>
                          </div><!--row-->

                        </div><!--row-->

                        <div layout="row" layout-align="start center" class="btn-gr-left">
                          <label class="label">Background Image:</label>
                          <md-button class="btn-basic" ngf-select ng-model="vm.changeBgImage"
                                     ng-click="vm.clearOtherBackground()" accept="image/*" type="button">
                            <span class="ng-scope">Browse Image</span>
                            <div class="md-ripple-container" style=""></div>
                          </md-button>
                        </div><!--row-->
                      </div>
                    </div>
                    <div class="" layout="column" flex="35">

                      <div ng-if="vm.changeBgImage" ngf-drop ngf-pattern="image/*"
                           class="cropArea" ng-init="vm.getBackgroundImageAcceptRatio()">
                        <img-crop image="vm.changeBgImage" area-type="rectangle" init-max-area="true"
                                  aspect-ratio="vm.cardBackgroundRatio"
                                  result-image-size='{w: vm.cardBackgroundImageWidth, h: vm.cardBackgroundImageHeight}'
                                  result-image="vm.cardData.styles.background" ng-init="vm.cardData.styles.background=''">
                        </img-crop>
                      </div>

                    </div>
                  </div>
                  <div class="tab-fields card_bg_wrap">
                    <div class="bg_choice_from_templet">Choice background image from:</div>
                    <hr>
                    <div ng-repeat="cn in vm.cardArrays track by $index" class="card_bg single">
                      <div class="mr-10 mb-20">
                        <div class="tab-item-wrap square-box">
                          <md-button class="nopad nomargin card_bg_s" ng-click="vm.changeCardBackgroundImage(cn)" ng-class="{selected: vm.selectedCardBgImage == cn}">
                            <img src="images/cards/thumb/{{cn}}.jpg" alt="poll_design_2">
                          </md-button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </md-tab-body>
            </md-tab><!--md-tab-->
            <md-tab>
              <md-tab-label>Share and Print</md-tab-label>

              <md-tab-body>
                <div class="tab-content-wrap" ms-scroll>

                  <div layout="column">
                    <h2>Add Contacts to Share Card</h2>
                    <!-- SEARCH -->
                    <div class="search-wrap" layout="row">
                      <input flex type="text" placeholder="Search Add contact" ng-model="vm.searchedContact">
                      <md-button class="md-icon-button">
                        <md-icon md-font-icon="icon-magnify"></md-icon>
                      </md-button>
                      <ul class="contact-selection"
                          ng-show="vm.searchedContact.length >= 2 && (vm.contacts | filter:vm.searchedContact).length"
                          ms-scroll>
                        <li ng-repeat="contact in vm.contacts | filter:vm.searchedContact">
                          <a ng-click="vm.selectContactForShare(contact)"
                             ng-bind="contact.first_name + ' ' + contact.last_name"></a>
                        </li>
                      </ul>
                    </div>
                    <!-- / SEARCH -->
                    <div class="share-contact-wrap" ng-if="vm.cardData.users.length">
                      <ul id="shareContact">
                        <li ng-repeat="contact in vm.cardData.users">
                          <md-icon md-font-icon="icon-checkbox-blank-circle online"></md-icon>
                          <span ng-bind="contact.first_name + ' ' + contact.last_name"></span>
                          <md-button class="md-icon-button">
                            <md-icon md-font-icon="icon-close" ng-click="vm.deleteContactFromShare(contact)"></md-icon>
                          </md-button>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div layout="row" class="btn-gr-left">
                    <md-button class="btn-violate btn-small" ng-click="vm.saveCard()">Save</md-button>
                    <md-button ng-if="vm.cardData.id" class="md-raised md-button md-ink-ripple"
                               ng-click="vm.saveCard('yes')">Save Copy
                    </md-button>
                    <!--<md-button class="btn-violate" ng-click="">Share</md-button>-->
                  </div>
                  <hr>
                  <div class="tab-fields">
                    <div layout="row" layout-align="start center">
                      <label class="label right">Send at another time:</label>
                      <md-switch ng-model="data.cb1" aria-label="Switch 1">
                      </md-switch>&nbsp;&nbsp;
                      <md-datepicker class="custom-datepicker" ng-model="vm.cardData.eventDate"
                                     md-placeholder="Enter date"
                                     md-hide-icons="triangle" md-open-on-focus></md-datepicker>
                      &nbsp;&nbsp;
                      <mdp-time-picker class="expire_on_time" mdp-auto-switch="true"
                                       ng-model="vm.cardData.eventStartTime"></mdp-time-picker>
                    </div><!--row-->
                    <div layout="row" layout-align="start center">
                      <label class="label right">Allow guests to bring others:</label>
                      <md-checkbox></md-checkbox>
                    </div><!--row-->
                    <hr>
                    <div layout="row" layout-align="start center">
                      <label class="label right">Print Card:</label>
                      <span style="cursor: pointer;" title="Print Card"><md-icon md-font-icon="icon-printer" ng-click="vm.printCard()"></md-icon></span>
                    </div>
                  </div>
                </div>
              </md-tab-body>
            </md-tab><!--md-tab-->
            <md-tab md-on-select="vm.cardReady()">
              <md-tab-label>Card Preview</md-tab-label>
              <md-tab-body>
                <div class="tab-content-wrap" ms-scroll>
                  <div layout="column">
                    <div layout="row" layout-align="start end" class="no-padding">
                        <!--<md-button md-no-ink class="btn-violate card_background_toolbar_button" ngf-select="vm.changeCardBackground($file);" accept="image/*"><md-icon md-font-icon="icon-image-filter-hdr"></md-icon> Background Image</md-button>-->
                        <div class="cards editor-wrap">
                          <div layout="row" id="editingLabelText" layout-align="space-between center">
                            <md-menu md-offset="0 0" md-position-mode="target-left target">
                              <md-button flow-btn class="add-file-button md-fab md-purple-700-bg"
                                         aria-label="Add file" ng-click="$mdMenu.open($event)">
                                <md-icon md-font-icon="icon-plus"></md-icon>
                              </md-button>
                              <md-menu-content width="3">
                                <md-menu-item>
                                  <md-button ng-click="vm.insertText('title');">
                                    <md-icon md-font-icon="icon-format-text"></md-icon>
                                    Event Name
                                  </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                  <md-button ng-click="vm.insertText('address');">
                                    <md-icon md-font-icon="icon-format-text"></md-icon>
                                    Address
                                  </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                  <md-button ng-click="vm.insertText('date');">
                                    <md-icon md-font-icon="icon-calendar"></md-icon>
                                    Date
                                  </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                  <md-button ng-click="vm.insertText('time');">
                                    <md-icon md-font-icon="icon-timetable"></md-icon>
                                    Time
                                  </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                  <md-button ng-click="vm.insertText();">
                                    <md-icon md-font-icon="icon-format-text"></md-icon>
                                    Text Layer
                                  </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                  <md-button ngf-select="vm.insertImage($file, $event);" accept="image/*">
                                    <md-icon md-font-icon="icon-file-image-box"></md-icon>
                                    Image
                                  </md-button>
                                </md-menu-item>
                              </md-menu-content>

                            </md-menu>
                            <div layout="row" class="editToolsArea" layout-align="space-between center">
                              <label>
                                <input id="cardFontFamilies" type="text"/>
                              </label>&nbsp;&nbsp;
                              <label>
                                <select id="labelFontSize" class="fa" ng-model="vm.cardData.styles.fontSize" ng-change="vm.changeCardFontSize(vm.cardData.styles.fontSize);">
                                  <option value="">&#xf031;</option>
                                  <option value="14px">14</option>
                                  <option value="15px">15</option>
                                  <option value="16px">16</option>
                                  <option value="18px">18</option>
                                  <option value="20px">20</option>
                                  <option value="22px">22</option>
                                  <option value="24px">24</option>
                                  <option value="28px">28</option>
                                  <option value="32px">32</option>
                                  <option value="34px">34</option>
                                  <option value="36px">36</option>
                                  <option value="40px">40</option>
                                </select>
                              </label>&nbsp;&nbsp;
                              <div layout="row" layout-align="space-between">

                                <md-icon md-font-icon="icon-format-bold" style="{{vm.isTextBold?'background:gainsboro;':''}}" class=""
                                         ng-click="vm.isTextBold=!vm.isTextBold;vm.changeCardTextStyleBold(vm.isTextBold);"></md-icon>
                                <md-icon md-font-icon="icon-format-italic" style="{{vm.isTextItalic?'background:gainsboro;':''}}"
                                         class=""
                                         ng-click="vm.isTextItalic=!vm.isTextItalic;vm.changeCardTextStyleItalic(vm.isTextItalic);"></md-icon>
                                <md-icon md-font-icon="icon-format-underline"
                                         style="{{vm.isTextUnderlined?'background:gainsboro;':''}}"
                                         class=""
                                         ng-click="vm.isTextUnderlined=!vm.isTextUnderlined;vm.changeCardTextStyleUnderline(vm.isTextUnderlined);"></md-icon>

                                <div spectrum-colorpicker ng-model="vm.cardData.styles.color" ng-change="vm.changeSelectedTextColor(vm.cardData.styles.color)"
                                     on-change='!!color && action(color)' format='"hex"'></div>

                                <md-icon md-font-icon="icon-format-align-left"
                                         style="{{vm.labelTextAlignLeft?'background:gainsboro;':''}}"
                                         class=""
                                         ng-click="vm.labelTextAlign='left';vm.labelTextAlignLeft=true;vm.labelTextAlignCenter=false;vm.labelTextAlignRight=false;vm.changeCardTextAlign('left')"></md-icon>
                                <md-icon md-font-icon="icon-format-align-center"
                                         style="{{vm.labelTextAlignCenter?'background:gainsboro;':''}}"
                                         class=""
                                         ng-click="vm.labelTextAlign='center';vm.labelTextAlignLeft=false;vm.labelTextAlignCenter=true;vm.labelTextAlignRight=false;vm.changeCardTextAlign('center')"></md-icon>
                                <md-icon md-font-icon="icon-format-align-right"
                                         style="{{vm.labelTextAlignRight?'background:gainsboro;':''}}"
                                         class=""
                                         ng-click="vm.labelTextAlign='right';vm.labelTextAlignLeft=false;vm.labelTextAlignCenter=false;vm.labelTextAlignRight=true;vm.changeCardTextAlign('right')">

                                </md-icon>
                                <md-icon md-font-icon="icon-delete" ng-click="vm.removeLayer();"></md-icon>

                              </div>
                            </div>
                            <div layout="row" layout-align="end end">
                              <span style="cursor: pointer;" title="Print Card"><md-icon md-font-icon="icon-printer" ng-click="vm.printCard()"></md-icon></span>
                            </div>
                          </div>
                        </div>
                    </div>
                    <div id="cardEditor" layout="row" layout-align="space-between stretch">
                      <div flex class="card-preview" layout="column" layout-align="space-between stretch">
                        <div class="cp-card" id="cardContent" style="position: relative;height: 770px;font-family: {{vm.cardData.styles.font|| ''}}; color: {{vm.cardData.styles.color}}; font-size: {{vm.cardData.styles.fontSize||''}} ;font-weight: {{vm.cardData.styles.fontWeight||'' }};font-style: {{vm.cardData.styles.fontStyle || '' }};background-image: url({{ vm.cardData.styles.background }}); background-color: {{vm.cardData.styles.backgroundColor || 'inherit'}};background-size: cover;background-position: center 0;">

                        </div>
                        <!--<div id="printCard" style="display: none;"></div>-->
                      </div>
                    </div>
                  </div>
                </div>
              </md-tab-body>
            </md-tab>
          </md-tabs>
        </div>
      </div>
    </div>
  </div>
  <div id="printCard" style="width: 100%; height: auto;">

  </div>
  <!-- / CONTENT -->


</div>
