<div id="cards" class="page-layout simple left-sidenav inner-sidenav">
  <!-- HEADER -->
  <div class="header" layout="row" layout-align="start center">

    <!-- APP TITLE -->

    <div class="logo" layout="row" layout-align="start center" flex="25">
      <span class="logo-icon">
          <md-icon md-font-icon="icon-wallet-giftcard" class="s40"></md-icon>
      </span>
      <span class="logo-text">Cards</span>
    </div>

    <div layout="row" layout-align="start center" flex="45">
      <div layout="row" class="head-btn">
        <md-button ng-if="vm.allCards.length">My Cards: <span ng-bind="vm.allCards.length"></span></md-button>
        <md-button ng-if="vm.shareCards.length">Shared Cards: <span ng-bind="vm.shareCards.length"></span></md-button>
      </div>
    </div>

    <div layout="row" layout-align="start center" flex>
      <div layout="row" class="card__top__right__btn">
          <md-menu md-offset="0 0" md-position-mode="target-left target" md-menu-class="card_top_share_print">
            <md-button class="share_print_top" ng-click="$mdMenu.open($event)">Share and Print <md-icon md-font-icon="icon-chevron-down" class="share_print_top"></md-icon></md-button>
            <md-menu-content width="3" class="ctsp__menu_container">
              <md-menu-item class="ctsp__menu__item">
                <md-button ng-click="vm.shareOnline();">
                  <md-icon md-font-icon="icon-share-variant"></md-icon>
                  <span class="menu_title">
                    <span class="title normal">Share Online</span>
                    <span class="small-font">Via contact</span>
                  </span>
                </md-button>
              </md-menu-item>
              <md-menu-item class="ctsp__menu__item">
                <md-button ng-click="vm.printCard();">
                  <md-icon md-font-icon="icon-printer"></md-icon>
                  <span class="menu_title">
                    <span class="title normal">Print Now</span>
                    <span class="small-font">From your browser</span>
                  </span>
                </md-button>
              </md-menu-item>
              <md-menu-item class="ctsp__menu__item">
                <md-button ng-click="vm.downloadPdf();">
                  <md-icon md-font-icon="icon-download"></md-icon>
                  <span class="menu_title">
                    <span class="title normal">Download PDF</span>
                    <span class="small-font">To print</span>
                  </span>
                </md-button>
              </md-menu-item>
            </md-menu-content>

          </md-menu>
        <md-button class="">Discard</md-button>
        <md-button class="save" ng-click="vm.saveCardPopup();">Save</md-button>
      </div>
    </div>
  </div>
  <!-- / HEADER -->

  <!-- New Container start from here -->
  <div layout="row" layout-align="space-between stretch" class="cards_wrapper">
    <div flex="30">
      <div class="left-tab my-card-left" layout-align="start center" flex>
        <div class="tab item my-cards" ng-class="{'active': vm.sideCurrentTab==='cards'}" ng-click="vm.viewMyCards();">
          <!--<md-icon md-font-icon="icon-wallet-giftcard" class="s30 md-font material-icons icon-wallet-giftcard" role="img" aria-label="icon-wallet-giftcard"></md-icon>-->
          <div class="card sidebar icon">
            <i class="icon icon_card">&nbsp;</i>
          </div>
          <span> My Cards</span>
        </div>
        <div class="tab item template" ng-class="{'active': vm.sideCurrentTab==='templates'}" ng-click="vm.viewTemplates();">
          <div class="card sidebar icon">
            <i class="icon icon_template">&nbsp;</i>
          </div>
          <span>Template</span>
        </div>
        <div class="tab item elements" ng-class="{'active': vm.sideCurrentTab==='elements'}"  ng-click="vm.showElements();">
          <div class="card sidebar icon">
            <i class="icon icon_elements">&nbsp;</i>
          </div>
          <span>Elements</span>
        </div>
        <div class="tab item text" ng-class="{'active': vm.sideCurrentTab==='text'}" ng-click="vm.showTexFormats();">
          <div class="card sidebar icon">
            <i class="icon icon_text">&nbsp;</i>
          </div>
          <span>Text</span>
        </div>
        <div class="tab item background" ng-class="{'active': vm.sideCurrentTab==='background_options'}" ng-click="vm.showBackgroundOptions();">
          <div class="card sidebar icon">
            <i class="icon icon_background">&nbsp;</i>
          </div>
          <span>Background</span>
        </div>
      </div>
      <div class="left-tab-container card-bg">
        <div class="card-tab-content">
          <md-content ng-include="'app/main/cards/sidenavs/' + (vm.sideCurrentTab || 'templates') + '.html'" class="cbg"></md-content>
        </div>
      </div>
    </div>
    <div flex="70">
      <div layout="column" class="edit_card_column">
        <div layout="row" layout-align="start none" class="no-padding">
          <div layout="row" ng-if="!vm.activeLayer" class="cards editor-wrap">
            <div layout="row" id="editingLabelText" layout-align="start center">
              <ul layout="row" class="editToolsArea" layout-align="start center">
                <li class="toolbar-item font">
                  <div class="sochara-font-dropdown" tabindex="1" fd-font-dropdown>
                  <span class="label" ng-style="{{'fontslist[selectedIdx].style'}}">{{fontslist[selectedIdx].name}}</span>
                  <ul class="dropdown-list">
                    <li ng-repeat="font in fontslist" ng-click="changeFont($index);vm.changeFontLayer(font);" ng-class="{'sel': $index == selectedIdx}" ng-style="{{font.style}}">
                      {{font.name}}
                    </li>
                  </ul>
                  </div>
                </li>
                <li class="toolbar-item font-size">
                  <div class="sochara-font-size" tabindex="1" sochara-font-size>
                    <span class="label">{{fontSizeList[selectedFontIdx]}}</span>
                    <ul class="dropdown-list">
                      <li ng-repeat="font in fontSizeList" ng-click="changeFontSize($index);vm.changeFontSizeLayer(font)" ng-model="vm.cardData.styles.fontSize" ng-change="vm.changeCardFontSize(vm.cardData.styles.fontSize);" ng-class="{'sel': $index == selectedFontIdx}">
                        {{font}}
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="toolbar-item separator"></li>
                <li class="toolbar-item color-picker">
                  <div class="padding-5" spectrum-colorpicker ng-model="vm.selectedColor" on-change='!!color && action(color);vm.changeSelectedTextColor(color)' format='"hex"'></div>
                </li>
                <li class="toolbar-item separator"></li>


                <li class="toolbar-item" ng-class="{'active': vm.activeToolbar==='bold'}">
                  <md-icon md-font-icon="icon-format-bold" class=""
                           ng-click="vm.activeToolbar=vm.activeToolbar === 'bold'?'':'bold';vm.changeCardTextStyleBold(vm.activeToolbar);"></md-icon>
                </li>
                <li class="toolbar-item color-picker" ng-class="{'active': vm.activeToolbar==='italic'}">
                  <md-icon md-font-icon="icon-format-italic" class=""
                           ng-click="vm.activeToolbar=vm.activeToolbar === 'italic'?'':'italic';vm.changeCardTextStyleItalic(vm.activeToolbar);"></md-icon>
                </li>


                <li class="toolbar-item align" ng-class="{'active': vm.activeToolbar==='alignment'}">
                  <md-icon md-font-icon="icon-format-align-{{vm.currentTextAlign || 'left'}}" ng-click="vm.activeToolbar=vm.activeToolbar === 'alignment'?'':'alignment'"></md-icon>
                  <menu class="wrapper alignment">
                    <ul class="list">
                      <li class="align left" ng-class="{'active':vm.currentTextAlign==='left'}">
                        <md-icon md-font-icon="icon-format-align-left" class="" ng-click="vm.changeCardTextAlign('left')"></md-icon>
                      </li>
                      <li class="align middle" ng-class="{'active':vm.currentTextAlign==='center'}">
                        <md-icon md-font-icon="icon-format-align-center" class="" ng-click="vm.changeCardTextAlign('center')"></md-icon>
                      </li>
                      <li class="align right" ng-class="{'active':vm.currentTextAlign==='right'}">
                        <md-icon md-font-icon="icon-format-align-right" class="" ng-click="vm.changeCardTextAlign('right')"></md-icon>
                      </li>
                    </ul>
                  </menu>
                </li>


                <li class="toolbar-item capitalize" ng-class="{'active': vm.activeToolbar==='capitalize'}">
                  <span class="icon svg letter_spacing" ng-click="vm.activeToolbar=vm.activeToolbar === 'capitalize'?'':'capitalize';vm.changeCapitalize();">&nbsp;</span>
                </li>


                <li class="toolbar-item separator"></li>
                <li class="toolbar-item spacing" ng-class="{'active': vm.activeToolbar==='spacing'}">
                  <span class="titem spacing" ng-click="vm.activeToolbar=vm.activeToolbar === 'spacing'?'':'spacing'">Spacing</span>
                  <menu class="wrapper spacing">
                    <div class="spacing_slider">
                      Letter spacing <input class="card___ctrl" ng-model="vm.letterSpacing" type="range" ng-init="vm.letterSpacing=vm.activeLayer && vm.activeLayer.styles['letter-spacing'] ? vm.activeLayer.styles['letter-spacing'] : 0" min="-3" max="15" ng-change="vm.changeLetterSpacing(vm.letterSpacing);">
                      Line height <input class="card___ctrl" ng-model="vm.lineHeight" type="range" ng-init="vm.lineHeight=vm.activeLayer && vm.activeLayer.styles['line-height'] ? vm.activeLayer.styles['line-height'] : 0" min="0" max="50" ng-change="vm.changeLineHeight(vm.lineHeight);">
                    </div>
                  </menu>
                </li>

              </ul>

              <ul layout="row" class="editToolsArea" layout-align="end center">
                <li class="toolbar-item copy">
                  <div class="icon" ng-click="vm.copyCurrentLayer();">
                    <span class="titem copy">Copy</span>
                  </div>
                </li>
                <li class="toolbar-item arrange" ng-class="{'active': vm.activeToolbar==='arrange'}">
                <div class="icon" ng-click="vm.activeToolbar=vm.activeToolbar === 'arrange'?'':'arrange'">
                  <span class="titem arrange">Arrange</span>
                </div>
                  <menu class="wrapper arrangement">
                    <ul class="list">
                      <li class="arrange backward" ng-class="{'deselect': vm.cardData.layers.indexOf(vm.activeLayer)==vm.cardData.layers.length-1}" ng-click="vm.moveToBackwardLayer();">
                        <span class="icon svg backward">&nbsp;</span> Forward
                      </li>
                      <li class="arrange forward" ng-class="{'deselect': vm.cardData.layers.indexOf(vm.activeLayer)==0}" ng-click="vm.moveToForwardLayer();">
                        <span class="icon svg forward">&nbsp;</span> Back
                      </li>
                    </ul>
                  </menu>
                </li>
                <li class="toolbar-item transparent" ng-class="{'active': vm.activeToolbar==='transparent'}">
                  <div class="icon" ng-click="vm.activeToolbar=vm.activeToolbar === 'transparent'?'':'transparent'">
                    <span class="icon svg transparent">&nbsp;</span>
                  </div>
                  <menu class="wrapper spacing">
                    <div class="spacing_slider">
                      <input class="card___ctrl" ng-model="vm.layerTransparent" type="range" ng-init="vm.layerTransparent=vm.activeLayer && vm.activeLayer.styles['opacity'] ? vm.activeLayer.styles['opacity'] : 1" min="0" max="1" step="0.01" ng-change="vm.changeLayerTransparency(vm.layerTransparent);"> {{vm.layerTransparent*100 | number:0}}%
                    </div>
                  </menu>
                </li>
                <!--<li class="toolbar-item link" ng-class="{'active': vm.activeToolbar==='link'}">-->
                  <!--<div class="icon" ng-click="vm.activeToolbar=vm.activeToolbar === 'link'?'':'link'">-->
                    <!--<span class="icon svg link">&nbsp;</span>-->
                  <!--</div>-->
                <!--</li>-->
                <li class="toolbar-item">
                  <md-icon md-font-icon="icon-delete" ng-click="vm.removeLayer();"></md-icon>
                </li>
              </ul>
            </div>
          </div>
          <div layout="row" ng-if="vm.activeLayer && vm.activeLayer.type === 'text'" class="cards editor-wrap">
            <div layout="row" id="editingLabelText" layout-align="start center" class="active">
              <ul layout="row" class="editToolsArea" layout-align="start center">
                <li class="toolbar-item font">
                  <div class="sochara-font-dropdown" tabindex="1" fd-font-dropdown>
                  <span class="label" ng-style="{{'fontslist[selectedIdx].style'}}">{{fontslist[selectedIdx].name}}</span>
                  <ul class="dropdown-list">
                    <li ng-repeat="font in fontslist" ng-click="changeFont($index);vm.changeFontLayer(font);" ng-class="{'sel': $index == selectedIdx}" ng-style="{{font.style}}">
                      {{font.name}}
                    </li>
                  </ul>
                  </div>
                </li>
                <li class="toolbar-item font-size">
                  <div class="sochara-font-size" tabindex="1" sochara-font-size>
                    <span class="label">{{fontSizeList[selectedFontIdx]}}</span>
                    <ul class="dropdown-list">
                      <li ng-repeat="font in fontSizeList" ng-click="changeFontSize($index);vm.changeFontSizeLayer(font)" ng-model="vm.cardData.styles.fontSize" ng-change="vm.changeCardFontSize(vm.cardData.styles.fontSize);" ng-class="{'sel': $index == selectedFontIdx}">
                        {{font}}
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="toolbar-item separator"></li>
                <li class="toolbar-item color-picker">
                  <div class="padding-5" spectrum-colorpicker ng-model="vm.selectedColor" on-change='!!color && action(color);vm.changeSelectedTextColor(color)' format='"hex"'></div>
                </li>
                <li class="toolbar-item separator"></li>


                <li class="toolbar-item" ng-class="{'active': vm.activeToolbar==='bold'}">
                  <md-icon md-font-icon="icon-format-bold" class=""
                           ng-click="vm.activeToolbar=vm.activeToolbar === 'bold'?'':'bold';vm.changeCardTextStyleBold(vm.activeToolbar);"></md-icon>
                </li>
                <li class="toolbar-item color-picker" ng-class="{'active': vm.activeToolbar==='italic'}">
                  <md-icon md-font-icon="icon-format-italic" class=""
                           ng-click="vm.activeToolbar=vm.activeToolbar === 'italic'?'':'italic';vm.changeCardTextStyleItalic(vm.activeToolbar);"></md-icon>
                </li>


                <li class="toolbar-item align" ng-class="{'active': vm.activeToolbar==='alignment'}">
                  <md-icon md-font-icon="icon-format-align-{{vm.currentTextAlign || 'left'}}" ng-click="vm.activeToolbar=vm.activeToolbar === 'alignment'?'':'alignment'"></md-icon>
                  <menu class="wrapper alignment">
                    <ul class="list">
                      <li class="align left" ng-class="{'active':vm.currentTextAlign==='left'}">
                        <md-icon md-font-icon="icon-format-align-left" class="" ng-click="vm.changeCardTextAlign('left')"></md-icon>
                      </li>
                      <li class="align middle" ng-class="{'active':vm.currentTextAlign==='center'}">
                        <md-icon md-font-icon="icon-format-align-center" class="" ng-click="vm.changeCardTextAlign('center')"></md-icon>
                      </li>
                      <li class="align right" ng-class="{'active':vm.currentTextAlign==='right'}">
                        <md-icon md-font-icon="icon-format-align-right" class="" ng-click="vm.changeCardTextAlign('right')"></md-icon>
                      </li>
                    </ul>
                  </menu>
                </li>


                <li class="toolbar-item capitalize" ng-class="{'active': vm.activeToolbar==='capitalize'}">
                  <span class="icon svg letter_spacing" ng-click="vm.activeToolbar=vm.activeToolbar === 'capitalize'?'':'capitalize';vm.changeCapitalize();">&nbsp;</span>
                </li>


                <li class="toolbar-item separator"></li>
                <li class="toolbar-item spacing" ng-class="{'active': vm.activeToolbar==='spacing'}">
                  <span class="titem spacing" ng-click="vm.activeToolbar=vm.activeToolbar === 'spacing'?'':'spacing'">Spacing</span>
                  <menu class="wrapper spacing">
                    <div class="spacing_slider">
                      Letter spacing <input class="card___ctrl" ng-model="vm.letterSpacing" type="range" ng-init="vm.letterSpacing=vm.activeLayer && vm.activeLayer.styles['letter-spacing'] ? vm.activeLayer.styles['letter-spacing'] : 0" min="-3" max="15" ng-change="vm.changeLetterSpacing(vm.letterSpacing);">
                      Line height <input class="card___ctrl" ng-model="vm.lineHeight" type="range" ng-init="vm.lineHeight=vm.activeLayer && vm.activeLayer.styles['line-height'] ? vm.activeLayer.styles['line-height'] : 0" min="0" max="50" ng-change="vm.changeLineHeight(vm.lineHeight);">
                    </div>
                  </menu>
                </li>

              </ul>

              <ul layout="row" class="editToolsArea" layout-align="end center">
                <li class="toolbar-item copy">
                  <div class="icon" ng-click="vm.copyCurrentLayer();">
                    <span class="titem copy">Copy</span>
                  </div>
                </li>
                <li class="toolbar-item arrange" ng-class="{'active': vm.activeToolbar==='arrange'}">
                <div class="icon" ng-click="vm.activeToolbar=vm.activeToolbar === 'arrange'?'':'arrange'">
                  <span class="titem arrange">Arrange</span>
                </div>
                  <menu class="wrapper arrangement">
                    <ul class="list">
                      <li class="arrange backward" ng-class="{'deselect': vm.cardData.layers.indexOf(vm.activeLayer)==vm.cardData.layers.length-1}" ng-click="vm.moveToBackwardLayer();">
                        <span class="icon svg backward">&nbsp;</span> Forward
                      </li>
                      <li class="arrange forward" ng-class="{'deselect': vm.cardData.layers.indexOf(vm.activeLayer)==0}" ng-click="vm.moveToForwardLayer();">
                        <span class="icon svg forward">&nbsp;</span> Back
                      </li>
                    </ul>
                  </menu>
                </li>
                <li class="toolbar-item transparent" ng-class="{'active': vm.activeToolbar==='transparent'}">
                  <div class="icon" ng-click="vm.activeToolbar=vm.activeToolbar === 'transparent'?'':'transparent'">
                    <span class="icon svg transparent">&nbsp;</span>
                  </div>
                  <menu class="wrapper spacing">
                    <div class="spacing_slider">
                      <input class="card___ctrl" ng-model="vm.layerTransparent" type="range" ng-init="vm.layerTransparent=vm.activeLayer && vm.activeLayer.styles['opacity'] ? vm.activeLayer.styles['opacity'] : 1" min="0" max="1" step="0.01" ng-change="vm.changeLayerTransparency(vm.layerTransparent);"> {{vm.layerTransparent*100 | number:0}}%
                    </div>
                  </menu>
                </li>
                <li class="toolbar-item">
                  <md-icon md-font-icon="icon-delete" ng-click="vm.removeLayer();"></md-icon>
                </li>
                <!--<li class="toolbar-item">-->
                  <!--<md-icon md-font-icon="icon-upload" ng-click="vm.saveSvgPopup();"></md-icon>-->
                <!--</li>-->
              </ul>
            </div>
          </div>
          <div layout="row" ng-if="vm.activeLayer && vm.activeLayer.type === 'image'" class="cards editor-wrap">
            <div layout="row" id="editingLabelText" layout-align="start center" class="active">


              <ul layout="row" class="editToolsArea" layout-align="end center">
                <li class="toolbar-item copy">
                  <div class="icon" ng-click="vm.copyCurrentLayer();">
                    <span class="titem copy">Copy</span>
                  </div>
                </li>
                <li class="toolbar-item arrange" ng-class="{'active': vm.activeToolbar==='arrange'}">
                  <div class="icon" ng-click="vm.activeToolbar=vm.activeToolbar === 'arrange'?'':'arrange'">
                    <span class="titem arrange">Arrange</span>
                  </div>
                  <menu class="wrapper arrangement">
                    <ul class="list">
                      <li class="arrange backward" ng-class="{'deselect': vm.cardData.layers.indexOf(vm.activeLayer)==vm.cardData.layers.length-1}" ng-click="vm.moveToBackwardLayer();">
                        <span class="icon svg backward">&nbsp;</span> Forward
                      </li>
                      <li class="arrange forward" ng-class="{'deselect': vm.cardData.layers.indexOf(vm.activeLayer)==0}" ng-click="vm.moveToForwardLayer();">
                        <span class="icon svg forward">&nbsp;</span> Back
                      </li>
                    </ul>
                  </menu>
                </li>
                <li class="toolbar-item transparent" ng-class="{'active': vm.activeToolbar==='transparent'}">
                  <div class="icon" ng-click="vm.activeToolbar=vm.activeToolbar === 'transparent'?'':'transparent'">
                    <span class="icon svg transparent">&nbsp;</span>
                  </div>
                  <menu class="wrapper spacing">
                    <div class="spacing_slider">
                      <input class="card___ctrl" ng-model="vm.layerTransparent" type="range" ng-init="vm.layerTransparent=vm.activeLayer && vm.activeLayer.styles['opacity'] ? vm.activeLayer.styles['opacity'] : 1" min="0" max="1" step="0.01" ng-change="vm.changeLayerTransparency(vm.layerTransparent);"> {{vm.layerTransparent*100 | number:0}}%
                    </div>
                  </menu>
                </li>
                <li class="toolbar-item">
                  <md-icon md-font-icon="icon-delete" ng-click="vm.removeLayer();"></md-icon>
                </li>
              </ul>
            </div>
          </div>
          <div layout="row" ng-if="vm.activeLayer && vm.activeLayer.type === 'svg'" class="cards editor-wrap">
            <div layout="row" id="editingLabelText" layout-align="start center" class="active">
              <ul layout="row" class="editToolsArea" layout-align="start center">

                <li class="toolbar-item color-picker" ng-repeat="colorC in vm.activeSvgColors track by $index">
                  <div class="padding-5" spectrum-colorpicker ng-model="colorC.color" on-change='!!color && action(color);vm.changeSelectedSvgColor(color, colorC.class)' format='"rgb"'></div>
                </li>
                <li class="toolbar-item separator"></li>

              </ul>

              <ul layout="row" class="editToolsArea" layout-align="end center">
                <li class="toolbar-item copy">
                  <div class="icon" ng-click="vm.copyCurrentLayer();">
                    <span class="titem copy">Copy</span>
                  </div>
                </li>
                <li class="toolbar-item arrange" ng-class="{'active': vm.activeToolbar==='arrange'}">
                  <div class="icon" ng-click="vm.activeToolbar=vm.activeToolbar === 'arrange'?'':'arrange'">
                    <span class="titem arrange">Arrange</span>
                  </div>
                  <menu class="wrapper arrangement">
                    <ul class="list">
                      <li class="arrange backward" ng-class="{'deselect': vm.cardData.layers.indexOf(vm.activeLayer)==vm.cardData.layers.length-1}" ng-click="vm.moveToBackwardLayer();">
                        <span class="icon svg backward">&nbsp;</span> Forward
                      </li>
                      <li class="arrange forward" ng-class="{'deselect': vm.cardData.layers.indexOf(vm.activeLayer)==0}" ng-click="vm.moveToForwardLayer();">
                        <span class="icon svg forward">&nbsp;</span> Back
                      </li>
                    </ul>
                  </menu>
                </li>
                <li class="toolbar-item transparent" ng-class="{'active': vm.activeToolbar==='transparent'}">
                  <div class="icon" ng-click="vm.activeToolbar=vm.activeToolbar === 'transparent'?'':'transparent'">
                    <span class="icon svg transparent">&nbsp;</span>
                  </div>
                  <menu class="wrapper spacing">
                    <div class="spacing_slider">
                      <input class="card___ctrl" ng-model="vm.layerTransparent" type="range" ng-init="vm.layerTransparent=vm.activeLayer && vm.activeLayer.styles['opacity'] ? vm.activeLayer.styles['opacity'] : 1" min="0" max="1" step="0.01" ng-change="vm.changeLayerTransparency(vm.layerTransparent);"> {{vm.layerTransparent*100 | number:0}}%
                    </div>
                  </menu>
                </li>

                <li class="toolbar-item">
                  <md-icon md-font-icon="icon-delete" ng-click="vm.removeLayer();"></md-icon>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div id="cardEditor" layout="row" layout-align="center stretch">
          <div flex class="card-preview" layout="column" layout-align="start stretch">
            <div class="cp-card" id="cardContent" ms-scroll class="scrollable">
              <div class="card___content_area" ng-style = "vm.cardData.temp.styles">
                <div class="card___content_wrap" ng-style="vm.cardData.styles">

                  <div ng-repeat="layer in vm.cardData.layers track by $index" id="{{layer.id}}" class="card___content_layer resizable draggable {{layer.class}}" ng-class="{'active':vm.activeLayer==layer}" ng-style="layer.styles" ng-click="vm.selectLayer(layer);">
                    <img ng-if="layer.type==='fill'" class="content___bg" ng-src="{{layer.value}}" alt="fill image"/>
                    <div ng-if="layer.type==='text'" class="text" contenteditable="{{vm.activeLayer && (vm.activeLayer.id === layer.id)}}" ng-model="layer.value">{{layer.value}}</div>
                    <div ng-if="layer.type==='list'" class="list" contenteditable="{{vm.activeLayer && (vm.activeLayer.id === layer.id)}}" ng-model="layer.value"></div>
                    <div ng-if="layer.type==='svg'" class="svg_shape" ng-model="layer.value">
                      <div class="shape svg content_svg">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 500 499.943" enable-background="new 0 0 500 499.943" xml:space="preserve" style="position:absolute" ng-bind-html="layer.value"></svg>
                      </div>
                    </div>
                    &nbsp;
                  </div>



                </div>
              </div>
            </div>
            <div class="card___controller">
              <div class="card__controller_wrapper">
                <div class="card___ctrl_percent">
                  <span ng-bind="vm.cardViewPercent + '%'"></span>
                </div>
                <div class="card___ctrl_minus ctrl__item" ng-click="vm.decreaseCardArea();">
                  <span>&minus;</span>
                </div>
                <div class="card___ctrl_slider ctrl__item">
                  <input class="card___ctrl" ng-model="vm.cardViewPercent" type="range" min="20" max="100" ng-change="vm.changeCardViewArea(vm.cardViewPercent);">
                </div>
                <div class="card___ctrl_plus ctrl__item" ng-click="vm.increaseCardArea();">
                  <span>&plus;</span>
                </div>
                <div class="card___ctrl_seperator"></div>
                <div class="card___ctrl_fit ctrl__item" ng-click="vm.setupLayerToFitSize();">
                  <span class="card___ctrl svg full_screen"></span>
                </div>
                <div class="card___ctrl_full ctrl__item">
                  <span class="card___ctrl svg full_screen"></span>
                </div>
              </div>
            </div>
            <!--<div id="printCard" style="display: none;"></div>-->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- New Container end here -->

  <!-- CONTENT -->

  <div id="printCard" style="width: 100%; height: auto;">

  </div>
  <!-- / CONTENT -->


</div>
