<md-dialog class="compose-dialog-2 contact-group dialog-wrap" aria-label="Add/Edit user">
  <form class="md-inline-form">
    <md-dialog-heading layout="row">
      <div flex><h2>Manage Groups (3)</h2></div>
      <div right dialog-btn>
        <md-button>
          <md-icon md-font-icon="icon-keyboard-return"></md-icon>
        </md-button>
      </div>
    </md-dialog-heading><!--md-dialog-heading-->

    <md-dialog-content>
      <div class="manage-group">
        <md-button class="btn-violate">Create new group</md-button>
        <div layout="row">
          <div flex="20"><b>Group</b></div>
          <div flex="50">
            <md-menu ng-click="$mdMenu.open($event)" md-offset="0 -5">Show in group list <i class="fa fa-caret-down"></i>
              <md-menu-content width="4">
                <md-menu-item>
                  <md-button>Option 1</md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button>Option 2</md-button>
                </md-menu-item>
              </md-menu-content>
            </md-menu>
          </div>
          <div flex="30"><b>Actions</b></div>
        </div>
        <br>
        <div layout="row" layout-align="start start" class="btn-span">
          <div flex="20">Friends</div>
          <div flex="50"><span>Show</span> <span>Hide</span></div>
          <div flex="30"><span class="act">Remove</span><span>Edit</span></div>
        </div>
        <div layout="row" layout-align="start start" class="btn-span">
          <div flex="20">Family</div>
          <div flex="50"><span class="act">Show</span> <span>Hide</span></div>
          <div flex="30"><span class="act">Remove</span><span>Edit</span></div>
        </div>
        <div layout="row" layout-align="start start" class="btn-span">
          <div flex="20">Clients</div>
          <div flex="50"><span>Show</span> <span>Hide</span></div>
          <div flex="30"><span class="act">Remove</span><span>Edit</span></div>
        </div>
      </div>
    </md-dialog-content><!--md-dialog-content-->

  </form>
</md-dialog>
