<!-- GRID VIEW -->
<div class="grid-view" layout="column" tabindex="1" ng-keydown="vm.selectMultipleFiles($event);">
  <div class="grid-view-wrap">
    <h4 class="grid-type-title" ng-if="vm.folders && vm.folders.length">Folders</h4>
    <div class="folders clr-right" layout="row" layout-wrap>
      <div ng-repeat="folder in vm.folders | orderBy: '-folder.updatedAt' | filter:global.search"
           ng-click="vm.selectedItem(folder.id, $event, 'folder')"
           hm-doubletap="vm.goToFolder( folder )" ngf-drop="vm.uploadFiles($files, $invalidFiles, folder.id, 'child')"
           multiple accept="*" ngf-pattern="'*'" ngf-multiple="true" ngf-allow-dir="true" ngf-max-size="850MB"
           ngf-drag-over-class="'drag_over'"
           ng-class="{selected: vm.selectedFolderClass(folder.id)}" flex="20" class="pad-r-10">
        <div class="md-background-bg md-hue-2 md-whiteframe-1dp item folder"
             layout="row"

             layout-align="space-between center">
          <div layout="row" class="title" layout-align="start center">
            <div class="file-icon white-circled-bg">
              <i class="icon-{{folder.type}}"></i>
            </div>
            <span class="name">{{folder.name}}</span>
          </div>

          <div class="show-details" hide-gt-md>
            <md-button class="md-icon-button sidenav-toggle" aria-label="Details">
              <md-icon md-font-icon="icon-information-outline" ng-click="vm.toggleDetails(folder)"></md-icon>
            </md-button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="grid-view-wrap">
    <h4 class="grid-type-title" ng-if="vm.files && vm.files.length">Files</h4>
    <div class="files" layout="row" layout-wrap>

      <div ng-repeat="file in vm.files | orderBy: '-file.updatedAt' | filter:globalSearchValue"
           ng-click="vm.selectedItem(file.id, $event, 'file')" hm-doubletap="vm.filePreview( file )"
           ng-class="{selected: vm.selectedFolderClass(file.id)}" flex="20">

        <div ng-if="file.ext==='.png' || file.ext==='.jpg' || file.ext==='.gif' || file.ext==='.jpeg' || file.ext==='.bmp'" class="file-item md-whiteframe-2dp">
          <div class="file-type photo" layout-align="center center" layout="column">
            <img ng-src="{{file.file_dir}}" align="photo">
          </div>
          <div class="file-title border-top" layout="row" layout-align="start center">
            <div class="circled"><md-icon md-font-icon="icon-file-image-box s20 light-blue-A200-fg"></md-icon></div>
            <p flex ng-bind="file.name" class="text-truncate pr-10"></p>
          </div>
        </div>

        <div ng-if="file.ext==='.doc' || file.ext==='.docs'" class="file-item md-whiteframe-2dp">
          <div class="file-type icony" layout-align="center center" layout="column">
            <div class="circled"><md-icon md-font-icon="icon-file-document" class="s40 blue-900-fg"></md-icon></div>
          </div>
          <div class="file-title border-top" layout="row" layout-align="start center">
            <div class="circled"><md-icon md-font-icon="icon-file-document s16" class="blue-900-fg"></md-icon></div>
            <p flex ng-bind="file.name" class="text-truncate pr-10"></p>
          </div>
        </div>

        <div ng-if="file.ext==='.pdf'" class="file-item md-whiteframe-2dp">
          <div class="file-type icony" layout-align="center center" layout="column">
            <md-icon md-font-icon="icon-file-pdf" class="s40 red-900-fg"></md-icon>
          </div>
          <div class="file-title border-top" layout="row" layout-align="start center">
            <div class="circled"><md-icon md-font-icon="icon-file-pdf s20" class="red-900-fg"></md-icon></div>
            <p flex ng-bind="file.name" class="text-truncate pr-10"></p>
          </div>
        </div>

        <div ng-if="file.ext==='.xls' || file.ext==='.xlsc'" class="file-item md-whiteframe-2dp">
          <div class="file-type icony" layout-align="center center" layout="column">
            <md-icon md-font-icon="icon-grid" class="s40 green-500-fg"></md-icon>
          </div>
          <div class="file-title border-top" layout="row" layout-align="start center">
            <div class="circled"><md-icon md-font-icon="icon-grid s20" class="green-500-fg"></md-icon></div>
            <p flex ng-bind="file.name" class="text-truncate pr-10"></p>
          </div>
        </div>

        <div ng-if="!vm.isUnknownFileSystem(file.ext);" class="file-item md-whiteframe-2dp">
          <div class="file-type icony" layout-align="center center" layout="column">
            <md-icon md-font-icon="icon-file" class="s40 red-900-fg"></md-icon>
          </div>
          <div class="file-title border-top" layout="row" layout-align="start center">
            <div class="circled"><md-icon md-font-icon="icon-file s20" class="red-900-fg"></md-icon></div>
            <p flex ng-bind="file.name" class="text-truncate pr-10"></p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!--<div class="files" layout="row" layout-wrap>-->
  <!--<div class="md-whiteframe-1dp item file" ng-repeat="file in vm.files | filter:global.search" ng-click="vm.select(file)" layout="column">-->
  <!--<div class="preview">-->
  <!--<img ng-src="{{file.preview}}">-->
  <!--</div>-->

  <!--<div class="bottom md-background-bg md-hue-2" layout="row" layout-align="space-between center">-->
  <!--<div layout="row" class="title" layout-align="start center" flex>-->
  <!--<span class="file-icon">-->
  <!--<i md-font-icon="icon-{{file.type}}"></i>-->
  <!--</span>-->
  <!--<span class="name">{{file.name}}</span>-->
  <!--</div>-->

  <!--<div class="show-details" hide-gt-md>-->
  <!--<md-button class="md-icon-button sidenav-toggle" aria-label="Details" translate translate-attr-aria-label="FM.DETAILS">-->
  <!--<md-icon md-font-icon="icon-information-outline" ng-click="vm.toggleDetails(file)"></md-icon>-->
  <!--</md-button>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
</div>
<!-- / GRID VIEW -->
