<div ng-if="!vm.currentThread" class="no-thread-selected" layout="column" layout-align="center center" flex>
  <md-icon md-font-icon="icon-email" class="s120 grey-400-fg"></md-icon>
  <span class="hint-text">Select a message to read</span>
</div>
<div class="loading-threads" layout="column" layout-align="center center" ng-if="vm.currentThread && !vm.currentThread.messages.length">
  <md-progress-circular class="md-accent" md-mode="indeterminate" md-diameter="64"></md-progress-circular>
  <div ng-bind="vm.loadingText || 'Loading mail..'"></div>
</div>

<div ng-if="vm.currentThread && vm.currentThread.messages.length" layout="column" layout-align="space-between stretch" flex>
  <div class="thread-header" layout="row" layout-align="space-between center">
    <div>
      <div class="subject" flex>{{vm.currentThread.subject}}</div>

      <div class="labels dnone">
        <div class="label" ng-repeat="labelId in vm.currentThread.labels"
             ng-class="vm.getLabelColor(labelId)" ng-bind="vm.getLabelTitle(labelId)">
        </div>
      </div>
    </div>

    <div class="actions btn-group-sm" layout="row" layout-align="start center">
      <md-button class="md-icon-button" aria-label="Print" ng-click="vm.printMail('currentThreadDetails')">
        <md-icon md-font-icon="icon-printer" class="s16"></md-icon>
      </md-button>
      <md-button class="md-icon-button" aria-label="Print" ng-click="vm.printMail('currentThreadDetails')">
        <md-icon md-font-icon="icon-open-in-new" class="s16"></md-icon>
      </md-button>
    </div>
  </div>

  <div id="currentThreadDetails" flex layout="column" layout-align="stretch">
    <div class="thread-content">
      <div class="info no-print" layout="row" layout-align="space-between start">

        <div layout="column" layout-align="start stretch" flex>
          <div layout="row" layout-align="start start" flex>
            <div>
              <img alt="{{vm.currentThread.from.name}}" src="images/avatars/profile.jpg" err-src="images/avatars/blank.jpg" class="avatar"/>
              <img ng-if="vm.currentThread.from.avatar" alt="{{vm.currentThread.from.name}}"
                   ng-src="{{vm.currentThread.from.avatar}}" class="avatar" err-src="images/avatars/blank.jpg"/>

              <!--div ng-if="!vm.currentThread.from.avatar" class="avatar" ms-random-class="vm.colors">
                {{vm.currentThread.from.name[0]}}
              </div-->
            </div>

            <div layout="column" layout-align="start stretch" flex>
              <div class="name">
                {{vm.currentThread.from.name}}
              </div>

              <div class="to" layout="row" layout-align="start center">
                <div class="to-text text-nowrap w-40">to me</div>
                <!--<div></div>-->
                <div flex>
                  <a class="toggle-details md-accent-color" ng-hide="vm.selectedMailShowDetails"
                     ng-click="vm.selectedMailShowDetails = !vm.selectedMailShowDetails">
                    Show Details
                  </a>
                  <a class="toggle-details md-accent-color" ng-show="vm.selectedMailShowDetails"
                     ng-click="vm.selectedMailShowDetails = !vm.selectedMailShowDetails">
                    Hide Details
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="btn-group-sm">
          <!--by hasan: this should be dynamic--
          <md-icon md-font-icon="icon-attachment s18"></md-icon>
          <span class="align-v-mid">26 Jun (4 days ago)</span>
          <!--by hasan: this should be dynamic-->
          <md-button ng-click="vm.replyDialog($event)" class="md-icon-button">
            <md-icon md-font-icon="icon-reply s18"></md-icon>
          </md-button>


          <md-button class="md-icon-button" ng-click="vm.toggleThreadStatus('starred')"
                     aria-label="Toggle starred">
            <md-icon ng-if="vm.currentThread.starred" md-font-icon="icon-star"
                     class="amber-fg s18"></md-icon>
            <md-icon ng-if="!vm.currentThread.starred" md-font-icon="icon-star-outline"></md-icon>
          </md-button>

          <md-button class="md-icon-button" ng-click="vm.toggleThreadStatus('important')"
                     aria-label="Toggle important">
            <md-icon ng-if="vm.currentThread.important" md-font-icon="icon-label"
                     class="amber-700-fg s18"></md-icon>
            <md-icon ng-if="!vm.currentThread.important" md-font-icon="icon-label-outline"></md-icon>
          </md-button>

          <md-menu>
            <md-button aria-label="More" class="md-icon-button"
                       ng-click="$mdMenu.open($event)">
              <md-icon md-font-icon="icon-dots-vertical s18"></md-icon>
            </md-button>

            <md-menu-content width="3">
              <md-menu-item>
                <md-button aria-label="Reply" ng-click="vm.replyDialog($event)">
                  <md-icon md-font-icon="icon-reply"></md-icon>
                  <span>Reply</span>
                </md-button>
              </md-menu-item>

              <md-menu-item>
                <md-button aria-label="Forward" ng-click="vm.forwardDialog($event)">
                  <md-icon md-font-icon="icon-forward"></md-icon>
                  <span>Forward</span>
                </md-button>
              </md-menu-item>

              <md-menu-item>
                <md-button aria-label="Print" ng-click="vm.printMail('currentThreadDetails')">
                  <md-icon md-font-icon="icon-printer"></md-icon>
                  <span>Print</span>
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </div>
      </div>

      <div class="pb-20">
        <div ng-show="vm.selectedMailShowDetails" class="details">
          <div layout="column" flex>
            <div layout="row">
              <span class="title text-right mr-15 w-95">From:</span>
              <span class="detail"><b>{{vm.currentThread.from.name}}</b> <{{vm.currentThread.from.email}}></span>
            </div>
            <div layout="row" ng-if="vm.currentThread.to.email">
              <span class="title text-right mr-15 w-95">To:</span>
              <span class="detail" ng-bind="vm.currentThread.to.email"></span>
            </div>
            <div layout="row">
              <span class="title text-right mr-15 w-95">Date:</span>
              <span class="detail">{{vm.currentThread.date | date:"EEE, MMM d, y 'at' h:mm a"}}</span>
            </div>
          </div>


        </div>
      </div>


      <!--<div ng-bind-html="vm.currentThread.message"></div>-->
      <div id="message_contents">
        <div class="message-content" ng-repeat="message in vm.currentThread.messages">
          <div ng-bind-html="message"></div>
        </div>
      </div>

    </div>

    <div class="thread-attachments" ng-if="vm.currentThread.hasAttachments">
      <div class="title">
        <span>Attachments (<span ng-bind="vm.totalAchmentCount()"></span> items)</span>
      </div>




      <div  class="attachment-list" layout-wrap layout="row">
        <div ng-if="vm.currentThread.attachments.images" class="attachment po-r" layout="column"
              ng-repeat="attachment in vm.currentThread.attachments.images" flex="25">
          <div class="square-img" title="{{ attachment.name }}">
            <md-button class="md-icon-button no-margin no-padding" title="Download" ng-click="vm.downloadAttachment(vm.currentThread.id, attachment.id, attachment.mimeType, attachment.name, attachment.preview)">
              <md-icon md-font-icon="icon-download" class="s32 white-500-fg"></md-icon>
            </md-button>
            <img ng-if="attachment.preview" class="preview" ng-src="{{attachment.preview}}">
            <img src="http://via.placeholder.com/350x150?text=image">
          </div>
          <div layout="column" class="image_details">
            <span class="image-name text-truncate" title="{{ attachment.name }}">{{ attachment.name }}</span>
            <div class="size" title="{{vm.attachmentSize(attachment.size)}}" ng-bind="vm.attachmentSize(attachment.size)"></div>
          </div>
        </div>

        <div ng-if="vm.currentThread.attachments.pdfs" class="attachment po-r" layout="column"
             ng-repeat="attachment in vm.currentThread.attachments.pdfs" flex="25">

          <div class="square-img" title="{{ attachment.name }}">
            <md-button class="md-icon-button no-margin no-padding" title="Download" ng-click="vm.downloadAttachment(vm.currentThread.id, attachment.id, attachment.mimeType, attachment.name, attachment.preview)">
              <md-icon md-font-icon="icon-download" class="s32 white-500-fg"></md-icon>
            </md-button>
            <img ng-if="attachment.preview" class="preview" ng-src="{{attachment.preview}}">
            <img src="http://via.placeholder.com/350x150?text=pdf">
          </div>

          <div layout="column" class="image_details">
            <span class="image-name text-truncate">{{ attachment.name }}</span>
            <div class="size" ng-bind="vm.attachmentSize(attachment.size)"></div>
          </div>
        </div>

        <div ng-if="vm.currentThread.attachments.docs" class="attachment po-r" layout="column"
             ng-repeat="attachment in vm.currentThread.attachments.docs" flex="25">
          <div class="square-img" title="{{ attachment.name }}">
            <md-button class="md-icon-button no-margin no-padding" title="Download" ng-click="vm.downloadAttachment(vm.currentThread.id, attachment.id, attachment.mimeType, attachment.name, attachment.preview)">
              <md-icon md-font-icon="icon-download" class="s32 white-500-fg"></md-icon>
            </md-button>
            <img ng-if="attachment.preview" class="preview" ng-src="{{attachment.preview}}">
            <img src="http://via.placeholder.com/350x150?text=doc">
          </div>

          <div layout="column" class="image_details">
            <span class="image-name text-truncate">{{ attachment.name }}</span>
            <div class="size" ng-bind="vm.attachmentSize(attachment.size)"></div>
          </div>
        </div>

        <div ng-if="vm.currentThread.attachments.zips" class="attachment po-r" layout="column"
             ng-repeat="attachment in vm.currentThread.attachments.zips" flex="25">
          <div class="square-img" title="{{ attachment.name }}">
            <md-button class="md-icon-button no-margin no-padding" title="Download" ng-click="vm.downloadAttachment(vm.currentThread.id, attachment.id, attachment.mimeType, attachment.name, attachment.preview)">
              <md-icon md-font-icon="icon-download" class="s32 white-500-fg"></md-icon>
            </md-button>
            <img ng-if="attachment.preview" class="preview" ng-src="{{attachment.preview}}">
            <img src="http://via.placeholder.com/350x150?text=doc">
          </div>

          <div layout="column" class="image_details">
            <span class="image-name text-truncate">{{ attachment.name }}</span>
            <div class="size" ng-bind="vm.attachmentSize(attachment.size)"></div>
          </div>
        </div>


      </div>

    </div>
  </div>
</div>
