<md-dialog class="upload-dialog" aria-label="Upload Media">
  <form class="md-inline-form">
    <md-toolbar class="md-accent md-hue-2">
      <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
        <span class="title">Are you sure ?</span>
        <md-button class="back-button"  ng-click="vm.closeDialog();" aria-label="Close dialog">
          <md-icon md-font-icon="icon-keyboard-return"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <div flex layout="row" layout-align="center">
      <md-dialog-content>
        <!-- md-raised md-primary -->
        <h3>You are about to delete this item !</h3>
        <p>The tamplate will delete permanently, please make sure/confirm with following option.</p>
        <div class="compose-button">
          <md-button class="md-accent md-raised" aria-label="Yes" ng-click="vm.deleteDesginItemsConfirm()">Yes</md-button>
          <md-button class="md-accent md-raised" aria-label="No" ng-click="vm.closeDialog();">No</md-button>
        </div>
      </md-dialog-content>
    </div>
  </form>
</md-dialog>
