<md-dialog class="event-form-dialog" aria-label="New Message" style="width:428px;">
  <form name="contactForm" class="md-inline-form" novalidate>
    <md-toolbar class="md-accent md-hue-2">
      <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
        <span class="title"><md-icon md-font-icon="icon-account"></md-icon> Add New Contact</span>
        <md-button class="md-icon-button" ng-click="vm.closeContactPopup()" aria-label="Close dialog">
          <md-icon md-font-icon="icon-close"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content ms-scroll>
      <md-input-container class="md-block">
        <label>First Name</label>
        <input ng-model="vm.newContact.first_name" ng-init="vm.newContact.first_name=vm.newUserName">
      </md-input-container>
      <md-input-container class="md-block">
        <label>Last Name</label>
        <input ng-model="vm.newContact.last_name">
      </md-input-container>
      <md-input-container class="md-block">
        <label>Email</label>
        <input ng-model="vm.newContact.email" type="email" required>
      </md-input-container>

    </md-dialog-content>

    <md-dialog-actions layout="row" layout-align="space-between center">
      <md-button ng-click="vm.saveNewContact()" class="btn-violate btn-small" aria-label="SAVE"
                 ng-disabled="contactForm.input.$error.required">
        SAVE
      </md-button>

      <md-button class="btn-basic btn-small" ng-click="vm.closeContactPopup()" aria-label="Delete">
        <md-tooltip><span>DISCARD</span></md-tooltip>
        Discard
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
