<md-dialog class="event-detail-dialog  no-border-top" aria-label="New Message">
  <md-toolbar class="md-hue-2 background-adjustment" style="background-image: url(images/calendar/birthday-bg.jpg);">
    <div class="md-toolbar-head  big-header" layout="row" layout-align="space-between stretch">
      <div layout="column" layout-align="end stretch">
        <div layout="row">
          <div class="w-60">&nbsp;</div>
          <h2 class="title drop-shadow-3 white-fg" ng-bind="vm.eventDetails.title"></h2></div>
      </div>
      <md-button class="md-icon-button" ng-click="vm.discard()">
        <md-icon md-font-icon="icon-close"></md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content ms-scroll class="pb-0">
    <div layout="row" layout-align="start center" class="mb-10">
      <div class="w-60"><img md-menu-align-target="" class="avatar" ng-src="images/avatars/profile.jpg"
                             ng-src="{{ vm.eventDetails.photo_url || 'images/avatars/profile.jpg' }}"></div>
      <div><h2 class="no-margin">{{vm.eventDetails.name}}</h2><span class="text-truncate w-300">{{vm.eventDetails.email}}</span>
      </div>
    </div>
    <div class="event-details" layout="column">
      <div class="event-detail-row" layout="row" layout-align="start start">
        <div class="w-60">
          <md-icon md-font-icon="icon-clock"></md-icon>
        </div>
        <div layout="column" flex>
          <span class="h4">{{vm.dateParser(vm.eventDetails.start) | date: 'EEEE, MMMM dd'}}</span>
          <p class="p-0 m-0">All Day Event</p>
        </div>
      </div>
    </div>
  </md-dialog-content>
  <md-dialog-actions layout="row" layout-align="space-between center">
    <md-button class="btn-basic" ng-click="vm.discard()" aria-label="Ok">
      <md-tooltip><span>Ok</span></md-tooltip>
      OK
    </md-button>
  </md-dialog-actions>
</md-dialog>
