
<md-dialog class="event-detail-dialog " aria-label="New Message">
  <md-toolbar class="md-accent md-hue-2 " layout="row" layout-align="space-between center">
    <div class="md-toolbar-tools">
      <span class="title" ng-if="vm.eventAttendee.role==='organizer'">Your Event</span>
      <span class="title" ng-if="vm.eventAttendee.role==='coordinator'">Invited Event as Coordinator</span>
      <span class="title" ng-if="vm.eventAttendee.role==='volunteer'">Invited Event as Volunteer</span>
    </div>
    <div><md-button class="md-icon-button" ng-click="vm.closeDialog()"><md-icon md-font-icon="icon-close"></md-icon></md-button></div>
  </md-toolbar>

  <md-dialog-content ms-scroll>
    <h2 ng-bind="vm.eventDetails.title"></h2>
    <div class="event-details" layout="column">
      <div class="event-detail-row" layout="row" layout-align="start start">
        <div flex="10"><md-icon md-font-icon="icon-clock"></md-icon></div>
        <div layout="column" flex>
          <span class="h4">{{vm.eventDetails.start | date: 'EEEE, MMMM dd, hh:mm a'}} - {{vm.eventDetails.end | date:'EEEE, MMMM dd, hh:mm a'}}</span>
          <span class="secondary-text">{{vm.eventDetails.isRepeated?'Repeated '+vm.eventDetails.repeat.repeatType:'Does not repeat'}}</span>
          <span ng-if="vm.eventDetails.signup[0].signupData && vm.eventDetails.signup[0].signupData[0].job!==''">Includes Signup</span>
        </div>
      </div>
      <div ng-if="vm.eventDetails.place" class="event-detail-row" layout="row" layout-align="start start">
        <div flex="10"><md-icon md-font-icon="icon-map-marker"></md-icon></div>
        <div layout="column" flex>
          <span class="h4" ng-bind="vm.eventDetails.place"></span>
        </div>
      </div>

      <div layout="row" layout-align="start start">
        <div flex="10" class="pt-15"><md-icon md-font-icon="icon-account"></md-icon></div>
        <div layout="column" flex>
          <div layout="row">
            <div layout="row" class="response">
              <div class="yes" ng-class="{responseBorder: vm.eventDetails.showMeAs==='available', select: vm.eventDetails.showMeAs==='available'}"
                   ng-click="vm.eventDetails.showMeAs='available';vm.responseOrganizerChange();">
                <img class="avatar" ng-src="{{vm.eventDetails.attendee.photo_url}}" alt="profile">
              </div>
              <div class="no" ng-class="{responseBorder: vm.eventDetails.showMeAs==='busy', select: vm.eventDetails.showMeAs==='busy'}"
                   ng-click="vm.eventDetails.showMeAs='busy';vm.responseOrganizerChange();">
                <img class="avatar" ng-src="{{vm.eventDetails.attendee.photo_url}}" alt="profile">
              </div>
              <div class="notsure" ng-class="{responseBorder: vm.eventDetails.showMeAs==='tentative' , select: vm.eventDetails.showMeAs==='tentative'}"
                   ng-click="vm.eventDetails.showMeAs='tentative';vm.responseOrganizerChange();">
                <img class="avatar" ng-src="{{vm.eventDetails.attendee.photo_url}}" alt="profile">
              </div>
            </div>
          </div>
          <p ng-if="vm.eventDetails.showMeAs">You select your response “ <span class="yes">{{vm.eventDetails.showMeAs}}</span> ”</p>
          <p ng-if="!vm.eventDetails.showMeAs">Please select your response from above options!</p>
        </div>
      </div>
      <div layout="row" layout-align="start start">
        <div layout="column" flex="10"> </div>
        <div layout="column" flex="90">
            <textarea ng-if="vm.eventDetails.attendee.role!=='organizer'" class="border p-10" flex placeholder="write your comment" ng-model="vm.eventDetails.comment" class="border p-10"></textarea>
        </div>
      </div>

      <div layout="row" layout-align="start start" ng-if="!vm.eventDetails.showMeAs && (vm.eventDetails.signup && vm.eventDetails.signup.length)">
        <p>You have some sign-up requesst please select your response to see your sign-up details.</p>
      </div>
      <md-divider class="mt-15 mb-15" ng-if="vm.eventDetails.showMeAs"></md-divider>

      <div class="official-schedule-signup" ng-if="vm.eventDetails.showMeAs && vm.eventDetails.signup && vm.eventDetails.signup.length">
        <div layout="row" layout-align="space-between center" class="nopad">
          <strong flex="20" class="mr-10">Sign Up</strong>
          <strong flex="30" class="mr-10">Times</strong>
          <strong flex="20" class="mr-10">Have / <span>Need</span></strong>
          <strong flex class="mr-10">Bringing</strong>
        </div>
        <div layout="row" layout-align="space-between center" ng-repeat="signup in vm.eventDetails.signup"
             class="nopad mb-5">
          <div flex="20" class="mr-10 inplike text-truncate" ng-bind="signup.job || 'input job here'"></div>
          <div flex="30" class="mr-10 inplike text-truncate">{{signup.start|date:"h:mma"}} to {{signup.end|date:"h:mma"}}</div>
          <div flex="20" class="mr-10 inplike text-truncate" ng-bind="vm.getSignupCalculatedVal(signup.bring, signup.needed);"></div>
          <div flex><input type="number" class="mr-10 border w-70" ng-init="signup.bring = vm.getContributorBringCount(signup)" ng-model="signup.bring" min="0" max="{{signup.needed}}"></div>
        </div>
      </div>
    </div>
    <br>
    <div layout="row" layout-align="space-between start" class="btn-group-2" ng-if="vm.eventDetails.showMeAs">
      <div flex="10"><md-icon md-font-icon="icon-bell-ring"></md-icon></div>
      <div flex="90" >
        <div ng-if="vm.eventDetails.reminder" class="mb-5" layout="row" ng-repeat="item in vm.eventDetails.reminder | filter: {user: vm.user.id} track by $index">
          <select class="w-120" ng-model="item.type">
            <option value="notification">Notification</option>
            <option value="email">By Email</option>
          </select>
          <input type="number" value="30" min="0" max="30" class="w-80" ng-model="item.duration">
          <select class="w-120" ng-model="item.format">
            <option value="minutes">Minutes</option>
            <option value="hours">Hours</option>
          </select>
          <md-button class="md-icon-button"
                     ng-click="vm.eventDetails.reminder.splice($index, 1)">
            <md-icon md-font-icon="icon-close"></md-icon>
          </md-button>
        </div>

        <md-button class="btn-add-more line-height-16 mt-10 h-20 ml-0" ng-click="vm.eventDetails.reminder.push({type: 'notification', duration: 30, format: 'minutes', user: vm.user.id})">+ {{vm.eventDetails.reminder && vm.eventDetails.reminder.length ? 'Add another reminder' : 'Add a reminder'}}</md-button>
      </div>
    </div>
    <div layout="row" layout-align="space-between center">
      <md-button class="btn-violate lh-2" ng-click="vm.updateEventSignup()">Update</md-button>
    </div>
  </md-dialog-content>
</md-dialog>
