<style>
  .responseBorder {
    border: 3px solid green !important;
    border-radius: 50%;
  }

  td, table {
    border: 1px solid gainsboro;
  }

  table {
    width: 90%;
    text-align: center;
  }

  thead td {
    font-weight: bold;
  }
</style>
<md-dialog class="event-detail-dialog cal-popup" aria-label="New Message">

  <md-dialog-content ms-scroll>
    <div layout="row">
      <div layout="column" flex="90">
        <div class="drop-head" layout="row" layout-align="start center"
             ng-repeat="item in vm.eventEditData.attendees[0].attendees"
             ng-if="item.id===vm.user.id && item.role===vm.eventEditData.contributionType"
             ng-init="item.color?'':item.color = vm.eventEditData.color.eventColor">
          <md-button ng-click="vm.toggleColorSelect=!vm.toggleColorSelect"
                     class="md-icon-button">
            <md-icon md-font-icon="icon-menu-down red-50-bg round"
                     style="background-color:{{vm.jobColorSelector(item)}}"></md-icon>
          </md-button>
          <h2>{{vm.eventEditData.title}}</h2>
          <div class="color-popup" ng-show="vm.toggleColorSelect">
            <p>Choose and event color:</p>
            <div class="color-select">
              <md-button class="md-icon-button def" ng-click="item.color=vm.eventEditData.color.eventColor">
                <md-icon md-font-icon="icon-close-circle-outline"></md-icon>
              </md-button>
              |
              <md-button class="md-icon-button c1 {{item.color==='c1'?'check':''}}" ng-click="item.color='c1'">
                <md-icon></md-icon>
              </md-button>

              <md-button class="md-icon-button c2 {{item.color==='c2'?'check':''}}" ng-click="item.color='c2'">
                <md-icon></md-icon>
              </md-button>

              <md-button class="md-icon-button c3 {{item.color==='c3'?'check':''}}" ng-click="item.color='c3'">
                <md-icon></md-icon>
              </md-button>

              <md-button class="md-icon-button c4 {{item.color==='c4'?'check':''}}" ng-click="item.color='c4'">
                <md-icon></md-icon>
              </md-button>

              <md-button class="md-icon-button c5 {{item.color==='c5'?'check':''}}" ng-click="item.color='c5'">
                <md-icon></md-icon>
              </md-button>

              <md-button class="md-icon-button c6 {{item.color==='c6'?'check':''}}" ng-click="item.color='c6'">
                <md-icon></md-icon>
              </md-button>

              <md-button class="md-icon-button c7 {{item.color==='c7'?'check':''}}" ng-click="item.color='c7'">
                <md-icon></md-icon>
              </md-button>

              <md-button class="md-icon-button c8 {{item.color==='c8'?'check':''}}" ng-click="item.color='c8'">
                <md-icon></md-icon>
              </md-button>

              <md-button class="md-icon-button c9 {{item.color==='c9'?'check':''}}" ng-click="item.color='c9'">
                <md-icon></md-icon>
              </md-button>

              <md-button class="md-icon-button c10 {{item.color==='c10'?'check':''}}" ng-click="item.color='c10'">
                <md-icon></md-icon>
              </md-button>

              <md-button class="md-icon-button c11 {{item.color==='c11'?'check':''}}" ng-click="item.color='c11'">
                <md-icon></md-icon>
              </md-button>

            </div>
          </div>
        </div>
      </div>
      <div layout="column">
        <div layout="row" layout-align="end center" class="drop-head">
          <md-button class="md-icon-button md-button md-ink-ripple">
            <md-icon md-font-icon="icon-close" ng-click="vm.discard()"></md-icon>
          </md-button>
        </div>
      </div>
    </div>
    <div class="event-details" layout="column">
      <div class="event-detail-row" layout="row" layout-align="start start">
        <md-icon md-font-icon="icon-clock"></md-icon>
        <div layout="column" flex>
          <span class="h4">{{vm.dateParser(vm.eventEditData.start) | date: 'EEEE, MMMM dd, hh:mm a'}} - {{vm.dateParser(vm.eventEditData.end) | date:'EEEE, MMMM dd, hh:mm a'}}</span>
          <span class="secondary-text">{{vm.eventEditData.isRepeated?'Repeated '+vm.eventEditData.repeat.repeatType:'Does not repeat'}}</span>
          <span class="secondary-text"
                ng-if="vm.eventEditData.signup[0].signupData.length && vm.eventEditData.signup[0].signupData[0].job && vm.eventEditData.isSignupChecked">Includes Signup (Accept Event Request to see signup)</span>
        </div>
      </div>

      <div class="event-detail-row" layout="row" layout-align="start start">
        <md-icon md-font-icon="icon-map-marker"></md-icon>
        <div layout="column" flex>
          Location: <span class="h4" ng-bind="vm.eventEditData.place"></span>
        </div>
      </div>

      <div class="event-detail-row" layout="row" layout-align="start start">
        <md-icon md-font-icon="icon-account"></md-icon>
        <div flex>
          <div class="response">
            <div layout="row" class="layout-row"
                 ng-if="vm.eventEditData.contributionType==='coordinator' || vm.eventEditData.contributionType==='volunteer'">
              <div ng-repeat="item in vm.eventEditData.attendees[0].attendees"
                   ng-if="item.id===vm.user.id && item.role===vm.eventEditData.contributionType">
                <div layout="row" class="layout-row">
                  <div class="yes {{item.acceptance==='yes'?'responseBorder':''}}"
                       ng-click="item.acceptance='yes';vm.responseContributorChange('yes');">
                    <img class="avatar" ng-src="{{item.photo_url}}"
                         alt="profile">
                  </div>
                  <div class="no sm {{item.acceptance==='no'?'responseBorder':''}}"
                       ng-click="item.acceptance='no';vm.responseContributorChange('no');">
                    <img class="avatar" ng-src="{{item.photo_url}}"
                         alt="profile">
                  </div>
                  <div class="notsure sm {{item.acceptance==='notsure'?'responseBorder':''}}"
                       ng-click="item.acceptance='notsure';vm.responseContributorChange('notsure');">
                    <img class="avatar" ng-src="{{item.photo_url}}"
                         alt="profile">
                  </div>
                </div>
                <div layout="row" class="layout-row">You Response “ <span
                  class="yes">{{item.acceptance}}</span> ”
                </div>
                <br>
                <br>

                <div layout="row">
                  <span><strong>Comment</strong></span><br>
                  <textarea style="margin-left:15px;width:180px;height:80px;border:1px solid gainsboro"
                            placeholder="Comment" ng-model="item.comment"
                            ng-init="item.comment?'':item.comment=' '"></textarea>
                </div>
                <br>

              </div>
            </div>

          </div>
        </div>
      </div>
      <div ng-if="vm.checkIfVolunteer()===true">
        <div ng-if="vm.eventEditData.signup[0].signupData.length && vm.eventEditData.signup[0].signupData[0].job">
          <hr>
          <br><strong>Sign Ups</strong>
          <br>
          Contribute to this Event Occurrence
          <br>
          <br>
          <table>
            <thead>
            <td>
              Job
            </td>
            <td>
              Times
            </td>
            <td>
              Have/ Need
            </td>
            <td>
              Bringing
            </td>
            <td>
              Color
            </td>
            </thead>

            <tr ng-repeat="item in vm.volunteerContributionArray"
                ng-init="item.preBring=item.bringing;item.preAvailable=item.available">
              <td>
                <span ng-bind="item.job"></span>
              </td>
              <td>
                <span ng-bind="vm.timeParser(item.start)"></span> -
                <span ng-bind="vm.timeParser(item.end)"></span>
              </td>
              <td>
                <span ng-bind="item.available"></span> /
                <span ng-bind="item.needed"></span>
              </td>
              <td>
                <div style="width:90%;border:1px solid gainsboro;margin:5px;padding:2px;text-align:center;"
                     ng-bind="item.bringing"></div>
                <div layout="row" layout-align="space-between center">
                  <md-button class="md-icon-button" ng-click="vm.addContributionBringing(item)">
                    <md-icon md-font-icon="icon-plus"></md-icon>
                  </md-button>
                  <md-button class="md-icon-button" ng-click="vm.reduceContributionBringing(item)">
                    <md-icon md-font-icon="icon-minus"></md-icon>
                  </md-button>
                </div>
              </td>
              <td class="nopad">
                <div
                  style="margin:5px;border-radius:50%;height:23px;width:23px;background-color:{{vm.jobColorSelector(item)}}">
                </div>

              </td>
            </tr><!--row-->
          </table>
        </div><br>
        <div layout="row"  ng-if="vm.checkIfVolunteer()===true">
          <br>
          <span ng-click="vm.swapEvent()" style="border:1px solid gainsboro;padding:5px;cursor:pointer">Swap with other Volunteer</span>
        </div>
      </div>
      <hr>
      <div layout="row" layout-align="space-between center">
        <md-button class="" ng-click="vm.discard()">Discard</md-button>
        <md-button class="btn-violate" ng-click="vm.saveContribution(item)">Save</md-button>
      </div>
    </div>

  </md-dialog-content>
</md-dialog>
