<md-dialog class="event-detail-dialog " aria-label="New Message">
  <md-toolbar class=" md-hue-2 ">
    <div class="md-toolbar-tools">
      <div layout="column">
        <span class="title">Invited Event as Volunteer</span>
      </div> &nbsp;&nbsp;
      <div layout="column">
        <div class="timepeaker" layout="row" flex ng-repeat="item in vm.eventEditData.attendees[0].attendees"
             ng-if="item.id===vm.user.id && item.role===vm.eventEditData.contributionType">
          <md-icon md-font-icon="icon-play" style="border-radius:50%;background-color:{{vm.jobColorSelector(item)}}"
                   ng-init="item.color?'':item.color = vm.eventEditData.color.eventColor"
                   ng-click="vm.showSignupJobColorSelector[$index]=!vm.showSignupJobColorSelector[$index]"></md-icon>
          <div ng-show="vm.showSignupJobColorSelector[$index]" class="timepop" layout="row"
               layout-align="space-around stretch">
            <div class="color-select signupJobColor">

              <md-button class="md-icon-button c1 {{item.color==='c1'?'check':''}}"
                         ng-click="item.color='c1'">
                <md-icon></md-icon>
              </md-button>

              <md-button class="md-icon-button c2 {{item.color==='c2'?'check':''}}"
                         ng-click="item.color='c2'">
                <md-icon></md-icon>
              </md-button>

              <md-button class="md-icon-button c3 {{item.color==='c3'?'check':''}}"
                         ng-click="item.color='c3'">
                <md-icon></md-icon>
              </md-button>

              <md-button class="md-icon-button c4 {{item.color==='c4'?'check':''}}"
                         ng-click="item.color='c4'">
                <md-icon></md-icon>
              </md-button>

              <md-button class="md-icon-button c5 {{item.color==='c5'?'check':''}}"
                         ng-click="item.color='c5'">
                <md-icon></md-icon>
              </md-button>

              <md-button class="md-icon-button c6 {{item.color==='c6'?'check':''}}"
                         ng-click="item.color='c6'">
                <md-icon></md-icon>
              </md-button>

              <md-button class="md-icon-button c7 {{item.color==='c7'?'check':''}}"
                         ng-click="item.color='c7'">
                <md-icon></md-icon>
              </md-button>

              <md-button class="md-icon-button c8 {{item.color==='c8'?'check':''}}"
                         ng-click="item.color='c8'">
                <md-icon></md-icon>
              </md-button>

              <md-button class="md-icon-button c9 {{item.color==='c9'?'check':''}}"
                         ng-click="item.color='c9'">
                <md-icon></md-icon>
              </md-button>

              <md-button class="md-icon-button c10 {{item.color==='c10'?'check':''}}"
                         ng-click="item.color='c10'">
                <md-icon></md-icon>
              </md-button>

              <md-button class="md-icon-button c11 {{item.color==='c11'?'check':''}}"
                         ng-click="item.color='c11'">
                <md-icon></md-icon>
              </md-button>

            </div>
          </div>
        </div>
      </div>

    </div>
  </md-toolbar>

  <md-dialog-content ms-scroll>
    <h2 ng-bind="vm.eventEditData.title"></h2>
    <div class="event-details" layout="column">
      <div class="event-detail-row" layout="row" layout-align="start start">
        <md-icon md-font-icon="icon-clock"></md-icon>
        <div layout="column" flex>
          <span class="h4">{{vm.dateParser(vm.eventEditData.start) | date: 'EEEE, MMMM dd, hh:mm a'}} - {{vm.dateParser(vm.eventEditData.end) | date:'EEEE, MMMM dd, hh:mm a'}}</span>
          <span class="secondary-text">{{vm.eventEditData.isRepeated?'Repeated '+vm.eventEditData.repeat.repeatType:'Does not repeat'}}</span>
          <span
            ng-if="vm.eventEditData.signup[0].signupData.length && vm.eventEditData.signup[0].signupData[0].job && vm.eventEditData.isSignupChecked">Includes Signup (Accept Event Request to see signup)</span>
        </div>
      </div>
      <div class="event-detail-row" layout="row" layout-align="start start">
        <md-icon md-font-icon="icon-map-marker"></md-icon>
        <div layout="column" flex>
          Location: <span class="h4" ng-bind="vm.eventEditData.place"></span>
        </div>
      </div>

      <div class="event-detail-row" layout="row" layout-align="start center">
        <md-icon md-font-icon=""></md-icon>
        <div layout="row" flex>
          <div layout="row" class="layout-row">
            <div class="response">
              <div layout="row" class="layout-row"
                   ng-if="vm.eventEditData.contributionType==='coordinator' || vm.eventEditData.contributionType==='volunteer'">
                <div ng-repeat="item in vm.eventEditData.attendees[0].attendees"
                     ng-if="item.id===vm.user.id && item.role===vm.eventEditData.contributionType">
                  <div layout="row" class="layout-row">
                    <div class="yes {{item.acceptance==='yes'?'responseBorder':''}}"
                         ng-click="item.acceptance='yes';vm.responseContributorChange('yes');">
                      <img class="avatar" ng-src="{{item.photo_url}}"
                           alt="profile">
                    </div>
                    <div class="no sm {{item.acceptance==='no'?'responseBorder':''}}"
                         ng-click="item.acceptance='no';vm.responseContributorChange('no');">
                      <img class="avatar" ng-src="{{item.photo_url}}"
                           alt="profile">
                    </div>
                    <div class="notsure sm {{item.acceptance==='notsure'?'responseBorder':''}}"
                         ng-click="item.acceptance='notsure';vm.responseContributorChange('notsure');">
                      <img class="avatar" ng-src="{{item.photo_url}}"
                           alt="profile">
                    </div>
                  </div>
                  <div layout="row" class="layout-row">You select your response “ <span
                    class="yes">{{item.acceptance}}</span> ”
                  </div>                   <br>
                  <br>

                  <div layout="row">
                   <span>Comment</span><br>
                   <textarea style="width:180px;height:80px;border:1px solid gainsboro" placeholder="Comment" ng-model="item.comment" ng-init="item.comment?'':item.comment=' '"></textarea>
                 </div>                   <br>

                </div>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
    <br>
    <md-divider></md-divider>
    <div layout="row" ng-if="vm.checkIfVolunteer()===true">
      <div ng-if="vm.eventEditData.signup[0].signupData.length && vm.eventEditData.signup[0].signupData[0].job">
        <div layout="row">
          <div layout="column">
            <h2>Add your Contribution to this
              event</h2>
          </div>

        </div>
        <md-divider></md-divider>
        <table>
          <tr>
            <td>
              Sign Up
            </td>
            <td>
              Times
            </td>
            <td>
              Have/ Need
            </td>
            <td>
              Bringing
            </td>
            <td>
              Color
            </td>
          </tr>

        <tr ng-repeat="item in vm.volunteerContributionArray"
             ng-init="item.preBring=item.bringing;item.preAvailable=item.available">
          <td>
            <span ng-bind="item.job"></span>
          </td>
          <td>
            <span ng-bind="vm.timeParser(item.start)"></span> -
            <span ng-bind="vm.timeParser(item.end)"></span>
          </td>
          <td>
            <span ng-bind="item.available"></span> /
            <span ng-bind="item.needed"></span>
          </td>
          <td>
            <span ng-bind="item.bringing"></span>
            <md-icon md-font-icon="icon-plus" ng-click="vm.addContributionBringing(item)"></md-icon>
            <md-icon md-font-icon="icon-minus" ng-click="vm.reduceContributionBringing(item)"></md-icon>
          </td>
          <td class="nopad">
            <md-button class="md-icon-button" style="background-color:{{vm.jobColorSelector(item)}}">
            </md-button>
          </td>
        </tr><!--row-->
        </table>
      </div>

    </div>
    <br>
    <div layout="row"  ng-if="vm.checkIfVolunteer()===true">
      <span ng-click="vm.swapEvent()" style="border:1px solid gainsboro;padding:5px;cursor:pointer">Swap with other Volunteer</span>
    </div>
    <br>
    <div layout="row" >
      <md-button ng-click="vm.saveContribution(item)">Save</md-button>
      <md-button ng-click="vm.discard()">Discard</md-button>
    </div>
    <br>
  </md-dialog-content>
</md-dialog>
