<md-dialog class="event-detail-dialog no-border-top" aria-label="New Message">
  <md-toolbar class="md-hue-2 background-adjustment teal-500-bg">
    <div class="md-toolbar-head  big-header" layout="row" layout-align="space-between stretch">
      <div layout="column" layout-align="end stretch">
        <div layout="row"><div class="w-60">&nbsp;</div><h2 class="title" ng-bind="vm.eventDetails.title"></h2></div>
      </div>
      <md-button class="md-icon-button close-btn" ng-click="vm.discard()">
        <md-icon md-font-icon="icon-close"></md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content ms-scroll>
    <h2 ng-if="vm.eventEditData.title">{{vm.eventEditData.title}}</h2>
    <div class="event-details" layout="column">
      <div class="event-detail-row" layout="row" layout-align="start start">
        <div class="w-60"><md-icon md-font-icon="icon-clock"></md-icon></div>
        <div layout="column" flex>
          <span class="h4">{{vm.dateParser(vm.eventDetails.start) | date: 'EEEE, MMMM dd'}}</span>
          <p ng-bind="vm.eventDetails.summary"></p>
        </div>
      </div>

    </div>
    <br>
  </md-dialog-content>
</md-dialog>
