<md-dialog class="event-detail-dialog popover-style" aria-label="New Message">
  <md-toolbar class="md-hue-2 ">
    <div class="md-toolbar-tools" layout="row" layout-align="space-between start">
      <span class="title" >Google Calendar Event</span>
      <md-button class="md-icon-button"><md-icon md-font-icon="icon-close"></md-icon></md-button>
    </div>
  </md-toolbar>

  <md-dialog-content ms-scroll>
    <h2 ng-bind="vm.eventEditData.title"></h2>
    <div class="event-details" layout="column">
      <div class="event-detail-row" layout="row" layout-align="start start">
        <md-icon md-font-icon="icon-clock"></md-icon>
        <div layout="column" flex>
          <span class="h4">{{vm.dateParser(vm.eventEditData.start) | date: 'EEEE, MMMM dd, hh:mm a'}} - {{vm.dateParser(vm.eventEditData.end) | date:'EEEE, MMMM dd, hh:mm a'}}</span>
        </div>
      </div>
      <div class="event-detail-row" layout="row" layout-align="start start">
        <md-icon md-font-icon="icon-map-marker"></md-icon>Place<br>
        <div layout="column" flex>
          <span class="h4" ng-bind="vm.eventEditData.place?vm.eventEditData.place:'No place added'"></span>
        </div>
      </div>
      <div class="event-detail-row" layout="row" layout-align="start start">
        <md-icon md-font-icon="icon-view-day"></md-icon>Description<br>
        <div layout="column" flex>
          <span class="h4" ng-bind="vm.eventEditData.description?vm.eventEditData.description:'No description added'"></span>
        </div>
      </div>
      <a href="{{vm.eventEditData.link}}" target="_blank"><md-button>Go to Event</md-button></a>
    </div>
    <br>
  </md-dialog-content>
</md-dialog>
