<md-dialog class="event-form-dialog" aria-label="New Message">
  <form name="eventForm" class="md-inline-form" novalidate>
    <md-toolbar class="md-accent md-hue-2">
      <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
        <span class="title"><md-icon md-font-icon="icon-cake"></md-icon> Add Birthday Event</span>
        <md-button class="md-icon-button" ng-click="vm.discard()" aria-label="Close dialog" translate
                   translate-attr-aria-label="CALENDAR.CLOSE_DIALOG">
          <md-icon md-font-icon="icon-close"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content ms-scroll>
      <md-input-container class="md-block">
        <label>First Name</label>
        <input ng-model="vm.newBirthdayEventData.first_name">
      </md-input-container>
      <div layout="row">
        <md-input-container  class="md-block">
          <label>Last Name</label>
          <input  ng-model="vm.newBirthdayEventData.last_name">
        </md-input-container>
      </div>
      <div layout="row">
        <md-input-container  class="md-block">
          <label>Birth Date</label>
          <md-datepicker flex ng-model="vm.newBirthdayEventData.date_birth"></md-datepicker>
        </md-input-container>
      </div>

    </md-dialog-content>

    <md-dialog-actions layout="row" layout-align="space-between center">
      <md-button ng-click="vm.saveNewBirthdayEvent()" class="save-button md-accent md-raised" aria-label="SAVE">
        SAVE
      </md-button>

      <md-button class="" ng-click="vm.discard()" aria-label="Delete">
        <md-tooltip><span>DISCARD</span></md-tooltip>
        Discard
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
