<div id="media" class="page-layout simple right-sidenav" layout="row" data-ng-init="vm.init()">

  <!-- CENTER -->
  <div class="center" layout="column" flex>

    <!-- HEADER -->
    <div class="header md-accent-bg">

      <div class="header-content" layout="column" layout-align="start none">


        <div class="" layout="row">
          <div class="left" layout="column" flex="30">
            <!-- BREADCRUMB -->
            <div class="breadcrumb text-truncate">
              <md-icon md-font-icon="icon-folder-outline"></md-icon>
              <span ng-if="vm.path" data-ng-repeat="pth in vm.path">
                <a ng-if="pth.uri" class="link" ui-sref="{{pth.uri}}">{{pth.name}}</a>
                <md-icon md-font-icon="icon-chevron-right" class="icon separator"></md-icon>
                </span>
            </div>
            <!-- / BREADCRUMB -->
          </div>
          <div class="left" layout="column" flex="70">
            <!-- TOOLBAR -->

            <div class="toolbar" layout="row" layout-align="start center">
              <md-checkbox ng-checked="vm.isCheckedPhoto()" md-indeterminate="vm.isIndeterminate()" ng-click="vm.toggleAllPhotos()" aria-label="Select All">
                <span ng-if="vm.selectedPhotos.length" ng-bind="vm.selectedPhotos.length + ' Selected'"></span>
              </md-checkbox>
              <md-button class="md-icon-button" ng-click="vm.deleteItems($event)" aria-label="Delete">
                <md-icon md-font-icon="icon-delete"></md-icon>
                <md-tooltip><span>Delete</span></md-tooltip>
              </md-button>
            </div>
            <!-- / TOOLBAR -->
          </div>
        </div>


      </div>

      <!-- ADD FILE BUTTON -->
      <div id="file-uploader"
           flow-init="vm.ngFlowOptions"
           flow-name="vm.ngFlow.flow"
           flow-files-submitted="vm.upload()"
           flow-file-added="vm.fileAdded($file)"
           flow-file-success="vm.fileSuccess($file, $message)"
           flow-complete="vm.uploadComplete()">

        <!--<md-button flow-btn class="add-file-button md-fab md-warn"-->
                   <!--aria-label="Add file" ng-click="vm.uploadFilesFolder($event)">-->
          <!--<md-icon md-font-icon="icon-plus"></md-icon>-->
        <!--</md-button>-->
      </div>
      <!-- / ADD FILE BUTTON -->
    </div>
    <!-- / HEADER -->

    <div class="innter_content" layout="row" layout-align="space-between start">


      <!-- SIDENAV CONTENT -->

      <div class="navigation-simple z-index left md-whiteframe-3dp" layout="column" flex="20">
        <div class="item">
          <md-button class="md-raised folder-create center" ng-click="vm.createNewFolder($event)">Add Photo/Video</md-button>
        </div>
        <md-button class="item" aria-label="inbox" ng-click="vm.getAlbums()">
          <div class="context" layout="row" layout-align="start center">
            <md-icon md-font-icon="icon-image-album" class="s16"></md-icon>
            <div class="title">Album</div>
          </div>
        </md-button>

        <md-button class="item" aria-label="starred" ng-click="vm.starredFileFolderList()">
          <div class="context" layout="row" layout-align="start center">
            <md-icon md-font-icon="icon-map-marker" class="s16"></md-icon>
            <div class="title">Location</div>
          </div>
        </md-button>

        <md-button class="item" aria-label="starred" ng-click="vm.sharedFileFolderList()">
          <div class="context" layout="row" layout-align="start center">
            <md-icon md-font-icon="icon-account-multiple" class="s16"></md-icon>
            <div class="title">People Shared</div>
          </div>
        </md-button>

        <md-button class="item" aria-label="starred" ng-click="vm.getAllPhotos()">
          <div class="context" layout="row" layout-align="start center">
            <md-icon md-font-icon="icon-folder-multiple-image" class="s16"></md-icon>
            <div class="title">All Photos</div>
          </div>
        </md-button>

        <md-button class="item" aria-label="starred" ng-click="vm.getAllVideos()">
          <div class="context" layout="row" layout-align="start center">
            <md-icon md-font-icon="icon-play-circle" class="s16"></md-icon>
            <div class="title">All Videos</div>
          </div>
        </md-button>

      </div>
      <!-- / SIDENAV CONTENT -->


      <!-- CONTENT -->
      <md-content class="content right" flex="80" ms-scroll>
        <div class="grid-view photos" layout="column">
          <md-grid-list
            md-cols="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="4"
            md-row-height-gt-md="1:1" md-row-height="4:3"
            md-gutter="8px" md-gutter-gt-sm="4px">
            <md-grid-tile class="photo-thumb upload" style="" ngf-drop="vm.uploadMedia($files, $invalidFiles, vm.currentAlbumId)" ngf-select="vm.uploadMedia($files, $invalidFiles, vm.currentAlbumId)" multiple accept="*"
                          ngf-pattern="'*'" ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true" ngf-max-size="850MB">
              <md-icon md-font-icon="icon-cloud-upload"></md-icon>
              <!--<div class="upload_title">Add Photo/Video</div>-->
            </md-grid-tile>
            <md-grid-tile ng-if="vm.photos" ng-repeat="photo in vm.photos" class="photo-thumb" style="background-image: url({{vm.getThumbFromPhoto(photo)}})" >
              <div class="top_bar_section">
              <md-input-container class="md-block select_photo_checkbox">
                <md-checkbox name="select_photo_{{photo.id}}" ng-checked="vm.existsPhoto(photo)" ng-click="vm.toggleSelect(photo)" aria-label="Select Photo {{photo.id}}"></md-checkbox>
              </md-input-container>
              <div class="share-delete">
                <a href="http://sochara.com:8000/admin/media/photo/editor/592e6b1861a53b4c695a8921" class="edit_button"><md-icon md-font-icon="icon-pencil"></md-icon></a>
                <div class="share">
                  <md-icon md-font-icon="icon-share-variant"></md-icon>
                  <div class="shared-media">
                    <md-icon ng-click="sharePhotoSocharaContact(photo.id, 'file')" md-font-icon="icon-share" title="Share To Sochara Contact"></md-icon>
                    <a href="{{vm.site_url + photo.file_dir}}" download="{{photo.name}}"><md-icon md-font-icon="icon-cloud-download"></md-icon></a>
                    <md-icon md-font-icon="icon-google-plus-box" ng-click="sharePhotoGoogle(photo.file_dir)"></md-icon>
                    <md-icon md-font-icon="icon-facebook" ng-click="sharePhotoFacebook(photo.file_dir)"></md-icon>
                    <md-icon md-font-icon="icon-linkedin" ng-click="sharePhotoLinkedin(photo.file_dir)"></md-icon>
                    <md-icon md-font-icon="icon-pinterest" ng-click="sharePhotoPinterest(photo.file_dir)"></md-icon>
                    <md-icon md-font-icon="icon-twitter" ng-click="sharePhotoTwitter(photo.file_dir)"></md-icon>
                    <md-icon md-font-icon="icon-printer" ng-click="printThisPhoto(photo.file_dir)"></md-icon>
                  </div>
                </div>
                <div class="delete" ng-click="vm.deletePhoto($event, photo)"><md-icon md-font-icon="icon-delete"></md-icon></div>
              </div>
              </div>
              <div class="middle_bar_section">
              <div class="photo-zoom" ng-click="vm.imagePreview(photo)"><md-icon md-font-icon="icon-plus-circle"></md-icon></div>
              </div>
              <div class="bottom_bar_section">
                <div class="photo-name" ng-bind="photo.name"></div>
              </div>
            </md-grid-tile>
            <md-grid-tile ng-if="vm.videos" ng-repeat="video in vm.videos" class="photo-thumb" style="background-image: url({{vm.getThumbFromPhoto(video)}})" >
              <div class="top_bar_section">
                <md-input-container class="md-block select_photo_checkbox">
                  <md-checkbox name="select_photo_{{video.id}}" ng-checked="vm.existsPhoto(video)" ng-click="vm.toggleSelect(video)" aria-label="Select Video {{video.id}}"></md-checkbox>
                </md-input-container>
                <div class="share-delete">
                  <div class="share">
                    <md-icon md-font-icon="icon-share-variant"></md-icon>
                    <div class="shared-media">
                      <md-icon ng-click="sharePhotoSocharaContact(video.id, 'file')" md-font-icon="icon-share" title="Share To Sochara Contact"></md-icon>
                      <a href="{{vm.site_url + photo.file_dir}}" download="{{photo.name}}"><md-icon md-font-icon="icon-cloud-download"></md-icon></a>
                      <md-icon md-font-icon="icon-google-plus-box" ng-click="sharePhotoGoogle(video.file_dir)"></md-icon>
                      <md-icon md-font-icon="icon-facebook" ng-click="sharePhotoFacebook(video.file_dir)"></md-icon>
                      <md-icon md-font-icon="icon-linkedin" ng-click="sharePhotoLinkedin(video.file_dir)"></md-icon>
                      <md-icon md-font-icon="icon-pinterest" ng-click="sharePhotoPinterest(video.file_dir)"></md-icon>
                      <md-icon md-font-icon="icon-twitter" ng-click="sharePhotoTwitter(video.file_dir)"></md-icon>
                      <md-icon md-font-icon="icon-printer" ng-click="printThisPhoto(video.file_dir)"></md-icon>
                    </div>
                  </div>
                  <div class="delete" ng-click="vm.deletePhoto($event, video)"><md-icon md-font-icon="icon-delete"></md-icon></div>
                </div>
              </div>
              <div class="middle_bar_section">
                <div class="photo-zoom" ng-click="vm.videoPreview(video)"><md-icon md-font-icon="icon-youtube-play"></md-icon></div>
              </div>
              <div class="bottom_bar_section">
                <div class="photo-name" ng-bind="video.name"></div>
              </div>
            </md-grid-tile>
          </md-grid-list>



          <!-- Video Popup -->
          <div id="videoPlayerPopup" class="cd-popup">
            <div class="cd-popup-container sochara_video_player">
              <video id="posterUrl" poster="" controls>
                <source id="videoUrl" src="" type="video/mp4" data-plyr='{ title: "testing" }'>
              </video>
              <a href="javascript:void(0)" class="cd-popup-close img-replace" ng-click="vm.closeVideoPopup()"></a>
            </div> <!-- cd-popup-container -->
          </div> <!-- cd-popup -->





        </div>
      </md-content>
      <!-- / CONTENT -->

      <!--<li class="photo-thumb col-xs-12 col-sm-6 col-md-4 col-lg-3 ng-scope" ng-repeat="photo in allAllPhotoList" ng-click="selectedPhoto($event, photo.id)" href="http://sochara.com:8000/users/files/photo/592e6b1861a53b4c695a8921" data-id="592e6b1861a53b4c695a8921">-->
        <!--<div class="thumbnail photo-albm have-abg" style="background-image: url(http://sochara.com:8000/users/files/photo/thumb/592e6b1861a53b4c695a8921);">-->

        <!--</div>-->
      <!--</li>-->

    </div>
    <!-- / CENTER -->

  </div>
</div>
