

<div id="media" class="page-layout simple right-sidenav" layout="row" data-ng-init="vm.init()">

  <!-- CENTER -->
  <div class="center" layout="column" flex>
    <div class="page page-gallery page-media photo-editor-page">
      <div id="editor" style="width: 100%; height: 600px;"></div>

      <!--&lt;!&ndash; Create New Photo Popup &ndash;&gt;-->
      <!--<div id="createAlbumPopup" class="cd-popup" role="alert">-->
        <!--<div class="cd-popup-container">-->
          <!--<div class="album_name">-->
            <!--<div class="form-group">-->
              <!--<input type="text" id="albumName" ng-model="inputPhotoName" class="form-control rounded" placeholder="New Photo Name" name="photo_name" autofocus>-->
            <!--</div>-->
          <!--</div>-->
          <!--<ul class="cd-buttons">-->
            <!--<li><a href="#!" ng-click="saPhotoReadyToSave()">Save</a></li>-->
            <!--<li><a ng-click="closePopup()" href="#!">Cancel</a></li>-->
          <!--</ul>-->
          <!--<a href="#0" class="cd-popup-close img-replace" ng-click="closePopup()"></a>-->
        <!--</div> &lt;!&ndash; cd-popup-container &ndash;&gt;-->
      <!--</div> &lt;!&ndash; cd-popup &ndash;&gt;-->

    </div>
  </div>
</div>
