<div id="media" class="page-layout simple left-sidenav inner-sidenav bg-white sm-head" data-ng-init="vm.init()" layout="column" layout-align="start stretch">

  <!-- CENTER -->


  <!-- HEADER -->
  <div class="header" layout="row" layout-align="start center">

    <!-- APP TITLE -->

    <div class="logo" layout="row" layout-align="start center" flex="25">
        <span class="logo-icon">
            <md-icon md-font-icon="icon-folder-multiple-image" class="s40"></md-icon>
        </span>
      <span class="logo-text"> Media</span>
    </div>


    <div class="toolbar" layout="row" layout-align="start center" flex>
      <md-checkbox ng-disabled="!vm.photos.length && !vm.videos.length" ng-checked="vm.isCheckedPhoto()"
                   md-indeterminate="vm.isIndeterminate()" ng-click="vm.toggleAllPhotos()" aria-label="Select All">
        Select all
      </md-checkbox>

      <div class="pl-20 lh-1"><span class="selected_text" ng-if="vm.selectedPhotos.length"
                                    ng-bind="vm.selectedPhotos.length + ' Selected'"></span></div>

      <md-button class="md-icon-button" ng-if="vm.selectedPhotos.length" ng-click="vm.deleteItems($event)"
                 aria-label="Delete">
        <md-icon md-font-icon="icon-delete"></md-icon>
        <md-tooltip><span>Delete</span></md-tooltip>
      </md-button>

      <!--
      <md-button class="md-icon-button" ng-if="vm.selectedPhotos.length" aria-label="Download" hm-tap="vm.downloadItems()">
        <md-icon md-font-icon="icon-download"></md-icon>
        <md-tooltip><span>Download</span></md-tooltip>
      </md-button>

      <md-button class="md-icon-button" aria-label="More" translate translate-attr-aria-label="FM.MORE">-->
      <!--<md-icon md-font-icon="icon-dots-vertical"></md-icon>-->
      <!--<md-tooltip><span>More</span></md-tooltip>-->
      <!--</md-button>--
      <md-menu md-offset="12" ng-if="vm.selectedPhotos.length || vm.selectedFilesForCopy.length || vm.selectedFilesForMove.length">
        <md-button aria-label="Open demo menu" class="md-icon-button" aria-label="More" ng-click="$mdMenu.open($event)">
          <md-icon md-font-icon="icon-dots-vertical"></md-icon>
          <md-tooltip><span>More</span></md-tooltip>
        </md-button>
        <md-menu-content width="3" class="nopad">
          <md-menu-item ng-if="vm.selectedPhotos.length">
            <md-button ng-click="vm.copySelectedItems()"> <span md-menu-align-target>Copy</span> </md-button>
          </md-menu-item>
          <md-menu-item ng-if="vm.selectedPhotos.length">
            <md-button ng-click="vm.cutSelectedItems()"> <span md-menu-align-target>Cut</span> </md-button>
          </md-menu-item>
          <md-menu-item ng-if="vm.selectedFilesForCopy.length || vm.selectedFilesForMove.length">
            <md-button ng-click="vm.pasteSelectedItems()"> <span md-menu-align-target>Paste</span> </md-button>
          </md-menu-item>
          <md-menu-item ng-if="vm.selectedPhotos.length===1">
            <md-button ng-click="vm.renameItem($event)"> <span md-menu-align-target>Rename</span> </md-button>
          </md-menu-item>
          <md-menu-item ng-if="vm.selectedPhotos.length">
            <md-button ng-click="vm.addToStar()"> <span md-menu-align-target>Add To Star</span> </md-button>
          </md-menu-item>
          <md-menu-item ng-if="vm.selectedPhotos.length">
            <md-button ng-click="vm.removeFromStar()"> <span md-menu-align-target>Remove From Star</span> </md-button>
          </md-menu-item>
          <!--<md-menu-item ng-if="vm.selectedPhotos.length===1">-->
      <!--<md-button ng-click="vm.sharePopup($event)"> <span md-menu-align-target>Share</span> </md-button>-->
      <!--</md-menu-item>--
    </md-menu-content>
  </md-menu>
  <-- -->

      <md-button ng-if="vm.currentView === 'grid'" class="md-icon-button" aria-label="view type"
                 ng-click="vm.toggleView()">
        <md-icon md-font-icon="icon-view-headline"></md-icon>
        <md-tooltip><span>List View</span></md-tooltip>
      </md-button>

      <md-button ng-if="vm.currentView === 'list'" class="md-icon-button"
                 ng-click="vm.toggleView()"
                 aria-label="view type">
        <md-icon md-font-icon="icon-view-module"></md-icon>
        <md-tooltip><span>Grid View</span></md-tooltip>
      </md-button>
    </div>

  </div>
  <!-- / HEADER -->
  <div class="center inner-wrap" layout="column" flex>

    <div class="innter_content" layout="row" layout-align="space-between start" layout-fill>


      <!-- SIDENAV CONTENT -->

      <div class="navigation-simple z-index left md-whiteframe-3dp" layout="column" flex="20">
        <div class="item text-center">
          <md-button class="folder-create center btn-violate pl-20 pr-20"
                     ngf-select="vm.uploadMedia($files, $invalidFiles, vm.currentAlbumId)" multiple accept="*"
                     ngf-pattern="'image/*,video/*'" ngf-drag-over-class="'drag_over'" ngf-multiple="true"
                     ngf-allow-dir="true"
                     ngf-max-size="850MB">Add Photo/Video
          </md-button>
        </div>
        <md-button class="item" aria-label="inbox" ng-click="vm.goToAlbums()" ng-class="{'selected':vm.navMenu === 'album'}">
          <div class="context" layout="row" layout-align="start center">
            <md-icon md-font-icon="icon-image-album" class="s24"></md-icon>
            <div class="title">Album</div>
          </div>
        </md-button>

        <md-button class="item" aria-label="starred" ng-click="vm.getPhotoAlbumListByLocation()" ng-class="{'selected':vm.navMenu === 'location'}">
          <div class="context" layout="row" layout-align="start center">
            <md-icon md-font-icon="icon-map-marker" class="s24"></md-icon>
            <div class="title">Location</div>
          </div>
        </md-button>

        <md-button class="item" aria-label="starred" ng-click="vm.sharedFileFolderList()" ng-class="{'selected':vm.navMenu === 'shared'}">
          <div class="context" layout="row" layout-align="start center">
            <md-icon md-font-icon="icon-account-multiple" class="s24"></md-icon>
            <div class="title">People Shared</div>
          </div>
        </md-button>

        <md-button class="item" aria-label="starred" ng-click="vm.getAllPhotos()" ng-class="{'selected':vm.navMenu === 'photos'}">
          <div class="context" layout="row" layout-align="start center">
            <md-icon md-font-icon="icon-folder-multiple-image" class="s24"></md-icon>
            <div class="title">All Photos</div>
          </div>
        </md-button>

        <md-button class="item" aria-label="starred" ng-click="vm.getAllVideos()" ng-class="{'selected':vm.navMenu === 'videos'}">
          <div class="context" layout="row" layout-align="start center">
            <md-icon md-font-icon="icon-play-circle" class="s24"></md-icon>
            <div class="title">All Videos</div>
          </div>
        </md-button>

      </div>
      <!-- / SIDENAV CONTENT -->


      <!-- CONTENT -->
      <md-content class="content inner-content-wrap " flex="80"
                  ngf-drop="vm.uploadMedia($files, $invalidFiles, vm.currentAlbumId, 'parent')" multiple accept="*"
                  ngf-pattern="'image/*,video/*'" ngf-drag-over-class="'drag_over'" ngf-multiple="true"
                  ngf-allow-dir="false"
                  ngf-max-size="850MB" ms-scroll>
        <div ng-if="vm.loadingAlbums || vm.loadingPhotos || vm.loadingVideos" class="loading-threads gray-color"
             layout="column" layout-align="center center" ms-scroll>
          <md-progress-circular class="md-accent" md-mode="indeterminate" md-diameter="64"></md-progress-circular>
          <h3>Loading media items...</h3>
        </div>


        <!--start album-->
        <div class="tab-items" ms-scroll>
          <div layout="row" class="tabs-row" layout-wrap>

            <div flex="25" flex-xl="20" flex-md="33" flex-sm="50"
                 ng-if="vm.albumRoute === true && !vm.loadingAlbums && !vm.loadingPhotos && !vm.loadingVideos">
              <div layout-align="space-between stretch" layout="column" ng-click="vm.createNewAlbum($event);">
                <div class="item-create square-img mrf-10 mb-20">
                  <md-button>
                    <md-icon md-font-icon="icon-plus"></md-icon>
                    <p>Create Album</p>
                  </md-button>
                </div>
              </div>
            </div>

            <div flex="25" flex-xl="20" flex-md="33" flex-sm="50"
                 ng-if="vm.albumRoute === false && !vm.loadingAlbums && !vm.loadingPhotos && !vm.loadingVideos"
                 class="photo-thumb upload"
                 ngf-select="vm.uploadMedia($files, $invalidFiles, vm.currentAlbumId)" multiple accept="*"
                 ngf-pattern="'image/*,video/*'" ngf-drag-over-class="'drag_over'" ngf-multiple="true"
                 ngf-allow-dir="true"
                 ngf-max-size="850MB">
              <div layout-align="space-between stretch" layout="column">
                <div class="item-create square-img mrf-10 mb-20">
                  <md-button>
                    <md-icon md-font-icon="icon-cloud-upload"></md-icon>
                  </md-button>
                </div>
              </div>
            </div>

            <div ng-if="vm.albums.length && !vm.loadingAlbums" ng-repeat="album in vm.albums | orderBy : 'name'"
                 flex="25" flex-xl="20" flex-md="33" flex-sm="50">
              <div class="mr-10 mb-20 square-img less-height album_item"
                   ngf-drop="vm.uploadMedia($files, $invalidFiles, album.id)" multiple accept="*"
                   ngf-pattern="'image/*,video/*'" ngf-drag-over-class="'drag_over'" ngf-multiple="true"
                   ngf-allow-dir="false"
                   ngf-max-size="850MB">
                <div layout="column" layout-align="space-between stretch" class="hp-100">
                  <div flex>
                    <div class="item-thumb hp-100" hm-doubletap="vm.goToAlbum( album.id )">
                      <img ng-class="{'no-cover-pic opacity-1':!album.cover}"
                           ng-src="{{album.cover || '/images/icons/ic_add_a_photo_black_36px.svg'}}" alt="poll-small">
                    </div>
                  </div>

                  <div layout="row" layout-align="space-between center" class="nev-content-head pt-no pb-no">
                    <div flex>
                      <h3>{{album.name}}</h3>
                      <p>
                        <span ng-bind="album.photos || 0"></span> Photos and <span
                        ng-bind="album.videos || 0"></span> Videos
                      </p>
                    </div>
                    <md-menu md-position-mode="target-right target" md-offset="0 45">
                      <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdMenu.open($event)">
                        <md-icon md-font-icon="icon-dots-vertical"></md-icon>
                      </md-button>
                      <md-menu-content width="3">
                        <md-menu-item>
                          <md-button ng-click="vm.downloadALbum(album)">
                            <div layout="row" flex>
                              <md-icon md-font-icon="icon-download"></md-icon>
                              Download
                            </div>
                          </md-button>
                        </md-menu-item>
                        <md-menu-item>
                          <md-button ng-click="vm.renameAlbum(album)">
                            <div layout="row" flex>
                              <md-icon md-font-icon="icon-rename-box"></md-icon>
                              Rename
                            </div>
                          </md-button>
                        </md-menu-item>
                        <md-menu-item>
                          <md-button ng-click="vm.deleteAlbum(album)">
                            <div layout="row" flex>
                              <md-icon md-font-icon="icon-delete"></md-icon>
                              Delete
                            </div>
                          </md-button>
                        </md-menu-item>
                        <md-menu-item>
                          <md-button ng-click="vm.shareMedia(album, 'album')">
                            <div layout="row" flex>
                              <md-icon md-font-icon="icon-share-variant"></md-icon>
                              Share
                            </div>
                          </md-button>
                        </md-menu-item>
                        <md-menu-item class="menu share_icon">
                          <md-icon md-font-icon="icon-facebook-box cursor-pointer"
                                   ng-click="vm.shareAlbumFacebook(album)"></md-icon>
                          <md-icon md-font-icon="icon-twitter cursor-pointer"
                                   ng-click="vm.shareAlbumTwitter(album)"></md-icon>
                        </md-menu-item>
                      </md-menu-content>
                    </md-menu>

                  </div>
                </div>
              </div>
            </div>

            <div ng-if="vm.photos && !vm.loadingPhotos" ng-repeat="photo in vm.photos" flex="25" flex-xl="20">
              <div class="mr-10 mb-20 square-img less-height">
                <div layout="column" layout-align="space-between stretch" class="hp-100">
                  <div flex>
                    <div class="item-thumb hp-100 po-r">
                      <img ng-src="{{vm.getThumbFromPhoto(photo)}}" alt="poll-small">

                      <div layout="column" class="po-a hp-100 wp-100 image-hover pt-5" layout-align="start stretch">
                        <div layout="row" layout-align="space-between start">
                          <div class="pl-5">
                            <md-checkbox name="select_photo_{{photo.id}}" ng-checked="vm.existsPhoto(photo)"
                                         ng-click="vm.toggleSelect(photo)" aria-label="Select Photo {{photo.id}}"
                                         md-no-ink class="white-checkbox"></md-checkbox>
                          </div>
                          <div layout="row" class="no-mar-child action-btn-media po-r">
                            <md-icon ng-click="vm.editPhoto(photo)"
                                     md-font-icon="icon-pencil grey-A100-fg cursor-pointer"></md-icon>
                            <md-icon md-font-icon="icon-share-variant grey-A100-fg cursor-pointer"></md-icon>
                            <md-icon ng-click="vm.deletePhoto($event, photo)"
                                     md-font-icon="icon-delete grey-A100-fg cursor-pointer"></md-icon>
                            <div class="shared-media po-a" layout="row" layout-wrap layout-align="start center">
                              <md-icon ng-click="vm.shareMedia(photo, 'media');"
                                       md-font-icon="icon-share cursor-pointer"
                                       title="Share To Sochara Contact"></md-icon>
                              <a ng-href="{{vm.site_url}}{{photo.file_dir}}" target="_blank" download="{{photo.name}}"><md-icon md-font-icon="icon-cloud-download"></md-icon></a>
                              <md-icon md-font-icon="icon-google-plus-box cursor-pointer"
                                       ng-click="vm.sharePhotoGoogle(photo.file_dir)"></md-icon>
                              <md-icon ng-if="vm.socialList.indexOf('facebook')>-1" md-font-icon="icon-facebook-box cursor-pointer"
                                       ng-click="vm.sharePhotoFacebook(photo)"></md-icon>
                              <md-icon md-font-icon="icon-linkedin cursor-pointer"
                                       ng-click="vm.sharePhotoLinkedin(photo)"></md-icon>
                              <md-icon md-font-icon="icon-pinterest cursor-pointer"
                                       ng-click="vm.sharePhotoPinterest(photo)"></md-icon>
                              <md-icon ng-if="vm.socialList.indexOf('twitter')>-1" md-font-icon="icon-twitter cursor-pointer"
                                       ng-click="vm.sharePhotoTwitter(photo)"></md-icon>
                              <md-icon md-font-icon="icon-printer cursor-pointer"
                                       ng-click="vm.printThisPhoto(photo.file_dir)"></md-icon>
                            </div>

                          </div>
                        </div>
                        <div class="middle_bar_section" flex layout="column" layout-align="center">
                          <div class="text-center">
                            <md-icon md-font-icon="icon-plus-circle s52 cursor-pointer"
                                     ng-click="vm.imagePreview(photo)"></md-icon>
                          </div>
                        </div>
                        <div class="border-top p-10 title-area">
                          <h3 title="{{photo.name}}"
                              class="no-margin text-truncate text-center font-size-14 grey-A100-fg">{{photo.name}}</h3>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div ng-if="vm.videos && !vm.loadingVideos" ng-repeat="video in vm.videos" flex="25" flex-xl="20">
              <div class="mr-10 mb-20 square-img less-height">
                <div layout="column" layout-align="space-between stretch" class="hp-100">
                  <div flex>
                    <div class="item-thumb hp-100 po-r" hm-doubletap="vm.goToAlbum( album.id )">
                      <img ng-src="{{vm.getThumbFromPhoto(video)}}" alt="poll-small">

                      <div layout="column" class="po-a hp-100 wp-100 image-hover pt-5" layout-align="start stretch">
                        <div layout="row" layout-align="space-between start">
                          <div class="pl-5">
                            <md-checkbox name="select_photo_{{video.id}}" ng-checked="vm.existsPhoto(video)"
                                         ng-click="vm.toggleSelect(video)" aria-label="Select Photo {{photo.id}}"
                                         md-no-ink class="white-checkbox"></md-checkbox>
                          </div>
                          <div layout="row" class="no-mar-child action-btn-media po-r">
                            <md-icon ng-click="vm.editPhoto(photo)"
                                     md-font-icon="icon-pencil grey-A100-fg cursor-pointer"></md-icon>
                            <md-icon md-font-icon="icon-share-variant grey-A100-fg cursor-pointer"></md-icon>
                            <md-icon ng-click="vm.deletePhoto($event, photo)"
                                     md-font-icon="icon-delete grey-A100-fg cursor-pointer"></md-icon>
                            <div class="shared-media po-a" layout="row" layout-wrap layout-align="start center">
                              <md-icon ng-click="vm.shareMedia(photo, 'media');"
                                       md-font-icon="icon-share cursor-pointer"
                                       title="Share To Sochara Contact"></md-icon>
                              <a ng-href="{{vm.site_url}}{{video.file_dir}}" target="_blank" download="{{video.name}}"><md-icon md-font-icon="icon-cloud-download"></md-icon></a>
                              <md-icon md-font-icon="icon-google-plus-box cursor-pointer"
                                       ng-click="vm.sharePhotoGoogle(video.file_dir)"></md-icon>
                              <md-icon md-font-icon="icon-linkedin cursor-pointer"
                                       ng-click="vm.sharePhotoLinkedin(video)"></md-icon>
                            </div>

                          </div>
                        </div>
                        <div class="middle_bar_section" flex layout="column" layout-align="center">
                          <div class="text-center">
                            <md-icon md-font-icon="icon-youtube-play s52 cursor-pointer"
                                     ng-click="vm.videoPreview(video)"></md-icon>
                          </div>
                        </div>
                        <div class="border-top p-10 title-area">
                          <h3 title="{{video.name}}"
                              class="no-margin text-truncate text-center font-size-14 grey-A100-fg">{{video.name}}</h3>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>


          </div>

          <div class="tabs-row">

            <div ng-if="vm.locations" ng-repeat="location in vm.locations">
              <div layout="row" class="location city-name" flex><span
                ng-bind="location.city + ', ' + location.country"></span>
              </div>
              <div layout="row" layout-wrap>
                <div ng-if="vm.locationPhotos" ng-repeat="photo in vm.locationPhotos[location.city]" flex="25"
                     flex-xl="20" flex-md="33" flex-sm="50">
                  <div class="mr-10 mb-20 square-img less-height">
                    <div layout="column" layout-align="space-between stretch" class="hp-100">
                      <div flex>
                        <div class="item-thumb hp-100 po-r">
                          <img ng-src="{{vm.getThumbFromPhoto(photo)}}" alt="poll-small">

                          <div layout="column" class="po-a hp-100 wp-100 image-hover pt-5" layout-align="start stretch">
                            <div layout="row" layout-align="space-between start">
                              <div class="pl-5">
                                <md-checkbox name="select_photo_{{photo.id}}" ng-checked="vm.existsPhoto(photo)"
                                             ng-click="vm.toggleSelect(photo)" aria-label="Select Photo {{photo.id}}"
                                             md-no-ink class="white-checkbox"></md-checkbox>
                              </div>
                              <div layout="row" class="no-mar-child action-btn-media po-r">
                                <md-icon ng-click="vm.editPhoto(photo)"
                                         md-font-icon="icon-pencil grey-A100-fg cursor-pointer"></md-icon>
                                <md-icon md-font-icon="icon-share-variant grey-A100-fg cursor-pointer"></md-icon>
                                <md-icon ng-click="vm.deletePhoto($event, photo)"
                                         md-font-icon="icon-delete grey-A100-fg cursor-pointer"></md-icon>
                                <div class="shared-media po-a" layout="row" layout-wrap layout-align="start center">
                                  <md-icon ng-click="vm.shareMedia(photo, 'media');"
                                           md-font-icon="icon-share cursor-pointer"
                                           title="Share To Sochara Contact"></md-icon>
                                  <a ng-href="{{vm.site_url}}{{photo.file_dir}}" target="_blank" download="{{photo.name}}"><md-icon md-font-icon="icon-cloud-download"></md-icon></a>
                                  <md-icon md-font-icon="icon-google-plus-box cursor-pointer"
                                           ng-click="vm.sharePhotoGoogle(photo.file_dir)"></md-icon>
                                  <md-icon ng-if="vm.socialList.indexOf('facebook')>-1" md-font-icon="icon-facebook cursor-pointer"
                                           ng-click="vm.sharePhotoFacebook(photo)"></md-icon>
                                  <md-icon md-font-icon="icon-linkedin cursor-pointer"
                                           ng-click="vm.sharePhotoLinkedin(photo)"></md-icon>
                                  <md-icon md-font-icon="icon-pinterest cursor-pointer"
                                           ng-click="vm.sharePhotoPinterest(photo)"></md-icon>
                                  <md-icon ng-if="vm.socialList.indexOf('twitter')>-1" md-font-icon="icon-twitter cursor-pointer"
                                           ng-click="vm.sharePhotoTwitter(photo)"></md-icon>
                                  <md-icon md-font-icon="icon-printer cursor-pointer"
                                           ng-click="vm.printThisPhoto(photo.file_dir)"></md-icon>
                                </div>

                              </div>
                            </div>
                            <div class="middle_bar_section" flex layout="column" layout-align="center">
                              <div class="text-center">
                                <md-icon md-font-icon="icon-plus-circle s52 cursor-pointer"
                                         ng-click="vm.imagePreview(photo)"></md-icon>
                              </div>
                            </div>
                            <div class="border-top p-10 title-area">
                              <h3 title="{{photo.name}}"
                                  class="no-margin text-truncate text-center font-size-14 grey-A100-fg">
                                {{photo.name}}</h3>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


      </md-content>
      <!-- / CONTENT -->

      <!--<li class="photo-thumb col-xs-12 col-sm-6 col-md-4 col-lg-3 ng-scope" ng-repeat="photo in allAllPhotoList" ng-click="selectedPhoto($event, photo.id)" href="http://sochara.com:8000/users/files/photo/592e6b1861a53b4c695a8921" data-id="592e6b1861a53b4c695a8921">-->
      <!--<div class="thumbnail photo-albm have-abg" style="background-image: url(http://sochara.com:8000/users/files/photo/thumb/592e6b1861a53b4c695a8921);">-->

      <!--</div>-->
      <!--</li>-->

    </div>
    <!-- / CENTER -->

  </div>
</div>
