<style>
  .smallImage {
    height: 40px;
    width: 40px;
  }

  /*.flex-40 span{
   color: #63e1d3 !important;
  }*/

</style>
<div ng-cloak class="vertical-tab">
  <md-content class="md-whiteframe-2dp">
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Sochara Account">
        <md-content class="md-padding-content bbtm">
          <div layout="row" class="tab-content-heading">
            <div flex>
              <h3 class="tab-content-title">Sochara Account</h3>
            </div>
          </div>
          <div layout="row">
            <div flex="20">
              <span>Sochara Email Account</span>
            </div>
            <div flex="60">
              <p>{{vm.contact.email}}</p>
            </div>
            <div flex="20" class="right">
              <md-icon md-menu-origin="" text-nav ng-click="vm.socharaAccountSettings()">Edit</md-icon>
            </div>
          </div>
          <div layout="row">
            <div flex="20">
              <span>Sochara Account Password</span>
            </div>
            <div flex="60">
              <p>**************</p>
              <p>It's a good idea to use a strong password that you're not using elsewhere</p>
            </div>
            <div flex="20" class="right">
              <md-icon md-menu-origin="" text-nav ng-click="vm.socharaPasswordAccountSettings()">Edit</md-icon>

            </div>
          </div>

        </md-content>
      </md-tab>

      <md-tab label="Social Accounts">
        <md-content class="md-padding-content bbtm">
          <div layout="row" class="tab-content-heading">
            <div flex>
              <h3 class="tab-content-title">Social Accounts</h3>
            </div>
          </div>
          <div layout="row">
            <div flex="20">
              <md-icon md-font-icon="icon-facebook-box"></md-icon>
              <span lvl-icon>Facebook</span>
            </div>
            <div flex="80" npad>
              <div layout="row">
                <div flex="60">
                  <div class="profile-boxed">
                    <div ng-if="!fbAuthorized">
                      <span>You are not authorized yet</span>
                    </div>
                    <div ng-if="fbAuthorized">
                      <div class="profile-avatar" style="float:left;">
                        <img ng-src="{{fbAuthUserPhoto}}" alt="">
                      </div>
                      <div class="profile-content" style="float:left;">You are authorized as
                        <strong>{{fbAccountName}}</strong>
                      </div>
                      <div style="clear: both;"></div>
                    </div>
                  </div>
                </div>
                <div flex="40" class="right">
                  <span ng-if="!fbAuthorized" ng-click="fbAuthModal()" style="cursor: pointer;">Add Authorization</span>
                  <span ng-if="fbAuthorized" ng-click="removeAuthorization();vm.removeFBAuth=true;"
                        style="cursor: pointer;">
                    <img src="/images/spinner_15x15.gif" style="" ng-show="vm.removeFBAuth"/>
                    Remove Authorize</span>
                </div>
              </div>
              <div flex class="fbAuthAreaSwitch" ng-if="fbAuthorized">
                <div class="msg">
                  Sochara uses following Facbook APIs.
                </div>
              <!--  <md-switch ng-model="vm.fbAuthpupostsRtrn" aria-label="Public Posts"
                           ng-change="changePermission(vm.fbAuthpupostsRtrn,'user_posts','fbAuthpupostsRtrnSpin');vm.fbAuthpupostsRtrnSpin=true;">
                  Wall Posts including Public and Private posts<img src="/images/spinner_15x15.gif" style="padding:5px;"
                                                                    ng-show="vm.fbAuthpupostsRtrnSpin"/>
                </md-switch>-->

                <md-switch ng-model="vm.fbAuthpupostsPublish" aria-label="Public Posts"
                           ng-change="changePermission(vm.fbAuthpupostsPublish,'publish_actions','fbAuthpupostsPublishSpin');vm.fbAuthpupostsPublishSpin=true;">
                  Publish Post<img src="/images/spinner_15x15.gif" style="padding:5px;"
                                                                    ng-show="vm.fbAuthpupostsPublishSpin"/>
                </md-switch>
                <md-switch ng-model="vm.fbAuthpupostsRtrn" aria-label="Public Posts"
                           ng-change="changePermission(vm.fbAuthpupostsRtrn,'user_posts','fbAuthpupostsRtrnSpin');vm.fbAuthpupostsRtrnSpin=true;">
                  Wall Posts including Public and Private posts<img src="/images/spinner_15x15.gif" style="padding:5px;"
                                                                    ng-show="vm.fbAuthpupostsRtrnSpin"/>
                </md-switch>
                <md-switch md-no-ink ng-model="vm.fbAuthmusicRtrn" aria-label="Music"
                           ng-change="changePermission(vm.fbAuthmusicRtrn,'user_actions.music','fbAuthmusicRtrnSpin');vm.fbAuthmusicRtrnSpin=true;">
                  Liked Music <img ng-show="vm.fbAuthmusicRtrnSpin" style="padding:5px;"
                                   src="/images/spinner_15x15.gif"/>
                </md-switch>
                <md-switch md-no-ink ng-model="vm.fbAuthmoviesRtrn" aria-label="Movies"
                           ng-change="changePermission(vm.fbAuthmoviesRtrn,'user_actions.video','fbAuthmoviesRtrnSpin');vm.fbAuthmoviesRtrnSpin=true;">
                  Liked Movies <img ng-show="vm.fbAuthmoviesRtrnSpin" style="padding:5px;"
                                    src="/images/spinner_15x15.gif"/>
                </md-switch>
                <md-switch md-no-ink ng-model="vm.fbAuthbookRtrn" aria-label="Books"
                           ng-change="changePermission(vm.fbAuthbookRtrn,'user_actions.books','fbAuthbookRtrnSpin');vm.fbAuthbookRtrnSpin=true;">
                  Liked Books <img ng-show="vm.fbAuthbookRtrnSpin" style="padding:5px;"
                                   src="/images/spinner_15x15.gif"/>
                </md-switch>
              </div>
            </div>
          </div>
          <div layout="row">
            <div flex="20">
              <md-icon md-font-icon="icon-twitter"></md-icon>
              <span lvl-icon>Twitter</span>
            </div>
            <div flex="80" npad>
              <div layout="row">
                <div flex="60">
                  <div class="profile-boxed">
                    <div ng-if="!vm.twitterAuth">
                      <span>You are not authorized yet</span>
                    </div>
                    <div ng-if="vm.twitterAuth">
                      <div class="profile-avatar" style="float:left;">
                        <img ng-src="{{twitterUserImageUrl}}" alt="">
                      </div>
                      <div class="profile-content" style="float:left;">You are authorized as
                        <strong>{{twitterUserScreenName}}</strong>
                      </div>
                      <div style="clear: both;"></div>
                    </div>
                  </div>
                </div>
                <div flex="40" class="right">
                  <span ng-if="!vm.twitterAuth" style="cursor: pointer;" ng-click="twitterOauth()">Add Authorization</span>
                  <span ng-if="vm.twitterAuth" ng-click="" style="cursor: pointer;" ng-click="deAuthorizeTwitterOauth()">Remove Authorize</span>
                </div>
              </div>
            </div>
          </div>
          <div layout="row">
            <div flex="20">
              <md-icon md-font-icon="icon-instagram"></md-icon>
              <span>Instagram</span>
            </div>
            <div flex="80" npad>
              <div layout="row">
                <div flex="60">
                  <div class="profile-boxed">
                    <div ng-if="!instagramAuth">
                      <span>You are not authorized yet</span>
                      <br>
                      <p>By authorizing your Instagram account, we will have access to Public Content of your timeline.
                        Rember
                        we will not store your Instagram data or exchange data to any third party. You can remove
                        authorization at any time. Read our
                        <a href="https://www.sochara.com/privacypolicy/instagram">Privacy policy for Instagram </a> to
                        know more.</p>

                    </div>
                    <div ng-if="instagramAuth">
                      <div class="profile-avatar smallImage" style="float:left;">
                        <img ng-src="{{instagramUserImageUrl}}" alt="">
                      </div>
                      <div class="profile-content" style="float:left;">You are authorized as
                        <strong>{{instagramUserScreenName}}</strong>
                      </div>
                      <div style="clear: both;"></div>
                    </div>
                  </div>
                </div>
                <div flex="40" class="right">
                  <span ng-if="!instagramAuth" style="cursor: pointer;"
                        ng-click="instagramOauth()">Add Authorization</span>
                  <span ng-if="instagramAuth" ng-click="deAuthorizeInstagramOauth()" style="cursor: pointer;">Remove Authorize</span>
                </div>
              </div>
            </div>


          </div>
        </md-content>
      </md-tab>

      <md-tab label="Email Accounts" ng-init="vm.getMailAuthUrl();">
        <md-content class="md-padding-content bbtm">
          <div layout="row" class="tab-content-heading">
            <div flex>
              <h3 class="tab-content-title">Email Accounts</h3>
            </div>
          </div>
          <div layout="row">
            <div flex="20">
              <md-icon md-svg-src="images/mail/gmail.svg"></md-icon>
              <span lvl-email>Gmail</span>
            </div>
            <div flex="80" npad>
              <div layout="row" nbr>
                <div flex="80">
                  <div class="profile-boxed" ng-if="vm.gmailAccounts.length">
                    <div class="profile-content" ng-repeat="account in vm.gmailAccounts | filter : 'gmail'">
                      <span><strong style="display: inline-block" ng-bind="account.name + ' (' + account.email + ')'"></strong> <md-icon md-font-icon="icon-delete" ng-click="vm.removeAccount(account)"></md-icon></span>
                    </div>
                  </div>
                  <div class="no-account" ng-if="!vm.gmailAccounts.length">
                    No Gmail Account integrated yet.
                  </div>
                  <div flex>
                    By Authorizing we will fetch your Gmail data to show those in Sochara Dashboard.
                  </div>
                </div>
                <div flex="20" class="right">
                  <md-button md-no-ink class="md-primary" ng-href="{{vm.gmailAuthUrl}}">Add New</md-button>
                </div>
              </div>
            </div>
          </div>

          <div layout="row">
            <div flex="20">
              <md-icon md-svg-src="images/mail/outlook.svg"></md-icon>
              <span lvl-email>Outlook</span>
            </div>
            <div flex="80" npad>
              <div layout="row" nbr>
                <div flex="80">
                  <div class="profile-boxed" ng-if="vm.outlookAccounts.length">
                    <div class="profile-content" ng-repeat="account in vm.outlookAccounts | filter : 'outlook'">
                      <strong ng-bind="account.name + ' (' + account.email + ')'"></strong>
                    </div>
                  </div>
                  <div class="no-account" ng-if="!vm.outlookAccounts.length">
                    No Outlook Account integrated yet.
                  </div>
                  <div flex>
                    By Authorizing we will fetch your Outlook data to show those in Sochara Dashboard.
                  </div>
                </div>
                <div flex="20" class="right">
                  <md-button md-no-ink class="md-primary" ng-href="{{vm.outlookAuthUrl}}">Add New</md-button>
                </div>
              </div>


            </div>
          </div>


        </md-content>
      </md-tab>

      <md-tab label="Calendars">
        <md-content class="md-padding-content bbtm">
          <div layout="row" class="tab-content-heading">
            <div flex>
              <h3 class="tab-content-title">Calendars</h3>
            </div>
          </div>
          <div layout="row">
            <div flex="20">
              <md-icon md-svg-src="images/mail/gmail.svg"></md-icon>
              <span lvl-email>Gmail</span>
            </div>
            <div flex="80" npad>
              <div layout="row" nbr>
                <div flex="80">
                  <div class="profile-boxed">
                    <div class="profile-avatar">
                      <img src="images/profile/social-avatar.jpg" alt="social-avatar">
                    </div>
                    <div class="profile-content">
                      You are authorized as <strong>admin@sochara.com</strong>
                    </div>
                  </div>
                  <div flex>
                    By Authorizing we will fetch your Gmail data to show those in Sochara Dashboard.
                  </div>
                </div>
                <div flex="20" class="right">
                  Remove Authorize
                </div>
              </div>


            </div>
          </div>

          <div layout="row">
            <div flex="20">
              <md-icon md-svg-src="images/mail/yahoo.svg"></md-icon>
              <span lvl-email>Yahoo</span>
            </div>
            <div flex="80" npad>
              <div layout="row" nbr>
                <div flex="80">
                  You are not authorized yet
                </div>
                <div flex="20" class="right">
                  Remove Authorize
                </div>
              </div>


            </div>
          </div>

          <div layout="row">
            <div flex="20">
              <md-icon md-svg-src="images/mail/outlook.svg"></md-icon>
              <span lvl-email>Outlook</span>
            </div>
            <div flex="80" npad>
              <div layout="row" nbr>
                <div flex="80">
                  You are not authorized yet
                </div>
                <div flex="20" class="right">
                  Remove Authorize
                </div>
              </div>


            </div>
          </div>


        </md-content>
      </md-tab>

    </md-tabs>
  </md-content>
</div>


<div layout="row" layout-wrap style="display:none">

  <div class="timeline" layout="column" flex="100" flex-gt-sm="100" flex-gt-md="100" flex-order="2"
       flex-order-gt-sm="1">

    <div class="form-wrapper md-whiteframe-1dp flex-100" flex="100">
      <div ng-if="!vm.allFields">
        <md-input-container class="md-block">
          <md-icon md-font-icon="icon-account" class="name"></md-icon>
          <input ng-model="vm.contact.first_name" type="text" placeholder="Name" ng-required required>
        </md-input-container>
        <md-input-container class="md-block">
          <md-icon md-font-icon="icon-phone" class="name"></md-icon>
          <input ng-model="vm.contact.phone_main" type="text" placeholder="Phone" ng-required
                 ui-br-phone-number>
        </md-input-container>
        <md-input-container class="md-block">
          <md-icon md-font-icon="icon-email" class="name"></md-icon>
          <input ng-model="vm.contact.email" type="text" placeholder="Email" ng-required>
        </md-input-container>
      </div>

      <div ng-if="!vm.allFields" layout="row" layout-align="center center">
        <md-button class="md-accent" ng-click="vm.allFields = true">Show All Fields
        </md-button>
      </div>

      <div ng-if="vm.allFields">
        <md-input-container class="md-icon-float md-block">
          <label>First Name</label>
          <md-icon md-font-icon="icon-account" class="name"></md-icon>
          <input ng-model="vm.contact.first_name" type="text" ng-required md-autofocus>
        </md-input-container>

        <md-input-container class="md-icon-float md-block">
          <label>Middle Name</label>
          <md-icon></md-icon>
          <input ng-model="vm.contact.middle_name" type="text">
        </md-input-container>

        <md-input-container class="md-icon-float md-block">
          <label>Last name</label>
          <md-icon></md-icon>
          <input ng-model="vm.contact.last_name" type="text">
        </md-input-container>

        <h3 style="padding-top:15px;">
          <md-icon md-font-icon="icon-phone"></md-icon>
          &nbsp;&nbsp;Phone
        </h3>
        <md-input-container class="md-block">
          <md-icon></md-icon>
          <input ng-model="vm.contact.phone_main" type="text" placeholder="Phone number (Main)"
                 ui-br-phone-number>
        </md-input-container>

        <md-input-container class="md-block">
          <md-icon></md-icon>
          <input ng-model="vm.contact.phone_work" type="text" placeholder="Phone number (Work)"
                 ui-br-phone-number>
        </md-input-container>

        <md-input-container class="md-block">
          <md-icon></md-icon>
          <input ng-model="vm.contact.phone_other" type="text" placeholder="Phone number (Other)"
                 ui-br-phone-number>
        </md-input-container>

        <h3 style="padding-top:15px;">
          <md-icon md-font-icon="icon-email"></md-icon>
          &nbsp;&nbsp;Email
        </h3>
        <md-input-container class="md-block">
          <md-icon></md-icon>
          <input ng-model="vm.contact.email" type="email" placeholder="Email (Main)">

        </md-input-container>
        <md-input-container class="md-block">
          <md-icon></md-icon>
          <input ng-model="vm.contact.email_work" type="email" placeholder="Email (Work)">
        </md-input-container>

        <md-input-container class="md-block">
          <md-icon></md-icon>
          <input ng-model="vm.contact.email_other" type="email" placeholder="Email (Other)">
        </md-input-container>

        <md-input-container class="md-block">
          <md-icon md-font-icon="icon-domain"></md-icon>
          <input ng-model="vm.contact.employer" type="text" placeholder="Company">
        </md-input-container>

        <md-input-container class="md-block">
          <md-icon md-font-icon="icon-worker"></md-icon>
          <input ng-model="vm.contact.designation" type="text" placeholder="Job title">
        </md-input-container>

        <md-datepicker ng-init="vm.date_birth = vm.StrToDate(vm.contact.date_birth);" class="birthday-input"
                       ng-model="vm.date_birth" md-placeholder="Birthday" ng-required="false"></md-datepicker>
        <md-datepicker ng-init="vm.date_anniv = vm.StrToDate(vm.contact.date_anniversary);"
                       class="birthday-input" ng-model="vm.date_anniv" md-placeholder="Anniversary"
                       ng-required="false"></md-datepicker>
        <h3 style="padding-top:15px;">
          <md-icon md-font-icon="icon-home"></md-icon>
          &nbsp;&nbsp;Address (Home)
        </h3>
        <div layout="column" layout-gt-xs="row" class="layout-gt-xs-row layout-column"
             style="padding-left:30px;">
          <md-input-container flex="" class="md-default-theme flex">
            <label for="home_address_street">Street</label> <input type="text" name="home_address_street"
                                                                   ng-model="vm.contact.home_address_street"
                                                                   class="ng-pristine ng-untouched ng-valid md-input ng-empty"
                                                                   id="home_address_street"
                                                                   aria-invalid="false">
            <div class="md-errors-spacer"></div>
          </md-input-container>

          <md-input-container flex="" class="md-default-theme flex">
            <label for="home_address_city">City</label> <input type="text" name="home_address_city"
                                                               ng-model="vm.contact.home_address_city"
                                                               class="ng-pristine ng-untouched ng-valid md-input ng-empty"
                                                               id="home_address_city"
                                                               aria-invalid="false">
            <div class="md-errors-spacer"></div>
          </md-input-container>

          <md-input-container flex="" class="md-default-theme flex">
            <label for="home_address_state">State</label> <input type="text" name="home_address_state"
                                                                 ng-model="vm.contact.home_address_state"
                                                                 class="ng-pristine ng-untouched ng-valid md-input ng-empty"
                                                                 id="home_address_state"
                                                                 aria-invalid="false">
            <div class="md-errors-spacer"></div>
          </md-input-container>

        </div>
        <div layout="column" layout-gt-xs="row" class="layout-gt-xs-row layout-column"
             style="padding-left:30px;">
          <md-input-container flex="" class="md-default-theme flex">
            <label for="home_address_postal_code">ZIP</label> <input type="text"
                                                                     name="home_address_postal_code"
                                                                     ng-model="vm.contact.home_address_postal_code"
                                                                     class="ng-pristine ng-untouched ng-valid md-input ng-empty"
                                                                     id="home_address_postal_code"
                                                                     aria-invalid="false">
            <div class="md-errors-spacer"></div>
          </md-input-container>

          <md-input-container flex="" class="md-default-theme flex">
            <label for="home_address_country_region">Region / Country</label> <input type="text"
                                                                                     name="home_address_country_region"
                                                                                     ng-model="vm.contact.home_address_country_region"
                                                                                     class="ng-pristine ng-untouched ng-valid md-input ng-empty"
                                                                                     id="home_address_country_region"
                                                                                     aria-invalid="false">
            <div class="md-errors-spacer"></div>
          </md-input-container>


        </div>
        <h3 style="padding-top:15px;">
          <md-icon md-font-icon="icon-home"></md-icon>
          &nbsp;&nbsp;Address (Work)
        </h3>
        <div layout="column" layout-gt-xs="row" class="layout-gt-xs-row layout-column"
             style="padding-left:30px;">
          <md-input-container flex="" class="md-default-theme flex">
            <label for="work_address_street">Street</label> <input type="text" name="work_address_street"
                                                                   ng-model="vm.contact.work_address_street"
                                                                   class="ng-pristine ng-untouched ng-valid md-input ng-empty"
                                                                   id="work_address_street"
                                                                   aria-invalid="false">
            <div class="md-errors-spacer"></div>
          </md-input-container>

          <md-input-container flex="" class="md-default-theme flex">
            <label for="work_address_city">City</label> <input type="text" name="work_address_city"
                                                               ng-model="vm.contact.work_address_city"
                                                               class="ng-pristine ng-untouched ng-valid md-input ng-empty"
                                                               id="work_address_city"
                                                               aria-invalid="false">
            <div class="md-errors-spacer"></div>
          </md-input-container>

          <md-input-container flex="" class="md-default-theme flex">
            <label for="work_address_state">State</label> <input type="text" name="work_address_state"
                                                                 ng-model="vm.contact.work_address_state"
                                                                 class="ng-pristine ng-untouched ng-valid md-input ng-empty"
                                                                 id="work_address_state"
                                                                 aria-invalid="false">
            <div class="md-errors-spacer"></div>
          </md-input-container>

        </div>
        <div layout="column" layout-gt-xs="row" class="layout-gt-xs-row layout-column"
             style="padding-left:30px;">
          <md-input-container flex="" class="md-default-theme flex">
            <label for="work_address_postal_code">ZIP</label> <input type="text"
                                                                     name="work_address_postal_code"
                                                                     ng-model="vm.contact.work_address_postal_code"
                                                                     class="ng-pristine ng-untouched ng-valid md-input ng-empty"
                                                                     id="work_address_postal_code"
                                                                     aria-invalid="false">
            <div class="md-errors-spacer"></div>
          </md-input-container>

          <md-input-container flex="" class="md-default-theme flex">
            <label for="work_address_country_region">Region / Country</label> <input type="text"
                                                                                     name="work_address_country_region"
                                                                                     ng-model="vm.contact.work_address_country_region"
                                                                                     class="ng-pristine ng-untouched ng-valid md-input ng-empty"
                                                                                     id="work_address_country_region"
                                                                                     aria-invalid="false">
            <div class="md-errors-spacer"></div>
          </md-input-container>


        </div>
        <md-input-container class="md-block">
          <md-icon md-font-icon="icon-note"></md-icon>
          <input ng-model="vm.contact.notes" type="text" placeholder="Notes">
        </md-input-container>


        <div layout="row" layout-align="center center">
          <md-button class="md-accent" ng-click="vm.allFields = false">Fewer Fields
          </md-button>
        </div>

      </div>
      <div layout="row" layout-align="right">
        <md-button class="md-accent md-raised md-hue-1 md-button md-default-theme md-ink-ripple"
                   ng-click="vm.saveProfile()">Save
        </md-button>
      </div>

    </div>
  </div>


</div>

<!--Modal-->
<div id="fbAuthorizeModal" style="display: none;">
  <div ng-contoller="ProfileController as vm">
    <span class="md-title">Facebook Authorization</span>
    <hr>
    By Authorizing we will fetch your following Facebook data to show those in Sochara Dashboard. You can also choose
    what information to be fetched during Authorization.
    <br>
    <br>
    <strong>Select which data to be fetched :</strong>
    <md-switch ng-model="vm.fbAuthPostsPermission" aria-label="Wall Post permission">
      Wall Post permission
    </md-switch>
    <md-switch ng-model="vm.fbAuthposts" aria-label="Public Posts">
      Wall Posts
    </md-switch>
    <md-switch md-no-ink ng-model="vm.fbAuthmusic" aria-label="Music">
      Music
    </md-switch>
    <md-switch md-no-ink ng-model="vm.fbAuthmovies" aria-label="Movies">
      Movies
    </md-switch>
    <md-switch md-no-ink ng-model="vm.fbAuthbook" aria-label="Books">
      Books
    </md-switch>
    <br>
    <button class="md-raised md-accent md-button md-default-theme" ng-click="fbAuthorize()">Authorize
    </button>
  </div>
</div>
