<style>
  .signupJobColor {
    width: 170px;
    height: 70px;
  }
  .jquery-modal.blocker.current {
    z-index: 99;
  }
  md-tab-content{
    min-height:400px;
  }
  table{
    border:1px solid grey;
    width:90%;
  }
  td{
    border:1px solid gainsboro;
    text-align:center;
  }
</style>

<md-dialog class="event-form-dialog" aria-label="New Message">
  <form name="" class="md-inline-form" novalidate>
    <md-toolbar class="md-accent md-hue-2">
      <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
        <span class="title"><md-icon md-font-icon="icon-sync"></md-icon>Swap Requests</span>
        <md-button class="md-icon-button" ng-click="vm.discard()" aria-label="Close dialog">
          <md-icon md-font-icon="icon-close"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content ms-scroll style="height:500px;width:800px;">
      <div>
        <table>
          <tr>
            <td>Event Details</td>
            <td>Volunteer</td>
            <td>Your day requested to swap</td>
            <td>Day you were requested by volunteer</td>
            <td>Action</td>
          </tr>
          <tr ng-repeat="item in vm.swapRequestsWithEventData">
            <td>
              <div layout="row">Event Title:<br>{{item.eventData.title}}</div>
              <div layout="row">Event Repeat:<br>{{item.eventData.isRepeated?'Repeated':'Not repeating Event'}}{{item.eventData.isRepeated?item.eventData.repeat.repeatType:''}}</div>
              <div layout="row">Event Starts:<br>{{vm.dateParser(item.eventData.start)| date:'EEEE, MMMM dd'}}</div>
              <div layout="row">Event Ends:<br>{{vm.dateParser(item.eventData.end)| date:'EEEE, MMMM dd'}}</div>
            </td>
            <td>
              <div layout="row">
              <img ng-src="{{item.swapData.swapRequestFrom.photo_url}}" class="avatar"/>
                &nbsp;{{item.swapData.swapRequestFrom.name}}
              </div>
              <div layout="row">{{item.swapData.swapRequestFrom.email}}</div>
            </td>
            <td>{{vm.dateParser(item.swapData.eventScopeDate) | date: 'EEEE, MMMM dd' }}</td>
            <td>{{vm.dateParser(item.swapData.swapRequestToDate) | date: 'EEEE, MMMM dd' }}</td>
            <td>
              <md-button ng-click="vm.acceptSwapRequest(item.swapData.id)">Accept Request</md-button>
              <md-button ng-click="vm.cancelSwapRequest(item.swapData.id)">Cancel Request</md-button></td>
          </tr>
        </table>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row" layout-align="space-between center">

      <md-button class="" ng-click="vm.discard()" aria-label="Delete" >
        <md-tooltip><span>Cancel</span></md-tooltip>Discard
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
