<md-dialog class="event-form-dialog dialog-big small-font" aria-label="Add Event">
    <md-dialog-heading layout="row" class="layout-row">
      <div flex><h2 ng-bind="vm.eventDetails.dialogTitle"></h2></div>
      <div dialog-btn class="w-300" layout="row" layout-align="space-between center">
        <button class="md-button md-ink-ripple md-default-theme" type="button" ng-click="vm.discard()">
          <md-icon md-font-icon="icon-keyboard-return"
                   class="ng-scope md-font material-icons icon-keyboard-return md-default-theme"
                   aria-hidden="true"></md-icon>
        </button>
        <button class="md-button md-ink-ripple md-default-theme" type="button" ng-click="vm.discard()"><span
         class="ng-scope">Discard</span>
        </button>
        <button ng-if="!vm.eventDetails.id" class="md-button btn-violate md-ink-ripple md-default-theme" type="button" ng-click="vm.saveNewEvent()"><span
         class="ng-scope">Save</span>
        </button>
        <button ng-if="vm.eventDetails.id" class="md-button btn-violate md-ink-ripple md-default-theme" type="button" ng-click="vm.updateEvent()"><span
         class="ng-scope">Update</span>
        </button>
      </div>
    </md-dialog-heading>

    <md-dialog-content style="overflow: hidden" layout="row" layout-align=" stretch">
      <div layout="row" style="max-height: 430px">
        <div flex>
          <md-tabs md-dynamic-height md-no-ink-bar class="label-tab config-tabs compressed">

            <md-tab>
              <md-tab-label>
                <span>Event details</span>
              </md-tab-label>
              <md-tab-body>
                <div class="event-detail pt-10 hp-100" ms-scroll>
                  <md-input-container class="md-block sm-input">
                    <label>Title</label>
                    <input class="fs-17" ng-model="vm.eventDetails.title">
                  </md-input-container>

                  <div layout="row" layout-align=" start" class="nopad">
                    <label class="w-120 mr-15">

                      <span class="fs-15">Start Date</span>
                      <md-datepicker class="dp-noborder start_event" ng-model="vm.eventDetails.start"
                                     md-hide-icons="all" md-is-open="vm.isOpenEventDatePicker" md-open-on-focus ng-change="vm.changeOnEventStartDate($event);"></md-datepicker>
                    </label>
                    <label class="w-120 mr-15" ng-if="!vm.eventDetails.allDay">
                      <span class="fs-15">Start Time</span>
                      <md-autocomplete md-selected-item="vm.eventStartTime" md-search-text="vm.startTimeSearch" md-selected-item-change="vm.selectedStartTimeChange(time)" md-items="time in vm.searchTime(vm.startTimeSearch);" md-item-text="time.name" md-min-length="0"
                                        placeholder="Start Time" class="calendar_time_search">
                        <md-item-template>
                          <span md-highlight-text="vm.startTimeSearch" md-highlight-flags="^i">{{time.name}}</span>
                        </md-item-template>
                      </md-autocomplete>
                    </label>
                    <label class="pt-10 mt-15  mr-15">to</label>
                    <label class="w-120 mr-15">

                      <span class="fs-15">End Date</span>
                      <md-datepicker class="dp-noborder end_event" ng-model="vm.eventDetails.end" md-min-date="vm.eventDetails.start" md-hide-icons="all" md-is-open="vm.isOpenEventDatePickerEnd" md-open-on-focus></md-datepicker>

                    </label>
                    <label class="w-120 mr-15" ng-if="!vm.eventDetails.allDay">
                      <span>End Time</span>
                        <md-autocomplete md-selected-item="vm.eventEndTime" md-search-text="vm.endTimeSearch" md-selected-item-change="vm.selectedEndTimeChange(time)" md-items="time in vm.searchTimeEnd(vm.endTimeSearch);" md-item-text="time.name" md-min-length="0"
                                       placeholder="End Time" class="calendar_time_search">
                        <md-item-template>
                          <span md-highlight-text="vm.endTimeSearch" md-highlight-flags="^i">{{time.name}}</span>
                        </md-item-template>
                      </md-autocomplete>
                    </label>
                  </div>

                  <div layout="row" layout-align="start center" class="pad-child">
                    <label layout="row" layout-align="start center">
                      <input type="checkbox" ng-model="vm.eventDetails.allDay"> All Day
                    </label>
                    <label layout="row" layout-align="start center">
                      <input type="checkbox" ng-model="vm.eventDetails.isRepeated"> Repeat
                    </label>

                  </div>
                  <div id="editRepeatSettings" ng-show="vm.eventDetails.isRepeated">
                    <div layout="row" layout-align="start start">
                      <label class="w-160 pr-20" align="right">Repeat:</label>
                      <div flex>
                        <select ng-model="vm.eventDetails.repeat.type">
                          <option value="daily">Daily</option>
                          <option value="weekly">Weekly</option>
                          <option value="monthly">Monthly</option>
                          <option value="yearly">Yearly</option>
                        </select>
                      </div>
                    </div>
                    <div layout="row" layout-align="start start">
                      <label class="w-160 pr-20" align="right">Repeat Every:</label>
                      <div flex>
                        <input type="number" ng-model="vm.eventDetails.repeat.interval">
                      </div>
                    </div>
                    <div layout="row" layout-align="start start" ng-if="vm.eventDetails.repeat.type ==='weekly'">
                      <label class="w-160 pr-20" align="right">Repeat on:</label>
                      <div class="nopad-child tt-capital va-bottom">
                        <label ng-repeat="day in vm.eventWeekDays"><input type="checkbox" ng-click="vm.toogleRepeatDaySelection(day.id)" ng-checked="vm.eventDetails.repeat.days.includes(day.id)"> {{day.name}}</label>
                        <br>
                        <label><input type="checkbox" ng-model="vm.eventDetails.repeat.weekOnly" ng-click="vm.setWeekDaysOnly()"> Weekdays only</label>
                      </div>
                    </div><!--row-->

                    <div layout="row" layout-align="start start">
                      <label class="w-160 pr-20" align="right">Starts on:</label>
                      <div ng-bind="vm.eventDetails.start"></div>
                    </div><!--row-->
                    <div layout="row" layout-align="start start">
                      <label class="w-160 pr-20" align="right">Ends:</label>
                      <div class="inline" layout="column" layout-align="stretch" flex="">
                        <div><label><input type="radio" name="event_repeat_end" ng-click="vm.setEventRepeatEnds('never')" ng-checked="vm.eventDetails.repeat.end.never"> Never</label></div>
                        <div layout="row" layout-align="start center" class="nopad">
                          <label>
                            <input type="radio" name="event_repeat_end" ng-click="vm.setEventRepeatEnds('on')" ng-checked="vm.eventDetails.repeat.end.on"> On</label>
                          <md-datepicker class="dp-noborder w-100" ng-model="vm.eventDetails.repeat.end.onDate" md-hide-icons="all" md-open-on-focus></md-datepicker>
                        </div>
                        <div><label><input type="radio" name="event_repeat_end" ng-click="vm.setEventRepeatEnds('after')" ng-checked="vm.eventDetails.repeat.end.after"> After
                          <input
                            type="number" ng-model="vm.eventDetails.repeat.end.afterValue" min="1" max="30"> Occurance</label>
                        </div>
                      </div>

                    </div><!--row-->

                  </div>

                  <md-divider class="mt-15"></md-divider>
                  <div layout="row" layout-align="start start">
                    <span class="w-120">Description</span>
                    <textarea class="noresize height-95" flex placeholder="Enter Description"
                              ng-model="vm.eventDetails.description"></textarea>
                  </div>
                  <div layout="row" layout-align="start center">
                    <span class="w-120">Location</span>
                    <input id="getLocationByGoogle" flex type="text" placeholder="Enter a location" ng-model="vm.eventDetails.place">
                  </div>

                  <div layout="row">
                    <span class="w-120">Background color</span>
                    <div class="color-select" flex>
                      <md-button class="md-icon-button def" ng-click="vm.eventDetails.color.textColor=''">
                        <md-icon md-font-icon="icon-close-circle-outline"></md-icon>
                      </md-button>
                      |
                      <md-button ng-repeat="clr in vm.colorItemArr"
                                 class="md-icon-button {{clr}} {{vm.eventDetails.color.textColor===clr?'check':''}}"
                                 ng-click="vm.eventDetails.color.textColor=clr">
                        <md-icon></md-icon>
                      </md-button>

                    </div>
                  </div>
                  <div layout="row">
                    <span class="w-120">Event color</span>
                    <div class="color-select" flex>
                      <md-button class="md-icon-button def" ng-click="vm.eventDetails.color.eventColor=''">
                        <md-icon md-font-icon="icon-close-circle-outline"></md-icon>
                      </md-button>
                      |
                      <md-button ng-repeat="clr in vm.colorItemArr"
                                 class="md-icon-button {{clr}} {{vm.eventDetails.color.eventColor===clr?'check':''}}"
                                 ng-click="vm.eventDetails.color.eventColor=clr">
                        <md-icon></md-icon>
                      </md-button>
                    </div>

                  </div>
                  <div layout="row" layout-align="space-between start" class="btn-group-2">
                    <span class="w-120">Reminder</span>
                    <div flex>
                      <div layout="row" ng-repeat="item in vm.eventDetails.reminder | filter: {user: vm.user.id} track by $index">
                        <select class="w-120" ng-model="item.type">
                          <option value="notification">Notification</option>
                          <option value="email">By Email</option>
                        </select>
                        <input type="number" value="30" min="0" max="30" class="w-80" ng-model="item.duration">
                        <select class="w-120" ng-model="item.format">
                          <option value="minutes">Minutes</option>
                          <option value="hours">Hours</option>
                        </select>
                        <md-button class="md-icon-button"
                                   ng-click="vm.eventDetails.reminder.splice($index, 1)">
                          <md-icon md-font-icon="icon-close"></md-icon>
                        </md-button>
                      </div>

                      <md-button class="btn-add-more line-height-16 mt-10 h-20 ml-0" ng-click="vm.eventDetails.reminder.push({type: 'notification', duration: 30, format: 'minutes', user: vm.user.id})">+ {{vm.eventDetails.reminder && vm.eventDetails.reminder.length ? 'Add another reminder' : 'Add a reminder'}}</md-button>
                    </div>
                  </div>

                  <div layout="row" layout-align="start center">
                    <span class="w-120">Show me as</span>
                    <div layout="row">
                      <label class="pr-10"><input type="radio" ng-model="vm.eventDetails.showMeAs" value="available"> Available</label>
                      <label class="pr-10"><input type="radio" ng-model="vm.eventDetails.showMeAs" value="busy"> Busy</label>
                      <label class="pr-10"><input type="radio" ng-model="vm.eventDetails.showMeAs" value="tentative"> Tentative</label>
                    </div>
                  </div>

                </div>
              </md-tab-body>
            </md-tab>

            <md-tab>
              <md-tab-label>
                <span>Include Signup</span>
              </md-tab-label>
              <md-tab-body>
                <div class="event-detail hp-100" ms-scroll>

                  <div layout="column" class="include-items">
                    <div layout="row" layout-align="start" class="incl-row-item">
                      <div class="w-140 fs-15">Job / Role / Item</div>
                      <div class="w-70 fs-15">Needed</div>
                      <div class="w-105 fs-15">Start</div>
                      <div flex="5"></div>
                      <div class="w-105 fs-15">End</div>
                    </div><!--row-->
                  </div>
                  <div layout="column" class="include-items itemrow">
                    <div layout="row" layout-align="space-between center"
                         ng-repeat="item in vm.eventDetails.signup track by $index" class="incl-row-item">

                      <div layout="row" class="w-140" ng-if="vm.newEventSignupJobs.length">
                        <select ng-model="item.job" flex>
                          <option ng-repeat="item in vm.newEventSignupJobs track by $index" value="{{item}}">{{item}}
                          </option>
                        </select>
                        <div class="po-r">
                          <md-icon md-font-icon="icon-plus"
                                   ng-click="vm.addSignJobArea[$index]=!vm.addSignJobArea[$index]"></md-icon>
                          <div ng-show="vm.addSignJobArea[$index]" class="timepop sub-add w-130" layout="row"
                               layout-align="space-around stretch">
                            <input class="w-90" ng-model="vm.newSignupJobValue"/>
                            <button
                             ng-click="vm.newEventSignupJobs.push(vm.newSignupJobValue);item.job=vm.newSignupJobValue;vm.addSignJobArea[$index]=false;">
                              Add
                            </button>
                          </div>
                        </div>
                      </div>
                      <div layout="row" class="w-140" ng-if="!vm.newEventSignupJobs.length">
                        <input type="text" ng-model="item.job"/>
                      </div>
                      <div class="w-70">
                        <input type="number" class="w-70" value="30" ng-model="item.needed">
                      </div>

                      <mdp-time-picker class="calendar_style w-105" mdp-auto-switch="true"
                                       ng-model="item.start"></mdp-time-picker>
                      <label flex="5" align="center">to</label>

                      <mdp-time-picker class="calendar_style w-105" mdp-auto-switch="true"
                                       ng-model="item.end"></mdp-time-picker>

                      <div class="po-r" layout="row" flex layout-align="center center">
                        <md-button class="md-icon-button sm-button" style="background-color:{{vm.jobColorSelector(item)}}"
                                   ng-click="vm.showSignupJobColorSelector[$index]=!vm.showSignupJobColorSelector[$index]">
                          <md-icon md-font-icon="icon-menu-down"></md-icon>
                        </md-button>
                        <div ng-show="vm.showSignupJobColorSelector[$index]" class="timepop" layout="row"
                             layout-align="space-around stretch">
                          <div class="color-select signupJobColor">

                            <md-button ng-repeat="clr in vm.colorItemArr"
                                       class="md-icon-button {{clr}} {{item.color===clr?'check':''}}"
                                       ng-click="item.color=clr;vm.showSignupJobColorSelector=false">
                              <md-icon></md-icon>
                            </md-button>

                          </div>
                        </div>
                        <span>|</span>
                        <md-button class="md-icon-button sm-button"
                                   ng-click="vm.eventDetails.signup.length===1?'':vm.eventDetails.signup.splice($index,1)">
                          <md-icon class="icon-close"></md-icon>
                        </md-button>
                      </div><!--row-->
                    </div><!--row-->

                    <div>
                      <md-button class="btn-add-more line-height-16 mt-10 h-20 ml-0"
                                 ng-click="vm.newSignupEntry();">
                        + Add another Item
                      </md-button>
                    </div>
                  </div><!--column-->


                  <md-divider class="mt-15 mb-15"></md-divider>

                  <div id="includeSignupRepeat">
                    <div layout="row" layout-align="start start">
                      <label class="w-80 fs-17" align="left">Repeat:</label>
                      <div flex>
                        <label><input type="checkbox" ng-model="vm.eventDetails.isSignupRepeatWithEvent"> Repeat With Event</label>
                      </div>
                    </div>
                    <div layout="row" layout-align="start start">
                      <label class="w-160 pr-20" align="right"><input type="checkbox" ng-model="vm.eventDetails.isSignupRepeat"> Repeat:</label>
                      <div flex ng-if="vm.eventDetails.isSignupRepeat">
                        <select ng-model="vm.eventDetails.signupRepeat.type">
                          <option value="daily">Daily</option>
                          <option value="weekly">Weekly</option>
                          <option value="monthly">Monthly</option>
                          <option value="yearly">Yearly</option>
                        </select>
                      </div>
                    </div>
                    <div ng-if="vm.eventDetails.isSignupRepeat">
                      <div layout="row" layout-align="start start" ng-if="vm.eventDetails.signupRepeat.type ==='weekly'">
                        <label class="w-160 pr-20" align="right">Repeat on:</label>
                        <div class="nopad-child tt-capital va-bottom">
                          <label ng-repeat="day in vm.eventWeekDays"><input type="checkbox" ng-click="vm.toogleRepeatDaySelection(day.id)" ng-checked="vm.eventDetails.repeat.days.includes(day.id)"> {{day.name}}</label>
                          <br>
                          <label><input type="checkbox" ng-model="vm.eventDetails.signupRepeat.weekOnly" ng-click="vm.setSignupWeekDaysOnly()"> Weekdays only</label>
                        </div>
                      </div><!--row-->
                      <div layout="row" layout-align="start start">
                        <label class="w-160  pr-20" align="right">Repeat Every:</label>
                        <div flex>
                          <input type="number" ng-model="vm.eventDetails.signupRepeat.interval">
                        </div>
                      </div>

                      <div layout="row" layout-align="start start">
                        <label class="w-160 pr-20" align="right">Starts on:</label>
                        <div ng-bind="vm.eventDetails.start"></div>
                      </div><!--row-->
                      <div layout="row" layout-align="start start">
                        <label class="w-160 pr-20" align="right">Ends:</label>
                        <div class="inline" layout="column" layout-align="stretch" flex="">
                          <div><label><input type="radio" name="signup_repeat_end" ng-click="vm.setEventSignupRepeatEnds('never')" ng-checked="vm.eventDetails.signupRepeat.end.never"> Never</label></div>
                          <div layout="row" layout-align="start center" class="nopad">
                            <label>
                              <input type="radio" name="signup_repeat_end" ng-click="vm.setEventSignupRepeatEnds('on')" ng-checked="vm.eventDetails.signupRepeat.end.on"> On</label>
                            <md-datepicker class="dp-noborder w-100" ng-model="vm.eventDetails.signupRepeat.end.onDate" md-hide-icons="all" md-open-on-focus></md-datepicker>
                          </div>
                          <div><label><input type="radio" name="signup_repeat_end" ng-click="vm.setEventSignupRepeatEnds('after')" ng-checked="vm.eventDetails.signupRepeat.end.after"> After
                            <input
                              type="number" ng-model="vm.eventDetails.signupRepeat.end.afterValue" min="1" max="30"> Occurance</label>
                          </div>
                          <md-divider class="mt-15"></md-divider>
                        </div>

                      </div><!--row-->
                    </div>

                    <div layout="row" layout-align="start start">
                      <label class="w-160 pt-6 pr-20" align="right"><input type="checkbox" ng-model="vm.eventDetails.isSignupReminder"> Reminders:</label>
                      <div class="inline" flex="">
                        <div layout="row" layout-align="space-between center" ng-repeat="reminder in vm.eventDetails.signupReminder">
                          <label class="miw-160">{{reminder.name}} Reminder:</label>
                          <input type="number" ng-model="reminder.value" class="w-70">
                          <select ng-model="reminder.type">
                            <option ng-repeat="type in vm.signupReminderTypes" value="{{type}}">{{type}}</option>
                          </select>
                          <md-switch class="m-0" ng-model="reminder.yes"></md-switch>
                        </div>
                        <md-divider class="mt-10"></md-divider>

                      </div>

                    </div><!--row-->
                    <div layout="row" layout-align="start start">
                      <label class="w-160 pt-6 pr-20" align="right"><input type="checkbox" ng-model="vm.eventDetails.isNAndP"> Notifications &
                        Permissions:</label>
                      <div class="inline" flex="">
                        <div class="pr-20">
                          <md-switch ng-model="vm.eventDetails.nAndP.newEventNotifyEdit" aria-label="Notify me when edit occurs" layout="row" layout-align="space-between" flex md-invert class="m-0 md-teal"> Notify me when edit occurs
                          </md-switch>
                        </div>
                        <!--<div class="pr-20">-->
                          <!--<md-switch layout="row" layout-align="space-between" flex md-invert class="m-0 md-teal">-->
                            <!--Notify me Whene an editors-->
                          <!--</md-switch>-->
                        <!--</div>-->
                        <div class="pr-20">
                          <md-switch ng-model="vm.eventDetails.nAndP.newEventNotifySwap" aria-label="Notify me swap occurs" layout="row" layout-align="space-between" flex md-invert class="m-0 md-teal"> Notify me swap occurs
                          </md-switch>
                        </div>
                        <div class="pr-20">
                          <md-switch ng-model="vm.eventDetails.nAndP.newEventPermissionCoEdit" aria-label="Allow Coordinators to edit" layout="row" layout-align="space-between" flex md-invert class="m-0 md-teal">
                            Allow Coordinators to edit
                          </md-switch>
                        </div>
                        <div class="pr-20">
                          <md-switch ng-model="vm.eventDetails.nAndP.newEventPermissionUserSwap" aria-label="Allow Users to swap" layout="row" layout-align="space-between" flex md-invert class="m-0 md-teal">
                            Allow Users to swap
                          </md-switch>
                        </div>
                        <div class="pr-20">
                          <md-switch ng-model="vm.eventDetails.nAndP.newEventPermissionLimitSignup" aria-label="Limit Signup" layout="row" layout-align="space-between" flex md-invert class="m-0 md-teal">Limit Signup
                          </md-switch>
                        </div>
                        <div class="pr-20">
                          <md-switch ng-model="vm.eventDetails.nAndP.newEventPermissionRequiredInfo" aria-label="Required Information" layout="row" layout-align="space-between" flex md-invert class="m-0 md-teal">Required
                            Information
                          </md-switch>
                        </div>
                      </div>

                    </div><!--row-->
                    <!--<div layout="row" layout-align="start start" class="margin-top-5">-->
                      <!--<label class="w-160 padding-top-10">&nbsp;</label>-->
                      <!--<div class="btn-gr-left">-->
                        <!--<md-button class="btn-basic btn-small">Cancel</md-button>-->
                        <!--<md-button class="btn-violate btn-small">Done</md-button>-->
                      <!--</div>-->
                    <!--</div>-->


                  </div>
                </div>
              </md-tab-body>
            </md-tab>
            <md-tab>
              <md-tab-label>
                <span>Include Page</span>
              </md-tab-label>
              <md-tab-body>
                <div class="event-detail hp-100" ms-scroll>
                  <h2>Coming soon...</h2>
                </div><!--row-->
              </md-tab-body>
            </md-tab>
          </md-tabs>

        </div>
        <div class="cal-dialog-side" ms-scroll>
          <div class="fixed-side-head"></div>
          <div class="dialog-sidewrap" ms-scroll>

            <label>
              People ({{vm.contacts.length}})
              <md-autocomplete
               md-input-id="searchPeople"
               md-selected-item="vm.selectedItem"
               md-search-text="vm.searchText"
               md-no-cache = true
               md-items="item in vm.querySearch(vm.searchText)"
               md-selected-item-change="vm.selectedItemChange(item)"
               md-item-text="item.display"
               md-min-length="0"
               placeholder="Search people">
                <md-item-template>
                  <div class="avatar-wrapper avail-status">
                    <img md-menu-align-target="" class="avatar" ng-src="{{item.image}}" err-src="images/avatars/blank.jpg" alt="{{item.display}}">
                    <span md-highlight-text="vm.searchText" md-highlight-flags="^i">{{item.display}}</span>
                  </div>
                </md-item-template>
                <md-not-found>
                  <span ng-if="vm.searchText" ng-click="vm.addNewContacts(vm.searchText);">Add "{{vm.searchText}}" as Contact</span>
                </md-not-found>
              </md-autocomplete>
            </label>
            <br>


            <div class="cal-list-user">
              <h3>
                <md-icon md-font-icon="icon-account"></md-icon>
                <span class="fs-15">Attendees ({{vm.eventDetails.attendees.length}})</span>
              </h3>

              <div layout="row" class="list-item" ng-repeat="item in vm.eventDetails.attendees track by $index">
                <md-button class="close-btn md-icon-button" ng-show="item.role !=='organizer'">
                  <md-tooltip>Close</md-tooltip>
                  <md-icon md-font-icon="icon-close s20" ng-click="vm.eventDetails.attendees.splice($index,1)"></md-icon>
                </md-button>
                <div class="avatar-wrapper avail-status online">
                  <img md-menu-align-target="" class="avatar" ng-src="{{ item.photo_url || 'images/avatars/profile.jpg' }}" err-src="images/avatars/blank.jpg">
                  <md-button class="md-icon-button" aria-label="More" ng-if="item.role!=='organizer'">
                    <md-tooltip>Response: Pending</md-tooltip>
                  </md-button>
                  <md-button class="md-icon-button" aria-label="More" ng-if="item.role==='organizer'">
                    <md-tooltip>Response: {{vm.eventDetails.showMeAs}}</md-tooltip>
                  </md-button>
                </div>
                <div class="cal-user-content" flex>
                  <p title="{{item.name}}">{{item.name}}</p>
                  <div layout="row" ng-if="item.role=='organizer'">
                    <span>{{item.role}}</span>
                  </div>
                  <div layout="row" ng-if="item.role!=='organizer'">
                    <md-select ng-model="item.role" ng-init="item.role='volunteer'">
                      <md-option value="coordinator">coordinator</md-option>
                      <md-option value="volunteer">volunteer</md-option>
                    </md-select>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>
    </md-dialog-content>
</md-dialog>





<script>

  loadExtarnalJavascript();
  function loadExtarnalJavascript() {
    var tag = document.createElement("script");
    tag.src = "https://maps.googleapis.com/maps/api/js?key=AIzaSyATOdXYksI4va9Xc9S7aN7S3o_CVDo1W58&libraries=places&callback=initAutocompleteForLocation";
    document.getElementsByTagName("head")[0].appendChild(tag);
  }
  function initAutocompleteForLocation() {
    new google.maps.places.Autocomplete(document.getElementById('getLocationByGoogle'), {types: ['geocode']});
  }

</script>
