<style>
  .signupJobColor {
    width: 170px;
    height: 70px;
  }

  .jquery-modal.blocker.current {
    z-index: 99;
  }

  md-tab-content {
    min-height: 400px;
  }

  table {
    border: 1px solid grey;
  }

  td {
    border: 1px solid gainsboro;
    text-align: center;
  }
</style>
<md-dialog class="event-form-dialog dialog-big" aria-label="New Message">
  <form name="eventForm" class="md-inline-form" novalidate>
    <md-dialog-heading layout="row" class="layout-row" style="">
      Signup Swap
    </md-dialog-heading>

    <md-dialog-content ms-scroll>
      Available Volunteers in this Event Occurrence
      <div layout="row">
        <div layout="column" flex="20">Request User</div>
        <div layout="column" flex="20">Your Date Requested to swap</div>
        <div layout="column" flex="20">Date to swap with</div>
        <div layout="column" flex="20">Accept</div>
        <div layout="column" flex="20">See Dates when this requested user available</div>
      </div>
      <div layout="row" ng-repeat="item in vm.swapRequests">

        <div layout="column" flex="20">
          <div layout="row">
            <div layout="column">
              <img src="{{item.swapRequestFrom.photo_url}}" class="avatar"/>
            </div>
            <div layout="column" ng-bind="item.swapRequestFrom.name">
            </div>
            <div layout="column" ng-bind="item.swapRequestFrom.email">
            </div>
          </div>
        </div>
        <div layout="column" flex="20" ng-bind="vm.dateParser(item.eventScopeDate) |date: 'EEEE, MMMM dd'">
        </div>
        <div layout="column" flex="20" ng-bind="vm.dateParser(item.swapRequestToDate) |date: 'EEEE, MMMM dd'">
        </div>
        <div layout="column" flex="20">
          <md-button ng-click="vm.acceptSwapRequest(item.id)">Accept</md-button>
        </div>
        <div layout="column" flex="20">
          <md-button ng-click="vm.seeOtherSwapRequest(item.id)">See Other</md-button>
        </div>
      </div>


    </md-dialog-content>
  </form>
</md-dialog>
