<style>
  .signupJobColor {
    width: 170px;
    height: 70px;
  }
  .jquery-modal.blocker.current {
    z-index: 99;
  }
  md-tab-content{
    min-height:400px;
  }
  table{
    border:1px solid grey;
    width:90%;
  }
  td{
    border:1px solid gainsboro;
    text-align:center;
  }
</style>

<md-dialog class="event-form-dialog" aria-label="New Message">
  <form name="" class="md-inline-form" novalidate>
    <md-toolbar class="md-accent md-hue-2">
      <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
        <span class="title"><md-icon md-font-icon="icon-sync"></md-icon>Swap Events with other volunteer</span>
        <md-button class="md-icon-button" ng-click="vm.discard()" aria-label="Close dialog" translate
                   translate-attr-aria-label="CALENDAR.CLOSE_DIALOG">
          <md-icon md-font-icon="icon-close"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content ms-scroll style="height:500px;width:800px;">
      <div  ng-if="vm.checkIfAlreadyRequestedSwap()===true">
        <span>You have already made a swap request</span>
        <table>
          <tr>
            <td>Volunteer</td>
            <td>Your day requested to swap</td>
            <td>Action</td>
          </tr>
          <tr>
            <td><img ng-src="{{vm.swapRequestedAttendee.swapRequestTo.photo_url}}" class="avatar" err-src="images/avatars/blank.jpg"/>
            &nbsp;{{vm.swapRequestedAttendee.swapRequestTo.name}}
            <br>{{vm.swapRequestedAttendee.swapRequestTo.email}}
            </td>
            <td>{{vm.dateParser(vm.swapRequestedAttendee.swapRequestToDate) | date: 'EEEE, MMMM dd' }}</td>
            <td><md-button ng-click="vm.cancelSwapRequest(vm.swapRequestedAttendee.id)">Cancel Request</md-button></td>
          </tr>
        </table>
      </div>
      <div ng-if="vm.checkIfAlreadyRequestedSwap()===false">
        <table>
          <thead>
          <tr>
            <td>Volunteer</td>
            <td>Swap With Your Occurrence</td>
            <td>Swap</td>
          </tr>
          </thead>
          <tbody>
          <tr  ng-repeat="item in vm.volunteerInThisOccurrence" ng-if="item.userId !== vm.user.id">
            <td><div>
              <div><img class="avatar" ng-src="{{item.photo_url}}"/></div>
              <div ng-bind="item.name"></div><br>
              <div ng-bind="item.email"></div>
            </div> </td>
            <td>
              <span ng-if="!vm.myAllOccurrencesInThisEvent.length">You have no other day contribution</span>
              <select ng-model="vm.swapWithThisUer.selectedDate" ng-if="vm.myAllOccurrencesInThisEvent.length">
              <option ng-repeat="d in vm.myAllOccurrencesInThisEvent" value="{{d}}" ng-init="vm.myAllOccurrencesInThisEvent = vm.removeSelfDateSwap(vm.myAllOccurrencesInThisEvent, item.eventScopeDate)">{{vm.dateParser(d) | date: 'EEEE, MMMM dd' }}</option>
            </select></td>
            <td>
              <span hidden>
                 <span>Already Requested</span><br><md-button ng-click="vm.cancelSwapRequest()">Cancel Request</md-button>
              </span>
              <span>
                 <md-button ng-click="vm.swapRequest(item, vm.swapWithThisUer.selectedDate)" ng-disabled="!vm.myAllOccurrencesInThisEvent.length">Request</md-button>
              </span>
            </td>

          </tr>
          </tbody>
        </table>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row" layout-align="space-between center">

      <md-button class="" ng-click="vm.discard()" aria-label="Delete" >
        <md-tooltip><span>Cancel</span></md-tooltip>Discard
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
