<style>
  .signupJobColor {
    width: 170px;
    height: 70px;
  }

  .jquery-modal.blocker.current {
    z-index: 99;
  }
  md-tab-content {
    min-height: 400px;
    width: 100%
  }

  .md-datepicker-button {
    display: none !important;;
  }

  md-datepicker {
    border: none !important;;
  }

  .md-datepicker-input-container {
    border: 1px solid gainsboro !important;
    height: 30px !important;;
  }
</style>
<md-dialog class="event-form-dialog dialog-big" aria-label="New Message">
  <form name="eventForm" class="md-inline-form" novalidate>
    <md-dialog-heading layout="row" class="layout-row" style="">
      <div flex="60" class="flex-60"><h2>Update Event</h2>
      </div>
      <div flex="40" right="" dialog-btn="" class="flex-40">
        <button class="md-button md-ink-ripple md-default-theme" type="button">
          <md-icon md-font-icon="icon-keyboard-return"
                   class="ng-scope md-font material-icons icon-keyboard-return md-default-theme"
                   aria-hidden="true"></md-icon>
        </button>
        <button class="md-button md-ink-ripple md-default-theme" type="button"><span class="ng-scope">Discard</span>
        </button>
        <button class="md-button md-ink-ripple md-default-theme" type="button" ng-click="vm.updateNewEvent()"><span
          class="ng-scope">Save</span>
        </button>
      </div>
    </md-dialog-heading>

    <md-dialog-content ms-scroll>
      <div layout="row">
        <div flex>
          <md-tabs md-dynamic-height md-no-ink-bar class="label-tab config-tabs compressed">
            <md-tab>
              <md-tab-label>
                <span>Include Signup</span>
              </md-tab-label>
              <md-tab-body>
                <input type="checkbox" ng-model="vm.eventEditData.isSignupChecked"/> Include Signup
                <div ng-show="vm.eventEditData.isSignupChecked">
                  <div layout="column" class="include-items">
                    <div layout="row" layout-align="space-between center"
                         ng-repeat="item in vm.updateEventSignupArray track by $index">
                      <div>
                        <select ng-model="item.job">
                          <option ng-repeat="item in vm.updateEventSignupJobs track by $index" value="{{item}}">{{item}}
                          </option>
                        </select>
                      </div>
                      <div class="timepeaker" layout="row" flex>
                        <md-icon md-font-icon="icon-plus"
                                 ng-click="vm.addSignJobArea[$index]=!vm.addSignJobArea[$index]"></md-icon>
                        <div ng-show="vm.addSignJobArea[$index]" class="timepop" layout="row"
                             layout-align="space-around stretch">
                          <input ng-model="vm.newSignupJobValue"/>
                          <button
                            ng-click="vm.updateEventSignupJobs.push(vm.newSignupJobValue);item.job=vm.newSignupJobValue">
                            Add
                          </button>
                        </div>
                      </div>
                      <div>
                        <input type="number" value="30" ng-model="item.needed">
                      </div>
                      <mahdi-time-picker ng-model="item.start" init-date="item.start"></mahdi-time-picker>
                      <label>to</label>
                      <mahdi-time-picker ng-model="item.end" init-date="item.end"></mahdi-time-picker>

                      <div class="timepeaker" layout="row" flex>
                        <md-icon md-font-icon="icon-play" style="background-color:{{vm.jobColorSelector(item)}}"
                                 ng-init="!item.color?item.color='c1':''"
                                 ng-click="vm.showSignupJobColorSelector[$index]=!vm.showSignupJobColorSelector[$index]"></md-icon>
                        <div ng-show="vm.showSignupJobColorSelector[$index]" class="timepop" layout="row"
                             layout-align="space-around stretch">
                          <div class="color-select signupJobColor">

                            <md-button class="md-icon-button c1 {{item.color==='c1'?'check':''}}"
                                       ng-click="item.color='c1'">
                              <md-icon></md-icon>
                            </md-button>

                            <md-button class="md-icon-button c2 {{item.color==='c2'?'check':''}}"
                                       ng-click="item.color='c2'">
                              <md-icon></md-icon>
                            </md-button>

                            <md-button class="md-icon-button c3 {{item.color==='c3'?'check':''}}"
                                       ng-click="item.color='c3'">
                              <md-icon></md-icon>
                            </md-button>

                            <md-button class="md-icon-button c4 {{item.color==='c4'?'check':''}}"
                                       ng-click="item.color='c4'">
                              <md-icon></md-icon>
                            </md-button>

                            <md-button class="md-icon-button c5 {{item.color==='c5'?'check':''}}"
                                       ng-click="item.color='c5'">
                              <md-icon></md-icon>
                            </md-button>

                            <md-button class="md-icon-button c6 {{item.color==='c6'?'check':''}}"
                                       ng-click="item.color='c6'">
                              <md-icon></md-icon>
                            </md-button>

                            <md-button class="md-icon-button c7 {{item.color==='c7'?'check':''}}"
                                       ng-click="item.color='c7'">
                              <md-icon></md-icon>
                            </md-button>

                            <md-button class="md-icon-button c8 {{item.color==='c8'?'check':''}}"
                                       ng-click="item.color='c8'">
                              <md-icon></md-icon>
                            </md-button>

                            <md-button class="md-icon-button c9 {{item.color==='c9'?'check':''}}"
                                       ng-click="item.color='c9'">
                              <md-icon></md-icon>
                            </md-button>

                            <md-button class="md-icon-button c10 {{item.color==='c10'?'check':''}}"
                                       ng-click="item.color='c10'">
                              <md-icon></md-icon>
                            </md-button>

                            <md-button class="md-icon-button c11 {{item.color==='c11'?'check':''}}"
                                       ng-click="item.color='c11'">
                              <md-icon></md-icon>
                            </md-button>

                          </div>
                        </div>
                      </div>

                      <div layout="row" layout-align="center center">
                        |
                        <md-button class="md-icon-button"
                                   ng-click="vm.updateEventSignupArray.length===1?'':vm.updateEventSignupArray.splice($index,1)">
                          <md-icon class="icon-close"></md-icon>
                        </md-button>
                      </div><!--row-->
                    </div><!--row-->
                    <button ng-click="vm.updateEventSignupArray.push({job:'',needed:'',start:'',end:'',color:''})">+Add
                      New
                      Item
                    </button>
                  </div><!--column-->
                  <!--Hidden repeat for signup-->
                  <!-- <label><input type="checkbox"> Repeat With Event</label>
                   <a href="#newSignupRepeatArea" rel="modal:open">Independent Repeat</a>
                 <div id="newSignupRepeatArea" style="display:none;">
                   <div layout="row">
                     <div>
                       Repeat
                     </div>
                     <div flex>

                       <label><input type="checkbox"> Repeat
                         <select>
                           <option value="Weekly">Weekly</option>
                           <option value="Monthly">Monthly</option>
                         </select>
                       </label>
                     </div>
                   </div>&lt;!&ndash;row&ndash;&gt;
                   <div label="row">
                     <label>Repeat on:</label>
                     <div>
                       <label><input type="checkbox"> S</label>
                       <label><input type="checkbox"> M</label>
                       <label><input type="checkbox"> T</label>
                       <label><input type="checkbox"> W</label>
                       <label><input type="checkbox"> T</label>
                       <label><input type="checkbox"> F</label>
                       <label><input type="checkbox"> Weekday only</label>
                     </div>
                   </div>&lt;!&ndash;row&ndash;&gt;
                   <div layout="row">
                     <label>Repeat every:</label>
                     <div>
                       <select>
                         <option value="1">1</option>
                         <option value="2">2</option>
                         <option value="3">3</option>
                       </select> Weekday only
                     </div>
                   </div>&lt;!&ndash;row&ndash;&gt;
                   <div layout="row">
                     <label>Starts on:</label>
                     <div>

                       <md-datepicker class="custom-datepicker" ng-model="vm.cardData.eventDate"
                                      md-placeholder="4/6/2017"
                                      md-hide-icons="triangle" md-open-on-focus></md-datepicker>
                     </div>
                   </div>&lt;!&ndash;row&ndash;&gt;
                   <div layout="row">
                     <label>Ends:</label>
                     <div>
                       <div><label><input type="radio" name="ends"> Never</label></div>
                       <div><label> <input type="radio" name="ends"> On </label>
                         <md-datepicker class="custom-datepicker" ng-model="vm.cardData.eventDate"
                                        md-placeholder="4/6/2017"
                                        md-hide-icons="triangle" md-open-on-focus></md-datepicker>
                       </div>
                       <div>
                         <label><input type="radio" name="ends"> After
                           <input type="number" placeholder="0"> events</label>
                       </div>
                     </div>

                   </div>&lt;!&ndash;row&ndash;&gt;
                   <div layout="row">
                     <div>&nbsp;</div>
                     <div flex>
                       <button class="md-button md-btn" type="button">
                         <md-icon md-font-icon="icon-keyboard-return"></md-icon>
                       </button>
                       <button class="md-button md-btn btn-purple" type="button"><span>Discard</span></button>
                     </div>
                   </div>&lt;!&ndash;row&ndash;&gt;
                 </div>-->
                </div>
              </md-tab-body>
            </md-tab>
            <md-tab>
              <md-tab-label>
                <span>Event details</span>
              </md-tab-label>
              <md-tab-body>
                <div class="event-detail">
                  <md-input-container>
                    <label>Title</label>
                    <input ng-model="vm.eventEditData.title">
                  </md-input-container>
                  <div layout="row" layout-align="space-between start">
                    <label>
                      <span>Start Date</span>
                      <md-datepicker class="custom-datepicker" ng-model="vm.eventEditData.startDate"
                                     md-placeholder="4/6/2017"
                                     md-hide-icons="triangle" md-open-on-focus></md-datepicker>
                    </label>
                    <label>
                      <span>Start Time</span>
                      <mahdi-time-picker ng-model="vm.eventEditData.startTime"
                                         init-date="vm.eventEditData.startTime" ng-disabled="vm.eventEditData.allDay"></mahdi-time-picker>
                    </label>
                    <label>
                      <span>End Date</span>
                      <md-datepicker class="custom-datepicker" ng-model="vm.eventEditData.endDate"
                                     md-placeholder="4/6/2017"
                                     md-hide-icons="triangle" md-open-on-focus></md-datepicker>
                    </label>
                    <label>
                      <mahdi-time-picker ng-model="vm.eventEditData.endTime"
                                         init-date="vm.eventEditData.endTime" ng-disabled="vm.eventEditData.allDay"></mahdi-time-picker>
                    </label>
                  </div>
                  <div layout="row">
                    <label>
                      <input type="checkbox" ng-model="vm.eventEditData.allDay"> All Day
                    </label>
                    <label>
                      <input type="checkbox" ng-model="vm.eventEditData.isRepeated"> Repeat..
                    </label>
                    <a href="#updateRepeatSettings" rel="modal:open" ng-if="vm.eventEditData.isRepeated">Edit</a>
                    </span>
                  </div>
                  <div id="updateRepeatSettings" style="display:none;">
                    Repeat
                    <select ng-model="vm.eventEditData.repeat.repeatType"
                            ng-init="vm.eventEditData.repeat.repeatType?'':vm.eventEditData.repeat.repeatType='daily'">
                      <option value="daily">Daily</option>
                      <option value="weekly">weekly</option>
                      <option value="monthly">Monthly</option>
                      <option value="yearly">Yearly</option>
                    </select>
                    <div layout="row">
                      <label>Repeat Every</label>
                      <div>
                        <select ng-model="vm.eventEditData.repeat.repeatInterval"
                                ng-init="vm.eventEditData.repeat.repeatInterval?'':vm.eventEditData.repeat.repeatInterval='1'">
                          <option value="{{item}}" ng-repeat="item in vm.RepeatIntervalList()">{{item}}</option>
                        </select>
                      </div>
                    </div>
                    <div label="row" ng-if="vm.eventEditData.repeat.repeatType ==='weekly'">
                      <label>Repeat on:</label>
                      <div>
                        <label><input type="checkbox" ng-model="vm.eventEditData.repeat.weeklyRepeatDay.saturday"
                                      ng-click="vm.checkIfWeekDayUpdate()"> S</label>
                        <label><input type="checkbox" ng-model="vm.eventEditData.repeat.weeklyRepeatDay.sunday"
                                      ng-click="vm.checkIfWeekDayUpdate()"> S</label>
                        <label><input type="checkbox" ng-model="vm.eventEditData.repeat.weeklyRepeatDay.monday"
                                      ng-click="vm.checkIfWeekDayUpdate()"> M</label>
                        <label><input type="checkbox" ng-model="vm.eventEditData.repeat.weeklyRepeatDay.tuesday"
                                      ng-click="vm.checkIfWeekDayUpdate()"> T</label>
                        <label><input type="checkbox" ng-model="vm.eventEditData.repeat.weeklyRepeatDay.wednesday"
                                      ng-click="vm.checkIfWeekDayUpdate()"> W</label>
                        <label><input type="checkbox" ng-model="vm.eventEditData.repeat.weeklyRepeatDay.thursday"
                                      ng-click="vm.checkIfWeekDayUpdate()"> T</label>
                        <label><input type="checkbox" ng-model="vm.eventEditData.repeat.weeklyRepeatDay.friday"
                                      ng-click="vm.checkIfWeekDayUpdate()"> F</label>
                        <label><input type="checkbox" ng-model="vm.eventEditData.repeat.weeklyRepeatDay.weekOnly"
                                      ng-click="vm.selectWeekDayUpdate()"> Weekday only</label>
                      </div>
                    </div><!--row-->
                    <!--<div layout="row">
                      <label>Repeat every:</label>
                      <div>
                        <select>
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                        </select> Weekday only
                      </div>
                    </div>&lt;!&ndash;row&ndash;&gt;-->
                    <div layout="row">
                      <label>Starts on:</label>
                      <div>{{vm.eventEditData.start |date:'MM/dd/yyyy'}}
                      </div>
                    </div><!--row-->
                    <div layout="row">
                      <label>Ends:</label>
                      <div>
                        <div><input type="radio" value="never" ng-model="vm.eventEditData.repeat.endsAt"> Never</div>
                        <div><input type="radio" ng-model="vm.eventEditData.repeat.endsAt" value="occuranceLimit"> After
                          <input type="number" ng-model="vm.eventEditData.repeat.occuranceLimit"
                                 ng-init="vm.eventEditData.repeat.occuranceLimit?'':vm.eventEditData.repeat.occuranceLimit=5"
                                 min="1" max="30"> Occurance
                        </div>
                        <div>On <input type="radio" ng-model="vm.eventEditData.repeat.endsAt" value="on">
                          <md-datepicker class="custom-datepicker" ng-model="vm.eventEditData.endDate"
                                         md-placeholder="4/6/2017"
                                         md-hide-icons="triangle" md-open-on-focus></md-datepicker>
                        </div>
                        <!--<div>
                          <label><input type="radio" name="ends"> After
                            <input type="number" placeholder="0"> events</label>
                        </div>-->
                      </div>

                    </div><!--row-->
                    <!--<div layout="row">
                      <div>&nbsp;</div>
                      <div flex>
                        <button class="md-button md-btn" type="button">
                          <md-icon md-font-icon="icon-keyboard-return"></md-icon>
                        </button>
                        <button class="md-button md-btn btn-purple" type="button"><span>Discard</span></button>
                      </div>
                    </div>&lt;!&ndash;row&ndash;&gt;-->
                  </div>
                  <hr>
                  <div label="row">
                    <label>
                      <span>Where</span>
                      <input type="text" placeholder="Enter a location" ng-model="vm.eventEditData.place">
                    </label>
                  </div>
                  <div label="row">
                    <label>
                      <span>Description</span>
                      <textarea placeholder="Enter a location" ng-model="vm.eventEditData.description"></textarea>
                    </label>
                  </div>
                  <div label="row">
                    <label>
                      <span>Event color</span>
                    </label>
                    <div class="color-select">
                      <md-button class="md-icon-button def" ng-click="vm.eventEditData.color.eventColor=''">
                        <md-icon md-font-icon="icon-close-circle-outline"></md-icon>
                      </md-button>
                      |
                      <md-button class="md-icon-button c1 {{vm.eventEditData.color.eventColor==='c1'?'check':''}}"
                                 ng-click="vm.eventEditData.color.eventColor='c1'">
                        <md-icon></md-icon>
                      </md-button>

                      <md-button class="md-icon-button c2 {{vm.eventEditData.color.eventColor==='c2'?'check':''}}"
                                 ng-click="vm.eventEditData.color.eventColor='c2'">
                        <md-icon></md-icon>
                      </md-button>

                      <md-button class="md-icon-button c3 {{vm.eventEditData.color.eventColor==='c3'?'check':''}}"
                                 ng-click="vm.eventEditData.color.eventColor='c3'">
                        <md-icon></md-icon>
                      </md-button>

                      <md-button class="md-icon-button c4 {{vm.eventEditData.color.eventColor==='c4'?'check':''}}"
                                 ng-click="vm.eventEditData.color.eventColor='c4'">
                        <md-icon></md-icon>
                      </md-button>

                      <md-button class="md-icon-button c5 {{vm.eventEditData.color.eventColor==='c5'?'check':''}}"
                                 ng-click="vm.eventEditData.color.eventColor='c5'">
                        <md-icon></md-icon>
                      </md-button>

                      <md-button class="md-icon-button c6 {{vm.eventEditData.color.eventColor==='c6'?'check':''}}"
                                 ng-click="vm.eventEditData.color.eventColor='c6'">
                        <md-icon></md-icon>
                      </md-button>

                      <md-button class="md-icon-button c7 {{vm.eventEditData.color.eventColor==='c7'?'check':''}}"
                                 ng-click="vm.eventEditData.color.eventColor='c7'">
                        <md-icon></md-icon>
                      </md-button>

                      <md-button class="md-icon-button c8 {{vm.eventEditData.color.eventColor==='c8'?'check':''}}"
                                 ng-click="vm.eventEditData.color.eventColor='c8'">
                        <md-icon></md-icon>
                      </md-button>

                      <md-button class="md-icon-button c9 {{vm.eventEditData.color.eventColor==='c9'?'check':''}}"
                                 ng-click="vm.eventEditData.color.eventColor='c9'">
                        <md-icon></md-icon>
                      </md-button>

                      <md-button class="md-icon-button c10 {{vm.eventEditData.color.eventColor==='c10'?'check':''}}"
                                 ng-click="vm.eventEditData.color.eventColor='c10'">
                        <md-icon></md-icon>
                      </md-button>

                      <md-button class="md-icon-button c11 {{vm.eventEditData.color.eventColor==='c11'?'check':''}}"
                                 ng-click="vm.eventEditData.color.eventColor='c11'">
                        <md-icon></md-icon>
                      </md-button>

                    </div>

                  </div>
                  <div label="row">
                    <label>
                      <span>Text color</span>
                    </label>
                    <div class="color-select">
                      <md-button class="md-icon-button def" ng-click="vm.eventEditData.color.textColor=''">
                        <md-icon md-font-icon="icon-close-circle-outline"></md-icon>
                      </md-button>
                      |
                      <md-button class="md-icon-button c1 {{vm.eventEditData.color.textColor==='c1'?'check':''}}"
                                 ng-click="vm.eventEditData.color.textColor='c1'">
                        <md-icon></md-icon>
                      </md-button>

                      <md-button class="md-icon-button c2 {{vm.eventEditData.color.textColor==='c2'?'check':''}}"
                                 ng-click="vm.eventEditData.color.textColor='c2'">
                        <md-icon></md-icon>
                      </md-button>

                      <md-button class="md-icon-button c3 {{vm.eventEditData.color.textColor==='c3'?'check':''}}"
                                 ng-click="vm.eventEditData.color.textColor='c3'">
                        <md-icon></md-icon>
                      </md-button>

                      <md-button class="md-icon-button c4 {{vm.eventEditData.color.textColor==='c4'?'check':''}}"
                                 ng-click="vm.eventEditData.color.textColor='c4'">
                        <md-icon></md-icon>
                      </md-button>

                      <md-button class="md-icon-button c5 {{vm.eventEditData.color.textColor==='c5'?'check':''}}"
                                 ng-click="vm.eventEditData.color.textColor='c5'">
                        <md-icon></md-icon>
                      </md-button>

                      <md-button class="md-icon-button c6 {{vm.eventEditData.color.textColor==='c6'?'check':''}}"
                                 ng-click="vm.eventEditData.color.textColor='c6'">
                        <md-icon></md-icon>
                      </md-button>

                      <md-button class="md-icon-button c7 {{vm.eventEditData.color.textColor==='c7'?'check':''}}"
                                 ng-click="vm.eventEditData.color.textColor='c7'">
                        <md-icon></md-icon>
                      </md-button>

                      <md-button class="md-icon-button c8 {{vm.eventEditData.color.textColor==='c8'?'check':''}}"
                                 ng-click="vm.eventEditData.color.textColor='c8'">
                        <md-icon></md-icon>
                      </md-button>

                      <md-button class="md-icon-button c9 {{vm.eventEditData.color.textColor==='c9'?'check':''}}"
                                 ng-click="vm.eventEditData.color.textColor='c9'">
                        <md-icon></md-icon>
                      </md-button>

                      <md-button class="md-icon-button c10 {{vm.eventEditData.color.textColor==='c10'?'check':''}}"
                                 ng-click="vm.eventEditData.color.textColor='c10'">
                        <md-icon></md-icon>
                      </md-button>

                      <md-button class="md-icon-button c11 {{vm.eventEditData.color.textColor==='c11'?'check':''}}"
                                 ng-click="vm.eventEditData.color.textColor='c11'">
                        <md-icon></md-icon>
                      </md-button>

                    </div>
                  </div>
                  <div label="row">
                    <label>
                      <span>Reminder</span>
                      <div layout="row" ng-repeat="item in vm.eventEditData.reminder track by $index">
                        <select ng-model="item.type">
                          <option value="notification">Notification</option>
                          <option value="email">By Email</option>
                        </select>
                        <input type="number" value="30" min="0" max="30" ng-model="item.duration"
                               ng-init="item.duration=30">
                        <select ng-model="item.format">
                          <option value="minutes">Minutes</option>
                          <option value="hours">Hours</option>
                        </select>
                        <md-button
                          ng-click="vm.eventEditData.reminder.length===1?'':vm.eventEditData.reminder.splice($index, 1)">
                          <md-icon md-font-icon="icon-close"></md-icon>
                        </md-button>
                      </div>
                    </label>
                  </div>

                  <div label="row">
                    <label>
                      <span>&nbsp;</span>
                      <md-button ng-click="vm.eventEditData.reminder.push({type:'',duration:'',format:''})"> Add another
                        notification
                      </md-button>
                    </label>
                  </div>
                </div>
              </md-tab-body>
            </md-tab>
          </md-tabs>

        </div>
        <div class="cal-dialog-side">
          <div class="fixed-side-head"></div>
          <label>
            People
            <md-autocomplete
              md-selected-item="vm.selectedItem"
              md-search-text-change="vm.searchTextChange(vm.searchText)"
              md-search-text="vm.searchText"
              md-selected-item-change="vm.selectedItemChangeUpdate(item)"
              md-items="item in vm.querySearch(vm.searchText)"
              md-item-text="item.display"
              md-min-length="0"
              placeholder="Search people">
              <md-item-template>
                <span md-highlight-text="vm.searchText" md-highlight-flags="^i">{{item.display}}</span>
              </md-item-template>
              <md-not-found>
                No states matching "{{vm.searchText}}" were found.
              </md-not-found>
            </md-autocomplete>
          </label>

          <div class="cal-list-user">
            <h3>
              <md-icon md-font-icon="icon-account"></md-icon>
              Attendees
            </h3>

            <div layout="row" class="list-item"
                 ng-repeat="item in vm.eventEditData.attendees[0].attendees track by $index">
              <md-button class="close-btn" ng-show="item.role !=='organizer' && item.id!==vm.user.id">
                <md-tooltip>Close</md-tooltip>
                <md-icon md-font-icon="icon-close"
                         ng-click="vm.eventEditData.attendees[0].attendees.splice($index,1)"></md-icon>
              </md-button>
              <div class="avatar-wrapper avail-status offline">
                <img md-menu-align-target="" class="avatar" ng-src="{{item.photo_url}}" err-src="images/avatars/blank.jpg">
                <md-button class="md-icon-button" aria-label="More">
                  <md-tooltip>Response:
                    {{item.acceptance==='yes'?'Accepted':''}}{{item.acceptance==='no'?'Declined':''}}{{item.acceptance==='notsure'?'Not
                    Sure':''}}{{item.acceptance==='pending'?'Pending Response':''}}
                  </md-tooltip>
                  <md-icon ng-class="" class="icon status s16 md-default-theme material-icons icon-clock"
                           style="color: darkslategray;" ng-if="item.acceptance==='pending'">

                  </md-icon>
                  <md-icon ng-class=""
                           class="icon status s16 md-default-theme material-icons icon-checkbox-marked-circle"
                           style="color: rgb(76, 175, 80);" ng-if="item.acceptance==='yes'">

                  </md-icon>
                  <md-icon ng-class="" class="icon status s16 md-default-theme material-icons icon-cancel"
                           style="color: red;" ng-if="item.acceptance==='no'">

                  </md-icon>
                  <md-icon ng-class="" class="icon status s16 md-default-theme material-icons icon-help"
                           style="color: #ff6d00;" ng-if="item.acceptance==='notsure'">

                  </md-icon>
                </md-button>
              </div>
              <div class="cal-user-content">
                <p>{{item.name}}</p>
                <span>{{item.email}}</span>
                <div layout="row" ng-if="item.role=='organizer'">
                  <span>{{item.role}}</span>
                </div>
                <div layout="row" ng-if="item.role!=='organizer'">
                  <md-select ng-model="item.role" ng-if="item.id!==vm.user.id">
                    <md-option value="coordinator">coordinator</md-option>
                    <md-option value="volunteer">volunteer</md-option>
                  </md-select>
                  <span ng-if="item.id===vm.user.id">Role : {{item.role}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </md-dialog-content>
  </form>
</md-dialog>
