
<md-dialog class="event-form-dialog dialog-big small-font" aria-label="Update Event">
  <form name="eventForm" class="md-inline-form" novalidate>
    <md-dialog-heading layout="row" class="layout-row">
      <div flex><h2>Update Event</h2></div>
      <div dialog-btn class="w-300" layout="row" layout-align="space-between center">
        <button class="md-button md-ink-ripple md-default-theme" type="button" ng-click="vm.discard()">
          <md-icon md-font-icon="icon-keyboard-return"
                   class="ng-scope md-font material-icons icon-keyboard-return md-default-theme"
                   aria-hidden="true"></md-icon>
        </button>
        <button class="md-button md-ink-ripple md-default-theme" type="button" ng-click="vm.discard()"><span
          class="ng-scope">Discard</span>
        </button>
        <button class="md-button md-ink-ripple md-default-theme" type="button" ng-click="vm.updateNewEvent()"><span
          class="ng-scope">Save</span>
        </button>
      </div>
    </md-dialog-heading>

    <md-dialog-content ms-scroll>
      <div layout="row">
        <div flex>
          <md-tabs md-dynamic-height md-no-ink-bar class="label-tab config-tabs compressed">
            <md-tab>
              <md-tab-label>
                <span>Event details</span>
              </md-tab-label>
              <md-tab-body>
                <div class="event-detail">
                  <md-input-container class="md-block sm-input">
                    <label>Title</label>
                    <input ng-model="vm.eventEditData.title">
                  </md-input-container>
                  <div layout="row" layout-align="space-between start">
                    <label class="w-120">
                      <span>Start Date</span>
                      <md-datepicker class="dp-noborder" ng-model="vm.eventEditData.startDate" md-hide-icons="all" md-open-on-focus></md-datepicker>
                    </label>
                    <label class="w-120">
                      <span>Start Time</span>
                      <mdp-time-picker class="calendar_style" mdp-auto-switch="true" ng-model="vm.eventEditData.startTime" ng-disabled="vm.eventEditData.allDay"></mdp-time-picker>
                    </label>
                    <label class="pt-10">to</label>
                    <label class="w-120">
                      <span>End Date</span>
                      <md-datepicker class="dp-noborder" ng-model="vm.eventEditData.endDate" md-hide-icons="all" md-open-on-focus></md-datepicker>
                    </label>
                    <label class="w-120">
                      <span>End Time</span>
                      <mdp-time-picker class="calendar_style" mdp-auto-switch="true" ng-model="vm.eventEditData.endTime" ng-disabled="vm.eventEditData.allDay"></mdp-time-picker>
                    </label>
                  </div>

                  <div layout="row">
                    <label>
                      <input type="checkbox" ng-model="vm.eventEditData.allDay"> All Day
                    </label>
                    <label>
                      <input type="checkbox" ng-model="vm.eventEditData.isRepeated"> Repeat
                    </label>
                    <a href="#updateRepeatSettings" rel="modal:open" ng-if="vm.eventEditData.isRepeated">Edit</a>
                    </span>
                  </div>
                  <div id="updateRepeatSettings" style="display:none;">
                    Repeat
                    <select ng-model="vm.eventEditData.repeat.repeatType" ng-init="vm.eventEditData.repeat.repeatType?'':vm.eventEditData.repeat.repeatType='daily'">
                      <option value="daily">Daily</option>
                      <option value="weekly">weekly</option>
                      <option value="monthly">Monthly</option>
                      <option value="yearly">Yearly</option>
                    </select>
                    <div layout="row">
                      <label>Repeat Every</label>
                      <div>
                        <select ng-model="vm.eventEditData.repeat.repeatInterval" ng-init="vm.eventEditData.repeat.repeatInterval?'':vm.eventEditData.repeat.repeatInterval='1'">
                          <option value="{{item}}" ng-repeat="item in vm.RepeatIntervalList()">{{item}}</option>
                        </select>
                      </div>
                    </div>
                    <div label="row" ng-if="vm.eventEditData.repeat.repeatType ==='weekly'">
                      <label>Repeat on:</label>
                      <div>
                        <label><input type="checkbox" ng-model="vm.eventEditData.repeat.weeklyRepeatDay.saturday" ng-click="vm.checkIfWeekDayUpdate()"> S</label>
                        <label><input type="checkbox" ng-model="vm.eventEditData.repeat.weeklyRepeatDay.sunday" ng-click="vm.checkIfWeekDayUpdate()"> S</label>
                        <label><input type="checkbox" ng-model="vm.eventEditData.repeat.weeklyRepeatDay.monday" ng-click="vm.checkIfWeekDayUpdate()"> M</label>
                        <label><input type="checkbox" ng-model="vm.eventEditData.repeat.weeklyRepeatDay.tuesday" ng-click="vm.checkIfWeekDayUpdate()"> T</label>
                        <label><input type="checkbox" ng-model="vm.eventEditData.repeat.weeklyRepeatDay.wednesday" ng-click="vm.checkIfWeekDayUpdate()"> W</label>
                        <label><input type="checkbox" ng-model="vm.eventEditData.repeat.weeklyRepeatDay.thursday" ng-click="vm.checkIfWeekDayUpdate()"> T</label>
                        <label><input type="checkbox" ng-model="vm.eventEditData.repeat.weeklyRepeatDay.friday" ng-click="vm.checkIfWeekDayUpdate()"> F</label>
                        <label><input type="checkbox" ng-model="vm.eventEditData.repeat.weeklyRepeatDay.weekOnly" ng-click="vm.selectWeekDayUpdate()"> Weekday only</label>
                      </div>
                    </div><!--row-->
                    <!--<div layout="row">
                      <label>Repeat every:</label>
                      <div>
                        <select>
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                        </select> Weekday only
                      </div>
                    </div>&lt;!&ndash;row&ndash;&gt;-->
                    <div layout="row">
                      <label>Starts on:</label>
                      <div>{{vm.eventEditData.startDate | date:'MM/dd/yyyy'}}
                      </div>
                    </div><!--row-->
                    <div layout="row">
                      <label>Ends:</label>
                      <div>
                        <div><input type="radio"  value="never" ng-model="vm.eventEditData.repeat.endsAt" > Never</div>
                        <div><input type="radio"  ng-model="vm.eventEditData.repeat.endsAt" value="occuranceLimit"> After <input type="number" ng-model="vm.eventEditData.repeat.occuranceLimit" ng-init="vm.eventEditData.repeat.occuranceLimit?'':vm.eventEditData.repeat.occuranceLimit=5" min="1" max="30"> Occurance </div>
                        <div>On <input type="radio"  ng-model="vm.eventEditData.repeat.endsAt" value="on">
                          <md-datepicker class="custom-datepicker" ng-model="vm.eventEditData.repeat.endsAtDate"
                                         md-placeholder="4/6/2017"
                                         md-hide-icons="triangle" md-open-on-focus></md-datepicker>
                        </div>

                      </div>

                    </div><!--row-->

                  </div>

                  <!-- New here -->
                  <hr>

                  <div layout="row" layout-align="start center">
                    <span class="w-120">Where</span>
                    <input flex type="text" placeholder="Enter a location" ng-model="vm.eventEditData.place">
                  </div>
                  <div layout="row" layout-align="start start">
                    <span class="w-120">Description</span>
                    <textarea class="noresize height-95" flex placeholder="Enter Description"
                              ng-model="vm.eventEditData.description"></textarea>
                  </div>
                  <div layout="row">
                    <span class="w-120">Text color</span>
                    <div class="color-select" flex>
                      <md-button class="md-icon-button def" ng-click="vm.newEventTextColor=''">
                        <md-icon md-font-icon="icon-close-circle-outline"></md-icon>
                      </md-button>
                      |
                      <md-button ng-repeat="clr in vm.colorItemArr"
                                 class="md-icon-button {{clr}} {{vm.eventEditData.color.textColor===clr?'check':''}}"
                                 ng-click="vm.newEventTextColor=clr">
                        <md-icon></md-icon>
                      </md-button>

                    </div>
                  </div>

                  <div layout="row">
                    <span class="w-120">Event color</span>
                    <div class="color-select" flex>
                      <md-button class="md-icon-button def" ng-click="vm.newEventColor=''">
                        <md-icon md-font-icon="icon-close-circle-outline"></md-icon>
                      </md-button>
                      |
                      <md-button ng-repeat="clr in vm.colorItemArr"
                                 class="md-icon-button {{clr}} {{vm.eventEditData.color.eventColor===clr?'check':''}}"
                                 ng-click="vm.newEventColor=clr">
                        <md-icon></md-icon>
                      </md-button>
                    </div>

                  </div>
                  <!-- New here -->


                  <div label="row">
                    <label>
                      <span>Reminders</span>
                      <div layout="row" ng-repeat="item in vm.eventEditData.reminder track by $index">
                        <select ng-model="item.type">
                          <option value="notification">Notification</option>
                          <option value="email">By Email</option>
                        </select>
                        <input type="number" value="30" min="0" max="30" ng-model="item.duration"
                               ng-init="item.duration=30">
                        <select ng-model="item.format">
                          <option value="minutes">Minutes</option>
                          <option value="hours">Hours</option>
                        </select>
                        <md-button ng-click="vm.eventEditData.reminder.length===1?'':vm.eventEditData.reminder.splice($index, 1)">
                          <md-icon md-font-icon="icon-close"></md-icon>
                        </md-button>
                      </div>
                    </label>
                  </div>

                  <div label="row">
                    <label>
                      <span>&nbsp;</span>
                      <md-button ng-click="vm.eventEditData.reminder.push({type:'',duration:'',format:''})"> Add another
                        notification
                      </md-button>
                    </label>
                  </div>

                  <div label="row">
                    <label>
                      <span>Show me as</span>
                      <div layout="row">
                        <label><input type="radio" ng-model="vm.eventEditData.showMeAs" value="available"> Available</label>
                        <label><input type="radio" ng-model="vm.eventEditData.showMeAs" value="busy"> Busy</label>
                        <label><input type="radio" ng-model="vm.eventEditData.showMeAs" value="tentative"> Tentative</label>
                      </div>
                    </label>
                  </div>

                </div>
              </md-tab-body>
            </md-tab>
            <md-tab>
              <md-tab-label>
                <span>Include Signup</span>
              </md-tab-label>
              <md-tab-body>
                <input type="checkbox" ng-model="vm.eventEditData.isSignupChecked"/> Include Signup
                <div ng-show="vm.eventEditData.isSignupChecked">
                  <!--<div layout="column" class="include-items">-->
                    <!--<div layout="row" layout-align="space-between center"-->
                         <!--ng-repeat="item in vm.updateEventSignupArray track by $index">-->
                      <!--<div>-->
                        <!--<select ng-model="item.job">-->
                          <!--<option ng-repeat="item in vm.updateEventSignupJobs track by $index" value="{{item}}">{{item}}-->
                          <!--</option>-->
                        <!--</select>-->
                      <!--</div>-->
                      <!--<div class="timepeaker" layout="row" flex>-->
                        <!--<md-icon md-font-icon="icon-plus"-->
                                 <!--ng-click="vm.addSignJobArea[$index]=!vm.addSignJobArea[$index]"></md-icon>-->
                        <!--<div ng-show="vm.addSignJobArea[$index]" class="timepop" layout="row"-->
                             <!--layout-align="space-around stretch">-->
                          <!--<input ng-model="vm.newSignupJobValue"/>-->
                          <!--<button-->
                            <!--ng-click="vm.updateEventSignupJobs.push(vm.newSignupJobValue);item.job=vm.newSignupJobValue">-->
                            <!--Add-->
                          <!--</button>-->
                        <!--</div>-->
                      <!--</div>-->
                      <!--<div>-->
                        <!--<input type="number" value="30" ng-model="item.needed">-->
                      <!--</div>-->
                      <!--<mdp-time-picker class="calendar_style" mdp-auto-switch="true" ng-model="item.start"></mdp-time-picker>-->
                      <!--<label>to</label>-->
                      <!--<mdp-time-picker class="calendar_style" mdp-auto-switch="true" ng-model="item.end"></mdp-time-picker>-->

                      <!--<div class="timepeaker" layout="row" flex>-->
                        <!--<md-icon md-font-icon="icon-play" style="background-color:{{vm.jobColorSelector(item)}}" ng-init="!item.color?item.color='c1':''"-->
                                 <!--ng-click="vm.showSignupJobColorSelector[$index]=!vm.showSignupJobColorSelector[$index]"></md-icon>-->
                        <!--<div ng-show="vm.showSignupJobColorSelector[$index]" class="timepop" layout="row"-->
                             <!--layout-align="space-around stretch">-->
                          <!--<div class="color-select signupJobColor">-->

                            <!--<md-button ng-repeat="clr in vm.colorItemArr"-->
                                       <!--class="md-icon-button {{clr}} {{item.color===clr?'check':''}}"-->
                                       <!--ng-click="item.color=clr">-->
                              <!--<md-icon></md-icon>-->
                            <!--</md-button>-->

                          <!--</div>-->
                        <!--</div>-->
                      <!--</div>-->

                      <!--<div layout="row" layout-align="center center">-->
                        <!--|-->
                        <!--<md-button class="md-icon-button"-->
                                   <!--ng-click="vm.updateEventSignupArray.length===1?'':vm.updateEventSignupArray.splice($index,1)">-->
                          <!--<md-icon class="icon-close"></md-icon>-->
                        <!--</md-button>-->
                      <!--</div>&lt;!&ndash;row&ndash;&gt;-->
                    <!--</div>&lt;!&ndash;row&ndash;&gt;-->
                    <!--<button ng-click="vm.updateEventSignupArray.push({job:'',needed:'',start:'',end:'',color:''})">+Add New-->
                      <!--Item-->
                    <!--</button>-->
                  <!--</div>&lt;!&ndash;column&ndash;&gt;-->

                  <div layout="column" class="include-items">
                    <div layout="row" layout-align="start" class="incl-row-item">
                      <div class="w-140">Job / Role / Item</div>
                      <div class="w-70">Needed</div>
                      <div class="w-105">Start</div>
                      <div flex="5"></div>
                      <div class="w-105">End</div>
                    </div><!--row-->
                  </div>

                  <div layout="column" class="include-items">
                    <div layout="row" layout-align="space-between center"
                         ng-repeat="item in vm.updateEventSignupArray track by $index" class="incl-row-item">

                      <div layout="row" class="w-140">
                        <select ng-model="item.job" flex>
                          <option ng-repeat="item in vm.updateEventSignupJobs track by $index" value="{{item}}">{{item}}
                          </option>
                        </select>
                        <div class="po-r">
                          <md-icon md-font-icon="icon-plus"
                                   ng-click="vm.addSignJobArea[$index]=!vm.addSignJobArea[$index]"></md-icon>
                          <div ng-show="vm.addSignJobArea[$index]" class="timepop sub-add w-130" layout="row"
                               layout-align="space-around stretch">
                            <input class="w-90" ng-model="vm.newSignupJobValue"/>
                            <button
                              ng-click="vm.updateEventSignupJobs.push(vm.newSignupJobValue);item.job=vm.newSignupJobValue;vm.addSignJobArea[$index]=false;">
                              Add
                            </button>
                          </div>
                        </div>
                      </div>
                      <div class="w-70">
                        <input type="number" class="w-70" value="30" ng-model="item.needed">
                      </div>

                      <mdp-time-picker class="calendar_style w-105" mdp-auto-switch="true"
                                       ng-model="item.start"></mdp-time-picker>
                      <label flex="5" align="center">to</label>

                      <mdp-time-picker class="calendar_style w-105" mdp-auto-switch="true"
                                       ng-model="item.end"></mdp-time-picker>

                      <div class="po-r" layout="row" flex layout-align="center center">
                        <md-button class="md-icon-button sm-button" style="background-color:{{vm.jobColorSelector(item)}}"
                                   ng-click="vm.showSignupJobColorSelector[$index]=!vm.showSignupJobColorSelector[$index]">
                          <md-icon md-font-icon="icon-menu-down"></md-icon>
                        </md-button>
                        <div ng-show="vm.showSignupJobColorSelector[$index]" class="timepop" layout="row"
                             layout-align="space-around stretch">
                          <div class="color-select signupJobColor">

                            <md-button ng-repeat="clr in vm.colorItemArr"
                                       class="md-icon-button {{clr}} {{item.color===clr?'check':''}}"
                                       ng-click="item.color=clr">
                              <md-icon></md-icon>
                            </md-button>

                          </div>
                        </div>
                        <span>|</span>
                        <md-button class="md-icon-button sm-button"
                                   ng-click="vm.newEventSignup.length===1?'':vm.newEventSignup.splice($index,1)">
                          <md-icon class="icon-close"></md-icon>
                        </md-button>
                      </div><!--row-->
                    </div><!--row-->

                    <div>
                      <md-button class="btn-add-more line-height-16 mt-10 h-20 ml-0"
                                 ng-click="vm.updateEventSignupArray.push({job:'',needed:'',start:'',end:'',color:''})">
                        + Add another Item
                      </md-button>
                    </div>
                  </div><!--column-->
                </div>

                <h3><strong>Notifications</strong></h3>
                <div layout="row" class="cus-switch" style="width:350px">
                  <div flex>
                    <div layout="row" layout-align="center center">
                      <div flex>
                        Notify me when edit occurs
                      </div>
                      <div>
                        <md-switch ng-model="vm.eventEditData.nAndP.newEventNotifyEdit" aria-label="Switch 1"></md-switch>
                      </div>
                    </div><!--row-->
                    <div layout="row" layout-align="center center">
                      <div flex>
                        Notify me when swap occurs
                      </div>
                      <div>
                        <md-switch ng-model="vm.eventEditData.nAndP.newEventNotifySwap" aria-label="Switch 1">

                        </md-switch>
                      </div>
                    </div><!--row-->
                  </div>
                </div>
                <md-divider></md-divider>
                <h3><strong>Permissions</strong></h3>
                <div layout="row" class="cus-switch" style="width:350px">
                  <div flex>
                    <div layout="row" layout-align="center center">
                      <div flex>
                        Allow Coordinators to edit
                      </div>
                      <div>
                        <md-switch ng-model="vm.eventEditData.nAndP.newEventPermissionCoEdit" aria-label="Switch 1">
                        </md-switch>
                      </div>
                    </div><!--row-->
                    <div style="width:350px" layout="row" layout-align="center center">
                      <div flex>
                        Allow Users to swap
                      </div>
                      <div>
                        <md-switch ng-model="vm.eventEditData.nAndP.newEventPermissionUserSwap" aria-label="Switch 1">
                        </md-switch>
                      </div>
                    </div><!--row-->
                    <div style="width:350px" layout="row" layout-align="center center">
                      <div flex>
                        Limit Signup
                      </div>
                      <div>
                        <md-switch ng-model="vm.eventEditData.nAndP.newEventPermissionLimitSignup" aria-label="Switch 1"></md-switch>
                      </div>
                    </div><!--row-->
                    <div style="width:350px" layout="row" layout-align="center center">
                      <div flex>
                        Required Information
                      </div>
                      <div>
                        <md-switch ng-model="vm.eventEditData.nAndP.newEventPermissionRequiredInfo" aria-label="Switch 1"></md-switch>
                      </div>
                    </div><!--row-->
                  </div>
                </div><!--row-->
              </md-tab-body>
            </md-tab>
            <md-tab>
              <md-tab-label>
                <span>Include Page</span>
              </md-tab-label>
              <md-tab-body>

              </md-tab-body>
            </md-tab>
          </md-tabs>

        </div>
        <div class="cal-dialog-side">
          <div class="fixed-side-head"></div>
          <label>
            People ({{vm.contacts.length}})
            <md-autocomplete
              md-input-id="searchPeople"
              md-selected-item="vm.selectedItem"
              md-search-text-change="vm.searchTextChange(vm.searchText)"
              md-search-text="vm.searchText"
              md-items="item in vm.querySearch(vm.searchText)"
              md-selected-item-change="vm.selectedItemChange(item)"
              md-item-text="item.display"
              md-min-length="0"
              placeholder="Search people">
              <md-item-template>
                <span md-highlight-text="vm.searchText" md-highlight-flags="^i">{{item.display}}</span>
              </md-item-template>
              <md-not-found>
                <span ng-if="vm.searchText" ng-click="vm.addNewContacts(vm.searchText);">Add "{{vm.searchText}}" as Contact</span>
              </md-not-found>
            </md-autocomplete>
          </label>

          <div class="cal-list-user">
            <h3>
              <md-icon md-font-icon="icon-account"></md-icon>
              Attendees ({{vm.newEventAttendee.length}})
            </h3>

            <div layout="row" class="list-item" ng-repeat="item in vm.eventEditData.attendees track by $index">
              <md-button class="close-btn md-icon-button" ng-show="item.role !=='organizer'">
                <md-tooltip>Close</md-tooltip>
                <md-icon md-font-icon="icon-close s20" ng-click="vm.eventEditData.attendees.splice($index,1)"></md-icon>
              </md-button>
              <div class="avatar-wrapper avail-status nodisturb">
                <img md-menu-align-target="" class="avatar" ng-src="{{item.photo_url}}" err-src="images/avatars/blank.jpg">
                <md-button class="md-icon-button" aria-label="More">
                  <md-tooltip>Response: {{item.acceptance==='yes'?'Accepted':''}}{{item.acceptance==='no'?'Declined':''}}{{item.acceptance==='notsure'?'Not Sure':''}}{{item.acceptance==='pending'?'Pending Response':''}}</md-tooltip>
                  <md-icon ng-class="" class="icon status s16 md-default-theme material-icons icon-clock"
                           style="color: darkslategray;" ng-if="item.acceptance==='pending'">

                  </md-icon><md-icon ng-class="" class="icon status s16 md-default-theme material-icons icon-checkbox-marked-circle"
                           style="color: rgb(76, 175, 80);" ng-if="item.acceptance==='yes'">

                  </md-icon><md-icon ng-class="" class="icon status s16 md-default-theme material-icons icon-cancel"
                           style="color: red;" ng-if="item.acceptance==='no'">

                  </md-icon><md-icon ng-class="" class="icon status s16 md-default-theme material-icons icon-help"
                           style="color: #ff6d00;" ng-if="item.acceptance==='notsure'">

                  </md-icon>
                </md-button>
              </div>
              <div class="cal-user-content">
                <p>{{item.name}}</p>
                <span>{{item.email}}</span>
                <div layout="row" ng-if="item.role=='organizer'">
                  <span>{{item.role}}</span>
                </div>
                <div layout="row" ng-if="item.role!=='organizer'">
                  <md-select ng-model="item.role">
                    <md-option value="coordinator">coordinator</md-option>
                    <md-option value="volunteer">volunteer</md-option>
                  </md-select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </md-dialog-content>
  </form>
</md-dialog>
